@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700');
.donation {
  font-family: "Dosis",Lato,sans-serif, Arial, sans-serif;
  line-height: 20px;
  .banner {
    img {
      width: 100%;
    }
  }


/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  line-height: inherit;
  margin-bottom:20px;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: normal;
}

h2 {
  color: #353535;
  font-size: 2em;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3,
h3 a {
  color: #454545;
}

p {
  color: #444444;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin-top:15px;
}
@media screen and(max-width: 767px)
{
  p {
    color: #444444;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
  }
}


/*---------------------------------------
   GENERAL               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a,
input, button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #fdb701;
  outline: none;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  margin: 0;
}

.section-title small {
  display: block;
}


.entry-form {
  background: #252020;
  border-radius: 100%;
  text-align: center;
  padding: 6em;
  width: 450px;
  height: 450px;
  background: url(https://buddy4study.s3.ap-southeast-1.amazonaws.com/static/images/img-donation.jpg) 58% 13px;
}

section {
  position: relative;
 
}

#team,
#testimonial,#program {
  background: #f9f9f9;
  padding:60px 0;
}
#courses{
  padding:60px 0;
}
#team, 
#testimonial {
  text-align: center;
}

#google-map iframe {
  border: 0;
  width: 100%;
  height: 390px;
}

#about, #transparency{
  border-bottom: 2px solid #f0bd00;
}




/*---------------------------------------
    FEATURE              
-----------------------------------------*/

.feature-thumb {
  border: 0px solid #f0f0f0;
  padding: 1em 1em;
  margin-top: 30px;
  line-height: 30px;
  padding: 10px 0 50px;
  border-right: 1px solid #f0bd00;
  margin: 0 0 60px 0;
  
}
@media screen and(max-width: 767px)
{
  .feature-thumb {   
    margin: 10px 20px;  
    border-right: 0px solid #f0bd00;    
  }
}
.bordernone-feature { 
  border-right: 0px solid #f0bd00 !important;  
}
.feature-thumb span {
  background: #3f51b5;
  border-radius: 50px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 5px;
}

.feature-thumb h3 {
  margin: 10px 0;
}


/*---------------------------------------
    ABOUT              
-----------------------------------------*/

#transparency figure {
  display: inline-block;
  vertical-align: top;
  // margin-left: 15px;
  width: 100%;
}

#transparency figure span {
  float: left;
  margin-left: -15px;
  padding: 15px 20px;
  position: relative;
  top: -22px;
}

#program .buddybox{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    background-color: #ffffff;
    min-height: 170px;
    font-size: 18px;
    line-height: 23px;
}
#transparency figure span i {
  background: #fdb701;
  border-radius: 50px;
  color: #ffffff;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#transparency figcaption{
  margin-bottom:30px;
  h3{
    font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 14%;
    ul{
      margin-left: 8%;
      li{
        list-style: disc;
        margin-left: 15px;
      }
    }
  }
}
.img-responsive{
      padding-top: 40px;
}

@media screen and (max-width: 767px) {
  #transparency figure span i {
 background: #fdb701;
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center; 
}
#transparency figure span {
    top: -11px;
}
#transparency figcaption{
  margin-bottom:30px;
  h3{
    font-size: 16px;   
    ul{
      margin-left: 8%;
      li{
        list-style: disc;
        margin-left: 30px;
      }
    }
  }
}
}
#transparency .about-info{
  padding-top:30px;
  width: 100%;
}




/*---------------------------------------
    COURSES             
-----------------------------------------*/

#courses .section-title {
  text-align: center;
}

#courses .owl-theme .owl-nav {
  margin-top: 30px;
}

#courses .owl-theme .owl-nav [class*=owl-] {
  border-radius: 2px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

.courses-thumb {
  // background: #f9f9f9;
  position: relative;
}

.courses-top {
  position: relative;
}

.courses-image {
  // background: linear-gradient(to right, #202020, #101010);
 
}
.img-width{
  width:100%;
}
.courses-date {
  background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 25px;
}

.courses-date span,
.courses-author span {
  font-size: 14px;
  font-weight: bold;
}

.courses-date span {
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}

.courses-detail {
  padding: 25px 0px 15px 0px;
}


.courses-detail h3 {
  margin: 0 0 2px 0;
}

.courses-info {
  border-top: 1px solid #f0f0f0;
  position: relative;
  clear: both;
  padding: 15px 25px;
}

.courses-author,
.courses-author span {
  display: inline-block;
  vertical-align: middle;
}

.courses-author img {
  display: inline-block !important;
  border-radius: 50px;
  width: 50px !important;
  height: 50px;
  margin-right: 10px;
}

.courses-price {
  float: right;
  margin-top: 10px;
}

.courses-price span {
  background: #fdb701;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  padding: 5px 10px;
}

.courses-price.free span {
  background: #3f51b5;
}



/*---------------------------------------
   FOOTER              
-----------------------------------------*/

footer {
  background: #252020;
  padding: 15px 0;
  p{
    color:#ffffff;
    font-size: 14px;
  }
}




/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/


@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  h1,h2,h3 {
    line-height: normal;
  }

  .custom-navbar {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav li a {
    line-height: normal;
  }

  .custom-navbar .nav li a {
    padding: 10px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #252525;
    font-weight: 600;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .custom-navbar .navbar-nav.navbar-right li {
    display: inline-block;
  }

  .footer-info {
    margin-right: 0;
  }

  .footer-info.newsletter-form {
    margin-bottom: 0;
  }

  .entry-form {
    display: block;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 580px) {
  h2 {
    font-size: 1.8em;
  }

  #testimonial .item {
    padding: 2em;
  }

  .contact-image {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  #home h3 {
    font-size: 14px;
  }

  .entry-form {
    border-radius: 0;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;
    width: inherit;
    height: inherit;
  }
}


.button{
  background-color: #f0bd00;
  color: #ffffff !important;
  margin: 0 auto;
  font-size: 20px;
  padding: 11px 20px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  margin-top:20px;
    a{
      color:#ffffff !important;
    }
}


.button-ben{
  background-color: #fff;
  color: #000 !important;
  border:1px solid #f0bd00;
  margin: 0 auto;
  font-size: 16px;
  padding: 11px 20px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
    a{
      color:#fff !important;
      background-color: #f0bd00;
    }
}
.slick-next,
.slick-prev {
  cursor: default;
  display: none !important;
}
.slick-prev:before {
  display: none;
}
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 100px;
}
.box{
  box-shadow: none !important;
  padding:30px 0;
  img{
    border-radius:50%;
    margin:0 auto;
  }
  .fontsize14{
    font-weight: bold;
    padding-top:20px;
  }
  p{
    margin-bottom: 15px;
  }
}
.padding60{
  padding:60px 0;
}
.slick-dots {
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 14px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: "•";
  text-align: center;
  font-size: 50px;
  opacity: 1;
  color: rgb(83, 83, 83);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fdb701;
}
.slick-slider {
  padding: 0;
  line-height: 8px;
}
.slick-arrow {
  display: none;
}
.donate{
  ul{
   
    li{
      padding-bottom:20px;
      padding-left: 42px;
    }
    li:before{    
      font-family: FontAwesome;
      content: '\f0a4';
      color:#f0bd00;
      font-size: 20px;
      font-weight: 400;
      margin-right:5px;
      position: absolute;
      margin-left: -29px;
    }
  }
}
.latest-update{
  margin-bottom:60px;
}
.staff {
  margin: 43px 0;
  margin-top: 50px;
  /* float: left; */
  padding: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 34px -24px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 34px -24px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 34px -24px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f0bd00;
  width: 100%; }
  @media (max-width: 767.98px) {
    .staff {
      margin-bottom: 30px; } }
      .staff .info h3 {
      font-size: 18px;
      margin-bottom: 16px;
    
    }
      .staff .info h3 a {
        color: #000; 
        line-height: initial;
        }
    .staff .info span.position {
      display: block;
      margin-bottom: 15px;
      font-size: 14px; 
      line-height:20px;
      }
  .staff .img {
    width: 110px;
    height: 105px;
    border: 4px solid #f0f0f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .staff .text p {
    margin-bottom: 0; }
    .staff .text p span {
      font-size: 25px;
      font-weight: 400;
      color: #455392; }
    .staff .text p a {
      text-decoration: underline; }

      .process{
        ul{
          li{
            display: inline;
            font-size: 18px;
            color: #f0bd00;
            font-weight: 600;
            margin-left: 17px;
          }
          li:after{    
            font-family: FontAwesome;
            content: '\f061';
            color: #f0bd00;
            font-size: 38px;
            position: relative;
            left: 10px;
            right: 27px;
            font-weight: 400;
            margin-right: 5px;
            top: 7px;
          }
          li:first-child{
            margin-left:0;
          }
          li:last-child:after{
            display: none;
          }
        }
      }

      
.donation-popup {
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.1);
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    right: 0;
    right: 12px;
    text-align: right;
    position: absolute;
    font-size: 45px;
    top: 13px;
}
.modal-header {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}
.close {
  margin-top: -8px;
  font-size: 38px;
}
}
.modal-title{
  font-size:30px;
}

.modal-dialog{
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  outline: 0;  
  width:50%;
  margin:0 auto;
  z-index: 9;
  padding:20px;
  top:20%;
}
@media screen and (max-width: 1023px) {
  .modal-dialog{
  width:90%;
  }
}
.modal-body {
  overflow: auto;
  text-align: left;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
.but-payment{
  color: #ffffff;
  background: #5DAF5B;
  position: absolute;
  margin-top: 20%;
  left: 5%;
  font-size: 25px;
  border-radius: 10px !important;
  .im-checkout{
    margin-bottom:0!important;
  a{
    color: #ffffff;
    background: #5DAF5B;
    padding: 20px !important;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px !important
  }
}
}
.float-button{
  background-color: #5DAF5B;
  color: #ffffff !important;
  margin: 0;
  border-radius: 0;
  position: fixed;
  top: 50%;
  right: -93px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 21px !important;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    a{
      color:#ffffff !important;
    }
}
.box-beni-video{
  padding:10px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 3px rgb(202, 183, 183);
  margin:0 auto;
  width: 50%;
  margin-bottom:30px;
}
@media screen and (max-width: 900px) {
  .but-payment{
    color: #ffffff;
    background: #5DAF5B;
    position: absolute;
    margin-top: 20%;
    left: 6%;
    font-size: 25px;
    border-radius: 10px;
    .im-checkout{
    a{
      color: #ffffff;
      background: #5DAF5B;
      padding: 8px !important;
      font-size: 14px;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
  .box-beni-video{
    width: 50%;
  }
  }
  .float-button{
    right: -85px;
    font-size: 16px;
    padding: 0 21px !important;
  }
  }
@media screen and (max-width: 530px) {
.but-payment{
  color: #ffffff;
  background: #5DAF5B;
  position: absolute;
  margin-top: 20%;
  left: 6%;
  font-size: 25px;
  .im-checkout{
  a{
    color: #ffffff;
    background: #5DAF5B;
    padding: 8px !important;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;   
  }
}
}
.float-button{
  right: -75px;
  font-size: 14px;
  padding: 0 21px !important;
}
.box-beni-video{
  width: 100%;
}
}
button{
      display: block;
      border:0;
      margin-top:15px;
}
.shareicon{
  display:inline-block;
  margin:20px 0;
  margin-right:15px;
}
.shareicon-web{
  display:block;
  margin:10px 0 0;
  // margin-right:15px;
}
.posabs{
  position: fixed;
  z-index: 999;
  top:30%;
}
.box-beni{
  padding:10px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 3px #ccc;
  margin-bottom:30px;
  min-height: 690px;
}

.ben-box{
padding:0;
}

.baneficiaries{
  background-color: #f2f2f2; 
  padding: 40px 0 40px !important;
 
h2 {
    font-size: 24px !important;
}

}
.paddinglr{
  padding:0 15px 20px;
}
.font-weightnone{
  font-weight: 400 !important;
}
.container-box{
  background: #fff;
  height: auto;
  overflow: auto;
  padding: 15px;
  padding-top: 30px;
}
.accordion{
    text-align: left !important;
    margin-bottom: 15px;
    background: #1f499b;
    height: 48px;
    padding-top: 15px;
    padding-left: 10px; 
    cursor: pointer;  
    h2{
      color:#ffffff !important;
    }
}
.margintop20{
  margin-top:20px;
}
/* Frequently Asked Question */
.templateFAQs {
  width: 100%;
  position: relative;
  float: left;
  padding: 60px 0;

  .content {
    width: 100%;
    display: block;
    text-align: center;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #000;
      line-height: 1.8;
      text-align: center;
      margin-bottom: 15px;

      a {
        color: #f0bd00;
        text-decoration: underline;
        margin: 0;
        word-break: break-all;

        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      width: 100%;

      li {
        float: left;
        width: 100%;
        border-radius: 6px;
        padding: 0 0 0 60px;
        margin-bottom: 30px;
        position: relative;
        display: table;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        @media only screen and (max-width: 568px) {
          margin-bottom: 15px;
        }

        h5 {
          font-size: 18px;
          font-weight: 700;
          color: #000;
          margin-bottom: 5px;
          margin-top: 0;
          line-height: 1.5;
          cursor: pointer;
          position: relative;
          @media only screen and (max-width: 568px) {
            font-size: 16px;
            font-weight: 600;
          }

          &:before {
            position: absolute;
            top: -6px;
            left: -55px;
            content: "";
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 35px;
            color: #fff;
            font-size: 38px;
            padding-left: 3px;
            cursor: pointer;
            background: #f0bd00 url(#{$img-base-url}spriteImgCB.png) no-repeat 5px -77px;
            @media only screen and (max-width: 568px) {
              background-position: 2px -81px;
              width: 32px;
              height: 32px;
              top: 0;
            }
          }
        }

        p {
          display: none;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 15px;
          float: left;
          width: 100%;

          li {
            margin: 0 0 15px;
            padding: 0 15px;
            float: left;
            width: 100%;
            position: relative;
            text-align: left;

            &:before {
              position: absolute;
              left: 0;
              top: 9px;
              content: "";
              font-weight: 700;
              width: 6px;
              height: 6px;
              background: rgba(0, 0, 0, 0.4);
              border-radius: 50%;
            }

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: #f0bd00;
              text-decoration: underline;
              margin: 0;
              transition: all 0.5s ease-in;
              -webkit-transition: all 0.5s ease-in;
              -moz-transition: all 0.5s ease-in;

              &:hover {
                color: #000;
                text-decoration: none;
              }
            }
          }
        }
      }

      li.active {
        h5 {
          &:before {
            background-position: -33px -77px;
            @media only screen and (max-width: 568px) {
              background-position: -36px -80px;
            }
          }
        }

        p {
          display: block;
          text-align: left;
          margin-bottom: 0;
        }
      }
    }
  }
}
}