/* Scss Document */

@import "bootstrap";
@import "slick-theme";
@import "slick";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,400,600,700,800|Ubuntu:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");
