@charset "UTF-8";
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  } @else {
    @return url($slick-loader-path+$url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  } @else {
    @return url($slick-font-path+$url);
  }
}

/* Slider */

// .slick-list {
//     .slick-loading & {
//         background: #fff slick-image-url("ajax-loader.gif) center center no-repeat;
//     }
// }
/* Arrows */

.slick-prev,
.slick-next {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

// .slick-dots {
//     position: absolute;
//     bottom: -25px;
//     list-style: none;
//     display: block;
//     text-align: center;
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     li {
//         position: relative;
//         display: inline-block;
//         height: 20px;
//         width: 20px;
//         margin: 0 5px;
//         padding: 0;
//         cursor: pointer;
//         button {
//             border: 0;
//             background: transparent;
//             display: block;
//             height: 500px;
//             width: 500px;
//             outline: none;
//             line-height: 0px;
//             font-size: 0px;
//             color: transparent;
//             padding: 5px;
//             cursor: pointer;
//             &:hover,
//             &:focus {
//                 outline: none;
//                 &:before {
//                     opacity: $slick-opacity-on-hover;
//                 }
//             }
//             &:before {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 content: $slick-dot-character;
//                 width: 20px;
//                 height: 20px;
//                 font-family: $slick-font-family;
//                 font-size: $slick-dot-size;
//                 line-height: 20px;
//                 text-align: center;
//                 color: $slick-dot-color;
//                 opacity: $slick-opacity-not-active;
//                 -webkit-font-smoothing: antialiased;
//                 -moz-osx-font-smoothing: grayscale;
//             }
//         }
//         &.slick-active button:before {
//             color: $slick-dot-color-active;
//             opacity: $slick-opacity-default;
//         }
//     }
// }
.slick-slider {
  button {
    width: 500px;
  }
}

.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.slick-prev {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  left: -70px;
  z-index: 1;
  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }
  &:before {
    content: "" !important;
    background: url(#{$img-base-url}prev_arrow.png) 14px 50% no-repeat;
    left: 85px;
    height: 28px;
    width: 35px;
    margin-top: 20%;
    position: absolute;
    z-index: 999;
    top: -97px;
    [dir="rtl"] & {
      content: "";
    }
  }
}

.slick-next {
  right: -122px;
  [dir="rtl"] & {
    left: -25px;
    right: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
  }
  &:before {
    content: "" !important;
    background: url(#{$img-base-url}next_arrow.png) 16px 50% no-repeat;
    height: 28px;
    right: 100px;
    width: 35px;
    margin-top: 20%;
    position: absolute;
    top: -97px;
    [dir="rtl"] & {
      content: "0";
      background: url(#{$img-base-url}arrowr.png) 16px 50% no-repeat;
    }
  }
}
