/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  padding: 0 50px;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  display: none;
  &.dragging img {
    pointer-events: none;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.team {
  background-color: $bg-color-grey;
  text-align: center;
  float: left;
  width: 100%;
  h4 {
    font-size: 32px;
    color: #1a1a18;
    margin: 0px 0 30px;
    text-transform: initial;
  }
  .box1 {
    transform: scale(0.7);
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    img {
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      filter: grayscale(1);
      width: 40%;
      margin-top: 20px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: 0;
    }
    span {
      margin: 11px auto 17px -16px;
      padding-bottom: 0px;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      display: block;
      i {
        font-size: 13px;
        display: block;
        padding-top: 3px;
        font-style: normal;
      }
    }
    span {
      margin: 20px auto 18px;
      padding-bottom: 0px;
      font-weight: 400;
      text-align: center;
      display: block;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
    }
    .fontsize14 {
      font-size: 16px !important;
      font-weight: bold !important;
    }
    p {
      color: #000;
      font-size: 16px;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      letter-spacing: 0;
      width: 100%;
      opacity: 0;
      .icon {
        color: #fff;
        @include margin(0 5px);
      }
    }
    .boxwidth {
      padding: 0 100px;
    }
  }
  .slick-center {
    color: #000;
    .box1 {
      transform: scale(1);
      -webkit-transition: all 400ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 400ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 400ms ease-in;
      -moz-transform: scale(1);
      transition: all 400ms ease-in;
      img {
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        filter: grayscale(0);
        width: 40%;
        margin-top: 25px;
        box-shadow: 0 0 30px 5px #c3c3c3;
        border: 2px solid #c3c3c3;
      }
      span {
        margin: 35px auto 18px;
        padding-bottom: 0px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        display: block;
        i {
          font-size: 14px;
          display: block;
          padding-top: 3px;
          font-style: normal;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        margin: 20px auto 0;
        padding: 0;
        width: 100%;
        letter-spacing: 0;
        width: 100%;
        opacity: 1;
        position: relative;
        left: -185px;
        top: 10px;
        margin-bottom: 40px;
        width: 700px;
        .icon {
          color: #fff;
          @include margin(0 5px);
        }
        p {
          left: initial;
        }
      }
      .border {
        border-top: 1px solid #9d9d9d;
        width: 450px;
        margin: 20px auto;
        display: block;
        margin-left: -48px;
      }
      .content {
        font-size: 16px;
        font-weight: $font-weight-bold;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .team {
    .slick-prev,
    .slick-next {
      top: 37%;
    }
    .slick-next {
      right: -70px;
    }
  }
  .partner {
    .slick-slide {
      img {
        margin-left: -20%;
      }
    }
    .slick-prev,
    .slick-next {
      top: 37%;
    }
    .slick-prev {
      left: -113px;
    }
    .slick-next {
      right: -119px;
    }
  }
}

@media screen and (max-width: 1001px) {
  .slick-slider {
    padding: 0;
  }
  .team {
    background: #ffffff;
    h4 {
      padding-top: 30px;
      font-size: 25px;
    }
    .slick-center {
      .box1 {
        img {
          margin: 0 auto;
          display: block;
          border-radius: 50%;
          filter: grayscale(0);
          width: 45%;
          margin-top: 25px;
          box-shadow: 0 0 30px 5px #c3c3c3;
          border: 2px solid #c3c3c3;
        }
        span {
          margin: 35px auto 18px;
          padding-bottom: 0px;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          display: block;
          i {
            font-size: 14px;
            display: block;
            padding-top: 3px;
            font-style: normal;
          }
        }
        p {
          color: #000;
          font-size: 16px;
          margin: 20px auto 0;
          padding: 0;
          letter-spacing: 0;
          opacity: 1;
          position: relative;
          top: 20px;
          margin-bottom: 40px;
          width: 500px;
          left: -100px;
          .icon {
            color: #fff;
            @include margin(0 5px);
          }
        }
        .border {
          border-top: 1px solid #9d9d9d;
          width: 300px;
          margin: 20px auto;
          display: block;
        }
        .content {
          font-size: 16px;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .about {
    .partner {
      background: #eaeaea;
      margin-bottom: -80px;
      h4 {
        padding-top: 30px;
        font-size: 25px !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .team {
    display: none;
  }
  .about {
    .partner {
      display: none;
    }
  }
}

// @media screen and (max-width: 800px) {
//     .team {
//         .slick-center {
//             .box1 {
//                 img {
//                     margin: 0 auto;
//                     display: block;
//                     border-radius: 50%;
//                     filter: grayscale(0);
//                     width: 30%;
//                     margin-top: 25px;
//                     box-shadow: 0 0 30px 5px #c3c3c3;
//                     border: 2px solid #c3c3c3;
//                 }
//                 span {
//                     margin: 35px auto 18px;
//                     padding-bottom: 0px;
//                     font-weight: 400;
//                     font-size: 20px;
//                     text-align: center;
//                     display: block;
//                     i {
//                         font-size: 14px;
//                         display: block;
//                         padding-top: 3px;
//                         font-style: normal;
//                     }
//                 }
//                 p {
//                     color: #000;
//                     font-size: 16px;
//                     margin: 20px auto 0;
//                     padding: 0;
//                     width: 100%;
//                     letter-spacing: 0;
//                     width: 100%;
//                     opacity: 1;
//                     position: relative;
//                     left: 0px;
//                     top: 10px;
//                     margin-bottom: 40px;
//                     width: 100%;
//                     font-size: 14px;
//                     .icon {
//                         color: #fff;
//                         @include margin(0 5px);
//                     }
//                 }
//                 .border {
//                     border-top: 1px solid #9d9d9d;
//                     width: 450px;
//                     margin: 20px auto;
//                     display: block;
//                 }
//                 .content {
//                     font-size: 16px;
//                     font-weight: $font-weight-bold;
//                 }
//             }
//         }
//         .slick-prev,
//         .slick-next {
//             top: 37%;
//         }
//         .partner {
//             .slick-prev,
//             .slick-next {
//                 top: 37%;
//             }
//             .slick-prev {
//                 left: -113px;
//             }
//             .slick-next {
//                 right: -119px;
//             }
//         }
//     }
// }
// @media screen and (max-width: 768px) {
//     .partner {
//         .slick-slide {
//             img {
//                 margin-left: -35%;
//             }
//         }
//         .slick-prev,
//         .slick-next {
//             top: 37%;
//         }
//         .slick-prev {
//             left: -113px;
//         }
//         .slick-next {
//             right: -119px;
//         }
//     }
// }
// @media screen and (max-width: 480px) {
//     .team {
//         .slick-prev,
//         .slick-next {
//             top: 96%;
//         }
//     }
//     .partner {
//         .slick-slide {
//             img {
//                 margin-left: -20%;
//             }
//         }
//         .slick-prev,
//         .slick-next {
//             top: 37%;
//         }
//         .slick-prev {
//             left: -113px;
//         }
//         .slick-next {
//             right: -119px;
//         }
//     }
// }
