html,
body {
  width: 100%;
  height: inherit !important;
}

.eduTopBg {
  background: url(#{$img-base-url}top-bg.jpg) no-repeat 0 0;
  background-size: cover;
  height: 500px;
  position: relative;
  .graphicsObj {
    position: absolute;
    bottom: 0;
    left: 132px;
  }
}
.cApply {
  font-size: 10px;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  float: left;
  width: 100%;
}
.container.containerWidth {
  max-width: 954px;
  padding-left: 0;
  padding-right: 0;
}
.row {
  /* margin-left: 0;
  margin-right: 0; */
  .partnerLogo {
    padding: 20px 0 40px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.containerHeight {
  height: 100%;
}
.positionRelative {
  position: relative;
}
.eduLogo {
  width: 175px;
  position: relative;
  top: 46px;
  float: left;
}
/* Form */
.eduFormWrapper {
  width: 318px;
  min-height: 447px;
  height: auto;
  position: absolute;
  top: 24px;
  right: 0;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #207b93;
  padding: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  p {
    font-weight: 700;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .error {
    position: absolute;
    left: 0;
    color: #e5260e;
    bottom: -22px;
    background-color: #fff;
    padding: 2px 5px;
    width: auto;
    border-radius: 0;
    font-weight: 400;
    font-size: 12px;
  }
  input {
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 8px 10px;
    height: 38px;
    background: transparent;
    user-select: none;
    color: #fff;
    width: 100%;
    float: left;
    margin-top: 18px;
  }
  ::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  .row {
    float: left;
    width: 100%;
    article {
      display: inline-block;
      float: left;
      width: 50%;
      font-size: 12px;
      font-weight: 700;
      margin-top: 20px;
      padding-right: 7.5px;
      padding-left: 0;
      label {
        float: left;
        width: 100%;
        margin: 0;
        font-weight: 400;
      }
      .select-container {
        position: relative;
        width: 100%;
        select {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
          width: 100%;
          float: left;
          border: 0;
          user-select: none;
          outline: none;
          background: transparent;
          border-bottom: 2px solid #fff;
          padding: 5px 8px;
          font-weight: 400;
          box-shadow: none;
          option {
            color: #fff;
            background: #207b93;
          }
        }

        select:-moz-focusring {
          color: #fff;
          background: #207b93;
        }

        select::-ms-expand {
          display: none;
        }

        .select-arrow {
          background: url(#{$img-base-url}select-arrow.png) no-repeat right;
          right: 5px;
          top: 27px;
          width: 8px;
          height: 8px;
          position: absolute;
          display: block;
          z-index: 10;
          margin: 0 0 0 0;
          pointer-events: none;
        }
      }
    }
    article:nth-child(2) {
      padding-left: 7.5px;
      padding-right: 0;
    }
  }
  button {
    float: left;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #207b93;
    border: 0;
    user-select: none;
    outline: none;
    margin-top: 17px;
  }
}
.eduTopBorder {
  border-top: 2px solid #d7d7d7;
  margin-top: 30px;
}
.eduBottomBorder {
  border-bottom: 22px solid #34a1be;
}
.edu-box.border {
  border: 5px solid #34a1be;
}
.edu-box.height {
  height: 190px;
}
.titleText {
  font-size: 20px;
  font-weight: 700;
  color: #3c3c3c;
  margin-top: 38px;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
}
.textpara {
  font-size: 14px;
  font-weight: 800;
  color: #3c3c3c;
  float: left;
  text-align: center;
  width: 100%;
  margin: -5px 0 5px;
  line-height: 1.4;
}
.edu-box {
  margin: 15px;
  padding: 0;
  display: table;
  width: 298px;
  .innerBox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    h2,
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
    }
    h2 {
      color: #3c3c3c;
      position: relative;
      padding-top: 36px;
      margin-bottom: 0;
      margin-top: 38px;
      &:before {
        position: absolute;
        top: -48px;
        left: 50%;
        content: "";
        width: 80px;
        height: 70px;
        margin-left: -40px;
        background-size: cover;
      }
    }
    h3 {
      color: #9d9d9d;
      margin-bottom: 0;
    }
  }
}
.edu-box:nth-child(1),
.edu-box:nth-child(4) {
  margin-left: 0;
}
.edu-box:nth-child(3),
.edu-box:nth-child(6) {
  margin-right: 0;
}

.redefining-student-friendly-box {
  width: 904px;
  height: 384px;
  background: url(#{$img-base-url}redefining-student-friendly.png) no-repeat 0 0;
  margin: 81px auto 0;
  display: block;
  ul {
    float: left;
    list-style: none;
    width: 100%;
    margin: 69px 0 0 68px;
    li {
      margin: 0 0 10px 0;
      padding: 0;
      float: left;
      width: 100%;
      font-size: 14px;
      font-weight: 800;
      color: #fff;
      position: relative;
      dd {
        color: #3c3c3c;
        display: inline-block;
      }
      &:before {
        position: absolute;
        top: 5px;
        left: -14px;
        content: "";
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
}

/* Icons */

.edu-box:nth-child(1) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}financing-icon.png) no-repeat 0 0;
      }
    }
  }
}
.edu-box:nth-child(2) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}attractive-interes-rates-icon.png)
          no-repeat 0 0;
      }
    }
  }
}
.edu-box:nth-child(3) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}collateral-free-loans-icon.png)
          no-repeat 0 0;
      }
    }
  }
}
.edu-box:nth-child(4) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}US-Co-Signer-Facility-icon.png)
          no-repeat 0 0;
      }
    }
  }
}
.edu-box:nth-child(5) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}Zero-Pre-Payment-Fees-icon.png)
          no-repeat 0 0;
        top: -41px;
      }
    }
  }
}
.edu-box:nth-child(6) {
  .innerBox {
    h2 {
      &:before {
        background: url(#{$img-base-url}Fast-track-processing-icon.png)
          no-repeat 0 0;
        top: -41px;
      }
    }
  }
}

.eduyoutube {
  margin: 90px 0 0;

  p {
    text-align: center;
    font-size: 12px;
    padding: 10px 0 0 0;
  }
  .paddingL {
    padding-left: 0;
  }
  .paddingR {
    padding-right: 0;
  }
  .edustep {
    width: auto;
    background: #207b93;
    display: block;
    padding: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    overflow: auto;

    ul {
      width: 100%;
      float: $text-align-left;
      position: relative;
      li {
        width: 100%;
        position: $pos-relative;
        float: $text-align-left;
        padding: 0 0 42.1px 50px;
        &::before {
          width: 50px;
          height: 42px;
          content: "";
          top: -4px;
          left: -10px;
          position: absolute;
        }
      }
      li:last-child {
        padding: 0 0 0 50px;
      }

      li:nth-child(1):before {
        background: url(#{$img-base-url}icons.png) no-repeat 0 0;
      }
      li:nth-child(2):before {
        background: url(#{$img-base-url}icons.png) no-repeat 0 -49px;
      }
      li:nth-child(3):before {
        background: url(#{$img-base-url}icons.png) 0 -111px no-repeat;
        top: -6px;
      }
      li:nth-child(4):before {
        background: url(#{$img-base-url}icons.png) no-repeat 0 -170px;
        top: 2px;
      }
      li:nth-child(5):before {
        background: url(#{$img-base-url}icons.png) no-repeat 0 -227px;
        top: 0;
        left: -2px;
      }
      li:nth-child(6):before {
        background: url(#{$img-base-url}icons.png) no-repeat 0 -287px;
        top: 0;
        left: -2px;
      }
    }
  }
}

/* Start @media */
@media screen and (max-width: 1024px) {
  /* Education Bank Loan */
  .container.containerWidth {
    max-width: initial;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .edu-box {
    width: 31.34%;
  }
  .container.containerWidth.paddingLR {
    padding-left: 15px;
    padding-right: 15px;
  }
  .eduFormWrapper {
    right: 15px;
  }
  .container.containerWidth {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid.paddingLR {
    padding-left: 0;
    padding-right: 0;
  }
  /* End */
}
@media screen and (max-width: 991px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 31.23%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(4) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(5) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .edu-box:nth-child(3),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */

  .eduyoutube {
    margin: 90px 0 0;
    p {
      text-align: center;
      font-size: 12px;
    }
    .paddingL {
      padding-left: 0;
      padding-right: 0;
    }
    .paddingR {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 966px) {
  /* Education Bank Loan */
  .edu-box {
    width: 31.18%;
  }
  /* End */
}

@media screen and (max-width: 900px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48.2%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }

  .eduTopBg {
    .graphicsObj {
      width: 44%;
    }
  }

  .redefining-student-friendly-box {
    width: 100%;
    height: auto;
    background: #3994c8;
    margin-top: 0;
    padding: 15px;
    float: left;
    ul {
      width: auto;
      margin: 0 0 0 15px;
    }
  }

  /* End */
}

@media screen and (max-width: 853px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48.16%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  .eduTopBg {
    .graphicsObj {
      width: 40%;
      left: 0;
    }
  }
  /* End */
}

@media screen and (max-width: 800px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */
}
@media screen and (max-width: 768px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 47.9%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */
}
@media screen and (max-width: 768px) {
  /* Education Bank Loan */
  .edu-box {
    width: 47.8%;
  }
}

@media screen and (max-width: 690px) {
  /* Education Bank Loan */
  .edu-box {
    width: 47.7%;
  }
}

@media screen and (max-width: 667px) {
  /* Education Bank Loan */
  .eduTopBg {
    background: #4ed5f5 url(#{$img-base-url}top-bg.jpg) no-repeat -149px bottom;
    height: 724px;
    .graphicsObj {
      width: 40%;
      right: 15px;
      top: 10px;
      left: inherit;
    }
  }
  .edu-box {
    width: 47.5%;
  }

  .eduFormWrapper {
    width: auto;
    bottom: 5px;
    right: 0;
    border: 2px solid #97989c;
    border-top: 2px solid #97989c;
    top: inherit;
    border-top-right-radius: 0;
    margin: 0 15px;
  }
  /* End */
}
@media screen and (max-width: 640px) {
  .eduTopBg {
    .graphicsObj {
      width: 35%;
    }
  }
}

@media screen and (max-width: 637px) {
  .eduTopBg {
    height: 724px;
  }
}
@media screen and (max-width: 607px) {
  .eduTopBg {
    .graphicsObj {
      width: 37%;
    }
  }
}
@media screen and (max-width: 600px) {
  .eduTopBg {
    .graphicsObj {
      width: 38%;
    }
  }
  .edu-box {
    width: 47.3%;
  }
}

@media screen and (max-width: 598px) {
  /* Education Bank Loan */
  .edu-box {
    width: 47.3%;
  }
}

@media screen and (max-width: 568px) {
  /* Education Bank Loan */
  .eduTopBg {
    height: 706px;
  }
  .edu-box {
    width: 47.1%;
  }
  /* End */
}

@media screen and (max-width: 480px) {
  /* Education Bank Loan */
  .eduTopBg {
    height: 670px;
  }
  .edu-box {
    width: 46.6%;
  }
  /* End */
}

@media screen and (max-width: 414px) {
  /* Education Bank Loan */
  .eduTopBg {
    height: 638px;
  }
  .edu-box {
    width: 100%;
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(2),
  .edu-box:nth-child(3),
  .edu-box:nth-child(4),
  .edu-box:nth-child(5),
  .edu-box:nth-child(6) {
    margin-left: 0;
    margin-right: 0;
  }
  /* End */
}
@media screen and (max-width: 360px) {
  /* Education Bank Loan */
  .eduLogo {
    width: 130px;
  }
  .eduTopBg {
    height: 669px;
    .graphicsObj {
      width: 45%;
    }
  }
  /* End */
}
@media screen and (max-width: 320px) {
  /* Education Bank Loan */
  .eduTopBg {
    height: 778px;
  }
  .eduFormWrapper {
    .row {
      article {
        width: 100%;
        padding-right: 0;
      }
      article:nth-child(2) {
        padding-left: 0;
      }
    }
  }
  /* End */
}
