html,
body {
  width: 100%;
  height: inherit !important;
}

.eduTopBg {
  background: url(https://buddy4study.s3.ap-southeast-1.amazonaws.com/static/images/top-bg.jpg)
    no-repeat 0 0;
  background-size: cover;
  height: 464px;
  position: relative;
  padding-top: 120px;
  .graphicsObj {
    position: absolute;
    top: 50px;
    font-size: 22px;
    color: #0f5959;
    font-weight: bold;
    p {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 15px 20px;
      border-radius: 5px;
    }
    .but {
      float: left;
      border-radius: 30px;
      padding: 3px 30px 0;
      height: 48px;
      line-height: 42px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: #0f5959;
      color: #fff;
      border: 0;
      user-select: none;
      outline: none;
      margin-top: 17px;
    }
    .but:hover {
      background: #fff;
      color: #0f5959;
    }
    a {
      text-decoration: none;
    }
  }
}

.margin0 {
  margin: 0;
}

.cApply {
  font-size: 10px;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  float: left;
  width: 100%;
}

// .container.containerWidth {
//   max-width: 954px;
//   padding-left: 0;
//   padding-right: 0;
// }
.greybg {
  background: #eaeaea;
  padding: 0 0 30px;
}

.row {
  /* margin-left: 0;
  margin-right: 0; */
  .partnerLogo {
    padding: 20px 0 40px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.containerHeight {
  height: 100%;
}

.positionRelative {
  position: relative;
}

.eduLogo {
  width: 175px;
  position: relative;
  top: -76px;
  float: left;
}

.eduTopBorder {
  border-top: 2px solid #d7d7d7;
  margin-top: 30px;
  .btn {
    padding: 8px 20px;
    margin: 0px 0 0;
    height: auto;
  }
}

// .eduBottomBorder {
//     border-bottom: 22px solid #0f5959;
// }
.edu-box.border {
  border: 5px solid #0f5959;
}

.edu-box.height {
  height: 190px;
}

.titleText {
  font-size: 22px;
  font-weight: 700;
  color: #3c3c3c;
  margin-top: 40px;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
  padding: 10px 0 20px;
}

.padding30 {
  margin: 0px;
  padding: 15px 0 50px;
  background: #f1f1f1;
}

.paddingbottom30 {
  padding: 15px 0 50px;
}

.textpara {
  font-size: 14px;
  font-weight: 800;
  color: #3c3c3c;
  float: left;
  text-align: center;
  width: 100%;
  margin: -5px 0 5px;
}

.edu-box {
  margin: 15px;
  padding: 0;
  display: table;
  width: 298px;
  .innerBox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    h2,
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
    }
    h2 {
      color: #3c3c3c;
      position: relative;
      padding-top: 36px;
      margin-bottom: 0;
      margin-top: 38px;
      &:before {
        position: absolute;
        top: -48px;
        left: 50%;
        content: "";
        width: 80px;
        height: 70px;
        margin-left: -40px;
        background-size: cover;
      }
    }
    h3 {
      color: #9d9d9d;
      margin-bottom: 0;
    }
  }
}

.topuniversity {
  article {
    width: 19%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    img {
      border-radius: 5px;
      box-shadow: 0px 0px 3px 1px #ccc;
    }
    img:hover {
      box-shadow: 0px 0px 6px 3px #ccc;
    }
  }
}

.bgcolor {
  background: #0f5959;
  font-size: 18px;
  padding: 30px 0 20px;
  color: #ffffff;
  a {
    color: #fdb701;
  }
  .btn {
    margin: -10px 0 0;
    height: auto;
    color: #fff;
  }
}

/* Form */

.titleheading {
  font-size: 22px;
  font-weight: 700;
  color: #3c3c3c;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.whitecolor {
  color: #ffffff;
  text-align: center;
}

.speech {
  .col-md-6 {
    padding: 0;
  }
  .box {
    background: #fff;
    border: 3px solid #f2f2f2;
    padding: 20px 15px;
    margin-right: 30px;
    min-height: 380px;
    border-radius: 5px;
    text-align: center;
  }
  .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #f2f2f2;
  }
  p {
    text-align: center;
    padding: 15px 0 5px;
    font-size: 14px;
  }
  span {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 120px;
    border: 3px solid #fff;
    box-shadow: 0 0 3px 3px #ccc;
  }
}

table {
  tr {
    td {
      .btn {
        padding: 6px 20px 8px 22px;
        height: auto;
      }
    }
  }
}

.eduFormWrapper {
  width: 318px;
  height: auto;
  min-height: 360px;
  overflow: auto;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #0f5959;
  padding: 20px;
  margin-top: 60px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: -130px;
  right: 0;
  p {
    font-weight: 700;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
  }
  .error {
    position: absolute;
    left: 0;
    color: #e5260e;
    bottom: -22px;
    background-color: #fff;
    padding: 2px 5px;
    width: auto;
    border-radius: 0;
    font-weight: 400;
    font-size: 11px;
  }
  input {
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 8px 10px;
    height: 38px;
    background: transparent;
    user-select: none;
    color: #fff;
    width: 100%;
    float: left;
    margin-top: 18px;
  }
  ::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
  }
  .row {
    float: left;
    width: 100%;
    article {
      display: inline-block;
      float: left;
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      margin-top: 20px;
      padding-right: 7.5px;
      padding-left: 0;
      label {
        float: left;
        width: 100%;
        margin: 0;
        font-weight: 400;
      }
      .select-container {
        position: relative;
        width: 100%;
        select {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
          width: 100%;
          float: left;
          border: 0;
          user-select: none;
          outline: none;
          background: transparent;
          border-bottom: 2px solid #fff;
          padding: 5px 8px;
          font-weight: 400;
          box-shadow: none;
          option {
            color: #fff;
            background: #207b93;
          }
        }
        select:-moz-focusring {
          color: #fff;
          background: #207b93;
        }
        select::-ms-expand {
          display: none;
        }
        .select-arrow {
          background: url(#{$img-base-url}select-arrow.png) no-repeat right;
          right: 5px;
          top: 27px;
          width: 8px;
          height: 8px;
          position: absolute;
          display: block;
          z-index: 10;
          margin: 0 0 0 0;
          pointer-events: none;
        }
      }
    }
    article:nth-child(2) {
      padding-left: 7.5px;
      padding-right: 0;
    }
  }
  button {
    float: left;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #207b93;
    border: 0;
    user-select: none;
    outline: none;
    margin-top: 17px;
  }
}

.edu-box:nth-child(1),
.edu-box:nth-child(4) {
  margin-left: 0;
}

.edu-box:nth-child(3),
.edu-box:nth-child(6) {
  margin-right: 0;
}

.redefining-student-friendly-box {
  .col-md-6 {
    p {
      line-height: 30px;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #0f5959;
    text-align: center;
  }
  ul {
    float: left;
    list-style: none;
    width: 100%;
    padding-top: 20px;
    li {
      margin: 0 0 15px 15px;
      float: left;
      width: 100%;
      font-size: 14px;
      font-weight: 800;
      color: #0f5959;
      position: relative;
      dd {
        color: #3c3c3c;
        display: inline-block;
      }
      &:before {
        position: absolute;
        top: 5px;
        left: -14px;
        content: "";
        width: 8px;
        height: 8px;
        background: #0f5959;
        border-radius: 50%;
      }
    }
  }
}

.ebook {
  ul {
    margin-top: 15px;
    li {
      margin-bottom: 15px;
      a {
        font-size: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 38px;
      }
      a:before {
        position: absolute;
        background: url("https://buddy4study.s3.ap-southeast-1.amazonaws.com/static/images/pdficon.png");
        content: "";
        width: 34px;
        height: 41px;
        top: -5px;
        left: -42px;
      }
    }
  }
}

.eduyoutube {
  margin: 90px 0 0;
  span {
    text-align: center;
    font-size: 12px;
    padding: 10px 0 0 0;
    display: block;
  }
  p {
    font-size: 16px;
    padding-right: 30px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .paddingL {
    padding-left: 0;
  }
  .paddingR {
    padding-right: 0;
  }
  .edustep {
    width: auto;
    background: #0f5959;
    display: block;
    padding: 25px 25px 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    overflow: auto;
    margin-bottom: 30px;
    ul {
      width: 100%;
      float: $text-align-left;
      position: relative;
      li {
        width: 100%;
        position: $pos-relative;
        float: $text-align-left;
        padding: 0 0 30px 28px;
        &::before {
          width: 50px;
          height: 42px;
          content: "";
          top: -4px;
          left: -10px;
          position: absolute;
        }
      }
      li:nth-child(3) {
        padding: 0 0 10px 28px;
      }
      li:before {
        content: "\f0a4";
        font-family: FontAwesome;
        font-size: 22px;
      }
    }
  }
}

/* Start @media */

@media screen and (max-width: 1024px) {
  /* Education Bank Loan */
  .container.containerWidth {
    max-width: initial;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .edu-box {
    width: 31.34%;
  }
  .container.containerWidth.paddingLR {
    padding-left: 15px;
    padding-right: 15px;
  }
  .eduFormWrapper {
    right: 15px;
  }
  .container.containerWidth {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid.paddingLR {
    padding-left: 0;
    padding-right: 0;
  }
  /* End */
}

@media screen and (max-width: 991px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 31.23%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(4) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(5) {
    margin-left: 15px;
    margin-right: 15px;
  }
  .edu-box:nth-child(3),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */
  .eduyoutube {
    margin: 90px 0 0;
    p {
      text-align: center;
      font-size: 12px;
    }
    .paddingL {
      padding-left: 0;
      padding-right: 0;
    }
    .paddingR {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 966px) {
  /* Education Bank Loan */
  .edu-box {
    width: 31.18%;
  }
  /* End */
}

@media screen and (max-width: 900px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48.2%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  .eduTopBg {
    .graphicsObj {
      width: 44%;
    }
  }
  .redefining-student-friendly-box {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 15px;
    float: left;
    ul {
      width: auto;
      margin: 0 0 0 15px;
    }
  }
  /* End */
}

@media screen and (max-width: 853px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48.16%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  .eduTopBg {
    .graphicsObj {
      width: 40%;
      left: 0;
      .but {
        font-size: 14px;
      }
    }
  }
  /* End */
}

@media screen and (max-width: 800px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 48%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */
}

@media screen and (max-width: 768px) {
  /* Education Bank Loan */
  .edu-box {
    margin: 15px;
    padding: 0;
    display: block;
    width: 47.9%;
    float: left;
    overflow: hidden;
    .innerBox {
      display: block;
      display: block;
      h2 {
        margin-top: 72px;
      }
    }
  }
  .edu-box:nth-child(1),
  .edu-box:nth-child(3),
  .edu-box:nth-child(5) {
    margin-left: 0;
    margin-right: 15px;
  }
  .edu-box:nth-child(2),
  .edu-box:nth-child(4),
  .edu-box:nth-child(6) {
    margin-left: 15px;
    margin-right: 0;
  }
  /* End */
}

@media screen and (max-width: 768px) {
  /* Education Bank Loan */
  .edu-box {
    width: 47.8%;
  }
}

@media screen and (max-width: 767px) {
  .eduTopBg {
    height: 700px;
    .eduFormWrapper {
      width: 89%;
      margin: 0 auto;
      top: 150px;
    }
    .graphicsObj {
      width: 100%;
      font-size: 16px;
      margin-top: -75px;
      .but {
        font-size: 14px;
        padding: 0 10px;
        height: auto;
      }
    }
  }
  .eduLogo {
    top: -110px;
  }
  .topuniversity {
    article {
      width: 32%;

      img {
        margin: 0 auto;
        margin-bottom: 20px;
      }
      img:hover {
        box-shadow: 0px 0px 6px 3px #ccc;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .eduTopBg {
    height: 700px;
    .eduFormWrapper {
      width: 89%;
      margin: 0 auto;
      top: 150px;
    }
    .graphicsObj {
      width: 100%;
      font-size: 16px;
      margin-top: -75px;
      .but {
        font-size: 14px;
        padding: 0 10px;
        height: auto;
      }
    }
  }
  .eduLogo {
    top: -110px;
  }
  .topuniversity {
    article {
      width: 100%;
      margin: 0 auto;
      img {
        margin: 0 auto;
        margin-bottom: 20px;
      }
      img:hover {
        box-shadow: 0px 0px 6px 3px #ccc;
      }
    }
  }
  .speech {
    .box {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

.table-responsive {
  float: left;
  width: 100%;
  position: relative;
  overflow-x: auto;
}

.error1 {
  position: absolute;
  left: 0;
  color: #e5260e;
  bottom: -22px;
  background-color: #fff;
  padding: 2px 5px;
  width: auto;
  border-radius: 0;
  font-weight: 400;
  font-size: 11px;
}
