header {
  background-color: map-get($colors, transparentBg);
}

.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.mediapartners {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  .bgmediapartners {
    background-image: $default-top-banner;
    @extend .default-banner-property;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0;
    }
  }
  .bgmediapartners {
    background-image: $premiummembership-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0 15px;
    }
  }
  h5 {
    @extend .icon-heading;
  }
  h5:before {
    content: "";
    background: url(#{$img-base-url}sprite.png) 0 -664px no-repeat;
    @extend .icon-headingbefore;
  }
  .bggreay {
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        margin-right: 20px;
        display: inline-block;
        padding-top: 0;
        a {
          color: #2b292b;
          font-weight: 600;
          font-weight: normal;
        }
      }
      li:after {
        content: "";
        position: $position-absolute;
        top: 4px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
        display: block;
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        a {
          color: #919191;
          pointer-events: none;
        }
      }
      li:last-child:after {
        display: none;
      }
    }
  }
  .scholarship-network {
    min-height: 850px;
    background-color: transparent;
    .buddy-heading {
      h4 {
        margin-bottom: 50px;
      }
      h6.title {
        @include font-size(30px);
        @include line-height(1.5);
        color: #000;
        font-weight: $font-weight-500;
        position: $pos-relative;
        margin-top: 50px;
        margin-bottom: 50px;
        &:before {
          content: "";
          background: url(#{$img-base-url}sprite.png) 0 -850px no-repeat;
          display: block;
          width: 100px;
          height: 75px;
          margin-left: -50px;
          position: absolute;
          top: -71px;
          left: 50%;
        }
      }
    }
    .network {
      margin-top: initial;
      margin-bottom: initial;
    }
    .tblCell {
      display: table;
      .div-square {
        padding: 0 10px;
        border: 1px solid #e1e1e1;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        width: 100%;
        height: 110px;
        margin-bottom: 25px;
        display: table;
        float: left;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        cursor: pointer;
        .imgWrapper {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          img {
            width: 185px;
            height: 85px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .tblCell:hover {
      .div-square {
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
      }
    }
  }
}

/* footer {
  margin-top: 70px;
} */

/* Start Media Partnet style */

.whiteBg {
  background: #fff;
}

.lightGrayBg {
  background: #f5f5f5;
}

.grayBg {
  background: #ececec;
}

.darkGrayBg {
  background: #e3e3e3;
}

.intrestBtn {
  position: fixed;
  width: 58px;
  height: 248px;
  right: -58px;
  top: 50%;
  margin-top: -124px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intrestBtn.ani {
  opacity: 1;
  right: 0;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.offersWrapper {
  padding-top: 0;
  position: relative;
  top: 62px;
  .topBannerBg {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    img {
      position: relative;
      top: -1px;
      left: 0;
      z-index: 1;
      width: 100%;
      display: block;
    }
    .bannerContent {
      display: block;
      text-align: left;
      position: absolute;
      top: 0;
      z-index: 2;
      margin-top: 0;
      left: 50%;
      margin-left: -588px;
      padding: 0 15px;
      width: 1176px;
      height: 100%;
      display: block;
      .innerContent {
        width: 62%;
        display: table;
        height: 100%;
        .innerContentBox {
          display: table-cell;
          vertical-align: middle;
          height: 100%;
          h1 {
            font-size: 30px;
            color: #f0bd00;
            width: 100%;
            margin: 0;
            line-height: 1.2;
          }
          @media screen and (max-width: 412px) {
            h1 {
              font-size: 26px;
            }
          }
          p {
            width: 100%;
            margin: 18px 0 0 0;
            color: #fff;
            line-height: 1.5;
            font-size: 24px;
          }
          @media screen and (max-width: 1199px) {
            p {
              margin-top: 5px;
            }
          }
          @media screen and (max-width: 412px) {
            p {
              line-height: 1.2;
              font-size: 20px;
            }
          }
        }
        .registerBtn {
          border-radius: 30px;
          font-size: 18px;
          margin: 16px 0 0;
          color: #fff;
          font-weight: 600;
          display: block;
          text-align: center;
          background: #f0bd00;
          height: 42px;
          line-height: 42px;
          border: 0;
          width: 176px;
          position: relative;
          top: 8px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: 991px) {
        .innerContent {
          width: 56%;
        }
      }
      @media screen and (max-width: 853px) {
        .innerContent {
          width: 48%;
        }
      }
      @media screen and (max-width: 767px) {
        .innerContent {
          width: 100%;
          height: initial;
        }
      }
      .formWrapper {
        position: absolute;
        right: 18px;
        width: 370px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        margin-top: -202px;
        padding: 20px;
        height: 404px;
        top: 50%;
        h4 {
          font-size: 15px;
          margin-bottom: 15px;
          color: #000;
          font-weight: 600;
          margin-top: 0;
        }
        .formControl {
          margin: 0;
          padding: 0 10px;
          display: 100%;
          width: 100%;
          height: 100%;
          .form-group {
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 10px;
            span.error {
              bottom: 19px;
              padding: 4px;
              font-size: 10px;
              width: auto;
            }
            .form-control {
              font-size: 14px;
              margin-bottom: 0;
              color: #000;
              font-weight: 400;
              padding: 10px 5px;
              background: transparent;
              box-shadow: none;
              border: 0;
              border-bottom: 2px solid #878787;
              &:hover {
                box-shadow: none;
              }
            }
            textarea.form-control {
              font-size: 14px;
              margin-bottom: 0;
              color: #000;
              font-weight: 400;
              padding: 10px 5px;
              background: transparent;
              box-shadow: none;
              border: 0;
              height: 60px;
              border-bottom: 2px solid #878787;
              resize: none;
              &:hover {
                box-shadow: none;
              }
            }
          }
          button {
            border-radius: 30px;
            font-size: 16px;
            margin: 0 auto;
            color: #fff;
            font-weight: 600;
            display: block;
            text-align: center;
            background: #f0bd00;
            height: 32px;
            line-height: 32px;
            border: 0;
            width: 146px;
            position: relative;
            top: 8px;
          }
        }
        :-moz-placeholder {
          color: #000;
        }
        ::-webkit-input-placeholder {
          color: #000;
        }
        :-ms-input-placeholder {
          color: #000;
        }
      }
      @media screen and (max-width: 1199px) {
        .formWrapper {
          right: 15px;
        }
      }
      @media screen and (max-width: 767px) {
        .formWrapper {
          position: inherit;
          right: inherit;
          width: 100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 10px;
          margin-top: 30px;
          padding: 20px;
          height: inherit;
          top: inherit;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      .bannerContent {
        text-align: left;
        position: inherit;
        top: inherit;
        z-index: inherit;
        margin-top: 0;
        left: inherit;
        margin: 0 auto;
        padding: 0 15px;
        width: 970px;
        height: 390px;
        display: block;
      }
    }
    @media screen and (max-width: 1024px) {
      .bannerContent {
        width: 100%;
      }
    }
    @media screen and (max-width: 767px) {
      .bannerContent {
        height: inherit;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .topBannerBg {
      background: url(#{$img-base-url}university-top-banner.jpg) no-repeat 0 0;
      background-size: cover;
      padding-top: 30px;
      padding-bottom: 30px;
      img {
        display: none;
      }
    }
  }
  /* offersContent */
  .offersContent {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 51px 0;
    .container {
      padding-left: 0;
      padding-right: 0;
      .row {
        margin-left: 0;
        margin-right: 0;
        .content {
          width: 100%;
          display: block;
          height: auto;
          text-align: left;
          h2,
          h3 {
            font-weight: 600;
            width: 100%;
            color: #000;
            font-size: 22px;
            position: relative;
            margin: 0 0 29px;
            &:after {
              content: "";
              height: 5px;
              width: 69px;
              background: #f0bd00;
              position: absolute;
              left: 0;
              bottom: -16px;
              margin-left: 0;
            }
          }
          p {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            line-height: 1.5;
            margin-bottom: 26px;
            i {
              font-style: normal;
              font-weight: 600;
              margin: 0;
              width: 100%;
              display: block;
            }
          }
        }
        video,
        img {
          float: left;
          width: 100%;
        }
        iframe {
          float: left;
          width: 100%;
          height: 278px;
        }
        @media screen and (max-width: 991px) {
          .col-md-8,
          .col-md-7 {
            width: 60%;
            float: left;
          }
          .col-md-4,
          .col-md-5 {
            width: 40%;
            float: left;
          }
        }
        @media screen and (max-width: 852px) {
          .col-md-8,
          .col-md-7 {
            width: 100%;
            float: left;
          }
          .col-md-4,
          .col-md-5 {
            display: none;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  /* what Do You Get */
  .whatDoYouGet {
    background: url(#{$img-base-url}what-do-you-get.jpg) no-repeat 0 0;
    min-height: 277px;
    height: auto;
    padding: 51px 0;
    float: left;
    width: 100%;
    h3 {
      font-weight: 600;
      width: 100%;
      color: #000;
      font-size: 22px;
      position: relative;
      margin: 0 0 29px;
      padding: 0 15px;
      &:after {
        content: "";
        height: 5px;
        width: 69px;
        background: #000;
        position: absolute;
        left: 15px;
        bottom: -16px;
        margin-left: 0;
      }
    }
    p {
      font-size: 16px;
      font-weight: 700;
      position: relative;
      text-align: center;
      padding-top: 94px;
      &:before {
        content: "";
        position: absolute;
        top: 29px;
        left: 50%;
        width: 58px;
        height: 58px;
        margin-left: -29px;
        background: url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat 0 0;
      }
    }
    .col-md-3:nth-child(2) {
      p {
        &:before {
          background-position: 2px -158px;
        }
      }
    }
    .col-md-3:nth-child(3) {
      p {
        &:before {
          background-position: -73px -158px;
        }
      }
    }
    .col-md-3:nth-child(4) {
      p {
        &:before {
          background-position: -151px -158px;
        }
      }
    }
    .col-md-3:nth-child(5) {
      p {
        &:before {
          background-position: -73px -230px;
        }
      }
    }
    .university,
    .foundation,
    .media,
    .corporation,
    .school {
      width: 100%;
      float: left;
    }
    .foundation:nth-child(2) {
      .col-md-4:nth-child(1) {
        p {
          &:before {
            background-position: -151px -427px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        p {
          &:before {
            background-position: -78px -303px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        p {
          &:before {
            background-position: 0px -487px;
          }
        }
      }
    }
    .foundation:nth-child(3) {
      .col-md-4:nth-child(1) {
        p {
          &:before {
            background-position: -73px -487px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        p {
          &:before {
            background-position: -152px -489px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        p {
          &:before {
            background-position: -152px -229px;
            top: 22px;
          }
        }
      }
    }
    .media:nth-child(2) {
      .col-md-3:nth-child(1) {
        p {
          &:before {
            background-position: 0px -552px;
          }
        }
      }
      .col-md-3:nth-child(2) {
        p {
          &:before {
            background-position: 0px -618px;
            top: 27px;
          }
        }
      }
      .col-md-3:nth-child(3) {
        p {
          &:before {
            background-position: -73px -367px;
          }
        }
      }
      .col-md-3:nth-child(4) {
        p {
          &:before {
            background-position: -70px -547px;
            top: 26px;
          }
        }
      }
    }
    .media:nth-child(3) {
      .col-md-3:nth-child(1) {
        p {
          &:before {
            background-position: 0px -619px;
            top: 28px;
          }
        }
      }
      .col-md-3:nth-child(2) {
        p {
          &:before {
            background-position: 0px -681px;
          }
        }
      }
      .col-md-3:nth-child(3) {
        p {
          &:before {
            background-position: 0px -746px;
            top: 28px;
          }
        }
      }
    }
    .university:nth-child(2) {
      .col-md-3:nth-child(1) {
        p {
          &:before {
            background-position: -78px -304px;
          }
        }
      }
      .col-md-3:nth-child(2) {
        p {
          &:before {
            background-position: -153px -297px;
            top: 27px;
          }
        }
      }
      .col-md-3:nth-child(3) {
        p {
          &:before {
            background-position: 2px -367px;
          }
        }
      }
      .col-md-3:nth-child(4) {
        p {
          &:before {
            background-position: -156px -229px;
            top: 22px;
          }
        }
      }
    }
    .university:nth-child(3) {
      .col-md-3:nth-child(1) {
        p {
          &:before {
            background-position: -78px -304px;
          }
        }
      }
      .col-md-3:nth-child(2) {
        p {
          &:before {
            background-position: 0px -863px;
          }
        }
      }
      .col-md-3:nth-child(3) {
        p {
          &:before {
            background-position: 0px -811px;
            top: 28px;
          }
        }
      }
    }
    .corporation:nth-child(2) {
      .col-md-4:nth-child(1) {
        p {
          &:before {
            background-position: -151px -427px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        p {
          &:before {
            background-position: -78px -303px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        p {
          &:before {
            background-position: 0px -487px;
          }
        }
      }
    }
    .corporation:nth-child(3) {
      .col-md-4:nth-child(1) {
        p {
          &:before {
            background-position: -73px -487px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        p {
          &:before {
            background-position: -152px -489px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        p {
          &:before {
            background-position: -76px -360px;
            top: 22px;
          }
        }
      }
    }
    @media screen and (max-width: 1199px) {
      .media:nth-child(2),
      .media:nth-child(3) {
        .col-md-3 {
          width: 50%;
          float: left;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .university:nth-child(2),
      .university:nth-child(3),
      .corporation:nth-child(2),
      .corporation:nth-child(3) {
        .col-md-3 {
          width: 25%;
          float: left;
        }
      }
      .corporation:nth-child(2),
      .corporation:nth-child(3),
      .foundation:nth-child(2),
      .foundation:nth-child(3) {
        .col-md-4 {
          width: 33.3%;
          float: left;
        }
      }
    }
    @media screen and (max-width: 736px) {
      .university:nth-child(2),
      .university:nth-child(3),
      .corporation:nth-child(2),
      .corporation:nth-child(3),
      .foundation:nth-child(2),
      .foundation:nth-child(3) {
        .col-md-3 {
          width: 50%;
          min-height: 148px;
        }
      }
    }
    @media screen and (max-width: 581px) {
      .university:nth-child(2),
      .university:nth-child(3),
      .corporation:nth-child(2),
      .corporation:nth-child(3),
      .foundation:nth-child(2),
      .foundation:nth-child(3) {
        .col-md-3 {
          min-height: 170px;
        }
      }
    }
    @media screen and (max-width: 539px) {
      .media:nth-child(2),
      .media:nth-child(3) {
        .col-md-3 {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 480px) {
      .corporation:nth-child(2),
      .corporation:nth-child(3),
      .foundation:nth-child(2),
      .foundation:nth-child(3) {
        .col-md-4 {
          width: 100%;
          float: left;
        }
      }
    }
    @media screen and (max-width: 432px) {
      .university:nth-child(2),
      .university:nth-child(3),
      .corporation:nth-child(2),
      .corporation:nth-child(3),
      .foundation:nth-child(2),
      .foundation:nth-child(3) {
        .col-md-3 {
          width: 100%;
          min-height: initial;
        }
      }
    }
    .school {
      .col-md-3:nth-child(1) {
        p {
          &:before {
            background-position: -78px -304px;
          }
        }
      }
      .col-md-3:nth-child(2) {
        p {
          &:before {
            background-position: -153px -297px;
            top: 27px;
          }
        }
      }
      .col-md-3:nth-child(3) {
        p {
          &:before {
            background-position: 2px -367px;
          }
        }
      }
      .col-md-3:nth-child(4) {
        p {
          &:before {
            background-position: -156px -229px;
            top: 22px;
          }
        }
      }
    }
  }
  .whatDoYouGet.bgSize {
    background-size: cover;
  }
  /* Related Products */
  .relatedProducts {
    min-height: 277px;
    height: auto;
    padding: 51px 0;
    float: left;
    width: 100%;
    h3 {
      font-weight: 600;
      width: 100%;
      color: #000;
      font-size: 22px;
      position: relative;
      margin: 0 0 54px;
      padding: 0 15px;
      &:after {
        content: "";
        height: 5px;
        width: 69px;
        background: #000;
        position: absolute;
        left: 15px;
        bottom: -16px;
        margin-left: 0;
      }
    }
    .content {
      float: left;
      width: 100%;
      .col-md-4 {
        .contentInn {
          width: 100%;
          background: #fff;
          border: 3px solid #c7c7c7;
          padding: 15px 0;
          height: 168px;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
          h4 {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            text-align: center;
            padding-top: 0;
            color: #f0bd00;
            margin: 66px 0 5px;
            &:before {
              content: "";
              position: absolute;
              top: -62px;
              left: 50%;
              width: 58px;
              height: 60px;
              margin-left: -29px;
              background: url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat 0 0;
            }
          }
          p {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            color: #000;
            margin-bottom: 0;
          }
          &:hover {
            border: 3px solid #f0bd00;
            -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
          }
        }
        @media screen and (max-width: 1080px) {
          .contentInn {
            padding: 15px;
            height: 188px;
          }
        }
        @media screen and (max-width: 853px) {
          .contentInn {
            height: 200px;
          }
        }
        @media screen and (max-width: 800px) {
          .contentInn {
            height: initial;
            padding-bottom: 30px;
          }
        }
      }
      @media screen and (max-width: 991px) {
        .col-md-4 {
          width: 33.3%;
          float: left;
        }
      }
      @media screen and (max-width: 800px) {
        .col-md-4 {
          width: 100%;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .col-md-4:nth-child(1) {
        .contentInn {
          h4 {
            &:before {
              background-position: 1px -230px;
            }
          }
        }
      }
      .col-md-4:nth-child(2) {
        .contentInn {
          h4 {
            &:before {
              background-position: 1px -352px;
              top: -71px;
            }
          }
        }
      }
      .col-md-4:nth-child(3) {
        .contentInn {
          h4 {
            &:before {
              background-position: 1px -293px;
              top: -67px;
            }
          }
        }
      }
    }
  }
  .relatedProducts.foundation {
    .content {
      .col-md-4:nth-child(1) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: -149px -359px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: 1px -230px;
              top: -62px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: 1px -417px;
              top: -67px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(4) {
        .contentInn {
          height: 208px;
          h4 {
            &:before {
              background-position: -75px -363px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(5) {
        .contentInn {
          height: 208px;
          h4 {
            &:before {
              background-position: -72px -424px;
              top: -62px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(6) {
        .contentInn {
          height: 208px;
          h4 {
            &:before {
              background-position: 1px -292px;
              top: -67px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      @media screen and (max-width: 1080px) {
        .col-md-4 {
          float: left;
          width: 50%;
        }
        .col-md-4:nth-child(4) {
          .contentInn {
            margin-bottom: 30px;
          }
        }
        .col-md-4:nth-child(5),
        .col-md-4:nth-child(6) {
          .contentInn {
            margin-bottom: 0;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .col-md-4 {
          width: 100%;
        }
        .col-md-4:nth-child(4),
        .col-md-4:nth-child(5) {
          .contentInn {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .relatedProducts.corporation {
    .content {
      .col-md-4:nth-child(1) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: -149px -359px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(2) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: 1px -230px;
              top: -62px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(3) {
        .contentInn {
          height: 208px;
          margin-bottom: 30px;
          h4 {
            &:before {
              background-position: 1px -417px;
              top: -67px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      .col-md-4:nth-child(4) {
        .contentInn {
          height: 208px;
          h4 {
            &:before {
              background-position: 1px -292px;
              top: -67px;
            }
          }
          p {
            padding: 0 15px;
          }
        }
      }
      @media screen and (max-width: 1080px) {
        .col-md-4 {
          float: left;
          width: 50%;
        }
        .col-md-4:nth-child(3),
        .col-md-4:nth-child(4) {
          .contentInn {
            margin-bottom: 0;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .col-md-4 {
          width: 100%;
        }
        .col-md-4:nth-child(3) {
          .contentInn {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .relatedProducts.school {
    .content {
      .col-md-4:nth-child(2) {
        .contentInn {
          h4 {
            &:before {
              background-position: -76px -352px;
              top: -71px;
            }
          }
        }
      }
    }
  }
  .relatedProducts.university {
    .content {
      .col-md-4:nth-child(2) {
        .contentInn {
          h4 {
            &:before {
              background-position: -152px -223px;
              top: -71px;
            }
          }
        }
      }
    }
  }
  /* Our Clients */
  .ourClients {
    min-height: 277px;
    height: auto;
    padding: 51px 0;
    float: left;
    width: 100%;
    margin-bottom: 75px;
    .row {
      margin-left: -15px;
      margin-right: -15px;
      h3 {
        font-weight: 600;
        width: 100%;
        color: #000;
        font-size: 22px;
        position: relative;
        margin: 0 0 54px;
        padding: 0 15px;
        &:after {
          content: "";
          height: 5px;
          width: 69px;
          background: #000;
          position: absolute;
          left: 15px;
          bottom: -16px;
          margin-left: 0;
        }
      }
      .content {
        float: left;
        width: 100%;
        .col-md-2 {
          display: table;
          .contentInn {
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            height: 100px;
            img {
              width: 100%;
              display: block;
              margin: 0 auto;
              border-radius: 6px;
              border: 1px solid #e8e8e8;
              height: 86px;
              padding: 5px;
            }
          }
        }
        .slick-slider {
          padding: 0;
          .slick-arrow {
            display: none !important;
          }
          .slick-dots {
            list-style: none;
            margin: 21px auto 0;
            padding: 0;
            width: auto;
            display: table !important;
            li {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fff !important;
              display: inline-block;
              margin: 0 4px;
              button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 12px;
                height: 12px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: 0;
                background: 0 0;
              }
            }
            li.slick-active {
              background: #f0bd00 !important;
            }
          }
        }
      }
      .content.mediaPartners {
        float: left;
        width: 100%;
        .col-md-2 {
          width: 20%;
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border-right: 5px solid #f1c61a;
            width: 100%;
            height: 100%;
            display: block;
            li,
            li.active {
              display: block;
              width: 100%;
              height: 82px;
              padding-top: 32px;
              background: #f2f2f2;
              margin-bottom: 10px;
              position: relative;
              font-size: 15px;
              color: #000;
              font-weight: 700;
              text-align: left;
              padding-left: 62px;
              cursor: pointer;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 13px;
                width: 36px;
                height: 40px;
                margin-top: -18px;
                background: url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat 0 0;
                background-position: -83px -610px;
                z-index: 1;
              }
              &:last-child {
                margin-bottom: 0;
              }
              @media screen and (max-width: 1199px) {
                &:last-child {
                  padding-top: 22px;
                  padding-right: 1px;
                }
              }
              @media screen and (max-width: 991px) {
                &:last-child {
                  padding-top: 22px !important;
                  padding-right: 7px;
                }
              }
              /*&:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5) {
                &:before {
                  background-position: -83px -610px;
                }
              }*/
              &:hover {
                background: #f1c61a;
                color: #fff;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                /*&:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {*/
                &:before {
                  background-position: -150px -606px;
                }
                /*}*/
              }
            }
            @media screen and (max-width: 1024px) {
              li,
              li.active {
                padding-top: 32px;
                padding-right: 0;
                font-size: 14px;
                &:last-child {
                  padding-top: 32px;
                }
              }
            }
            @media screen and (max-width: 966px) {
              li,
              li.active {
                padding-top: 22px;
                padding-right: 25px;
                &:last-child {
                  padding-top: 22px;
                }
              }
            }
            li.active {
              background: #f1c61a;
              color: #fff;
              cursor: default;
              /*&:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5) {*/
              &:before {
                background-position: -150px -606px;
              }
              /*}*/
            }
          }
        }
        .col-md-10 {
          width: 80%;
          ul {
            li {
              float: left;
              width: 100%;
              h4 {
                font-size: 18px;
                font-weight: 700;
                color: #000;
                padding-left: 107px;
                border: 2px solid #f1c61a;
                height: 56px;
                line-height: 53px;
                width: 100%;
                position: relative;
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 10px;
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 63px;
                  height: 52px;
                  background: #f1c61a url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat 0 0;
                  z-index: 1;
                }
                &:after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 63px;
                  width: 0;
                  height: 0;
                  border-left: 26px solid #f1c61a;
                  border-top: 26px solid transparent;
                  border-bottom: 26px solid transparent;
                }
                span {
                  background: #f1c61a;
                  width: 0;
                  display: block;
                  overflow: hidden;
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 52px;
                  -webkit-transition: all 1s ease;
                  -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                  transition: all 1s ease;
                }
                i {
                  margin: 16px 15px 16px 0;
                  float: right;
                  width: 22px;
                  height: 22px;
                  background: url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat -171px -729px;
                  position: relative;
                  z-index: 1;
                }
                span.titleText {
                  position: absolute;
                  top: 10px;
                  left: 104px;
                  z-index: 2;
                  width: auto;
                  background: transparent;
                }
                &:hover {
                  span {
                    width: 100%;
                  }
                  .titleBox {
                    &:before {
                      left: 64px;
                    }
                  }
                  span.titleText {
                    position: absolute;
                    top: 10px;
                    left: 64px;
                    z-index: 9;
                    width: auto;
                    background: transparent;
                  }
                }
              }
              @media screen and (max-width: 1024px) {
                h4 {
                  font-size: 16px;
                }
              }
              .newsPaper {
                &:before {
                  background-position: -70px -657px;
                }
                .titleBox {
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 107px;
                    z-index: 2;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease;
                  }
                }
              }
              .ePaper {
                &:before {
                  background-position: -139px -653px;
                }
                .titleBox {
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 107px;
                    z-index: 2;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease;
                  }
                }
              }
              .radioStations {
                &:before {
                  background-position: -71px -712px;
                }
                .titleBox {
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 107px;
                    z-index: 2;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease;
                  }
                }
              }
              .othersMedia {
                &:before {
                  background-position: -70px -768px;
                }
                .titleBox {
                  &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 107px;
                    z-index: 2;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease;
                  }
                }
              }
              .logoWrapper {
                float: left;
                height: auto;
                width: 100%;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;
                .col-md-2 {
                  display: table;
                  margin-top: 7.5px;
                  margin-bottom: 7.5px;
                  padding-left: 7.5px;
                  padding-right: 7.5px;
                  .contentInn {
                    width: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    img {
                      width: 100%;
                      display: block;
                      margin: 0 auto;
                      border-radius: 6px;
                      border: 1px solid #e8e8e8;
                    }
                  }
                }
              }
              /*  .logoWrapper.boxAuto{            
                height: auto;
                overflow-y: auto;
                padding-top:7.5px;
                padding-bottom:7.5px;
              }
              .logoWrapper.boxAni{
                padding-top:7.5px;
                padding-bottom:7.5px;            
                height: 242px;
                -webkit-transition:all 1s ease;
                -moz-transition:all 1s ease;
                -o-transition:all 1s ease;
                transition:all 1s ease;
              } */
              h4.active {
                &:after {
                  display: none;
                }
                span {
                  width: 100%;
                }
                i {
                  margin: 16px 15px 16px 0;
                  float: right;
                  width: 22px;
                  height: 22px;
                  background: url(#{$img-base-url}hamburgerSpriteImg.png) no-repeat -137px -729px;
                }
                span.titleText {
                  position: absolute;
                  top: 0;
                  left: 60px;
                  z-index: 2;
                  width: auto;
                }
              }
              .newsPaper.active,
              .ePaper.active,
              .radioStations.active {
                .titleBox {
                  &:before {
                    left: 64px;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 991px) {
          .col-md-2,
          .col-md-10 {
            float: left;
          }
          .col-md-10 {
            ul {
              li:first-child {
                h4 {
                  margin-top: 0;
                }
              }
            }
          }
        }
        @media screen and (max-width: 829px) {
          .col-md-10 {
            width: 79%;
          }
        }
        @media screen and (max-width: 791px) {
          .col-md-10 {
            width: 78%;
          }
        }
        @media screen and (max-width: 754px) {
          .col-md-10 {
            width: 77%;
          }
        }
        @media screen and (max-width: 722px) {
          .col-md-2,
          .col-md-10 {
            width: 100%;
          }
          .col-md-2 {
            ul {
              border-right: 0;
              li,
              li.active {
                width: 20%;
                float: left;
              }
            }
          }
          .col-md-10 {
            ul {
              li {
                .logoWrapper {
                  .col-md-2 {
                    max-width: 20%;
                    width: 100%;
                  }
                }
              }
            }
          }
          @media screen and (max-width: 568px) {
            .col-md-10 {
              ul {
                li {
                  .logoWrapper {
                    .col-md-2 {
                      max-width: 25%;
                    }
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 635px) {
          .col-md-2 {
            ul {
              li,
              li.active {
                width: 33.3%;
                float: left;
                padding-top: 32px;
              }
              li:last-child {
                padding-top: 32px !important;
              }
            }
          }
        }
        @media screen and (max-width: 543px) {
          .col-md-2 {
            ul {
              li,
              li.active {
                width: 33.3%;
                float: left;
                padding-top: 22px;
                padding-right: 37px;
              }
              li:last-child {
                padding-top: 22px !important;
                padding-right: 37px;
              }
            }
          }
        }
        @media screen and (max-width: 480px) {
          .col-md-2 {
            ul {
              li,
              li.active {
                width: 100%;
                float: left;
                padding-top: 18px;
                padding-right: 0;
                height: 51px;
                &:before {
                  top: 6px;
                  margin-top: 0;
                }
              }
              li:last-child {
                padding-top: 18px !important;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}
