header {
  background-color: transparent;
}

.bggreay {
  ul {
    margin-bottom: 0;

    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;

      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }

    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }

    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }

    li:last-child:after {
      display: none;
    }
  }
}

.about {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  .bgabout {
    background-image: $about-top-banner;
    background-position: 73% 100%;
    @extend .default-banner-property;

    h1 {
      @extend .static-heading;
    }

    h2 {
      @extend .static-subheading;
    }

    p {
      margin: 0 15px;
    }
  }

  .sectionAbout {
    margin-top: 40px;
    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 0;
    }

    p {
      @include line-height(30px);
      font-size: 16px;
      @media screen and (max-width: 1199px) {
        line-height: 25px;
        font-size: 14px;
      }
      @media screen and (max-width: 767px) {
        text-align: justify;
      }
    }

    h2,
    img {
      font-size: 27px;
      @include padding(20px 0 15px);
      @include margin(0 auto);
      @media screen and (max-width: 767px) {
        font-size: 22px;
        font-weight: 600;
      }
    }

    .col-md-6 {
      .col-md-6 {
        padding: 0;
      }
    }

    .aboutsec {
      h3 {
        font-size: 23px;
        @include padding(0 0 5px);
        margin-left: 15px;
        @media screen and (max-width: 767px) {
          margin-left: 20px;
          margin-top: 15px;
        }
        @media screen and (max-width: 480px) {
          margin-left: 0;
        }
      }

      p {
        margin-left: 15px;
        @include line-height(24px);
        font-size: 15px;
        @media screen and (max-width: 767px) {
          margin-left: 20px;
          line-height: 23px;
          font-size: 14px;
        }
        @media screen and (max-width: 480px) {
          margin-left: 0;
        }
      }
    }
  }

  .companyHist .container > h4 {
    color: $black-color;
    @include font-size(32px);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 24px 0 42px 0;
    text-transform: initial;
    text-align: $text-align-center;
  }
  @media screen and (max-width: 1023px) {
    .companyHist {
      display: none;
    }
  }
  .historyPoll {
    width: 12px;
    height: 1008px;
    background-color: #dee0e3;
    margin: 0 auto;

    ul {
      margin: 0;
      padding: 0;
      float: left;

      li {
        color: $black-color;
        position: $pos-relative;
        margin-bottom: 52px;
        width: 12px;
        height: 20px;

        i.hisYear {
          color: $black-color;
          width: 100px;
          background-color: $white-color;
          height: 25px;
          left: -12px;
        }

        article {
          width: 390px;
          position: $pos-absolute;
        }

        .stripLeft,
        .striptRight {
          background: #dee0e3;
          display: inline-block;
          height: 2px;
          position: absolute;
          width: 90px;
          top: 9px;
        }

        .stripLeft {
          left: -79px;
        }

        .striptRight {
          right: -89px;
        }

        .hisMonth {
          display: inline-block;
          @include font-size(26px);
          left: 26px;
          position: $pos-absolute;
          top: -9px;
          width: 100px;
        }

        h5 {
          font-size: 16px;
          margin: 0 20px;
          position: absolute;
          width: 440px;
          font-weight: 400;
        }
      }

      li::before {
        background-color: #dee0e3;
        border: 5px solid #fff;
        border-radius: 50%;
        color: $black-color;
        content: "";
        @include font-size(20px);
        height: 20px;
        margin-left: -4px;
        position: $pos-absolute;
        top: 0;
        width: 20px;
      }

      li:first-child i.hisYear,
      li:nth-child(4) i.hisYear,
      li:nth-child(8) i.hisYear,
      li:nth-child(10) i.hisYear,
      li:nth-child(14) i.hisYear {
        background: #ffffff none repeat scroll 0 0;
        @include font-size(28px);
        height: 35px;
        left: -26px;
        position: $pos-relative;
        top: -6px;
        width: 100px;
        z-index: 999;
      }
      li:nth-child(2) article,
      li:nth-child(3) article,
      li:nth-child(9) article,
      li:nth-child(15) article {
        left: 0;
        text-align: right;
        h5 {
          top: 1px;
          left: -567px;
        }
      }

      li:nth-child(5) article,
      li:nth-child(6) article,
      li:nth-child(7) article,
      li:nth-child(11) article,
      li:nth-child(12) article,
      li:nth-child(13) article {
        left: 113px;
        text-align: left;
        top: 0;
      }

      li:nth-child(5) i.hisMonth {
        left: -93px;
      }

      li:nth-child(6) i.hisMonth,
      li:nth-child(7) i.hisMonth {
        left: -113px;
      }

      li:nth-child(11) i.hisMonth,
      li:nth-child(12) i.hisMonth {
        left: -143px;
      }
      li:nth-child(13) i.hisMonth {
        left: -153px;
      }
    }
  }

  .about-b4s-bg {
    background-color: $bg-color-grey;
    color: $t-color-black;
    @media screen and (max-width: 767px) {
      .cell-padding {
        padding: 0;
      }
    }

    .cell-bg {
      padding: 15px;
    }

    h3,
    h4 {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 24px;
    }

    .col-margin-about {
      margin-top: 20px;
    }

    .icon {
      float: $text-align-left;
      width: 50px;
    }

    .details {
      width: auto;

      h5 {
        float: $text-align-left;
        @include font-size(24px);
        font-weight: $font-weight-400;
        position: $pos-relative;
        margin: 0 0 10px 70px;
        width: 100%;
      }

      h5:before {
        content: "";
        background: url(#{$img-base-url}sprite.png) no-repeat;
        width: 65px;
        height: 40px;
        position: $pos-absolute;
        left: -81px;
        top: -4px;
      }

      h5.vi:before {
        background-position: 0 -1646px;
      }

      h5.mi:before {
        background-position: -3px -1554px;
        top: -3px;
      }

      h5.va:before {
        background-position: 0 -1598px;
        top: -5px;
      }

      p {
        padding: 0 0 25px 70px;
        line-height: 1.5;
        float: $text-align-left;
      }
    }

    .top-image {
      margin-top: 40px;
    }
  }

  .partner {
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    background: #eaeaea;
    h4 {
      font-size: 32px;
      color: #1a1a18;
      margin: 0px 0 30px;
      text-transform: initial;
    }

    .thumbnail {
      height: 90px;
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 0;
      width: 270px;
      padding: 0;
      margin: 30px 0;
    }
    .slick-prev,
    .slick-next {
      top: 50%;
      width: 30px;
      height: 30px;
    }
    .slick-prev {
      left: 0;
      &:before {
        content: "";
        left: 0;
        height: 30px;
        width: 30px;
        margin-top: 0;
        top: 0;
        background-position: 7px 50%;
      }
    }
    .slick-next {
      right: 0;
      &:before {
        content: "";
        right: 0;
        height: 30px;
        width: 30px;
        margin-top: 0;
        top: 0;
        background-position: 7px 50%;
      }
    }
    .slick-list {
      .slick-slide {
        img {
          margin: 0 auto;
          background: #fff;
          padding: 7.5px 0;
          border: 1px solid #dee0e3;
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
