@media screen and (max-width: 767px) {
  .about {
    .equial-padding {
      padding-top: 0px;
      padding-bottom: 20px;
    }
    .about-b4s-bg {
      h4 {
        padding-top: 30px;
      }
    }
    .smimg {
      float: left;
      width: 25%;
    }
    .smcontent {
      float: left;
      width: 75%;
      padding-left: 20px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    .sectionAbout {
      .aboutsec {
        .col-xs-12 {
          .col-md-12 {
            padding: 0;
            float: left;
            width: 100%;
          }
        }
      }
      img {
        float: left;
        width: 100%;
      }
    }
    .equial-padding {
      padding-top: 0px;
      padding-bottom: 20px;
    }
    .about-b4s-bg {
      h4 {
        padding-top: 30px;
      }
    }
    .smimg {
      float: left;
      width: 100%;
    }
    .smcontent {
      float: left;
      width: 100%;
    }
  }
}
