header {
  background-color: map-get($colors, transparentBg);
}

body {
  /* Set "counter" to 0 */
  counter-reset: counter;
}

.whiteBg {
  background: #fff;
}

.lightGrayBg {
  background: rgba(0, 0, 0, 0.03);
}

.bggreay {
  ul {
    margin-bottom: 0;

    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;

      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }

    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }

    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }

    li:last-child:after {
      display: none;
    }
  }
}

/* template style */
.collegeBoardBg {
  padding-top: 0;

  .collegeBoardBanner {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    img {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      display: block;
    }

    @media screen and (max-width: 800px) {
      img {
        width: auto;
        display: none;
      }
    }
  }

  @media screen and (max-width: 897px) {
    .collegeBoardBanner {
      padding-bottom: 45px;
      background: #fff url(#{$img-base-url}topBanner.png) no-repeat 0 0;
      min-height: 415px;
    }
  }

  @media screen and (max-width: 590px) {
    .collegeBoardBanner {
      background: #fff url(#{$img-base-url}topBanner.png) no-repeat -170px 0;
      min-height: 448px;
    }
  }

  @media screen and (max-width: 480px) {
    .collegeBoardBanner {
      background: #fff url(#{$img-base-url}topBanner.png) no-repeat -420px 0;
      min-height: 510px;
    }
  }

  @media screen and (max-width: 408px) {
    .collegeBoardBanner {
      background: #fff url(#{$img-base-url}topBanner.png) no-repeat -484px 0;
      min-height: 524px;
    }
  }

  @media screen and (max-width: 375px) {
    .collegeBoardBanner {
      background: #fff url(#{$img-base-url}topBanner.png) no-repeat -498px 0;
      min-height: 525px;
    }
  }

  .bannerBh {
    width: 100%;
    float: left;
    position: relative;

    background-image: $college-top-banner;
    @extend .default-banner-property;
    background-position: 51% 100%;
    text-align: center;

    .logo {
      width: 175px;
      float: left;
    }

    .cbLogo {
      float: right;
      width: 160px;
      border-radius: 5px;
      margin: 8px 0 0;     
    }

    @media screen and (max-width: 853px) {
      .logo,
      .cbLogo {
        width: 125px;
      }
    }

    .centerAlign {
      width: 100%;
      text-align: center;
      position: relative;

      h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        line-height: 1.2;
      }

      @media screen and (max-width: 853px) {
        h1 {
          padding: 0 15px;
        }
      }

      @media screen and (max-width: 800px) {
        h1 {
          font-size: 24px;
        }
      }

      @media screen and (max-width: 414px) {
        h1 {
          font-size: 20px;
        }
      }

      @media screen and (max-width: 375px) {
        h1 {
          font-size: 18px;
        }
      }

      p {
        width: 80%;
        margin: 30px auto;

        line-height: 1.5;

        span {
          margin-top: 10px;
          margin-bottom: 10px;
          display: block;
          font-weight: 400;
          font-size: 21px;
          color: #f0bd00;
        }

        @media screen and (max-width: 913px) {
          span {
            font-size: 15px;
          }

          span:nth-child(3) {
            font-size: 18px;
          }
        }

        @media screen and (max-width: 898px) {
          span {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
          }

          span:nth-child(2) {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }

      @media screen and (max-width: 1199px) {
        p {
          margin: 30px auto 30px;
        }
      }

      @media screen and (max-width: 1112px) {
        p {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      @media screen and (max-width: 991px) {
        p {
          margin: 0 auto;
          font-size: 16px;
          font-weight: 300;
          width: 100%;
          padding: 0 15px;
        }
      }

      @media screen and (max-width: 350px) {
        p {
          font-size: 14px;
        }
      }

      button {
        background: #f0bd00;
        color: #fff;
        font-size: 16px;
        text-align: center;
        height: 50px;
        width: auto;
        font-weight: 600;
        border: 0;
        border-radius: 30px;
        padding: 0 30px;
      }
    }
  }

  .collegeBoardEvent,
  .collegeBoardiscount,
  .collegeBoardFoundingMembersRow,
  .collegeBoardFAQsRow {
    h3 {
      width: 100%;
      color: #000;
      font-size: 26px;
      position: relative;
      margin: 0 0 52px;
      font-weight: 600;
      text-align: center;

      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -18px;
      }
    }
  }

  /* Process & Steps to be followed */
  .collegeBoardStepsFollowedContent {
    width: 100%;
    position: relative;
    float: left;
    height: 60px;

    .content {
      width: 100%;
      display: block;
      height: auto;
      text-align: center;

      ul {
        text-align: left;
        display: block;

        li {
          display: inline-block;
          border-right: 1px solid #f0bd00;
          height: 60px;
          line-height: 60px;
          width: 20%;
          text-align: center;
          font-weight: bold;
          color: #272727;
          font-size: 13px;
          cursor: pointer;
        }

        li:nth-child(5) {
          background-color: #f0bd00;
          color: #fff;
          border-right: none;
        }
      }

      @media screen and (max-width: 1024px) {
        ul {
          li {
            width: 50%;
            border-right: none;
            border-bottom: 1px solid #f0bd00;
          }

          li:nth-child(5) {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 767px) {
        ul {
          text-align: center;

          li,
          li:nth-child(5) {
            width: auto;
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            padding: 0 15px;
            border-bottom: none;
            border-radius: 5px;
            background: #f0bd00;
            margin: 2px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .collegeBoardStepsFollowedContent {
      height: initial;
    }
  }

  .collegeBoardStepsFollowedContent.stickeyfix {
    background: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.7s;
    position: fixed;
    width: 100%;
    z-index: 99991;
    transform: translateZ(0);
    transition: all 0.5s;
    padding: 0;
    left: 0;
    top: 0;

    .content {
      ul {
        li {
          color: #fff;
        }
      }
    }
  }

  .collegeBoardEvent {
    width: 100%;
    float: left;
    padding: 60px 0;

    h3 {
      width: 100%;
      color: #000;
      font-size: 18px;
      position: relative;
      margin: 4px 0 33px;
      font-weight: 600;
      text-align: left;

      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 0;
        bottom: -13px;
        margin-left: 0;
      }
    }

    .tabWrapper {
      float: left;
      margin: 40px 0 0;
      padding: 0;
      position: relative;
      width: 100%;

      ul.tablist {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        position: absolute;
        top: -33px;
        left: 0;

        li {
          padding: 9px 21px;
          float: left;
          width: 50%;
          position: relative;
          text-align: center;
          background: rgba(0, 0, 0, 0.1);
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: pointer;
          -webkit-transition: initial;
          -moz-transition: initial;
          transition: initial;

          &:before {
            display: none;
          }
        }

        @media screen and (max-width: 767px) {
          li {
            width: 50%;
          }
        }

        li.active {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid #fff;
          background: #fff;
          cursor: default;
          font-weight: bold;
          color: #f0bd00;
        }

        @media screen and (max-width: 361px) {
          li.active {
            font-weight: 400;
          }
        }
      }

      .OfficialSATPractice {
        .scrollbarColor {
          height: 300px;
          overflow-y: scroll;

          p {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            color: #000;

            a {
              color: #000;

              .imgWrapper {
                width: 144px;
                height: 70px;
                padding: 5px;
                border: 1px solid #e5e5e5;
                float: left;
                display: table;

                .imgContent {
                  display: table-cell;
                  vertical-align: middle;
                  width: 100%;
                  height: 100%;

                  img {
                    display: block;
                    margin: 0 auto;
                    width: 115px;
                    height: auto;
                  }
                }
              }

              @media screen and (max-width: 400px) {
                .imgWrapper {
                  width: 100px;
                  height: 60px;
                }
              }

              span {
                width: 75%;
                font-size: 16px;
                margin-left: 15px;
                display: inline-block;
              }

              @media screen and (max-width: 1199px) {
                span {
                  width: 70%;
                }
              }

              @media screen and (max-width: 855px) {
                span {
                  width: 60%;
                }
              }

              @media screen and (max-width: 465px) {
                span {
                  width: 50%;
                }
              }
            }
          }
        }

        /* width */
        .scrollbarColor::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        .scrollbarColor::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        .scrollbarColor::-webkit-scrollbar-thumb {
          background: #f0bd00;
        }

        /* Handle on hover */
        .scrollbarColor::-webkit-scrollbar-thumb:hover {
          background: #f0bd00;
        }

        .linkWrapper {
          float: left;
          width: 100%;
          margin-top: 5px;

          a {
            float: left !important;
            clear: left !important;
          }
        }
      }

      .tabContent {
        margin: 0;
        padding: 15px;
        float: left;
        width: 100%;
        background: #fff;
        min-height: 340px;
        font-size: 16px;
        color: #000;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
      }
    }

    .videos {
      background: #f7f7f7;
      color: #000;
      min-height: 100px;
      padding: 15px;
      float: left;
      width: 100%;
      position: relative;

      a {
        float: right;
        color: #000;
        text-decoration: underline;
        position: relative;
        right: 15px;

        &::before {
          content: "";
          position: $position-absolute;
          top: 8px;
          right: -15px;
          width: 11px;
          height: 10px;
          background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
          display: block;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .videos {
        margin-bottom: 15px;
      }
    }

    .videos.right {
      background: transparent;
      padding: 0;
      margin-bottom: 15px;

      .date {
        background: #f0bd00;
        float: left;
        width: 95px;
        margin-right: 15px;
        position: relative;
        padding: 15px 0;
        min-height: 100px;

        span {
          display: block;
          text-align: center;
          /* margin: 0 auto; */
          float: left;
          width: 100%;
          font-size: 28px;
          font-weight: bold;
          color: #fff;
          position: relative;
        }

        span.month {
          font-size: 18px;
          font-weight: normal;
        }
      }
    }

    @media screen and (max-width: 768px) {
      img {
        width: 100%;
      }
    }
  }

  .collegeBoardiscount {
    width: 100%;
    float: left;
    padding: 60px 0;
    background: #f9f9f9;

    h4 {
      background: rgba(0, 0, 0, 0.1);
      color: #000;
      width: 100%;
      position: relative;
      padding: 9px 15px;
      float: left;
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      h4 {
        width: 100%;
      }
    }
    .detailsbox {
      background: #ffffff;
      border: 1px solid #eeeeee;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .amount {
        float: left;
        width: 100%;
        position: relative;
        padding: 15px 30px 30px;
        button {
          background: #f0bd00;
          color: #fff;
          font-size: 16px;
          text-align: center;
          height: 48px;
          width: auto;
          font-weight: 600;
          border: 0;
          border-radius: 30px;
          padding: 0 30px;
          border: 1px solid #e4a604;
          float: left;
          position: relative;
          margin: 15px 0;
        }
        ul {
          float: left;
          width: 100%;
          position: relative;

          li {
            position: relative;
            padding-left: 35px;
            line-height: 30px;

            &::before {
              content: "";
              position: $position-absolute;
              top: 8px;
              left: 0;
              width: 25px;
              height: 20px;
              background: url(#{$img-base-url}scholarship-icon.png) no-repeat 0 0;
              display: block;
            }
          }
        }
        ul.award {
          li {
            &::before {
              background: url(#{$img-base-url}awards-icon.png) no-repeat 0 0;
            }
          }
        }
        h5,
        h6,
        p {
          width: 100%;
        }
        h5 {
          color: #ff6565;
          font-size: 18px;
          font-weight: 600;
          text-decoration: line-through;

          span {
            padding-left: 30px;
          }
        }

        h6 {
          color: #007f12;
          font-size: 18px;
          font-weight: 600;

          span {
            padding-left: 30px;
          }
        }
        p {
          color: #000;
          font-size: 16px;

          span {
            padding-left: 95px;
          }
          @media screen and (max-width: 400px) {
            span {
              padding-left: 90px;
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        .amount {
          padding: 10px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .detailsbox {
        margin: 15px 0;
      }
    }
    p {
      float: left;
      width: 100%;
      position: relative;
    }
  }

  /* Founding Members */
  .collegeBoardFoundingMembersRow {
    width: 100%;
    float: left;
    padding: 60px 0;
    .tabWrapper {
      float: left;
      margin: 40px 0 0;
      padding: 0;
      position: relative;
      width: 100%;

      ul.tablist {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        position: absolute;
        top: -39px;
        left: 0;

        li {
          padding: 9px 21px;
          float: left;
          width: 50%;
          position: relative;
          text-align: center;
          background: rgba(0, 0, 0, 0.1);
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: pointer;
          -webkit-transition: initial;
          -moz-transition: initial;
          transition: initial;

          &:before {
            display: none;
          }
        }

        @media screen and (max-width: 600px) {
          li {
            width: 100%;
            padding: 5px;
          }
        }

        li.active {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid #fff;
          background: #fff;
          cursor: default;
          font-weight: bold;
          color: #f0bd00;
        }

        @media screen and (max-width: 361px) {
          li {
            font-size: 14px;
          }
          li.active {
            font-weight: 400;
          }
        }
      }

      .tabContent {
        margin: 0;
        padding: 15px;
        float: left;
        width: 100%;
        background: #fff;
        min-height: 340px;
        font-size: 16px;
        color: #000;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        .contentBody {
          float: left;
          border: 1px solid #cfcfcf;
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
          height: 135px;
          padding: 5px 0 0 0;

          img {
            width: 150px;
          }

          p {
            font-size: 14px;
            color: #296aa0;
            padding: 7.5px;
          }
        }
      }
      @media screen and (max-width: 600px) {
        .tabContent {
          margin: 15px 0 0 0;
        }
      }
    }
  }

  /* Frequently Asked Question */
  .collegeBoardFAQsRow {
    width: 100%;
    position: relative;
    float: left;
    padding: 60px 0;

    .content {
      width: 100%;
      display: block;
      text-align: center;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 15px;

        a {
          color: #f0bd00;
          text-decoration: underline;
          margin: 0;
          word-break: break-all;

          &:hover {
            color: #000;
            text-decoration: none;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;

        li {
          float: left;
          width: 100%;
          border-radius: 6px;
          padding: 0 0 0 60px;
          margin-bottom: 30px;
          position: relative;
          display: table;
          font-size: 14px;
          font-weight: 400;
          text-align: left;

          h5 {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin-bottom: 5px;
            margin-top: 0;
            line-height: 1.5;
            cursor: pointer;
            position: relative;

            &:before {
              position: absolute;
              top: -6px;
              left: -55px;
              content: "";
              width: 38px;
              height: 38px;
              border-radius: 50%;
              text-align: center;
              line-height: 35px;
              color: #fff;
              font-size: 38px;
              padding-left: 3px;
              cursor: pointer;
              background: #f0bd00 url(#{$img-base-url}spriteImgCB.png) no-repeat 5px -77px;
            }
          }

          p {
            display: none;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 15px;
            float: left;
            width: 100%;

            li {
              margin: 0 0 15px;
              padding: 0 15px;
              float: left;
              width: 100%;
              position: relative;
              text-align: left;

              &:before {
                position: absolute;
                left: 0;
                top: 9px;
                content: "";
                font-weight: 700;
                width: 6px;
                height: 6px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 50%;
              }

              &:last-child {
                margin-bottom: 0;
              }

              a {
                color: #f0bd00;
                text-decoration: underline;
                margin: 0;
                transition: all 0.5s ease-in;
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;

                &:hover {
                  color: #000;
                  text-decoration: none;
                }
              }
            }
          }
        }

        li.active {
          h5 {
            &:before {
              background-position: -33px -77px;
            }
          }

          p {
            display: block;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  /* support */
  .collegeBoardSupport {
    float: left;
    width: 100%;
    position: relative;
    padding: 60px 0;
    background: #ebebeb;

    h3 {
      width: 100%;
      color: #000;
      font-size: 26px;
      position: relative;
      margin: 0 0 52px;
      font-weight: 600;
      text-align: center;

      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -18px;
      }
    }

    p {
      margin: 0 0 30px;
      text-align: center;
    }

    .supportList {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: table;

      li {
        float: left;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        dd {
          display: inline;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: url(#{$img-base-url}spriteImgCB.png) no-repeat;
        }

        @media screen and (max-width: 561px) {
          &::before {
            left: inherit;
          }
        }

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }

      @media screen and (max-width: 561px) {
        li {
          float: none;
          width: 100%;
          text-align: center;
        }
      }

      li:first-child {
        margin-right: 7.5px;
        padding-left: 30px;

        &:before {
          background-position: -1px -57px;
          width: 24px;
          height: 25px;
        }

        span {
          font-size: 14px;
          position: relative;
          top: -2px;
          left: 5px;
        }
      }

      @media screen and (max-width: 561px) {
        li:first-child {
          margin-right: 0;
          padding-left: 0;
          margin-bottom: 0;

          dd {
            padding-left: 29px;
            font-size: 14px !important;
          }

          span {
            font-size: 12px;
          }
        }
      }

      li:last-child {
        margin-left: 7.5px;
        padding-left: 40px;

        &:before {
          background-position: -38px -57px;
          width: 33px;
          height: 23px;
        }
      }

      @media screen and (max-width: 794px) {
        li:last-child {
          margin-top: 10px;
          margin-left: 0;
          clear: left;
        }
      }

      @media screen and (max-width: 561px) {
        li:last-child {
          margin-left: 0;
          padding-left: 0;

          a {
            padding-left: 39px;
            font-size: 14px;
          }
        }
      }
    }

    @media screen and (max-width: 561px) {
      .supportList {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: table;
        width: auto;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .collegeBoardSupport,
    .collegeBoardiscount,
    .collegeBoardEvent,
    .collegeBoardFoundingMembersRow,
    .collegeBoardFAQsRow {
      padding: 30px 0;

      h3 {
        margin: 15px 0 30px 0;
        font-size: 18px;
        padding: 0 15px;
        float: left;
        text-align: center;

        &:after {
          left: 50%;
        }
      }
    }

    .collegeBoardEvent {
      .col-md-4,
      .col-sm-4 {
        float: left;
      }
    }
  }
}
.collegeBoardBg.MarginRow {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.collegeBoardSupport.scrollClass,
.collegeBoardEvent.scrollClass,
.collegeBoardiscount.scrollClass,
.collegeBoardFoundingMembersRow.scrollClass,
.collegeBoardFAQsRow.scrollClass {
  padding: 85px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .collegeBoardSupport.scrollClass,
  .collegeBoardEvent.scrollClass,
  .collegeBoardiscount.scrollClass,
  .collegeBoardFoundingMembersRow.scrollClass,
  .collegeBoardFAQsRow.scrollClass {
    padding: 215px 0 0 0;
  }
}

.collegeBoardBg {
  .collegeBoardEvent {
    .tabWrapper {
      .tabContent {
        .AboutSATExam {
          .speech {
            .cellWrapper {
              position: relative;
              float: left;

              .contentBody {
                padding: 0;
                height: auto;
                float: left;
                width: 100%;
              }

              .contentFooter {
                background: #f7f7f7;
                color: #000;
                min-height: 82px;
                padding: 15px;
                float: left;
                width: 100%;
                position: relative;

                p {
                  color: #000;
                  font-weight: 400;
                  text-align: left;
                  font-size: 16px;
                }
              }
            }

            .slick-slider {
              padding: 0;

              .slick-slide {
                iframe {
                  float: left;
                  width: 100%;
                  height: 180px;
                }
              }
            }

            .slick-next:before {
              display: none;
            }

            .slick-prev:before {
              display: none;
            }

            /* Dots */

            .slick-dotted.slick-slider {
              margin-bottom: 30px;
            }

            .slick-dots {
              position: absolute;
              bottom: -30px;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              text-align: center;
            }

            .slick-dots li {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 20px;
              margin: 0 5px;
              padding: 0;
              cursor: pointer;
            }

            .slick-dots li button {
              font-size: 0;
              line-height: 0;
              display: block;
              width: 20px;
              height: 20px;
              padding: 5px;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
            }

            .slick-dots li button:hover,
            .slick-dots li button:focus {
              outline: none;
            }

            .slick-dots li button:hover:before,
            .slick-dots li button:focus:before {
              opacity: 1;
            }

            .slick-dots li button:before {
              font-family: "slick";
              font-size: 6px;
              line-height: 20px;
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              content: "•";
              text-align: center;
              font-size: 60px;
              opacity: 0.25;
              color: black;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

            .slick-dots li.slick-active button:before {
              opacity: 0.75;
              color: black;
            }
          }
        }
      }
    }
  }
}
