.kindLanding {
  .banner {
    background: #000;
    img {
      width: 200px;
      padding: 10px 0 15px;
    }
  }
  h1 {
    text-align: center;
    font-size: 34px;
    padding: 30px 0 0;
    color: #000;
  }
  h2 {
    text-align: center;
    font-size: 22px;
    padding: 10px 0 50px;
    color: #000;
  }
  h3 {
    text-align: center;

    padding: 30px 0;
    color: #000;
    width: 100%;
    color: #000;
    font-size: 26px;
    position: relative;
    margin: 20px 0 52px;
    font-weight: 600;
    &:after {
      content: "";
      height: 3px;
      width: 36px;
      background: #f0bd00;
      position: absolute;
      left: 50%;
      bottom: 0px;
      margin-left: -18px;
    }
  }
  .options {
    padding: 50px 0;
    background: #f5f5f5;
    .box {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #c2c2c2;
      min-height: 150px;
      text-align: center;
      background: #fff;
    }
    .box:hover {
      box-shadow: 0 0 3px 4px #ccc;
    }
  }
  .btn {
    margin: 0 auto;
    display: block;
    width: 208px;
    margin-top: 30px;
    padding: 10px 30px;
    height: 46px;
    a {
      font-size: 18px;
      text-decoration: none;
      color: #000;
    }
  }
  .typescholar {
    padding-bottom: 20px;
    text-align: center;
    .box {
      background: #fcfcfc;
      border: 1px solid #ccc;
      padding: 15px 10px 10px 20px;
      min-height: 413px;
      margin-bottom: 30px;
      display: block;
      .heading {
        font-size: 20px;
        font-weight: bold;
        margin: 15px 0 0 12px;
      }
      span {
        font-size: 28px;
      }
      p {
        display: block;
        clear: both;
        margin-top: 20px;
      }
    }
  }
  .faqs {
    .btn {
      width: 270px;
      a {
        font-size: 16px;
      }
    }
    padding: 30px 0;
    background: #fcfcfc;
    .heading {
      font-size: 20px;
      font-weight: bold;
      color: #444444;
      margin: 30px 0 10px;
      color: #f1c40f;
    }
    p {
      font-size: 16px;
    }
  }
  /* Support */
  .SupportRow {
    background: #ebebeb;
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 50px 0;
    .row {
      margin-left: 0;
      margin-right: 0;
      .content {
        width: 100%;
        display: block;
        text-align: left;
        h3 {
          width: 100%;
          color: #000;
          font-size: 26px;
          position: relative;
          margin: 0 0 52px;
          font-weight: 600;
          &:after {
            content: "";
            height: 3px;
            width: 36px;
            background: #f0bd00;
            position: absolute;
            left: 50%;
            bottom: -13px;
            margin-left: -18px;
          }
        }
        p {
          margin: 0 0 20px;
        }
        .supportList {
          padding: 0;
          list-style: none;
          li {
            float: left;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 18px;
            font-weight: 700;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              background: url(#{$img-base-url}spriteImgCB.png) no-repeat;
            }
            @media screen and (max-width: 561px) {
              &::before {
                left: inherit;
              }
            }
            a {
              color: #000;
              text-decoration: none;
              &:hover {
                text-decoration: none;
              }
            }
          }
          @media screen and (max-width: 561px) {
            li {
              float: none;
              width: 100%;
              text-align: center;
            }
          }
          @media screen and (max-width: 561px) {
            li:first-child {
              margin-right: 0;
              padding-left: 0;
              margin-bottom: 0;
              a {
                padding-left: 29px;
                font-size: 14px;
              }
              span {
                font-size: 12px;
              }
            }
          }
          li:last-child {
            padding-left: 40px;
            &:before {
              background-position: -38px -57px;
              width: 33px;
              height: 23px;
            }
          }
          @media screen and (max-width: 794px) {
            li:last-child {
              margin-top: 10px;
              margin-left: 0;
              clear: left;
            }
          }
          @media screen and (max-width: 561px) {
            li:last-child {
              margin-left: 0;
              padding-left: 0;
              a {
                padding-left: 39px;
                font-size: 14px;
              }
            }
          }
        }
        @media screen and (max-width: 561px) {
          .supportList {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: table;
            width: auto;
            text-align: center;
          }
        }
      }
    }
    .btn {
      margin: 0;
    }
    .btn-yellow {
      margin-top: 30px;
      padding: 10px 30px;
      height: 46px;
    }
  }
  @media screen and (max-width: 768px) {
    .SupportRow {
      padding: 50px 0;
    }
  }
  @media screen and (max-width: 694px) {
    .SupportRow {
      padding: 45px 0;
    }
  }
}
