@media screen and (min-width: 1366px) {
  .desk-show {
    display: block;
  }
  .desk-hide {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .details-page-wrapper {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .needHelpBtn {
    right: 0;
  }
}
@media screen and (max-width: 800px) {
  .details-page-wrapper {
    .container {
      padding-left: 0;
      padding-right: 0;
      .col-md-3,
      .col-md-9 {
        width: 100%;
        padding-right: 15px;
      }
      .col-md-3 {
        padding-right: 15px;
      }
      .col-md-9 {
        padding-left: 15px;
      }
    }
  }
  .mobo-show {
    display: block;
  }
  .mobo-hide {
    display: none;
  }
  .padding0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 640px) {
  .details-page-wrapper {
    .breadcrumb {
      li:nth-child(3) {
        margin-left: 0;
        clear: left;
        display: block;
      }
    }
  }
  .needHelpBtn.posChange {
    position: absolute;
    right: 31px;
    top: 361px;
  }
  .heading-static {
    width: 100% !important;
  }
}
@media screen and (max-width: 560px) {
  .marginleft0 {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 360px) {
  .needHelpBtn.posChange {
    right: 21px;
  }
}

@media screen and (max-width: 320px) {
  .mobo-panel {
    .cellBox-mobo {
      article {
        p {
          span {
            width: 160px;
          }
        }
      }
    }
  }
  .needHelpBtn {
    .nh-winPopup {
      right: -18px;
    }
  }
}
.but-pink,
a.colorwhite {
  background: #db0962 !important;
  color: #ffffff;
}

a.white{
  color:#ffffff;
  background: transparent !important;
}
