header {
  background-color: map-get($colors, transparentBg);
}
body {
  /* Set "counter" to 0 */
  counter-reset: counter;
}
.whiteBg {
  background: #fff;
}
.lightGrayBg {
  background: rgba(0, 0, 0, 0.03);
}

/* template style */
.colgateTempBg {
  .bannerBh {
    width: 100%;
    float: left;
    position: relative;

    background-image: $colgate-top-banner;
    @extend .default-banner-property;
    background-position: 0 0;
    text-align: center;
    .logo {
      width: 175px;
      float: left;
    }
    .cbLogo {
      float: right;
      width: 70px;
      border-radius: 5px;
      margin: 8px 0 0;
      background-color: transparent;   
    }

    .centerAlign {
      width: auto;
      text-align: left;
      position: relative;
      float: right;
      margin-right: 80px;

      h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 30px;
      }

      p {
        width: 80%;
        margin: 30px auto;

        line-height: 1.5;
        span {
          margin-top: 10px;
          margin-bottom: 10px;
          display: block;
          font-weight: 400;
          font-size: 21px;
          color: #f0bd00;
        }

        @media screen and (max-width: 913px) {
          span {
            font-size: 15px;
          }
          span:nth-child(3) {
            font-size: 18px;
          }
        }

        @media screen and (max-width: 898px) {
          span {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
          }
          span:nth-child(2) {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      @media screen and (max-width: 1199px) {
        p {
          margin: 30px auto 30px;
        }
      }
      @media screen and (max-width: 1112px) {
        p {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      @media screen and (max-width: 991px) {
        p {
          margin: 0 auto;
          font-size: 16px;
          font-weight: 300;
          width: 100%;
          padding: 0 15px;
        }
      }

      @media screen and (max-width: 350px) {
        p {
          font-size: 14px;
        }
      }

      button {
        background: #ffffff;
        color: #ed2025;
        font-size: 16px;
        text-align: center;
        height: 36px;
        width: auto;
        font-weight: 600;
        border: 0;
        border-radius: 4px;
        padding: 0 15px;
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
    @media screen and (max-width: 1199px) {
      .centerAlign {
        font-size: 20px;
        margin-right: 0;
        h1 {
          font-size: 20px;
        }
      }
    }
    @media screen and (max-width: 667px) {
      .centerAlign {
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .bannerBh {
      background-position: 40%;
    }
  }
  @media screen and (max-width: 667px) {
    .bannerBh {
      background-image: none;
      background-color: #ed2025;
    }
  }
  .colgateabout,
  .colgatescholarship,
  .colgatetc,
  .colgateFAQsRow {
    h3 {
      width: 100%;
      color: #000;
      font-size: 26px;
      position: relative;
      margin: 0 0 52px;
      font-weight: 600;
      text-align: center;
      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -18px;
      }
    }
  }

  /* Process & Steps to be followed */
  .hpStepsFollowedContent {
    width: 100%;
    position: relative;
    float: left;
    height: 60px;
    .content {
      width: 100%;
      display: block;
      height: auto;
      text-align: center;

      ul {
        text-align: left;
        display: block;
        li {
          display: inline-block;
          border-right: 1px solid #f0bd00;
          height: 60px;
          line-height: 60px;
          width: 20%;
          text-align: center;
          font-weight: bold;
          color: #272727;
          font-size: 13px;
          cursor: pointer;
        }

        li:nth-child(5) {
          // background-color: #f0bd00;
          // color: #fff;
          border-right: none;
        }
      }
      @media screen and (max-width: 1024px) {
        ul {
          li {
            width: 50%;
            border-right: none;
            border-bottom: 1px solid #f0bd00;
          }

          li:nth-child(5) {
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 568px) {
        ul {
          li {
            width: 100%;
            height: 34px;
            line-height: 34px;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .hpStepsFollowedContent {
      height: initial;
    }
  }
  .hpStepsFollowedContent.stickeyfix {
    background: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.7s;
    position: fixed;
    width: 100%;
    z-index: 99991;
    transform: translateZ(0);
    transition: all 0.5s;
    padding: 0;
    left: 0;
    top: 0;

    .content {
      ul {
        li {
          color: #fff;
        }
      }
    }
  }
  .colgateabout,
  .colgatetc {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .colgatetc {
    background: #f9f9f9;
    ol {
      padding-left: 20px;
      li {
        line-height: 1.4;
        font-size: 14px;
        margin-bottom: 10px;
        ol {
          li {
            line-height: 1.2;
          }
        }
      }
    }
  }
  .colgatescholarship {
    width: 100%;
    float: left;
    padding: 60px 0;
    background: #f9f9f9;
    h4 {
      background: rgba(0, 0, 0, 0.1);
      color: #000;
      width: 100%;
      position: relative;
      padding: 15px;
      float: left;
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
    @media screen and (max-width: 768px) {
      h4 {
        width: 100%;
      }
    }
    .detailsbox {
      background: #ffffff;
      border: 1px solid #eeeeee;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 0 30px 0;

      .amount {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 15px;
        height: 360px;

        h5 {
          color: #ff6565;
          font-size: 18px;
          font-weight: 600;
          text-decoration: line-through;

          span {
            padding-left: 30px;
          }
        }
        h6 {
          font-size: 12px;
          font-weight: 500;
          span {
            font-weight: 600;
          }
        }
        p {
          color: #000;
          font-size: 16px;
          text-decoration: underline;
          font-weight: 600;
        }
        ul {
          float: left;
          width: 100%;
          position: relative;
          li {
            position: relative;
            padding-left: 30px;
            line-height: 1.4;
            margin: 0 0 5px 0;
            &::before {
              content: "";
              position: $position-absolute;
              top: 3px;
              left: -4px;
              width: 25px;
              height: 20px;
              background: url(#{$img-base-url}scholarship-icon.png) no-repeat 0
                0;
              display: block;
            }
          }
        }
        ul.award {
          li {
            &::before {
              background: url(#{$img-base-url}awards-icon.png) no-repeat 0 0;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        .amount {
          height: initial;
        }
      }
      &:hover {
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }

    button {
      background: #f0bd00;
      color: #fff;
      font-size: 14px;
      text-align: center;
      height: 30px;
      width: auto;
      font-weight: 600;
      border: 0;
      border-radius: 30px;
      padding: 3px 15px;
      border: 1px solid #e4a604;
      float: left;
      position: relative;
      margin: 0 auto 15px;
    }
    p {
      float: left;
      width: 100%;
      position: relative;
    }
  }

  /* Frequently Asked Question */
  .colgateFAQsRow {
    width: 100%;
    position: relative;
    float: left;
    padding: 60px 0;

    .content {
      width: 100%;
      display: block;
      text-align: center;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 15px;
        a {
          color: #f0bd00;
          text-decoration: underline;
          margin: 0;
          word-break: break-all;
          &:hover {
            color: #000;
            text-decoration: none;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        li {
          float: left;
          width: 100%;
          border-radius: 6px;
          padding: 0 0 0 60px;
          margin-bottom: 30px;
          position: relative;
          display: table;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          h5 {
            font-size: 16px;
            font-weight: 600;
            color: #000;
            margin-bottom: 0;
            margin-top: 0;
            line-height: 1.5;
            cursor: pointer;
            position: relative;
            &:before {
              position: absolute;
              top: -6px;
              left: -55px;
              content: "";
              width: 38px;
              height: 38px;
              border-radius: 50%;
              text-align: center;
              line-height: 35px;
              color: #fff;
              font-size: 38px;
              padding-left: 3px;
              cursor: pointer;
              background: #f0bd00 url(#{$img-base-url}spriteImgCB.png) no-repeat
                5px -77px;
            }
          }
          p {
            display: none;
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 15px;
            float: left;
            width: 100%;
            li {
              margin: 0;
              padding-left: 15px;
              float: left;
              width: 100%;
              position: relative;
              text-align: left;
              &:before {
                position: absolute;
                left: 0;
                top: 9px;
                content: "";
                font-weight: 700;
                width: 6px;
                height: 6px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 50%;
              }
              &:last-child {
                margin-bottom: 0;
              }
              a {
                color: #f0bd00;
                text-decoration: underline;
                margin: 0;
                transition: all 0.5s ease-in;
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;
                &:hover {
                  color: #000;
                  text-decoration: none;
                }
              }
            }
          }
        }
        li.active {
          h5 {
            &:before {
              background-position: -33px -77px;
            }
          }
          p {
            display: block;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  /* support */
  .colgateSupport {
    float: left;
    width: 100%;
    position: relative;
    padding: 60px 0;
    background: #ebebeb;

    h3 {
      width: 100%;
      color: #000;
      font-size: 26px;
      position: relative;
      margin: 0 0 52px;
      font-weight: 600;
      text-align: center;
      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -18px;
      }
    }
    p {
      margin: 0 0 30px;
      text-align: center;
    }
    .supportList {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: table;
      li {
        float: left;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: url(#{$img-base-url}spriteImgCB.png) no-repeat;
        }
        @media screen and (max-width: 561px) {
          &::before {
            left: inherit;
          }
        }
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: 561px) {
        li {
          float: none;
          width: 100%;
          text-align: center;
        }
      }
      li:first-child {
        margin-right: 7.5px;
        padding-left: 30px;
        &:before {
          background-position: -1px -57px;
          width: 24px;
          height: 25px;
        }
        span {
          font-size: 14px;
          position: relative;
          top: -2px;
          left: 5px;
        }
      }
      @media screen and (max-width: 561px) {
        li:first-child {
          margin-right: 0;
          padding-left: 0;
          margin-bottom: 0;
          a {
            padding-left: 29px;
            font-size: 14px;
          }
          span {
            font-size: 12px;
          }
        }
      }
      li:last-child {
        margin-left: 7.5px;
        padding-left: 40px;
        &:before {
          background-position: -38px -57px;
          width: 33px;
          height: 23px;
        }
      }
      @media screen and (max-width: 794px) {
        li:last-child {
          margin-top: 10px;
          margin-left: 0;
          clear: left;
        }
      }
      @media screen and (max-width: 561px) {
        li:last-child {
          margin-left: 0;
          padding-left: 0;
          a {
            padding-left: 39px;
            font-size: 14px;
          }
        }
      }
    }
    @media screen and (max-width: 561px) {
      .supportList {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: table;
        width: auto;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .colgateSupport,
    .colgatescholarship,
    .colgateabout,
    .colgatetc .colgateFAQsRow {
      padding: 30px 0;
      h3 {
        margin: 15px 0 30px 0;
        font-size: 18px;
        padding: 0 15px;
        float: left;
        text-align: center;
        &:after {
          left: 50%;
        }
      }
    }
  }
}
.colgateSupport.scrollClass,
.colgateabout.scrollClass,
.colgatetc.scrollClass,
.colgatescholarship.scrollClass,
.colgateFAQsRow.scrollClass {
  padding: 85px 0 60px 0;
}

@media screen and (max-width: 1024px) {
  .colgateSupport.scrollClass,
  .colgateabout.scrollClass,
  .colgatescholarship.scrollClass,
  .colgateFAQsRow.scrollClass {
    padding: 215px 0 60px 0;
  }
}
