header {
  background-color: transparent;
}
.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}
.brandPageRowBg {
  background: #eaeaea;
}
.brandPage {
  position: relative;
  z-index: 1;
  margin-bottom: 72px;
  .breadcrumb {
    padding: 15px 0;
    list-style: none;
    background: 0 0;
    margin: 0;
    border-radius: 0;
    li {
      position: $position-relative;
      margin-left: 22px;
      width: auto;
      display: inline-block;
      a {
        color: $b4s-color-black;
        font-weight: $b4s-font-weight-400;
        @include font-size(14px);
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 7px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:before {
      display: none;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: $b4s-breadcrumb-color;
        pointer-events: none;
      }
      a:after {
        display: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
  .brandPageWrapper {
    padding-top: 30px;
    .row.paddingBoth {
      padding: 0 15px;
    }
    @media screen and (max-width: 960px) {
      .flex-container-wrap {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .flex-container-list:nth-child(1) {
          order: 1;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }

        .flex-container-list:nth-child(2) {
          order: 2;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
        @media screen and (max-width: 960px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
          }
        }
        @media screen and (max-width: 382px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
          }
        }
      }
    }
    .imgWrapper {
      float: left;
      width: 129px;
      height: 80px;
      -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
      padding: 10px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 768px) {
      .imgWrapper {
        float: none;
        margin: 0 auto 30px;
        padding: 10px;
      }
    }
    .titleWrapper {
      display: table-cell;
      padding-left: 30px;
      h1 {
        font-size: 30px;
        color: #000;
        font-weight: 400;
        margin-bottom: 15px;
        float: left;
        text-align: left;
        margin-top: -2px;
        width: 100%;
        .tooltip {
          width: 24px;
          height: 24px;
          background: #233b89;
          color: #fff;
          border-radius: 50%;
          font-size: 14px;
          display: inline-block;
          margin-left: 10px;
          position: relative;
          top: -6px;
          line-height: 24px;
          text-align: center;
          cursor: pointer;
          margin-bottom: 0;
          .top {
            width: 100px;
            top: -15px;
            left: 50%;
            transform: translate(-50%, -100%);
            padding: 2px;
            color: #000000;
            background-color: #ffffff;
            font-weight: normal;
            font-size: 14px;
            border-radius: 5px;
            position: absolute;
            z-index: 9;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
            opacity: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
            i {
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -15px;
              width: 30px;
              height: 15px;
              overflow: hidden;
              &:after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: #ffffff;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
              }
            }
          }
          &:hover {
            .top {
              opacity: 1;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
          }
        }
        .tooltip.check {
          background-color: #197b30;
        }
      }
      @media screen and (max-width: 768px) {
        h1 {
          text-align: center;
        }
      }
      @media screen and (max-width: 480px) {
        h1 {
          font-size: 24px;
        }
      }
      .followWrapper {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        span {
          font-size: 14px;
          font-weight: 400;
          border-radius: 30px;
          background: #fdb701;
          padding: 5px 30px;
          display: inline-block;
          text-align: center;
          color: #fff;
          cursor: pointer;
        }
        i {
          font-size: 14px;
          font-weight: 600;
          padding: 10px 15px;
          display: inline-block;
          font-style: normal;
          color: #000;
        }
        @media screen and (max-width: 480px) {
          i {
            padding: 10px 0;
            display: block;
          }
        }
      }
      @media screen and (max-width: 768px) {
        .followWrapper {
          text-align: center;
        }
      }
      .followWrapper.unfollowed {
        span {
          background: #ccc;
        }
      }
    }
  }
  .aboutWrapper {
    float: left;
    margin: 30px 0;
    padding: 0;
    width: 100%;
    span {
      font-size: 18px;
      font-weight: 400;
      background: #fdb701;
      padding: 7.5px 15px;
      display: inline-block;
      text-align: left;
      color: #fff;
      position: relative;
      bottom: -1px;
      width: 140px;
    }
    .overFlowTopPos {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        height: 15px;
        width: 99%;
        background: #fff;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 1px;
        height: 15px;
        width: 99%;
        background: #fff;
      }
      @media screen and (max-width: 865px) {
        &:before,
        &:after {
          width: 98%;
        }
      }
      @media screen and (max-width: 360px) {
        &:before,
        &:after {
          width: 97%;
        }
      }
      .contentWrapper {
        border: 1px solid #d1d1d1;
        padding: 15px;
        overflow-x: hidden;
        height: 337px;
        overflow-y: scroll;
        p {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 15px;
          line-height: 1.6;
        }
        .about {
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
        }
        header {
          h1 {
            font-size: 25px;
            color: #737373;
            padding-top: 5px;
            font-weight: 600;
            letter-spacing: 0.6px;
            text-align: left;
            i {
              color: #fdb701;
              font-style: normal;
            }
          }
        }
        img {
          width: 100%;
        }
      }
    }
    /* @media screen and (max-width: 960px) {
      .contentWrapper {
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    } */
  }
  .aboutStyle::-webkit-scrollbar {
    width: 5px;
  }
  .aboutStyle::-moz-scrollbar {
    width: 5px;
  }
  .aboutStyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .aboutStyle::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .aboutStyle::-webkit-scrollbar-thumb {
    background-color: #f0bd00;
    outline: 1px solid #5f6189;
  }
  .aboutStyle::-moz-scrollbar-thumb {
    background-color: #f0bd00;
    outline: 1px solid #5f6189;
  }

  .scholarshipsScholarsWrapper {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    .contentWrapper {
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      .scholarshipnew {
        p.heading {
          text-align: center;
          font-weight: 600;
          font-size: 20px;
        }
        ul.optional-links {
          width: 100%;
          margin: 0;
          float: left;
          position: relative;
          z-index: 1;
          li {
            background: #f5bb00;
            float: left;
            color: #ffffff;
            font-weight: 400;
            font-size: 18px;
            position: relative;
            height: 44px;
            width: 200px;
            line-height: 44px;
            text-align: center;
            cursor: pointer;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            margin-right: 15px;
          }
          li.active {
            color: #262626;
            background: #e4e4e4;
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            cursor: pointer;
            border: 1px solid #d1d1d1;
            border-bottom: none;
          }
        }
        @media screen and (max-width: 860px) {
          ul.optional-links {
            li {
              width: 30%;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
        @media screen and (max-width: 500px) {
          ul.optional-links {
            li {
              width: 100%;
              width: 100%;
              border-top-right-radius: initial;
              border-top-left-radius: initial;
              border-bottom: 1px solid #d1d1d1;
            }
          }
        }
        .borderbox {
          background: #e4e4e4;
          height: auto;
          padding: 0;
          float: left;
          position: relative;
          width: 100%;
          border: 1px solid #d1d1d1;
          top: -1px;
          .awardeesSlider {
            width: 100%;
            height: 100%;
            float: left;
            margin: 0;
            padding: 30px 15px;
            .slick-slider {
              padding: 0;
              button {
                display: none !important;
              }
              .slick-prev:before {
                background-position: 0 50%;
                left: 50px;
              }
              .slick-next:before {
                background-position: 20px 50%;
                right: 100px;
              }
              .slick-dots {
                list-style: none;
                margin: 20px auto;
                padding: 0;
                width: auto;
                text-align: center;
                li {
                  margin: 0 0 0 10px;
                  padding: 0;
                  width: 12px;
                  height: 14px;
                  display: inline-block;
                  button {
                    display: block !important;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: 1px solid #e4a604;
                    text-indent: -9999px;
                  }
                  &:first-child {
                    margin-left: 0;
                  }
                }
                li.slick-active {
                  button {
                    background: #e4a604;
                  }
                }
              }
            }
            @media screen and (max-width: 991px) {
              .col-md-4 {
                width: 50%;
                float: left;
              }
            }
            .box {
              float: left;
              width: 100%;
              text-align: center;
              background: #fff;
              height: 260px;
              padding: 15px;
              margin-bottom: 16px;
              margin-top: 52px;
              position: relative;
              .box-in {
                float: left;
                width: 100%;
                padding: 45px 0 0;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  position: absolute;
                  top: -48px;
                  left: 50%;
                  margin-left: -50px;
                  z-index: 4;
                }
                h4 {
                  font-size: 20px;
                  font-weight: 600;
                  line-height: 17px;
                  text-align: center;
                  color: #e4a604;
                  margin: 22px 0 7.5px;
                  padding: 0 15px;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  margin: 7.5px 0 0;
                  float: left;
                  width: 100%;
                  line-height: 17px;
                }
              }
            }
            @media screen and (max-width: 991px) {
              .box {
                height: 230px;
              }
            }
            @media screen and (max-width: 753px) {
              .box {
                height: 240px;
              }
            }
            @media screen and (max-width: 736px) {
              .box {
                height: auto;
              }
              .col-md-4 {
                width: 100%;
              }
            }

            @media screen and (max-width: 412px) {
              .box {
                height: auto;
              }
            }
            .box.border {
              border: 1px solid #fbc32e;
              border-radius: 8px;
            }
          }
          @media screen and (max-width: 960px) {
            .awardeesSlider {
              height: auto;
              overflow-y: hidden;
            }
          }
          @media screen and (max-width: 736px) {
            .awardeesSlider {
              padding-left: 0;
              padding-right: 0;
            }
          }
          @media screen and (max-width: 412px) {
            .awardeesSlider {
              padding: 30px 0;
            }
          }
          .awardeesSlider-scroll {
            height: 717px;
            overflow-y: scroll;
          }
          .awardeesSlider-scroll::-webkit-scrollbar {
            width: 5px;
          }
          .awardeesSlider-scroll::-moz-scrollbar {
            width: 5px;
          }
          .awardeesSlider-scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          .awardeesSlider-scroll::-moz-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          .awardeesSlider-scroll::-webkit-scrollbar-thumb {
            background-color: #f0bd00;
            outline: 1px solid #5f6189;
          }
          .awardeesSlider-scroll::-moz-scrollbar-thumb {
            background-color: #f0bd00;
            outline: 1px solid #5f6189;
          }
          .eventWrapper {
            height: 100%;
            .newsevent {
              border: 1px solid #eebd00;
              color: #000;
              text-align: left;
              width: 100%;
              padding-bottom: 10px;
              margin-bottom: 30px;
              height: 100%;
              position: relative;
              float: left;
              background: #ffffff;
              .imgWrapper {
                width: 100%;
                img {
                  width: 100%;
                }
              }

              .detail {
                padding: 15px;
                float: left;
                width: 100%;
                dd {
                  font-size: 14px;
                  float: left;
                  width: 100%;
                }
                h3 {
                  font-size: 16px;
                  font-weight: 600;
                  margin: 10px 0;
                }
                p {
                  font-size: 14px;
                }
                a {
                  text-align: left;
                  font-size: 14px;
                  color: #eebd00;
                  text-decoration: underline;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .sholarship-list {
          margin: 0 auto;
          width: 100%;
          padding: 30px 15px;
          .box {
            background: #ffffff;
            border-radius: 10px;
            border: 1px solid #ccc;
            overflow: auto;
            height: auto;
            margin: 0 0 10px 0;
            transition: all 1s ease-in;
            overflow: hidden;
            @include padding(0);
            a {
              img {
                margin-left: 0;
              }
            }
            .col-md-2 {
              width: 16.66667%;
              padding-top: 8px;
              padding-bottom: 8px;
              .tablecell {
                display: table;
                width: 100%;
                .logotext {
                  float: none;
                  width: 100%;
                  display: table-cell;
                  vertical-align: middle;
                  padding-top: 30px;
                  img {
                    width: auto;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                  }
                  p {
                    font-size: 18px;
                    color: #737373;
                    padding-top: 5px;
                    font-weight: 600;
                    letter-spacing: 0.6px;
                    text-align: center;
                    margin-bottom: 0;
                  }
                  a {
                    img {
                      width: 95px;
                      height: 50px;
                      display: block;
                      margin: 0 auto;
                      padding: 5px;
                      font-size: 10px;
                      float: none;
                    }
                  }
                  @media screen and (max-width: 767px) {
                    a {
                      display: none;
                    }
                  }
                  /* p {
                    font-size: 14px;
                    color: #737373;
                    padding-left: 0;
                    font-weight: 400;
                    letter-spacing: 0.6px;
                    text-align: center;
                    margin-top: 10px;
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      text-align: left;
                      margin-top: 0;
                      margin-bottom: 0;
                    }
                  } */
                }
                @media screen and (max-width: 767px) {
                  .logotext {
                    padding-top: 0;
                  }
                }
              }
              @media screen and (max-width: 767px) {
                .tablecell {
                  height: auto !important;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .col-md-2 {
                width: auto;
                text-align: left;
                padding: 0 0 15px 15px;
              }
            }
            @media screen and (max-width: 390px) {
              .col-md-2 {
                padding: 0 0 0 15px;
              }
            }
            .col-md-7 {
              width: 64.8%;
              padding: 8px 15px;
              height: auto;
              .tablecell {
                display: table;
                width: 100%;
                .calender {
                  float: none;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                  color: #303131;
                  width: 100%;
                  p {
                    font-size: 14px;
                    color: #000;
                    font-weight: 400;
                    line-height: 18px;
                    float: left;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 0;
                    width: 100%;
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      display: inline-block;
                    }
                    p:nth-child(1) {
                      margin-right: 7.5px;
                    }
                    p.date {
                      padding-top: 0;
                    }
                  }
                  dd {
                    font-size: 20px;
                    line-height: 49px;
                    color: #303131;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    float: left;
                    width: 100%;
                    margin: 15px 0 5px;
                  }
                  @media screen and (max-width: 767px) {
                    dd {
                      display: none;
                    }
                  }
                }
                @media screen and (max-width: 767px) {
                  .calender {
                    margin-left: 0;
                    padding-top: 0;
                    text-align: right;
                    width: auto;
                    float: right;
                    height: auto;
                    padding: 5px 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                  }
                }
                .contentdisplay {
                  float: none;
                  width: 100%;
                  display: table-cell;
                  vertical-align: middle;
                  padding-top: 15px;
                  padding-bottom: 12px;
                  h2 {
                    padding: 0;
                    text-transform: initial;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    float: left;
                    width: 100%;
                    margin-top: 0;
                    position: relative;
                    a {
                      color: #a914a9;
                      text-decoration: none;
                      border-bottom: 0;
                      padding-bottom: 1px;
                      line-height: 1.4;
                    }
                    a.ellipsis {
                      width: 492px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      float: left;
                    }
                    a.ellipsis:hover + .namelistTooltip {
                      opacity: 1;
                      z-index: 91;
                      -webkit-transition: all 1s ease;
                      -moz-transition: all 1s ease;
                      -o-transition: all 1s ease;
                      transition: all 1s ease;
                    }
                    @media screen and (max-width: 1080px) {
                      a.ellipsis {
                        width: 378px;
                      }
                    }
                    @media screen and (max-width: 960px) {
                      a.ellipsis {
                        width: 500px;
                      }
                    }
                    @media screen and (max-width: 853px) {
                      a.ellipsis {
                        width: 446px;
                      }
                    }
                    @media screen and (max-width: 771px) {
                      a.ellipsis {
                        width: 415px;
                      }
                    }
                    @media screen and (max-width: 768px) {
                      a.ellipsis {
                        width: 390px;
                      }
                    }
                    @media screen and (max-width: 767px) {
                      a.ellipsis {
                        width: auto;
                        white-space: inherit;
                        overflow: inherit;
                        text-overflow: inherit;
                      }
                      a.ellipsis:hover + .namelistTooltip {
                        opacity: 0;
                        z-index: -1;
                      }
                    }
                    .namelistTooltip {
                      position: absolute;
                      top: 32px;
                      left: 0;
                      width: auto;
                      height: auto;
                      padding: 10px 15px;
                      text-align: left;
                      z-index: 9;
                      background: #fef9b7;
                      color: #1a1a18;
                      font-size: 14px;
                      -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                      border-radius: 5px;
                      opacity: 0;
                      z-index: -1;
                      -webkit-transition: all 1s ease;
                      -moz-transition: all 1s ease;
                      -o-transition: all 1s ease;
                      transition: all 1s ease;
                      i.arrow {
                        border-bottom: 12px solid #fef9b7;
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        float: right;
                        position: absolute;
                        left: 22px;
                        top: -11px;
                      }
                    }
                  }
                  p {
                    font-size: 14px;
                    font-weight: 400;
                    width: 477px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #000;
                    margin: 0;
                    margin-bottom: 8px;
                    padding: 0;
                    float: left;
                    img {
                      float: left;
                      margin: 0 8px 0 0;
                    }
                  }
                  @media screen and (max-width: 1080px) {
                    p {
                      padding-right: 96px;
                    }
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      padding-right: 0;
                      width: 100%;
                    }
                  }
                  p:last-child {
                    margin-bottom: 0;
                  }
                }
                @media screen and (max-width: 767px) {
                  .contentdisplay {
                    width: 100%;
                    display: initial;
                    vertical-align: initial;
                    padding-top: 15px;
                    padding-bottom: 12px;
                  }
                }
              }
              @media screen and (max-width: 767px) {
                .tablecell {
                  display: block;
                  width: 100%;
                }
              }
            }
            @media screen and (max-width: 1080px) {
              .col-md-7 {
                width: 61.8%;
              }
            }
            @media screen and (max-width: 992px) {
              .col-md-7 {
                width: 59.8%;
              }
            }
            @media screen and (max-width: 960px) {
              .col-md-7 {
                width: 64.8%;
              }
            }
            @media screen and (max-width: 853px) {
              .col-md-7 {
                width: 63.8%;
              }
            }
            @media screen and (max-width: 811px) {
              .col-md-7 {
                width: 62.8%;
              }
            }
            @media screen and (max-width: 771px) {
              .col-md-7 {
                width: 61.8%;
              }
            }
            @media screen and (max-width: 768px) {
              .col-md-7 {
                width: 60.8%;
              }
            }
            @media screen and (max-width: 767px) {
              .col-md-7 {
                width: 100%;
                min-height: 0;
                padding-bottom: 30px;
                border-right: 0;
              }
            }
            .col-md-3 {
              width: 18.5%;
              padding: 15px 0 13px 0;
              border-left: 2px solid #eaeaea;
              height: 140px;
              .tablecell {
                display: table;
                width: 100%;
                .calender {
                  text-align: center;
                  color: #303131;
                  overflow: hidden;
                  p {
                    @include font-size(14px);
                    font-weight: $b4s-font-weight-400;
                    line-height: 18px;
                    width: 100%;
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      display: inline-block;
                      width: inherit;
                    }
                    p:nth-child(1) {
                      margin-right: 2px;
                    }
                  }
                  .date {
                    padding-top: 15px;
                  }
                  dd {
                    @include font-size(22px);
                    line-height: 49px;
                    color: $b4s-color-black;
                    font-weight: $b4s-font-weight-500;
                    position: $pos-relative;
                    top: 10px;
                  }
                  @media screen and (max-width: 767px) {
                    dd {
                      display: inline-block;
                      position: relative;
                      top: 1px;
                      margin: 0 5px 0 5px;
                      font-size: initial;
                    }
                  }
                  dd:before {
                    content: "";
                    background: url(#{$img-base-url}calender.png) no-repeat;
                    display: block;
                    margin-left: -30px;
                    position: absolute;
                    top: -12px;
                    left: 50%;
                    width: 60px;
                    height: 62px;
                  }
                  @media screen and (max-width: 767px) {
                    dd:before {
                      display: none;
                    }
                  }
                }
                @media screen and (max-width: 767px) {
                  .calender {
                    margin-left: 0;
                    padding-top: 0;
                    text-align: right;
                    width: auto;
                    float: right;
                    height: auto;
                    padding: 5px 10px;
                    margin-top: 0;
                    margin-bottom: -10px;
                  }
                }
                @media screen and (max-width: 390px) {
                  .calender {
                    margin-left: 0;
                    padding-top: 0;
                    text-align: left;
                    width: auto;
                    float: left;
                    height: auto;
                    padding: 0 15px;
                    margin-top: 0;
                    margin-bottom: 0;
                  }
                }
                .daysgo {
                  vertical-align: middle;
                  border-radius: 100px;
                  width: 100px;
                  text-align: center;
                  height: 100px;
                  padding-top: 25px;
                  font-size: 14px;
                  color: #fff;
                  margin: 5px auto 0;
                  span {
                    font-size: 25px;
                    display: block;
                  }
                  @media screen and (max-width: 767px) {
                    span {
                      font-size: 15px;
                      float: left;
                      margin-right: 5px;
                      line-height: 13px;
                      padding-left: 7px;
                      margin-top: 1px;
                    }
                  }
                  p {
                    font-weight: $b4s-font-weight-400;
                    line-height: 7px;
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      width: auto;
                      margin: 0 7px 0 0;
                      position: relative;
                      top: 3px;
                      float: left;
                    }
                  }
                }
                .daysgo.open {
                  span {
                    font-size: 18px;
                    padding-top: 13px;
                  }
                  @media screen and (max-width: 767px) {
                    span {
                      font-size: 16px;
                      padding-top: 0px;
                      padding-bottom: 5px;
                      margin-top: -5px;
                    }
                  }
                }
                @media screen and (max-width: 767px) {
                  .daysgo {
                    margin-left: 0;
                    padding: 6px 5px;
                    text-align: right;
                    width: auto;
                    float: right;
                    height: 26px;
                    margin-top: 0;
                    position: relative;
                    top: -13px;
                  }
                }
                @media screen and (max-width: 390px) {
                  .daysgo {
                    margin-left: 15px;
                    float: left;
                    margin-top: 15px;
                  }
                }
                .daysgo.pink {
                  background: #ff7f7f;
                  float: initial;
                }
                .daysgo.yellow {
                  background: rgb(245, 209, 76);
                  float: initial;
                }
                .daysgo.gray {
                  color: #ffffff;
                  background: #d7d7d7;
                  float: initial;
                  span {
                    font-size: 18px;
                    display: block;
                    padding-top: 13px;
                    font-weight: 400;
                  }
                  @media screen and (max-width: 767px) {
                    span {
                      padding-top: initial;
                      position: relative;
                      top: 0;
                      font-size: 15px;
                      font-weight: 400;
                    }
                  }
                }
                @media screen and (max-width: 390px) {
                  .daysgo.pink,
                  .daysgo.yellow,
                  .daysgo.gray {
                    float: left;
                  }
                }
                .daysgo.always {
                  p {
                    font-size: 18px;
                    display: block;
                    padding-top: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-top: -7px;
                  }
                  @media screen and (max-width: 767px) {
                    p {
                      font-size: initial;
                      padding-top: initial;
                      font-weight: initial;
                      position: relative;
                      top: 4px;
                    }
                  }
                }
              }
              @media screen and (max-width: 767px) {
                .tablecell {
                  height: auto !important;
                }
              }
            }
            @media screen and (max-width: 1080px) {
              .col-md-3 {
                width: 21.5%;
              }
            }
            @media screen and (max-width: 992px) {
              .col-md-3 {
                width: 23.5%;
              }
            }
            @media screen and (max-width: 960px) {
              .col-md-3 {
                width: 18.5%;
              }
            }
            @media screen and (max-width: 853px) {
              .col-md-3 {
                width: 19.5%;
              }
            }
            @media screen and (max-width: 811px) {
              .col-md-3 {
                width: 20.5%;
              }
            }
            @media screen and (max-width: 771px) {
              .col-md-3 {
                width: 21.5%;
              }
            }
            @media screen and (max-width: 768px) {
              .col-md-3 {
                width: 22.5%;
              }
            }
            @media screen and (max-width: 767px) {
              .col-md-3 {
                border-left: 0;
                width: auto;
                padding: 0 0 10px 0;
                position: absolute;
                bottom: 0;
                right: 15px;
                height: auto;
              }
            }
            @media screen and (max-width: 390px) {
              .col-md-3 {
                width: 100%;
                position: initial;
              }
            }
            @media screen and (max-width: 767px) {
              .flex-container {
                padding: 0;
                margin: 0;
                list-style: none;
                -ms-box-orient: horizontal;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -moz-flex;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                position: relative;
                .flex-item:nth-of-type(1) {
                  order: 2;
                }
                .flex-item:nth-of-type(2) {
                  order: 1;
                }
                .flex-item:nth-of-type(3) {
                  order: 3;
                }
              }
            }
            .datalist {
              .heading {
                vertical-align: 18px;
                width: 510px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 10px;
                padding-top: 6px;
                a {
                  font-size: 16px;
                  color: #a914a9;
                  text-decoration: none;
                  border-bottom: 0;
                  line-height: 25px;
                }
                a:hover {
                  border-bottom: 2px solid #a914a9;
                }
              }
              @media screen and (max-width: 1199px) {
                .heading {
                  width: 394px;
                }
              }
              p {
                line-height: 5px;
                color: #000;
                font-size: 14px;
                font-weight: $b4s-font-weight-500;
                width: 490px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 18px;
                min-height: 18px;
                img {
                  margin-right: 10px;
                }
              }
              @media screen and (max-width: 1199px) {
                p {
                  width: 394px;
                }
              }
            }
            .col-md-2.borderLeft {
              border-left: 2px solid #eaeaea;
              padding-right: 0;
              padding-left: 5px;
            }
          }
        }
        .sholarship-list-scroll {
          height: 669px;
          overflow-y: auto;
        }
        .sholarship-list-scroll::-webkit-scrollbar {
          width: 5px;
        }
        .sholarship-list-scroll::-moz-scrollbar {
          width: 5px;
        }
        .sholarship-list-scroll::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        .sholarship-list-scroll::-moz-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .sholarship-list-scroll::-webkit-scrollbar-thumb {
          background-color: #f0bd00;
          outline: 1px solid #5f6189;
        }
        .sholarship-list-scroll::-moz-scrollbar-thumb {
          background-color: #f0bd00;
          outline: 1px solid #5f6189;
        }
        .profile {
          position: relative;
          float: left;
          width: 100%;
          min-height: auto;
          border: 1px solid #fdb701;
          text-align: center;
          margin-top: 54px;
          background: white;
          height: 100px;
          img {
            width: 80px;
            height: 80px;
            @include border-radius(50%);
            position: absolute;
            top: -40px;
            text-align: center;
            left: 50%;
            margin-left: -40px;
          }
          .contentBox {
            margin: 48px 0 7.5px 0;
            padding: 0 15px;
            h5 {
              color: #fdb701;
              font-size: 16px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .faqsWrapper {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f7f6f6;
    h2 {
      color: #000;
      position: relative;
      text-align: center;
      padding-top: 57px;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 45px;
      &:before {
        content: "";
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/sprite.png)
          0 -923px no-repeat;
        display: block;
        width: 100px;
        height: 75px;
        margin-left: -53px;
        position: absolute;
        left: 50%;
        top: -28px;
        padding: 15px 0 5px;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      width: 100%;
      li {
        float: left;
        width: 100%;
        border-radius: 6px;
        padding: 0 0 0 50px;
        margin-bottom: 15px;
        position: relative;
        display: table;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        h5 {
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 5px;
          margin-top: 0;
          line-height: 1.5;
          cursor: pointer;
          position: relative;
          i {
            position: absolute;
            top: 2px;
            left: -34px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            text-align: center;
            padding-left: 3px;
            cursor: pointer;
            border: 2px solid #f0bd00;
            &:before {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              width: 11px;
              height: 2px;
              background: #f0bd00;
              z-index: 9;
              margin-left: -5.5px;
              margin-top: -1px;
            }
            &:after {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              width: 11px;
              height: 2px;
              background: #f0bd00;
              z-index: 91;
              margin-left: -5.5px;
              margin-top: -1px;
              transform: rotate(90deg);
            }
          }
        }
        p {
          text-align: left;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          color: #000;
          line-height: 1.6;
          display: none;
        }
      }
      li.active {
        h5 {
          i {
            &:after {
              display: none;
            }
          }
        }
        p {
          display: block;
        }
      }
    }
  }
  /* aside bar */
  .asideBox {
    margin: 30px 0 0;
    padding: 0;
    float: left;
    width: 100%;
    span {
      font-size: 18px;
      font-weight: 400;
      background: #fdb701;
      padding: 7.5px 15px;
      display: inline-block;
      text-align: left;
      color: #fff;
      position: relative;
      bottom: -1px;
      width: 100%;
    }
    .viewMore {
      font-size: 18px;
      font-weight: 400;
      background: transparent;
      padding: 0;
      color: #000;
      width: auto;
      float: right;
      i.fa.fa-long-arrow-right {
        position: relative;
        top: -2px;
        right: 3px;
      }
    }
    @media screen and (max-width: 960px) {
      .viewMore {
        display: none;
      }
    }
    .contentWrapper {
      float: left;
      width: 100%;
      margin: 0;
      padding: 15px 0 0;
      /* Related Blog */
      .imgWraper {
        float: left;
        width: 100%;
        height: 209px;
        position: relative;
        background: #ccc;
        margin-bottom: 12px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgba(0, 0, 0, 0.6);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          height: 209px;
          z-index: 0;
        }
        .titleWrapper {
          font-size: 12px;
          font-weight: 400;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          padding: 0 0 0 15px;
          color: #f2b80c;
          text-align: left;
          span {
            font-size: 16px;
            font-weight: 400;
            display: block;
            width: 100%;
            background: transparent;
            line-height: 1.2;
            margin: 0;
            padding: 0 0 15px;
            cursor: default;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
          @media screen and (max-width: 768px) {
            span {
              text-align: center;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        @media screen and (max-width: 768px) {
          .titleWrapper {
            width: 100%;
            float: left;
            margin: 0;
            padding: 0;
            text-align: center;
          }
        }
      }
      @media screen and (max-width: 960px) {
        .imgWraper {
          float: left;
          width: 48%;
          margin: 1%;
        }
      }
      @media screen and (max-width: 480px) {
        .imgWraper {
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
    }
    .border {
      border: 1px solid #d1d1d1;
      background: #f0f0f0;
      margin-top: 15px;
      padding: 15px;
      p {
        line-height: 1.6;
        margin-bottom: 30px;
        a {
          color: #f5bb00;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: 960px) {
        .contentWrapper {
          height: auto;
          overflow: hidden;
        }
      }
      .contentWrapper.overflowScroll {
        overflow: auto;
        overflow-x: hidden;
      }

      .contentWrapper.noData {
        height: auto;
      }

      .contentWrapper.overflowScroll::-webkit-scrollbar {
        width: 5px;
      }
      .contentWrapper.overflowScroll::-moz-scrollbar {
        width: 5px;
      }
      .contentWrapper.overflowScroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      .contentWrapper.overflowScroll::-moz-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      .contentWrapper.overflowScroll::-webkit-scrollbar-thumb {
        background-color: #f0bd00;
        outline: 1px solid #5f6189;
      }
      .contentWrapper.overflowScroll::-moz-scrollbar-thumb {
        background-color: #f0bd00;
        outline: 1px solid #5f6189;
      }

      .showMore {
        width: auto;
        float: right;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
        font-style: normal;
        margin: 0;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .brandPage {
    margin-bottom: 0;
  }
}

.related-blog-scroll {
  height: 885px;
  overflow-y: auto;
}
.related-blog-scroll::-webkit-scrollbar {
  width: 5px;
}
.related-blog-scroll::-moz-scrollbar {
  width: 5px;
}
.related-blog-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.related-blog-scroll::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.related-blog-scroll::-webkit-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}
.related-blog-scroll::-moz-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}
.contact-detail-scroll {
  height: 158px;
  overflow-y: auto;
}
.contact-detail-scroll::-webkit-scrollbar {
  width: 5px;
}
.contact-detail-scroll::-moz-scrollbar {
  width: 5px;
}
.contact-detail-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.contact-detail-scroll::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contact-detail-scroll::-webkit-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}
.contact-detail-scroll::-moz-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}
