.qna {
  position: relative;
  z-index: 1;
  top: -80px;
  margin-bottom: 72px;
  .container {
    // .row {
    //   margin-left: 15px;
    //   margin-right: 15px;
    // }
  }
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .bgQNA {
    background-image: $qna-top-banner;
    @extend .default-banner-property;
    background-position: 51% 100%;
    text-align: center;

    h1 {
      @extend .static-heading;
      font-size: 30px;
      margin: 0 auto 0;

      span {
        color: #fdb701;
      }
    }

    h2 {
      @extend .static-subheading;
    }

    a {
      color: #ffffff;
    }
  }

  @media screen and (max-width: 464px) {
    .bgQNA {
      h1,
      .careerscontentWrapper {
        float: left;
        text-align: center;
        width: 100%;
        margin: 0;
      }

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }

  .layerPos {
    position: relative;
    z-index: 1;

    .search-wraper {
      margin: 0 auto;
      @include width(800px);
      position: $pos-relative;
      top: 280px;
      display: table;
      z-index: 2;

      input {
        padding: 0 124px 0 15px;
        @include height(48px);
        @include width(100%);
        @include font-size(16px);
        background-color: #fff;
        display: $display-inline-block;
        outline: 0;
        border: 0;
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
        float: left;
        width: 100%;
        margin-top: 1px;
        position: absolute;
        z-index: 5;

        .react-autosuggest__suggestions-list {
          background: rgba(255, 255, 255, 1);
          width: 100%;

          li {
            padding: 8px 15px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              background: #ececec;
            }
          }
        }
      }

      button,
      button:hover {
        outline: 0;
        border: 0;
        @include height(48px);
        @include width(50px);
        @include font-size(26px);
        background-color: $bg-color-yellow;
        color: $bg-color-white;
        display: $display-inline-block;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;

        i.fa-search {
          display: block;
        }
      }

      button.ask,
      button.ask:hover {
        outline: 0;
        border: 0;
        padding: 0;
        width: 220px;
        margin-left: -110px;
        border: 0;
        display: table;
        position: absolute;
        top: 57px;
        right: initial;
        left: 50%;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
      }
    }

    @media screen and (max-width: 853px) {
      .search-wraper {
        width: 100%;

        input {
          width: 100%;
        }

        button,
        button:hover {
          position: absolute;
          right: 0;
          top: 0;
          border-bottom: 1px solid $bg-color-yellow;
        }

        button:hover {
          border-bottom: 1px solid #fff;
        }

        dd.error,
        span.error {
          left: 0;
        }
      }
    }

    @media screen and (max-width: 607px) {
      .search-wraper {
        top: 300px;

        button,
        button:hover {
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
          height: 48px;

          i.fa-search {
            width: 48px;
            height: 47px;
            color: #fff;
            background: #fdb701;
            line-height: 48px;
            font-size: 24px;
            display: block;
            text-align: center;
          }

          span {
            display: none;
          }
        }

        button:hover {
          border-bottom: 1px solid #fdb701;
        }
      }
    }
  }

  .qnaWrapper {
    padding: 30px 0 0 0;
    float: left;
    position: relative;
    width: 100%;

    .search-wraper {
      margin-bottom: 30px;

      .search-ctrl {
        position: relative;

        input {
          width: 85%;
          height: 43px;
          margin: 0;
          padding: 0 15px;
          background: rgba(255, 255, 255, 0.8);
          display: block;
          font-size: 16px;
          outline: 0;
          color: $t-color-black;
          float: left;
          border: 1px solid #ccc;
          border-right: 0;
        }

        .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
          float: left;
          width: 100%;
          position: absolute;
          z-index: 2;
          border: 1px solid #eaeaea;
          margin-top: 43px;
          height: 250px;
          overflow-y: scroll;

          .react-autosuggest__suggestions-list {
            background: rgba(255, 255, 255, 1);
            width: 100%;

            li {
              padding: 8px 15px;
              font-size: 14px;
              cursor: pointer;

              &:hover {
                background: #ececec;
              }
            }
          }
        }

        button {
          height: 43px;
          width: 15%;
          top: 0;
          margin: 0;
          padding: 0;
          background-color: $bg-color-yellow;
          color: $t-color-white;
          position: $pos-relative;
          display: inline-block;
          border: 0;
          font-size: 26px;
          outline: 0;

          span {
            display: none;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .search-ctrl {
          width: 100%;
          float: left;
          position: relative;
          margin-top: 15px;

          input {
            width: 100%;
            font-size: 13px;
            padding: 0 15px;
          }

          button,
          button:hover {
            position: absolute;
            right: 0;
            top: 0;
            border-bottom: 1px solid $bg-color-yellow;
            width: 40px;
            font-size: 22px;
          }

          button:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }

    h3 {
      font-size: 22px;
      color: #000;
      font-weight: 600;
      margin: 0 0 20px 0;
    }

    .boxleft {
      background: $white;
      border: 1px solid #d0d0d0;
      float: left;
      position: relative;
      width: 100%;
      text-align: left;
      @include margin(0 0 25px 0);
      height: 425px;

      h4,
      p {
        margin: 0;
        padding: 12px;
        display: table;
        width: 100%;

        overflow: hidden;
      }

      h4 {
        font-size: 18px;
        font-weight: 600;
        color: #f0bd00;
        margin-top: 12px;
      }

      p {
        border-bottom: 1px solid #d0d0d0;
        border-left: 2px solid transparent;

        a {
          font-size: 14px;
          color: #000;
          display: table-cell;
          vertical-align: middle;
          display: -webkit-box;
          height: 38px;
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          background-color: #f7f7f7;
          border-left: 2px solid #fdb700;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      a.view {
        font-size: 16px;
        font-weight: 600;
        color: #f0bd00;
        text-align: center;
        display: table;
        position: relative;
        margin: 0 auto;
        padding: 12px;
        width: auto;

        &::after {
          content: "";
          position: $position-absolute;
          top: 20px;
          right: -40px;
          width: 60px;
          height: 30px;
          background: url(#{$img-base-url}qnasprite.png) no-repeat 0 -205px;
        }
      }

      &:hover {
        -moz-box-shadow: 0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
      }
    }

    @media screen and (max-width: 767px) {
      .boxleft {
        height: initial;
      }
    }

    .boxleft.box {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      height: initial;

      h4 {
        font-size: 18px;
        text-align: center;
        background: #f0bd00;
        color: #000;
        border-radius: 9px 9px 0 0;
        margin: 0;
      }

      .scrollbar {
        height: 250px;
        overflow-y: scroll;

        p {
          border-bottom: 1px solid #d0d0d0;
          border-left: 2px solid transparent;

          a {
            font-size: 14px;
            color: #000;
            display: table-cell;
            vertical-align: middle;
            height: initial;
            line-height: initial;
            text-transform: capitalize;
          }

          &:hover {
            background-color: #f7f7f7;
            border-left: 2px solid #fdb700;
          }
        }

        p:last-child() {
          border-bottom: none;
        }

        span {
          text-align: center;
          padding: 0;
          display: block;
          width: 100%;
          height: 37px;
          cursor: pointer;
          font-size: 28px;
          background-image: linear-gradient(to top, #ffffff, transparent);
          z-index: 1;
          border-bottom-left-radius: 10px;

          i {
            position: relative;
            top: 0;
          }
        }
      }
      .scrollbar.la {
        height: 620px;
        overflow-y: scroll;

        p {
          border-bottom: 1px solid #d0d0d0;
          border-left: 2px solid transparent;

          a {
            font-size: 14px;
            color: #000;
            display: table-cell;
            vertical-align: middle;
            display: -webkit-box;
            height: 38px;
            line-height: 1.4;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            background-color: #f7f7f7;
            border-left: 2px solid #fdb700;
          }
        }

        p:last-child() {
          border-bottom: none;
        }
      }

      /* width */
      .scrollbarColor::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      .scrollbarColor::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      .scrollbarColor::-webkit-scrollbar-thumb {
        background: #4a4a4a;
      }

      /* Handle on hover */
      .scrollbarColor::-webkit-scrollbar-thumb:hover {
        background: #4a4a4a;
      }

      /* span {
        text-align: center;
        padding: 10px;
        display: block;
        width: 100%;
        height: 50px;
        cursor: pointer;
        font-size: 28px;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(
          to top,
          #ffffff,
          transparent
        ); // background-image: linear-gradient(180deg, transparent 0%, #ffffff 90%);
        z-index: 1;
        i {
          position: relative;
          top: 0;
        }
      } */
    }
  }

  .qnaWrapper.singlePage {
    padding: 15px 0 60px 0;

    .search-single {
      margin-bottom: 30px;

      .search-ctrl {
        position: relative;

        input {
          width: 85%;
          height: 43px;
          margin: 0;
          padding: 0 15px;
          background: rgba(255, 255, 255, 0.8);
          display: block;
          font-size: 16px;
          outline: 0;
          color: $t-color-black;
          float: left;
          border: 1px solid #ccc;
          border-right: 0;
        }

        .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
          float: left;
          width: 100%;
          position: absolute;
          z-index: 2;
          border: 1px solid #eaeaea;
          margin-top: 43px;
          height: 250px;
          overflow-y: scroll;

          .react-autosuggest__suggestions-list {
            background: rgba(255, 255, 255, 1);
            width: 100%;

            li {
              padding: 8px 15px;
              font-size: 14px;
              cursor: pointer;

              &:hover {
                background: #ececec;
              }
            }
          }
        }

        button {
          height: 43px;
          width: 15%;
          top: 0;
          margin: 0;
          padding: 0;
          background-color: $bg-color-yellow;
          color: $t-color-white;
          position: $pos-relative;
          display: inline-block;
          border: 0;
          font-size: 26px;
          outline: 0;
        }
      }

      @media screen and (max-width: 767px) {
        .search-ctrl {
          width: 100%;
          float: left;
          position: relative;
          margin-top: 15px;

          input {
            width: 100%;
            font-size: 13px;
            padding: 0 15px;
          }

          button,
          button:hover {
            position: absolute;
            right: 0;
            top: 0;
            border-bottom: 1px solid $bg-color-yellow;
            width: 40px;
            font-size: 22px;
          }

          button:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }

    .title {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      h2 {
        margin: 10px 0 0 0;
        font-size: 22px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .followWrapper {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      z-index: 1;
      // button {
      //   margin-left: 15px !important;
      // }

      .btn-yellow {
        position: relative;
        padding: 5px 25px 5px 50px !important;
        background: transparent;
        color: #fdb701;
        border: 2px solid #fdb701;
        margin: 0;
        height: inherit;

        &::before {
          content: "";
          position: $position-absolute;
          top: -12px;
          left: 0;
          width: 41px;
          height: 40px;
          background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -121px;
          display: block;
        }

        &:hover {
          color: #fdb701;

          &::before {
            background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -121px;
          }
        }
      }

      @media screen and (max-width: 480px) {
        .btn-yellow {
          padding: 5px 20px 5px 45px !important;
        }
      }

      .btn-yellow.active {
        color: #fff;
        background: #fdb701;

        &::before {
          background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -80px;
        }
      }

      .btn-yellow:nth-child(2) {
        &::before {
          background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -41px;
        }
      }

      .btn-yellow.active:nth-child(2) {
        color: #fff;
        background: #fdb701;

        &::before {
          background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 0px;
        }
      }

      ul {
        list-style: none;
        margin: 15px 0;

        > li {
          display: inline;
          /* padding-left: 0; */
          position: relative;
          padding: 0 10px;
        }
      }
    }

    .search-wraper {
      width: 100%;
      position: relative;
      background: #f7f7f7;
      padding: 7px;
      margin-bottom: 15px;
      z-index: 2;

      input {
        padding: 0 124px 0 15px;
        @include height(40px);
        @include width(100%);
        @include font-size(16px);
        background-color: #fff;
        display: $display-inline-block;
        color: black;
        outline: 0;
        border: 0;
      }

      .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
        float: left;
        width: 100%;
        margin-top: 1px;
        position: absolute;

        .react-autosuggest__suggestions-list {
          background: rgba(255, 255, 255, 1);
          width: 98%;

          li {
            padding: 8px 15px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              background: #ececec;
            }
          }
        }
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: #919191;
        @include font-size(18px);
        font-weight: 500;
      }

      button,
      button:hover {
        outline: 0;
        border: 0;
        @include height(40px);
        @include width(100px);
        @include font-size(18px);
        background-color: $bg-color-yellow;
        color: $bg-color-white;
        display: $display-inline-block;
        border: 0;
        position: absolute;
        top: 7px;
        right: 7px;

        i.fa-search {
          display: none;
        }
      }
    }

    .cateWrapper {
      background: #f7f7f7;
      // overflow: hidden;
      // height: auto;
      padding: 15px;
      margin: 0 0 15px 0;
      display: flex;
      width: 100%;
      position: relative;
      flex-wrap: wrap;

      .tag {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        margin-bottom: 15px;

        li {
          background: #efefef;
          display: inline-block;
          padding: 0 10px 5px;
          margin: 0 5px 5px 0;
          border: 1px solid #ccc;

          a {
            color: #272727;
            font-size: 11px;
            font-weight: 600;
          }

          &:hover {
            background: #272727;

            a {
              color: #efefef;
            }
          }
        }
      }
      .ckeditor {
        width: 100%;
      }
      .postckeditor {
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        position: relative;
        margin: 15px 0 0 0;
        .post {
          height: 30px;
          border: 0;
          padding: 0 15px;
          font-weight: 500;
          text-align: center;
          transition: all 0.5s ease;
          cursor: pointer;
          position: relative;
          -webkit-outline: none;
          -moz-outline: none;
          -o-outline: none;
          -ms-outline: none;
          outline: none;
          background: #f0bd00;
          color: #fff;
          margin: 0 0 0 15px;
        }
      }

      form {
        margin: 5px 0 15px 0;

        .ctrl-wrapper {
          background: #f7f7f7;
          padding: 7px;

          .form-group.textAreaCrtl {
            position: $pos-relative;

            dd.error,
            span.error {
              position: $pos-absolute;
              right: 0;
              color: $red-color;
              @include font-size(12px);
              bottom: 51px;
              background-color: $white-color;
              padding: 10px;
              width: auto;
              border-radius: 5px;
              -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            }

            dd.error,
            span.error:after {
              content: "";
              position: $pos-absolute;
              bottom: -6px;
              left: 50%;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #fff;
              margin-left: -5px;
            }

            textarea.form-control {
              resize: none;
            }
          }
        }
      }

      form.formelemt {
        margin: 0 0 15px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      h4 {
        font-weight: 600;
        line-height: 25px;
        font-size: 18px;
        text-align: left;
        margin: 0 0 15px 0;
        position: relative;
        /* padding-left: 15px; */
        float: left;
        padding: 0;
        width: 100%;

        .views {
          color: #000;
          font-size: 14px;
          display: inline-block;
          padding-left: 15px;
          position: relative;
          top: 0;
          line-height: 24px;

          i {
            padding-right: 5px;
            font-size: 18px;
            color: #f0bd00;
          }
        }
      }

      @media screen and (max-width: 767px) {
        h4 {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .imgWrapper {
        float: left;
        width: 100%;
        position: relative;

        .left {
          // float: left;
          width: 100%;
          position: relative;
          margin-bottom: 25px;

          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            float: left;
            margin-right: 15px;
            border: 3px solid #fff;
          }

          h5 {
            font-size: 16px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 2px;
          }

          p {
            font-size: 14px;
            font-weight: normal;
            padding-left: 55px;
          }
        }

        .share-icon {
          background: url(#{$img-base-url}shareIcon.png) no-repeat;
          width: 22px;
          height: 22px;
          position: absolute;
          top: 0;
          right: 4px;
          cursor: pointer;
          -o-transition: 0.5s;
          -ms-transition: 0.5s;
          -moz-transition: 0.5s;
          -webkit-transition: 0.5s;
          transition: 0.5s;

          ul.social-icons {
            margin-top: 12px;
            width: 110px;
            position: absolute;
            top: -16px;
            right: 15px;

            li {
              display: block;
              width: 28px;
              height: 28px;
              margin-right: 4px;
              float: left;
              background: #f0bd00;
              font-size: 14px;
              line-height: 28px;
              text-align: center;
              border-radius: 50%;
              color: #ffff;

              a {
                color: #ffff;
              }
            }
          }

          // @media screen and (max-width: 600px) {
          //   ul.social-icons {
          //     margin-top: 0;
          //     width: auto;
          //     position: absolute;
          //     top: 26px;
          //     right: -7px;

          //     li {
          //       margin-bottom: 4px;
          //     }
          //   }
          // }
        }
      }

      .commentWrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .left {
          // display: flex;
          // width: 100%;
          // flex-wrap: wrap;
          // position: relative;
          // align-items: center;
          // margin: 0;

          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: inline-flex;
            margin-right: 15px;
            border: 3px solid #fff;
          }

          p {
            .readmore {
              color: #f0bd00;
              padding: 0 5px;
            }
          }

          .subleft {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            position: relative;
            align-items: center;
            margin: 0;

            .reply {
              width: 100%;

              padding: 0 15px 0 58px;
              /* position: relative; */
              /* float: left; */
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin: 0 0 5px 0;

              img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                float: left;
                margin-right: 5px;
                border: 3px solid #fff;
              }
            }

            p {
              .readmore {
                color: #f0bd00;
                padding: 0 5px;
              }
            }

            .comform {
              width: 80%;
              float: left;
              position: relative;

              form {
                .ctrl-wrapper {
                  background: none;
                  padding: 0;
                  margin: 0;
                }
              }
            }

            .replycomment {
              background: rgba(218, 218, 218, 0.8);
              border-radius: 20px;
              padding: 5px 15px;
              width: auto;
              margin: 0;
            }

            .replygp {
              margin: 0;

              button {
                background-color: transparent;
                border: none;
                margin: 0;
                position: relative;

                i {
                  color: #f0bd00;
                  padding: 0 3px;
                }
              }
            }
          }

          .comform {
            width: 89%;
            /* display: flex; */
            position: relative;
            /* left: 30px; */
            @media only screen and (max-width: 991px) {
              width: 87%;
            }
            @media only screen and (max-width: 767px) {
              width: 85%;
            }
            @media only screen and (max-width: 560px) {
              width: 80%;
            }

            form {
              .ctrl-wrapper {
                background: none;
                padding: 0;
                margin: 0;
              }
            }
          }

          .comform.subComment {
            width: 75%;
            /* flex-wrap: wrap; */
            /* flex-direction: column; */
            /* left: 9%; */
            position: relative;
            margin-left: 14%;
          }

          .replycomment {
            background: rgba(218, 218, 218, 0.8);
            border-radius: 20px;
            padding: 5px 15px;

            margin: 0;
          }

          .replygp {
            margin: 0;

            button {
              background-color: transparent;
              border: none;
              margin: 0;
              position: relative;

              i {
                color: #f0bd00;
                padding: 0 3px;
              }
            }
          }
        }

        .left.leftM15 {
          margin: 0 0 15px 0;
        }
      }

      p {
        font-size: 14px;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // max-width: 150px;
      }

      a.viewanswer {
        font-size: 16px;
        font-weight: 600;
        color: #f0bd00;
        position: relative;
        width: auto;
        float: initial;
        // padding-left: 15px;

        &::after {
          content: "";
          position: $position-absolute;
          top: 7px;
          right: -45px;
          width: 60px;
          height: 30px;
          background: url(#{$img-base-url}qnasprite.png) no-repeat 0 -205px;
        }
      }

      @media screen and (max-width: 767px) {
        a.viewanswer {
          &::after {
            display: none;
          }
        }
      }
    }

    .cateWrapper.newedit {
      .editdelgp {
        position: absolute;
        right: 0;
        top: 30px;

        button {
          background-color: transparent;
          border: 0;
          margin: 0;
          position: relative;
          display: block;

          i {
            color: #000;
            padding: 0;
            font-size: 20px;
          }
          i.trash {
            top: 5px;
            position: absolute;
            left: 8px;
          }
        }
      }
    }
    .cateWrapper.answer {
      background: #f4f4f4;

      .para {
        p,
        span {
          float: left;
          position: relative;
          width: 100%;
          margin: 0 0 10px 0;
        }

        p.wr {
          word-break: break-word;
        }

        p {
          ol {
            float: left;
            width: 100%;
            padding-left: 30px;
            margin-bottom: 15px;
            margin-top: -7.5px;

            li {
              margin-bottom: 5px;
            }
          }
        }

        a {
          font-size: 16px;
          font-weight: 600;
          color: #f0bd00;
          position: relative;
        }

        .comments {
          padding-left: 25px;
          font-size: 12px;
          padding-left: 25px;
          font-size: 12px;
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          margin: 0 0 15px 0;

          &::before {
            content: "";
            position: $position-absolute;
            top: 2px;
            left: -20px;
            width: 60px;
            height: 30px;
            background: url(#{$img-base-url}qnasprite.png) no-repeat 0 -312px;
            display: block;
          }

          i {
            font-weight: 600;
            font-style: normal;
            padding: 0 0 0 5px;
          }
        }

        .catg > p:nth-child(1) {
          display: block;
          height: 60px;
          overflow: hidden;

          &:after {
            content: "";
            height: 80px;
            width: 100%;
            position: absolute;
            bottom: 4px;
            left: 0;
            background-image: -webkit-linear-gradient(
              to bottom,
              rgba(247, 247, 247, 0),
              #f4f4f4
            );
            background-image: linear-gradient(
              to bottom,
              rgba(247, 247, 247, 0),
              #f4f4f4
            );
          }
        }

        .catg > ol {
          float: left;
          width: 100%;
          padding-left: 30px;
          margin-bottom: 15px;
          margin-top: -7.5px;

          li {
            margin-bottom: 5px;
          }
        }

        .catg > p,
        .catg > ol,
        .catg > ul,
        .catg > span,
        .catg > h1,
        .catg > h2,
        .catg > h3,
        .catg > h4,
        .catg > h5,
        .catg > h6 {
          display: none;
        }

        .catg.viewMore > p:nth-child(1) {
          display: block;
          height: auto;
          overflow: auto;

          &:after {
            display: none;
          }
        }

        .catg.viewMore > p,
        .catg.viewMore > ol,
        .catg.viewMore > ul,
        .catg.viewMore > span,
        .catg.viewMore > h1,
        .catg.viewMore > h2,
        .catg.viewMore > h3,
        .catg.viewMore > h4,
        .catg.viewMore > h5,
        .catg.viewMore > h6 {
          display: block;
        }
      }
    }

    .cateWrapper.transparent {
      background: transparent;
      padding: 0;
    }

    .headingWrapper {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 30px;
      margin-top: 15px;

      .heading {
        height: 1px;
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        padding-left: 0;
        background: #f0bd00;

        span {
          float: left;
          padding: 0;
          /* height: 37px; */
          text-align: center;
          /* line-height: 32px; */
          position: relative;
          top: -16px;
          left: 0;
          background: #f0bd00;

          .textanswer {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            padding: 4px 9px;
          }
        }
      }
    }
  }
}

.qna.qnacate {
  top: -3px;
}

/* Absolute Center Spinner */
.posReltv {
  position: relative;

  .qnaloading {
    position: absolute;
    height: 2em;
    width: 2em;
    overflow: inherit;
    margin: auto;
    left: 50%;
    bottom: 0;
    color: rgb(99, 99, 99);
    font-size: 14px;
  }
}

.posReltv.top {
  top: -73px;

  @media screen and (max-width: 767px) {
    top: 0;
  }

  .pagination {
    .rc-pagination {
      font-size: 12px;
      font-family: "Arial";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;
      padding: 0 5px;
    }

    .rc-pagination > li {
      list-style: none;
    }

    .rc-pagination-total-text {
      float: left;
      height: 30px;
      line-height: 30px;
      list-style: none;
      padding: 0;
      margin: 0 8px 0 0;
    }

    .rc-pagination:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }

    .rc-pagination-item {
      cursor: pointer;
      border-radius: 0px;
      min-width: 28px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      list-style: none;
      float: left;
      border: none;
      border-right: 1px solid #d9d9d9;
      background-color: #fff;
      margin-right: 0px;
      padding: 3px 16px;
    }

    .rc-pagination-item a {
      text-decoration: none;
      color: #666;
    }

    .rc-pagination-item:hover {
      border-color: #f0bd00;
    }

    .rc-pagination-item:hover a {
      color: #f0bd00;
    }

    .rc-pagination-item-active {
      background-color: #f0bd00;
      border-color: #f0bd00;
    }

    .rc-pagination-item-active a {
      color: #fff;
    }

    .rc-pagination-item-active:hover a {
      color: #fff;
    }

    .rc-pagination-jump-prev:after,
    .rc-pagination-jump-next:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }

    .rc-pagination-jump-prev:hover:after,
    .rc-pagination-jump-next:hover:after {
      color: #f0bd00;
    }

    .rc-pagination-jump-prev:hover:after {
      content: "\AB";
    }

    .rc-pagination-jump-next:hover:after {
      content: "\BB";
    }

    .rc-pagination-prev,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      margin-right: 1px;
    }

    .rc-pagination-prev,
    .rc-pagination-next,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      cursor: pointer;
      color: #666;
      font-size: 10px;
      border-radius: 6px;
      list-style: none;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      float: left;
      text-align: center;
    }

    .rc-pagination-prev a:after {
      content: "\2039";
      display: block;
    }

    .rc-pagination-next a:after {
      content: "\203A";
      display: block;
    }

    .rc-pagination-prev,
    .rc-pagination-next {
      border: 0px solid #d9d9d9;
      font-size: 30px;
      padding-top: 2px;
      height: 33px;
      background: #fff;
      border-radius: 0;
    }

    .rc-pagination-prev a,
    .rc-pagination-next a {
      color: #666;
    }

    .rc-pagination-prev a:after,
    .rc-pagination-next a:after {
      margin-top: -1px;
    }

    .rc-pagination-disabled {
      cursor: not-allowed;
    }

    .rc-pagination-disabled a {
      color: #ccc;
    }

    .rc-pagination-options {
      float: left;
      margin-left: 15px;
    }

    .rc-pagination-options-size-changer {
      float: left;
      width: 80px;
    }

    .rc-pagination-options-quick-jumper {
      float: left;
      margin-left: 16px;
      height: 28px;
      line-height: 28px;
    }

    .rc-pagination-options-quick-jumper input {
      margin: 0 8px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      outline: none;
      padding: 3px 12px;
      width: 50px;
      height: 28px;
    }

    .rc-pagination-options-quick-jumper input:hover {
      border-color: #f0bd00;
    }

    .rc-pagination-options-quick-jumper button {
      display: inline-block;
      margin: 0 8px;
      font-weight: 500;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 12px;
      border-radius: 6px;
      height: 28px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
    }

    .rc-pagination-options-quick-jumper button:hover,
    .rc-pagination-options-quick-jumper button:active,
    .rc-pagination-options-quick-jumper button:focus {
      color: #f0bd00;
      background-color: #fff;
      border-color: #f0bd00;
    }
  }
}

/* Transparent Overlay */
.qnaloading:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

/* :not(:required) hides these rules from IE9 and below */
.qnaloading:not(:required) {
  /* hide "loading..." text */
  font: 10px/2em;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.qnaloading:not(:required):after {
  content: "";
  display: block;
  font-size: 6px;
  width: 1em;
  height: 1em;
  margin-top: -12px;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(99, 99, 99, 0.75) 1.5em 0 0 0,
    rgba(99, 99, 99, 0.75) 1.1em 1.1em 0 0, rgba(99, 99, 99, 0.75) 0 1.5em 0 0,
    rgba(99, 99, 99, 0.75) -1.1em 1.1em 0 0, rgba(99, 99, 99, 0.5) -1.5em 0 0 0,
    rgba(99, 99, 99, 0.5) -1.1em -1.1em 0 0, rgba(99, 99, 99, 0.75) 0 -1.5em 0 0,
    rgba(99, 99, 99, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(99, 99, 99, 0.75) 1.5em 0 0 0,
    rgba(99, 99, 99, 0.75) 1.1em 1.1em 0 0, rgba(99, 99, 99, 0.75) 0 1.5em 0 0,
    rgba(99, 99, 99, 0.75) -1.1em 1.1em 0 0, rgba(99, 99, 99, 0.75) -1.5em 0 0 0,
    rgba(99, 99, 99, 0.75) -1.1em -1.1em 0 0,
    rgba(99, 99, 99, 0.75) 0 -1.5em 0 0, rgba(99, 99, 99, 0.75) 1.1em -1.1em 0 0;
  position: absolute;
  left: -24px;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}
.author {
  color: #000;
  span {
    color: #565656;
    font-weight: bold;
  }
}
