.popup.qnapopup {
  .popup_inner {
    border-radius: 0;

    .LoginRegPopup {
      background: red;

      .modal.modelAuthPopup1 {
        .modelBg {
          border-radius: 0;

          .modal-header {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            background-color: transparent;
            border-bottom: 0;
            height: 0;
          }

          .modal-body {
            margin: 15px 25px 30px;

            h4 {
              margin: 0;
              font-size: 24px;
              text-align: left;
            }

            p {
              text-align: left;
              padding-bottom: 15px;
              position: relative;

              i {
                font-size: 24px;
                font-weight: normal;
                color: green;
                padding-right: 5px;
                padding-top: 5px;
              }
            }

            .already {
              text-align: left;

              color: red;

              i {
                color: #ef0202;
                padding: 5px;
                width: 20px;
                height: 20px;
                font-size: 16px;
                margin: 0 8px 0 0;
              }
            }

            .mutliSelect {
              ul {
                float: left;
                width: 100%;
                position: relative;

                li {
                  background-color: #f9f9f9;
                  padding: 10px;
                  margin-bottom: 10px;

                  input {
                    margin-right: 5px;
                  }
                }
              }
            }

            form {
              .ctrl-wrapper {
                float: left;
                width: 100%;
                position: relative;
                margin-bottom: 15px;

                .form-control.Select--multi {
                  float: left;
                  height: auto;
                  position: relative;

                  background-color: #f9f9f9;

                  border: 1px solid #ccc;
                  padding: 10px;

                  .Select-value-label {
                    border-bottom-right-radius: 2px;
                    border-top-right-radius: 2px;
                    cursor: default;
                    padding: 2px 5px;
                  }

                  .Select-value {
                    border-radius: 2px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #fdb701;
                    color: black;
                    display: inline-block;
                    font-size: 0.9em;
                    line-height: 1.4;
                    margin-left: 5px;
                    margin-top: 0;
                    margin-bottom: 5px;
                    vertical-align: top;
                  }

                  .Select-value-icon {
                    cursor: pointer;
                    border-bottom-left-radius: 2px;
                    border-top-left-radius: 2px;
                    border-right-width: 1px;
                    border-style: solid;
                    border-color: #fefefe;
                    padding: 1px 5px 3px;
                  }

                  .Select-value-icon,
                  .Select-value-label {
                    display: table-cell;
                    vertical-align: middle;
                  }

                  .Select-input {
                    vertical-align: middle;
                    margin-left: 5px;
                    padding: 0;
                    height: 23px;
                    padding-left: 0;
                    padding-right: 0;
                    vertical-align: middle;

                    input {
                      box-sizing: content-box;
                      width: 5px;
                      background: none transparent;
                      border: 0 none;
                      box-shadow: none;
                      cursor: default;
                      display: inline-block;
                      font-family: inherit;
                      font-size: inherit;
                      margin: 0;
                      outline: none;
                      line-height: 23px !important;
                      padding: 0 !important;
                      -webkit-appearance: none;
                    }
                  }

                  .Select-control {
                    position: relative;

                    .Select-aria-only {
                      position: absolute;
                      display: inline-block;
                      height: 1px;
                      width: 1px;
                      margin: -1px;
                      clip: rect(0, 0, 0, 0);
                      overflow: hidden;
                      float: left;
                    }

                    .Select-multi-value-wrapper {
                      position: relative;
                      left: 0;
                      top: 0;

                      .Select-placeholder {
                        padding-left: 0;
                        float: left;
                      }

                      .Select-input {
                        input {
                          width: 100%;
                          background: none transparent;
                          border: 0 none;
                          box-shadow: none;
                          cursor: default;
                          display: inline-block;
                          font-family: inherit;
                          font-size: inherit;
                          margin: 0;
                          outline: none;
                          line-height: 17px;
                          padding: 8px 0 12px;
                          -webkit-appearance: none;
                        }
                      }

                      .is-focused {
                        .is-focused .Select-input > input {
                          cursor: text;
                        }
                      }

                      .Select--multi.has-value {
                        .Select-input {
                          margin-left: 5px;
                        }
                      }

                      .Select--multi.has-value {
                        .Select-input {
                          margin-left: 5px;
                        }
                      }
                    }

                    .Select-clear-zone {
                      width: 16px;
                      height: 16px;
                      color: #070606;
                      cursor: pointer;
                      text-align: center;
                      position: absolute;
                      right: -12px;
                      top: -14px;

                      .Select-clear {
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1;
                        font-weight: 400;
                        position: relative;
                        top: -4px;
                        display: none;
                      }
                    }

                    @media screen and (max-width: 390px) {
                      .Select-clear-zone {
                        right: -5px;
                        top: 15px;
                      }
                    }
                  }
                }

                .Select-menu-outer {
                  border-bottom-right-radius: 4px;
                  border-bottom-left-radius: 4px;
                  background-color: #fff;
                  border: 1px solid #ccc;
                  border-top-color: #e6e6e6;
                  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
                  box-sizing: border-box;
                  margin-top: -1px;
                  max-height: 200px;
                  position: absolute;
                  top: 100%;
                  width: 100%;
                  z-index: 9991;

                  -webkit-overflow-scrolling: touch;
                  display: block;
                  left: 0;
                }

                @media screen and (max-width: 991px) {
                  .Select-menu-outer {
                    left: 2.5%;
                    width: 97.5%;
                  }
                }

                @media screen and (max-width: 390px) {
                  .Select-menu-outer {
                    left: 3%;
                    width: 97%;
                  }
                }

                .Select-menu {
                  max-height: 198px;
                  overflow-y: auto;
                }

                .Select-menu::-webkit-scrollbar {
                  width: 5px;
                }

                .Select-menu::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px #e8e8e8;
                }

                .Select-menu::-webkit-scrollbar-thumb {
                  background-color: #fdb701;
                  outline: 1px solid #e8e8e8;
                }

                .Select-option {
                  box-sizing: border-box;
                  background-color: #fff;
                  color: #666;
                  cursor: pointer;
                  display: block;
                  padding: 8px 10px;
                }

                .Select-option:last-child {
                  border-bottom-right-radius: 4px;
                  border-bottom-left-radius: 4px;
                }

                .Select-option.is-selected {
                  background-color: #f5faff;
                  background-color: rgba(0, 126, 255, 0.04);
                  color: #333;
                }

                .Select-option.is-focused {
                  background-color: #ebf5ff;
                  background-color: rgba(0, 126, 255, 0.08);
                  color: #333;
                }

                .Select-option.is-disabled {
                  color: #ccc;
                  cursor: default;
                }

                .Select-noresults {
                  box-sizing: border-box;
                  color: #999;
                  cursor: default;
                  display: block;
                  padding: 8px 10px;
                }

                .Select--multi .Select-input {
                  vertical-align: middle;
                  margin-left: 0px;
                  padding: 0;
                  border: 0;
                }

                .Select--multi .Select-input input {
                  border: 0;
                }

                .Select--multi.Select--rtl .Select-input {
                  margin-left: 0;
                  margin-right: 10px;
                }

                .Select--multi.has-value .Select-input {
                  margin-left: 5px;
                }

                .Select--multi .Select-value {
                  border-radius: 2px;
                  display: inline-block;
                  font-size: 0.9em;
                  line-height: 1.4;
                  margin-left: 5px;
                  margin-top: 0;
                  margin-bottom: 5px;
                  vertical-align: top;
                  background-color: #fdb701;
                  color: white;
                }

                .Select--multi .Select-value-icon,
                .Select--multi .Select-value-label {
                  display: table-cell;
                  vertical-align: middle;
                }

                .Select--multi .Select-value-label {
                  border-bottom-right-radius: 2px;
                  border-top-right-radius: 2px;
                  cursor: default;
                  padding: 2px 5px;
                  color: white;
                }

                .Select--multi a.Select-value-label {
                  color: white;
                  cursor: pointer;
                  text-decoration: none;
                }

                .Select--multi a.Select-value-label:hover {
                  text-decoration: underline;
                }

                .Select--multi .Select-value-icon {
                  cursor: pointer;
                  border-bottom-left-radius: 2px;
                  border-top-left-radius: 2px;
                  background-color: #fdb701;
                  color: white;
                  padding: 1px 5px 3px;
                }

                .Select--multi .Select-value-icon:focus,
                .Select--multi .Select-value-icon:hover {
                  background-color: #fdb701;
                  color: white;
                }

                .Select--multi .Select-value-icon:active {
                  background-color: #fdb701;
                  color: white;
                }

                .Select--multi.Select--rtl .Select-value {
                  margin-left: 0;
                  margin-right: 5px;
                }

                .Select--multi.Select--rtl .Select-value-icon {
                  border-right: none;
                  border-left: 1px solid #c2e0ff;
                  border-left: 1px solid rgba(0, 126, 255, 0.24);
                }

                .Select--multi.is-disabled .Select-value {
                  background-color: #fcfcfc;
                  border: 1px solid #e3e3e3;
                  color: #333;
                }

                .Select--multi.is-disabled .Select-value-icon {
                  cursor: not-allowed;
                  border-right: 1px solid #e3e3e3;
                }

                .Select--multi.is-disabled .Select-value-icon:active,
                .Select--multi.is-disabled .Select-value-icon:focus,
                .Select--multi.is-disabled .Select-value-icon:hover {
                  background-color: #fcfcfc;
                }

                @keyframes Select-animation-spin {
                  to {
                    transform: rotate(1turn);
                  }
                }

                @-webkit-keyframes Select-animation-spin {
                  to {
                    -webkit-transform: rotate(1turn);
                  }
                }
              }

              .form-group {
                input,
                textarea {
                  background-color: #f9f9f9;
                  height: auto;
                  width: 100%;
                  border: 1px solid #ccc;
                  padding: 10px;
                }

                ul {
                  background-color: #fff;
                  float: left;
                  position: relative;
                  width: 100%;
                  border: 1px solid #ccc;
                  border-top: 0;

                  li {
                    font-size: 14px;
                    color: #555555;
                    border-bottom: 1px solid #ccc;
                    padding: 10px;
                  }
                }
              }
              textarea.form-control {
                resize: none;
              }

              .form-group.textAreaCrtl {
                dd.error,
                span.error {
                  bottom: 97px;
                }
              }
            }

            .btn {
              width: 98px;
              margin: 15px 0 0 15px;
            }
          }
        }
      }
    }
  }
}
