header {
  background-color: map-get($colors, transparentBg);
}

.city {
  .graybg {
    background-color: #fff;
    min-height: 345px;
    padding-top: 80px;
    padding-bottom: 50px;
    h1.title {
      font-size: 30px;
      line-height: 1.5;
      color: #000;
      font-weight: 500;
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      padding: 0 15px;
      &:before {
        content: "";
        background: transparent
          url(https://buddy4study.s3.ap-southeast-1.amazonaws.com/static/images/merckLogo.png)
          28px 12px no-repeat;
        display: block;
        width: 200px;
        height: 50px;
        margin-left: -100px;
        position: absolute;
        top: -59px;
        left: 50%;
        background-size: 74%;
      }
    }
    .cityTabWrapper {
      position: relative;
      margin-top: 15px;
      float: left;
      width: 100%;
      padding: 0 15px;
      ul {
        font-weight: 400;
        width: 100%;
        margin: 0;
        float: left;
        border-bottom: 1px solid #1a1a18;
        padding-bottom: 3px;
        li {
          background: #e7e7e8;
          margin: 0 0 0 10px;
          margin-left: 10px;
          position: relative;
          float: left;
          color: #262626;
          font-weight: 500;
          font-size: 18px;
          position: relative;
          height: 50px;
          line-height: 50px;
          padding: 0 30px;
          width: auto;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          cursor: pointer;
        }
        @media screen and (max-width: 327px) {
          li {
            width: 100%;
            margin: 0 0 10px;
            text-align: center;
          }
        }
        li.active {
          float: left;
          color: #262626;
          font-size: 18px;
          position: relative;
          height: 50px;
          width: auto;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          padding: 0 30px;
          background: #ebb800;
          cursor: default;
        }
        @media screen and (max-width: 327px) {
          li.active,
          li:hover {
            width: 100%;
          }
        }
        li:nth-child(2) {
          margin-left: 10px;
        }
        @media screen and (max-width: 327px) {
          li:nth-child(2) {
            margin-left: 0;
          }
        }
        li.active:nth-child(2) {
          margin-left: 10px;
        }
        li:first-child {
          margin-left: 0;
        }
        li:after,
        li:hover:after,
        li.active:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          background: #ebb800;
          height: 3px;
          width: 100%;
          z-index: 1;
        }
        li:after {
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        li.active:after,
        li:hover:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      @media screen and (max-width: 327px) {
        ul {
          border-bottom: 0;
        }
      }
      .tabContent {
        float: left;
        margin: 0;
        padding: 15px;
        border: 1px solid rgba(214, 213, 213, 0.3);
        background-color: #f1f1f1;
        width: 100%;
        img {
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.tnc.topPos {
  position: relative;
  z-index: 1;
  top: 0;
  .bgtnc {
    background: $static-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
  }
}

.gray {
  background: #f4f4f4;
}
