@media screen and (max-width: 1024px) {
  .disclaimer {
    .graybg {
      .left {
        padding: 30px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .disclaimer {
    .graybg {
      .left {
        padding: 25px;
        width: 100%;
      }
      left.disclaimerWrapper{
        .row{
          margin-left: 0;
          margin-right: 0;
        }
      }
      .right {
        position: relative;
        width: 100%;
        padding: 0;
        h1 {
          font-size: 20px;
          line-height: 20px;
          font-weight: bold;
          padding: 25px 15px 25px;
        }
        img {
          display: none;
        }
      }
    }
  }
  .tnc {
    .bgtnc {
      h1 {
        font-size: 30px;
      }
    }
  }
}
