.applicationshareLink {
  .bgshare {
    position: fixed;
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/top-home-bg-new.jpg);
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  .imgAlpha {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .box {
    background: #fff;
    height: 400px;
    width: 55%;
    z-index: 2;
    line-height: 30px;
    position: relative;
    margin: 17% auto;
    border-radius: 10px;
    border: 5px solid #ffd66f;
    h1 {
      padding-top: 20px;
      font-size: 30px;
      font-weight: bold;
    }
    h3 {
      font-size: 22px;
      line-height: 30px;
    }
    p {
      padding-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    .socialSharedCounter {
      width: 200px;
      margin: 0 auto;
      margin-top: 30px;
      overflow: auto;
      a {
        margin: 0;
        text-decoration: none;
        float: left;
        margin-right: 15px;
        .SocialMediaShareButton--facebook,
        .SocialMediaShareButton--twitter,
        .SocialMediaShareButton--linkedin,
        .whatsapp,
        .envelope {
          width: 35px;
          height: 35px;
          color: #fff;
          border-radius: 0px;
          text-align: center;
          font-size: 20px;
          line-height: 35px; // margin-left: 0;
          // margin-right: 11px;
          margin-bottom: 10px; // padding-left: 5px;
          // padding-right: 5px;
        }
        .SocialMediaShareButton--facebook {
          background: #3b5999;
          margin-left: 0;
        }
        .whatsapp {
          background: #2ab200;
          margin-left: 0px;
          line-height: 34px;
        }
        .envelope {
          background: #c43d21;
          margin-left: 0px;
          line-height: 34px;
        }
        .SocialMediaShareButton--twitter {
          background: #4099ff;
        }
        .SocialMediaShareButton--linkedin {
          background: #006699;
          line-height: 36px;
          margin-left: 0 !important;
          .fa.fa-linkedin {
            top: -2px;
            position: relative;
          }
        }
      }
      a:nth-child(2) + .SocialMediaShareCount,
      a:nth-child(4) + .SocialMediaShareCount,
      a:nth-child(5) + .SocialMediaShareCount {
        float: left;
        min-width: 35px;
        height: 35px;
        line-height: 33px;
        text-align: center;
        background: #fff;
        border: 1px solid #a5b1bd;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        font-weight: 400;
        position: relative;
        border-radius: 0px;
        width: auto;
        padding: 0 5px;
        top: -1px;
      }
    }
    .link {
      padding: 0 20px;
      margin-top: 20px;
      border: 1px solid #ccc;
      span {
      }
    }
  }
  .btn {
    padding: 10px 50px;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .applicationshareLink {
    .box {
      background: #fff;
      height: 429px;
      width: 96%;
      z-index: 2;
      position: relative;
      margin: 15% auto;
      border-radius: 10px;
      border: 5px solid #ffd66f;
      h1 {
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
      }
      h3 {
        font-size: 16px;
      }
      p {
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
