.filterLabelPos {
  margin-top: 30px;
  article {
    .Select:before {
      content: "Class";
      position: absolute;
      top: -25px;
      left: 0;
      width: 100%;
      z-index: -1;
    }
    .Select:nth-child(1):before {
      content: "Class";
    }
    .Select:nth-child(2):before {
      content: "Gender";
    }
    .Select:nth-child(3):before {
      content: "Religion";
    }
    .Select:nth-child(4):before {
      content: "Scholarship";
    }
    .Select:nth-child(5):before {
      content: "Country";
    }
  }
}
@media screen and (max-width: 700px) {
  .filterLabelPos {
    height: 140px;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
}
