.boxfliter {
  @include padding(15px 0);
  background: #fff;
  .flitterRow {
    h2 {
      font-size: 22px;
      color: #000;
      font-weight: 400;
      margin: 0;
      @media screen and (max-width: 970px) {
        font-size: 18px;
      }
    }
    h1 {
      font-size: 22px;
      color: #000;
      font-weight: 400;
      margin: 0;
      @media screen and (max-width: 970px) {
        font-size: 18px;
      }
      .apply-but {
        color: $b4s-color-black;
        position: $position-relative;
        width: 105px;
        height: 30px;
        line-height: 26px;
        border-radius: 30px;
        background: $b4s-yellow-color;
        border: 2px solid $b4s-yellow-color;
        text-align: $element-center-align;
        @include font-size(14px);
        z-index: 3;
        font-weight: $b4s-font-weight-500;
        text-decoration: none;
        padding: 0;
        display: inline-block;
        cursor: pointer;
        margin-right: 15px;
        &::before {
          content: "\f0b0";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          position: relative;
          color: $t-color-black;
          right: 6px;
          top: 0;
          @include font-size(18px);
        }
        .bulletIcon {
          color: red;
          font-size: 7px;
          position: relative;
          left: 5px;
          top: -8px;
        }
      }
    }
  }
  .wrapperfullsearch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    .filterMobileWrapper {
      position: fixed;
      z-index: 4;
      left: -100%;
      top: 0;
      width: 500px;
      height: 100%;
      background: #f5f5f5;
      @include font-size(16px);
      @include padding(0);
      @media screen and (max-width: 767px) {
        width: 90%;
        font-size: 13px;
      }

      .flitterHeader {
        @include padding(10px 0);
        position: relative;
        width: 100%;
        margin: 0;
        background: #fff;
        border-bottom: 1px solid #eaebec;
        display: flex;
        @media screen and (max-width: 730px) {
          .col-md-6 {
            width: 50%;
          }
        }
        .close {
          font-size: 26px;
          color: #fdb701;
          border: 2px solid #fdb701;
          padding: 5px;
          position: relative;
          top: 0;
          float: right;
          cursor: pointer;
          width: 30px;
          height: 30px;
          text-align: center;
          background: transparent;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          i {
            position: relative;
            font-style: normal;
            font-weight: 600;
            top: -7px;
          }
        }
        .close:hover {
          color: $t-color-black;
          border: 2px solid $t-color-yellow;
          background-color: $bg-color-yellow;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
        .keyword {
          margin: 0;
          width: 100%;
          position: relative;

          span {
            color: #000;
            position: relative;
            width: auto;
            height: 30px;
            line-height: 26px;
            border-radius: 30px;
            background: #f0bd00;
            border: 2px solid #f0bd00;
            text-align: center;
            font-size: 14px;
            z-index: 3;
            font-weight: 500;
            text-decoration: none;
            padding: 0 20px;
            cursor: pointer;
          }
        }
        h3 {
          line-height: 1.5;
          color: #000;
          font-weight: 500;
          position: relative;
          font-size: 16px;
        }
      }
      .flitterBody {
        position: relative;
        padding: 2px 0;
        margin: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        height: 100%;
        .col-md-4 {
          padding: 0;
        }
        .col-md-8 {
          padding-left: 0;
          padding-right: 5px;
          background-color: #fff;
        }

        .filterBox {
          width: 100%;
          ul {
            width: 100%;
            position: relative;
            li {
              padding: 0 15px;
              border-bottom: 1px solid #ebebec;
              margin-bottom: 0;
              height: 38px;
              line-height: 38px;
              cursor: pointer;
              position: relative;
            }
            li.active {
              background: #fff;
              font-weight: 600;
            }
          }
        }
        .second {
          background: #fff;
          height: 90%;
          width: 100%;
          overflow-y: auto;
          margin-bottom: 1%;
          .ctrl-wrapper {
            float: initial;
            width: 100%;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            .form-group.interest {
              width: 100%;
              label {
                position: $pos-relative;
                padding-left: 25px;
                width: 100%;
                clear: left;
                height: 38px;
                line-height: 38px;
                border-bottom: 1px solid #ebebec;
                font-weight: 500;
                input {
                  position: $pos-absolute;
                  left: 1px;
                  width: 14px;
                  margin: 0;
                  height: 15px;
                  top: 2px;
                  opacity: 0;
                }
                input + dd.chkbox {
                  background: #fff;
                  width: 16px;
                  height: 16px;
                  border: 1px solid #b7b7b7;
                  position: $pos-absolute;
                  top: 12px;
                  left: 0;
                  z-index: 0;
                  -webkit-transform: scale(1);
                  -moz-transform: scale(1);
                  -ms-transform: scale(1);
                  transform: scale(1);
                  -webkit-transition: all 0.3s ease-in;
                  -moz-transition: all 0.3s ease-in;
                  transition: all 0.3s ease-in;
                  display: inline-block;
                }
                input:checked + dd.chkbox {
                  border: 0;
                  background: $bg-color-white;
                  -webkit-transform: scale(1.1);
                  -moz-transform: scale(1.1);
                  -ms-transform: scale(1.1);
                  transform: scale(1.1);
                  -webkit-transition: all 0.3s ease-in;
                  -moz-transition: all 0.3s ease-in;
                  transition: all 0.3s ease-in;
                }
                input:checked + dd.chkbox:before {
                  position: $pos-absolute;
                  left: 0;
                  top: -4px;
                  content: "\2713";
                  color: $black-color;
                }
              }
            }
            .others {
              color: $b4s-color-black;
              position: $position-relative;
              width: 96px;
              height: 30px;
              line-height: 26px;
              border-radius: 30px;
              background: $b4s-yellow-color;
              border: 2px solid $b4s-yellow-color;
              text-align: $element-center-align;
              @include font-size(14px);
              z-index: 3;
              font-weight: $b4s-font-weight-500;
              text-decoration: none;
              padding: 0 20px;
              margin: 20px 0;
            }
          }
        }
        .second.scrollbarColor {
          height: 90%;
          width: 100%;
          overflow-y: auto;
        }

        /* width */
        .scrollbarColor::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        .scrollbarColor::-webkit-scrollbar-track {
          background: #d7d7d7;
        }

        /* Handle */
        .scrollbarColor::-webkit-scrollbar-thumb {
          background: #373435;
        }

        /* Handle on hover */
        .scrollbarColor::-webkit-scrollbar-thumb:hover {
          background: #373435;
        }
      }
      .flitterFooter {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        @include margin(0);
        @include padding(10px 0);
        background: #fff;
        border-top: 1px solid #eaebec;
        z-index: 2;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .wrapperBtn {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          .apply-but {
            color: $b4s-color-black;
            position: $position-relative;
            width: 180px;
            height: 30px;
            line-height: 26px;
            border-radius: 30px;
            background: $b4s-yellow-color;
            border: 2px solid $b4s-yellow-color;
            text-align: $element-center-align;
            @include font-size(14px);
            z-index: 3;
            font-weight: $b4s-font-weight-500;
            text-decoration: none;
            padding: 0 20px;
            cursor: pointer;
          }
        }
      }
    }

    .filterMobileWrapper.open {
      left: 0;
      @include transition(all 0.3s ease-in);
      animation: slide-down-flitter 0.7s;
      transform: translateZ(0);
      transition: all 0.5s;
    }
    @keyframes slide-down-flitter {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
