.font-family {
  font-family: $font-family-Lato;
  letter-spacing: 0.1px;
}

.default-top-banner.topBg {
  background: rgba(0, 0, 0, 1);
}

.default-top-banner.topBg.noheader {
  display: none;
}

.top-banner-default-height.topBgHeight {
  min-height: 72px;
}

header {
  background: #000;
}

.moboCellOrder {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.details-page-wrapper {
  padding-top: 0;
  background: #eaeaea;
  position: relative;
  top: 0;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .relatedArticle {
    float: left;
    border-top: 6px solid #eeefef;
    border-radius: 0;
    h2 {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      background: #f0bd00;
      padding: 15px;
      display: inline-block;
      width: 100%;
      margin: 0;
      letter-spacing: 0.6px;
      min-height: initial;
    }
    .boxArticle {
      background: #ffffff;
      display: block;
      width: 100%;
      float: left;
      padding: 0;
      border: 0;
      border-radius: 0;
      @include margin(0);
      p {
        padding: 15px 20px;
        word-break: break-word;
        margin: 0;
        line-height: 20px;
      }
    }
    a {
      font-weight: bold;
      display: flex;
      width: 100%;
      position: relative;
      img {
        width: 100%;
        height: auto;
        max-height: 170px;
        border-radius: 0;
      }
    }
    .buttonAlign {
      background: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      button.btn-yellow {
        float: initial;
        background: #f0bd00;
        border: 0;
        padding: 7.5px 28px !important;
        font-weight: 600;
        border-radius: 30px;
        &:first-child {
          margin-right: 3.5px !important;
        }
      }
    }
  }
  .panel {
    display: inline-block;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: map-get($colors, whiteColor);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    dd {
      @include font-size(22px);
      font-weight: $b4s-font-weight-600;
      display: inline-block;
      margin-bottom: 25px;
    }

    button {
      float: initial;
      background: $b4s-yellow-color;
      border: 0;
      padding: 8px 28px;
      font-weight: $b4s-font-weight-600;
      border-radius: 30px;
    }

    button.close {
      background: transparent;
    }

    .data-row {
      border-bottom: 1px solid #e4e4e4;
      margin: 0 0 20px;
      float: $element-left-align;
      width: 100%;
      padding-bottom: 20px;
      @include font-size(14px);
      color: $b4s-color-black;

      h2, h3 {
        @include font-size(16px);
        color: $b4s-color-black;
        font-weight: $b4s-font-weight-600;
        margin: 0 0 15px;
        padding: 0;
        float: $element-left-align;
        width: 100%;
      }
      h3{
        margin-top:15px;
        margin-bottom:10px
      }

      table {
        width: 100% !important;
        border: 1px solid rgba(228, 228, 228, 0.5);

        tr {
          border-bottom: 1px solid rgba(228, 228, 228, 0.5);

          th,
          td {
            border-right: 1px solid rgba(228, 228, 228, 0.5);
            padding: 15px;
            word-break: break-word;

            &:last-child {
              border-right: 0;
            }
          }

          &:first-child {
            background: rgba(228, 228, 228, 0.3);
            font-weight: 600;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
      p {
        font-weight: $b4s-font-weight-400;
        margin: 0 0 7.5px;
        padding: 0;
        float: $element-left-align;
        width: 100%;
        word-break: break-word;

        strong {
          margin: 0 0 7.5px;
        }
      }

      p {
        font-weight: $b4s-font-weight-400;
        margin: 0 0 7.5px;
        padding: 0;
        float: $element-left-align;
        width: 100%;
        word-break: break-word;

        strong {
          margin: 0 0 7.5px;
        }
        p {
          font-weight: $b4s-font-weight-400;
        }

        ul,
        ol {
          float: $element-left-align;
          width: 100%;
          list-style: none;

          li {
            font-weight: $b4s-font-weight-400;
            position: $position-relative;
            padding-left: 11px;
            float: $element-left-align;
            width: 100%;

            &:before {
              content: "";
              position: $position-absolute;
              top: 9px;
              left: 0;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: $b4s-color-black;
              display: block;
            }
          }
        }
      }

      p.btnTag {
        float: $element-left-align;
        width: auto;
        padding: 8px 20px;
        background: $b4s-yellow-color;
        margin: 0 5px 10px 0;
        border-radius: 30px;

        a {
          color: #171717;
          text-decoration: none;
          font-weight: $b4s-font-weight-600;
        }
      }

      ul,
      ol {
        float: $element-left-align;
        width: 100%;
        list-style: none;

        li {
          font-weight: $b4s-font-weight-400;
          position: $position-relative;
          padding-left: 11px;
          float: $element-left-align;
          width: 100%;
          margin-bottom: 7.5px;

          &:before {
            content: "";
            position: $position-absolute;
            top: 7px !important;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $b4s-color-black;
            display: block;
          }
        }
      }
    }

    .data-row:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;

      p {
        margin-bottom: 0;
      }

      p.btnTag {
        margin-bottom: 10px;
      }
    }

    .data-row {
      .nopadding {
        padding: 0;

        .invite {
          a {
            padding: 0;
            font-weight: 600;
            position: relative;
            padding-left: 30px;
            margin-right: 30px;
            font-size: 14px;

            &::before {
              content: "";
              position: $position-absolute;
              top: -19px;
              left: -22px;
              width: 50px;
              height: 40px;
              display: block;
            }
          }

          a:nth-child(1) {
            &::before {
              background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -240px;
            }
          }

          a:nth-child(2) {
            &::before {
              background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -394px;
            }
          }
        }
      }

      .bannerRow {
        width: 100%;
        height: 90px;
        display: flex;
        background: #313754;

        img {
          width: auto;
          display: flex;
          height: 90px;
        }

        @media screen and (max-width: 1199px) {
          img {
            width: 145px;
          }
        }

        @media screen and (max-width: 735px) {
          img {
            display: none;
          }
        }

        .bannerContent {
          display: flex;
          height: 90px;
          width: auto;
          padding: 16px 30px;
          flex-wrap: wrap;

          h4 {
            color: #fff;
            font-size: 22px;
            text-align: left;
            width: 100%;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
            margin-top: 0;
            display: flex;
            align-items: center;

            i {
              font-style: normal;
              color: #fdb701;
              margin-left: 3.5px;
              margin-right: 3.5px;
            }
          }

          @media screen and (max-width: 1199px) {
            h4 {
              @include font-size(18px);
            }
          }

          @media screen and (max-width: 991px) {
            h4 {
              display: table;
              display: table;
              margin-bottom: 7.5px;
            }
          }

          @media screen and (max-width: 966px) {
            h4 {
              @include font-size(22px);
            }
          }

          @media screen and (max-width: 834px) {
            h4 {
              @include font-size(20px);
            }
          }

          @media screen and (max-width: 780px) {
            h4 {
              @include font-size(18px);
            }
          }

          @media screen and (max-width: 735px) {
            h4 {
              display: table;
              line-height: 1.4;
              @include font-size(22px);
              margin-bottom: 7.5px;
            }
          }

          p {
            color: #fff;
            display: flex;
            align-items: center;

            a,
            span {
              color: #fdb701;
              text-decoration: underline;
              margin-left: 7.5px;
              cursor: pointer;

              &:hover {
                text-decoration: none;
              }
            }

            @media screen and (max-width: 431px) {
              a,
              span {
                display: table;
                margin-left: 0;
              }
            }
          }

          @media screen and (max-width: 431px) {
            p {
              display: table;
            }
          }
        }

        @media screen and (max-width: 1199px) {
          .bannerContent {
            padding: 15px 19px;
          }
        }

        @media screen and (max-width: 1024px) {
          .bannerContent {
            padding: 16px 30px;
          }
        }

        @media screen and (max-width: 991px) {
          .bannerContent {
            padding: 23px 20px;
            display: table;
            flex-wrap: initial;
          }
        }

        @media screen and (max-width: 735px) {
          .bannerRow {
            display: table;
            padding: 16px 30px;
          }
        }
      }

      @media screen and (max-width: 735px) {
        .bannerRow {
          height: auto;
        }
      }
    }
  }
  /* top: 72px; 
  margin-bottom: 72px;*/
  .container {
    .detailscate {
      .col-md-4 {
        /* width:100%; */
        .relatedCat .contentdisplay p.deadline a {
          width: 100%;
          display: table;
        }

        .relatedCat .contentdisplay h2 a span {
          min-height: 30px;
          max-height: 30px;
        }

        padding-left: 0;
        padding-right: 15px;
      }
    }

    .socialSharedCounter.scrollPosition {
      padding: 0 5px;
      float: initial;
      width: auto;
      position: fixed;
      left: 0;
      height: 146px;
      top: 50%;
      margin-top: -100px;
      z-index: 2;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;

      p {
        font-size: 14px;
        font-weight: 600;
        float: left;
        width: 100%;
        text-align: left;

        span {
          // float: left;
          width: 100%;
          margin-bottom: 7px;
        }

        span.viewCounter {
          margin: 0;
          padding: 0;
          width: auto;
          border: 1px solid rgba(51, 51, 51, 0.13);
          height: 100%;
          line-height: 28px;
          position: relative;
          -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
          -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
          top: inherit;
          float: left;
          clear: left;
          text-align: center;

          i {
            font-style: normal;
            float: left;
            padding: 0;
            background: #fff;
            margin-left: 0;
            font-weight: 400;
            border-left: 0;
            clear: left;
            width: 100%;
            text-align: center;
          }
        }

        a {
          margin: 0;
          text-decoration: none;
          float: left;
          clear: left;

          .SocialMediaShareButton--facebook,
          .SocialMediaShareButton--twitter,
          .SocialMediaShareButton--linkedin,
          .whatsapp {
            width: 35px;
            height: 35px;
            color: #fff;
            border-radius: 0px;
            text-align: center;
            font-size: 20px;
            line-height: 35px; // margin-left: 0;
            // margin-right: 11px;
            margin-bottom: 10px; // padding-left: 5px;
            // padding-right: 5px;
          }

          .SocialMediaShareButton--facebook {
            background: #3b5999;
            margin-left: 0;
          }

          .whatsapp {
            background: #2ab200;
            margin-left: 0px;
            line-height: 34px;
          }

          .SocialMediaShareButton--twitter {
            background: #4099ff;
          }

          .SocialMediaShareButton--linkedin {
            background: #006699;
            line-height: 36px;
            margin-left: 0 !important;

            .fa.fa-linkedin {
              top: -2px;
              position: relative;
            }
          }
        }

        a:nth-child(2) + .SocialMediaShareCount,
        a:nth-child(4) + .SocialMediaShareCount,
        a:nth-child(5) + .SocialMediaShareCount {
          float: left;
          min-width: 35px;
          height: 35px;
          line-height: 33px;
          text-align: center;
          background: #fff;
          border: 1px solid #a5b1bd;
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
          font-size: 16px;
          font-weight: 400;
          position: relative;
          border-radius: 0px;
          width: auto;
          padding: 0 5px;
          top: -1px;
        }
      }
    }

    @media screen and (max-width: 966px) {
      .socialSharedCounter.scrollPosition {
        right: 0;
        left: initial;
        top: 157px;
        height: initial;
        margin-top: 0;

        p {
          a {
            .SocialMediaShareButton--facebook,
            .SocialMediaShareButton--twitter,
            .SocialMediaShareButton--linkedin,
            .whatsapp {
              width: 28px;
              height: 28px;
              line-height: 28px;
              font-size: 14px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .bggreay {
      ul {
        margin-bottom: 0;

        li {
          position: relative;
          margin-right: 20px;
          display: inline-block;
          padding-top: 0;

          a {
            color: #2b292b;
            font-weight: 600;
            font-weight: normal;
          }
        }

        li:after {
          content: "";
          position: $position-absolute;
          top: 2px;
          right: -15px;
          width: 11px;
          height: 10px;
          background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
          display: block;
        }

        li:first-child {
          margin-left: 0;
        }

        li:last-child {
          a {
            color: #919191;
            pointer-events: none;
          }
        }

        li:last-child:after {
          display: none;
        }
      }
    }

    .breadcrumb {
      padding: 15px 0;
      list-style: none;
      background: 0 0;
      margin: 0;
      border-radius: 0;

      li {
        position: $position-relative;
        margin-left: 22px;
        width: auto;
        display: inline-block;

        a {
          color: $b4s-color-black;
          font-weight: $b4s-font-weight-400;
          @include font-size(14px);
        }
      }

      li:after {
        content: "";
        position: $position-absolute;
        top: 5px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
        display: block;
      }

      li:before {
        display: none;
      }

      li:first-child {
        margin-left: 0;
      }

      li:last-child {
        a {
          color: $b4s-breadcrumb-color;
          pointer-events: none;
        }

        a:after {
          display: none;
        }
      }

      li:last-child:after {
        display: none;
      }
    }

    h1.titleText {
      font-size: 30px;
      color: #000;
      font-weight: 700;
      @include margin(15px 0);
      @include padding(0 0 0 15px);
      float: left;
      text-align: left;

      a {
        color: #000;
        text-decoration: none;
      }

      .tooltip {
        width: 24px;
        height: 24px;
        background: #233b89;
        color: #fff;
        @include border-radius(50%);
        font-size: 14px;
        display: inline-block;
        margin-left: 15px;
        position: relative;
        top: -5px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;

        p {
          margin: 0;
        }

        .top {
          width: 120px;
          top: -14px;
          left: 50%;
          transform: translate(-50%, -100%);
          padding: 2x;
          color: #000000;
          background-color: #ffffff;
          font-weight: normal;
          font-size: 14px;
          border-radius: 5px;
          position: absolute;
          z-index: 99999999;
          box-sizing: border-box;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          display: none;
        }

        &:hover .top {
          display: block;
        }

        .top i {
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -15px;
          width: 30px;
          height: 15px;
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: #ffffff;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          }
        }
      }

      @media screen and (max-width: 560px) {
        .tooltip {
          width: 18px;
          height: 18px;
          line-height: 18px;
          font-size: 10px;
          margin-left: 8px;
        }
      }

      .tooltip.check {
        background-color: #197b30;
      }

      .tooltip.nonverified {
        background-color: rgb(192, 0, 0);
      }

      .tooltip.awaitedinfo {
        background-color: #0099d9;
      }

      .tooltip.info {
        background-color: #233b89;
      }
    }

    @media screen and (max-width: 800px) {
      h1.titleText {
        font-size: 26px;
        line-height: 27px;
      }
    }

    @media screen and (max-width: 480px) {
      h1.titleText {
        font-size: 18px;
        margin-top: 0;
      }
    }

    .col-md-3 {
      width: 28.5%;
    }

    .col-md-9 {
      width: 71.5%;
    }

    @media screen and (max-width: 966px) {
      .moboCellOrder {
        display: initial;
        flex-wrap: wrap;
        flex-direction: row;

        .row:nth-child(1) {
          margin-left: 0;
          margin-right: 0;

          .flex-item {
            order: 1;
            flex: 1 0 100%;
          }

          .flex-item::nth-child(2) {
            order: 2;
            flex: 1 0 100%;
            padding-left: 15px;
            padding-right: 15px;
          }
        }

        .lastarticle {
          flex-wrap: wrap;
          flex-direction: row;

          .article-item {
            order: 1;
            flex: 1 0 100%;
          }
        }

        .row:nth-child(2) {
          margin-left: 0;
          margin-right: 0;

          .moboCellOrderIn {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .flex-item:nth-child(1) {
              order: 2;
              flex: 1 0 100%;
              padding-left: 15px;
              padding-right: 15px;

              .detailscate {
                .col-md-4 {
                  padding-right: 0;
                }
              }
            }

            .flex-item:nth-child(2) {
              order: 1;
              flex: 1 0 100%;
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 460px) {
      .socialSharedCounter {
        p {
          span {
            // float: left;
            width: 100%;
            margin-bottom: 7px;
          }
        }

        a {
          .SocialMediaShareButton--facebook,
          .SocialMediaShareButton--twitter,
          .SocialMediaShareButton--linkedin {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            margin-left: 0;
          }

          .SocialMediaShareButton--linkedin {
            .fa.fa-linkedin {
              top: 0;
              position: relative;
            }
          }

          .whatsapp {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            margin-left: 0;
          }
        }

        a:nth-child(2) + .SocialMediaShareCount,
        a:nth-child(4) + .SocialMediaShareCount,
        a:nth-child(5) + .SocialMediaShareCount {
          padding: 0;
          top: -1px;
          height: 30px;
          line-height: 30px;
          font-size: 13px;
        }
      }

      .socialSharedCounter.scrollPosition {
        padding: 0;

        p {
          span.viewCounter {
            clear: inherit;
            padding: 0 0 0 8px;
            top: 10px;
            height: 30px;
            width: auto;

            i {
              float: right;
              padding: 0 8px;
              margin-left: 7px;
              border-left: 1px solid rgba(51, 51, 51, 0.35);
              width: auto;
            }

            a {
              .SocialMediaShareButton--facebook,
              .SocialMediaShareButton--twitter,
              .SocialMediaShareButton--linkedin {
                width: 28px;
                height: 28px;
                line-height: 28px;
                font-size: 20px;
              }

              .SocialMediaShareButton--linkedin {
                margin-left: 10px;

                .fa.fa-linkedin {
                  top: 0;
                  position: relative;
                }
              }

              .whatsapp {
                width: 28px;
                height: 28px;
                line-height: 28px;
                font-size: 20px;
                margin-top: 0;
                margin-left: 10px;
              }
            }

            a:nth-child(2) + .SocialMediaShareCount,
            a:nth-child(4) + .SocialMediaShareCount,
            a:nth-child(5) + .SocialMediaShareCount {
              padding: 0;
              top: -1px;
              height: 30px;
              line-height: 30px;
              font-size: 13px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 414px) {
      .socialSharedCounter,
      .socialSharedCounter.scrollPosition {
        p {
          span.viewCounter {
            top: 0px;
          }

          a {
            .SocialMediaShareButton--facebook,
            .SocialMediaShareButton--twitter,
            .SocialMediaShareButton--linkedin,
            .whatsapp {
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 20px;
            }

            .SocialMediaShareButton--linkedin {
              .fa.fa-linkedin {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

  .detailscate .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

.left-cell-1 {
  h1 {
    @include font-size(18px);
    font-weight: $b4s-font-weight-500;
    padding: 5px 15px 20px;
    border-bottom: 10px solid $b4s-yellow-color;
    color: $b4s-purper-color;
    line-height: 1.2;
    text-align: center;

    a,
    a:hover {
      color: $b4s-purper-color;
      text-decoration: none;
      line-height: 1.4;
      pointer-events: none;
    }
  }

  img {
    width: 152px;
    display: block;
    margin: 26px auto;
    /* height: 100px; */
  }

  .deadlineBox {
    background: $b4s-light-black-color;
    padding: 15px;
    float: $element-left-align;
    width: 100%;

    dd {
      color: $b4s-link-white-color;
      @include font-size(18px);
      text-align: center;
      width: 100%;
      margin: 0;
      font-weight: $b4s-font-weight-600;
    }

    button {
      float: none;
      margin: 15px auto;
      display: block;
      font-weight: $b4s-font-weight-500;
      @include font-size(14px);
      background: $b4s-yellow-color;
    }

    p {
      width: 100%;
      text-align: center;
      float: $element-left-align;
      font-weight: $b4s-font-weight-400;
      @include font-size(14px);
      color: $b4s-link-white-color;
      margin: 0 0 15px;
      line-height: 21px;

      a {
        width: 21px;
        height: 21px;
        display: inline-block;
        color: $b4s-link-white-color;
        text-align: center;
        margin-left: 2px;

        i.fa {
          position: $position-relative;
          top: 1px;
          left: 2px;
        }

        i.fa.fa-heart-o,
        i.fa.fa-heart,
        i.fa.fa-check {
          top: 0;
          left: 0;
        }

        i.fa.fa-heart {
          color: #fff;
        }

        i.fa.fa-check {
          color: #27ae60;
        }

        i.fa.fa-linkedin {
          top: 0;
          left: 1px;
        }
      }

      a:last-child.likeLink {
        background: transparent;
      }

      a:nth-child(1) {
        background: #39579b;
      }

      a:nth-child(2) {
        background: #1aa8e5;
      }

      a:last-child {
        margin-right: 0;
        background: #0077b5;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.left-cell-2 {
  .cellBox {
    article {
      float: $element-left-align;
      width: 100%;

      dd {
        @include font-size(14px);
        font-weight: $b4s-font-weight-400;
        position: $position-relative;
        width: 100%;
        padding: 18px 15px 18px 55px;
        border-bottom: 1px solid $b4s-border-color;
        margin: 0;
        min-height: 74px;
        float: left;

        span {
          font-weight: $b4s-font-weight-600;
          float: $element-left-align;
          width: 100%;
          display: block;
          font-style: initial;
          display: flex;
          flex-wrap: wrap;

          i {
            display: inline-flex;
            position: relative;
            width: auto;
            font-weight: 400;
            margin-right: 7.5px;
            font-style: normal;

            &:before {
              content: ",";
              position: absolute;
              right: -4px;
              bottom: 0;
            }

            &:first-child {
              width: 100%;
              font-weight: 600;
              margin-right: 0;

              &:before {
                display: none;
              }
            }

            &:last-child {
              &:before {
                display: none;
              }
            }
          }
        }

        span.eleAlign {
          display: flex;

          i {
            &:nth-child(2) {
              margin-right: 0;
            }
          }
        }
      }

      dd:before {
        content: "";
        position: $position-absolute;
        top: 21px;
        left: 11px;
        width: 32px;
        height: 35px;
        background: url(#{$img-base-url}sprite-icon-details.png) 0 0 no-repeat $b4s-link-white-color;
        display: block;
      }

      dd:nth-child(1):before {
        background-position: 0 -2px;
      }

      dd:nth-child(2):before {
        background-position: 0 -56px;
      }

      dd:nth-child(3):before {
        background-position: 0 -97px;
      }
    }

    article:nth-child(2) {
      border-top: 5px solid #eeefef;

      dd {
        border-bottom: 0;
        margin: 0 0 15px;
        @include font-size(16px);
        font-weight: $b4s-font-weight-500;
        text-align: center;
        background: $b4s-yellow-color;
        padding: 15px;
        float: $element-left-align;
        width: 100%;
        letter-spacing: 0.6px;
        min-height: initial;
      }

      dd:before {
        display: none;
      }

      p {
        width: 100%;
        margin-bottom: 28px;
        padding: 0 15px;
        @include font-size(10px);
        font-weight: $b4s-font-weight-600;
        color: $b4s-color-black;
        display: flex;
        flex-wrap: nowrap;

        img {
          width: 73px;
          height: 50px;
          padding: 5px;
        }

        @media screen and (max-width: 1024px) {
          img {
            margin: 0 auto;
            display: block;
            width: 150px;
            height: auto;
            float: none;
          }
        }

        span {
          width: 183px;
          @include font-size(12px);
          font-weight: $b4s-font-weight-600;
          color: $b4s-color-black;
          padding-right: 0;
          margin-top: 7px;
          margin-left: 15px;

          a {
            color: $b4s-color-black;
            @include font-size(14px);
            font-weight: $b4s-font-weight-400;
          }

          i {
            font-style: normal;
            width: 100%;
            float: left;
            font-weight: 600;
            font-size: 14px;
          }
        }

        @media screen and (max-width: 1024px) {
          span {
            width: auto;
            margin-left: 0;
            text-align: center;
            float: left;
          }
        }
      }
    }

    article:nth-child(3),
    article:nth-child(4) {
      border-bottom: 1px solid #e9e9e9;

      dd {
        border-bottom: 0;
      }
    }

    article:nth-child(4) {
      border-bottom: 0;
      padding-bottom: 28px;
    }

    article:nth-child(3),
    article:nth-child(4) {
      dd {
        border-bottom: 0;
        margin: 0;
        @include font-size(16px);
        font-weight: $b4s-font-weight-600;
        text-align: left;
        padding: 15px;
        float: $element-left-align;
        width: 100%;
        letter-spacing: 0.6px;
      }

      dd:before {
        display: none;
      }
    }

    article:nth-child(3) {
      p {
        padding: 0 15px;
        float: $element-left-align;
        margin-bottom: 30px;
        width: 100%;

        a {
          @include font-size(14px);
          font-weight: $b4s-font-weight-400;
          position: $position-relative;
          display: block;
          width: 100%;
          padding: 0 16px 0 45px;
          border-bottom: 0;
          margin: 0 0 8px;
          float: $element-left-align;
          color: $b4s-color-black;
          word-break: break-word;
        }

        a:before {
          content: "";
          position: $position-absolute;
          top: -2px;
          left: 11px;
          width: 24px;
          height: 26px;
          background: url(#{$img-base-url}sprite-icon-details.png) 0 0 no-repeat #fff;
          display: block;
        }

        a:first-child:before {
          background-position: -4px -141px;
        }

        a:last-child:before {
          background-position: -4px -173px;
        }
      }

      ul {
        list-style: none;
        float: $element-left-align;
        padding: 0 15px;

        li {
          margin: 0 8px 8px 0;
          padding: 0;
          display: block;
          float: $element-left-align;
          width: auto;
          @include font-size(14px);

          a,
          a:hover {
            color: #a914a9;
            text-decoration: none;
            border-bottom: 2px solid #dcb3dc;
          }

          a:hover {
            border-bottom: 0 solid #dcb3dc;
          }
        }
      }
    }

    article:nth-child(4) {
      i {
        @include font-size(14px);
        font-weight: 400;
        position: $position-relative;
        display: block;
        width: 100%;
        padding: 0 0 0 45px;
        border-bottom: 0;
        margin: 0 0 8px;
        float: $element-left-align;

        a {
          color: #171717;
        }
      }

      i:before {
        content: "";
        position: $position-absolute;
        top: -2px;
        left: 11px;
        width: 24px;
        height: 26px;
        background: url(#{$img-base-url}sprite-icon-details.png) 0 0 no-repeat #fff;
        display: block;
      }

      i.noicon:before {
        background-position: -4px -141px;
      }

      i.emailicon:before {
        background-position: -4px -173px;
      }

      i.emailicon {
        a {
          word-break: break-word;
          padding-right: 16px;
        }
      }
    }

    /* Audio List for scholarship */
    .audioWrapper:nth-child(3) {
      background: rgba(241, 243, 244, 0.7);
      border-bottom: 1px solid #d7d7d7;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      dd {
        border-top: 5px solid #eeefef;
        border-bottom: 0;
        margin: 0 0 15px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        background: #f0bd00;
        padding: 15px;
        float: left;
        width: 100%;
        letter-spacing: 0.6px;
        min-height: initial;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        float: left;
        width: 100%;
        text-align: right;
        margin-bottom: 15px;

        span {
          float: left;
          width: 100%;
          text-align: left;
          margin-bottom: 7.5px;
          font-weight: 600;
          border-bottom: 1px solid #d7d7d7;
          padding-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
          }

          audio {
            height: 26px;
            width: 100%;
            float: left;
            margin-top: 7.5px;
          }
        }
      }
    }
  }
}

.left-cell-1.banner {
  .deadlineBox.internal {
    /* background: #9a9a9a; */
    padding: 15px;
    float: $element-left-align;
    width: 100%;

    h4 {
      color: $b4s-link-white-color;
      @include font-size(22px);
      text-align: center;
      width: 100%;
      font-weight: $b4s-font-weight-600;
    }

    p {
      a {
        background: #f0bd00;
        width: auto;
        padding: 8px 18px;
        height: auto;
        text-decoration: none;
      }
    }
  }
}

.mobo-panel {
  float: left;
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin-top: 10px;
  background-color: map-get($colors, white-color);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;

  .cellBox-mobo {
    article {
      float: $element-left-align;
      width: 100%;

      dd {
        border-bottom: 0;
        margin: 0 0 28px;
        @include font-size(16px);
        font-weight: $b4s-font-weight-500;
        text-align: center;
        background: $b4s-yellow-color;
        padding: 15px;
        float: $element-left-align;
        width: 100%;
        letter-spacing: 0.6px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        i {
          font-weight: $b4s-font-weight-600;
          float: $element-left-align;
          width: 100%;
          display: block;
          font-style: initial;
        }
      }

      p {
        float: $element-left-align;
        width: 100%;
        margin-bottom: 28px;
        padding: 0 15px;
        @include font-size(10px);
        font-weight: $b4s-font-weight-600;
        color: $b4s-color-black;

        img {
          width: 73px;
          height: auto;
          margin-right: 5px;
          float: $element-left-align;
          padding: 5px;
        }

        span {
          float: $element-left-align;
          width: 189px;
          @include font-size(12px);
          font-weight: $b4s-font-weight-600;
          color: $b4s-color-black;
          padding-right: 0;
          margin-top: 7px;
          margin-left: 15px;

          a {
            color: $b4s-color-black;
            @include font-size(14px);
            font-weight: $b4s-font-weight-400;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            height: 32px;
          }

          i {
            font-style: normal;
            width: 100%;
            float: left;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mobo-panel {
    .cellBox {
      article {
        p {
          display: table;

          img {
            width: 150px;
            height: auto;
            margin: 0 auto;
            float: none;
            padding: 5px;
            display: block;
          }

          span {
            float: inherit;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            margin-top: 13px;
            text-align: center;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mobo-show {
    display: block;
  }

  .mobo-hide {
    display: none;
  }
}

@media screen and (max-width: 343px) {
  .mobo-panel {
    .cellBox {
      article {
        p {
          span {
            float: initial;
            width: 100%;
            margin-left: 0;
            display: inherit;
          }
        }
      }
    }
  }
}

.detailscate {
  h2 {
    font-size: 22px;
    margin: 0;
    display: block;
    padding-top: 10px;
    font-weight: bold;
    color: #000;
    line-height: 65px;
    margin-bottom: -16px;
  }

  .col-md-4 {
    padding-left: 0;
    padding-right: 15px;
  }
}

.relatedCat {
  background: #fff;
  border: 1px solid #c2c2c2;
  padding: 5px 15px 20px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  height: 362px;
  position: relative;

  p {
    i {
      color: #f0bd00;
      font-size: 17px;
    }
  }

  .logotext {
    img {
      height: 50px;
      display: block;
      margin: 20px auto 10px;
    }
  }

  .deadline {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0 0 15px;
    line-height: 21px;
    position: absolute;
    bottom: 15px;
    width: 112px;
    left: 50%;
    margin-left: -56px;

    a {
      margin: 0;
      font-size: 14px;
      background: #f0bd00;
      color: #000;
      display: inline-block;
      padding: 8px 18px;
      border-radius: 30px;
      width: 100%;
    }

    a {
      text-decoration: none;
    }
  }

  .contentdisplay {
    float: none;
    width: 100%;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 12px;

    h2 {
      padding: 0;
      text-transform: initial;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
      float: left;
      width: 100%;
      margin-top: 0;
      position: relative;

      a {
        color: #a914a9;
        text-decoration: none;
        border-bottom: 0;
        padding-bottom: 1px;
        line-height: 1.4;

        span {
          min-height: 65px;
          max-height: 65px;
          width: 100%;
          display: inline-block;
          text-align: center;
        }
      }

      a.ellipsis {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
      }

      a.ellipsis:hover + .namelistTooltip {
        opacity: 1;
        z-index: 91;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }

      @media screen and (max-width: 1080px) {
        a.ellipsis {
          width: 100%;
        }
      }

      @media screen and (max-width: 1024px) {
        a.ellipsis {
          width: 378px;
        }
      }

      @media screen and (max-width: 960px) {
        a.ellipsis {
          width: 500px;
        }
      }

      @media screen and (max-width: 853px) {
        a.ellipsis {
          width: 446px;
        }
      }

      @media screen and (max-width: 771px) {
        a.ellipsis {
          width: 415px;
        }
      }

      @media screen and (max-width: 768px) {
        a.ellipsis {
          width: 390px;
        }
      }

      @media screen and (max-width: 767px) {
        a.ellipsis {
          width: auto;
          white-space: inherit;
          overflow: inherit;
          text-overflow: inherit;
        }

        a.ellipsis:hover + .namelistTooltip {
          opacity: 0;
          z-index: -1;
        }
      }

      @media screen and (max-width: 767px) {
        a.ellipsis {
          width: auto;
          white-space: inherit;
          overflow: inherit;
          text-overflow: inherit;
        }

        a.ellipsis:hover + .namelistTooltip {
          opacity: 0;
          z-index: -1;
        }
      }

      .namelistTooltip {
        position: absolute;
        top: 32px;
        left: 0;
        width: auto;
        height: auto;
        padding: 10px 15px;
        text-align: left;
        z-index: 9;
        background: #fef9b7;
        color: #1a1a18;
        font-size: 14px;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        opacity: 0;
        z-index: -1;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;

        i.arrow {
          border-bottom: 12px solid #fef9b7;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          float: right;
          position: absolute;
          left: 22px;
          top: -11px;
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #000;
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
      float: left;

      img {
        float: left;
        margin: 0 8px 0 0;
      }
    }

    p.deadline {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      margin: 0 0 15px;
      line-height: 21px;
      position: absolute;
      bottom: 15px;
      width: 112px;
      left: 50%;
      margin-left: -56px;

      a {
        margin: 0;
        font-size: 14px;
        background: #f0bd00;
        color: #000;
        display: inline-block;
        padding: 8px 18px;
        border-radius: 30px;
        width: 100%;
      }

      a {
        text-decoration: none;
      }
    }

    @media screen and (max-width: 1080px) {
      p {
        padding-right: 96px;
      }
    }

    @media screen and (max-width: 767px) {
      p {
        padding-right: 0;
        width: 100%;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes color {
  0% {
    color: #064e72;
  }

  10% {
    color: #000;
  }

  20% {
    color: #064e72;
  }

  30% {
    color: #000;
  }

  40% {
    color: #064e72;
  }

  50% {
    color: #000;
  }

  60% {
    color: #064e72;
  }

  70% {
    color: #000;
  }

  80% {
    color: #064e72;
  }

  90% {
    color: #000;
  }

  100% {
    color: #064e72;
  }
}

/* Internet Explorer */
@-ms-keyframes color {
  0% {
    color: #064e72;
  }

  10% {
    color: #000;
  }

  20% {
    color: #064e72;
  }

  30% {
    color: #000;
  }

  40% {
    color: #064e72;
  }

  50% {
    color: #000;
  }

  60% {
    color: #064e72;
  }

  70% {
    color: #000;
  }

  80% {
    color: #064e72;
  }

  90% {
    color: #000;
  }

  100% {
    color: #064e72;
  }
}

/* Standar Syntax */
@keyframes color {
  0% {
    color: #064e72;
  }

  10% {
    color: #000;
  }

  20% {
    color: #064e72;
  }

  30% {
    color: #000;
  }

  40% {
    color: #064e72;
  }

  50% {
    color: #000;
  }

  60% {
    color: #064e72;
  }

  70% {
    color: #000;
  }

  80% {
    color: #064e72;
  }

  90% {
    color: #000;
  }

  100% {
    color: #064e72;
  }
}

.panel.bgBoxColor {
  background: #484848;
}

.panel:last-child {
  .data-row {
    /*border-bottom: 0;*/
    p {
      margin-bottom: 0;
    }

    p.btnTag {
      margin-bottom: 10px;
    }

    ul.optional-links-text {
      margin-bottom: 0;

      li {
        a {
          color: #a914a9;
          font-size: 14px;

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.panel.boxPadding {
  padding: 30px 15px;
}

.disclaimer {
  background: #e4e4e4;

  .data-row {
    line-height: 25px;

    p {
      font-weight: 600;
    }
  }
}

.loginComment {
  text-align: center;
  margin-top: 15px;

  a {
    position: relative;
    color: #000;
    font-weight: 600;
    text-decoration: none;

    &::before {
      content: "";
      position: $position-absolute;
      top: -18px;
      left: -50px;
      width: 50px;
      height: 40px;
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -346px;
      display: block;
    }
  }
}

.usercomment {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 15px;

  form {
    .groping {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 30px;

      .transparentbtn {
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 10px;
        color: #23527c;
        font-size: 14px;
      }

      .transparentbtnR {
        background: transparent;
        border: none;
        padding: 0;
        margin-left: 10px;
        color: #23527c;
        font-size: 14px;
        margin-right: 10px;
      }

      .transparentbtnc {
        color: #000;
        background: transparent;
        border: none;
        padding: 0;
        margin-left: 10px;
      }
    }

    .imgcomment {
      width: 9%;
      float: left;
      position: relative;

      img {
        width: 60px;
        height: 60px;
        @include border-radius(50%);
      }
    }

    .ctrl-wrapper {
      width: 91%;
      float: left;
      position: relative;

      .form-group {
        textarea.form-control {
          resize: none;
          height: 110px;
        }

        label {
          font-size: 14px;
          padding: 5px 0;
        }
      }

      .btn.top {
        margin: 15px 0 0 !important;
      }

      h5,
      span {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
      }

      h5 {
        font-size: 16px;
        color: #23527c;
        margin-top: 0;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .usercomment {
    form {
      .imgcomment {
        width: 25%;
      }

      .ctrl-wrapper {
        width: 75%;
        float: left;
        position: relative;

        .form-group {
          textarea.form-control {
            height: 90px;
          }
        }
      }
    }
  }
}

.posR {
  position: $position-relative;
}

.modal-header {
  .modal-title.textColor {
    color: map-get($colors, darkBlackColor);
    position: $position-relative;
    top: 32px;
    font-weight: $font-weight-600;
  }
}

.mobo-panel.desk-hide {
  display: none;
}

.mobo-panel.mobo-hide {
  display: block;
}

.date {
  font-size: 16px;
  padding: 5px 0 10px;
  float: left;

  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
}

.matchingscho {
  width: 100%;
  text-align: left;
  float: left;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 0 0 15px;
  line-height: 21px;
  margin-bottom: -20px;

  a {
    margin: 10px 0;
    font-size: 16px;
    background: transparent;
    color: #337ab7;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
  }

  button {
    float: left;
    margin: 0 0 20px;
  }
}

.paddingbtn {
  padding: 10px 28px !important;
  height: auto !important;
  margin: 10px 0 20px !important;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 966px) {
  .mobo-panel.desk-hide {
    display: block;
    float: left;
    margin-bottom: 30px;
  }
}

/* Strat need Help Popup */

.needHelpBtn {
  position: $position-fixed;
  right: 0;
  bottom: 130px;
  width: 40px;
  height: 40px;
  z-index: 991;

  span {
    background: $b4s-link-white-color;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: $b4s-color-black;
    display: block;

    &:before {
      content: "?";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      color: $b4s-link-white-color;
      background: $b4s-color-black;
      border-radius: 50%;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }

  span.fadeIn {
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }

  span.fadeOut {
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }

  .overlayNH {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .nh-winPopup {
      width: 304px;
      height: 406px;
      background: $b4s-link-white-color;
      border-radius: 10px;
      padding: 30px;
      position: $position-absolute;
      margin-top: -203px;
      top: 50%;
      right: 30px;
      -webkit-box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.1);

      /* display: none; */
      i {
        position: $pos-absolute;
        top: 15px;
        right: 15px;
        padding: 15px;
        cursor: pointer;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat 0 -195px #fff;
      }

      h5 {
        font-size: 18px;
        color: #1b1b1b;
      }

      .ctrl-wrapper {
        float: $element-left-align;
        width: 100%;

        .col-md-12 {
          padding: 0;

          .form-group {
            position: $position-relative;
            margin-bottom: 15px;

            input.form-control,
            textarea.form-control {
              border: 0;
              border-bottom: 1px solid #c8c8c8;
              -webkit-box-shadow: none;
              box-shadow: none;
            }

            textarea.form-control {
              resize: none;
              height: 110px;
            }

            @media screen and (max-width: 603px) {
              textarea.form-control {
                height: 60px;
                overflow-y: auto;
              }
            }

            dd.error,
            span.error {
              position: $position-absolute;
              right: 8px;
              color: #e5260e;
              font-size: 12px;
              bottom: 28px;
              background-color: #ffffff;
              padding: 10px;
              width: auto;
              border-radius: 5px;
              -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);

              &:after {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                margin-left: -5px;
              }

              &:before {
                display: none;
              }
            }
          }

          @media screen and (max-width: 603px) {
            .form-group {
              margin-bottom: 10px;
            }
          }
        }

        button[type="submit"] {
          width: 119px;
          height: 36px;
          background: $b4s-yellow-color;
          line-height: 36px;
          border-radius: 30px;
          border: 0;
          float: none;
          font-weight: $b4s-font-weight-500;
          font-size: 14px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    @media screen and (max-width: 603px) {
      .nh-winPopup {
        width: 304px;
        height: 296px;
        padding: 10px 30px;
        bottom: 11px;
      }
    }

    @media screen and (max-width: 372px) {
      .nh-winPopup {
        width: 96%;
        left: 50%;
        margin-left: -48%;
      }
    }
  }
}

/* Start Comment popup */

.commentOverLay {
  position: $position-fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 99991;
  display: none;

  .c-winPopup {
    width: 722px;
    height: 346px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    position: $position-fixed;
    top: 50%;
    left: 50%;
    margin-left: -361px;
    margin-top: -173px;

    i {
      position: $position-absolute;
      top: 15px;
      right: 15px;
      padding: 15px;
      cursor: pointer;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat 0 -195px #fff;
    }

    h5 {
      font-size: 18px;
      color: #1b1b1b;
    }
  }
}

.daysgo {
  padding: 0;
  padding-left: 5px;
  color: #fff;
  margin: 5px auto 0;
}

.calicon {
  color: #f0bd00;
  font-size: 17px;
}

.daysgo.pink {
  // background: #ff7f7f;
  color: #000;
  border-radius: 20px;
}

.daysgo.yellow {
  // background: rgb(245, 209, 76);
  color: #000;
  border-radius: 20px;
}

.daysgo.gray {
  color: #000; // background: #d7d7d7;

  span {
    font-size: 18px;
    display: block;
    font-weight: 400;
  }
}

.calender {
  margin-left: 0;
  padding-top: 0;
  text-align: left;
  width: auto; // float: left;
  height: auto;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.Cbold {
  font-weight: 800;
}

.relatedArticle {
  float: left;
  border-top: 6px solid #eeefef;

  .buttonAlign {
    background: #fff;
    text-align: center;
    float: left;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    button.btn-yellow {
      float: initial;
      background: #f0bd00;
      border: 0;
      padding: 7.5px 28px !important;
      font-weight: 600;
      border-radius: 30px;

      &:first-child {
        margin-right: 3.5px !important;
      }

      &:last-child {
        margin-left: 3.5px !important;
      }

      &:hover {
        background: #f0bd00;
      }
    }
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #f0bd00;
    padding: 15px;
    display: inline-block;
    width: 100%;
    margin: 0;
    letter-spacing: 0.6px;
    min-height: initial;
  }

  @media screen and (max-width: 966px) {
    h2 {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  a {
    font-weight: bold;
    display: flex;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: auto;
      max-height: 170px;
    }

    @media screen and (max-width: 966px) {
      width: 100%;
      height: auto;
      min-height: 100%;
    }

    span {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 7.5px;
      background: rgba(0, 0, 0, 0.68);
      color: #fff;
      font-size: 12px;
      width: 100%;
      font-weight: 400;

      i {
        font-style: normal;

        &:first-child {
          float: left;
          text-align: left;
        }

        @media screen and (max-width: 1199px) {
          &:first-child {
            margin-bottom: 8px;
          }
        }

        @media screen and (max-width: 853px) {
          &:first-child {
            margin-bottom: 0;
          }
        }

        @media screen and (max-width: 735px) {
          &:first-child {
            margin-bottom: 8px;
          }
        }

        @media screen and (max-width: 568px) {
          &:first-child {
            margin-bottom: 0;
          }
        }

        @media screen and (max-width: 384px) {
          &:first-child {
            margin-bottom: 8px;
          }
        }

        &:last-child {
          float: right;
          text-align: right;
        }
      }

      @media screen and (max-width: 1199px) {
        i {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }

      @media screen and (max-width: 853px) {
        i {
          display: initial;
          justify-content: initial;
          width: initial;
        }
      }

      @media screen and (max-width: 735px) {
        i {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }

      @media screen and (max-width: 568px) {
        i {
          display: initial;
          justify-content: initial;
          width: initial;
        }
      }

      @media screen and (max-width: 384px) {
        i {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  .boxArticle {
    background: #ffffff;
    display: block;
    width: 100%;
    float: left;
    padding: 0;

    p {
      padding: 15px 20px;
      word-break: break-word;
      margin: 0;
      line-height: 20px;

      a {
        width: auto;
        display: inline-block;
      }
    }
  }

  @media screen and (max-width: 966px) {
    .boxArticle {
      padding: 0;
    }
  }

  /* Slider */
  .slick-next,
  .slick-prev {
    cursor: default;
    display: none !important;
  }

  .slick-prev:before {
    display: none;
  }

  /* Dots */
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }

  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }

  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }

  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    opacity: 1;
  }

  .slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: "•";
    text-align: center;
    font-size: 50px;
    opacity: 1;
    color: rgb(83, 83, 83);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fdb701;
  }

  .slick-slider {
    padding: 0;
    line-height: 8px;
  }

  .slick-arrow {
    display: none;
  }
}

@media screen and (max-width: 966px) {
  .relatedArticle {
    margin-top: -25px;
  }
}

.mobile-device {
  display: none;

  .panel {
    overflow: hidden;
  }
}

.desktop-device {
  display: block;

  .panel {
    overflow: hidden;
  }
}

@media screen and (max-width: 966px) {
  .mobile-device {
    display: block;
    margin-top: 30px;
  }

  .desktop-device {
    display: none;
  }
}

/* new features*/

.followWrapper {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;

  button {
    margin-right: 15px !important;
  }

  .btn-yellow {
    position: relative;
    padding: 10px 25px 10px 50px !important;
    background: transparent;
    color: #fdb701;
    border: 2px solid #fdb701;

    &::before {
      content: "";
      position: $position-absolute;
      top: -8px;
      left: 0;
      width: 41px;
      height: 40px;
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -41px;
      display: block;
    }

    &:hover {
      color: #fdb701;

      &::before {
        background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -41px;
      }
    }
  }

  .btn-yellow.active {
    color: #fff;
    background: #fdb701;

    &::before {
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 0px;
    }
  }

  .btn-yellow:nth-child(2) {
    &::before {
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -121px;
    }
  }

  .btn-yellow.active:nth-child(2) {
    color: #fff;
    background: #fdb701;

    &::before {
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -80px;
    }
  }

  .right {
    float: right;
    margin-top: 20px;

    ul {
      list-style: none;

      > li {
        display: inline-block;
        padding-left: 60px;
        position: $position-relative;
      }

      li::before {
        content: "";
        position: $position-absolute;
        top: -19px;
        left: 10px;
        width: 50px;
        height: 40px;
        background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -41px;
        display: block;
      }

      li:nth-child(2):before {
        background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -121px;
      }

      li:nth-child(3):before {
        background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -198px;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .right {
      ul {
        > li {
          position: relative;
          font-size: 14px;
          font-weight: 600;
          padding-left: 35px;

          &::before {
            top: -19px;
            left: -10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 853px) {
    .right {
      float: left;
      width: 100%;
      position: relative;
      margin: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .followWrapper {
    margin-top: -15px;

    .btn-yellow {
      padding: 7px 15px 7px 50px !important;

      &::before {
        top: -12px;
      }
    }

    .paddingbtn {
      margin: 0;
    }

    .right {
      margin-top: 0;

      ul > li {
        padding-left: 40px;
        display: block;
        padding-bottom: 11px;
      }
    }
  }
}

.faqs {
  h3 {
    @extend .icon-heading;
    padding-top: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 48px;
    margin-top: 0;

    &::before {
      content: "";
      position: $position-absolute;
      top: 0;
      left: -12px;
      width: 50px;
      height: 40px;
      background: url(#{$img-base-url}scholarshipspite.png) no-repeat 0 -300px;
      display: block;
    }
  }

  .accordion {
    h4 {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 15px 0 5px 38px;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      color: #000000;
      margin: 0;

      &::after {
        height: auto;
        border: 1px solid #000;
        position: absolute;
      }
    }

    .fa-plus {
      font-family: FontAwesome;
      content: "\f067";
      position: absolute;
      float: left;
      left: 0;
      font-size: 14px;
      color: #f5bb00;
      line-height: 22px;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      background: transparent;
      border: 2px solid #f5bb00;
    }

    .fa-minus {
      font-family: FontAwesome;
      content: "\f068";
      position: absolute;
      float: left;
      left: 0;
      font-size: 14px;
      color: #f5bb00;
      line-height: 22px;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      background: transparent;
      border: 2px solid #f5bb00;
    }

    h4:hover,
    h4:hover::before {
      cursor: pointer;
      text-decoration: none;
    }

    h4.active {
      border: 0;

      &::before {
        font-family: FontAwesome;
        content: "\f068";
        color: #f5bb00;
        border: 2px solid #f5bb00;
      }
    }

    .content {
      // display: none;
      padding: 0 0 0 38px;
      border: 0;
      overflow: hidden;

      p {
        font-size: 14px;
        font-weight: 400;
      }

      ul {
        list-style-type: none;

        li {
          font-size: 14px;
          font-weight: 400;
          line-height: 30px;
          color: #000;
          position: relative;

          &::before {
            font-family: FontAwesome;
            content: "\f061";
            position: absolute;
            top: 0;
            left: -30px;
            color: #49679b;
          }
        }
      }
    }
  }
}

.scholarshipnew {
  p.heading {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  ul.optional-links {
    width: 100%;
    margin: 0;
    float: left;
    position: relative;
    z-index: 1;

    li {
      background: #f5bb00;
      float: left;
      color: #ffffff;
      font-weight: 400;
      font-size: 18px;
      position: relative;
      height: 44px;
      width: 200px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin-right: 15px;
    }

    li.active {
      color: #262626;
      background: #e4e4e4;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      cursor: pointer;
      border: 1px solid #d1d1d1;
      border-bottom: none;
    }
  }

  @media screen and (max-width: 860px) {
    ul.optional-links {
      li {
        width: 30%;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 500px) {
    ul.optional-links {
      li {
        width: 100%;
        width: 100%;
        border-top-right-radius: initial;
        border-top-left-radius: initial;
        border-bottom: 1px solid #d1d1d1;
      }
    }
  }

  .borderbox {
    background: #e4e4e4;
    height: auto;
    padding: 15px 0;
    float: left;
    position: relative;
    width: 100%;
    border: 1px solid #d1d1d1;
    top: -1px;

    .eventWrapper {
      height: 100%;

      .newsevent {
        border: 1px solid #eebd00;
        color: #000;
        text-align: left;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 30px;
        height: 100%;
        position: relative;
        float: left;
        background: #ffffff;

        .imgWrapper {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .detail {
          padding: 15px;
          float: left;
          width: 100%;

          dd {
            font-size: 14px;
            float: left;
            width: 100%;
          }

          h3 {
            font-size: 16px;
            font-weight: 600;
            margin: 10px 0;
          }

          p {
            font-size: 14px;
          }

          a {
            text-align: left;
            font-size: 14px;
            color: #eebd00;
            text-decoration: underline;
            font-weight: 600;
          }
        }
      }
    }
  }

  .sholarship-list {
    margin: 0 auto;
    width: 98%;

    .box {
      background: #ffffff;
      border-radius: 10px;
      border: 1px solid #ccc;
      overflow: auto;
      height: auto;
      margin: 0 0 10px 0;
      transition: all 1s ease-in;
      overflow: hidden;
      padding: 0;

      .col-md-2 {
        width: 15.66667%;

        .tablecell {
          display: table;
          width: 100%;

          .logotext {
            float: none;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            padding-top: 30px;

            img {
              width: auto;
              height: auto;
              display: block;
              margin: 0 auto;
            }

            p {
              font-size: 18px;
              color: #737373;
              padding-top: 5px;
              font-weight: 600;
              letter-spacing: 0.6px;
              text-align: center;
            }
          }

          @media screen and (max-width: 767px) {
            .logotext {
              img {
                display: inline;
              }

              p {
                margin-top: -30px;
                position: relative;
                margin-left: 35px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 1199px) {
        .col-md-2 {
          width: 12.66667%;
        }
      }

      .col-md-7 {
        width: 65.8%;
        height: auto;

        .tablecell {
          display: table;
          width: 100%;

          .contentdisplay {
            float: none;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            padding-top: 15px;
            padding-bottom: 12px;

            h2 {
              padding: 0;
              text-transform: initial;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 15px;
              float: left;
              width: 492px;
              margin-top: 0;
              position: relative;

              a {
                color: #a914a9;
                text-decoration: none;
                border-bottom: 0;
                padding-bottom: 1px;
                line-height: 1.4;
              }

              a.ellipsis {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
              }

              .namelistTooltip {
                position: absolute;
                top: 32px;
                left: 0;
                width: auto;
                height: auto;
                padding: 10px 15px;
                text-align: left;
                z-index: 9;
                background: #fef9b7;
                color: #1a1a18;
                font-size: 14px;
                -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                opacity: 0;
                z-index: -1;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;
              }
            }

            p {
              img {
                float: left;
                margin: 0 8px 0 0;
              }

              font-size: 14px;
              font-weight: 400;
              width: 492px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #000;
              margin: 0;
              margin-bottom: 8px;
              padding: 0;
              float: left;
            }
          }
        }
      }

      @media screen and (max-width: 1199px) {
        .col-md-7 {
          width: 63.8%;
        }
      }

      @media screen and (max-width: 992px) {
        .col-md-7 {
          width: 64.8%;
          height: auto;

          .tablecell {
            .contentdisplay {
              h2,
              p {
                width: 400px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 480px) {
        .col-md-7 {
          .tablecell {
            .contentdisplay {
              h2,
              p {
                width: 350px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 360px) {
        .col-md-7 {
          .tablecell {
            .contentdisplay {
              h2,
              p {
                width: 250px;
              }
            }
          }
        }
      }

      .col-md-3 {
        width: 18.5%;
        padding: 15px 0 13px 0;
        border-left: 2px solid #eaeaea;
        height: 131px;

        .tablecell {
          display: table;
          width: 100%;

          .calender {
            text-align: center;
            color: #303131;
            overflow: hidden;

            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              width: 100%;
            }

            .date {
              padding-top: 15px;
            }

            dd {
              font-size: 22px;
              line-height: 49px;
              color: #000;
              font-weight: 500;
              position: relative;
              top: 10px;
            }

            dd:before {
              content: "";
              background: url(#{$img-base-url}calender.png) no-repeat;
              display: block;
              margin-left: -30px;
              position: absolute;
              top: -12px;
              left: 50%;
              width: 60px;
              height: 62px;
            }
          }

          .daysgo {
            vertical-align: middle;
            border-radius: 100px;
            width: 100px;
            text-align: center;
            height: 100px;
            font-weight: 600;
            font-size: 18px;
            color: #fff;
            margin: 5px auto 0;
            background: #f5d14c;
            float: initial;
            line-height: 100px;

            a {
              color: #fff;
            }
          }
        }
      }

      @media screen and (max-width: 992px) {
        .col-md-3 {
          width: 23.5%;
        }
      }

      @media screen and (max-width: 966px) {
        .col-md-3 {
          width: 18.5%;
        }
      }

      @media screen and (max-width: 853px) {
        .col-md-3 {
          border-left: 0;
          width: 100%;
          padding: 0 0 10px 0;
          position: relative;
          bottom: 0;
          left: 15px;
          height: auto;

          .tablecell {
            height: auto !important;

            .daysgo {
              margin: 0;
              text-align: right;
              width: auto;
              float: left;
              height: auto;
              line-height: initial;
              font-size: 16px;
              font-weight: 500;
              padding: 5px 20px;
            }
          }
        }
      }
    }
  }

  .profile {
    position: relative;
    float: left;
    width: 100%;
    min-height: auto;
    border: 1px solid #fdb701;
    text-align: center;
    margin-top: 54px;
    background: white;

    img {
      width: 80px;
      height: 80px;
      @include border-radius(50%);
      position: absolute;
      top: -40px;
      text-align: center;
      left: 50%;
      margin-left: -40px;
    }

    .contentWrapper {
      margin: 51px 0 30px 0;
      padding: 0 15px;

      h5 {
        color: #fdb701;
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
