header {
  background: #000;
}

h1.title {
  font-size: 20px;
}

h1.title::before {
  content: "";
  background: url(#{$img-base-url}scholarship-result-icon.jpg) no-repeat;
  display: block;
  margin-left: -20px;
  position: absolute;
  top: -55px;
  left: 50%;
  width: 41px;
  height: 42px;
}

//scholarship list
.scholar-result {
  .container {
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  h1.title {
    @include font-size(30px);
    @include line-height(1.5);
    color: #000;
    font-weight: $font-weight-500;
    position: $pos-relative;
    margin-top: 50px;
    margin-bottom: 50px;
    &:before {
      content: "";
      background: url(#{$img-base-url}scholarship-result-icon.jpg) 28px 12px no-repeat;
      display: block;
      width: 100px;
      height: 75px;
      margin-left: -50px;
      position: absolute;
      top: -71px;
      left: 50%;
    }
    .announce {
      font-size: 16px;
      display: block;
      font-weight: 600;
    }
  }
  .resultBox {
    /*float: $text-align-left;*/    
    color: $black-color;
    text-align: $text-align-left;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    min-height: 266px;
    position: $pos-relative;
    margin-top: 10px;
    .imgWrapper {
      width: 100%;
      background: #e0e2e1;
      margin: 0 0 15px;
      padding: 15px 0;
      float: left;
      display: table;
      .imginnerWrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        img {
          display: block;
          margin: 0 auto;
          height:68px;
          padding: 0;
        }
      }
    }
    h2 {
      width: 100%;
      display: inline-block;
      font-size: 18px;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
      font-weight: normal;
      padding-left: 15px;
      line-height: 25px;
      padding-right: 15px;
      min-height: 75px;
    }
    a,
    a:hover {
      color: $black-color;
    }
    p {
      float: $text-align-left;
      font-size: 14px;
      text-align: center;
      font-weight: 400;
      width: 100%;
      line-height: 1.5;
    }
  }
  /* .resultBox:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $bg-color-yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .resultBox:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } */
  @media screen and (max-width:1199px){
    .scholar-result-container{
      width: 100%;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }  
  .listItem{
    display:flex;
    flex-wrap: wrap;
    .box{
      height: 315px;
      border:1px solid rgba(224, 226, 225, 0.4);
      border-bottom: 2px solid #000;
      padding: 0;
      margin: 0 7.5px 30px;
      flex:0 0 23.7%;
      max-width: 23.7%;
      width: initial;
      &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -2px;
          left: 0;
          background-color: #f0bd00;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
      }
      &:hover:after{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
      }
      a{
        height: 100%;
        display: block;
        &:after{
          display:none;
        }
        .resultBox{
          margin-bottom: 0;
          padding-bottom: 0;
          height: 100%;
          position: relative;
          margin-top: 0;
          .imgWrapper {
            width: 100%;
            background: #e0e2e1;
            margin: 0 0 15px;
            padding: 7.5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          h2{
            height: 125px;
            overflow: hidden;
          }
          @media screen and (max-width:535px){
            h2{
              height: auto;
              min-height: initial;
            }
          }
          p {
            float: left;
            font-size: 14px;
            text-align: center;
            font-weight: 400;
            width: 100%;
            line-height: 1.5;
            position: absolute;
            bottom: 15px;
          }
        }
      }
    }
    @media screen and (max-width:1199px){
      .box{
        flex: 0 0 24%;
        max-width: 23.5%;
      }
    }
    @media screen and (max-width:1024px){
      .box{
        flex: 1 1 23%;
        max-width: 23.4%;
      }
    }
    @media screen and (max-width:966px){
      .box{
        flex: 1 1 31%;
        max-width: 32.4%;
      }
    }
    @media screen and (max-width:767px){
      .box{
        flex: 1 1 47%;
        max-width: 48.4%;
      }
    }
    @media screen and (max-width:535px){
      .box{
        flex: 1 1 100%;
        max-width: 100%;
        height:auto;
      }
    }
  }
}

.resultDetails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  h1 {
    font-size: 22px;
    margin: 0;
    padding: 0 0 8px 0;
  }
  span {
    font-weight: bold;
  }
  span:nth-child(2) {
    margin-left: 30px;
  }
  p {
    margin: 40px 0 30px;
  }
}

.arrowicon {
  .slick-prev,
  .slick-next {
    top: 40%;
    right: -120px;
  }
  .slick-prev {
    left: -110px;
  }
}

.members-winner {
  @include min-height(0);
  background-size: contain;
  .bg1 {
    @include width(100%);
    @include min-height(0);
    text-align: $text-align-center;
    background: #f1f1f1;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .awardees-cell {
    float: left;
    width: 33.3%;
    padding: 0 15px;
    .media {
      margin-top: 10px;
      margin-bottom: 15px;
      height: 180px;
      .media-body {
        img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          border: 3px solid #b8ccff;
          margin-top: 15px;
          width: 110px;
          height: 110px;
          float: left;
          margin-right: 15px;
        }
        h3,
        h4 {
          @include font-size(22px);
          color: $t-color-yellow;
          padding: 0 0 0 20px;
          text-align: left;
          font-weight: $font-weight-400;
          line-height: 1;
          word-wrap: break-word;
          width: auto;
        }
        h3 {
          margin-top: 20px;
          margin-bottom: 10px;
        }
        p {
          @include font-size(14px);
          color: $t-color-black;
          text-align: left;
          padding: 0 0 0 20px;
          line-height: 1.1;
          font-weight: $font-weight-400;
          margin-bottom: 5px;
          margin: 0 0 10px;
        }
      }
    }
  }
  .pagination {
    width: 100%;
    .rc-pagination {
      font-size: 12px;
      font-family: "Arial";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;
      padding: 0 5px;
      width: auto;
      display: table;
      margin: 0 auto;
    }
    .rc-pagination > li {
      list-style: none;
    }
    .rc-pagination-total-text {
      float: left;
      height: 30px;
      line-height: 30px;
      list-style: none;
      padding: 0;
      margin: 0 8px 0 0;
    }
    .rc-pagination:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    .rc-pagination-item {
      cursor: pointer;
      border-radius: 0px;
      min-width: 28px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      list-style: none;
      float: left;
      border: none;
      border-right: 1px solid #d9d9d9;
      background-color: #fff;
      margin-right: 0px;
      padding: 3px 16px;
    }
    .rc-pagination-item a {
      text-decoration: none;
      color: #666;
    }
    .rc-pagination-item:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-item:hover a {
      color: #f0bd00;
    }
    .rc-pagination-item-active {
      background-color: #f0bd00;
      border-color: #f0bd00;
    }
    .rc-pagination-item-active a {
      color: #fff;
    }
    .rc-pagination-item-active:hover a {
      color: #fff;
    }
    .rc-pagination-jump-prev:after,
    .rc-pagination-jump-next:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }
    .rc-pagination-jump-prev:hover:after,
    .rc-pagination-jump-next:hover:after {
      color: #f0bd00;
    }
    .rc-pagination-jump-prev:hover:after {
      content: "\AB";
    }
    .rc-pagination-jump-next:hover:after {
      content: "\BB";
    }
    .rc-pagination-prev,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      margin-right: 1px;
    }
    .rc-pagination-prev,
    .rc-pagination-next,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      cursor: pointer;
      color: #666;
      font-size: 10px;
      border-radius: 6px;
      list-style: none;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      float: left;
      text-align: center;
    }
    .rc-pagination-prev a:after {
      content: "\2039";
      display: block;
    }
    .rc-pagination-next a:after {
      content: "\203A";
      display: block;
    }
    .rc-pagination-prev,
    .rc-pagination-next {
      border: 0px solid #d9d9d9;
      font-size: 30px;
      padding-top: 2px;
      height: 33px;
      background: #fff;
      border-radius: 0;
    }
    .rc-pagination-prev a,
    .rc-pagination-next a {
      color: #666;
    }
    .rc-pagination-prev a:after,
    .rc-pagination-next a:after {
      margin-top: -1px;
    }
    .rc-pagination-disabled {
      cursor: not-allowed;
    }
    .rc-pagination-disabled a {
      color: #ccc;
    }
    .rc-pagination-options {
      float: left;
      margin-left: 15px;
    }
    .rc-pagination-options-size-changer {
      float: left;
      width: 80px;
    }
    .rc-pagination-options-quick-jumper {
      float: left;
      margin-left: 16px;
      height: 28px;
      line-height: 28px;
    }
    .rc-pagination-options-quick-jumper input {
      margin: 0 8px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      outline: none;
      padding: 3px 12px;
      width: 50px;
      height: 28px;
    }
    .rc-pagination-options-quick-jumper input:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-options-quick-jumper button {
      display: inline-block;
      margin: 0 8px;
      font-weight: 500;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 12px;
      border-radius: 6px;
      height: 28px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
    }
    .rc-pagination-options-quick-jumper button:hover,
    .rc-pagination-options-quick-jumper button:active,
    .rc-pagination-options-quick-jumper button:focus {
      color: #f0bd00;
      background-color: #fff;
      border-color: #f0bd00;
    }
  }
  .box {
    &:hover {
      box-shadow: initial;
    }
  }
}

@media screen and (max-width: 1200px) {
  .scholar-result {
    .resultBox {
      dd {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .members-winner {
    .awardees-cell {
      float: left;
      width: 50%;
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 640px) {
  .members-winner {
    .awardees-cell {
      float: left;
      width: 100%;
      padding: 0 15px;
    }
  }
  .scholar-result {
    .equial-padding {
      padding: 30px 15px;
    }
    .resultBox {
      margin-bottom: 10px;
      dd {
        font-size: 14px;
      }
    }
  }
}
