header {
  background: #000;
  @media screen and (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
}

.sholarship-list {
  position: relative;
  top: 0;
  /* top: 72px; */
  @extend .paddingtop;
  @media screen and (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
  .breadcrumb {
    padding: 15px 0;
    list-style: none;
    background: 0 0;
    margin: 0;
    border-radius: 0;
    li {
      position: $position-relative;
      margin-left: 22px;
      width: auto;
      display: inline-block;
      a {
        color: $b4s-color-black;
        font-weight: $b4s-font-weight-400;
        @include font-size(14px);
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 5px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:before {
      display: none;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: $b4s-breadcrumb-color;
        pointer-events: none;
      }
      a:after {
        display: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
  /* Start sticky filter button */
  .filterBtn,
  .filterBtn:hover,
  .filterBtn:active,
  .filterBtn:focus {
    color: $b4s-color-black;
    position: $position-fixed;
    top: 84px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 30px;
    line-height: 26px;
    border-radius: 30px;
    background: $b4s-yellow-color;
    border: 2px solid $b4s-yellow-color;
    text-align: $element-left-align;
    @include font-size(14px);
    z-index: 3;
    font-weight: $b4s-font-weight-500;
    text-decoration: none;
    padding: 0 0 0 20px;
    display: block;
    cursor: pointer;
    i {
      width: 11px;
      height: 13px;
      background: url(#{$img-base-url}sprite-icon-details.png) -10px -437px
        no-repeat;
      display: inline-block;
      position: $position-relative;
      top: 2px;
      left: 3px;
    }
  }
  /*  @media screen and (max-width: 913px) {
    .filterBtn {
      display: none;
    }
  } */
  .filterBtn.upFilter,
  .filterBtn.upFilter:hover,
  .filterBtn.upFilter:active,
  .filterBtn.upFilter:focus {
    background: $b4s-link-white-color;
    border: 2px solid $b4s-color-black;
    i {
      background: url(#{$img-base-url}sprite-icon-details.png) -10px -464px
        no-repeat;
      top: 3px;
    }
  }
  @media screen and (max-width: 700px) {
    .filterBtn.upFilter,
    .filterBtn.upFilter:hover,
    .filterBtn.upFilter:active,
    .filterBtn.upFilter:focus {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: 1px solid #000;
      left: 103%;
      top: 90px;
      span {
        display: none;
      }
      i {
        top: 1px;
        left: -13px;
      }
    }
  }
  .filterDown,
  .filterUp {
    position: fixed;
    left: 0;
    z-index: 2;
    @extend .transitionEle;
    width: 100%;
    background: #fff;
  }
  .filterDown {
    top: 72px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  }
  .filterUp {
    top: -240px;
  }
  .filterUp.resetPos {
    position: relative;
    top: 0;
    z-index: 1;
  }
  .searchlistheight {
    height: 35px;
    background: #eaeaea;
  }
  .filter {
    padding: 15px 0;
    .row{
      margin-left: -15px;
      margin-right: -15px;
    }
    .float-none {
      clear: both;
    }    
    h1,
    h2 {
      font-size: 22px;
      color: #000;
      font-weight: 400;
      margin: 0;
    }
    h1 {
      margin: 0;
      margin-bottom: 5px;
      display: block;
      width: 76%;
      span {
        display: inline;
        font-size: 18px;
        padding-left: 15px;
        text-shadow: none;
        word-wrap: break-word;
      }
    }
    .marginleft15 {
      margin-left: 15px;
    }
    h3 {
      font-size: 17px;
      @include margin(0 0 15px);
    }
    @media screen and (max-width: 480px) {
      h3 {
        @include margin(0 0 8px);
      }
    }
    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        padding-left: 15px;
        position: relative;
        span {
          border: 2px solid #000;
          border-radius: 5px;
          padding: 10px 141px 10px 10px;
          font-size: 14px;
          position: relative;
          -webkit-transition: height 1s linear 1s;
          /* For Safari 3.1 to 6.0 */
          transition: height 1s linear 1s;
          float: left;
          width: 100%;
        }
        ul {
          @include margin(39px 0 0 0);
          background: $white;
          position: absolute;
          width: 192px;
          border: 2px solid #000;
          border-top: 0;
          height: 213px;
          overflow: auto;
          z-index: 1;
          -webkit-transition: height 1s linear 1s;
          /* For Safari 3.1 to 6.0 */
          transition: height 1s linear 1s;
          overflow-x: hidden;
          li {
            display: block;
            @include padding(0px 10px 10px);
            @include line-height(25px);
          }
          li:first-child {
            @include padding(0px 10px 10px);
          }
          input[type="checkbox"] {
            width: 15px;
            height: 15px;
            float: left;
            margin-right: 7px;
            border: 1px solid #000;
            position: relative;
            top: 2px;
          }
        }
        ul::-webkit-scrollbar {
          width: 5px;
        }
        ul::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        ul::-webkit-scrollbar-thumb {
          background-color: #92a1af;
          outline: 1px solid #5f6189;
        }
        .icon {
          position: absolute;
          right: 5px;
          top: 5px;
          cursor: pointer;
          font-size: 20px;
        }
      }
      li:nth-child(4) {
        width: 311px;
        span {
          width: 100%;
        }
      }
      li:first-child {
        padding: 0;
      }
      li:nth-child(2) {
        width: 180px;
        ul {
          left: 15px;
          width: 165px;
          height: 73px;
        }
      }
      li:nth-child(3) {
        ul {
          left: 15px;
          width: 213px;
        }
      }
      li:nth-child(4) {
        ul {
          left: 15px;
          width: 296px;
        }
      }
      li:nth-child(5) {
        ul {
          left: 15px;
          width: 213px;
          height: 37px;
        }
      }
    }
    .Select {
      position: relative;
      width: 16%;
      float: left;
      margin-right: 10px;
    }
    .Select:nth-child(4) {
      width: 21%;
    }
    .Select input::-webkit-contacts-auto-fill-button,
    .Select input::-webkit-credentials-auto-fill-button {
      display: none !important;
    }
    .Select input::-ms-clear {
      display: none !important;
    }
    .Select input::-ms-reveal {
      display: none !important;
    }
    .Select,
    .Select div,
    .Select input,
    .Select span {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .Select.is-disabled .Select-arrow-zone {
      cursor: default;
      pointer-events: none;
      opacity: 0.35;
    }
    .Select.is-disabled > .Select-control {
      background-color: #f9f9f9;
    }
    .Select.is-disabled > .Select-control:hover {
      box-shadow: none;
    }
    .Select.is-open > .Select-control {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: #fff;
      border-color: #000 #000 #d9d9d9;
      font-size: 14px;
    }
    .Select.is-open > .Select-control .Select-arrow {
      top: -2px;
      border-color: transparent transparent #000;
      border-width: 0 5px 5px;
    }
    .Select.is-searchable.is-open > .Select-control {
      cursor: text;
    }
    .Select.is-searchable.is-focused:not(.is-open) > .Select-control {
      cursor: text;
      font-size: 14px;
    }
    .Select.is-focused > .Select-control {
      background: #fff;
      font-size: 14px;
    }
    .Select.is-focused:not(.is-open) > .Select-control {
      border-color: #007eff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 0 3px rgba(0, 0, 0, 0.06);
      background: #fff;
      font-size: 14px;
    }
    .Select.has-value.is-clearable.Select--single
      > .Select-control
      .Select-value {
      padding-right: 42px;
    }
    .Select.has-value.Select--single
      > .Select-control
      .Select-value
      .Select-value-label,
    .Select.has-value.is-pseudo-focused.Select--single
      > .Select-control
      .Select-value
      .Select-value-label {
      color: #333;
    }
    .Select.has-value.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label,
    .Select.has-value.is-pseudo-focused.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label {
      cursor: pointer;
      text-decoration: none;
    }
    .Select.has-value.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:hover,
    .Select.has-value.is-pseudo-focused.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:hover,
    .Select.has-value.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:focus,
    .Select.has-value.is-pseudo-focused.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:focus {
      color: #007eff;
      outline: none;
      text-decoration: underline;
    }
    .Select.has-value.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:focus,
    .Select.has-value.is-pseudo-focused.Select--single
      > .Select-control
      .Select-value
      a.Select-value-label:focus {
      background: #fff;
    }
    .Select.has-value.is-pseudo-focused .Select-input {
      opacity: 0;
    }
    .Select.is-open .Select-arrow,
    .Select .Select-arrow-zone:hover > .Select-arrow {
      border-top-color: #666;
    }
    .Select.Select--rtl {
      direction: rtl;
      text-align: right;
    }
    .Select-control {
      background-color: #fff;
      border-color: #000 #000 #000;
      border-radius: 6px;
      border: 2px solid #000;
      color: #333;
      cursor: default;
      display: table;
      border-spacing: 0;
      border-collapse: separate;
      height: 36px;
      outline: none;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .apply-but {
      background-color: #f0bd00;
      border-radius: 6px;
      color: #333;
      cursor: pointer;
      display: block;
      height: 36px;
      outline: none;
      overflow: hidden;
      font-size: 14px;
      padding: 11px 0;
      font-weight: bold;
      text-align: center;
      max-width: 121px;
      width: 100%;
    }
    .Select-control:hover {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }
    .Select-control .Select-input:focus {
      outline: none;
      background: #fff;
    }
    .Select-placeholder,
    .Select--single > .Select-control .Select-value {
      bottom: 0;
      color: #000;
      left: 0;
      line-height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      right: 0;
      font-size: 13px;
      top: 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .Select-input {
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }
    .Select-input > input {
      width: 100%;
      background: none transparent;
      border: 0 none;
      box-shadow: none;
      cursor: default;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      outline: none;
      line-height: 17px;
      /* For IE 8 compatibility */
      padding: 8px 0 12px;
      /* For IE 8 compatibility */
      -webkit-appearance: none;
    }
    .is-focused .Select-input > input {
      cursor: text;
    }
    .has-value.is-pseudo-focused .Select-input {
      opacity: 0;
    }
    .Select-control:not(.is-searchable) > .Select-input {
      outline: none;
    }
    .Select-loading-zone {
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 16px;
    }
    .Select-loading {
      -webkit-animation: Select-animation-spin 400ms infinite linear;
      -o-animation: Select-animation-spin 400ms infinite linear;
      animation: Select-animation-spin 400ms infinite linear;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid #ccc;
      border-right-color: #333;
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
    .Select-clear-zone {
      -webkit-animation: Select-animation-fadeIn 200ms;
      -o-animation: Select-animation-fadeIn 200ms;
      animation: Select-animation-fadeIn 200ms;
      color: #999;
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 17px;
    }
    .Select-clear-zone:hover {
      color: #d0021b;
    }
    .Select-clear {
      display: inline-block;
      font-size: 18px;
      line-height: 1;
    }
    .Select--multi .Select-clear-zone {
      width: 17px;
    }
    .Select-arrow-zone {
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 25px;
      padding-right: 5px;
    }
    .Select-arrow {
      border-color: #000 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
      display: inline-block;
      height: 0;
      width: 0;
      position: relative;
    }
    .Select-control > *:last-child {
      padding-right: 5px;
    }
    .Select--multi .Select-multi-value-wrapper {
      display: inline-block;
    }
    .Select .Select-aria-only {
      position: absolute;
      display: inline-block;
      height: 1px;
      width: 1px;
      margin: -1px;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      float: left;
    }
    .Select-menu-outer {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top-color: #e6e6e6;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      margin-top: -1px;
      max-height: 200px;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      z-index: 1;
      -webkit-overflow-scrolling: touch;
      font-size: 13px;
      font-weight: bold;
    }
    .Select-menu::-webkit-scrollbar {
      width: 5px;
    }
    .Select-menu::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .Select-menu::-webkit-scrollbar-thumb {
      background-color: #92a1af;
      outline: 1px solid #5f6189;
    }
    .Select-menu {
      max-height: 198px;
      overflow-y: auto;
    }
    .Select-option {
      box-sizing: border-box;
      background-color: #fff;
      color: #666666;
      cursor: pointer;
      display: block;
      padding: 8px 10px;
    }
    .Select-option:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .Select-option.is-selected {
      background-color: #eaeaea;
      /* Fallback color for IE 8 */
      background-color: rgba(0, 0, 0, 0.06);
      color: #333;
    }
    .Select-option.is-focused {
      background-color: #eaeaea;
      /* Fallback color for IE 8 */
      background-color: rgba(0, 0, 0, 0.06);
      color: #333;
    }
    .Select-noresults {
      box-sizing: border-box;
      color: #999999;
      cursor: default;
      display: block;
      padding: 8px 10px;
    }
    .Select--multi .Select-input {
      vertical-align: middle;
      margin-left: 10px;
      padding: 0;
    }
    .Select--multi.has-value .Select-input {
      margin-left: 5px;
    }
    .Select--multi .Select-value {
      background-color: #eaeaea;
      /* Fallback color for IE 8 */
      background-color: #eaeaea;
      border-radius: 2px;
      border: 1px solid #eaeaea;
      /* Fallback color for IE 8 */
      border: 1px solid #eaeaea;
      color: #007eff;
      display: inline-block;
      font-size: 0.9em;
      line-height: 1.4;
      margin-left: 5px;
      margin-top: 5px;
      vertical-align: top;
    }
    .paddingtop30 {
      padding-top: 30px;
    }
    .keyword {
      float: left;
      margin: 0 0 15px;
      width: 100%;
      position: relative;
      top: -21px;
      span {
        float: left;
        color: #a914a9;
        font-size: 13px;
        font-weight: 400;
        margin-right: 30px;
        cursor: pointer;
        position: relative;
        margin-top: 0px;
        line-height: 1.6;
      }
      span:after {
        content: "";
        position: absolute;
        top: 6px;
        right: -12px;
        height: 10px;
        width: 9px;
        background: url(#{$img-base-url}sprite-icon-details.png) -11px -414px
          no-repeat #fff;
        font-weight: 600;
      }
      span:last-child::after {
        display: none;
      }
    }
  }
  .buttonpanel {
    @include margin(27px 0);
    cursor: pointer;
    .buttonleft {
      @include border-radius(10px 0 0 10px);
      @include padding(15px 30px);
      background: $bg-color-white;
      border: 1px solid #d7d7d7;
      border-right: none;
    }
    .buttonmiddle {
      background: $bg-color-white;
      border: 1px solid #d7d7d7;
      @include padding(15px 30px);
      transition: 0.5s all linear;
    }
    .buttonright {
      @include border-radius(0 10px 10px 0px);
      background: $bg-color-white;
      @include padding(15px 30px);
      border: 1px solid #d7d7d7;
      border-left: none;
      transition: 0.5s all linear;
    }
    @media screen and (max-width: 471px) {
      .buttonleft,
      .buttonmiddle,
      .buttonright {
        @include padding(15px);
      }
    }
    @media screen and (max-width: 382px) {
      .buttonleft,
      .buttonmiddle,
      .buttonright {
        width: 100%;
        float: left;
        text-align: center;
        border-radius: 10px;
        padding: 8px 15px;
      }
      .buttonmiddle {
        margin: 5px 0;
      }
    }

    .activebutton {
      background: $bg-color-yellow;
    }
    .radius {
      @include border-radius(10px);
      @include padding(13px 25px);
      margin-right: -6px;
      background: $bg-color-white;
    }
    .ase {
      @include margin(0 10px);
      border: 1px solid #d7d7d7;
      background: $bg-color-white url(#{$img-base-url}sprite-icon-details.png)
        11px -313px no-repeat;
    }
    .ase:hover {
      background: $bg-color-yellow url(#{$img-base-url}sprite-icon-details.png)
        11px -313px no-repeat;
    }
    .buttonright:hover,
    .buttonmiddle:hover,
    .buttonleft:hover {
      background: $bg-color-yellow;
    }
  }
  @media screen and (max-width: 382px) {
    .buttonpanel {
      margin: 27px 0 15px;
    }
  }
  .buttonpanel.sorting {
    display: none;
  }
  .list {
    background: $bg-color-grey;
    .row{
      margin-left:-15px;
      margin-right: -15px;
    }
    .box {
      background: $white;
      border-radius: 10px;
      border: 1px solid #ccc;
      overflow: auto;
      height: auto;
      @include margin(0 0 10px 0);
      transition: all 1s ease-in;
      overflow: hidden;
    }
    .col-md-9 {
      .box {
        @include padding(0);
        a {
          img {
            margin-left: 0;
          }
        }
        .col-md-2 {
          width: 16.66667%;
          padding-top: 8px;
          padding-bottom: 8px;
          .tablecell {
            display: table;
            width: 100%;
            .logotext {
              float: none;
              width: 100%;
              display: table-cell;
              vertical-align: middle;
              padding-top: 0;
              height: 124px;
              a {
                img {
                  width: 95px;
                  height: 50px;
                  display: block;
                  margin: 0 auto;
                  padding: 5px;
                  font-size: 10px;
                  float: none;
                }
              }
              // @media screen and (max-width: 767px) {
              //   a {
              //     display: none;
              //   }
              // }
              p {
                font-size: 14px;
                color: #737373;
                padding-left: 0;
                font-weight: 400;
                letter-spacing: 0.6px;
                text-align: center;
                margin-top: 10px;
              }
              @media screen and (max-width: 767px) {
                p {
                  text-align: left;
                  margin-top: 0;
                  margin-bottom: 0;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .logotext {
                padding-top: 0;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              height: auto !important;
            }
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-2 {
            width: auto;
            text-align: left;
            padding: 0 0 15px 15px;
            display: none;
          }
        }
        // @media screen and (max-width: 390px) {
        //   .col-md-2 {
        //     padding: 0 0 0 15px;
        //   }
        // }
        .col-md-7 {
          width: 64.8%;
          padding: 8px 15px;
          height: auto;
          .tablecell {
            display: table;
            width: 100%;
            .calender {
              float: none;
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              color: #303131;
              width: 100%;
              p {
                font-size: 14px;
                color: #000;
                font-weight: 400;
                line-height: 18px;
                float: left;
                margin: 0;
                padding: 0;
                margin-bottom: 0;
                width: 100%;
              }
              @media screen and (max-width: 767px) {
                p {
                  display: inline-block;
                }
                p:nth-child(1) {
                  margin-right: 2px;
                }
              }
              dd {
                font-size: 20px;
                line-height: 49px;
                color: #303131;
                font-weight: 500;
                position: relative;
                display: block;
                float: left;
                width: 100%;
                margin: 15px 0 5px;
              }
              @media screen and (max-width: 767px) {
                dd {
                  display: none;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .calender {
                margin-left: 0;
                padding-top: 0;
                text-align: right;
                width: auto;
                float: right;
                height: auto;
                padding: 5px 10px;
                margin-top: 0;
                margin-bottom: -10px;
              }
            }
            .contentdisplay {
              float: none;
              width: 100%;
              display: table-cell;
              vertical-align: middle;
              padding-top: 15px;
              padding-bottom: 12px;
              h2 {
                padding: 0;
                text-transform: initial;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
                float: left;
                width: 100%;
                margin-top: 0;
                position: relative;
                a {
                  color: #a914a9;
                  text-decoration: none;
                  border-bottom: 0;
                  padding-bottom: 1px;
                  line-height: 1.4;
                }
                a.ellipsis {
                  width: 492px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  float: left;
                }
                a.ellipsis:hover + .namelistTooltip {
                  opacity: 1;
                  z-index: 91;
                  -webkit-transition: all 1s ease;
                  -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                  transition: all 1s ease;
                }
                @media screen and (max-width: 1080px) {
                  a.ellipsis {
                    width: 420px;
                  }
                }
                @media screen and (max-width: 1024px) {
                  a.ellipsis {
                    width: 378px;
                  }
                }
                @media screen and (max-width: 960px) {
                  a.ellipsis {
                    width: 500px;
                  }
                }
                @media screen and (max-width: 853px) {
                  a.ellipsis {
                    width: 446px;
                  }
                }
                @media screen and (max-width: 771px) {
                  a.ellipsis {
                    width: 415px;
                  }
                }
                @media screen and (max-width: 768px) {
                  a.ellipsis {
                    width: 390px;
                  }
                }
                @media screen and (max-width: 767px) {
                  a.ellipsis {
                    width: auto;
                    white-space: inherit;
                    overflow: inherit;
                    text-overflow: inherit;
                  }
                  a.ellipsis:hover + .namelistTooltip {
                    opacity: 0;
                    z-index: -1;
                  }
                }
                .namelistTooltip {
                  position: absolute;
                  top: 32px;
                  left: 0;
                  width: auto;
                  height: auto;
                  padding: 10px 15px;
                  text-align: left;
                  z-index: 9;
                  background: #fef9b7;
                  color: #1a1a18;
                  font-size: 14px;
                  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                  border-radius: 5px;
                  opacity: 0;
                  z-index: -1;
                  -webkit-transition: all 1s ease;
                  -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                  transition: all 1s ease;
                  i.arrow {
                    border-bottom: 12px solid #fef9b7;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    float: right;
                    position: absolute;
                    left: 22px;
                    top: -11px;
                  }
                }
              }
              p {
                font-size: 14px;
                font-weight: 400;
                width: 477px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #000;
                margin: 0;
                margin-bottom: 8px;
                padding: 0;
                float: left;
                img {
                  float: left;
                  margin: 0 8px 0 0;
                }
              }
              @media screen and (max-width: 1080px) {
                p {
                  padding-right: 96px;
                }
              }
              @media screen and (max-width: 767px) {
                p {
                  padding-right: 0;
                  width: 100%;
                }
              }
              p:last-child {
                margin-bottom: 0;
              }
            }
            @media screen and (max-width: 767px) {
              .contentdisplay {
                width: 100%;
                display: initial;
                vertical-align: initial;
                padding-top: 15px;
                padding-bottom: 12px;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              display: block;
              width: 100%;
            }
          }
        }
        @media screen and (max-width: 1080px) {
          .col-md-7 {
            width: 61.8%;
          }
        }
        @media screen and (max-width: 992px) {
          .col-md-7 {
            width: 59.8%;
          }
        }
        @media screen and (max-width: 960px) {
          .col-md-7 {
            width: 64.8%;
          }
        }
        @media screen and (max-width: 853px) {
          .col-md-7 {
            width: 63.8%;
          }
        }
        @media screen and (max-width: 811px) {
          .col-md-7 {
            width: 62.8%;
          }
        }
        @media screen and (max-width: 771px) {
          .col-md-7 {
            width: 61.8%;
          }
        }
        @media screen and (max-width: 768px) {
          .col-md-7 {
            width: 60.8%;
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-7 {
            width: 100%;
            min-height: 0;
            padding-bottom: 30px;
            border-right: 0;
          }
        }
        .col-md-3 {
          width: 18.5%;
          padding: 15px 0 13px 0;
          border-left: 2px solid #eaeaea;
          height: 140px;
          .tablecell {
            display: table;
            width: 100%;
            .calender {
              text-align: center;
              color: #303131;
              overflow: hidden;
              p {
                @include font-size(14px);
                font-weight: $b4s-font-weight-400;
                line-height: 18px;
                width: 100%;
              }
              @media screen and (max-width: 767px) {
                p {
                  display: inline-block;
                  width: inherit;
                }
                p:nth-child(1) {
                  margin-right: 2px;
                }
              }
              .date {
                padding-top: 15px;
              }
              dd {
                @include font-size(22px);
                line-height: 49px;
                color: $b4s-color-black;
                font-weight: $b4s-font-weight-500;
                position: $pos-relative;
                top: 10px;
                @media screen and (max-width: 767px) {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  top: 0;
                  display: inline-block;
                  color: inherit;
                  padding-right: 2px;
                  padding-left: 2px;
                }
                &:before {
                  content: "";
                  background: url(#{$img-base-url}calender.png) no-repeat;
                  display: block;
                  margin-left: -30px;
                  position: absolute;
                  top: -12px;
                  left: 50%;
                  width: 60px;
                  height: 62px;
                  @media screen and (max-width: 767px) {
                    display: none;
                  }
                }
              }
            }
            @media screen and (max-width: 767px) {
              .calender {
                margin-left: 0;
                padding-top: 0;
                text-align: right;
                width: auto;
                float: right;
                height: auto;
                padding: 5px 10px;
                margin-top: 0;
                margin-bottom: -10px;
              }
            }
            @media screen and (max-width: 390px) {
              .calender {
                margin-left: 0;
                padding-top: 0;
                text-align: left;
                width: auto;
                float: left;
                height: auto;
                padding: 0 15px;
                margin-top: 0;
                margin-bottom: 0;
              }
            }
            .daysgo {
              vertical-align: middle;
              border-radius: 100px;
              width: 100px;
              text-align: center;
              height: 100px;
              padding-top: 25px;
              font-size: 14px;
              color: #fff;
              margin: 5px auto 0;
              span {
                font-size: 25px;
                display: block;
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: 15px;
                  float: left;
                  margin-right: 5px;
                  line-height: 13px;
                  padding-left: 7px;
                  margin-top: 1px;
                }
              }
              p {
                font-weight: $b4s-font-weight-400;
                line-height: 7px;
              }
              @media screen and (max-width: 767px) {
                p {
                  width: auto;
                  margin: 0 7px 0 2px;
                  position: relative;
                  top: -3px;
                }
              }
            }
            .daysgo.open {
              span {
                font-size: 18px;
                padding-top: 13px;
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: 16px;
                  padding-top: 0px;
                  padding-bottom: 5px;
                  margin-top: -5px;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .daysgo {
                margin-left: 0;
                padding-top: 2px;
                text-align: right;
                width: auto;
                float: right;
                height: 20px;
                margin-top: 0;
              }
            }
            @media screen and (max-width: 390px) {
              .daysgo {
                margin-left: 15px;
                float: left;
                margin-top: 15px;
              }
            }
            .daysgo.pink {
              background: #ff7f7f;
              float: initial;
            }
            .daysgo.yellow {
              background: rgb(245, 209, 76);
              float: initial;
            }
            .daysgo.gray {
              color: #ffffff;
              background: #d7d7d7;
              float: initial;
              span {
                font-size: 18px;
                display: block;
                padding-top: 13px;
                font-weight: 400;
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: initial;
                  padding-top: initial;
                  font-weight: initial;
                  position: relative;
                  top: 0;
                }
              }
            }
            @media screen and (max-width: 390px) {
              .daysgo.pink,
              .daysgo.yellow,
              .daysgo.gray {
                float: left;
              }
            }
            .daysgo.always {
              p {
                font-size: 18px;
                display: block;
                padding-top: 13px;
                font-weight: 400;
                line-height: 20px;
                margin-top: -7px;
              }
              @media screen and (max-width: 767px) {
                p {
                  font-size: initial;
                  padding-top: initial;
                  font-weight: initial;
                  position: relative;
                  top: 4px;
                }
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              height: auto !important;
            }
          }
        }
        @media screen and (max-width: 1080px) {
          .col-md-3 {
            width: 21.5%;
          }
        }
        @media screen and (max-width: 992px) {
          .col-md-3 {
            width: 23.5%;
          }
        }
        @media screen and (max-width: 960px) {
          .col-md-3 {
            width: 18.5%;
          }
        }
        @media screen and (max-width: 853px) {
          .col-md-3 {
            width: 19.5%;
          }
        }
        @media screen and (max-width: 811px) {
          .col-md-3 {
            width: 20.5%;
          }
        }
        @media screen and (max-width: 771px) {
          .col-md-3 {
            width: 21.5%;
          }
        }
        @media screen and (max-width: 768px) {
          .col-md-3 {
            width: 22.5%;
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-3 {
            border-left: 0;
            width: auto;
            padding: 0 0 10px 0;
            position: absolute;
            bottom: 0;
            right: 15px;
            height: auto;
          }
        }
        @media screen and (max-width: 390px) {
          .col-md-3 {
            width: 100%;
            position: initial;
          }
        }
        @media screen and (max-width: 767px) {
          .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            position: relative;
            .flex-item:nth-of-type(1) {
              order: 2;
            }
            .flex-item:nth-of-type(2) {
              order: 1;
            }
            .flex-item:nth-of-type(3) {
              order: 3;
            }
          }
        }
        .datalist {
          .heading {
            vertical-align: 18px;
            width: 510px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            padding-top: 6px;
            a {
              font-size: 16px;
              color: #a914a9;
              text-decoration: none;
              border-bottom: 0;
              line-height: 25px;
            }
            a:hover {
              border-bottom: 2px solid #a914a9;
            }
          }
          @media screen and (max-width: 1199px) {
            .heading {
              width: 394px;
            }
          }
          p {
            line-height: 5px;
            color: #000;
            font-size: 14px;
            font-weight: $b4s-font-weight-500;
            width: 490px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 18px;
            min-height: 18px;
            img {
              margin-right: 10px;
            }
          }
          @media screen and (max-width: 1199px) {
            p {
              width: 394px;
            }
          }
        }
        .col-md-2.borderLeft {
          border-left: 2px solid #eaeaea;
          padding-right: 0;
          padding-left: 5px;
        }
      }
    }
    .col-md-3 {
      .box {
        @include padding(10px);
        h4 {
          color: #000;
          font-weight: 500;
          font-size: 18px;
          padding: 0 0 9px;
          border-bottom: 1px solid #d7d7d7;
        }
        p {
          width: 100%;
          border-bottom: 1px solid #d7d7d7;
          padding: 10px 0;
          margin-top: 10px;
          a {
            color: #5d5d5d;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
        }
        p:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
      .box.listFeaturedScholarships {
        float: left;
        padding: 0;
        h4 {
          margin: 0 0 15px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          background: #f0bd00;
          padding: 15px;
          float: left;
          width: 100%;
          letter-spacing: 0.6px;
          min-height: initial;
          border-bottom: 0;
          position: relative;
          display: block;
        }
        p {
          float: left;
          width: 100%;
          margin-bottom: 28px;
          padding: 0 15px;
          font-size: 10px;
          font-weight: 600;
          color: #000;
          border-bottom: 0;
          margin-top: 0;
          img {
            width: 73px;
            height: 50px;
            float: left;
            padding: 5px;
          }
          span {
            float: left;
            width: 189px;
            font-size: 12px;
            font-weight: 600;
            color: #000;
            padding-right: 0;
            margin-top: 7px;
            margin-left: 15px;
            a {
              color: #000;
              font-size: 14px;
              font-weight: 400;
            }
            i {
              font-style: normal;
              width: 100%;
              float: left;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
      @media screen and (max-width: 960px) {
        .box.listFeaturedScholarships {
          margin-bottom: 60px;
        }
      }
    }
    .col-md-9.marginRight {
      width: 71.5%;
      padding-right: 7.5px;
    }
    @media screen and (max-width: 960px) {
      .col-md-9.marginRight {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .col-md-3.marginLeft {
      width: 28.5%;
      padding-left: 7.5px;
    }
    @media screen and (max-width: 960px) {
      .col-md-3.marginLeft {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .list.marginBox {
    float: left;
    width: 100%;
  }
  @media screen and (max-width: 960px) {
    .list {
      .flex-container-wrap {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .flex-container-list:nth-of-type(2) {
          order: 1;
        }
        .flex-container-list:nth-of-type(3) {
          order: 2;
        }
        @media screen and (max-width: 960px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
          }
        }
        @media screen and (max-width: 382px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .box:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .pagination {
    .rc-pagination {
      font-size: 12px;
      font-family: "Arial";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;
      padding: 0 5px;
    }
    .rc-pagination > li {
      list-style: none;
    }
    .rc-pagination-total-text {
      float: left;
      height: 30px;
      line-height: 30px;
      list-style: none;
      padding: 0;
      margin: 0 8px 0 0;
    }
    .rc-pagination:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    .rc-pagination-item {
      cursor: pointer;
      border-radius: 0px;
      min-width: 28px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      list-style: none;
      float: left;
      border: none;
      border-right: 1px solid #d9d9d9;
      background-color: #fff;
      margin-right: 0px;
      padding: 3px 16px;
    }
    .rc-pagination-item a {
      text-decoration: none;
      color: #666;
    }
    .rc-pagination-item:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-item:hover a {
      color: #f0bd00;
    }
    .rc-pagination-item-active {
      background-color: #f0bd00;
      border-color: #f0bd00;
    }
    .rc-pagination-item-active a {
      color: #fff;
    }
    .rc-pagination-item-active:hover a {
      color: #fff;
    }
    .rc-pagination-jump-prev:after,
    .rc-pagination-jump-next:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }
    .rc-pagination-jump-prev:hover:after,
    .rc-pagination-jump-next:hover:after {
      color: #f0bd00;
    }
    .rc-pagination-jump-prev:hover:after {
      content: "\AB";
    }
    .rc-pagination-jump-next:hover:after {
      content: "\BB";
    }
    .rc-pagination-prev,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      margin-right: 1px;
    }
    .rc-pagination-prev,
    .rc-pagination-next,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      cursor: pointer;
      color: #666;
      font-size: 10px;
      border-radius: 6px;
      list-style: none;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      float: left;
      text-align: center;
    }
    .rc-pagination-prev a:after {
      content: "\2039";
      display: block;
    }
    .rc-pagination-next a:after {
      content: "\203A";
      display: block;
    }
    .rc-pagination-prev,
    .rc-pagination-next {
      border: 0px solid #d9d9d9;
      font-size: 30px;
      padding-top: 2px;
      height: 33px;
      background: #fff;
      border-radius: 0;
    }
    .rc-pagination-prev a,
    .rc-pagination-next a {
      color: #666;
    }
    .rc-pagination-prev a:after,
    .rc-pagination-next a:after {
      margin-top: -1px;
    }
    .rc-pagination-disabled {
      cursor: not-allowed;
    }
    .rc-pagination-disabled a {
      color: #ccc;
    }
    .rc-pagination-options {
      float: left;
      margin-left: 15px;
    }
    .rc-pagination-options-size-changer {
      float: left;
      width: 80px;
    }
    .rc-pagination-options-quick-jumper {
      float: left;
      margin-left: 16px;
      height: 28px;
      line-height: 28px;
    }
    .rc-pagination-options-quick-jumper input {
      margin: 0 8px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      outline: none;
      padding: 3px 12px;
      width: 50px;
      height: 28px;
    }
    .rc-pagination-options-quick-jumper input:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-options-quick-jumper button {
      display: inline-block;
      margin: 0 8px;
      font-weight: 500;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 12px;
      border-radius: 6px;
      height: 28px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
    }
    .rc-pagination-options-quick-jumper button:hover,
    .rc-pagination-options-quick-jumper button:active,
    .rc-pagination-options-quick-jumper button:focus {
      color: #f0bd00;
      background-color: #fff;
      border-color: #f0bd00;
    }
  }
}
