header {
  background-color: map-get($colors, transparentBg);
}

.home {
  position: relative;
  .bannerSlider {
    width: 100%;
    float: left;
    @include margin(0);
    @include padding(0);
    .imgBanner {
      @include margin(0);
      @include padding(0);
      width: 100%;
      height: 605px;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .bannerText {
        background: rgba(0, 0, 0, 0.71);
        color: #fff;
        width: 654px;
        position: absolute;
        bottom: 41px;
        padding: 15px;
        font-size: 28px;
        line-height: 39px;
      }
    }
  }
  .affordableWrapper {
    background: #f1f1f1;
    float: left;
    width: 100%;
    .container {
      .row {
        margin-right: -15px;
        margin-left: -15px;
      }
    }
    h1 {
      @include font-size(35px);
      color: $bg-color-black;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      @include font-size(18px);
      color: $bg-color-black;
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      width: 100%;
      float: left;
    }
    .bggreay {
      display: none;
    }
    .btn.noShadow {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      color: map-get($colors, whiteColor);
      font-size: 18px;
      font-weight: 500;
      background: #fdb701;
      padding-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .btn.width {
      width: 229px;
      margin-top: 30px;
    }
    @media screen and (max-width: 390px) {
      .btn.noShadow,
      .btn.width {
        width: 100%;
        margin: 10px auto;
      }
    }

    .btn.noShadow:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      background: transparent;
      color: map-get($colors, blackColor);
    }
    .btn.sake {
      animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }
  }
  .cursorPointer {
    cursor: pointer;
  }
  .scholarship-container {
    float: left;
    width: 100%;
    background: #fff;
    .container {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .box {
      padding: 60px 0;
      @include width(100%);
      background-size: $bg-size;
      display: $display-block;
    }
    .box.bg1 {
      @include width(100%);
      @include min-height(900px);
      margin: -118px auto 0;
    }
    .Scholarship-block {
      margin: 0 0 80px 0;
      .Scholarship-gd-top {
        text-align: $text-align-center;
        position: $pos-relative;
        h2,
        h4 {
          @include font-size(14px);
          color: $t-color-black;
          padding: 0.6em 1em 0.6em 1em;
          text-transform: uppercase;
          background-color: $bg-rga-alpha-color-yellow;
          font-weight: $font-weight-500;
          position: $pos-absolute;
          bottom: -30px;
          left: 50%;
          display: table;
          width: 180px;
          margin-left: -90px;
          margin-bottom: 0;
          a {
            display: table-cell;
            height: 40px;
            vertical-align: middle;
            text-decoration: none;
            color: #231f20;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .Our-Service {
    @include bg-color($home-yellow);
    background-size: 100%;
    float: left;
    width: 100%;
    .bg1 {
      @include width(100%);
      @include min-height(550px);
      -webkit-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -moz-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -o-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      box-shadow: 0 1px 21px 0px rgba(8, 8, 8, 0.06);
      text-align: $text-align-center;
      margin: 78px auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .how-it-work {
      margin: 10px 0 0;
      float: left;
      .single-work {
        padding: 25px 0;
        @include height(auto);
        float: $text-align-left;
        width: 100%;
        i {
          line-height: 132px;
          font-size: 52px;
          width: 132px;
          height: 132px;
          display: inline-block;
          border-radius: 50%;
          -webkit-box-shadow: 0 0 3px 4px #f9f8f9;
          box-shadow: 0 0 3px 4px #f9f8f9;
          margin: 0 auto 15px;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          color: white;
        }
        i.scholarships {
          background-position: center -1849px;
        }
        i.scholarships {
          background-position: center -1849px;
        }
        i.email-alerts {
          background-position: center -2106px;
        }
        i.help {
          background-position: center -2374px;
        }
        i.institutional {
          background-position: center -2642px;
        }
        h4 {
          color: #202020;
          @include font-size(22px);
          font-weight: 600;
          float: $text-align-left;
          width: 100%;
          margin-bottom: 10px;
        }
        p {
          @include text-color($home-black);
          font-weight: 400;
          line-height: 22px;
          padding: 0 10px;
          float: $text-align-left;
          width: 100%;
          margin: initial;
        }
      }
      .single-work:hover {
        i {
          background: black;
          color: white;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
        i.scholarships {
          background-position: center -1717px;
        }
        i.email-alerts {
          background-position: center -1974px;
        }
        i.help {
          background-position: center -2242px;
        }
        i.institutional {
          background-position: center -2510px;
        }
      }
    }
  }
  .premium-membership {
    @include bg-color($home-black);
    .buddy-heading {
      h2 {
        color: $t-color-white;
        text-align: center;
        margin-bottom: 0;
        img {
          width: 70px;
          height: 37px;
          margin-right: 22px;
          position: relative;
          top: -2px;
        }
      }
      p {
        margin: 0 0 20px;
      }
    }
    .premium_text {
      h3,
      h4 {
        i {
          text-transform: uppercase;
          color: $t-color-yellow;
          @include font-size(24px);
          text-transform: uppercase;
          position: $pos-relative;
          top: 0px;
          right: 5px;
        }
        span {
          text-transform: uppercase;
          color: $t-color-yellow;
          @include font-size(28px);
        }
      }
      p {
        @include font-size(20px);
        margin-top: 25px;
        color: $t-color-white;
      }
      p span {
        @include font-size(20px);
        color: $t-color-yellow;
      }
    }
    .premium-membership_text {
      text-align: $text-align-center;
      ul {
        margin-top: 25px;
      }
      ul li {
        line-height: 45px;
        height: 45px;
        color: $t-color-white;
      }
      a {
        margin-bottom: 50px;
      }
    }
    .border {
      border-right: 1px solid #fefefe;
      position: $pos-relative;
    }
  }
  .members-winner {
    @include bg-color($home-gray);
    float: left;
    width: 100%;
    .bg1 {
      @include width(100%);
      @include min-height(600px);
      -webkit-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -moz-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -o-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      box-shadow: 0 1px 21px 0px rgba(8, 8, 8, 0.06);
      text-align: $text-align-center;
      background-color: $white-color;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .awardees-cell {
      float: left;
      width: 100%;
      padding: 0;
      .media {
        margin-top: 10px;
        margin-bottom: 15px;
        height: 180px;
        .media-body {
          display: block;
          align-items: center;
          flex-wrap: nowrap;
          width: auto;
          .imgWrapper {
            height: 136px;
            float: left;
          }
          img {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            border: 3px solid #b8ccff;
            margin-top: 5px;
            width: 110px;
            height: 110px;
            float: left;
            margin-right: 15px;
          }
          h3,
          h4 {
            @include font-size(22px);
            color: $t-color-yellow;
            padding: 0 0 10px 20px;
            text-align: left;
            font-weight: $font-weight-400;
            line-height: 1;
            word-wrap: break-word;
            width: auto;
          }
          p {
            @include font-size(14px);
            color: $t-color-black;
            text-align: left;
            padding: 0 0 0 20px;
            line-height: 1.1;
            font-weight: $font-weight-400;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .Scholarship-statiststics {
    @include bg-color($home-yellow);
    float: left;
    width: 100%;
    .helped {
      .fa {
        font-size: 72px;
      }
      h3,
      span {
        @include font-size(64px);
        font-weight: $font-weight-600;
        @include line-height(1.5);
        color: $t-color-white;
        margin: 0;
        display: block;
      }
      p {
        @include line-height(2);
        @include font-size(18px);
        font-weight: $font-weight-600;
        color: $t-color-black;
        margin: 0;
      }
    }
  }
}

.marginleft {
  margin-left: -40px;
  height: 500px;
}

.margintop100 {
  margin-top: -80px;
}

.homepage-banner {
  float: left;
  width: 100%;
  margin-top: -3px;
  img {
    width: 100%;
  }
  .slick-next,
  .slick-prev {
    cursor: default;
    display: none !important;
  }
  .slick-prev:before {
    display: none;
  }
  /* Dots */
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }
  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    opacity: 1;
  }
  .slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: "•";
    text-align: center;
    font-size: 50px;
    opacity: 1;
    color: rgb(83, 83, 83);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fdb701;
  }
  .slick-slider {
    padding: 0;
    line-height: 8px;
  }
  .slick-arrow {
    display: none;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
