@media screen and (max-width: 1024px) {
  /* Top Background */
  .home {
    .bghome {
      background-size: cover; // background-position: calc(100% + 90px) 0;
      width: 100%;
      min-height: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .home {
    .scholarship-container {
      .col-md-3 {
        width: 50%;
        float: left;
        .Scholarship-block {
          margin: 25px 0 0;
          .Scholarship-gd-top {
            h2 {
              bottom: 0;
              width: 100%;
              left: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
    .Scholarship-statiststics {
      .col-md-4 {
        float: left;
        width: 33.3%;
      }
    }
    .how-it-work {
      .col-md-3 {
        float: left;
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 853px) {
  .home {
    .bghome {
      // background-position: calc(100% + 230px) 0;
      .search-wraper {
        width: 100%;
        input {
          width: 100%;
        }
        button,
        button:hover {
          position: absolute;
          right: 0;
          top: 0;
          border-bottom: 1px solid $bg-color-yellow;
        }
        button:hover {
          border-bottom: 1px solid #fff;
        }
        .list-standard {
          margin-left: 0;
          display: inline-block;
          a,
          a:hover {
            @include font-size(14px);
          }
        }
        dd.error,
        span.error {
          left: 0;
        }
      }
    }
    .Scholarship-statiststics {
      .col-md-4 {
        float: left;
        width: 100%;
      }
    }
    .how-it-work {
      .col-md-3 {
        float: left;
        width: 50%;
        height: 280px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    .bghome {
      // background-position: calc(100% + 248px) 0;
      width: 100%;
      min-height: 100%;
    }
    .members-winner {
      .col-sm-6 {
        width: 50%;
        float: left;
      }
    }
    .premium-membership {
      .col-sm-6 {
        width: 100%;
      }
      .col-sm-6.border {
        border-right: 0;
        border-bottom: 1px solid #fefefe;
        margin-bottom: 35px;
      }
    }
  }
}

@media screen and (max-width: 607px) {
  .home {
    .bghome {
      background-position: calc(100% + 405px) 0;
      .search-wraper {
        .list-standard {
          a,
          a:hover {
            @include font-size(12px);
          }
        }
        button,
        button:hover {
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
          height: 49px;
          i.fa-search {
            width: 48px;
            height: 47px;
            color: #fff;
            background: #fdb701;
            line-height: 52px;
            font-size: 24px;
            display: block;
            text-align: center;
          }
          span {
            display: none;
          }
        }
        button:hover {
          border-bottom: 1px solid #fdb701;
        }
      }
    }
    .members-winner {
      .col-sm-6 {
        width: 100%;
        float: left;
        .awardees-cell {
          .media {
            height: auto;
          }
        }
      }
    }
    .scholarship-container {
      .col-md-3 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .how-it-work {
      .col-md-3 {
        float: left;
        width: 100%;
        height: auto;
      }
    }
  }
  .scholarship-container,
  .Scholarship-statiststics,
  .members-winner,
  .Our-Service {
    .buddy-heading {
      h2,
      h3,
      h5 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 600;
        line-height: initial;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .home {
    .bghome {
      background-position: calc(100% + 520px) 0;
      .search-wraper {
        .list-standard {
          li {
            margin: 0 19px 0 0;
            padding: 0;
            float: left;
          }
          li:after {
            content: "";
            top: 5px;
            right: -10px;
          }
        }
      }
    }
    .members-winner {
      .col-sm-6 {
        .awardees-cell {
          .media {
            .media-body {
              .imgWrapper {
                float: none;
                height: auto;
                margin-left: 10px;
              }
              img {
                margin: 5px auto 0;
                display: block;
                float: none;
                width: 80px;
                height: 80px;
                text-align: center;
              }
              h4 {
                font-size: 18px;
                text-align: center;
              }
              p {
                text-align: center;
                line-height: 20px;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .Scholarship-statiststics {
      .helped {
        margin-top: 20px;
        .fa {
          font-size: 55px;
        }
        span {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .home {
    .bghome {
      background-position: calc(100% + 510px) 0;
      .imgTestPos {
        h1 {
          font-size: 24px;
          line-height: 30px;
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .home {
    .bghome {
      background-position: calc(100% + 445px) 0;
    }
  }
}
