@media screen and (max-width: 1080px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        padding-top: 0;
        .col-md-4 {
          width: 100%;
          text-align: center;
          margin-top: 0;
          a:last-child {
            img {
              border-right: 0;
            }
          }
        }
        .col-md-8 {
          width: 100%;
          .form-wrapper {
            width: 100%;
            float: left;
            position: relative;
            top: -10px;
            border-top: 1px solid #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            form.form-inline {
              .form-group {
                width: 29%;
                display: inline-block;
                .form-control {
                  width: 100%;
                }
              }
              .form-group:nth-child(3) {
                margin-right: 0;
              }
              .btnframe {
                float: right;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 966px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 32.95%;
              }
              .btnframe {
                top: 8px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 32.6%;
              }
              .btnframe {
                top: 8px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 853px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 32.9%;
              }
              .btnframe {
                top: 8px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 32.9%;
              }
              .btnframe {
                top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 32.8%;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 753px) {
  .mediapartners {
    .scholarship-network {
      .iframenew {
        .col-md-8 {
          .form-wrapper {
            form.form-inline {
              .form-group {
                width: 100%;
                margin-bottom: 0;
              }
              .form-group:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
