@media screen and (max-width: 1024px) {
  .privacy {
    .graybg {
      .left {
        padding: 30px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .privacy {
    .graybg {
      .left {
        padding: 25px;
        width: 100%;
        .row {
          padding-left: 0;
        }
      }
      .right {
        position: relative;
        width: 100%;
        padding: 10px 15px 15px;
        h1 {
          font-size: 20px;
          line-height: 20px;
          font-weight: bold;
        }
        img {
          display: none;
        }
      }
    }
  }
  .tnc {
    .bgtnc {
      h1 {
        font-size: 30px;
      }
    }
  }
}
