.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  .msgTxt {
    color: $red-info-color;
    @include font-size(16px);
    font-weight: $font-weight-400;
    margin-bottom: 15px;
    display: block;
  }
  h4 {
    color: $black-color;
    @include font-size(18px);
    font-weight: $font-weight-600;
    height: auto;
    float: $text-align-left;
    width: 100%;
    padding-top: 19px;
    position: $pos-relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: -7px;
    background: transparent;
  }
  h4.titletext {
    padding-left: 35px !important;
  }
  h4.titletext.marginTop {
    margin-top: 0;
  }
  @media screen and (max-width: 662px) {
    h4.titletext {
      margin-top: 0;
    }
  }
  h4:before {
    content: "";
    background: url(#{$img-base-url}sprite-img-new.png) no-repeat -229px -1065px;
    top: 17px;
    width: 25px;
    height: 25px;
    position: $pos-absolute;
  }
  h4.titletext:before {
    left: 0 !important;
  }
  h4:after {
    width: 45px;
    height: 2px;
    content: "";
    position: $pos-absolute;
    top: 46px;
    background: $bg-color-yellow;
  }
  h4.titletext:after {
    left: 37px !important;
  }
  .col-md-12.activities {
    .page-nav {
      width: 100%;
      position: $pos-relative;
      float: $text-align-left;
      margin-top: 0;
      ul {
        list-style: none;
        width: 100%;
        display: block;
        float: $text-align-left;
        li {
          width: 100%;
          position: $pos-relative;
          display: block;
          float: $text-align-left;
          padding-left: 73px;
          margin-bottom: 20px;
          p {
            @include font-size(19px);
            color: #6d6e71;
            margin-bottom: 30px;
            a {
              text-decoration: underline;
              @include font-size(18px);
              font-weight: $font-weight-600;
              color: $black-color;
              margin: 0;
              padding: 0;
            }
          }
          p:first-child {
            @include font-size(15px);
            color: #939598;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 8px;
          }
          @media screen and (max-width:991px){
            p:first-child {              
              margin-top: 10px;
            }
          }
          .activities-wrapper {
            float: $text-align-left;
            width: 100%;
            padding-top: 4px;
            ul {
              list-style: none;
              li {
                height: 1px;
                float: $text-align-left;
                width: 100%;
                position: $pos-relative;
                padding-left: 0;
                dd {
                  float: $text-align-left;
                  padding: 2px 15px 2px 60px;
                  height: 37px;
                  text-align: $text-align-center;
                  line-height: 32px;
                  @include font-size(18px);
                  font-weight: 600;
                  color: #ffffff;
                  position: $pos-relative;
                  top: -17px;
                  left: 0;
                  background: #f6f7f8;
                  border: 1px solid #000;
                }
                dd:before {
                  position: $pos-absolute;
                  border-radius: inherit;
                  width: 47px;
                  height: 37px;
                  top: -1px;
                  left: -1px;
                  display: block;
                  border: 1px solid #cfd0d2;
                  border-right: 0;
                  content: "";
                  background: #f6f7f8 url(#{$img-base-url}sprite-img.png)
                    no-repeat 8px -87px;
                  z-index: 999;
                }
              }
            }
          }
        }
        li:before {
          width: 23px;
          height: 23px;
          content: "";
          top: 0;
          left: 21px;
          position: $pos-absolute;
          z-index: 9;
          border-radius: 50%;
        }
        li.color1:before {
          border: 5px solid #00aeef;
          background-color: #00aeef;
        }
        li.color2:before {
          border: 5px solid #00a651;
        }
        li.color3:before {
          border: 5px solid #ed1c24;
        }
        li.color4:before {
          border: 5px solid #806c64;
        }
        li.color5:before {
          border: 5px solid #2e3192;
        }
        li.color6:before {
          border: 5px solid #f58220;
        }
        li.closedStatus:before {
          border: 5px solid #d5d6d6;
        }
        li:after {
          display: none;
        }
        li.color1 {
          .activities-wrapper {
            ul {
              li {
                background: #00aeef;
                dd {
                  border: 1px solid #00aeef;
                  background: #00aeef;
                }
              }
              li:before {
                border: 1px solid #00aeef;
              }
            }
          }
        }
        li.color2 {
          .activities-wrapper {
            ul {
              li {
                background: #00a651;
                dd {
                  border: 1px solid #00a651;
                  background: #00a651;
                }
              }
              li:before {
                border: 1px solid #00a651;
              }
            }
          }
        }
        li.color3 {
          .activities-wrapper {
            ul {
              li {
                background: #ed1c24;
                dd {
                  border: 1px solid #ed1c24;
                  background: #ed1c24;
                }
              }
              li:before {
                border: 1px solid #ed1c24;
              }
            }
          }
        }
        li.color4 {
          .activities-wrapper {
            ul {
              li {
                background: #806c64;
                dd {
                  border: 1px solid #806c64;
                  background: #806c64;
                }
              }
              li:before {
                border: 1px solid #806c64;
              }
            }
          }
        }
        li.color5 {
          .activities-wrapper {
            ul {
              li {
                background: #2e3192;
                dd {
                  border: 1px solid #2e3192;
                  background: #2e3192;
                }
              }
              li:before {
                border: 1px solid #2e3192;
              }
            }
          }
        }
        li.color6 {
          .activities-wrapper {
            ul {
              li {
                background: #f58220;
                dd {
                  border: 1px solid #f58220;
                  background: #f58220;
                }
              }
              li:before {
                border: 1px solid #f58220;
              }
            }
          }
        }
        li.closedStatus {
          .activities-wrapper {
            ul {
              li {
                background: #d5d6d6;
                dd {
                  border: 1px solid #d5d6d6;
                  background: #d5d6d6;
                  color: #727373;
                  cursor: pointer;
                }
              }
              li:before {
                border: 1px solid #d5d6d6;
              }
            }
          }
        }
        &:after {
          content: "";
          width: 5px;
          background: #e6e8e8;
          height: calc(100% - 50px);
          position: absolute;
          left: 30px;
          top: 28px;
        }
      }
      
    }
  }
}
