.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;
    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0 0 10px 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
      &:before,
      &:after {
        display: none;
      }
    }
    /*  .form-group {
      margin-bottom: 15px !important;
    } */
  }
  .form-control {
    border-radius: 0;
  }
  .dashboardCtrl {
    .ctrl-wrapper {
      float: initial;
      width: 100%;
      padding: 15px 0 0;
      display: flex;
      flex-wrap: wrap;
      .form-group {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
      }
      @media screen and (max-width: 568px) {
        .form-group {
          width: 100%;
        }
      }
    }
    .btn-ctrl {
      margin-left: 0;
      margin-right: 0;
      float: right;
    }
    @media screen and (max-width: 991px) {
      .btn-ctrl {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}
