.bookSlot {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.78);
  z-index: 99991;
}
.bookSlotbg {
  width: 690px;
  height: 464px;
  margin-left: -345px;
  left: 50%;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
  top: 50%;
  margin-top: -232px;
  position: fixed;
  border-radius: 6px;
  z-index: 99991;
  .popup-header {
    position: relative;
    .popup-title {
      text-align: center;
      line-height: 28px;
      color: #000;
      font-weight: 500;
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 0;
      i {
        font-style: normal;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    @media screen and (max-width: 736px) {
      .popup-title {
        padding: 6px 30px 0;
        line-height: 24px;
        font-size: 17px;
      }
    }
    @media screen and (max-width: 380px) {
      .popup-title {
        padding: 6px 30px 0 15px;
        text-align: left;
      }
    }
    @media screen and (max-width: 360px) {
      .popup-title {
        font-size: 14px;
      }
    }
    .close,
    .close:focus,
    .close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;
      padding: 0;
      outline: 0;
      font-size: 45px;
      font-weight: 200;
      position: absolute;
      right: 7px;
      top: -11px;
      height: 35px;
      width: 35px;
      margin: 0;
      text-align: center;
      line-height: 6px;
      background: transparent;
      border: 0;
      i {
        position: relative;
        font-style: normal;
      }
    }
    .close:hover {
      color: #fdb701;
      opacity: 1;
    }
  }
  .popup-body {
    padding: 0;
    float: left;
    height: auto;
    width: 100%;
    .contentArea {
      background: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      height: 388px;
      width: auto;
      padding: 0 15px 15px;
      position: relative;
      top: 0;
      .col-md-4 {
        padding-right: 0;
      }
      .col-md-4:last-child {
        padding-right: 15px;
      }

      @media screen and (max-width: 507px) {
        .col-md-4:last-child {
          padding-right: 15px;
        }
      }
      .ctrl-wrapper {
        padding: 15px 0 0;
        .form-group {
          position: relative;
          input,
          select,
          textarea {
            padding-left: 30px;
            border: 1px solid #ccc;
          }
          .icon {
            position: absolute;
            top: 10px;
            left: 10px;
          }
          dd.error,
          span.error {
            position: absolute;
            right: 0;
            color: #e5260e;
            font-size: 12px;
            top: 43px;
            background-color: #ffffff;
            padding: 10px;
            width: auto;
            height: 36px;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            z-index: 1;
            &:after {
              content: "";
              position: absolute;
              top: -9px;
              left: 50%;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #fff;
              margin-left: -5px;
              border-top: 0;
            }
          }
          @media screen and (max-width: 667px) {
            dd.error,
            span.error {
              height: 100%;
              display: inline-table;
            }
          }
        }
        .form-group.textAreaCrtl {
          margin-top: 15px;
          margin-bottom: 15px;
          z-index: 1;
          textarea {
            resize: none;
            height: 70px;
          }
        }
        .form-group.textAreaCrtl.bookSlot {
          margin-top: 15px;
          margin-bottom: 15px;
          z-index: 1;
          textarea {
            resize: none;
            height: 70px;
          }
          dd.error,
          span.error {
            top: 83px;
            height: 36px;
            left: 0;
            right: inherit;
          }
        }
        .form-group.preferred-language {
          position: relative;
          margin-top: 15px;
          float: left;
          width: 100%;
          dd.error,
          span.error {
            left: 7px;
            width: 226px;
            bottom: -42px;
            height: 36px;
            -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            top: inherit;
            z-index: 2;
            &:after {
              top: -19px;
              left: 5px;
              margin-top: -10px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid #fff;
              border-right: 10px solid transparent;
              margin: 0;
            }
          }
          label {
            position: relative;
            padding-left: 0;
            margin-right: 15px;
            width: auto;
            display: inline-block;
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 14px;
            input {
              position: relative;
              top: 2px;
              margin-right: 6px;
            }
          }
          @media screen and (max-width: 682px) {
            label {
              width: auto;
            }
          }
        }
      }
      .bookSlotBtn {
        width: auto;
        margin: 0 auto;
        display: block;
        background: transparent;
        border: 1px solid $bg-color-yellow;
        cursor: pointer;
        color: $t-color-black;
        @include font-size(16px);
        transition: all 0.3s;
        font-weight: $font-weight-400;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        @include border-radius(30px);
        height: 42px;
        line-height: 37px;
        &:hover {
          background: $bg-color-yellow;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
      @media screen and (max-width: 667px) {
        .bookSlotBtn {
          float: right;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .col-md-12 {
        width: 100%;
      }
      .col-md-4 {
        width: 33.33333%;
        float: left;
      }
    }
    @media screen and (max-width: 736px) {
      .col-md-4 {
        width: 33.3%;
        float: left;
        padding-right: 0;
      }
    }
    @media screen and (max-width: 507px) {
      .col-md-4 {
        width: 100%;
        float: left;
      }
      .col-md-4:first-child,
      .col-md-4:nth-child(2),
      .col-md-4:last-child {
        padding-right: 15px;
      }
    }
  }
  .popup-footer {
    display: none;
  }
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
  }
  .posdate {
    .react-datepicker-wrapper {
      width: 100%;
      .react-datepicker__input-container {
        width: 100%;
      }
    }
    .react-datepicker-popper {
      top: 36px !important;
      left: 0px;
      width: 100%;
      transform: initial !important;
      z-index: 3;
      .react-datepicker {
        width: 100%;
        .react-datepicker__month-container {
          width: 100%;
        }
      }
    }
    .react-datepicker__current-month,
    .react-datepicker-time__header {
      font-size: 1.5rem;
      margin-top: -5px;
    }
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      width: 18px;
      line-height: 18px;
      margin: 5px;
      padding: 0;
      text-align: center;
    }
    .react-datepicker {
      font-size: 1.2rem;
    }
    .react-datepicker__day-name {
      font-size: 1.3rem;
      width: 19px;
      line-height: 19px;
    }
    .react-datepicker__day {
      font-size: 1.3rem;
    }
    .react-datepicker__time-name {
      font-size: 1.1rem;
    }
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range {
      border-radius: 0.4rem;
      background-color: #ebb800;
    }
    .react-datepicker__navigation--next {
      right: 10px;
      border-left-color: #ccc;
    }
    .react-datepicker__day {
      border-radius: 0.3rem;
      background-color: #fff;
      border: 1px solid #fff;
    }
    .react-datepicker__day:hover {
      border-radius: 0.3rem;
      background-color: #f0f0f0;
      border: 1px solid #fdcb4c;
    }
    .react-datepicker__day--selected {
      border-radius: 0.3rem;
      background-color: #fdcb4c;
      border: 1px solid #fdcb4c;
      color: #000;
    }
    .react-datepicker__day--keyboard-selected {
      color: #000 !important;
    }
  }
}
.form-group.textAreaCrtl.bookSlot {
  dd.error,
  span.error,
  dd.error,
  span.error1 {
    bottom: 132px;
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      bottom: 0;
      border-top: 0;
    }
  }
}

/* Device Orientations */

/* landscape */
@media only screen and (min-width: 480px) and (max-width: 853px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 690px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 598px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 313px) and (max-width: 786px) and (orientation: landscape) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    height: 270px;
    margin-top: -135px;
    .popup-body {
      .contentArea {
        height: 208px;
      }
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
        i {
          width: auto;
        }
        i:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}

/* portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .bookSlotbg {
    position: fixed;
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: 50%;
    margin-top: -225px;
    height: 450px;
    .popup-body .contentArea {
      height: 373px;
    }
    .popup-header {
      .popup-title {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
