.cropImg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.78);
  z-index: 99991;
  .cropImgbg {
    width: 80%;
    height: 80%;
    left: 10%;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    top: 10%;
    position: absolute;
    border-radius: 6px;
    .popup-header {
      position: relative;
      .close {
        top: 0px;
        font-weight: 300;
        position: absolute;
        background: #fff;
        color: #000;
        right: 7px;
        opacity: 1;
        width: 38px;
        height: 36px;
        text-align: center;
        font-size: 48px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
        border: 0;
        line-height: 24px;
      }
      .popup-title {
        text-align: center;
        line-height: 2;
        color: #000;
        font-weight: 500;
        font-size: 22px;
        margin: 0;
      }
    }
    .popup-body {
      padding: 0;
      float: left;
      height: 500px;
      width: 100%;
      .cropArea {
        background: #e4e4e4;
        overflow: hidden;
        height: auto;
        width: auto;
        .img-crop {
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          overflow: hidden;
        }
      }
      .updatePicBtn {
        width: auto;
        margin: 0 auto;
        display: block;
        background: transparent;
        border: 1px solid $bg-color-yellow;
        cursor: pointer;
        color: $t-color-black;
        @include font-size(16px);
        transition: all 0.3s;
        font-weight: $font-weight-400;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        @include border-radius(30px);
        height: 42px;
        line-height: 34px;
        position: relative;
        top: 6px;
        &:hover {
          background: $bg-color-yellow;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
    }
    .popup-footer {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .cropImgbg {
      width: 96%;
      margin-left: -48%;
      left: 50%;
    }
  }
}
