.cscdownload {
  min-height: 300px;
  text-align: center;
  p {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding: 20px 15px;
  }
  .btn {
    font-size: 16px;
    font-weight: bold;
  }
  ul.pdfDocDownloadList {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      margin: 0 0 15px;
      padding: 0;
      width: auto;
      font-size: 16px;
      color: #b60808;
      font-weight: 400;
      text-align: left;
      clear: left;
      background: #fff;
      border-radius: 6px;
      height: auto;
      -webkit-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      a {
        text-decoration: none;
        padding: 4px 15px 4px 40px;
        float: left;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        &:hover {
          text-decoration: none;
        }
      }
      a.pdf {
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/pdfImg.jpg)
          no-repeat 0 0;
        color: #b60808;
      }
      a.doc {
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/word.jpg)
          no-repeat 0 0;
        color: #043882;
      }
      @media screen and (max-width: 610px) {
        a {
          background-position: 6px 50%;
          background-size: 22px;
        }
      }
      &:hover {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }
    @media screen and (max-width: 610px) {
      li {
        width: 100%;
      }
    }
  }
}

.tnc {
  font-size: 14px;
}

.bg {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.msgNotification {
  color: #ff0000;
  font-size: 14px;
}
