.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;

  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;

    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;

      &:before,
      &:after {
        display: block;
      }
    }

    p.fileExtn {
      font-size: 14px;
      text-align: left;
      float: left;
      width: 100%;
      padding: 7px 15px;
      margin-bottom: 0;
      background: rgba(204, 204, 204, 0.2);
    }
  }

  .ctrl-wrapper.widget-border.paddingBottom {
    padding-bottom: 0;
  }

  .ctrl-wrapper {
    .row {
      .file-upload-wrapper {
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        top: 0;

        .file-wrapper {
          float: $text-align-left;
          width: 100%;
          height: auto;

          .form-group {
            label[htmlFor="docFile"] {
              position: absolute !important;

              dd.error,
              span.error {
                position: absolute;
                right: -46px;
                color: #e5260e;
                font-size: 12px;
                top: -50px;
                background-color: #ffffff;
                padding: 5px 10px;
                width: 200px;
                border-radius: 5px;
                -webkit-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
                box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
                z-index: 9;
                height: 40px;
                line-height: 15px;
                left: inherit;
              }
            }

            dd.error,
            span.error {
              position: absolute;
              left: 0;
              color: #e5260e;
              font-size: 12px;
              top: -50px;
              background-color: #ffffff;
              padding: 5px 10px;
              width: 200px;
              border-radius: 5px;
              -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              z-index: 9;
              height: 40px;
              line-height: 15px;
            }
          }

          select {
            width: 100%;
            float: left;
            margin-right: 15px;
          }

          .selectWrapper {
            width: 48%;
            float: left;
          }

          @media screen and (max-width: 441px) {
            .selectWrapper {
              width: 100%;
            }
          }

          .selectWrapper:nth-child(2) {
            margin-right: 0;
          }

          label {
            float: $text-align-left;
            @include font-size(15px);
            color: #88898c;
            top: 0;
            z-index: 2;
            position: $pos-relative;
            float: right;
            width: 100px;
            padding-left: 0;
            height: 32px;
            margin-bottom: 0;

            dd {
              display: inline-block;
              position: $pos-relative;
              top: -11px;
            }

            .filename {
              @include font-size(15px);
              color: #1a1a18;
              display: inline-block;
              height: 34px;
              width: 67%;
              border: 1px solid #cecfd1;
              margin-left: 15px;
              margin-right: 15px;
              cursor: pointer;
            }

            .browse-btn {
              display: inline-block;
              border: 1px solid $bg-color-yellow;
              background-color: transparent;
              color: #060c11;
              @include font-size(15px);
              text-transform: uppercase;
              padding: 0;
              border-radius: 15px;
              text-align: $text-align-center;
              height: 32px;
              width: 100px;
              position: $pos-relative;
              top: 0;
              line-height: 31px;
              cursor: pointer;
              transition: all 0.5s ease-in;
              -webkit-transition: all 0.5s ease-in;
              -moz-transition: all 0.5s ease-in;
            }

            .browse-btn:hover {
              background: $bg-color-yellow;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }

          i.yesSign,
          i.noSign {
            font-style: normal;
            width: 29px;
            height: 29px;
            float: $float-R;
            position: $pos-relative;
            top: -48px;
            left: -17px;
          }

          i.yesSign {
            background-position: -342px -1590px;
          }

          i.noSign {
            background-position: -303px -1590px;
            left: -21px;
            top: -48px;
          }

          input[type="file"] {
            width: 100%;
            height: 34px;
            float: $text-align-left;
            opacity: 0;
            position: $pos-relative;
            top: -33px;
            margin: 0;
            padding: 0;
            z-index: 1;
            left: 110px;
            left: 0;
            cursor: pointer;
          }

          .fileName-string {
            display: block;
            width: 270px;
            margin: 0;
            padding: 8px 0 0;
            float: left;
            word-wrap: break-word;
            line-height: inherit;
            width: 202px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .upload-btn {
            display: inline-block;
            border: 1px solid #b36e9d;
            background-color: #b36e9d;
            color: $t-color-white;
            @include font-size(15px);
            text-transform: uppercase;
            padding: 0;
            border-radius: 15px;
            text-align: $text-align-center;
            text-decoration: none;
            height: 32px;
            width: 100px;
            position: $pos-absolute;
            top: 0;
            right: 15px;
            line-height: 31px;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            cursor: pointer;
          }

          .upload-btn:hover {
            background: transparent;
            border: 1px solid #b36e9d;
            text-decoration: $text-decoration-none;
            -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            color: $t-color-black;
          }
        }
      }
    }
  }
}

.tab-border {
  .ctrl-wrapper {
    .col-md-12 {
      .ctrl-wrapper {
        .dataTbl {
          table {
            tbody {
              tr {
                td {
                  &:last-child {
                    p {
                      span {
                        position: relative;
                        z-index: 0;

                        i {
                          position: initial;
                          top: initial;
                          left: initial;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .row {
      .file-upload-wrapper {
        .file-wrapper {
          .form-group {
            display: flex;
            width: 100%;
            padding: 0 15px;

            select {
              width: 100%;
              float: left;
              margin-right: 15px;
              margin-bottom: 0 !important;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: #fff
                url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/select_arrow.png)
                no-repeat 100% center;
              padding-right: 30px;
            }

            @media screen and (max-width: 568px) {
              select {
                margin-bottom: 15px !important;
                margin-right: 0;
              }
            }

            &:after {
              display: none;
            }

            label[for="docFile"] {
              top: 0;
              margin-bottom: 0 !important;
              margin-right: 15px;

              .browse-btn {
                height: 32px;
                top: 0;
              }

              input[type="file"] {
                top: -32px;
                margin-bottom: 0 !important;
                width: 100px;
              }

              /* Validation message */
              span.error {
                right: 0;
                width: 160px;

                &:after {
                  right: 40px;
                  margin-right: initial;
                  left: initial;
                }

                @media screen and (max-width: 568px) {
                  &:after {
                    right: 50%;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                    border-top: 0;
                    margin-right: -10px;
                    top: -6px;
                  }
                }
              }

              @media screen and (max-width: 568px) {
                span.error {
                  width: auto;
                  left: 0;
                  bottom: initial;
                  top: 45px;
                  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
                  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
                }
              }
            }

            .spacer {
              flex: 1;
            }

            .upload-btn {
              position: initial;
              right: 0;
              width: 100px;
              padding: 0 15px;
              cursor: pointer;
              margin-top: 0;
            }

            /* Validation message */
            span.error {
              bottom: 48px;
              width: 120px;
              right: 14px;

              &:after {
                right: 42px;
                margin-right: initial;
                left: initial;
              }

              @media screen and (max-width: 568px) {
                &:after {
                  right: 35px;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 10px solid #fff;
                  border-top: 0;
                  margin-right: 0;
                  top: -6px;
                }
              }
            }

            @media screen and (max-width: 568px) {
              span.error {
                width: auto;
                right: 15px;
                top: initial;
                bottom: -50px;
                -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
                box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
              }
            }
          }

          @media screen and (max-width: 568px) {
            .form-group {
              flex-wrap: wrap;
            }
          }

          .fileName-string {
            display: block;
            width: 100%;
            padding: 15px 15px 0;
            font-size: 14px;

            i {
              font-style: normal;
              font-weight: 600;
              margin-right: 7.5px;
              width: auto;
              float: left;
            }
          }
        }
      }

      &:nth-child(2) {
        .file-upload-wrapper {
          padding-top: 0;

          .form-group {
            .col-md-12 {
              display: flex;
              width: auto;
              position: relative;

              .selectWrapper {
                margin-bottom: 0 !important;
                flex: 1;
                width: auto;
              }

              .error {
                right: 15px;
                bottom: 45px;

                &:after {
                  right: 17px;
                  margin-right: initial;
                  left: initial;
                }
              }
            }

            @media screen and (max-width: 568px) {
              .col-md-12 {
                width: 100%;
              }
            }
          }
        }

        @media screen and (max-width: 568px) {
          .file-upload-wrapper {
            margin-top: 15px;
          }
        }

        .fileExtn {
          padding-top: 0;
          margin-top: 30px;
        }
      }

      @media screen and (max-width: 991px) {
        &:nth-child(2) {
          margin: 15px 0 0;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .btn-ctrl {
        margin-right: 0;
      }
    }
  }

  .btn-ctrl {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 991px) {
    .btn-ctrl {
      margin-right: 15px;
    }
  }
}

.tab-border {
  .documents {
    .ctrl-wrapper.widget-border.newdoclist {
      h6 {
        position: relative;
        font-size: 14px;
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        color: #1a1a18;
        text-transform: uppercase;
        background: #e9ebeb;
        padding: 5px 8px;
        cursor: pointer;
        font-weight: 600;

        &::before {
          position: $pos-absolute;
          content: "\f067";
          top: 0;
          right: 0;
          color: $white-color;
          width: 30px;
          height: 100%;
          background-color: #f0bd00;
          text-align: $text-align-center;
          line-height: 28px;
          @include font-size(12px);
          font-family: FontAwesome;
        }
      }

      h6.open {
        &::before {
          content: "\f068";
        }
      }

      .detail {
        padding: 7px;
        background-color: #ffffff;
        width: 100%;
        position: relative;
        /* float: left; */
        display: flex;
        flex-wrap: wrap;

        button {
          background-color: #f0bd00;
          border: 0;
          outline: 0;
        }

        .ctrl-wrapper.widget-border {
          padding: 5px;
          background: #f6f7f8;
        }
      }
    }
  }
}

.tab-border {
  .ctrl-wrapper {
    .table-responsive {
      table {
        thead {
          tr:first-child {
            th:last-child {
              text-align: center;
            }
          }
        }

        tbody {
          td {
            font-size: 16px;
            padding: 5px 15px;
            text-align: left;
            vertical-align: middle;

            &:last-child {
              text-align: center;

              .msg {
                width: 100%;
                text-align: center;
                display: inline-block;
                word-break: break-all;
              }

              .msg--inCorrect {
                color: #cc0000;
              }

              .msg--correct {
                color: #007e33;
              }

              span {
                display: inline;
              }

              label {
                display: inline-block;
                width: 20px;
                margin: 0 auto;
                height: 21px;
                position: relative;
                cursor: pointer;

                .file-inpt {
                  width: 20px;
                  position: absolute;
                  top: 0;
                  z-index: -1;
                }
              }
            }
          }

          td.actionBtn {
            a {
              cursor: pointer;
              padding: 0;
              color: #000;

              i.fa {
                padding: 5px;
                cursor: pointer;
              }
            }

            article {
              display: inline;
            }
          }
        }
      }
    }
  }
}
