.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  h2,
  h4 {
    position: $pos-relative;
    @include font-size(16px);
    text-align: $text-align-left;
    float: $text-align-left;
    width: 100%;
    margin: 0;
    color: $black-color;
    text-transform: uppercase;
    background: #ccc;
    padding: 10px;
  }
  h5.titleText {
    color: #1a1a18;
    font-size: 20px;
    font-weight: 500;
    float: left;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 0;
  }
  h5.titleText:after {
    width: 45px;
    height: 2px;
    content: "";
    position: absolute;
    top: 30px;
    left: 2px;
    background: #fdb701;
  }
  @media screen and (max-width: 360px) {
    h5.titleText:after {
      display: none;
    }
  }
  .infoTool {
    display: inline;
    position: relative;
    cursor: pointer;
    span {
      position: absolute;
      background: #fdb701;
      width: 360px;
      font-size: 13px;
      text-align: left;
      padding: 8px 15px;
      bottom: 28px;
      letter-spacing: 0.6px;
      border-radius: 5px;
      font-weight: 500;
      left: -56px;
      color: #fff;
      box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.1);
      display: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      .downArrow {
        position: absolute;
        bottom: -8px;
        left: 52px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fdb701;
      }
    }
    @media screen and (max-width: 411px) {
      span {
        width: 268px;
      }
    }
  }

  .infoTool:hover {
    span {
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
  .ctrl-wrapper {
    float: $text-align-left;
    width: 100%;
    padding: 15px 0 0;
    #divDisplayWords {
      float: $text-align-left;
      @include font-size(15px);
      font-weight: 600;
      line-height: 1.2;
      display: none;
    }
    .form-group,
    .form-group.textAreaCrtl {
      /*  margin-bottom: 15px; */
      position: $pos-relative;
      float: $text-align-left;
      width: 100%;
      .input-group.inputWrapper {
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        span.number-verified {
          position: $pos-absolute;
          top: 1px;
          right: 1px;
          width: 40px;
          background-color: #eee;
          border-left: 1px solid #ccc;
          color: #5b9a68;
          z-index: 999;
          display: block;
          height: 32px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          line-height: 32px;
          @include font-size(14px);
          i {
            display: none;
          }
        }
        span.number-verified:before {
          position: $pos-absolute;
          content: "\2713";
          top: 4px;
          right: 6px;
          color: $white-color;
          width: 25px;
          height: 25px;
          background-color: #5b9a68;
          text-align: $text-align-center;
          border-radius: 50%;
          line-height: 25px;
          @include font-size(18px);
          font-family: FontAwesome;
        }
        span.number-not-verified {
          position: $pos-absolute;
          content: "✗";
          top: 1px;
          right: 1px;
          width: auto;
          background-color: #eee;
          border-left: 1px solid #ccc;
          color: $red-color;
          z-index: 999;
          display: block;
          height: 32px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          line-height: 32px;
          @include font-size(14px);
          i {
            display: block;
            padding: 0 10px;
            display: block;
            font-style: normal;
            float: $text-align-left;
            width: 100%;
            color: $red-color;
            text-decoration: underline;
            cursor: pointer;
            @include font-size(12px);
          }
          i:hover {
            text-decoration: none;
          }
          i.overwrite {
            padding: 10px;
            width: 250px;
            color: #1a1a18;
            text-decoration: none;
          }
        }
        input {
          border-radius: 4px;
          padding-left: 50px;
        }
      }
      label {
        float: $text-align-left;
        width: 100%;
      }
      label,
      input,
      textarea,
      select {
        @include font-size(14px);
        margin-bottom: 0;
        color: $black-color;
        font-weight: $font-weight-400;
      }
      select {
        height: 34px;
      }
      input.prepost-input {
        float: $text-align-left;
        width: 99%;
        margin-left: 1px;
        padding-left: 54px;
      }
      input.form-control {
        border: 1px solid #ccc;
      }
      input.prepost-input.prepost-input-padding {
        padding-left: 15px;
      }
      label.blank-ctrl {
        height: 14px;
      }
      textarea {
        resize: none;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
      }
      dd.error,
      span.error {
        position: $pos-absolute;
        right: 0;
        color: $red-color;
        @include font-size(12px);
        bottom: 73px;
        background-color: $white-color;
        padding: 10px;
        width: auto;
        border-radius: 5px;
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      }

      dd.error,
      span.error:after {
        content: "";
        position: $pos-absolute;
        bottom: -6px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        margin-left: -5px;
      }
      .form-control.two-col-ctrl {
        float: $text-align-left;
        width: 47.9%;
      }
      .form-control.two-col-ctrl.first-ele {
        margin-right: 15px;
      }
      .input-group.date {
        width: 100%;
        background: transparent;
        float: left;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        input.form-control {
          width: 100%;
          float: $text-align-left;
          position: relative;
          background: #fff;
          cursor: pointer;
          margin-bottom: 0;
        }
        span.input-group-addon,
        label.input-group-addon {
          position: $pos-absolute;
          top: 1px;
          right: 1px;
          z-index: 1;
          height: 32px;
          margin: 0;
          padding: 0;
          width: 36px;
          text-align: $text-align-center;
          cursor: pointer;
          border-radius: 0;
          background-color: #eee;
          border-left: 1px solid #ccc;
          i.fa.fa-calendar {
            margin-top: 8px;
            margin-left: 2px;
          }
        }
      }
      .input-group.date {
        .react-datepicker-wrapper {
          width: 100%;
          .react-datepicker__input-container {
            width: 100%;
          }
        }
        .react-datepicker-popper {
          top: 36px !important;
          left: 0px;
          width: 100%;
          transform: initial !important;
          .react-datepicker {
            width: 100%;
            .react-datepicker__month-container {
              width: 100%;
              .react-datepicker__header {
                padding-top: 12px;
              }
            }
            .react-datepicker__navigation {
              top: 12px;
              border: 6px solid transparent;
            }

            button.react-datepicker__navigation--previous {
              border-left: 0.45rem solid transparent;
              border-right: 0.45rem solid #ebb800;
              border-top: 0.45rem solid transparent;
            }
            button.react-datepicker__navigation--next {
              border-left: 0.45rem solid #ebb800;
              border-right: 0.45rem solid transparent;
              border-top: 0.45rem solid transparent;
            }
          }
        }
        .react-datepicker__current-month,
        .react-datepicker-time__header {
          font-size: 1.5rem;
          margin-top: -5px;
        }
        .react-datepicker__day-name,
        .react-datepicker__day,
        .react-datepicker__time-name {
          width: 44px;
          line-height: 44px;
          margin: 5px;
        }
        .react-datepicker {
          font-size: 1.2rem;
        }
        .react-datepicker__day-name {
          font-size: 1.5rem;
          width: 44px;
          line-height: 30px;
        }
        .react-datepicker__day {
          font-size: 1.3rem;
        }
        .react-datepicker__time-name {
          font-size: 1.1rem;
        }
        .react-datepicker__day--selected,
        .react-datepicker__day--in-selecting-range,
        .react-datepicker__day--in-range {
          border-radius: 0.4rem;
          background-color: #ebb800;
        }
        .react-datepicker__navigation {
          top: 5px;
          border: 0.85rem solid transparent;
        }
        .react-datepicker__day {
          border-radius: 0.3rem;
          background-color: #fff;
          border: 1px solid #fff;
        }
        .react-datepicker__day:hover {
          border-radius: 0.3rem;
          background-color: #f0f0f0;
          border: 1px solid #fdcb4c;
        }
        .react-datepicker__day--selected {
          border-radius: 0.3rem;
          background-color: #fdcb4c;
          border: 1px solid #fdcb4c;
          color: #000;
        }
      }
    }
    .form-group.textAreaCrtl {
      dd.error,
      span.error {
        bottom: 126px;
      }
    }
    .row {
      .file-upload-wrapper {
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        top: 0;
        .file-wrapper {
          float: $text-align-left;
          width: 100%;
          height: auto;
          .form-group {
            label[htmlFor="docFile"] {
              position: absolute !important;
              dd.error,
              span.error {
                position: absolute;
                right: -46px;
                color: #e5260e;
                font-size: 12px;
                top: -50px;
                background-color: #ffffff;
                padding: 5px 10px;
                width: 200px;
                border-radius: 5px;
                -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                z-index: 9;
                height: 40px;
                line-height: 15px;
              }
              @media screen and (max-width: 830px) {
                dd.error,
                span.error {
                  right: 0 !important;
                  &:after {
                    margin-left: -5px !important;
                  }
                }
              }
              @media screen and (max-width: 768px) {
                dd.error,
                span.error {
                  right: -5px !important;
                  &:after {
                    margin-left: 38px !important;
                  }
                }
              }
            }
            @media screen and (max-width: 768px) {
              label[htmlFor="docFile"] {
                right: 0;
                z-index: 999;
                .browse-btn {
                  background-color: #f0bd00;
                  border-radius: 0;
                  height: 34px;
                }
              }
            }
            select {
              width: 70.3%;
              float: left;
              margin-right: 15px;
            }
            @media screen and (max-width: 830px) {
              select {
                width: 69%;
                margin-bottom: 0 !important;
              }
            }
            @media screen and (max-width: 768px) {
              select {
                width: 100%;
                margin-bottom: 0 !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }
              &:after {
                width: 32px;
                height: 30px;
                content: "";
                position: absolute;
                right: 98px;
                top: 2px;
                background: #fff url(#{$img-base-url}next_arrow.png) no-repeat 13px center;
                transform: rotate(90deg);
                background-size: 20%;
              }
            }
          }
          .selectWrapper {
            width: 48%;
            float: left;
          }
          .selectWrapper:nth-child(2) {
            margin-right: 0;
          }
          label {
            float: $text-align-left;
            @include font-size(15px);
            color: #88898c;
            top: 0;
            z-index: 2;
            position: $pos-relative;
            float: right;
            width: 100px;
            padding-left: 0;
            height: 32px;
            margin-bottom: 0;
            dd {
              display: inline-block;
              position: $pos-relative;
              top: -11px;
            }
            .filename {
              @include font-size(15px);
              color: #1a1a18;
              display: inline-block;
              height: 34px;
              width: 67%;
              border: 1px solid #cecfd1;
              margin-left: 15px;
              margin-right: 15px;
              cursor: pointer;
            }
            .browse-btn {
              display: inline-block;
              border: 1px solid $bg-color-yellow;
              background-color: transparent;
              color: #060c11;
              @include font-size(15px);
              text-transform: uppercase;
              padding: 0;
              border-radius: 15px;
              text-align: $text-align-center;
              height: 32px;
              width: 100px;
              position: $pos-relative;
              top: 0;
              line-height: 31px;
              cursor: pointer;
              transition: all 0.5s ease-in;
              -webkit-transition: all 0.5s ease-in;
              -moz-transition: all 0.5s ease-in;
            }
            .browse-btn:hover {
              background: $bg-color-yellow;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }
          i.yesSign,
          i.noSign {
            font-style: normal;
            width: 29px;
            height: 29px;
            float: $float-R;
            position: $pos-relative;
            top: -48px;
            left: -17px;
          }
          i.yesSign {
            background-position: -342px -1590px;
          }
          i.noSign {
            background-position: -303px -1590px;
            left: -21px;
            top: -48px;
          }
          input[type="file"] {
            width: 76%;
            height: 36px;
            float: $text-align-left;
            opacity: 0;
            position: $pos-relative;
            top: -39px;
            margin: 0;
            padding: 0;
            z-index: 1;
            left: 110px;
            left: 0;
          }
          .fileName-string {
            display: block;
            width: 270px;
            margin: 0;
            padding: 8px 0 0;
            float: left;
            word-wrap: break-word;
            line-height: 16px;
          }
          @media screen and (max-width: 830px) {
            .col-md-5 {
              .fileName-string {
                width: auto;
                height: 30px;
              }
            }
          }
          @media screen and (max-width: 768px) {
            .col-md-5 {
              float: left;
              width: 100%;
              .fileName-string {
                width: 73%;
                height: 30px;
                margin: 8px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .upload-btn {
            display: inline-block;
            border: 1px solid #b36e9d;
            background-color: #b36e9d;
            color: $t-color-white;
            @include font-size(15px);
            text-transform: uppercase;
            padding: 0;
            border-radius: 15px;
            text-align: $text-align-center;
            text-decoration: none;
            height: 32px;
            width: 100px;
            position: $pos-absolute;
            top: 0;
            right: 15px;
            line-height: 31px;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            &:hover {
              background: transparent;
              border: 1px solid #b36e9d;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }
          @media screen and (max-width: 768px) {
            .upload-btn {
              cursor: pointer;
              color: #fff;
              margin-top: 10px;
              &:hover {
                background-color: #b36e9d;
              }
            }
          }
        }
      }
    }
    .form-group.radioBtn {
      margin-bottom: 0;
      ul {
        float: $text-align-left;
        margin-right: 10px;
        li {
          float: $text-align-left;
          color: $black-color;
          @include font-size(15px);
          font-weight: $font-weight-400;
          label {
            color: $black-color;
            @include font-size(15px);
            font-weight: $font-weight-400;
            float: $text-align-left;
            position: $pos-relative;
            top: inherit;
            left: inherit;
            height: auto;
            line-height: initial;
            width: 100%;
            pointer-events: auto;
            padding-left: 6px;
            dd.chkbox,
            dd.radiobtn {
              width: 14px;
              height: 14px;
              border: 1px solid #606062;
              background-color: #e6e8e8;
              position: $pos-absolute;
              top: 2px;
              left: -1px;
              z-index: 999;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
            }
            dd.radiobtn,
            dd.radiobtn.active {
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
            dd.chkbox.active,
            dd.radiobtn.active {
              border: 1px solid $bg-color-yellow;
              background: $bg-color-yellow;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
            }
            dd.chkbox.active:before,
            dd.radiobtn.active:before {
              position: $pos-absolute;
              left: 0;
              top: 0;
              content: "\2713";
              color: $white-color;
            }
            input {
              width: 16px;
              height: 16px;
              display: inline-block;
              border: 1px solid #999;
              position: $pos-relative;
              top: 2px;
              margin-right: 10px;
              padding: 0;
              margin-top: 0;
              opacity: 0;
              left: -8px;
            }
          }
          label.program-partner,
          label.program-partner-ngo,
          label.program-partner-kv {
            width: auto;
            clear: none;
            position: $pos-relative;
            top: -8px;
            left: 10px;
            padding-left: 0;
            margin-right: 0;
            select {
              float: $text-align-left;
              width: 164px;
              padding: 0 0 0 4px;
            }
          }
          label.program-partner,
          label.program-partner-ngo,
          label.program-partner-kv {
            display: none;
          }
          label.program-partner-ngo,
          label.program-partner-kv {
            select,
            input[name="ngo-other"],
            input[name="kendra-vidyalaya"] {
              float: $text-align-left;
              width: 200px;
            }
            input[name="ngo-other"],
            input[name="kendra-vidyalaya"] {
              background-color: $white-color;
              border: 1px solid #ccc;
              height: 35px;
              padding: 6px 12px;
              opacity: 1;
              top: 0px;
              margin-left: 0;
              left: 0;
            }
          }
          label.program-partner-kv {
            width: 270px;
            input[name="kendra-vidyalaya"] {
              width: 100%;
            }
          }
        }
        li:before {
          display: none;
        }
        li:first-child {
          width: 17px;
          height: auto;
          label {
            width: 100%;
            height: 14px;
            float: $text-align-left;
          }
        }
        li:nth-child(2) {
          height: auto;
          padding-left: 6px;
          display: table;
          span {
            float: $text-align-left;
          }
          .ppopt {
            float: $text-align-left;
            label {
              float: $text-align-left;
              width: auto;
              margin: 0 10px 0 0;
            }
            label.label.program-partner-kv {
              top: inherit;
              left: inherit;
            }
          }
        }
      }
    }
  }
  .accordiantable {
    background-color: #ebb800;
    padding: 6px 11px;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    .row {
      margin-top: 0;
    }
  }
  .ctrl-wrapper.controlWidth {
    padding: 0;
    .form-group {
      width: 100%;
      label {
        float: left;
        width: 100%;
        margin-right: 15px;
      }
      label + label {
        float: left;
        width: auto;
        input[type="radio"] {
          width: 15px;
          height: 15px;
          display: inline-block;
          position: relative;
          top: 2px;
          padding: 0;
          margin-top: 0;
          opacity: 1;
          left: 0;
          border: 0;
          background: transparent;
          box-shadow: none;
          margin-right: 8px;
        }
      }
    }
  }
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    background: #fafafa;
    margin-bottom: 15px;
    h4,
    h5 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
    }
    h4 {
      margin-bottom: 15px;
    }
    .noBg {
      background: transparent;
      font-weight: 600;
      padding-left: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .underLine {
      position: relative;
      &:after {
        width: 45px;
        height: 2px;
        content: "";
        position: absolute;
        top: 30px;
        left: 16px;
        background: #fdb701;
        display: block;
      }
      @media screen and (max-width: 360px) {
        &:after {
          display: none;
        }
      }
    }

    h4:after,
    h5:after {
      width: 45px;
      height: 2px;
      content: "";
      position: absolute;
      top: 30px;
      left: 16px;
      background: #fdb701;
    }
    .wrapperPadding {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
      float: left;
      .borderaccord {
        border: 1px solid #ebb800;
        height: auto;
        overflow: auto;
        padding: 30px 0 15px;
        h4 {
          background-color: #ebb800;
          padding: 10px;
          color: #fff;
          font-size: 16px;
          text-align: left;
          font-weight: 700;
          margin-top: 0;
          text-transform: capitalize;
          margin-bottom: 15px;
          position: relative;
          &:after {
            width: 45px;
            height: 2px;
            content: "";
            position: absolute;
            top: 30px;
            left: 16px;
            background: #fdb701;
          }
        }
        .row {
          margin: 0;
        }
      }
    }
    p {
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      padding: 15px 15px 0;
      margin-bottom: 0;
    }
    .dataTbl {
      .table {
        td {
          p {
            padding: 0 15px;
          }
        }
      }
    }
    .ctrl-wrapper {
      .table > tbody > tr > td,
      .table > tbody > tr > th,
      .table > tfoot > tr > td,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > thead > tr > th {
        vertical-align: middle;
      }
      .table > tbody > tr > td:nth-child(3),
      .table > tbody > tr > td:nth-child(4) {
        p {
          text-align: center;
          padding: 0 15px;
        }
      }
      .form-group.interest {
        label {
          position: $pos-relative;
          padding-left: 25px;
          width: auto;
          clear: left;
          input {
            position: $pos-absolute;
            left: 1px;
            width: 14px;
            margin: 0;
            height: 15px;
            top: 2px;
            opacity: 0;
          }
          input + dd.chkbox {
            background: #fff;
            width: 16px;
            height: 16px;
            border: 1px solid $bg-color-yellow;
            position: $pos-absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            display: inline-block;
          }
          input:checked + dd.chkbox {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          input:checked + dd.chkbox:before {
            position: $pos-absolute;
            left: 2px;
            top: -4px;
            content: "\2713";
            color: $white-color;
          }
        }
      }
      .form-group.optionRadio {
        span {
          float: left;
          width: auto;
          margin-right: 15px;
        }
        span.topM {
          margin-top: 25px;
        }
        .ctrlOpt {
          float: left;
          width: auto;
          label {
            position: $pos-relative;
            padding-left: 9px;
            width: auto;
            margin-right: 15px;
            margin-bottom: 0;
            cursor: pointer;
            input {
              position: $pos-relative;
              left: -13px;
              width: 14px;
              margin: 0;
              height: 15px;
              top: 1px;
              opacity: 0;
              z-index: 9991;
            }
            input + dd.radio {
              background: #fff;
              width: 16px;
              height: 16px;
              border: 1px solid $bg-color-yellow;
              position: $pos-absolute;
              top: 2px;
              left: 0;
              z-index: 999;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              display: inline-block;
              border-radius: 50%;
              margin: 0;
              cursor: pointer;
            }
            input:checked + dd.radio {
              border: 1px solid $bg-color-yellow;
              background: $bg-color-yellow;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              cursor: default;
            }
            input:checked + dd.radio:before {
              position: $pos-absolute;
              left: 2px;
              top: -4px;
              content: "\2713";
              color: $white-color;
              cursor: default;
            }
            input + dd.radio:before {
              cursor: pointer;
            }
          }
        }
      }
    }
    .ctrl-wrapper.widthAuto {
      width: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 0;
      .form-group {
        margin-bottom: 0;
      }
    }
    .ctrl-wrapper.widthAuto.topM {
      margin-top: 20px;
    }
    .btn-ctrl.btnPosition {
      width: auto;
      float: right;
      margin-top: 18px;
    }
    .btn-ctrl.btnPosition.topM {
      margin-top: 0;
    }
    /* Start Education Steps Form */
    label {
      font-size: 15px;
      font-weight: 400;
    }
    .form-group.genderOpt {
      margin-bottom: 0;
      padding-top: 8px;
      margin-bottom: 15px;
      ul {
        float: left;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          height: 25px;
          float: left;
          font-size: 14px;
          margin-right: 16px;
          label {
            width: 100%;
            height: 14px;
            float: left;
            position: relative;
            text-align: left;
            margin-bottom: 0;
            left: 20px;
            top: -23px;
            font-size: 14px;
            font-weight: 400;
          }
          input[type="radio"] {
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            top: -1px;
            padding: 0;
            margin-top: 0;
            opacity: 1;
            left: 0;
            border: 0;
            background: transparent;
            box-shadow: none;
          }
        }
      }
    }
    .form-group.genderradio {
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 8px;
      margin-bottom: 0px;
      ul {
        float: left;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        height: auto;
        li {
          height: auto;
          float: left;
          font-size: 15px;
          margin-right: 0;
          margin-bottom: 6px;
          padding-top: 0;
          label {
            float: left;
            position: relative;
            text-align: left;
            left: 17px;
            top: -16px;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
          input[type="checkbox"] {
            position: relative;
            left: -5px;
            top: 0;
            width: 25px;
            box-shadow: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            float: left;
          }
        }
        li.ngCtrl {
          input {
            float: left;
            width: 198px;
            margin-right: 15px;
            margin-top: -15px;
            height: 36px;
            font-size: 14px;
            font-weight: 400;
            padding-left: 5px;
            padding-right: 5px;
          }
          input:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
    .form-group.optionRadio {
      span {
        float: left;
        width: auto;
        margin-right: 15px;
      }
      .ctrlOpt {
        float: left;
        width: auto;
        label {
          position: $pos-relative;
          padding-left: 5px;
          width: auto;
          margin-right: 15px;
          margin-bottom: 0;
          cursor: pointer;
          input {
            position: $pos-relative;
            left: -13px;
            width: 14px;
            margin: 0;
            height: 15px;
            top: 1px;
            opacity: 0;
            z-index: 9991;
          }
          input + dd.radio {
            background: #fff;
            width: 16px;
            height: 16px;
            border: 1px solid $bg-color-yellow;
            position: $pos-absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            display: inline-block;
            border-radius: 50%;
            margin: 0;
            cursor: pointer;
          }
          input:checked + dd.radio {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            cursor: default;
          }
          input:checked + dd.radio:before {
            position: $pos-absolute;
            left: 2px;
            top: -4px;
            content: "\2713";
            color: $white-color;
            cursor: default;
          }
          input + dd.radio:before {
            cursor: pointer;
          }
        }
      }
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: initial;
      left: 5px;
      top: 8px;
      width: 25px;
      box-shadow: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      float: left;
    }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      display: none;
    }
    input[type="radio"] + dd {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      border: 1px solid #606062;
      background: #fff;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      position: absolute;
      top: 7px;
    }
    input[type="radio"]:checked + dd {
      border: 1px solid #606062;
      background: #000;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }
    .row {
      margin: 15px 0 0;
      float: left;
      width: 100%;
      .pClass {
        margin-top: 15px;
        label {
          margin-right: 15px;
          float: left;
          line-height: 37px;
        }
        .form-group {
          width: auto;
          float: left;
          select {
            width: 200px;
          }
        }
      }
      .form-group {
        margin-bottom: 0;
        input,
        select {
          font-size: 14px;
          font-weight: 400;
        }
        input#percentage,
        input#cgpa {
          float: left;
          width: 100%;
        }
        input#percentage {
          margin-right: 15px;
        }
      }
      .form-group.genderOpt {
        margin-bottom: 15px;
      }
    }
    .row.notopMargin {
      margin-top: 0;
    }
    .row.row.mTop {
      margin-top: 15px;
    }
    .accordionWrapper {
      float: left;
      padding: 0 15px;
      width: 100%;
      .marginpadding {
        padding: 0;
        margin-top: -40px;
      }
      .margintop20 {
        margin-top: 20px;
      }
      h4 {
        font-size: 16px;
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        background: transparent;
        text-transform: capitalize;
        padding: 10px 15px;
        margin-bottom: 15px;
        position: relative;
        label,
        .form-group {
          float: left;
        }
        .form-group {
          width: auto;
          margin: 0;
          padding: 0;
          select {
            width: 200px;
            margin: 0;
          }
        }
        label {
          line-height: 39px;
          margin-right: 15px;
        }
        &:after {
          width: 45px;
          height: 2px;
          content: "";
          position: absolute;
          top: 30px;
          left: 16px;
          background: #fdb701;
        }
      }

      .accordionTable {
        float: left;
        margin-bottom: 15px;
        width: 100%;
        h5 {
          text-align: left;
          background-color: #ebb800;
          color: #1a1a18;
          height: 40px;
          line-height: 40px;
          padding: 0 15px;
          width: 100%;
          cursor: pointer;
          font-size: 15px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
          margin: 0;
          font-weight: 600;
          i.fa {
            float: right;
            top: 13px;
            position: relative;
            font-weight: 200;
            font-size: 15px;
          }
        }
        .accordionTableCell {
          background: rgba(233, 235, 235, 0.4);
          float: left;
          padding-bottom: 15px;
          display: none;
        }
      }
    }
    /* End */
    .col-md-12 {
      float: left;
      width: 100%;
    }
    .borderaccord {
      border: 1px solid #ebb800;
      height: auto;
      overflow: auto;
      padding: 30px 0 15px;
      h4 {
        font-size: 16px;
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        background: transparent;
        text-transform: capitalize;
        padding: 10px 15px;
        margin-bottom: 15px;
        position: relative;
      }
      .underLine {
        position: relative;
        &:after {
          width: 45px;
          height: 2px;
          content: "";
          position: absolute;
          top: 30px;
          left: 16px;
          background: #fdb701;
          display: block;
        }
        @media screen and (max-width: 360px) {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .ctrl-wrapper.widget-border.boxPadding {
    padding: 15px 0 !important;
  }
  .secBg {
    float: left;
    margin-top: 2px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(229, 229, 229, 0.3);
  }
  .secBg:last-child {
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
  }
  .bottomMargin {
    margin-bottom: 10px;
  }
  .widget-margin-bottom {
    margin-bottom: 15px;
  }
  #document-ref {
    .ctrl-wrapper {
      .form-group {
        label {
          position: relative;
          dd.chkbox {
            background: #fff;
            width: 14px;
            height: 14px;
            border: 1px solid $bg-color-yellow;
            position: absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          dd.chkbox.active {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          dd.chkbox.active:before {
            position: $pos-absolute;
            left: 0;
            top: 0;
            content: "\2713";
            color: $white-color;
          }
          input {
            width: 100px;
            height: 32px;
            display: inline-block;
            border: 1px solid #999;
            position: $pos-absolute;
            top: 0;
            padding: 0;
            margin-top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
          }
        }
      }
    }
  }
  .ctrl-wrapper.marginTopCtrl {
    margin-top: -24px;
    h4 {
      font-weight: $font-weight-400;
      color: $black-color;
    }
  }
  .btn-ctrl {
    float: $text-align-right;
    width: 100%;
    padding: 0;
    dd.error,
    span.error {
      color: $red-color;
      @include font-size(14px);
      font-weight: $font-weight-400;
      text-align: $text-align-center;
      /*height: 34px;*/
      width: auto;
      float: $float-L;
      padding: 11px 0;
      margin-right: 10px;
      display: block !important;
    }
    button {
      margin: 0;
      width: auto;
      background: transparent;
      border: 1px solid $bg-color-yellow;
      cursor: pointer;
      color: $t-color-black;
      @include font-size(16px);
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
      font-weight: $font-weight-400;
      padding-left: 25px;
      padding-right: 25px;
      transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      @include border-radius(30px);
      height: initial;
      line-height: initial;
    }
    button:hover {
      background: $bg-color-yellow;
      text-decoration: $text-decoration-none;
      -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      color: $t-color-black;
    }
    button:first-child {
      float: $text-align-left;
      margin-left: 0;
      margin-right: 0;
    }
    button:last-child {
      float: $float-R;
    }
    button.closeBtn {
      margin-left: 15px;
    }
  }
  .col-md-12 {
    float: left;
  }
}
.my-scholarship-wrapper {
  h1,
  h4 {
    color: $black-color;
    @include font-size(18px);
    font-weight: $font-weight-600;
    height: auto;
    float: $text-align-left;
    width: 100%;
    padding-left: 57px;
    padding-top: 19px;
    position: $pos-relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: -7px;
    background: transparent;
  }
  h1:before,
  h4:before {
    content: "";
    top: 17px;
    width: 25px;
    height: 25px;
    left: 19px;
    position: $pos-absolute;
  }
  h1:after,
  h4:after {
    width: 45px;
    height: 2px;
    content: "";
    position: $pos-absolute;
    top: 46px;
    left: 57px;
    background: $bg-color-yellow;
  }
  .col-md-12.activities {
    .page-nav {
      width: 100%;
      position: $pos-relative;
      float: $text-align-left;
      margin-top: 0;
      ul {
        list-style: none;
        width: 100%;
        display: block;
        float: $text-align-left;
        li {
          width: 100%;
          position: $pos-relative;
          display: block;
          float: $text-align-left;
          padding-left: 73px;
          margin-bottom: 20px;
          p {
            @include font-size(19px);
            color: #6d6e71;
            margin-bottom: 30px;
            a {
              text-decoration: underline;
              @include font-size(18px);
              font-weight: $font-weight-600;
              color: $black-color;
              margin: 0;
              padding: 0;
            }
          }
          p:first-child {
            @include font-size(15px);
            color: #939598;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .activities-wrapper {
            float: $text-align-left;
            width: 100%;
            padding-top: 4px;
            ul {
              list-style: none;
              li {
                height: 1px;
                float: $text-align-left;
                width: 100%;
                position: $pos-relative;
                padding-left: 0;
                span {
                  float: $text-align-left;
                  padding: 2px 15px;
                  height: 37px;
                  text-align: $text-align-center;
                  line-height: 32px;
                  @include font-size(18px);
                  font-weight: 600;
                  color: #ffffff;
                  position: $pos-relative;
                  top: -17px;
                  left: 46px;
                  background: #f6f7f8;
                  i {
                    position: $pos-absolute;
                    background: #f6f7f8;
                    width: 47px;
                    height: 37px;
                    border-radius: inherit;
                    top: -1px;
                    left: -48px;
                    display: inline-block;
                    border: 1px solid #939598;
                    border-right: 0;
                  }
                }
                span.bigtext {
                  float: left;
                  padding: 2px 15px;
                  height: 37px;
                  text-align: center;
                  line-height: 16px;
                  font-size: 13px;
                  font-weight: 600;
                  color: #fff;
                  position: relative;
                  top: -17px;
                  left: 30px;
                }
              }
              li:before {
                display: none;
              }
              li:after {
                display: none;
              }
            }
          }
        }
        li:before {
          width: 23px;
          height: 23px;
          background: $white-color;
          content: "";
          top: 5px;
          left: 21px;
          position: $pos-absolute;
          z-index: 9;
          border-radius: 50%;
        }
        li.color1:before {
          border: 5px solid #00aeef;
          background-color: #00aeef;
        }
        li.color2:before {
          border: 5px solid #00a651;
        }
        li.color3:before {
          border: 5px solid #ed1c24;
        }
        li.color4:before {
          border: 5px solid #806c64;
        }
        li.color5:before {
          border: 5px solid #2e3192;
        }
        li.color6:before {
          border: 5px solid #f58220;
        }
        li:after {
          content: "";
          width: 5px;
          background: #e6e8e8;
          min-height: 135px;
          position: $pos-absolute;
          left: 30px;
          top: 24px;
        }
        li.last-child:after {
          min-height: 90px;
        }
        li.color1 {
          .activities-wrapper {
            ul {
              li {
                background: #00aeef;
                span {
                  border: 1px solid #00aeef;
                  background: #00aeef;
                }
              }
              li:before {
                border: 1px solid #00aeef;
              }
            }
          }
        }
        li.color2 {
          .activities-wrapper {
            ul {
              li {
                background: #00a651;
                span {
                  border: 1px solid #00a651;
                  background: #00a651;
                }
              }
              li:before {
                border: 1px solid #00a651;
              }
            }
          }
        }
        li.color3 {
          .activities-wrapper {
            ul {
              li {
                background: #ed1c24;
                span {
                  border: 1px solid #ed1c24;
                  background: #ed1c24;
                }
              }
              li:before {
                border: 1px solid #ed1c24;
              }
            }
          }
        }
        li.color4 {
          .activities-wrapper {
            ul {
              li {
                background: #806c64;
                span {
                  border: 1px solid #806c64;
                  background: #806c64;
                }
              }
              li:before {
                border: 1px solid #806c64;
              }
            }
          }
        }
        li.color5 {
          .activities-wrapper {
            ul {
              li {
                background: #2e3192;
                span {
                  border: 1px solid #2e3192;
                  background: #2e3192;
                }
              }
              li:before {
                border: 1px solid #2e3192;
              }
            }
          }
        }
        li.color6 {
          .activities-wrapper {
            ul {
              li {
                background: #f58220;
                span {
                  border: 1px solid #f58220;
                  background: #f58220;
                }
              }
              li:before {
                border: 1px solid #f58220;
              }
            }
          }
        }
      }
    }
  }
}
.h6 {
  position: relative;
  font-size: 14px;
  text-align: left;
  float: left;
  width: 100%;
  margin: 0;
  color: #1a1a18;
  text-transform: uppercase;
  background: #e9ebeb;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 600;
}
.h6:before {
  position: absolute;
  content: "\F067";
  top: 0;
  right: 0;
  color: #ffffff;
  width: 30px;
  height: 100%;
  background-color: #f0bd00;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  font-family: FontAwesome;
}
h6.open {
  &::before {
    content: "\f068";
  }
}
.btnheight {
  height: 38px !important;
  padding: 5px 10px !important;
}
.btnEditheight {
  height: 30px !important;
  padding: 5px 19px !important;
}
.margintop15 {
  margin-top: 15px !important;
}
