.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;
    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
      &:before,
      &:after {
        display: none;
      }
    }
    .dataTbl {
      .table {
        th {
          font-weight: 700;
          background: #e9ebeb;
        }
        td {
          p {
            padding: 0 15px;
          }
        }
      }
      table.table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f6f7f8 !important;
      }
    }
    .ctrl-wrapper {
      .table > tbody > tr > td,
      .table > tbody > tr > th,
      .table > tfoot > tr > td,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > thead > tr > th {
        vertical-align: middle;
      }
      .table > tbody > tr > td:nth-child(3),
      .table > tbody > tr > td:nth-child(4) {
        p {
          text-align: center;
          padding: 0 15px;
        }
      }
    }
  }
  .ctrl-wrapper.widget-border.frmControl {
    padding-top: 15px;
  }
}
