.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;
    @media screen and (max-width: 991px) {
      .row {
        margin: 0;
        .col-md-6 {
          float: left;
          width: 100%;
        }
      }
    }
    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
      &:before,
      &:after {
        display: none;
      }
      @media screen and (max-width: 991px) {
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
          float: left;
          width: 100%;
        }
      }
    }

    p {
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      padding: 15px 15px 0;
      margin-bottom: 0;
    }
    .dataTbl {
      .table {
        th {
          font-weight: 700;
          background: #e9ebeb;
        }
        td {
          p {
            padding: 0 15px;
            margin: 0;
            display: block;
            float: left;
            width: 100%;
            cursor: pointer;
            span {
              i.fa {
                position: relative;
                left: 5px;
                top: 0;
              }
            }
          }
        }
      }
      table.table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f6f7f8 !important;
      }
    }

    /* Start Education Steps Form */
    label {
      font-size: 15px;
      font-weight: 400;
    }

    /* End */
    .col-md-12 {
      float: left;
      width: 100%;
    }
    .mTop {
      margin-top: 30px !important;
    }
  }
  .ctrl-wrapper {
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
      vertical-align: middle;
    }
    .table > tbody > tr > td:nth-child(3),
    .table > tbody > tr > td:nth-child(4) {
      p {
        text-align: center;
        padding: 0 15px;
      }
    }
  }
  .topM {
    margin-top: 30px;
  }

  .errorContainer {
    float: left;
    margin: 0 0 15px;
    width: 100%;
    dd.error,
    span.error {
      color: $red-color;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      width: auto;
      float: left;
      padding: 0;
      display: block !important;
    }
  }
}
