.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;
    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
      &:before,
      &:after {
        display: none;
      }
    }
    .form-group.interest {
      top: 7px;
      width: 100%;
      label {
        position: $pos-relative;
        padding-left: 25px;
        width: auto;
        clear: left;
        margin-bottom: 10px !important;
        input {
          position: $pos-absolute;
          left: 1px;
          width: 14px;
          margin: 0;
          height: 15px;
          top: 2px;
          opacity: 0;
        }
        input + dd.chkbox {
          background: #fff;
          width: 16px;
          height: 16px;
          border: 1px solid $bg-color-yellow;
          position: $pos-absolute;
          top: 2px;
          left: 0;
          z-index: 999;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          display: inline-block;
        }
        input:checked + dd.chkbox {
          border: 1px solid $bg-color-yellow;
          background: $bg-color-yellow;
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
        input:checked + dd.chkbox:before {
          position: $pos-absolute;
          left: 2px;
          top: -4px;
          content: "\2713";
          color: $white-color;
        }
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
      dd.error,
      span.error {
        left: 0;
        right: inherit;
        bottom: -45px;
        -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
        box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
        z-index: 1;
        &:after {
          top: -9px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          border-top: inherit;
          left: 124px;
        }
      }
    }
    /* End */
    ul.interest-view {
      margin: 15px 0 0;
      li {
        margin: 0;
        padding: 5px 0;
        .fa.fa-arrow-right {
          @include font-size(12px);
          font-weight: $font-weight-400;
          margin-right: 15px;
          position: $pos-relative;
          top: -2px;
        }
      }
    }
  }
}
