.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  h4 {
    color: $black-color;
    @include font-size(18px);
    font-weight: $font-weight-600;
    height: auto;
    float: $text-align-left;
    width: 100%;
    padding-top: 19px;
    position: $pos-relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: -7px;
    background: transparent;
  }
  h4.titletext {
    padding-left: 35px !important;
    span {
      color: #333;
      text-decoration: none;
      float: right;
      font-size: 16px;
      position: relative;
      top: 0;
      cursor: pointer;
      font-weight: 700;
      text-transform: capitalize;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        color: #f5d14c;
        text-decoration: none;
      }
    }
    a {
      color: #333;
      float: right;
      font-size: 16px;
      position: relative;
      top: 8px;
      cursor: pointer;
      font-weight: 700;
      text-decoration: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        color: #f5d14c;
        text-decoration: none;
      }
    }
  }
  p.msgTextWrapper{
    float: left;
    margin-bottom: 30px;
    padding: 0 30px;
  }
  h4:before {
    content: "";
    background: url(#{$img-base-url}sprite-img-new.png) no-repeat -229px -1065px;
    top: 17px;
    width: 25px;
    height: 25px;
    position: $pos-absolute;
  }
  h4.titletext:before {
    left: 0 !important;
  }
  h4:before {
    content: "";
    background: url(#{$img-base-url}sprite-img-new.png) no-repeat -229px -1065px;
    top: 17px;
    width: 25px;
    height: 25px;
    left: 0;
    position: $pos-absolute;
  }
  h4:after {
    width: 45px;
    height: 2px;
    content: "";
    position: $pos-absolute;
    top: 46px;
    background: $bg-color-yellow;
  }
  h4.titletext:after {
    left: 37px !important;
  }
  .panel {
    float: left;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    .data-row {
      border-bottom: 0 solid #e4e4e4;
      margin: 0;
      float: left;
      width: 100%;
      padding-bottom: 0;
      @include font-size(14px);
      color: $b4s-color-black;
      p {
        margin: 0 0 20px;
      }
      .col-md-2 {
        width: 13.66667%;
        padding: 15px 0;
        .tablecell {
          display: table;
          width: 100%;
          .logotext {
            float: none;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            p {
              color: #737373;
              padding-left: 0;
              font-weight: $b4s-font-weight-400;
              letter-spacing: 0.6px;
              text-align: center;
              margin-top: 10px;
            }
            @media screen and (max-width: 767px) {
              p {
                text-align: left;
                margin-top: 0;
              }
              p:last-child {
                margin-bottom: 0;
              }
            }

            img {
              width: 95px;
              height: 50px;
              display: block;
              margin: 0 auto;
              padding: 5px;
              font-size: 10px;
              float: none;
            }
            @media screen and (max-width: 767px) {
              img {
                display: none;
              }
            }
          }
        }
      }
      @media screen and (max-width: 767px) {
        .col-md-2 {
          width: 40%;
          text-align: left;
          padding: 0 0 15px 15px;
        }
      }
      @media screen and (max-width: 462px) {
        .col-md-2 {
          width: 100%;
          text-align: left;
          padding: 0 0 0 15px;
          float: left;
        }
      }
      .col-md-7 {
        width: 63.33333%;
        padding: 24px 20px 0 15px;
        height: auto;
        .tablecell {
          display: table;
          width: 100%;
          .contentdisplay {
            float: none;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            p {
              @include font-size(14px);
              margin-bottom: 8px;
              font-weight: $b4s-font-weight-400;
              width: 400px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            @media screen and (max-width: 767px) {
              p {
                width: 400px;
              }
            }
            @media screen and (max-width: 462px) {
              p {
                width: 300px;
              }
            }
            @media screen and (max-width: 362px) {
              p {
                width: 250px;
              }
            }
            p:first-child,
            h2 {
              @include font-size(16px);
              font-weight: $b4s-font-weight-500;
              margin-bottom: 15px;
              .namelistTooltip {
                position: $position-absolute;
                top: -30px;
                right: 11px;
                width: auto;
                height: auto;
                padding: 10px 15px;
                text-align: left;
                z-index: 9;
                background: #fef9b7;
                color: $black-color;
                @include font-size(14px);
                -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                display: none;
                i.arrow {
                  border-top: 12px solid #fef9b7;
                  border-left: 9px solid transparent;
                  border-right: 9px solid transparent;
                  float: right;
                  position: $position-absolute;
                  right: 22px;
                  bottom: -11px;
                }
              }
              a {
                color: $b4s-purper-color;
                text-decoration: none;
                border-bottom: 0;
                padding-bottom: 1px;
                line-height: 1.4;
              }
              a:hover {
                border-bottom: 2px solid $b4s-purper-color;
              }
            }
            p:first-child,
            h2.ellipsis:hover {
              .namelistTooltip {
                display: block;
              }
            }
            p:last-child {
              margin-bottom: 0;
              img {
                position: relative;
                top: -1px;
              }
            }
            a:hover {
              border-bottom: 2px solid $b4s-purper-color;
            }
            h2.ellipsis {
              width: 485px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h2.ellipsis:hover {
              .namelistTooltip {
                display: block;
              }
            }
            h2 {
              background: transparent;
              @include font-size(16px);
              font-weight: $b4s-font-weight-400;
              margin-bottom: 15px;
              padding: 0;
              text-transform: initial;
              position: inherit;
              .namelistTooltip {
                position: $position-absolute;
                top: -30px;
                right: 11px;
                width: auto;
                height: auto;
                padding: 10px 15px;
                text-align: left;
                z-index: 9;
                background: #fef9b7;
                color: $black-color;
                @include font-size(14px);
                -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                display: none;
                i.arrow {
                  border-top: 12px solid #fef9b7;
                  border-left: 9px solid transparent;
                  border-right: 9px solid transparent;
                  float: right;
                  position: $position-absolute;
                  right: 22px;
                  bottom: -11px;
                }
              }
            }
            h2.ellipsis:hover {
              .namelistTooltip {
                display: block;
              }
            }
          }
          img {
            float: left;
            margin: 0 8px 0 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .col-md-7 {
          width: 100%;
          min-height: 0;
          border-right: 0;
          padding: 24px 15px 15px;
          height: auto;
        }
      }
      .col-md-3 {
        width: 22.5%;
        padding: 15px 0 16px 15px;
        border-left: 2px solid #eaeaea;
        .tablecell {
          display: table;
          width: 100%;
          position: $position-relative;
          .calender {
            float: none;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #303131;
            p {
              font-size: 14px;
              font-weight: $b4s-font-weight-400;
              line-height: 18px;
              float: left;
              margin: 0;
              color: #000;
              padding: 0;
              width: 100%;
            }
            @media screen and (max-width: 767px) {
              p {
                width: auto;
                margin-bottom: 0;
                position: relative;
              }
            }

            p:last-child {
              margin-bottom: 0;
            }
            @media screen and (max-width: 767px) {
              p:last-child {
                width: auto;
                margin-left: 5px;
              }
            }
            dd {
              font-size: 20px;
              line-height: 49px;
              color: #303131;
              font-weight: $b4s-font-weight-500;
              position: relative;
              margin-bottom: 0;
              display: block;
              float: left;
              width: 100%;
              margin: 15px 0 5px;
            }
            @media screen and (max-width: 767px) {
              dd {
                width: auto;
                margin: 0 0 0 5px;
                line-height: 19px;
                font-weight: 500;
                font-size: 14px;
              }
            }
            dd:before {
              content: "";
              background: url(#{$img-base-url}calender.png) no-repeat;
              display: block;
              margin-left: -30px;
              position: absolute;
              top: -12px;
              left: 50%;
              width: 60px;
              height: 62px;
            }
            @media screen and (max-width: 767px) {
              dd:before {
                display: none;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .calender {
              text-align: right;
              width: auto;
              float: right;
            }
          }
          @media screen and (max-width: 460px) {
            .calender {
              text-align: left;
              width: auto;
              float: left;
            }
          }
          .daysgo {
            float: none;
            vertical-align: middle;
            border-radius: 100px;
            width: 100px;
            text-align: center;
            height: 100px;
            padding-top: 25px;
            margin-left: 20px;
            font-size: 14px;
            color: #fff;
            dd {
              font-size: 25px;
              display: block;
            }
          }
          @media screen and (max-width: 460px) {
            .daysgo {
              float: left;
              margin-left: 15px;
            }
          }
          .daysgo.open {
            span {
              font-size: 18px;
              padding-top: 13px;
            }
            @media screen and (max-width: 767px) {
              span {
                font-size: 16px;
                padding-top: 0px;
                padding-bottom: 5px;
                margin-top: -5px;
              }
            }
          }
          @media screen and (max-width: 390px) {
            .daysgo.pink,
            .daysgo.yellow,
            .daysgo.gray {
              float: left;
            }
          }
          .pink {
            background: #ff7f7f;
          }
          .yellow {
            background: #f5d14c;
          }
          .gray {
            background: #d7d7d7;
            dd {
              font-size: 18px;
              line-height: 50px;
            }
          }
        }
        @media screen and (max-width: 767px) {
          .tablecell {
            height: auto !important;
          }
        }
        @media screen and (max-width: 462px) {
          .tablecell {
            display: block;
            width: 100%;
            float: left;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .col-md-3 {
          border-left: 0;
          width: 60%;
          padding: 0 15px 15px 0;
        }
      }
      @media screen and (max-width: 462px) {
        .col-md-3 {
          border-left: 0;
          width: 100%;
          padding: 0 0 15px 15px;
          text-align: left;
          float: left;
        }
      }
      .col-md-3.flex-item {
        position: relative;
        .tablecell {
          .removeBtn {
            left: -112px;
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      .data-row.flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        .flex-item:nth-of-type(1) {
          order: 2;
        }
        .flex-item:nth-of-type(1) {
          order: 1;
        }
        .flex-item:nth-of-type(3) {
          order: 3;
        }
      }
    }
  }
  .panel.hoverEffect {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  .panel.hoverEffect:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
}

/* CSC Tutorials Theme  */
.cscdemo {
  min-height: 200px;
  text-align: center;
  ul.pdfDocDownloadList {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      margin: 0 0 15px;
      padding: 0;
      width: auto;
      font-size: 16px;
      color: #b60808;
      font-weight: 400;
      text-align: left;
      clear: left;
      background: #fff;
      border-radius: 6px;
      height: auto;
      -webkit-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      a {
        text-decoration: none;
        padding: 4px 15px 4px 40px;
        float: left;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        &:hover {
          text-decoration: none;
        }
      }
      a.pdf {
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/pdfImg.jpg)
          no-repeat 0 0;
        color: #b60808;
      }
      a.doc {
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/word.jpg)
          no-repeat 0 0;
        color: #043882;
      }
      @media screen and (max-width: 610px) {
        a {
          background-position: 6px 50%;
          background-size: 22px;
        }
      }
      &:hover {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }
    @media screen and (max-width: 610px) {
      li {
        width: 100%;
      }
    }
  }
}
.schlarshipmatching {
  .box {
    background: $white;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    height: auto;
    @include margin(0 0 10px 0);
    transition: all 1s ease-in;
    overflow: hidden;
  }
  .box {
    @include padding(0);
    a {
      img {
        margin-left: 0;
      }
    }
    .col-md-2 {
      width: 16.66667%;
      padding-top: 8px;
      padding-bottom: 8px;
      .tablecell {
        display: table;
        width: 100%;
        .logotext {
          float: none;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          padding-top: 0;
          height: 124px;
          a {
            img {
              width: 95px;
              height: 50px;
              display: block;
              margin: 0 auto;
              padding: 5px;
              font-size: 10px;
              float: none;
            }
          }
          @media screen and (max-width: 767px) {
            a {
              display: none;
            }
          }
          p {
            font-size: 14px;
            color: #737373;
            padding-left: 0;
            font-weight: 400;
            letter-spacing: 0.6px;
            text-align: center;
            margin-top: 10px;
          }
          @media screen and (max-width: 767px) {
            p {
              text-align: left;
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
        @media screen and (max-width: 767px) {
          .logotext {
            padding-top: 0;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .tablecell {
          height: auto !important;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .col-md-2 {
        width: auto;
        text-align: left;
        padding: 0 0 15px 15px;
        display: none;
      }
    }
    .col-md-7 {
      width: 64.8%;
      padding: 8px 15px;
      height: auto;
      .tablecell {
        display: table;
        width: 100%;
        .contentdisplay {
          float: none;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          padding-top: 15px;
          padding-bottom: 12px;
          h2 {
            padding: 0;
            text-transform: initial;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
            float: left;
            width: 100%;
            margin-top: 0;
            position: relative;
            background: transparent;
            a {
              color: #a914a9;
              text-decoration: none;
              border-bottom: 0;
              padding-bottom: 1px;
              line-height: 1.4;
            }
            a.ellipsis {
              width: 492px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              float: left;
            }
            a.ellipsis:hover + .namelistTooltip {
              opacity: 1;
              z-index: 91;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              transition: all 1s ease;
            }
            @media screen and (max-width: 1080px) {
              a.ellipsis {
                width: 420px;
              }
            }
            @media screen and (max-width: 1024px) {
              a.ellipsis {
                width: 378px;
              }
            }
            @media screen and (max-width: 960px) {
              a.ellipsis {
                width: 500px;
              }
            }
            @media screen and (max-width: 853px) {
              a.ellipsis {
                width: 446px;
              }
            }
            @media screen and (max-width: 771px) {
              a.ellipsis {
                width: 415px;
              }
            }
            @media screen and (max-width: 768px) {
              a.ellipsis {
                width: 390px;
              }
            }
            @media screen and (max-width: 767px) {
              a.ellipsis {
                width: auto;
                white-space: inherit;
                overflow: inherit;
                text-overflow: inherit;
              }
              a.ellipsis:hover + .namelistTooltip {
                opacity: 0;
                z-index: -1;
              }
            }

            .namelistTooltip {
              position: absolute;
              top: 32px;
              left: 0;
              width: auto;
              height: auto;
              padding: 10px 15px;
              text-align: left;
              z-index: 9;
              background: #fef9b7;
              color: #1a1a18;
              font-size: 14px;
              -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
              border-radius: 5px;
              opacity: 0;
              z-index: -1;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              transition: all 1s ease;
              i.arrow {
                border-bottom: 12px solid #fef9b7;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                float: right;
                position: absolute;
                left: 22px;
                top: -11px;
              }
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            width: 477px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            margin: 0;
            margin-bottom: 8px;
            padding: 0;
            float: left;
            img {
              float: left;
              margin: 0 8px 0 0;
            }
          }
          @media screen and (max-width: 1080px) {
            p {
              padding-right: 96px;
            }
          }
          @media screen and (max-width: 767px) {
            p {
              padding-right: 0;
              width: 100%;
            }
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width: 767px) {
          .contentdisplay {
            width: 100%;
            display: initial;
            vertical-align: initial;
            padding-top: 15px;
            padding-bottom: 12px;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .tablecell {
          display: block;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1080px) {
      .col-md-7 {
        width: 61.8%;
      }
    }
    @media screen and (max-width: 992px) {
      .col-md-7 {
        width: 59.8%;
      }
    }
    @media screen and (max-width: 960px) {
      .col-md-7 {
        width: 64.8%;
      }
    }
    @media screen and (max-width: 853px) {
      .col-md-7 {
        width: 63.8%;
      }
    }
    @media screen and (max-width: 811px) {
      .col-md-7 {
        width: 62.8%;
      }
    }
    @media screen and (max-width: 771px) {
      .col-md-7 {
        width: 61.8%;
      }
    }
    @media screen and (max-width: 768px) {
      .col-md-7 {
        width: 60.8%;
      }
    }
    @media screen and (max-width: 767px) {
      .col-md-7 {
        width: 100%;
        min-height: 0;
        padding-bottom: 30px;
        border-right: 0;
      }
    }
    .col-md-3 {
      width: 18.5%;
      padding: 15px 0 13px 0;
      border-left: 2px solid #eaeaea;
      height: 140px;
      .tablecell {
        display: table;
        width: 100%;
        position: relative;
        min-height: 125px;
        .calender {
          text-align: center;
          color: #303131;
          overflow: hidden;
          p {
            @include font-size(14px);
            font-weight: $b4s-font-weight-400;
            line-height: 18px;
            margin-bottom:10px;
          }
          @media screen and (max-width: 767px) {
            p {
              display: inline-block;
            }
            p:nth-child(1) {
              margin-right: 2px;
            }
          }
          .date {
            padding-top: 15px;
            width:100%;
          }
          @media screen and (max-width: 460px) {
            .date {
              padding-top: 0;
            }
          }
          dd {
            @include font-size(22px);
            line-height: 49px;
            color: $b4s-color-black;
            font-weight: $b4s-font-weight-500;
            position: $pos-relative;
            top: 10px;
            @media screen and (max-width: 767px) {
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              top: 0;
              display: inline-block;
              color: inherit;
              padding-right: 2px;
              padding-left: 2px;
            }
            &:before {
              content: "";
              background: url(#{$img-base-url}calender.png) no-repeat;
              display: block;
              margin-left: -30px;
              position: absolute;
              top: -12px;
              left: 50%;
              width: 60px;
              height: 62px;
              @media screen and (max-width: 767px) {
                display: none;
              }
            }
          }
        }
        @media screen and (max-width: 767px) {
          .calender {
            margin-left: 0;
            padding-top: 0;
            text-align: right;
            width: auto;
            float: right;
            height: auto;
            padding: 5px 10px;
            margin-top: 0;
            margin-bottom: -10px;
          }
        }
        @media screen and (max-width: 460px) {
          .calender {
            margin-left: 0;
            padding-top: 0;
            text-align: left;
            width: auto;
            float: left;
            height: auto;
            padding: 0 15px;
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        .daysgo {
          vertical-align: middle;
          border-radius: 100px;
          width: 100px;
          text-align: center;
          height: 100px;
          padding-top: 25px;
          font-size: 14px;
          color: #fff;
          margin: 5px auto 0;
          padding-left:0;
          span {
            font-size: 25px;
            display: block;
          }
          p.always {
            line-height: 20px;
            padding-top: 7px;
            font-weight: bold;
            font-size: 16px;
          }
          @media screen and (max-width: 767px) {
            span {
              font-size: 15px;
              float: left;
              margin-right: 0;
              line-height: 13px;
              padding-left: 7px;
              top: -6px;
              position: relative;
            }
          }
          p {
            font-weight: $b4s-font-weight-400;
            line-height: 7px;
          }
          @media screen and (max-width: 767px) {
            p {
              width: auto;
              margin: 0 7px 0 2px;
              position: relative;
              top: -4px;
              float: left;
            }
          }
        }
        .daysgo.always {
          p {
            font-size: 18px;
            display: block;
            padding-top: 13px;
            font-weight: 400;
            line-height: 20px;
            margin-top: -7px;
          }
          @media screen and (max-width: 767px) {
            p {
              font-size: initial;
              position: relative;
              top: -2px;
              width: auto;
              font-size: 14px;
              padding: 0 10px;
            }
          }
        }
        @media screen and (max-width: 767px) {
          .daysgo {
            margin-left: 0;
            padding-top: 10px;
            text-align: right;
            width: auto;
            float: right;
            height: auto;
            margin-top: 0;
          }
        }
        @media screen and (max-width: 460px) {
          .daysgo {
            float: left;
            margin-left: 15px;
          }
        }
        .daysgo.pink {
          background: #ff7f7f;
        }

        .daysgo.yellow {
          background: rgb(245, 209, 76);
        }
        .daysgo.gray {
          color: #ffffff;
          background: #d7d7d7;
          span {
            font-size: 18px;
            display: block;
            padding-top: 13px;
            font-weight: 400;
          }
          @media screen and (max-width: 767px) {
            span {
              font-size: initial;
              padding-top: initial;
              font-weight: initial;
              position: relative;
              top: -6px;
              padding: 0 15px;
              margin-right: 0;
              line-height: inherit;
            }
          }
        }
        .removeBtn {
          position: $position-absolute;
          bottom: 10px;
          left: -99px;
          color: $white-color;
          width: 84px;
          height: 24px;
          line-height: 24px;
          border-radius: 15px;
          background: $b4s-yellow-color;
          border: 1px solid $b4s-yellow-color;
          text-align: $element-left-align;
          @include font-size(12px);
          z-index: 10;
          font-weight: $b4s-font-weight-400;
          text-decoration: none;
          padding: 0;
          text-align: center;
          display: inherit;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          cursor: pointer;
        }
        @media screen and (max-width: 767px) {
          .removeBtn {
            right: 201px !important;
            bottom: 3px;
            left: initial !important;
          }
        }
        @media screen and (max-width: 767px) {
          .removeBtn.posBtn {
            right: 233px !important;
          }
        }
        @media screen and (max-width: 460px) {
          .removeBtn {
            bottom: 42px;
            right: 15px !important;
          }
        }
        @media screen and (max-width: 460px) {
          .removeBtn.posBtn {
            right: 15px !important;
            bottom: 42px;
            left: initial !important;
          }
        }
        .removeBtn:hover {
          background: $white-color;
          color: $dark-black-color;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
      }
      @media screen and (max-width: 767px) {
        .tablecell {
          height: auto !important;
          min-height: initial;
        }
      }
    }
    @media screen and (max-width: 1080px) {
      .col-md-3 {
        width: 21.5%;
      }
    }
    @media screen and (max-width: 992px) {
      .col-md-3 {
        width: 23.5%;
      }
    }
    @media screen and (max-width: 960px) {
      .col-md-3 {
        width: 18.5%;
      }
    }
    @media screen and (max-width: 853px) {
      .col-md-3 {
        width: 19.5%;
      }
    }
    @media screen and (max-width: 811px) {
      .col-md-3 {
        width: 20.5%;
      }
    }
    @media screen and (max-width: 771px) {
      .col-md-3 {
        width: 21.5%;
      }
    }
    @media screen and (max-width: 768px) {
      .col-md-3 {
        width: 22.5%;
      }
    }
    @media screen and (max-width: 767px) {
      .col-md-3 {
        border-left: 0;
        width: auto;
        padding: 0 0 10px 0;
        position: absolute;
        bottom: 0;
        right: 15px;
        height: auto;
      }
    }
    @media screen and (max-width: 460px) {
      .col-md-3 {
        width: 100%;
        position: initial;
      }
    }
    @media screen and (max-width: 767px) {
      .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        position: relative;
        .flex-item:nth-of-type(1) {
          order: 2;
        }
        .flex-item:nth-of-type(2) {
          order: 1;
        }
        .flex-item:nth-of-type(3) {
          order: 3;
        }
      }
    }
    .datalist {
      .heading {
        vertical-align: 18px;
        width: 510px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        padding-top: 6px;
        a {
          font-size: 16px;
          color: #a914a9;
          text-decoration: none;
          border-bottom: 0;
          line-height: 25px;
        }
        a:hover {
          border-bottom: 2px solid #a914a9;
        }
      }
      @media screen and (max-width: 1199px) {
        .heading {
          width: 394px;
        }
      }
      p {
        line-height: 5px;
        color: #000;
        font-size: 14px;
        font-weight: $b4s-font-weight-500;
        width: 490px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 18px;
        min-height: 18px;
        img {
          margin-right: 10px;
        }
      }
      @media screen and (max-width: 1199px) {
        p {
          width: 394px;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .schlarshipmatching {
    .flex-container-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      .flex-container-list:nth-of-type(1) {
        order: 2;
      }
      .flex-container-list:nth-of-type(2) {
        order: 1;
      }
      @media screen and (max-width: 767px) {
        .col-md-12.noPaddingFromLeft {
          padding-left: 0;
        }
      }
    }
  }
}
.box:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.schlarshipmatching {
  float: left;
  width: 100%;
  dd.btnCtrl {
    padding: 15px 16px;
    background: #fefefe;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 15px;
  }
  dd.btnCtrl:nth-child(2) {
    margin-right: 0;
  }
  @media screen and (max-width: 545px) {
    dd.btnCtrl {
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
    dd.btnCtrl:nth-child(2) {
      margin-top: 10px;
    }
  }
  dd.btnCtrl:hover,
  dd.btnCtrl.active,
  dd.btnCtrl:active,
  dd.btnCtrl:focus {
    background: #f0bd00;
  }
  .floatBox {
    float: left;
    width: 100%;
  }
  @media screen and (max-width: 545px) {
    h4.titletext {
      margin-bottom: 15px;
      margin-top: 15px !important;
    }
  }
  @media screen and (max-width: 414px) {
    h4.titletext {
      line-height: 1.4;
      &:after {
        display: none;
      }
    }
  }
}
