.qnaWrapper {
  .cateWrapper {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 15px;
    // border: 1px solid #d8d8d8;
    position: relative;
    width: 100%;
    float: left;

    h5 {
      font-weight: 600;
      line-height: 24px;
      font-size: 20px;
      margin-top: 0;
      span {
        font-size: 14px;
        display: block;
        font-weight: 500;
      }
    }

    .left {
      /* float: left; */
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;

      h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;

        span {
          padding-left: 60px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 30px;
            width: 22px;
            height: 20px;
            background: url(#{$img-base-url}queicon.png) no-repeat 0 0;
            display: block;
          }
        }

        span.an,
        span.like {
          padding-left: 30px;
          padding-right: 35px;

          &::before {
            top: 0;
            left: 0;
            width: 41px;
            height: 39px;
          }
        }

        span.an {
          &::before {
            background: url(#{$img-base-url}scholarshipspite.png) no-repeat -19px -217px;
          }
        }

        span.like {
          &::before {
            background: url(#{$img-base-url}scholarshipspite.png) no-repeat -19px -59px;
          }
        }
      }
    }

    .share-icon {
      background: url(#{$img-base-url}shareIcon.png) no-repeat;
      width: 22px;
      height: 22px;
      position: absolute;
      bottom: 10px;
      right: 15px;

      cursor: pointer;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;

      ul.social-icons {
        margin-top: 12px;
        width: 110px;
        position: absolute;
        top: -16px;
        right: 15px;

        li {
          display: block;
          width: 28px;
          height: 28px;
          margin-right: 4px;
          float: left;
          background: #f0bd00;
          font-size: 14px;
          line-height: 28px;
          text-align: center;
          border-radius: 50%;
          color: #ffff;

          a {
            color: #ffff;
          }
        }
      }
    }
  }
}
