@media screen and (max-width: 662px) {
  .dashboard-nav-bg {
    .dashboard-nav-in {
      .col-md-9 {
        ul.optional-links {
          li,
          li.active {
            width: 100%;
            a {
              text-align: left;
            }
          }
          li.myprofile-tab,
          li.myscholarship-tab,
          li.myscholarship-tab.active {
            margin-bottom: 15px;
            margin-left: 0;
          }
          li.mysubscriber-tab {
            margin-left: 0;
          }
        }
        .tab-border {
          .btn-ctrl.three-btn {
            .btn {
              width: 49%;
            }
            .btn:nth-child(1) {
              float: left;
            }
            .btn:nth-child(2) {
              float: right;
              margin-right: 0;
            }
            .btn:nth-child(3) {
              width: 100%;
              float: left;
              clear: left;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
