.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;

  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    padding: 0 0 15px;
    background: #fafafa;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    height: auto;

    h4 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}
