.tab-border {
  .table > thead:first-child > tr:first-child > th,
  .table-bordered > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    img {
      width: 46px;
      position: relative;
      top: 0;
      margin-right: 10px;
      float: left;
    }
  }
  .table > thead:first-child > tr:first-child > th:nth-child(1),
  .table-bordered > tbody > tr > td:nth-child(1),
  .table > thead:first-child > tr:first-child > th:nth-child(2),
  .table-bordered > tbody > tr > td:nth-child(2) {
    text-align: left;
    vertical-align: middle;
    span {
      float: left;
    }
  }
  .btn {
    margin-top: 0;
  }
  .label-primary {
    background-color: #337ab7;
  }
  .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    color: #fff;
    border-radius: 0.25em;
  }
  .studentList {
    .table-bordered > tbody > tr > td {
      text-align: center;
      vertical-align: middle;
    }
    .table-bordered > tbody > tr > td:nth-child(1),
    .table-bordered > tbody > tr > td:nth-child(2) {
      text-align: left;
      vertical-align: middle;
    }
    .table-bordered > thead > tr > th:nth-child(1),
    .table-bordered > tbody > tr > td:nth-child(1) {
      span {
        display: block;
        width: 270px;
        @extend .ellipsis;
      }
      @media screen and (max-width: 1024px) {
        span {
          width: 178px;
        }
      }
    }
    .table-bordered > tbody > tr > td:last-child {
      label {
        background-color: #138b2c;
      }
    }
    .payNowBtn {
      display: inline-block;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      color: #000;
      border-radius: 0.25em;
      background-color: #fff;
      border: 1px solid #ec4d4d;
      text-align: center;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -o-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
      outline: none !important;
      width: 63px;
      &:hover {
        background-color: #ec4d4d;
        color: #fff;
      }
    }
    .payNowBtn.uploadDocs {
      width: 84px;
    }
    .label {
      display: inline-block;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      color: #fff;
      border-radius: 0.25em;
      background-color: #337ab7;
    }
    .label.cellWidth {
      width: 100px;
    }
  }
  .boxBg {
    background: rgba(231, 231, 232, 0.5);
    min-height: 653px;
    .profile-username {
      font-size: 24px;
    }
    .box {
      .box-header {
        .box-title {
          font-size: 20px;
        }
      }
      .box-body {
        hr {
          border-top: 1px solid #fff;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .boxBg {
      min-height: 546px;
      margin-bottom: 30px;
    }
  }
}

// .tab-border .ctrl-wrapper.widget-border .row, .dashboard .dashboard-nav-bg .dashboard-nav-in .col-md-9 .ctrl-wrapper .row
.addstudent {
  .widget-border {
    .row {
      margin: 0 !important;
    }
  }
}

.pagination {
  .rc-pagination {
    font-size: 12px;
    font-family: "Arial";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    padding: 0 5px;
  }
  .rc-pagination > li {
    list-style: none;
  }
  .rc-pagination-total-text {
    float: left;
    height: 30px;
    line-height: 30px;
    list-style: none;
    padding: 0;
    margin: 0 8px 0 0;
  }
  .rc-pagination:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  .rc-pagination-item {
    cursor: pointer;
    border-radius: 0px;
    min-width: 28px;
    height: 33px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: none;
    border-right: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 0px;
    padding: 3px 16px;
  }
  .rc-pagination-item a {
    text-decoration: none;
    color: #666;
  }
  .rc-pagination-item:hover {
    border-color: #f0bd00;
  }
  .rc-pagination-item:hover a {
    color: #f0bd00;
  }
  .rc-pagination-item-active {
    background-color: #f0bd00;
    border-color: #f0bd00;
  }
  .rc-pagination-item-active a {
    color: #fff;
  }
  .rc-pagination-item-active:hover a {
    color: #fff;
  }
  .rc-pagination-jump-prev:after,
  .rc-pagination-jump-next:after {
    content: "\2022\2022\2022";
    display: block;
    letter-spacing: 2px;
    color: #ccc;
    font-size: 12px;
    margin-top: 1px;
  }
  .rc-pagination-jump-prev:hover:after,
  .rc-pagination-jump-next:hover:after {
    color: #f0bd00;
  }
  .rc-pagination-jump-prev:hover:after {
    content: "\AB";
  }
  .rc-pagination-jump-next:hover:after {
    content: "\BB";
  }
  .rc-pagination-prev,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    margin-right: 1px;
  }
  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    cursor: pointer;
    color: #666;
    font-size: 10px;
    border-radius: 6px;
    list-style: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
  }
  .rc-pagination-prev a:after {
    content: "\2039";
    display: block;
  }
  .rc-pagination-next a:after {
    content: "\203A";
    display: block;
  }
  .rc-pagination-prev,
  .rc-pagination-next {
    border: 0px solid #d9d9d9;
    font-size: 30px;
    padding-top: 2px;
    height: 33px;
    background: #fff;
    border-radius: 0;
  }
  .rc-pagination-prev a,
  .rc-pagination-next a {
    color: #666;
  }
  .rc-pagination-prev a:after,
  .rc-pagination-next a:after {
    margin-top: -1px;
  }
  .rc-pagination-disabled {
    cursor: not-allowed;
  }
  .rc-pagination-disabled a {
    color: #ccc;
  }
  .rc-pagination-options {
    float: left;
    margin-left: 15px;
  }
  .rc-pagination-options-size-changer {
    float: left;
    width: 80px;
  }
  .rc-pagination-options-quick-jumper {
    float: left;
    margin-left: 16px;
    height: 28px;
    line-height: 28px;
  }
  .rc-pagination-options-quick-jumper input {
    margin: 0 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 3px 12px;
    width: 50px;
    height: 28px;
  }
  .rc-pagination-options-quick-jumper input:hover {
    border-color: #f0bd00;
  }
  .rc-pagination-options-quick-jumper button {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 6px;
    height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .rc-pagination-options-quick-jumper button:hover,
  .rc-pagination-options-quick-jumper button:active,
  .rc-pagination-options-quick-jumper button:focus {
    color: #f0bd00;
    background-color: #fff;
    border-color: #f0bd00;
  }
}
