header {
  background-color: map-get($colors, transparentBg);
}

.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.videos {
  position: relative;
  z-index: 1;
  @media screen and (max-width:1024px){
    .container-fluid{
      .container{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .bggreay {
    position: relative;
    margin-top: 75px;
    top: -10px;
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        margin-right: 20px;
        display: inline-block;
        padding-top: 0;
        a {
          color: #2b292b;
          font-weight: 600;
          font-weight: normal;
        }
      }
      li:after {
        content: "";
        position: $position-absolute;
        top: 4px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
        display: block;
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        a {
          color: #919191;
          pointer-events: none;
        }
      }
      li:last-child:after {
        display: none;
      }
    }
  }
  .videogp {
    h3 {
      background: #ececec;
      padding: 15px;
      font-size: 18px;
      font-weight: 600;
      margin: 30px 0;
    }
    .scholar {
      float: left;
      width: 100%;
      p {
        display: inline;
        font-size: 16px;
        font-weight: 600;
      }
      .sliderCell {
        width: 335px !important;
        height: auto;
        margin: 0 auto;
        display: block !important;
        span {
          float: left;
          width: 100%;
          height: 188px;
          position: relative;
          img {
            height: 100%;
          }
          i.fa-youtube-play {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #e12f2f;
            font-size: 50px;
            line-height: 36px;
            background: rgba(0, 0, 0, 0.7);
            z-index: 99;
            cursor: pointer;
            &:before {
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -25px;
              margin-top: -18px;
              width: 50px;
              height: 36px;
              z-index: 99;
            }
            &:after {
              content: "";
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -10px;
              margin-top: -10px;
              width: 20px;
              height: 20px;
              background: #fff;
              z-index: 98;
            }
          }
        }
        p {
          margin: 7.5px 0;
          float: left;
          font-weight: 400;
          text-align: left;
          line-height: 25px;
        }
      }
      @media screen and (max-width: 1024px) {
        .sliderCell {
          width: 284px !important;
        }
      }
      @media screen and (max-width: 991px) {
        .sliderCell {
          width: 274px !important;
        }
      }
      @media screen and (max-width: 960px) {
        .sliderCell {
          width: 400px !important;
        }
      }
      @media screen and (max-width: 900px) {
        .sliderCell {
          width: 374px !important;
        }
      }
      @media screen and (max-width: 853px) {
        .sliderCell {
          width: 350px !important;
        }
      }
      @media screen and (max-width: 800px) {
        .sliderCell {
          width: 330px !important;
        }
      }
      @media screen and (max-width: 750px) {
        .sliderCell {
          width: 304px !important;
        }
      }
      @media screen and (max-width: 736px) {
        .sliderCell {
          width: 86% !important;
        }
      }
      .sliderCell.normalCell {
        margin: 0 28px;
        float: left;
      }
      img {
        width: 100%;
      }
      .slick-next,
      .slick-prev {        
        cursor: pointer;
        display: block !important;
        height: 28px;
        width: 28px;
        top: 96px;
        &:before {
          content:"" !important;
          height: 28px !important;
          width: 28px !important;
          top: 50% !important;
          margin-top: -14px !important;
        }
      }
      .slick-prev {
        left: -8px;
      }
      @media screen and (max-width: 736px) {
        .slick-prev {
          left: 0;
        }
      }
      .slick-prev:before {
        display: block;
        left: 0 !important;
        background-position: 5px 50%;
      }
      .slick-next {
        right: -8px;
      }
      @media screen and (max-width: 736px) {
        .slick-next {
          right: 0;
        }
      }
      .slick-next:before {
        display: block;
        right: 0 !important;
        background-position: 8px 50%;
      }
      .slick-slider {
        padding: 0;
        line-height: 8px;
      }
      .slick-arrow {
        display: none;
      }
    }
  }
}

.playerOverLay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
  z-index: 4;
  .playerWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 910px;
    height: 520px;
    background: #eaeaea;
    margin-top: -260px;
    margin-left: -455px;
    z-index: 5;
    border: 1px solid #dddddd;
    padding: 10px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    .closeIcon {
      position: absolute;
      width: 35px;
      height: 35px;
      z-index: 5;
      cursor: pointer;
      right: 0;
      top: -46px;
      background: transparent;
      &:before {
        content: "";
        position: absolute;
        left: 17px;
        top: 0;
        width: 2px;
        height: 35px;
        background: #fff;
        z-index: 6;
        transform: rotate(45deg);
        border-radius: 2px;
        border: 1px solid #dfdfdf;
      }
      &:after {
        content: "";
        position: absolute;
        left: 17px;
        top: 0;
        width: 2px;
        height: 35px;
        background: #fff;
        z-index: 7;
        transform: rotate(-45deg);
        border-radius: 2px;
        border: 1px solid #dfdfdf;
      }
    }
    .scholar {
      width: 100%;
      display: block;
      height: auto;
      iframe {
        width: 100% !important;
        height: 435px;
        border: 0 !important;
      }
      p {
        margin: 7.5px 0;
        float: left;
        font-weight: 400;
        text-align: left;
        line-height: 25px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .playerWrapper {
      left: 0;
      top: 50%;
      width: 96%;
      height: auto;
      margin-top: -260px;
      margin-left: 2%;
    }
  }
}

.offersWrapper {
  top: 62px;
  padding-top: 0;
  position: relative;
  .topBannerBg {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    // z-index: 999;
    span {
      float: left;
      width: 100%;      
    }
    iframe {
      display:block;
      width: 100% !important;
      height: 416px !important;
    }
    @media screen and (max-width: 480px) {
      iframe {
        height: 268px !important;
      }
    }
  }
}
.offersWrapper.video-topPosition{
  top:66px;
}

