.graybg {
  background: $gray-color;
  padding: 0;
}

.application.frmWrapper {
  // background: #ffffff;
  // border-radius: 10px;
  // border: 1px solid #f2f2f2;
  // padding: 73px 0;
  /* .graystrip.tbl{
    span{
      padding: 0 15px 0 0;
    }
  } */
  .graystrip.tbl {
    display: flex;
    align-items: center;
    justify-items: center;
    span {
      padding: 0 15px 0 0;
    }
    @media screen and (max-width: 533px) {
      span {
        padding-right: 0px !important;
        justify-content: center;
        text-align: center;
        margin-bottom: 7.5px;
        width: 100%;
      }
    }
    span + .spacer + .docError {
      width: auto;
      .iconWrapper {
        padding: 0;
        float: initial;
        width: 100%;
        display: flex;
        a {
          display: flex;
          .Checkicon {
            top: 3px;
          }
        }
        span.delete {
          display: flex;
          position: relative;
          top: 0;
          i.fa {
            top: 0;
          }
        }
      }
    }
    @media screen and (max-width: 533px) {
      span + .spacer + .docError {
        width: 100%;
      }
    }
    .docRow {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .ctrlRow {
        display: flex;
        width: 100%;
        span {
          padding-right: 7.5px !important;
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
        }
        @media screen and (max-width: 366px) {
          span {
            width: 100%;
            word-break: break-word;
            padding-right: 0 !important;
          }
        }
        span + .spacer + article {
          display: flex;
          .yearSemCtrl {
            display: flex;
            .doc-need {
              display: flex;
              width: 100%;
              position: relative;
              select {
                padding: 10px 22px 10px 10px;
              }
              @media screen and (max-width: 533px) {
                select {
                  width: 100%;
                }
              }
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 15px;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px solid #444;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                margin-top: -2px;
              }
              @media screen and (max-width: 533px) {
                &:first-child {
                  margin-bottom: 0;
                }
              }
              @media screen and (max-width: 533px) {
                &:last-child {
                  margin-top: 7.5px;
                  margin-bottom: 0;
                }
              }
            }

            @media screen and (max-width: 533px) {
              .doc-need {
                width: 100%;
                padding-right: 0 !important;
              }
            }
          }
          @media screen and (max-width: 533px) {
            .yearSemCtrl {
              flex-wrap: wrap;
              width: 100%;
            }
          }

          @media screen and (max-width: 533px) {
            .document {
              margin-top: 7.5px;
              width: 100%;
              .custom-file-upload {
                top: 0;
                width: 100%;
              }
            }
          }
        }
        @media screen and (max-width: 723px) {
          span + .spacer + article {
            width: 100%;
            margin-top: 15px;
            flex-wrap: wrap;
          }
        }
      }
      @media screen and (max-width: 723px) {
        .ctrlRow {
          flex-wrap: wrap;
        }
      }
      .tblRow {
        display: flex;
        width: 100%;
        margin: 15px 0;
        .tblOverflow {
          display: flex;
          width: 100%;
          table {
            border-collapse: collapse;
            background: white;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            position: relative;
            thead {
              tr {
                height: 40px;
                background: #444;
                th {
                  color: #fff;
                  font-weight: unset;
                  padding: 0 15px;
                  vertical-align: middle;
                  &:last-child {
                    text-align: center;
                    width: 100px;
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  padding: 3.5px 15px;
                  vertical-align: middle;
                  &:last-child {
                    text-align: center;
                    width: 100px;
                    a {
                      display: inline;
                      position: relative;
                      top: 0;
                      right: initial;
                      width: 26px;
                      height: 29px;
                      font-size: 22px;
                      .Checkicon {
                        position: relative;
                        top: 1px;
                        left: 0px;
                        font-size: 22px;
                      }
                    }
                    span.delete {
                      display: inline;
                      position: relative;
                      top: 0;
                      right: initial;
                      width: 26px;
                      height: 29px;
                      background: none;
                      font-size: 22px;
                      margin: 0 0 0 10px;
                      padding: 0;
                      i.fa {
                        position: relative;
                        top: 0;
                        left: 0;
                      }
                    }
                  }
                }
                &:hover {
                  color: #555555;
                  background-color: #dadada;
                  cursor: pointer;
                }
              }
              tr:nth-child(even) {
                background-color: #dadada;
              }
              tr:nth-child(even) {
                background-color: #f5f5f5;
              }
            }
          }
          @media screen and (max-width: 669px) {
            table {
              border-radius: 0;
            }
          }
        }
        @media screen and (max-width: 669px) {
          .tblOverflow.hScroll {
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 15px;
            width: 700px;
            display: block;
          }
          .tblOverflow.hScroll.scrollDisable {
            overflow: scroll;
          }

          .tblOverflow.hScroll::-webkit-scrollbar {
            height: 5px;
          }

          .tblOverflow.hScroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          .tblOverflow.hScroll::-webkit-scrollbar-thumb {
            background-color: #f0bd00;
            outline: 1px solid #5f6189;
          }
        }
      }
    }
  }
  .error {
    color: #e5260e;
    margin-top: 15px;
    display: block;
    width: auto;
    text-align: left;
    margin-left: 30px;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 0;
    line-height: 27px;
  }

  .scholarshipLogo1 {
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    padding: 10px;
    margin: 0 0 20px 5px;
    height: auto;
    width: 207.5px;
  }
  .date {
    padding-left: 0;
    dd {
      font-size: 18px;
      padding-top: 0px;
      font-weight: bold;
      span {
        display: block;
        font-size: 20px;
      }
    }
  }
  .whiteColor {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    height: auto;
    overflow: auto;
    padding-top: 25px;
    margin: 60px 0 0;
    overflow: hidden;
    display: flex;
    .col-md-3 {
      width: 25% !important;
    }
    .scholarshipLogo1{
      margin: 0 0 20px 5px;
      height: auto;
      width: 207.5px;
    }
    h1 {
      font-size: 22px;
    }
    .date{
      dd{
        span {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 966px) {
    .whiteColor {
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 30px;
      width: 100%;
      display: flex;
      .col-md-3,
      .col-md-9 {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      .col-md-9 {
        flex-wrap: wrap;
        h1 {
          margin-top: 0;
        }
        h1,
        .date {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
  .fixFormHeader{
    position: fixed;
    z-index: 3;
    top: -61px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1170px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    align-items: center;
    padding: 7.5px 0;
    @media screen and (max-width:1199px){
      width:970px;
    }
    @media screen and (max-width:1024px){
      width:100%;
    }
    @media screen and (max-width:853px){
      position: initial;
      z-index: initial;
      top: initial;
      left: initial;
      transform: initial;
      width: 100%;
      box-shadow: none;
      height: auto;
      display: flex;
      align-items: initial;
      padding: 15px 0;

    }
    .col-md-3 {
      width: 10.5% !important;
      @media screen and (max-width:1199px){
        width: 14% !important;
      }
    }
    .scholarshipLogo1{
      margin: 0;
      width: 108.5px;
    }
    h1 {
      font-size: 14px;
    }
    .date{
      padding: 0;
      dd{
        padding: 0;
        span {
          display: block;
          font-size: 14px;
        }
      }
    }
  }
  
  .accordion {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    .height0 {
      max-height: 51px;
      overflow: hidden;
      margin-bottom: 8px;
    } // .height0:first-child {
    //   max-height: 58px;
    // }
    .heightauto {
      // max-height: 1000px;
      /* overflow: hidden;
      height: auto; */
      .sectionwhite {
        background: #ffffff;
        border-radius: 0 0 10px 10px;
        border: 1px solid #f2f2f2;
        margin-bottom: 30px;
        .btn {
          margin: 0;
        }
        .btn.familybtnsize {
          padding: 12px 20px;
        }
        .newsubheading {
          .btn.right {
            margin-right: 15px;
          }
          .topborder {
            border-top: 5px solid #444444;
          }
          .heading {
            background: #fff;
            color: #000;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
            border-bottom: 1px solid #444444;
            padding: 10px 15px 15px;
          }
        }
        @media screen and (max-width: 560px) {
          .noPaddingSelectPresentClass {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .selectPresentClass {
          display: flex;
          width: 100%;
          position: relative;
          top: 16px;
          select {
            display: inline-flex;
            width: 270px;
            position: relative;
            top: -4px;
            margin-left: 15px;
            font-weight: 400;
          }
          @media screen and (max-width: 560px) {
            select {
              margin-left: 0;
              top: 0;
              width: 100%;
            }
          }
        }
        .selectPresentClassAuto {
          display: flex;
          width: 100%;
          position: relative;
          top: 16px;
          select {
            display: inline-flex;
            width: 320px;
            position: relative;
            top: -4px;
            margin-left: 15px;
            font-weight: 400;
          }
          @media screen and (max-width: 560px) {
            select {
              margin-left: 0;
              top: 0;
              width: 100%;
            }
          }
        }
        @media screen and (max-width: 560px) {
          .selectPresentClass,
          .selectPresentClassAuto {
            flex-wrap: wrap;
          }
        }
      }
    }
    .heading {
      padding: 10px;
      background: #444;
      width: 100%;
      color: #fff;
      padding-left: 30px;
      cursor: pointer;
      margin-bottom: 15px;
      padding-bottom: 18px;
      i {
        padding-top: 5px;
        padding-right: 5px;
      }
      .complete {
        font-size: 25px;
        vertical-align: -5px;
        margin-top: -4px;
        color: #4fab05;
      }
      .pending {
        font-size: 25px;
        vertical-align: -5px;
        margin-top: -4px;
        color: #ff0000;
      }
      span {
        font-size: 15px;
        padding-left: 10px;
        font-weight: bold;
      }
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
    .topborder {
      border-top: 5px solid #f1bd00;
      span {
        top: -19px !important;
      }
    }
    input[type="Text"],
    select {
      border: 0;
      border-bottom: 1px solid #ccc;
      padding: 7px 10px;
      width: 100%;
      font-size: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
    .doc-need {
      select {
        border: 0;
        border-bottom: 1px solid #ccc;
        padding: 7px 10px;
        width: auto;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
      }
    }
    textarea {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #ccc;
      padding: 7px 10px;
      width: 100%;
      font-size: 14px;
      resize: none;
      margin-bottom: 20px;
      height: 90px;
    }
    .icon {
      background: transparent url(#{$img-base-url}application-split.png)
        no-repeat 98% 9px;
    }
    .icon-date {
      background: transparent url(#{$img-base-url}application-split.png)
        no-repeat 98% -25px !important;
    }
    :-moz-placeholder {
      color: #b7b7b7;
    }
    ::-webkit-input-placeholder {
      color: #b7b7b7;
    }
    :-ms-input-placeholder {
      color: #b7b7b7;
    }

    .row {
      padding: 5px 10px 0;
    }
    .reference {
      width: 100%;

      .col-md-12 {
        padding: 0;
      }
    }
    .paddingtop25 {
      padding-top: 0;
    }
    .row:last-child {
      padding-bottom: 40px;
    }
    .summarySec {
      padding: 15px 30px 30px;
    }
    .row.summarySec:last-child {
      .col-md-12 {
        p {
          margin-top: 0;
          p {
            margin-top: 0;
          }
          &:last-child {
            margin-top: 10px;
          }
          ol {
            margin-top: 10px;
            li {
              margin-bottom: 7.5px;
            }
          }
        }
      }
    }

    label input {
      display: none;
    }
    label span {
      height: 18px;
      width: 18px;
      border: 2px solid grey;
      display: inline-block;
      position: relative;
      top: 3px;
    }
    [type="checkbox"]:checked + span:before {
      content: "\2714";
      position: absolute;
      top: -5px;
      left: 0;
      cursor: pointer;
    }
    .textareaque {
      margin-top: 30px;
    }
    @media screen and (max-width: 480px) {
      .textareaque {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .radio-btn {
      margin: 0 0 20px;
      .que {
        padding-bottom: 15px;
        padding-top: 20px;
      }
      .que.highlights {
        background: #e0e1e2;
        padding: 5px 10px;
        margin-top: 10px;
      }
      label input {
        display: none;
      }
      div {
        display: inline-block;
        margin-top: 10px;
      }
      span {
        margin-left: 5px;
      }
      label span {
        height: 18px;
        width: 18px;
        border: 2px solid grey;
        display: inline-block;
        position: relative;
        top: 3px;
        border-radius: 50%;
        cursor: pointer;
      }
      [type="radio"]:checked + span:before {
        border-radius: 50%;
        content: "";
        height: 12px;
        width: 12px;
        background: #444444;
        position: absolute;
        top: 1px;
        left: 1px;
      }
      label span.radioMarginLR {
        margin-right: 7px;
        margin-left: 0;
      }
      .marginleft {
        margin-left: 30px;
      }
      i {
        font-weight: normal;
        font-style: normal;
        padding-left: 3px;
        padding-right: 20px;
      }
      h3 {
        font-size: 17px;
        font-weight: bold;
        margin-top: 0;
      }
    }
    #passport + span.error {
      left: 75px;
      right: inherit;
      bottom: 38px;
      &:after {
        left: 10px;
        margin-left: 0;
      }
    }
    .checkbox {
      font-weight: bold;
      margin: 20px 0 20px;
      label input {
        display: none;
      }
      div {
        display: inline-block;
        margin-top: 10px;
      }
      .que {
        padding-bottom: 15px;
        padding-top: 20px;
      }
      span {
        margin-left: 5px;
      }
      label span {
        height: 20px;
        width: 20px;
        border: 2px solid grey;
        display: inline-block;
        position: relative;
        top: 5px;
        margin-left: -5px;
        cursor: pointer;
      }
      .marginleft {
        margin-left: 30px;
      }
      i {
        font-weight: normal;
        font-style: normal;
        padding-left: 10px;
        padding-right: 20px;
      }
      h3 {
        font-size: 17px;
        font-weight: bold;
      }
      [type="checkbox"]:checked + span:before {
        content: "\2714";
        height: 12px;
        width: 12px;
        position: absolute;
        top: -3.5px;
        font-weight: bold;
        left: 1.5px;
      }
      label {
        font-weight: bold;
      }
    }
    .browse {
      margin-top: 16px;
      label input {
        display: none;
      }
      label {
        font-size: 23px;
        border: 0;
        text-decoration: underline;
        font-size: 15px;
      }
      .marginleft {
        margin-left: 30px;
      }
      i {
        font-style: normal;
        padding-left: 10px;
      }
      dd {
        margin-left: 30px;
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
      }
      .deleteaward {
        background: url(#{$img-base-url}application-split.png) no-repeat 0 -88px;
        position: absolute;
        top: -4px;
        height: 32px;
        width: 26px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    // .btn,
    // .btn-yellow {
    //   padding: 10px 40px;
    //   height: 46px;
    //   font-weight: bold;
    //   margin-right: 0;
    // }
    // .btn {
    //   padding: 3px 40px;
    //   height: 40px;
    //   font-weight: bold;
    //   margin-left: 0;
    //   background: #ffffff;
    // }
    .btnsubmit {
      font-size: 22px;
      text-align: center;
      font-weight: normal;
      padding: 5px 65px;
      height: 45px;
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      cursor: pointer;
    }
    .btn.marginRight {
      margin-right: 15px !important;
    }
    .top0 {
      margin-top: 0px;
    }
    .paddingborder {
      padding: 15px 0 0;
      // margin: 0 -40px;
      .border {
        border-top: 1px solid #ccc;
      }
    }
    .paddingborder.buttonCtrl {
      padding: 15px 30px 0;
    }
  }
  .form {
    padding: 0px 10px;
    .eduplancheck {
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
      span {
        margin: 0 10px 0 20px;
      }
      span:first-child {
        margin: 0 10px 0 -20px;
      }
      i {
        font-style: normal;
      }
    }
    .address {
      font-weight: bold;
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 20px;
      background: #f2f2f2;
      padding: 10px 15px;
      display: flex;
      flex-wrap: wrap;
      span {
        margin: 0 10px 0 20px;
      }
    }

    .familydetails {
      // background-color: palegreen;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 15px 0;
      h3 {
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        padding: 10px 15px;
        span {
          font-weight: 600;
          font-size: 18px;
        }
      }
      h4 {
        font-weight: bold;
        font-size: 16px;
        background: #f2f2f2;
        width: 100%;
        padding: 10px 15px;
        margin: 0 5px 15px 5px;
      }
    }
    .subheading {
      font-weight: bold;
      font-size: 17px;
      margin-top: 10px;
      margin-bottom: 5px; // margin-left: 10px;
      background: #f2f2f2;
      width: 100%;
      padding: 10px 15px;
      span {
        font-size: 13px;
        display: block;
      }
    }
    .subheadingerror {
      font-weight: bold;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px; // margin-left: 10px;
      color: #f00;
      background: #f2f2f2;
      width: 100%;
      padding: 10px 15px;
      span {
        font-size: 13px;
        display: block;
      }
      ol {
        padding: 0 20px;
        font-size: 14px;
        li {
          line-height: 20px;
        }
      }
      table{
        margin: 10px 0;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        border: 2px solid #444444;
        width: 100%;
        tbody{
          tr{           
            td{
              padding: 5px 17px;
            }
            &:nth-child(1){
              background:#444444 !important;
              color: #fff;
              
            }
            &:nth-child(odd){
              background:#e5e5e5;
            }
            &:nth-child(even){
              background:#bebebe;
            }
          }
          
        }
      }
    }
    .subheadingerror.reftext {
      margin-bottom: 15px;
    }
    .romove {
      float: right;
      font-weight: bold;
      font-size: 14px;
      padding-top: 7px;
    } // label {
    //     position: relative;
    //     top: 37px;
    //     z-index: 1;
    //     font-size: 14px;
    //     padding-left: 10px;
    // }
    .form-group {
      margin-bottom: 20px;
      input,
      textarea {
        // display: block;
        margin: 10px;
        padding: 5px;
        border: none;
        font-size: 16px; // padding-top: 30px;
        color: #000;
      }
      label {
        display: inline;
      }
      textarea:focus,
      input:focus,
      select:focus {
        outline: none;
        border-color: #000;
        color: #444;
        outline: none;
      }
      /* Question */
      input,
      textarea {
        font-weight: 300;
        border-radius: 2px;
        margin: 0;
        border: none;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        transition: padding-top 0.2s ease, margin-top 0.2s ease;
        overflow-x: hidden;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        position: relative;
        z-index: 2;
        color: #444444;
        font-weight: bold;
        padding-left: 10px;
        /* Hack to make "rows" attribute apply in Firefox. */
      }
      .radionewgp {
        position: relative;
        label {
          position: relative;
          padding-left: 25px;
          width: auto;
          clear: left;
        }
        input[type="checkbox"] {
          background: #fff;
          width: 16px;
          height: 16px;
          border: 1px solid #f0bd00;
          position: absolute;
          top: 2px;
          left: 0;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          display: inline-block;
        }
      }
      input {
        height: 34px;
      }
      select {
        color: #444444;
        font-weight: bold;
        outline: none;
        height: 34px;
      }
      /* Underline and Placeholder */
      input + label,
      textarea + label,
      input[pattern] + label {
        // display: block;
        position: relative;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 14px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        color: #656565;
        font-weight: normal;
        padding-left: 5px;
        z-index: 1;
        padding-left: 10px;
      }
      input + label {
        top: -27px;
      }
      textarea + label {
        top: -88px;
      }
      input:focus + label,
      input:valid + label,
      input:disabled + label {
        top: -50px;
        outline: none;
      }

      textarea:focus + label,
      textarea:valid + label {
        top: -110px;
        outline: none;
      }
      .selectLabel {
        margin-top: -56px;
        margin-left: 4px;
        color: #656565;
        font-weight: normal;
        font-size: 14px;
      }
      .ctrlWrapper {
        margin: 15px 0 0;
        padding: 0;
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
      }
      .ctrlWrapper.favColor {
        flex-wrap: wrap;
        label {
          margin: 0 7.5px 7.5px 0;
          padding: 0;
          width: auto;
          position: relative;
          z-index: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          input[type="radio"] {
            width: 10px;
            height: 10px;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
            display: block;
            position: absolute;
          }
          span {
            margin: 0;
            padding: 15px 7.5px;
            width: 100%;
            z-index: 1;
            background: #fff;
            color: #000;
            text-align: center;
            align-items: center;
            justify-content: center;
            border: 1px solid grey;
            display: flex;
            font-weight: 400;
            top: 0;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
            user-select: none;
          }
          input[type="radio"]:checked + span {
            background: grey;
            color: #fff;
            cursor: default;
          }
        }
      }
      .ctrlWrapper.rating {
        flex-wrap: wrap;
        margin: 7.5px 0 0;
        .ratingNumber {
          display: block;
          width: 100%;
          margin: 0 0 7.5px;
          font-weight: 600;
          font-size: 18px;
          i {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            outline: none;
            user-select: none;
          }
        }
        label {
          margin: 0 7.5px 0 0;
          padding: 0;
          width: 36px;
          height: 36px;
          position: relative;
          z-index: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          input[type="checkbox"],
          input[type="radio"] {
            width: 34px;
            height: 34px;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
            display: block;
            position: absolute;
            cursor: pointer;
          }
          i {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: #efebeb;
            color: #fff;
            text-align: center;
            align-items: center;
            justify-content: center;
            border: 1px solid #efebeb;
            display: flex;
            font-weight: 400;
            top: 0;
            cursor: pointer;
            border-radius: 5px;
          }
          i.fa-star:before {
            content: "\f005";
            position: absolute;
            left: 11px;
          }
          input[type="checkbox"]:checked + i,
          input[type="radio"]:checked + i {
            background: grey;
            color: #fff;
          }
        }
      }
      .ctrlWrapper.favFruit {
        label {
          margin: 0 7.5px 0 0;
          padding: 0;
          width: auto;
          position: relative;
          z-index: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          input[type="radio"] {
            width: 10px;
            height: 10px;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
            display: block;
            position: absolute;
          }
          span {
            margin: 0;
            padding: 15px 7.5px;
            width: 100%;
            z-index: 1;
            background: #fff;
            color: #000;
            text-align: center;
            align-items: center;
            justify-content: center;
            border: 1px solid grey;
            display: flex;
            font-weight: 400;
            top: 0;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
            user-select: none;
          }
          input[type="radio"]:checked + span {
            background: grey;
            color: #fff;
            cursor: default;
          }
        }
      }
      .ctrlWrapper.dragDropItems {
        flex-direction: column;
        border-bottom: 0;
        .item {
          margin: 0 0 7.5px;
          padding: 0 15px;
          width: 100%;
          height: 36px;
          position: relative;
          z-index: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border: 1px solid grey;
          background: #b1afaf;
          color: #fff;
          border-radius: 5px;
          font-weight: 600;
          cursor: pointer;
          outline: none;
          user-select: none;
        }
      }
    }
    .form-group.preferredLanguageForInterview {
      span.error {
        bottom: 90px;
        left: initial;
      }
    }
    .paddingtop30 {
      padding-top: 30px;
    }
    .form-group.width {
      select {
        width: 250px;
      }
    }
    .form-group-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .form-group {
        width: 49.3%;
        &:nth-child(1),
        &:nth-child(3) {
          margin-right: 15px;
        }
      }
    }
  }
  .graystrip {
    background: #e4e4e4;
    padding: 5px 15px;
    font-size: 16px;
    margin-top: 5px; // overflow: auto;
    width: 100%;
    h2 {
      font-size: 15px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    span {
      padding: 0;
      position: relative;
    }
    @media screen and (max-width: 480px) {
      span {
        padding-right: 0px !important;
        justify-content: center;
        text-align: center;
        margin-bottom: 7.5px;
        width: 100%;
      }
    }
    span.top {
      top: 0;
      margin-left: 10px;
    }
    span.deletegenrix {
      right: 4px;
      top: 5px;
    }

    .edit {
      background: url(#{$img-base-url}application-split.png) no-repeat 0px -55px;
      width: 26px;
      height: 30px;
      cursor: pointer;
      display: block;
      margin: -13px auto 0;
    }
    .delete {
      background: url(#{$img-base-url}application-split.png) no-repeat 0px -88px;
      width: 26px;
      height: 30px;
      top: 38px;
      position: absolute;
      right: 93px;
      cursor: pointer;
    }
    .top {
      top: 10px;
    }
    .docError {
      position: relative;
      min-height: 50px;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      i.error {
        position: absolute;
        right: 140px;
        color: #e5260e;
        font-size: 12px;
        background-color: #ffffff;
        padding: 10px;
        width: auto;
        border-radius: 5px;
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        z-index: 3;
        top: 50%;
        margin-left: 0;
        padding-bottom: 10px !important;
        padding-right: 15px !important;
        font-style: normal;
        height: 36px;
        margin-top: -18px;
        &:after {
          content: "";
          position: absolute;
          bottom: 9px;
          right: -8px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #fff;
          margin-left: -5px;
        }
        @media screen and (max-width: 690px) {
          &:after {
            content: "";
            position: absolute;
            bottom: 29px;
            right: 50%;
            width: 0;
            height: 0;
            border-bottom: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            margin-right: -10px;
            margin-left: initial !important;
          }
        }
      }
      @media screen and (max-width: 690px) {
        i.error {
          position: absolute;
          right: 0;
          color: #e5260e;
          font-size: 12px;
          background-color: #ffffff;
          width: auto;
          border-radius: 5px;
          -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          z-index: 3;
          bottom: -36px;
          top: inherit;
          margin-left: 0;
          font-style: normal;
          height: 31px;
          margin-top: 0;
          padding: 0 10px !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      @media screen and (max-width: 480px) {
        i.error {
          right: 50%;
          width: 122px;
          margin-right: -61px;
        }
      }
      @media screen and (max-width: 341px) {
        i.error {
          bottom: -39px;
        }
      }
      i.error.customize {
        left: 0;
        right: initial;
        bottom: -20px;
        top: initial;
      }
      .Checkicon {
        position: relative;
        right: 0;
        color: #000;
        font-size: 28px;
      }
      .deleteicon {
        width: 26px;
        height: 30px;
        top: -3px;
        position: absolute;
        right: 0px;
        background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/application-split.png)
          0px -88px no-repeat;
        cursor: pointer;
      }
      .iconWrapper {
        float: right;
        display: block;
        width: 34px;
        height: 30px;
        margin-bottom: 0;
        .docicon {
          position: relative;
          top: 0;
          .deleteicon {
            width: 34px;
            height: 25px;
            top: -4px;
            position: absolute;
            right: 0px;
            background: url(#{$img-base-url}application-split.png) 0px -88px no-repeat;
            cursor: pointer;
          }
          a {
            text-decoration: none;
            .Checkicon {
              font-size: 25px;
              color: #017704;
              text-decoration: none;
              padding-top: 11px;
            }
            span {
              font-size: 14px;
              padding-left: 5px;
              vertical-align: 8px;
            }
          }
        }
        @media screen and (max-width: 533px) {
          a {
            position: relative;
            left: 0;
            width: 34px;
            height: 25px;
            display: flex;
            .Checkicon {
              position: relative;
              right: -4px;
              color: #000;
              font-size: 28px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
        a {
          display: inline-flex;
        }
        span.delete {
          top: 0;
          right: initial;
          width: 26px;
          height: 29px;
          background: none;
          font-size: 29px;
          margin: 0 0 0 10px;
          i.fa {
            position: relative;
            top: -9px;
            left: 0px;
          }
        }
      }
    }
    @media screen and (max-width: 533px) {
      .docError {
        justify-content: center;
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 690px) {
    .graystrip {
      padding: 15px;
    }
  }
  @media screen and (max-width: 533px) {
    .graystrip {
      flex-wrap: wrap;
    }
  }
  .graduationmarksheet {
    ul {
      margin-top: 30px;
      li {
        width: 100%;
        display: block;
        height: 55px;
      }
    }
    .radio-btn {
      label {
        display: inline;
        span {
          top: -3px;
          height: 25px;
          width: 20px;
        }
        [type="radio"]:checked + span:before {
          top: 4px;
          left: 4px;
        }
      }
    }
    a {
      color: #000;
      font-weight: bold;
    }
  }
  .noMarginLR {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    .col-md-4 {
      flex: 1;
    }
    @media screen and (max-width: 800px) {
      .col-md-4 {
        flex: none;
        width: 100%;
      }
    }
    .col-md-4.currentAcademicSem {
      flex: initial;
      width: 50%;
    }
    @media screen and (max-width: 800px) {
      .col-md-4.currentAcademicSem {
        width: 100%;
      }
    }
    .col-md-4.lastCell {
      .form-group {
        border-bottom: 1px solid #ccc;
        padding-bottom: 11px;
      }
      @media screen and (max-width: 800px) {
        .form-group {
          margin-top: -15px;
          margin-bottom: 35px;
        }
      }
    }
    .titleLabel {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 30px;
      float: left;
    }
  }
  @media screen and (max-width: 800px) {
    .noMarginLR {
      flex-wrap: wrap;
    }
  }
}

.margin30 {
  margin: 20px 0 50px !important;
}

.table-striped {
  position: relative;
  .edit {
    background: url(#{$img-base-url}application-split.png) no-repeat 0px -55px;
    width: 26px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  .delete {
    background: url(#{$img-base-url}application-split.png) no-repeat 0px -88px;
    width: 26px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
}

.labelstyle {
  top: -50px;
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  color: #656565;
  font-weight: normal;
}

.document {
  position: relative;
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #fdb701;
    display: inline-block;
    height: 38px;
    text-align: center;
    color: #231f20;
    font-weight: 500;
    border-radius: 30px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    padding: 6px 30px;
    margin: 0;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
    cursor: pointer;
  }
  @media screen and (max-width: 603px) {
    .custom-file-upload {
      top: 1px;
      position: relative;
    }
  }
  .custom-file-upload:hover {
    border: 1px solid #fdb701;
    background: #f1bd00;
    color: #ffffff;
  }
}

@media screen and (max-width: 341px) {
  .row:first-child {
    .col-md-12.paddingBoth {
      article:nth-child(1) {
        .graystrip {
          .document {
            top: 20px;
          }
        }
      }
    }
  }
  .row:first-child {
    .col-md-12.paddingBoth {
      article {
        .graystrip {
          .document {
            top: 4px;
          }
        }
      }
    }
  }
}

.margin0 {
  margin: 0 !important;
}

.padding30 {
  padding-top: 90px;
  background: transparent;
  padding-bottom: 0;
}
@media screen and (max-width: 991px) {
  .padding30 {
    padding-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .padding30 {
    padding-top: 30px !important;
  }
}

.nopaddingbtm {
  padding-bottom: 0px !important;
}

.margintoptable {
  margin-top: 60px;
}
.margintoptable.floatTable {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.paddingtop0 {
  padding-top: 0px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5rem !important;
  font-size: 11px !important;
}

.react-datepicker-popper {
  z-index: 8 !important;
}

.react-datepicker {
  font-size: 12px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 12px !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.iconedit {
  font-size: 22px;
  cursor: pointer;
}

:not(output):-moz-ui-invalid {
  box-shadow: none !important;
}

:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none !important;
}

.cropImg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.78);
  z-index: 99991;
  .cropImgbg {
    width: 80%;
    height: 80%;
    left: 10%;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    top: 10%;
    position: absolute;
    border-radius: 6px;
    .popup-header {
      position: relative;
      .close {
        top: 0px;
        font-weight: 300;
        position: absolute;
        background: #fff;
        color: #000;
        right: 7px;
        opacity: 1;
        width: 38px;
        height: 36px;
        text-align: center;
        font-size: 48px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        border: 0;
        line-height: 24px;
      }
      .popup-title {
        text-align: center;
        line-height: 2;
        color: #000;
        font-weight: 500;
        font-size: 22px;
        margin: 0;
      }
    }
    .popup-body {
      padding: 0;
      float: left;
      height: 500px;
      width: 100%;
      .cropArea {
        background: #e4e4e4;
        overflow: hidden;
        height: auto;
        width: auto;
        .img-crop {
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          overflow: hidden;
        }
      }
      .updatePicBtn {
        width: auto;
        margin: 0 auto;
        display: block;
        background: transparent;
        border: 1px solid $bg-color-yellow;
        cursor: pointer;
        color: $t-color-black;
        @include font-size(16px);
        transition: all 0.3s;
        font-weight: $font-weight-400;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        @include border-radius(30px);
        height: 42px;
        line-height: 34px;
        position: relative;
        top: 6px;
        &:hover {
          background: $bg-color-yellow;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
    }
    .popup-footer {
      display: none;
    }
  }
}

.terms {
  overflow-y: auto;
  height: 350px;
  overflow-x: hidden;
  h1 {
    padding: 10px 0 20px;
    font-weight: bold;
    margin: 0;
  }
  ul {
    li {
      list-style-type: square;
      margin-left: 30px;
      margin-top: 15px;
    }
  }
  .row {
    padding: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .application.frmWrapper {
    h1 {
      line-height: 32px;
      text-align: left;
      font-size: 18px;
      margin-left: 0;
    }
    .date {
      dd {
        padding: 10px 0;
        margin-left: 0;
        span {
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .date {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .application.frmWrapper {
    .logoTitleWrapper {
      padding: 0 15px;
      .whiteColor {
        width: 100%;
        margin: 0 0 -10px;
        .col-md-3,
        .col-md-9 {
          width: 100%;
        }
        .col-md-3 {
          a {
            width: auto;
            display: table;
            margin: 0 auto;
            .scholarshipLogo1 {
              margin: 0 auto;
              display: block;
              height: 130px;
              width: 254.5px;
            }
          }
        }
        .col-md-9 {
          h1 {
            line-height: 32px;
            text-align: center;
            font-size: 20px;
          }
          .date {
            dd {
              padding: 10px 0;
              text-align: center;
              margin-bottom: 30px;
              span {
                font-size: 18px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
.application.frmWrapper .accordion .btn.btnPos {
  position: relative;
  right: -25px;
}
.graystrip.docError {
  position: relative;
  min-height: 50px;
  height: auto;
  i.error {
    position: absolute;
    right: 150px;
    color: #e5260e;
    font-size: 12px;
    background-color: #ffffff;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: 3;
    top: 50%;
    margin-left: 0;
    padding-bottom: 10px !important;
    padding-right: 15px !important;
    font-style: normal;
    height: 36px;
    margin-top: -18px;
    &:after {
      content: "";
      position: absolute;
      bottom: 9px;
      right: -8px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #fff;
      margin-left: -5px;
    }
  }

  i.error.customize {
    left: 0;
    right: initial;
    bottom: -20px;
    top: initial;
  }
  .Checkicon {
    position: relative;
    right: 0;
    color: #000;
    font-size: 28px;
  }
  .deleteicon {
    width: 26px;
    height: 30px;
    top: -3px;
    position: absolute;
    right: 0px;
    background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/application-split.png)
      0px -88px no-repeat;
    cursor: pointer;
  }
  .iconWrapper {
    float: right;
    display: block;
    width: 61px;
    .docicon {
      position: relative;
      top: 0;
      .deleteicon {
        width: 26px;
        height: 30px;
        top: -4px;
        position: absolute;
        right: 0px;
        background: url(#{$img-base-url}application-split.png) 0px -88px no-repeat;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        .Checkicon {
          font-size: 25px;
          color: #017704;
          text-decoration: none;
          padding-top: 11px;
        }
        span {
          font-size: 14px;
          padding-left: 5px;
          vertical-align: 8px;
        }
      }
    }
  }
}
.spacer {
  flex: 1;
}
.msgString {
  color: #e5260e;
  text-align: left;
  padding-top: 15px;
}

.tableRow:first-child {
  span {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .application.frmWrapper .form .row .col-md-12.paddingBoth {
    article:nth-child(4) {
      .graystrip.docError {
        span.error {
          top: -6px;
        }
      }
    }
  }

  .cropImg {
    .cropImgbg {
      width: 96%;
      margin-left: -48%;
      left: 50%;
    }
  }
  .application.frmWrapper {
    .accordion {
      @media screen and (max-width: 374px) {
        .heading {
          height: initial;
          font-size: 12px;
        }
      }
    }
    .scholarshipLogo1 {
      margin: 0 auto;
      display: block;
    }
    h1 {
      line-height: 32px;
      text-align: center;
      font-size: 18px;
    }
    .date {
      dd {
        padding: 10px 0;
        text-align: center;
        span {
          font-size: 18px;
          text-align: center;
        }
      }
    }
    .accordion {
      .heading {
        padding-right: 0;
        padding-left: 5px;
        a {
          font-size: 12px;
        }
        span {
          font-size: 12px;
          padding-left: 0px;
          padding-top: 3px;
        }
        .complete {
          font-size: 24px;
        }
        i {
          padding: 0;
        }
      }
      @media screen and (max-width: 480px) {
        .heading {
          position: relative;
          top: 5px;
        }
      }
      .row {
        padding: 5px 10px 0;
      }
      .row.reference {
        width: 100%;
        padding: 0;
      }
      .row:last-child {
        //padding: 5px 25px 20px;
        padding-bottom: 40px;
      }
      .radio-btn {
        span {
          label {
            margin-right: 20px;
          }
        }
        .marginleft {
          margin: 0;
        }
      }
      .btn-yellow {
        padding: 10px 10px;
        height: 37px;
        font-weight: bold;
        font-size: 12px;
        margin-right: 0;
      }
      .paddingrow0 {
        padding-left: 20px !important;
        padding-right: 0 !important;
      }
    }
    .form {
      padding: 0;
      .subheading {
        margin: 0;
      }
      .address {
        font-size: 14px;
      }
    }
  }

  .padding30 {
    padding: 0;
  }
  .terms {
    ul {
      li {
        list-style-type: square;
        margin-left: 30px;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 348px) {
  .application.frmWrapper .accordion .height0 {
    max-height: initial;
    height: 60px;
  }
  .application.frmWrapper .accordion .heading {
    height: 60px;
    span {
      margin-top: 1px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .application.frmWrapper {
    .accordion {
      .heading {
        span {
          font-size: 11px;
          padding-left: 0px;
          padding-top: 5px;
        }
      }
    }
  }
}

.paddingtable0 {
  padding: 0 !important;
}

.cursor {
  cursor: pointer;
  color: #fdb701;
  text-decoration: underline;
}

.red {
  border: 2px solid #f00 !important;
}

.clearboth {
  clear: both;
}

.notetext {
  color: #f00;
  font-size: 14px;
  font-weight: bold;
}


.hclblock{
  display:inline-grid;
  width: 100%;
  padding: 15px;
  span {
    margin: 0 10px 5px 0 !important;
    top:8px !important;
  }
}

.OptionalClasses {
  .labelStyle{
    padding-bottom: 10px;
  }
  .labelStyleLabel{
    padding-left: 25px;
  }
      
  padding:0 15px 15px;
  

}