/* Strat need Help Popup */

.needAppHelpBtn {
  position: $position-fixed;
  right: 0;
  bottom: 178px;
  width: 40px;
  height: 40px;
  z-index: 991;
  span {
    background: $b4s-link-white-color;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: $b4s-color-black;
    display: block;
    &:before {
      content: "?";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      color: $b4s-link-white-color;
      background: $b4s-color-black;
      border-radius: 50%;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  span.fadeIn {
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  span.fadeOut {
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  .overlayNH {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .overlayNH.show {
    display: block;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  .overlayNH.hide {
    display: none;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  .nh-winPopup {
    width: 280px;
    height: 132px;
    background: #fff;
    border-radius: 10px;
    padding: 0;
    position: absolute;
    margin-top: -66px;
    top: 50%;
    right: -280px;
    -webkit-box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.1);
    i {
      position: absolute;
      top: 7px;
      right: 8px;
      padding: 15px;
      cursor: pointer;
      background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/sprite-icon-details.png)
        no-repeat 0 -195px;
    }
    h5 {
      font-size: 18px;
      color: #1b1b1b;
      background: #fdb701;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0 0 15px;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      color: #1b1b1b;
      text-align: center;
      font-weight: 400;
      a {
        color: #1b1b1b;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      i.fa-phone,
      i.fa-envelope-open-o {
        background: none;
        cursor: default;
        position: initial;
        top: inherit;
        right: inherit;
        padding: inherit;
      }
      i.fa-envelope-open-o {
        margin-right: 5px;
      }
      i.fa-phone {
        top: 2px;
        position: relative;
      }
    }
  }
  .nh-winPopup.ani-in {
    right: 15px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 1;
  }
  .nh-winPopup.ani-out {
    right: -280px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0;
  }
  /* @media screen and (max-width: 603px) {
			.nh-winPopup {
				width: 304px;
				height: 296px;
				padding: 10px 30px;
				bottom: 11px;
			}
	  }
	  @media screen and (max-width: 372px) {
			.nh-winPopup {
				width: 96%;
				left: 50%;
				margin-left: -48%;
			}
	  } */
}
