header {
  background-color: map-get($colors, transparentBg);
}

.teamnew {
  position: relative;
  /* top: -80px; */
  text-align: left;
  background: #ffffff;
  // margin-bottom: 72px;
  .subTitle {
    margin-top: 10px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .equial-padding {
    padding-bottom: 0;
  }
  .margintop40 {
    margin-top: 40px;
  }
  .pt20 {
    padding-top: 20px;
  }
  padding-bottom: 30px;
  .bgteam {
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/cdn.buddy4study.com/static/teams/topBanner.jpg");
    background-position: center;
    @extend .default-banner-property;
    background-position-y: center;
    text-align: center;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .bgteam {
      background: #2c3e50;
    }
  }
  h5 {
    @extend .icon-heading;
    margin-bottom: 15px;
    span {
      color: #fdb701;
    }
  }

  h5:before {
    content: "";
    background: url(#{$img-base-url}sprite.png) 0 -664px no-repeat;
    @extend .icon-headingbefore;
  } // breadcurm trail
  .bg-tab {
    background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/team.jpg);
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 18px 0 10px;
    background-attachment: fixed;
    ul {
      li {
        display: inline;
        font-size: 20px;
        padding: 0 30px;
        text-transform: uppercase;
      }
    }
  }
  .img-style {
    border: 2px solid #fdb701;
    border-bottom: 8px solid #fdb701;
  }

  .gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .gray:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }

  .colorActive {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
  .arrow {
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #fdb701;
    position: absolute;
    margin-left: 43%;
  }
  .bg-inner {
    background: url("https://s3-ap-southeast-1.amazonaws.com/cdn.buddy4study.com/static/teams/bg-team-inner.jpg")
      no-repeat 0 bottom;
    color: #ffffff;
    padding-bottom: 30px;
    h1 {
      font-size: 20px;
      padding-top: 10px;
    }
    h2 {
      font-size: 16px;
      padding-top: 0px;
      margin-top: 0;
    }
    article {
      font-size: 16px;
      padding-top: 10px;
    }
  }
  .mb30 {
    margin-top: 30px;
  }
  .mt30 {
    margin-top: 40px;
  }
  .sub-heading {
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
  .padding0 {
    padding: 0 !important;
  }
  @media screen and (max-width: 1024px) {
  }
  .scholarship-buddyteam {
    .col-md-3 {
      padding-left: 7.5px;
      padding-right: 7.5px;
      position: relative;
      img {
        width: 100%;
        position: relative;
        top: 2px;
      }
      .arrow {
        width: 0px;
        height: 0px;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 15px solid #fdb701;
        position: absolute;
        bottom: -13px;
        left: 50%;
        margin-left: -7.5px;
        z-index: 99;
      }
    }
    @media screen and (max-width: 1080px) {
      .col-md-3 {
        padding-left: 7.5px;
        padding-right: 7.5px;
        width: 25%;
        float: left;
        img {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .col-md-3 {
        padding-left: 7.5px;
        padding-right: 7.5px;
        width: 25%;
        float: left;
        img {
          width: 100%;
        }
      }
    }
    .container {
      position: relative;
      z-index: 1;
    }
    .marginBottom {
      margin-bottom: 30px;
    }
    .bg-inner {
      background: url("https://s3-ap-southeast-1.amazonaws.com/cdn.buddy4study.com/static/teams/bg-team-inner.jpg")
        no-repeat 0 bottom;
      background-size: cover;
      color: #ffffff;
      padding-bottom: 30px;
      position: relative;
      top: -2px;
      z-index: 0;
      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 24px;
        padding-top: 0;
        font-weight: 600;
        position: relative;
        margin-top: 0;
        .socialIconWraper {
          display: inline-flex;
          width: auto;
          position: relative;
          right: -9px;
          font-size: 35px;
          top: 4px;
          a {
            color: #0e76a8;
            transition: all 0.5s ease;
            &:hover {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      h2 {
        font-size: 16px;
        padding-top: 0px;
        margin-top: 0;
      }
      article {
        font-size: 16px;
      }
    }
  }
  .marginTop {
    margin-top: 30px;
  }
  .desktopView {
    display: block;
    .row {
      margin-left: -15;
      margin-right: -15;
    }
    .container {
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .mobileView {
    display: none;
  }
  @media screen and (max-width: 799px) {
    .desktopView {
      display: none;
    }
    .mobileView {
      display: block;
      color: #ffffff;
      padding: 30px 7.5px 0;
      background: url("https://s3-ap-southeast-1.amazonaws.com/cdn.buddy4study.com/static/teams/bg-team-inner.jpg")
        no-repeat 0 bottom;
      background-size: cover;
      .row {
        margin-left: -15;
        margin-right: -15;
      }
      .container {
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .marginBottom {
        margin-bottom: 0;
      }
      .slick-slider {
        padding: 0;
        button {
          height: 36px;
          width: 36px;
          position: absolute;
          z-index: 999;
          top: 140px;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
        }
        .slick-prev {
          left: 40px;
          &:before {
            content: "";
            background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/prev_arrow.png) 14px 50%
              no-repeat;
            height: 18px;
            width: 25px;
            margin-top: 20%;
            position: absolute;
            z-index: 999;
            top: 3px;
            left: -2px;
          }
        }
        .slick-next {
          right: 40px;
          &:before {
            content: "";
            background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/next_arrow.png) 0px 50%
              no-repeat;
            height: 18px;
            width: 25px;
            margin-top: 20%;
            position: absolute;
            z-index: 999;
            top: 3px;
            right: 1px;
          }
        }
        @media screen and (max-width: 400px) {
          .slick-prev {
            left: 15px;
          }
          .slick-next {
            right: 15px;
          }
        }
        @media screen and (max-width: 325px) {
          .slick-prev {
            left: 10px;
          }
          .slick-next {
            right: 10px;
          }
        }
        .slick-slide {
          padding-bottom: 15px;
          .col-md-3 {
            padding-left: 7.5px;
            padding-right: 7.5px;
            position: relative;
            width: 246px;
            margin: 0 auto;
            float: inherit;
            img {
              width: 100%;
            }
            &:before {
              content: "";
              position: absolute;
              bottom: -3px;
              left: -105%;
              height: 1px;
              background: #fdb701;
              width: 320%;
            }
            .arrow {
              width: 0px;
              height: 0px;
              border-right: 15px solid transparent;
              border-left: 15px solid transparent;
              border-top: 15px solid #fdb701;
              position: absolute;
              bottom: -14px;
              left: 50%;
              margin-left: -7.5px;
              z-index: 99;
            }
          }
          .bg-inner {
            background: transparent;
            color: #ffffff;
            padding: 0 15px 30px;
            position: relative;
            top: 0;
            z-index: 0;
            .container {
              padding-left: 7.5px;
              padding-right: 7.5px;
              h1 {
                font-size: 24px;
                padding-top: 10px;
                font-weight: 600;
                position: relative;
                margin-top:15px;
                .socialIconWraper {
                  display: inline-flex;
                  width: auto;
                  position: absolute;
                  right: 0;
                  font-size: 35px;
                  top: 2px;
                  a {
                    color: #0e76a8;
                    transition: all 0.5s ease;
                    &:hover {
                      color: #fff;
                      text-decoration: none;
                    }
                  }
                }
              }
              @media screen and (max-width: 369px) {
                h1 {
                  padding-right: 38px;
                  font-size: 22px;
                }
              }
              h2 {
                font-size: 16px;
                padding-top: 0px;
                margin-top: 0;
              }
              article {
                font-size: 16px;
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
