header {
  background-color: map-get($colors, transparentBg);
}

.errorbggreay {
  background: $bg-color-grey;
  @include padding(0);
  .section {
    padding: 60px 0;
    background: #fff;
    float: left;
    width: 100%;
    .errorPage {
      float: left;
      width: 100%;
      /*  h2,
    h3 {
      font-size: 30px;
      color: #000;
      text-align: center;
      font-weight: 400;
      @include margin(25px 0 10px 0);
    } */
      h2,
      h3 {
        color: #000;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        @include margin(15px 15px 10px);
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        @include margin(25px 15px 10px);
      }
      ul {
        list-style: none;
        @include margin(0 0 30px);
        @include padding(0 15px);
        width: 100%;
        float: left;
        li {
          float: left;
          width: 100%;
          text-align: center;
          @include margin(5px 0);
          a {
            color: #fdb701;
            text-decoration: underline;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            &:hover {
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
      p {
        a {
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* CSC */

.thankspage {
  padding: 100px 15px 150px;
  img {
    margin: 0px auto;
    display: block;
  }
  h2 {
    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 25px 0 10px 0;
    color: #f1bd00;
  }
  p {
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0 10px 0;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
  }
  .btn:hover {
    color: #000;
  }
}

.mainWrapper.cscbg {
  background: #2d2d2d url(#{$img-base-url}csc_bg.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  padding-bottom: 30px;
  h2,
  p {
    color: #ffffff;
  }
  .listtyoP {
    background: white;
    float: left;
    position: relative;
    border-radius: 4px;
    padding: 30px 45px;
    left: 50%;
    width: 640px;
    margin-left: -320px;
    margin-top: 20px;
    color: #000;
    .rmore.csc {
      width: 214px;
      left: 50%;
      position: relative;
      margin-left: -107px;
    }
    .buttonWrapper {
      float: left;
      width: 100%;
      text-align: center;
      a,
      button {
        float: none;
        @include font-size(16px);
        color: $black-color;
        padding: 10px 20px;
        border: 1px solid #e7b420;
        background: #e7b420;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
        text-transform: capitalize;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover {
          background: $white-color;
        }
      }
      button {
        margin-left: 5px;
        margin-top: 15px;
      }
      a {
        margin-right: 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      color: #000;
    }
    ul {
      list-style: none;
      width: 100%;
      display: block;
      float: $text-align-left;
      position: relative;
      top: 15px;
      li {
        width: 100%;
        position: $pos-relative;
        padding-left: 35px;
        padding-bottom: 20px;
        display: block;
        float: $text-align-left;
        margin-bottom: 0;
        -webkit-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        @include font-size(13px);
      }
      li:before {
        width: 50px;
        height: 50px;
        background: url(#{$img-base-url}b4s_pop.png) no-repeat;
        content: "";
        top: -6px;
        left: -10px;
        position: absolute;
      }
      li:nth-child(1):before {
        background-position: 0 4px;
      }
      li:nth-child(2):before {
        background-position: 0 -40px;
      }
      li:nth-child(3):before {
        background-position: 0 -87px;
      }
      li:nth-child(4):before {
        background-position: 2px -139px;
      }
      li:nth-child(5):before {
        background-position: 4px -185px;
      }
    }
  }
}

/* @media screen and (max-width: 853px) {
  .cscbg {   
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
} */

@media screen and (max-width: 767px) {
  .mainWrapper.cscbg {
    .listtyoP {
      left: 50%;
      width: 500px;
      margin-left: -250px;
      .rmore.csc {
        width: 214px;
        left: 50%;
        position: relative;
        margin-left: -107px;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 533px) {
  $width: 100%;
  .mainWrapper.cscbg {
    .listtyoP {
      left: 0;
      width: $width;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .mainWrapper.cscbg {
    .listtyoP {
      .rmore.csc {
        width: 214px;
        left: 50%;
        position: relative;
        margin-left: -107px;
      }
    }
  }
}
.errorbggreay-new {
  .equial-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section {
    padding: 50px 0 !important;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    .errorPageContainer {
      text-align: center;
      .numberText {
        font-family: "Bubblegum Sans", cursive;
        color: #000;
        font-size: 80px;
        font-weight: 700;
        display: inline-block;
        letter-spacing: 0.04em;
        i {
          font-style: normal;
          color: #fdb701;
        }
      }
      h2 {
        color: #000;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        margin: 0 0 0 15px;
        display: inline-block;
        position: relative;
        top: -19px;
      }
      @media screen and (max-width: 935px) {
        h2 {
          margin-left: 0;
          width: 100%;
        }
      }
      ul {
        list-style: none;
        @include margin(0 auto 15px);
        @include padding(0 15px);
        width: auto;
        display: table;
        float: initial;
        li {
          float: left;
          width: auto;
          text-align: center;
          @include margin(5px 7.5px);
          a {
            color: #fdb701;
            text-decoration: underline;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            &:hover {
              text-decoration: none;
              color: #000;
            }
          }
        }
        @media screen and (max-width: 935px) {
          li {
            width: 100%;
          }
        }
      }
      p {
        a {
          text-decoration: underline;
          color: #fdb701;
          margin: 0 2px;
          display: inline-block;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .scholarship-container {
    background: #fff;
    float: left;
    width: 100%;
    .box {
      padding: 60px 0;
      @include width(100%);
      background-size: $bg-size;
      display: $display-block;
    }
    .box.bg1 {
      @include width(100%);
      @include min-height(900px);
      margin: -118px auto 0;
    }
    .Scholarship-block {
      margin: 0 0 80px 0;
      .Scholarship-gd-top {
        text-align: $text-align-center;
        position: $pos-relative;
        h2,
        h4 {
          @include font-size(14px);
          color: $t-color-black;
          padding: 0.6em 1em 0.6em 1em;
          text-transform: uppercase;
          background-color: $bg-rga-alpha-color-yellow;
          font-weight: $font-weight-500;
          position: $pos-absolute;
          bottom: -30px;
          left: 50%;
          display: table;
          width: 180px;
          margin-left: -90px;
          margin-bottom: 0;
          a {
            display: table-cell;
            height: 40px;
            vertical-align: middle;
            text-decoration: none;
            color: #231f20;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .scholarship-container {
      .col-md-3 {
        width: 50%;
        float: left;
        .Scholarship-block {
          margin: 25px 0 0;
          .Scholarship-gd-top {
            h2 {
              bottom: 0;
              width: 100%;
              left: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 607px) {
    .scholarship-container {
      .col-md-3 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
