header {
  background-color: transparent;
}
.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.contact {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  margin-bottom: 72px;
  .backcontact {
    @extend .default-banner-property;
    background-image: $contact-top-banner;
    background-position: 44% 100%;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0 15px;
    }
  }
}

.collegeBoardiscount {
  width: 100%;
  float: left;
  padding: 60px 0;
  background: #fff;
  .wrapper {
    background: rgba(227, 227, 227, 0.1);
    text-align: center;
    width: 360px;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 2px 6px 0px #888888;
    @include border-radius(14px);
    h4 {
      background: #f0bd00;
      color: #fff;
      width: 100%;
      position: relative;
      padding: 15px 30px;
      float: left;
      font-size: 22px;
      margin: 0;
      border-top-right-radius: 14px;
      border-top-left-radius: 14px;
    }
    .amount {
      float: left;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #eadfdf;
      padding: 15px;

      h6 {
        color: #007f12;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 10px 0;
        text-align: center;
      }
    }
    input {
      padding: 2px;
    }
    ::-webkit-input-placeholder {
      padding: 2px;
    }
    .redeem {
      background: #228b31;
      color: #fff;
      font-size: 14px;
      text-align: center;
      border: 0;
      border: 1px solid #228b31;
      height: 31px;
      padding: 0 15px;
      font-weight: 400;
    }
    button.coupon {
      background: #f0bd00;
      color: #fff;
      font-size: 16px;
      text-align: center;
      height: 48px;
      width: auto;
      font-weight: 600;
      border: 0;
      border-radius: 30px;
      padding: 0 30px;
      border: 1px solid #e4a604;

      position: relative;
      margin: 15px 0;
    }
    p {
      float: left;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #eadfdf;
      padding: 15px;
      margin-bottom: 15px;
      color: #636363;
      margin: 0;
      font-size: 16px;
    }
  }
  .disabledBtn {
    cursor: not-allowed;
  }
  @media screen and (max-width: 400px) {
    .wrapper {
      width: 100%;
    }
  }
}
