header {
  background-color: map-get($colors, transparentBg);
}

.tnc {
  .graybg {
    background-color: rgb(244, 244, 244);
    @media screen and (max-width:991px){
      .container{
        .row{
          margin-left: -15px;
          margin-right: -15px;
        }
      }
    }
    .left {
      padding: 0;
      margin-top: 20px;
      font-size: 15px;
      line-height: 28px;
      margin-bottom:30px;
      .row {
        padding-left: 0;
      }
      p {
        color: rgb(35, 31, 32);
        font-weight: 400;
        text-align: justify;
      }
    }
    .right {
      background: #ffffff;
      position: absolute;
      right: 0;
      height: 100%;
      padding: 50px;
      h1 {
        color: rgb(35, 31, 32);
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase; 
        padding: 25px 15px 25px;       
      }
      img {
        @include padding(10px);
      }
    }
  }
  .row.marginEquals{
    margin-left:-15px;
    margin-right:-15px;
  }
}

.bggreay {
  .container{
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.tnc {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  .container{
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 991px){
    .container{
      .row{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .bgtnc {
    background: $static-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
  }
  .bggreay {    
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        margin-right: 20px;
        display: inline-block;
        padding-top: 0;
        a {
          color: #2b292b;
          font-weight: 600;
          font-weight: normal;
        }
      }
      /* li:after {
        content: "";
        position: $position-absolute;
        top: 8px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png)
          no-repeat -11px -227px;
        display: block;
      } */
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        a {
          color: #919191;
          pointer-events: none;
        }
      }
      li:last-child:after {
        display: none;
      }
    }
  }
}

.gray {
  background: #f4f4f4;
}
