.bguser {
  background: #f7f7f7;

  .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;

    .item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      justify-content: center;

      form {
        width: 500px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        padding: 30px;

        margin-bottom: 30px;

        .formelemt {
          padding: 15px 60px;

          .ctrl-wrapper {
            float: left;
            width: 100%;
            margin-bottom: 0;
            padding-top: 0;

            .form-group {
              margin-bottom: 15px;
              float: left;
              width: 100%;
              position: relative;

              .form-control {
                display: block;
                width: 100%;
                height: 30px;
                padding: 6px 12px 6px 0;
                font-size: 14px;
                line-height: 1.42857;
                background-color: transparent;
                background-image: none;
                border-radius: 0;
                border: 0px;
                box-shadow: none;
                border-bottom: 1px solid #c9cacc;
                color: #000; // padding-bottom:20px;
                // padding-top:20px;
              }
            }

            .error {
              font-size: 12px;
              text-align: left;
              position: absolute;
              padding: 5px 0;
              letter-spacing: 0;
              color: #f00;
              bottom: 30px;
            }
          }
        }
      }
    }
  }
}
