header {
  background-color: transparent;
}
.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.contact {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  margin-bottom: 72px;
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .backcontact {
    @extend .default-banner-property;
    background-image: $contact-top-banner;
    background-position: 44% 100%;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0 15px;
    }
  }
  h2 {
    @include margin(0 0 50px 0);
    @extend .icon-heading;
  }
  h2:before {
    content: "";
    background: url(#{$img-base-url}sprite.png) 0 -923px no-repeat;
    @extend .icon-headingbefore;
  }
  .bgcontact {
    background: #f7f6f6;
    height: 100%;
    @include padding(0 0 80px);
    margin-bottom: -80px;
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
    h4,
    h3 {
      font-size: 20px;
      letter-spacing: 1px;
      @include padding(0 0 0 45px);
      @include margin(0 0 50px 0);
    }
    h4:before {
      content: "";
      width: 80px;
      height: 40px;
      background: url(#{$img-base-url}sprite.png) 0 -1509px no-repeat;
      position: absolute;
      left: -20px;
      right: 0;
      vertical-align: 14px;
    }
    form {
      @include padding(0 20px 0 0);
      label {
        display: block;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        @include margin(0 0 6px 0);
      }
      .form-group {
        @include margin(0 0 14px 0);
        input,
        textarea {
          border-radius: 0;
        }
      }
      input[type="submit"] {
        @include margin(20px 0 0);
        @include padding(10px 30px);
        height: 46px;
        font-size: 15px;
      }
    }
    @media screen and (max-width:991px){
      form{
        padding-right:0
      }
    }
    .vdivider {
      border-right: 1px solid #000;
      height: 100%;
    }
    .addressformat {
      @include padding(0 0 0 40px);
      h3:before {
        content: "";
        width: 80px;
        height: 40px;
        background: url(#{$img-base-url}sprite.png) 0 -1465px no-repeat;
        position: absolute;
        left: 0px;
        right: 0;
        top: 0px;
        vertical-align: 14px;
      }
      @media screen and (max-width:991px){
        h3:before {
          background-position: -20px -1465px;
        }
      }
      address {
        a {
          color: #000;
        }
        p {
          position: $pos-relative;
          padding-left: 49px;
          font-size: 16px;
          padding-top: 5px;
        }
        p:first-child:before {
          @extend .addresscontent;
          background: url(#{$img-base-url}sprite.png) no-repeat -42px -1278px;
        }
        p:nth-child(2):before {
          @extend .addresscontent;
          background: url(#{$img-base-url}sprite.png) no-repeat -40px -1316px;
        }
        p:nth-child(3):before {
          @extend .addresscontent;
          background: url(#{$img-base-url}sprite.png) no-repeat -40px -1355px;
        }
        p:last-child:before {
          @extend .addresscontent;
          background: url(#{$img-base-url}sprite.png) no-repeat -38px -1389px;
        }
      }
    }
    @media screen and (max-width:991px){
      .addressformat{
        padding: 0 0 0 15px;
      }
    }
  }
  .form-group,
  .form-group.textAreaCrtl {
    margin-bottom: 15px;
    position: $pos-relative;
    dd.error,
    span.error {
      position: $pos-absolute;
      right: 0;
      color: $red-color;
      @include font-size(12px);
      bottom: 51px;
      background-color: $white-color;
      padding: 10px;
      width: auto;
      border-radius: 5px;
      -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    }
    dd.error,
    span.error:after {
      content: "";
      position: $pos-absolute;
      bottom: -6px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      margin-left: -5px;
    }
    .form-control.two-col-ctrl {
      float: $text-align-left;
      width: 47.9%;
    }
    .form-control.two-col-ctrl.first-ele {
      margin-right: 15px;
    }
    textarea.form-control {
      resize: none;
    }
  }
  .form-group.textAreaCrtl {
    dd.error,
    span.error {
      bottom: 126px;
    }
  }
}
