@media screen and (max-width: 991px) {
  .contact {
    .bgcontact {
      .addressformat {
        margin-top: 40px;
      }
      .vdivider {
        border: 0;
        border-bottom: 1px solid #000;
        height: auto;
        width: 100%;
        display: block;
        overflow: auto;
        padding-bottom: 36px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contact {
    .backcontact {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .contact {
    .bgcontact {
      .addressformat {
        address {
          span {
            display: none;
          }
          a {
            color: #000;
            display: block;
          }
        }
      }
    }
  }
}
