.alert-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99991;
  background: rgba(0, 0, 0, 0.78);
  left: 0;
  top: 0;
  .alertPopup {
    position: fixed;
    width: 450px;
    height: auto;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    z-index: 99991;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    min-height: 150px;
    margin-top: -75px;
    display: table;
    .innerContainer {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      min-height: 150px;
      height: auto;
      .close {
        cursor: pointer;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 15px;
        position: absolute;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        width: auto;
        margin-bottom: 15px;
        position: relative;
        margin-left: 0;
        text-align: center;
        padding-top: 0;
      }
      p.cancel-icon {
        color: #cc0000;
        padding-top: 30px;
        i {
          font-style: normal;
          display: block;
          text-align: center;
          margin: 0 0 15px;
          &:before {
            content: "";
            position: absolute;
            top: -8px;
            left: 47%;
            height: 30px;
            width: 30px;
            background: url(#{$img-base-url}icon-cancel.png) no-repeat 0 0;
            background-size: 30px;
          }
        }
      }
      p.success-icon {
        color: #4bb543;
        padding-top: 30px;
        i {
          font-style: normal;
          display: block;
          text-align: center;
          margin: 0 0 15px;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            height: 30px;
            width: 30px;
            background: url(#{$img-base-url}icon-success.png) no-repeat 0 0;
            margin-left: -15px;
          }
        }
      }
      input {
        border: 1px solid #fdb701;
        display: block;
        height: 30px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        background: #fdb701;
        border-radius: 5px;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        padding: 0 15px;
        margin: 0 auto;
        user-select: none;
        outline: none;
        &:hover {
          background: transparent;
          color: #231f20;
        }
      }
      button {
        border: 1px solid #fdb701;
        display: block;
        height: 30px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        background: #fdb701;
        border-radius: 5px;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        padding: 0 15px;
        margin: 0 auto;
        user-select: none;
        &:hover {
          background: transparent;
          color: #231f20;
        }
      }
      .centerBut {
        width: 200px;
        margin: 0 auto;
        button {
          float: left;
          margin-left: 10px;
        }
      }
    }
  }
  .alertPopup.popupPos {
    height: 256px;
    margin-top: -128px;
  }
  @media screen and (max-width: 480px) {
    .alertPopup {
      width: 96%;
      margin-left: -48%;
      padding: 30px 10px;
    }
    .alertPopup.popupPos {
      width: 96%;
      margin-left: -48%;
      padding: 30px 10px;
    }
  }
}

.hide {
  display: none;
}
