/* App Notification banner */
.appNotificationWrpper {
  background: #3e518b;
  height: 54px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  /*   float: left; */
  width: 100%;
  position: relative;
  padding: 0 15px;
  z-index: 1;
  top: 0;
  margin-top: -70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .content-wrapper {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 9px 0;
    font-weight: 700;
    position: relative;
    dd.crossPopup {
      color: #fff;
      cursor: pointer;
      font-size: 27px;
      width: 25px;
      height: 25px;
      line-height: 21px;
      text-align: center;
      left: 1px;
      border-right: 0;
      position: absolute;
      top: 5px;
    }
    @media screen and (max-width: 480px) {
      dd.crossPopup {
        left: 0;
        top: 5px;
      }
    }
    @media screen and (max-width: 365px) {
      dd.crossPopup {
        left: 0;
        top: 5px;
      }
    }
    @media screen and (max-width: 330px) {
      dd.crossPopup {
        left: -5px;
        top: 6px;
        font-size: 20px;
      }
    }
    a {
      color: #3e518b;
      font-size: 14px;
      font-weight: 600;
      background: #fff;
      border-radius: 30px;
      border: 0;
      padding: 8px 20px;
      text-decoration: none;
      display: inline-block;
      margin-left: 10px;
      &:hover {
        text-decoration: none;
      }
    }
    @media screen and (max-width: 384px) {
      a {
        font-size: 13px;
      }
    }
    @media screen and (max-width: 365px) {
      a {
        font-size: 12px;
        padding: 8px 10px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .content-wrapper {
      font-size: 16px;
      text-align: right;
    }
  }
  @media screen and (max-width: 414px) {
    .content-wrapper {
      font-size: 14px;
      text-align: right;
    }
  }
  @media screen and (max-width: 384px) {
    .content-wrapper {
      font-size: 13px;
      text-align: right;
    }
  }
  @media screen and (max-width: 365px) {
    .content-wrapper {
      font-size: 12px;
      text-align: right;
    }
  }
}
@media screen and (max-width: 480px) {
  .appNotificationWrpper {
    padding: 0 6px;
    z-index: 2;
  }
}

.appNotificationWrpper.in {
  margin-top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 991px) {
  .appNotificationWrpper.in {
    display: block;
  }
}

/* Slide app popup */
.slideAppPopupWrapper {
  position: fixed;
  height: 120px;
  left: 50%;
  bottom: -120px;
  margin-left: -197px;
  width: 394px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: ani-close 1s forwards;
  animation: ani-close 1s forwards;
  opacity: 0;
  z-index: -1;
  dd.crossPopup,
  dd.crossPopupCookies {
    color: #000;
    cursor: pointer;
    font-size: 27px;
    width: 25px;
    height: 25px;
    line-height: 21px;
    text-align: center;
    right: -7px;
    border-right: 0;
    float: right;
    position: relative;
  }
  dd.crossPopupCookies {
    display: none;
  }
  p {
    font-size: 14px;
    color: #fdb701;
    float: left;
    margin-bottom: 10px;
    width: auto;
    text-align: left;
    font-weight: 400;
  }
  span {
    float: left;
    width: 100%;
    img {
      width: 27px;
      height: auto;
      float: left;
      margin-right: 10px;
    }
    i {
      font-size: 12px;
      color: #000;
      font-style: normal;
      text-align: left;
      line-height: 15px;
      display: inherit;
    }
  }
  a {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    background: #fdb701;
    border-radius: 30px;
    float: right;
    border: 0;
    padding: 8px 20px;
    margin-top: 3px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.slideAppPopupWrapper.open {
  opacity: 1;
  bottom: 0;
  z-index: 3;
  -webkit-animation: ani-show 1s ease-in-out forwards;
  animation: ani-show 1s ease-in-out forwards;
}
@media screen and (max-width: 384px) {
  .slideAppPopupWrapper.open {
    margin-left: 0;
    width: 100%;
    padding: 10px;
    left: 0;
  }
}

@keyframes ani-show {
  from {
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }
}
@keyframes ani-close {
  from {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }
  to {
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
  }
}
