html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-Lato;
  font-size: 16px;
  background: map-get($colors, whiteColor);
  overflow-x: hidden;
  font-style: normal;
  letter-spacing: 1px;
  position: relative;
  line-height: 1.3;
}

body.scrollDisable {
  overflow: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}

.handPointer {
  cursor: pointer;
}

.handPointer:hover {
  text-decoration: underline;
}

.thankspage {
  img {
    display: block;
    margin: 0 auto;
  }
}

.noData {
  margin-top: 30px;
}

/* Moment Wrapper */

.momentWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  display: table;
  .tblCell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    p {
      float: left;
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      color: #1a1a18;
    }
    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      article {
        position: absolute;
        border: 4px solid #1a1a18;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        article:nth-child(2) {
          animation-delay: -0.5s;
        }
      }
    }
    @keyframes lds-ripple {
      0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
      }
    }
  }
}

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $caret-width-base dashed;
  border-top: $caret-width-base solid \9; // IE8
  border-right: $caret-width-base solid transparent;
  border-left: $caret-width-base solid transparent;
}

.equial-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.paddingtop {
  padding: 0;
}

.buddy-heading {
  padding: 0;
  img {
    margin: 0;
  }
  h2,
  h3,
  h4,
  h5,
  h1.title,
  h1.title-noimg,
  h1.titleLHS {
    @include font-size(30px);
    @include line-height(1.5);
    color: $t-color-white;
    font-weight: $font-weight-500;
    position: $pos-relative;
  }
  h1.title,
  h1.title-noimg,
  h1.titleLHS,
  h2,
  h3,
  h5 {
    text-align: center;
    color: $black-color;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  h1.titleLHS {
    margin-top: 0;
    text-align: left;
    img {
      float: left;
      margin: 0 13px 0 0;
      padding: 0;
      width: 70px;
      position: relative;
      top: 2px;
    }
  }
  h1.title-noimg,
  h1.title,
  h1.titleLHS {
    text-transform: none;
  }
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: initial;
  }
  h1.titleLHS:before {
    display: none;
  }
  p {
    @include font-size(18px);
    @include line-height(1.3);
    color: $t-color-black;
    font-weight: 400;
    margin: 0 0 20px;
  }
}

.btn-primary,
.btn-primary:hover {
  background-color: $bg-color-yellow;
  border-color: $bg-color-yellow;
  color: $t-color-black;
}

.btn.mi-btn {
  color: $white-color;
}

.btn.mi-btn:hover {
  color: $t-color-black;
}

.equial-padding-t {
  padding-top: 60px;
}

.equial-padding-b {
  padding-bottom: 60px;
}

a {
  cursor: pointer;
}

.icon-heading {
  color: #000;
  position: relative;
  text-align: center;
  padding-top: 110px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.icon-headingbefore {
  content: "";
  display: block;
  width: 100px;
  height: 75px;
  margin-left: -53px;
  position: absolute;
  left: 50%;
  top: 30px;
  background: $bg-color-grey;
  padding: 15px 0 5px;
  ul {
    li {
      position: relative;
      margin-left: 28px;
      display: inline;
      padding-top: 4px;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: absolute;
      top: 7px;
      right: -18px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}b4s_pop.png) no-repeat -11px -227px;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
        padding-top: 7px;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.float-none {
  float: none !important;
}

// breadcrum trail
.bggreay {
  background: $bg-color-grey;
  padding: 15px 0;
  top: -3px;
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 8px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.btn-short {
  border: 1px solid #fdb701;
  display: inline-block;
  height: 38px;
  text-align: center;
  color: #231f20;
  font-weight: 500;
  background: 0 0;
  border-radius: 30px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  padding: 6px 30px;
  margin: 30px 0 0;
}

.btn {
  border: 1px solid #fdb701;
  display: inline-block;
  height: 46px;
  text-align: center;
  color: #231f20;
  font-weight: 500;
  background: 0 0;
  border-radius: 30px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  padding: 12px 30px;
  margin: 30px 0 0;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  outline: none !important;
}

.btn:hover,
.btn:focus {
  background: #fdb701;
  border: 1px solid #fdb701;
}

.btn-yellow,
a.btn-yellow {
  border: 1px solid #fdb701;
  display: inline-block;
  height: 58px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  background: #fdb701;
  border-radius: 30px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  padding: 17px 30px;
  margin: 30px 0 0;
}

.btn-yellow:hover,
a.btn-yellow:hover {
  background: transparent;
  text-decoration: none;
  color: #000000;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.popup {
  html,
  body,
  .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .popupsms {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
  }
  .popupsms.overLay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 99999;
  }
  .popup_inner {
    position: absolute;
    left: 15%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    margin: auto;
    background: transparent;
    border: 0px solid #f2f2f2;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 350px;
    overflow-y: auto;
  }
  .popup_inner.overLayIn {
    position: absolute;
    top: 50%;
    width: 900px;
    height: 342px;
    left: 50%;
    margin-left: -450px;
    margin-top: -500%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .popupteam {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    -webkit-transition: all 400ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 400ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 400ms ease-in;
    -moz-transform: scale(1);
    transition: all 400ms ease-in;
  }
  .popupteam::-webkit-scrollbar {
    width: 5px;
  }
  .popupteam::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .popupteam::-webkit-scrollbar-thumb {
    background-color: #92a1af;
    outline: 1px solid #5f6189;
  }
  .popup_inner::-webkit-scrollbar {
    width: 5px;
  }
  .popup_inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .popup_inner::-webkit-scrollbar-thumb {
    background-color: #92a1af;
    outline: 1px solid #5f6189;
  }
  /* Login & registration popup */
  .loginpopup {
    width: 400px;
    height: 560px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    p {
      // text-align: center;
      float: left;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    p.footerText,
    p.footerText1 {
      position: relative;
      top: 0;
      margin: 0;
    }
    p.footerText1 {
      display: none;
    }
    .LoginRegPopup {
      /* border: 2px solid #fff;
      background:#fff; */
      .modal {
        .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-12 {
                .moboContentScroll {
                  height: auto;
                  overflow: none;
                  p.footerText1 {
                    display: none;
                  }
                }
              }

              @media screen and (max-width: 730px) {
                .col-md-7 {
                  .socialLoginWrapper {
                    width: 100%;
                    float: left;
                    text-align: center;
                  }
                }
              }
              @media only screen and (max-width: 603px) {
                .col-md-7 {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
              @media only screen and (max-width: 480px) {
                .col-md-7 {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
              @media screen and (max-width: 400px) {
                .col-md-7 {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 853px) {
    .loginpopup {
      height: 466px;
      margin-top: -233px;
      width: 98%;
      margin-left: -49%;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                margin: 15px 15px 29px;

                .col-md-7 {
                  .outer-tab-wrapper {
                    #tab-2 {
                      float: left;
                      width: 100%;
                      margin-bottom: 45px;
                    }
                  }
                  .outer-tab-wrapper.vleMarginTop {
                    .paddingtop65 {
                      padding-top: 22px;
                    }
                  }
                }
              }
            }
          }
        }
        p.footerText {
          top: -20px;
        }
      }
    }
  }
  @media screen and (max-width: 736px) {
    .loginpopup {
      height: 408px;
      margin-top: -204px;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-12 {
                  .outer-tab-wrapper {
                    #tab-2 {
                      margin-bottom: 0;
                    }
                  }
                  .moboContentScroll {
                    height: 265px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    p.footerText1 {
                      display: block;
                    }
                  }
                  .moboContentScroll.scrollDisable {
                    overflow: scroll;
                  }

                  .moboContentScroll::-webkit-scrollbar {
                    width: 5px;
                  }
                  .moboContentScroll::-moz-scrollbar {
                    width: 5px;
                  }
                  .moboContentScroll::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  }
                  .moboContentScroll::-moz-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  }

                  .moboContentScroll::-webkit-scrollbar-thumb {
                    background-color: #f0bd00;
                    outline: 1px solid #5f6189;
                  }
                  .moboContentScroll::-moz-scrollbar-thumb {
                    background-color: #f0bd00;
                    outline: 1px solid #5f6189;
                  }
                }
              }
            }
          }
        }
        p.footerText {
          position: relative;
          top: 0;
          // display: none;
        }
      }
    }
  }
  @media screen and (max-width: 667px) {
    .loginpopup {
      height: 360px;
      margin-top: -180px;
      .LoginRegPopup {
        p.footerText {
          position: relative;
          top: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .loginpopup {
      height: 350px;
      margin-top: -175px;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-7 {
                  .outer-tab-wrapper {
                    #tab-2 {
                      margin-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        p.footerText {
          top: 9px;
          padding-bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width: 603px) {
    .loginpopup {
      height: 100%;
      margin-top: -25%;
      top: 50%;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-7 {
                  .outer-tab-wrapper {
                    #tab-1,
                    #tab-2 {
                      overflow: hidden;
                    }
                  }
                  .outer-tab-wrapper.vleMarginTop {
                    #tab-1,
                    #tab-2 {
                      padding-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .modal.modelAuthPopup1 {
          .modelBg.emailverification {
            margin-top: -164px;
          }
          .modelBg.emailverification.internal {
            margin-top: -214px;
          }
        }

        p.footerText {
          top: 5px;
          padding-bottom: 0;
          font-size: 14px;
          line-height: 1.3;
        }
      }
    }
  }
  @media only screen and (max-width: 568px) {
    .loginpopup {
      width: 90%;
      height: 290px;
      left: 50%;
      top: 50%;
      margin-left: -45%;
      margin-top: -145px;
      .LoginRegPopup {
        .modal.modelAuthPopup1 {
          .modelBg.emailverification {
            margin-top: -133px;
          }
        }
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-12 {
                  .moboContentScroll {
                    height: 212px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 532px) {
    .LoginRegPopup
      .modal.modelAuthPopup1
      .modelBg.login
      .modal-body
      .mg-btm
      .outer-tab-wrapper.vleMarginTop {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 490px) {
    .loginpopup {
      height: 420px;
      top: 50%;
      margin-top: -210px;
      .LoginRegPopup {
        .modal.modelAuthPopup1 {
          .modelBg.emailverification {
            width: 100%;
            margin-left: -50%;
          }
        }
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-7 {
                  .moboContentScroll {
                    p.footerText1 {
                      top: 85px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    .loginpopup {
      height: 378px;
      top: 50%;
      margin-top: -189px;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-7 {
                  .outer-tab-wrapper {
                    #tab-2 {
                      float: left;
                      width: 100%;
                      margin-bottom: 30px;
                    }
                  }
                }
              }
            }
          }
        }
        .modal.modelAuthPopup1 {
          .modelBg.login {
            .modal-body {
              .mg-btm {
                .outer-tab-wrapper {
                  ul.tabs {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        p.footerText {
          top: 30px;
          font-size: 14px;
          padding-bottom: 15px;
          line-height: 1.3;
        }
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .loginpopup {
      width: 96%;
      height: 314px;
      left: 50%;
      top: 50%;
      margin-left: -48%;
      margin-top: -157px;
      .LoginRegPopup {
        p.footerText {
          top: 10px;
        }
      }
    }
  }
  .popup_inner.premium-popup {
    max-width: 750px;
    width: 100%;
    height: 400px;
    background: #ffffff;
    padding-top: 20px;
    left: 50%;
    top: 50%;
    margin-left: -375px;
    margin-top: -200px;
    overflow-y: hidden;
    h1 {
      font-size: 33px !important;
      margin-bottom: 15px !important;
      font-weight: normal !important;
    }
    @media screen and (max-width: 991px) {
      h1 {
        padding-left: 0 !important;
      }
    }
    @media screen and (max-width: 568px) {
      h1 {
        font-size: 25px !important;
      }
      p.subtitle {
        display: none !important;
      }
    }
    @media screen and (max-width: 736px) {
      .btn-ctrl {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0 0 0 8px;
        #preAnnMem .im-checkout .im-checkout-btn.btn--flat {
          padding-left: 0 !important;
          padding-right: 0 !important;
          width: 90% !important;
          margin-left: 28px;
        }
      }
    }
    @media screen and (max-width: 360px) {
      h1 {
        font-size: 22px !important;
      }
    }
    h1:after {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .popup_inner.premium-popup {
      max-width: inherit;
      width: 96%;
      height: 400px;
      background: #ffffff;
      padding-top: 20px;
      left: 50%;
      top: 50%;
      margin-left: -48%;
      margin-top: -200px;
      overflow-y: auto;
    }
  }
  .close,
  .close:focus,
  .close:hover {
    color: #c0c0c1;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.78;
    padding: 0;
    outline: 0;
    font-size: 45px;
    font-weight: 200;
    position: absolute;
    right: 11px;
    top: 5px;
    height: 35px;
    width: 35px;
    margin: 0;
    text-align: center;
    line-height: 6px;
    background: transparent;
    border: 0;
    i {
      position: relative;
      font-style: normal;
    }
  }
  .close.btnPos {
    right: 6px;
    top: 6px;
  }
  .close:hover {
    color: #fdb701;
    opacity: 1;
  }
}

.popupSubscribe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  .popup_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin-left: -300px;
    background: #fff;
    border-radius: 10px;
    height: 350px;
    margin-top: -165px;
    display: table;
    .subscribePopup {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 350px;
      .close,
      .close:focus,
      .close:hover {
        color: #c0c0c1;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.78;
        padding: 0;
        outline: 0;
        font-size: 45px;
        font-weight: 200;
        position: absolute;
        right: 11px;
        top: 5px;
        height: 35px;
        width: 35px;
        margin: 0;
        text-align: center;
        line-height: 6px;
        background: transparent;
        border: 0;
        z-index: 1;
        i {
          position: relative;
          font-style: normal;
        }
      }
      .close:hover {
        color: #fdb701;
        opacity: 1;
      }
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
      span {
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        position: relative;
        .fa-inr {
          position: absolute;
          left: -15px;
          top: 12px;
          font-size: 24px;
        }
      }
      .btn-ctrl {
        float: left;
        width: 100%;
        margin-top: 15px;
        #preAnnMem {
          .im-checkout {
            width: 300px;
            margin: 0 auto;
            .im-checkout-btn.btn--flat {
              border: 1px solid #fdb701;
              display: inline-block;
              height: 46px;
              text-align: center;
              color: #231f20;
              font-weight: 500;
              background: 0 0;
              border-radius: 30px;
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              padding: 12px 30px;
              margin: 0;
              -webkit-user-select: none !important;
              -moz-user-select: none !important;
              -o-user-select: none !important;
              -ms-user-select: none !important;
              user-select: none !important;
              outline: none !important;
              text-decoration: none;
              &:hover {
                background: #fdb701;
                border: 1px solid #fdb701;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 636px) {
    .popup_inner {
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      left: 0;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .popup_inner {
      height: 300px;
      margin-top: -150px;
      .subscribePopup {
        height: 300px;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .popup_inner {
      height: 300px;
      margin-top: -150px;
      .subscribePopup {
        height: 300px;
      }
    }
  }
}

.premium-row-details {
  background-color: $white-color;
  color: $t-color-black;
  .col-md-4,
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    .margin-top {
      margin-top: 50px;
    }
    .btn-ctrl {
      float: left;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 0;
      #annMem,
      #preAnnMem {
        .im-checkout {
          max-width: initial;
          margin-bottom: 20px;
          .im-checkout-btn {
            outline: none;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            display: block;
          }
          .im-checkout-btn.btn--flat {
            margin: 0 auto;
            width: 320px;
            background: transparent;
            border: 1px solid #fdb701;
            cursor: pointer;
            color: $t-color-black;
            @include font-size(16px);
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all 0.3s;
            font-weight: $font-weight-400;
            padding-left: 25px;
            padding-right: 25px;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            @include border-radius(30px);
            height: initial;
            line-height: initial;
            float: none;
            letter-spacing: 0.6px;
          }
          .im-checkout-btn.btn--flat:focus,
          .im-checkout-btn.btn--flat:hover {
            background: #fdb701;
            text-decoration: $text-decoration-none;
            -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            color: $t-color-black;
          }
        }
      }
      button {
        margin: 0;
        width: auto;
        background: transparent;
        border: 1px solid #fdb701;
        cursor: pointer;
        color: $t-color-black;
        @include font-size(16px);
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;
        font-weight: $font-weight-400;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        @include border-radius(30px);
        height: initial;
        line-height: initial;
        float: none;
      }
      button:hover {
        background: #fdb701;
        text-decoration: $text-decoration-none;
        -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
        -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
        box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        color: $t-color-black;
      }
    }
    .cell-bg {
      padding: 0;
      float: left;
    }
    i {
      @include font-size(44px);
      font-weight: 500;
      color: #154cb5;
      position: $pos-relative;
      top: 25px;
      font-style: normal;
    }
    i:before {
      content: "\f156";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position: relative;
      color: $t-color-black;
      right: 6px;
      top: -16px;
      @include font-size(18px);
    }
    p:last-child {
      font-weight: 500;
      margin-top: 30px;
      font-size: 30px;
      margin-bottom: 50px;
      span {
        color: $bg-color-yellow;
        width: 100%;
        float: left;
      }
    }
    .col-margin-about {
      margin-top: 20px;
      float: left;
      padding: 0;
    }
    .icon {
      float: $float-L;
      width: 50px;
    }
    .details {
      width: 100%;
      position: relative;
      margin-bottom: 0;
      float: left;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      height: 196px;
      h5 {
        float: $float-L;
        @include font-size(24px);
        font-weight: $font-weight-400;
        margin: 0 0 0 55px;
        padding-top: 18px;
        text-align: left;
      }
      h5:before {
        content: "";
        background: url(#{$img-base-url}premium1.png) no-repeat;
        width: 65px;
        height: 75px;
        position: absolute;
        left: -15px;
        top: 12px;
      }
      h5.ap:before {
        background-position: 0 -173px;
      }
      h5.ps:before {
        background-position: 0 -254px;
        top: 7px;
      }
      h5.dm:before {
        background-position: 0 -324px;
        top: 7px;
      }
      p {
        padding: 0 0 0 55px;
        line-height: 1.5;
        float: $float-L;
        font-size: 18px;
        font-weight: 400;
        margin: 15px 0 0;
      }
    }
    .details:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
  @media screen and (max-width: 991px) {
    .col-md-12 {
      width: 100%;
      h1,
      p {
        float: left;
        width: 100%;
        padding-left: 0;
        margin-top: 0;
      }
      .col-md-6 {
        float: left;
        width: 50%;
        padding-left: 0;
        margin-top: 0;
      }
    }
  }
  @media screen and (max-width: 736px) {
    .col-md-12 {
      width: 100%;
      .col-md-6 {
        float: left;
        width: 100%;
      }
    }
  }
  .container {
    .row.margin-top {
      margin-top: 50px;
    }
  }
}

.form-group,
.form-group.textAreaCrtl {
  /*  margin-bottom: 15px; */
  position: $pos-relative;
  dd.error,
  span.error {
    position: $pos-absolute;
    right: 0;
    color: $red-color;
    @include font-size(12px);
    bottom: 46px;
    background-color: $white-color;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  dd.error,
  span.error:after {
    content: "";
    position: $pos-absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    margin-left: -5px;
  }
  .form-control.two-col-ctrl {
    float: $text-align-left;
    width: 47.9%;
  }
  .form-control.two-col-ctrl.first-ele {
    margin-right: 15px;
  }
}

.form-group.textAreaCrtl {
  dd.error,
  span.error {
    bottom: 126px;
  }
}
.form-group.lefterror {
  dd.error,
  span.error {
    left: 0;
    right: initial;
    bottom: -30px;
    top: initial;
    -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.5);
  }
  dd.error,
  span.error:after {
    bottom: initial;
    top: -17px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left: -10px;
  }
}

.form-group.textAreaCrtlfaq {
  dd.error,
  span.error {
    bottom: 62px;
  }
}

.form-control {
  border-radius: 0;
}

/* input,
textarea,
select, */

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-outline: none;
  -moz-outline: none;
  -o-outline: none;
  outline: none;
}

.black {
  background-color: #000000;
}
.white {
  background-color: #fff;
}

.transparent {
  background-color: transparent;
}
.transparentTopNav {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.rmore {
  float: left;
  @include font-size(16px);
  color: $black-color;
  padding: 10px 20px;
  border: 1px solid #e7b420;
  background: #e7b420;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    text-decoration: none;
    background: $white-color;
  }
}

.cell-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Video Overlay popup Container */

.videoOverlay {
  background: rgba(0, 0, 0, 0.78);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  .videoContainer {
    position: absolute;
    width: 640px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -320px;
    .close {
      top: -11px;
      font-weight: 300;
      position: absolute;
      background: transparent;
      color: #fff;
      right: -40px;
      opacity: 1;
      width: 38px;
      height: 36px;
      text-align: center;
      font-size: 40px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: 0;
      border: 0;
      line-height: 24px;
      i {
        position: relative;
        left: -2px;
        font-style: italic;
      }
    }
    object,
    video {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      float: left;
    }
  }
  @media screen and (max-width: 767px) {
    .videoContainer {
      width: 96%;
      left: 0;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

/* Notification Icon */

#onesignal-bell-container.onesignal-reset.onesignal-bell-container-bottom-right {
  bottom: -10px !important;
  right: initial;
  left: 30px;
}

#onesignal-bell-container.onesignal-reset
  .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right
  .onesignal-bell-launcher-button {
  right: 10px !important;
}

#onesignal-bell-container.onesignal-reset
  .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right {
  bottom: 9px;
  left: 0;
}

#onesignal-bell-container.onesignal-reset
  .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right.onesignal-bell-launcher-md
  .onesignal-bell-launcher-message {
  left: 55px;
  right: initial !important;
}

#onesignal-bell-container.onesignal-reset
  .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right
  .onesignal-bell-launcher-message:after {
  left: -20px !important;
  border-right-color: #000 !important;
}

#onesignal-bell-container.onesignal-reset
  .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right
  .onesignal-bell-launcher-message:after {
  right: 100% !important;
  /* border-right-color: #000 !important; */
  left: initial;
  border-right-color: #000 !important;
  /* left: initial; */
  border-left-color: transparent !important;
}

/* .needHelpBtn {
  .needHelp-msg {
      position: absolute;
      top: 0;
      right: -2px;
      background: #fff;
      border-radius: 10px;
      padding: 0 0 15px;
      -webkit-box-shadow: 0 0 30px 16px rgba(0, 0, 0, .1);
      box-shadow: 0 0 30px 16px rgba(0, 0, 0, .1);
      display: none;
      z-index: 1;
      text-align: center;
      width: 370px;
      h4 {
          background: #fdb701 !important;
          margin: 0 auto 7px !important;
          height: 28px;
          font-size: 15px !important;
          line-height: 28px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          position: relative !important;
          padding: 0 !important;
          text-align: center !important;
      }
      span {
          font-size: 14px;
          font-weight: 500;
          color: #000;
          float: left;
          width: 100%;
          a,
          a:hover {
              font-size: 16px;
              font-weight: 500;
              color: #000;
              text-decoration: underline;
              margin: 0 5px;
          }
      }
      i {
          font-weight: 500;
          color: #000;
          font-size: 12px;
      }
      i.closeMsg {
          position: absolute;
          top: -1px;
          right: 6px;
          font-size: 14px;
          font-weight: 500;
          color: #000;
          width: 15px;
          height: 15px;
          z-index: 99;
          cursor: pointer;
      }
  }
} */

.paddingtop65 {
  padding-top: 65px;
}

.paymentAck {
  padding: 60px 0;
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    i {
      background-color: #e7b420;
      color: #000;
      font-size: 32px;
      padding: 10px;
      margin: 0 0 15px 0;
    }
    h1,
    p {
      width: 100%;
      text-align: center;
    }
    h1 {
      font-size: 24px;
      padding: 0 0 30px 0;
    }
    p {
      font-size: 18px;
      padding: 0 0 15px 0;
    }
  }
}

.bullet {
  color: red;
  font-size: 7px;
  position: relative;
  left: 8px;
  top: -2px;
  @media screen and (max-width: 767px) {
    font-size: 5px;
    position: absolute;
    right: 7px;
    display: block;
    left: initial;
    top: 18px;
  }
}

.watch-video {
  margin: 16px 0 0 0;
  padding: 0 0 0 34px;
  font-weight: 600;
  text-align: right;
  font-size: 14px;
  position: relative;
  color: #4e4e91;
  cursor: pointer;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 90px;
    width: 36px;
    height: 24px;
    background: url(https://buddy4study.s3.ap-southeast-1.amazonaws.com/static/images/video.png)
      no-repeat 0 0;
    background-size: 91%;
    margin-top: -15px;
  }
}

.alertOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Auth Popup */
  /* Login With Popup */
  .alertPopup {
    background: #000;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    width: 500px;
    height: 360px;
    padding: 15px 0;
    position: relative;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    .icoTimes {
      position: absolute;
      right: 13px;
      top: 13.5px;
      width: 22px;
      height: 22px;
      opacity: 1;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.3;
        transition: all 0.5s ease;
      }
      &:before,
      &:after {
        position: absolute;
        left: 11px;
        content: " ";
        height: 22px;
        width: 1px;
        background-color: #ffffff;
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    .innerContainer {
      display: flex;
      iframe {
        border: 0;
        width: 460px;
        height: 320px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .alertPopup {
      width: 90%;
    }
    .alertPopup.innerContainer {
      iframe {
        width: 90%;
      }
    }
  }
}

.hide {
  display: none;
}
