/* 800 - 1280 */
@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape) {
  .stickyHaderWrapper {
    header {
      .searchContent {
        padding-left: 0;
        .navigationWrapper {
          nav.site-nav {
            ul {
              li {
                margin-right: 8px;
              }
              li:nth-child(4) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) {
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 768 - 1024 */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .needHelpBtn {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 603 - 966 */
@media only screen and (min-width: 603px) and (max-width: 966px) and (orientation: landscape) {
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 326px;
        margin-top: -163px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
            }
            span.error {
              right: 8px;
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
}
@media only screen and (min-width: 603px) and (max-width: 966px) and (orientation: portrait) {
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 326px;
        margin-top: -163px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
            }
            span.error {
              right: 8px;
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 600 - 1024 */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .needHelpBtn {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 533 - 853 */
@media only screen and (min-width: 533px) and (max-width: 853px) and (orientation: landscape) {
  .popup {
    .loginpopup {
      height: 504px;
      margin-top: -252px;
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -207px !important;
      .scholar {
        iframe {
          height: 350px !important;
        }
      }
    }
  }
}
@media only screen and (min-width: 533px) and (max-width: 853px) and (orientation: portrait) {
  .popup {
    .loginpopup {
      height: 460px;
      margin-top: -230px;
      .LoginRegPopup {
        .modal {
          .modal-dialog {
            .modal-content {
              .modal-body {
                .col-md-7 {
                  .moboContentScroll {
                    height: 362px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 480 - 853 */
@media only screen and (min-width: 480px) and (max-width: 853px) and (orientation: landscape) {
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {      
      height: 460px;      
      margin-top: -230px;
      overflow-y: auto;
    } 
  } 
}
@media only screen and (min-width: 480px) and (max-width: 853px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }

  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }  
}
/* 414 - 736 */
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
  .popup {
    .loginpopup {
      height: 430px;
      margin-top: -215px;
      .LoginRegPopup {
        .modal .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-7 {
                .moboContentScroll {
                  height: 308px;
                }
              }
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 326px;
        margin-top: -163px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
            }
            span.error {
              right: 8px;
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -177px !important;
      .scholar {
        iframe {
          height: 310px !important;
        }
      }
    }
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 400px;      
      margin-top: -200px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 414 - 690 */
@media only screen and (min-width: 412px) and (max-width: 690px) and (orientation: landscape) {
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 326px;
        margin-top: -163px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
              span.error {
                right: 8px;
              }
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -154px !important;
      .scholar {
        iframe {
          height: 270px !important;
        }
      }
    }
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 400px;      
      margin-top: -200px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 690px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 384 - 640 */
@media only screen and (min-width: 384px) and (max-width: 640px) and (orientation: landscape) {
  .needHelpBtn {
    display: none;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -140px !important;
      .scholar {
        iframe {
          height: 250px !important;
        }
      }
    }
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 370px;      
      margin-top: -185px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 384px) and (max-width: 640px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 375 - 667 */
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .filterLabelPos {
    height: 219px !important;
  }
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 326px;
        margin-top: -163px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
              span.error {
                right: 8px;
              }
            }
          }
        }
      }
    }
  }

  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -154px !important;
      .scholar {
        iframe {
          height: 270px !important;
        }
      }
    }
  }

  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 360px;      
      margin-top: -180px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 360 - 598 */
@media only screen and (min-width: 360px) and (max-width: 598px) and (orientation: landscape) {
  .needHelpBtn {
    display: none;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -130px !important;
      .scholar {
        iframe {
          height: 235px !important;
        }
      }
    }
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 350px;      
      margin-top: -175px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 598px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 360 - 640 */
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {
  .popup {
    .loginpopup {
      height: 380px;
      margin-top: -190px;
      .LoginRegPopup {
        .modal .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-7 {
                .moboContentScroll {
                  height: 256px;
                }
              }
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 350px;      
      margin-top: -175px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 320 - 568 */
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .popup {
    .loginpopup {
      height: 310px;
      margin-top: -155px;
      .LoginRegPopup {
        .modal .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-7 {
                .moboContentScroll {
                  height: 212px;
                  p.footerText1 {
                    top: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .LoginRegPopup .modal.modelAuthPopup1 .modelBg.login .modal-body .mg-btm .outer-tab-wrapper.vleMarginTop {
    margin-top: 0;
  }
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 290px;
        margin-top: -145px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
              span.error {
                right: 8px;
              }
            }
          }
        }
      }
    }
  }

  .needHelpBtn {
    display: block;
  }

  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -120px !important;
      .closeIcon {
        width: 25px !important;
        height: 25px !important;
        top: -32px !important;
        &:before,
        &:after {
          height: 25px !important;
        }
      }
      .scholar {
        iframe {
          height: 200px !important;
        }
      }
    }
  }

  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 310px;      
      margin-top: -155px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Career Resume upload popup */
  .subscribe_inner {    
    height: 558px;   
    margin-top: -279px;   
  }
}
/* 320 - 480 */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .popup {
    .loginpopup {
      height: 310px;
      margin-top: -155px;
      .LoginRegPopup {
        .modal .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-7 {
                .moboContentScroll {
                  height: 212px;
                  p.footerText1 {
                    top: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .LoginRegPopup .modal.modelAuthPopup1 .modelBg.login .modal-body .mg-btm .outer-tab-wrapper.vleMarginTop {
    margin-top: 0;
  }
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    .overlayNH {
      .nh-winPopup {
        height: 290px;
        margin-top: -145px;
        .ctrl-wrapper {
          .col-md-12 {
            .form-group {
              textarea.form-control {
                height: 47px;
              }
              span.error {
                right: 8px;
              }
            }
          }
        }
      }
    }
  }
  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -120px !important;
      .closeIcon {
        width: 25px !important;
        height: 25px !important;
        top: -32px !important;
        &:before,
        &:after {
          height: 25px !important;
        }
      }
      .scholar {
        iframe {
          height: 178px !important;
        }
      }
    }
  }
  /* Career Resume upload popup */
  .popup.careerPopupNew{
    .subscribe_inner {    
      height: 310px;      
      margin-top: -155px;
      overflow-y: auto;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .popup {
    .loginpopup {
      height: 410px;
      top: 50%;
      margin-top: -205px;
      .LoginRegPopup {
        .modal .modal-dialog {
          .modal-content {
            .modal-body {
              .col-md-7 {
                .moboContentScroll {
                  height: 312px;
                }
              }
            }
          }
        }
      }
    }
  }
  .filterLabelPos {
    height: 218px !important;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
    margin-top: 0;
  }
  .needHelpBtn {
    display: block;
  }
  /* Youtube Video player popup */
  .playerOverLay {
    .playerWrapper {
      margin-top: -158px !important;
      .closeIcon {
        width: 25px !important;
        height: 25px !important;
        top: -32px !important;
        &:before,
        &:after {
          height: 25px !important;
        }
      }
      .scholar {
        iframe {
          height: 200px !important;
        }
      }
    }
  }
}
