// footer Sass
.cell1 {
  padding-right: 0 30px 0 0;
  address {
    a {
      color: $t-color-yellow;
      text-decoration: none;
    }
  }
}

.cell2,
.cell3 {
  // padding: 0 15px;
}

.cell4 {
  // padding: 0 15px 0 15px;
}

.footer-min-height {
  @include min-height(245px);
}

.bottomarrow-thumbler {
  background-color: rgba(253, 183, 1, 0.7);
  font-size: 25px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: -90px;
  right: 35px;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
  &:before {
    position: absolute;
    left: 11px;
    top: 10px;
  }
}

.bottomarrow-thumbler.ani {
  bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1280px) {
  .bottomarrow-thumbler {
    right: 52px;
  }
}

@media screen and (max-width: 1080px) {
  .bottomarrow-thumbler {
    right: 52px;
  }
}

@media screen and (max-width: 992px) {
  .bottomarrow-thumbler {
    right: 20px;
  }
}

.bottomarrow-thumbler:hover {
  background-color: rgba(253, 183, 1, 1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 800px) {
  .bottomarrow-thumbler.ani {
    bottom: 100px;
  }
}

@media screen and (max-width: 737px) {
  .bottomarrow-thumbler.ani {
    bottom: 72px;
  }
}

@media screen and (max-width: 582px) {
  .bottomarrow-thumbler.ani {
    bottom: 85px;
  }
}

@media screen and (max-width: 331px) {
  .bottomarrow-thumbler.ani {
    bottom: 81px;
    right: 10px;
  }
}

footer {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  .footer {
    background-color: $bg-color-black;
    padding: 30px 0;
    position: relative;
    z-index: 1;
    .first {
      padding-left: 0;
    }
    .last {
      padding-right: 0;
    }
    .cell1 {
      address {
        a {
          color: $t-color-yellow;
          text-decoration: none;
        }
      }
    }
    .row {
      float: $text-align-left;
      width: 100%;
      img {
        margin-top: 30px;
        width: 20%;
      }
      hr.divider {
        background: rgb(90, 87, 88);
        height: 1px;
        border-top: 0;
        margin: 30px 0;
      }
    }
    address {
      p {
        color: $t-color-white;
        line-height: 1.6;
        margin-bottom: 15px;
      }
      i {
        width: 20px;
        color: $t-color-white;
      }
    }
    .footer-ul {
      list-style-type: none;
      padding-left: 0px;
      h3 {
        font-size: 13px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid #444444;
      }
      h5 {
        margin: 0;
        padding: 0;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        margin-top: 15px;
      }
      @media screen and (max-width: 767px) {
        h5 {
          position: relative;
          float: left;
          margin: 0 31px 0 0; // &:after {
          //   content: "|";
          //   position: absolute;
          //   right: -16px;
          //   top: 0;
          //   color: #fff;
          //   font-size: 16px;
          //   font-weight: 200;
          // }
        }
        h5:last-child {
          &:after {
            display: none;
          }
        }
      }
      h5 a {
        color: $t-color-white;
        transition: color 0.2s linear 0s, background 0.2s linear 0s;
      }
      h5 a:hover {
        transition: color 0.2s linear 0s, background 0.2s linear 0s;
        color: $t-color-yellow;
        text-decoration: none;
      }
      h5:before {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      .footer-ul {
        float: left;
        width: 100%;
      }
    }
    .contact-form {
      position: $pos-relative;
      top: -6px;
      h3 {
        @include font-size(19px);
        margin: 6px 0 20px;
        font-weight: $font-weight-400;
        color: $t-color-white;
      }
      form {
        max-width: 420px;
        margin: 0;
        .ctrl-wrapper {
          float: left;
          width: 100%;
          margin-bottom: 0;
          padding-top: 0;
          .form-group,
          .form-group.textAreaCrtl {
            /* margin-bottom: 15px; */
            float: left;
            width: 100%;
            position: relative;
            dd.error,
            span.error {
              position: $pos-absolute;
              right: 0;
              color: map-get($colors, redColor);
              @include font-size(12px);
              bottom: 51px;
              background-color: map-get($colors, whiteColor);
              padding: 10px;
              width: auto;
              border-radius: 5px;
              -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
              box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            }
            dd.error,
            span.error:after {
              content: "";
              position: $pos-absolute;
              bottom: -6px;
              left: 50%;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #fff;
              margin-left: -5px;
            }
          }
          .form-group.textAreaCrtl {
            dd.error,
            span.error {
              bottom: 110px;
            }
          }
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $t-color-white;
          @include font-size(16px);
          font-weight: $font-weight-400;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: $t-color-white;
          @include font-size(16px);
          font-weight: $font-weight-400;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: $t-color-white;
          @include font-size(16px);
          font-weight: $font-weight-400;
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: $t-color-white;
          @include font-size(16px);
          font-weight: $font-weight-400;
        }
        input {
          color: $t-color-white;
          @include font-size(16px);
          border-radius: 0px;
          line-height: 22px;
          background-color: $bg-color-black;
          border: 1px solid white;
          transition: all 0.3s;
          padding: 8px 10px;
          width: 100%;
          box-sizing: border-box;
          outline: 0;
          margin-bottom: 10px;
        }
        input:focus {
          border: 1px solid $bg-color-yellow;
        }
        [type="submit"] {
          width: auto;
          background: transparent;
          border-radius: 30px;
          border: 1px solid $bg-color-yellow;
          cursor: pointer;
          color: $t-color-white;
          @include font-size(16px);
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          font-weight: $font-weight-400;
          border-radius: 30px;
          padding-left: 15px;
          padding-right: 15px;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
        [type="submit"]:hover {
          border: 1px solid $bg-color-yellow;
          background: $bg-color-yellow;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
      }
    }
    .copyright {
      float: left;
      margin: 0;
      padding: 0;
      text-align: $text-align-center;
      width: 100%;
      p {
        @include font-size(16px);
        font-weight: $font-weight-400;
        color: map-get($colors, whiteColor);
        margin-top: 20px;
        line-height: 1.4;
        font-style: normal;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: $text-align-center;
      }
    }
  }
  .upper-footer {
    background-color: $bg-color-black;
    color: #000;
    padding: 20px 0;
    border-bottom: 1px solid rgb(90, 87, 88);
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
    }
    .linkWrapper {
      float: left;
      display: flex;
      align-items: center;
      height: 36px;
      h5 {
        float: left;
        padding-right: 30px;
        a {
          font-weight: bold;
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: $bg-color-yellow;
          }
        }
        @media screen and (max-width: 761px) {
          a {
            font-size: 13px;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
      @media screen and (max-width: 600px) {
        h5 {
          padding: 0 8px;
          margin-bottom: 7.5px;
        }
      }
      @media screen and (max-width: 375px) {
        h5 {
          width: auto;
          margin-bottom: 15px;
        }
      }
      @media screen and (max-width: 350px) {
        h5 {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    @media screen and (max-width: 1080px) {
      .linkWrapper {
        width: auto;
        display: table;
        margin: 0 auto;
      }
    }
    @media screen and (max-width: 1024px) {
      .linkWrapper {
        width: 100%;
        display: flex;
        margin: 0 auto 15px;
        text-align: center;
        justify-content: center;
      }
    }
    @media screen and (max-width: 535px) {
      .linkWrapper {
        width: 100%;
        display: block;
        margin: 0 auto 15px;
        text-align: center;
        justify-content: center;
        padding: 0 15px;
      }
    }
    @media screen and (max-width: 350px) {
      .linkWrapper {
        float: left;
        height: auto;
        text-align: left;
      }
    }

    .subscribeCtrlCounter {
      float: right;
      button {
        display: inline;
      }
      .btn {
        display: inline;
        position: relative;
        top: 5px;
        margin: 0;
        margin-top: -10px;
        background: $bg-color-yellow;
        color: #000;
        @media screen and (max-width: 375px) {
          left: 15px;
        }
      }
      .btn:hover {
        background: transparent;
        border-color: $bg-color-yellow;
        color: #ffffff;
      }
      .subscribenumber {
        i {
          color: #ffffff;
          font-size: 30px;
          vertical-align: -8px;
        }
        span {
          font-size: 20px;
          color: #fff;
          margin-right: 15px;
          vertical-align: -5px;
        }
      }
      @media screen and (max-width: 692px) {
        .subscribenumber {
          display: none;
        }
      }
    }
    @media screen and (max-width: 1080px) {
      .subscribeCtrlCounter {
        width: auto;
        display: table;
        margin: 15px auto 0;
        float: initial;
      }
    }
    @media screen and (max-width: 375px) {
      .subscribeCtrlCounter {
        display: initial;
        margin-top: 15px;
        float: left;
        margin-bottom: 15px;
        left: -7.5px;
      }
    }
    @media screen and (max-width: 350px) {
      .subscribeCtrlCounter {
        margin-top: 0;
      }
    }
  }
  .inner-footer {
    background: #eeeeee;
    color: #000;
    padding: 10px 0;
    .footer-center {
      margin-top: 10px;
      margin-bottom: 15px;
      float: left;
      position: relative;
      width: 100%;
      ul {
        text-align: left;
        display: block;
        li {
          padding: 5px 0px 10px 0;
          display: inline;
          span {
            border-top: 0;
            display: inline;
            padding: 0 10px;
          }
          a {
            font-weight: bold;
            color: #000;
            font-size: 12px;
          }
        }
        li:last-child {
          padding: 5px 0 10px 0;
        }
      }
    }
    .footer-social {
      float: right;
      a {
        display: inline-block;
        @include width(34px);
        @include height(34px);
        @include margin(0, 5px, 6px, 0);
        @include font-size(20px);
        @include line-height(35px);
        color: #000;
        text-align: $text-align-center;
      }
      a:last-child {
        margin-right: 0;
      }
      a i {
        vertical-align: middle;
      }
      a:hover,
      a:focus {
        color: #000;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        border-radius: 5%;
        transition: width 2s;
      }
    }
    span {
      text-align: center;
      font-size: 11px;
      display: block;
      padding: 16px 0;
      border-top: 1px solid #d6d5d5;
    }
  }
  @media screen and (max-width: 991px) {
    .inner-footer {
      .footer-center {
        margin: 0 auto;
        ul {
          text-align: center;
        }
      }
      .footer-social {
        float: left;
        text-align: center;
        width: 100%;
        position: relative;
        margin-bottom: 5px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .inner-footer.mobileBottomPadding {
      padding-bottom: 90px;
    }
  }
  @media screen and (max-width: 560px) {
    .inner-footer {
      .footer-center {
        ul {
          li {
            padding: 0px;
            span {
              display: inline;
              padding: 0 7px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 472px) {
    .inner-footer {
      span {
        margin-left: 0;
      }
      .footer-center {
        ul {
          text-align: left;
          li {
            display: inline-block;
            span {
              display: inline;
              padding: 0 7px;
            }
          }
        }
      }
    }
  }
}

/* Popup Window */
.alert-overlay.poupWindow{
  .alertPopup{
    width:450px;
    height: 414px;
    left:50%;
    top:50%;
    margin-left: -225px;
    margin-top: -207px;
    border-radius: 10px;
    display:flex;
    .innerContainer{
      height: 100%;
      width: 100%;
      display: flex;
      min-height: initial;
      flex-wrap: wrap;
      justify-content: center;
      img{
        width: 100%;
        height: 330px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
      }     
      .btnCtrl{
        height: auto;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        button {
          border-width: 1px;
          border-style: solid;
          height: 30px;
          text-align: center;
          font-weight: 600;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          transition: all 1s ease;
          padding: 0 15px !important;
          margin: 0 4.5px !important;
          -webkit-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-outline: none;
          -moz-outline: none;
          -o-outline: none;
          -ms-outline: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  } 
  @media screen and (max-width: 480px){
    .alertPopup{
      width: 90%;
      height: 406px;
      left: 5%;
      right: 5%;
      top: 50%;
      bottom: 50%;
      margin-left: 0;
      margin-top: -203px;
      padding: 8px 0;
    } 
  }
  @media screen and (max-width: 320px){
    .alertPopup{    
      height: 314px;
      margin-top: -157px;
      .innerContainer{
        img{
          width: 100%;
          height: 236px;   
        }
      }
    } 
  }
  
  @media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
    .alertPopup{      
      height: 260px;
      margin-top: -130px;
      width: 346px;
      margin-left:-173px;
      .innerContainer{
        img{
          width: 100%;
          height: 178px;
        }
      }
    }
  }
  @media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    .alertPopup{      
      height: 260px;
      margin-top: -130px;
      .innerContainer{
        img{
          width: 100%;
          height: 178px;
        }
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .alertPopup{ 
      width: 330px;
      margin-left: -165px;     
      height: 260px;
      margin-top: -130px;
      .innerContainer{
        img{
          width: 100%;
          height: 178px;
        }
      }
    }
  }  
}

.alert-overlay.show{
  display:flex;
}
.alert-overlay.hide{
  display:none;
}

.alert-overlay.poupWindow.iframe{
  .alertPopup{ 
    width: 450px;
    height: 90%;
    left: 50%;
    top: 5%;
    margin-left: -225px;
    margin-top: 0;
    border-radius: 10px;
    display: flex;  
    .innerContainer{ 
      .closeIframe{
        color: #fff;
        position: absolute;
        top: 0;
        right: -23px;
        font-size: 22px;
        cursor: pointer;
      } 
      @media screen and (max-width:533px){
        .closeIframe{         
          top: -30px;
          right: 0;
        }
      }   
      #iFrame{
        width:100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }    
    }
  } 
  @media screen and (max-width: 480px){
    .alertPopup{
      width: 90%;
      height: 380px;
      left: 5%;
      right: 5%;
      top: 50%;
      bottom: 50%;
      margin-left: 0;
      margin-top: -190px;
    } 
  }
  
  @media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
    .alertPopup{
      margin-top: 0;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .alertPopup{    
      margin-top: 0;
      padding-bottom: 29px;
    }
  } 
  @media only screen and (orientation: portrait) { 
    .alertPopup{      
      width: 90%;
      height: 90%;
      left: 5%;
      right: 5%;
      top: 5%;
      bottom: 5%;
      margin-left: 0;
      margin-top: 0;
    }
  }  
}

/* End */



footer.posR {
  position: relative;
  z-index: l;
}

// .borderR {
//     border-right: 1px solid rgb(90, 87, 88);
// }
/* Footer Sticky banner */

.fixed-banner {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 1134px;
  margin-left: -568px;
  display: table;
  z-index: 999;
  // z-index: 1;
  background: #4a4d6b;
  border: 1px solid #b7b7b7;
  .cross {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    right: -8px;
    border-right: 0;
    z-index: 1;
    background: #4a4d6b;
    border-radius: 50%;
    padding-left: 2px;
    border: 1px solid #b7b7b7;
  }
  .bannerWrapper {
    float: left;
    border-right: 0;
    width: 33.3%;
    padding: 0 10px;
    display: table;
    .tblCell {
      width: 100%;
      position: relative;
      height: 66px;
      display: table-cell;
      vertical-align: middle;
      span {
        color: #fff;
        font-size: 12px;
        margin: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 0;
        i {
          font-style: normal;
          text-decoration: underline;
          color: #ecb741;
          display: inline-block;
        }
      }
      @media screen and (max-width: 862px) {
        .bannerBtn {
          display: none;
        }
      }
    }
    @media screen and (max-width: 1114px) {
      .tblCell {
        height: 76px;
      }
    }
    @media screen and (max-width: 880px) {
      .tblCell {
        height: 96px;
      }
    }
  }
  .bannerWrapper:nth-child(3) {
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
  }
}

.fixed-banner.bannerOne {
  width: 33.3%;
  left: 50%;
  margin-left: -16.65%;
  .bannerWrapper {
    width: 100%;
  }
}

.fixed-banner.bannerTwo {
  width: 66.6%;
  left: 50%;
  margin-left: -33.3%;
  .bannerWrapper {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .fixed-banner {
    left: 0;
    width: 98%;
    margin-left: 1%;
  }
}

@media screen and (max-width: 767px) {
  .fixed-banner {
    display: none;
  }
}

.mobile {
  position: relative;
  display: block;
  .fixed-banner-slider {
    position: fixed;
    bottom: -120px;
    left: 0;
    width: 100%;
    margin-left: 0;
    display: block;
    z-index: 999;
    background: #4a4d6b;
    border: 0;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.09);
    transition: bottom 0.5s ease-in;
    .cross {
      display: block;
      color: #fff;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      top: 1px;
      width: 20px;
      height: 20px;
      line-height: 16px;
      text-align: center;
      right: 1px;
      border-right: 0;
      z-index: 0;
      background: #4a4d6b;
      border-radius: 0;
      padding-left: 0;
      border: 1px solid #4a4d6b;
      font-weight: 400;
    }
    .bannerWrapper {
      float: left;
      border-right: 0;
      width: 100%;
      padding: 0 26px;
      display: table;
      height: auto;
      .tblCell {
        width: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        span {
          color: #fff;
          font-size: 12px;
          margin: 0;
          cursor: pointer;
          display: block;
          text-align: center;
          padding: 0;
          i {
            font-style: normal;
            text-decoration: underline;
            color: #ecb741;
            display: inline-block;
          }
        }
        @media screen and (max-width: 862px) {
          .bannerBtn {
            display: none;
          }
        }
      }
    }
    .bannerWrapper:nth-child(3) {
      border-left: 1px solid #b7b7b7;
      border-right: 1px solid #b7b7b7;
    }
  }
  .fixed-banner-slider.defaultBottomPos {
    bottom: -120px;
  }
  .fixed-banner-slider.updateBottomPos {
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.educationLoanSticky {
  position: fixed;
  top: 50%;
  right: 0;
  background: #34a1be;
  width: 95px;
  height: 60px;
  margin-top: -30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  z-index: 2;
  padding: 5px;
  text-align: center;
  display: none;
  p {
    @include font-size(14px);
    color: #fff;
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .close,
  .close:focus,
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    padding: 0;
    outline: 0;
    font-size: 19px;
    font-weight: 400;
    position: absolute;
    left: -7px;
    top: -7px;
    height: 15px;
    width: 15px;
    margin: 0;
    text-align: center;
    line-height: 6px;
    background: #fff;
    border: 0;
    border-radius: 50%;
    i {
      position: relative;
      font-style: normal;
    }
  }
  .close:hover {
    color: #34a1be;
    opacity: 1;
  }
}

.donation-button{  
  .float-button{
    background-color: #5DAF5B;
    color: #ffffff !important;
    margin: 0;
    border-radius: 0;
    position: fixed;
    border-radius: 10px 10px 0 0 !important;
    top: 50%;
   right: -95px;
    z-index: 99999;
    font-size: 20px;
    padding: 14px 21px !important;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      a{
        color:#ffffff !important;
        text-decoration: none;
      }
  }
  @media screen and (max-width: 900px) {  
    .float-button{
      right: -81px;
      font-size: 16px;
      padding: 10px 21px !important;
    }
    }
  @media screen and (max-width: 530px) {
  .float-button{
    right: -84px;
    font-size: 16px;
    padding: 10px 21px !important;
  }
  }
  }
