.stickyHaderWrapper {
  position: relative;
  //z-index: 4; //z-index: 4 old
  left: 50%;
  width: 100%;
  margin-left: -50%;
  header {
    position: relative;
    top: 0;
    min-height: 81px;
    height: 81px;
    z-index: 2;
    .container {
      position: relative;
    }
    @media screen and (max-width: 767px) {
      .container {
        height: 81px;
        float: left;
      }
    }
    .logo {
      width: 175px;
    }
    .cbLogo {
      float: right;
      width: 160px;
      margin: 8px 0 0;      
    }
    @media screen and (max-width: 767px) {
      .cbLogo {
        position: relative;
        top: -60px;
      }
    }
    @media screen and (max-width: 480px) {
      .cbLogo {
        top: -43px;
        width: 100px;
      }
    }
    .searchContent {
      position: relative;
      float: right;
      padding-right: 0;
      .navigationWrapper {
        nav.site-nav {
          height: auto;
          float: $float-R;
          background: transparent;
          -webkit-clip-path: initial;
          clip-path: initial;
          color: $t-color-white;
          margin: 33px 33px 0 0;
          .socialLinkMobo {
            display: none;
          }
          @media screen and (max-width: 881px) {
            .socialLinkMobo {
              width: 199px;
              float: left;
              display: block;
              margin-top: 15px;
              span {
                font-size: 15px;
                color: $t-color-white;
                display: block;
                text-align: left;
                width: 100%;
                position: relative;
                font-weight: 700;
                text-transform: initial;
                padding-left: 15px;
                top: 8px;
                &:last-child {
                  width: 71px;
                }
              }
              .socialIcons {
                float: left;
                text-align: center;
                width: 100%;
                position: relative;
                top: 15px;
                a {
                  display: inline-block;
                  text-decoration: none;
                  margin: 0;
                  padding: 0;
                  height: 22px;
                  &:hover {
                    text-decoration: none;
                    background-color: transparent;
                  }
                  &:after {
                    display: none;
                  }
                  .facebook,
                  .whatsapp {
                    background: url(#{$img-base-url}social-messenger.png)
                      no-repeat 0 0;
                    width: 23px;
                    height: 23px;
                    display: inline-block;
                  }
                  .facebook {
                    background-position: -33px -1px;
                  }
                  .whatsapp {
                    background-position: -2px -1px;
                  }
                }
                a:first-child {
                  margin-right: 5px;
                }
                a:last-child {
                  margin-left: 5px;
                }
              }
            }
          }
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              margin: -6px 15px 0 0;
              display: inline-block;
              list-style-type: none;
              transition: all 0.2s;
              border-bottom: 1px solid transparent;
              position: relative;
              width: auto;
              text-transform: uppercase;
              a {
                color: $t-color-white;
                display: $display-block;
                @include line-height(1.6);
                text-decoration: $text-decoration-none;
                position: relative;
                &:after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  bottom: -5px;
                  left: 0;
                  background-color: $bg-color-yellow;
                  visibility: hidden;
                  -webkit-transform: scaleX(0);
                  transform: scaleX(0);
                  -webkit-transition: all 0.3s ease-in-out 0s;
                  transition: all 0.3s ease-in-out 0s;
                }
                &:hover:after {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
              i.fa-caret-down {
                @include font-size(14px);
                color: $t-color-white;
                margin-left: 5px;
              }
              i.fa-user,
              i.fa-lock {
                margin-right: 5px;
                @include font-size(14px);
              }
            
              .dropdown-content {
                display: none;
                position: absolute;
                min-width: 165px;
                background-color: #fdfdfd;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 3;
                top: 48px;
                ul {
                  margin-bottom: 0;
                  li {
                    float: left;
                    width: 100%;
                    border-bottom: 1px solid #13120c;
                    padding-bottom: 0;
                    text-transform: capitalize;
                    a {
                      padding: 0 16px;
                      color: #13120c;
                      line-height: 30px;
                      float: left;
                      width: 100%;
                      &:hover {
                        background-color: $bg-color-yellow;
                        color: #fff;
                      }
                      &:hover:after {
                        display: none;
                      }
                    }
                  }
                }
                .scholarship {
                  margin: 0 auto;
                  float: left;
                  background: #fdfdfd;
                  box-shadow: 0 3px 6px 1px #444;
                  padding: 0 0 20px;
                  ul {
                    margin-bottom: 0;
                    width: 25%;
                    float: left; // border-left: 1px solid $bg-color-yellow;
                    margin-top: 15px;
                    li:first-child {
                      font-weight: bold;
                      color: #13120c;
                      font-size: 14px;
                    }
                    li {
                      float: left;
                      width: 100%;
                      border-bottom: 0px solid #13120c;
                      padding-bottom: 0;
                      text-transform: capitalize;
                      a {
                        padding: 0 16px;
                        color: #13120c;
                        font-size: 12px;
                        float: left;
                        width: 100%;
                        padding: 4px 15px;
                        line-height: 20px;
                      }
                      a.heading {
                        color: #444444;
                        font-weight: bold;
                        font-size: 14px;
                        text-decoration: none !important;
                      }
                      a:hover {
                        color: $bg-color-yellow;
                        text-decoration: underline;
                      }
                      a:hover:first-child {
                        background-color: transparent;
                        color: #444444;
                      }
                    }
                  }
                  ul:nth-child(5) {
                    clear: both;
                  }
                  /* ul:nth-child(5) {
                                       width: 33.333333%;
                                  }
                                  ul:nth-child(6) {
                                       width: 33.333333%;
                                     }
                                    ul:nth-child(7) {
                                      width: 33.333333%;
                                     }*/
                }
              }
              @media screen and (max-width: 1080px) {
                .dropdown-content {
                  top: 47px;
                }
              }
              @media screen and (max-width: 970px) {
                .dropdown-content {
                  top: 44px;
                }
              }
            }
            @media screen and (max-width: 1080px) {
              li {
                font-size: 13px;
              }
            }
            @media screen and (max-width: 881px) {
              li {
                font-size: 13px;
              }
            }
            li.loginbar,
            li.article {
              padding-bottom: 31px;
              cursor: pointer;
              margin-right: 0;
              span {
                color: #ffffff;
                position: relative;
                max-width: 162px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                text-align: right;
                width: 100%;
                img {
                  width: 25px;
                  height: 25px;
                  margin-right: 10px;
                  display: block;
                  position: relative;
                  top: 0;
                  float: $text-align-left;
                }
              }
              .dropdown-content {
                position: absolute;
                border-top: 5px solid $bg-color-yellow;
                width: 209px;
                right: -52px;
                top: 48px;
                &:before {
                  content: "";
                  position: absolute;
                  top: -15px;
                  left: 50%;
                  right: 0;
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 10px solid $bg-color-yellow;
                  margin-left: -5px;
                }
                @media screen and (max-width: 881px) {
                  &:before {
                    display: none;
                  }
                }
                ul {
                  margin-top: 0;
                  padding-top: 15px;
                  height: 100%;
                  padding-left: 0;
                  padding-right: 0;
                  width: 100%;
                  padding-bottom: 15px;
                  border-right: 0;
                  margin-bottom: 0;
                  background: rgba(0, 0, 0, 0.03);
                  float: left;
                  li {
                    margin-bottom: 0;
                    margin-right: 0;
                    position: relative;
                    border-bottom: 0;
                    a {
                      color: rgba(0, 0, 0, 0.7);
                      font-weight: 600;
                      font-size: 16px;
                      text-decoration: none !important;
                      background: none;
                      padding: 8px 15px;
                      position: relative;
                      line-height: inherit;
                      &:before {
                        height: 100%;
                        background: $bg-color-yellow;
                        width: 3px;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                      }
                      &:hover:before {
                        visibility: visible;
                        opacity: 1;
                      }
                    }
                    i.fa.fa-chevron-right {
                      position: absolute;
                      top: 10px;
                      font-size: 9px;
                      right: 15px;
                      font-weight: 200;
                      color: rgba(0, 0, 0, 0.7);
                    }
                    &:hover {
                      background-color: rgba(0, 0, 0, 0.1) !important;
                    }
                  }
                }
              }
            }
            li.loginbar {
              padding-bottom: 18px;
              top: 7px;
              span {
                padding-right: 15px;
                &:before {
                  content: "";
                  position: absolute;
                  top: 11px;
                  right: 3px;
                  display: inline-block;
                  width: 0;
                  height: 0;
                  border-top: 5px solid #fff;
                  border-right: 5px solid transparent;
                  border-left: 5px solid transparent;
                }
                @media screen and (max-width: 881px) {
                  &:before {
                    top: 20px;
                    right: 18px;
                    border-top: 5px solid #000;
                  }
                }
              }
              @media screen and (max-width: 881px) {
                span {
                  max-width: 240px;
                }
              }
              .dropdown-content {
                top: 47px;
              }
              &:after {
                display: none;
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -5px;
                left: 0;
                background-color: $bg-color-yellow;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
              &:hover:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
            li.article {
              padding-bottom: 24px;
              margin-right: 15px;
              span {
                &:after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  bottom: -5px;
                  left: 0;
                  background-color: $bg-color-yellow;
                  visibility: hidden;
                  -webkit-transform: scaleX(0);
                  transform: scaleX(0);
                  -webkit-transition: all 0.3s ease-in-out 0s;
                  transition: all 0.3s ease-in-out 0s;
                }
                &:hover:after {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
              .dropdown-content {
                width: 441px;
                right: -156px;
                left: initial;
                top: 48px;
                ul {
                  li {
                    margin-bottom: 5px;
                  }
                }
              }
              @media screen and (max-width: 1080px) {
                .dropdown-content {
                  top: 47px;
                }
              }
              @media screen and (max-width: 970px) {
                .dropdown-content {
                  top: 44px;
                }
              }
            }
            li.moboDevice {
              display: none;
            }
            @media screen and (max-width: 881px) {
              li.article {
                background: transparent;
                .dropdown-content {
                  ul {
                    li {
                      height: auto;
                      float: left;
                      margin: 5px 0;
                      a {
                        padding: 0 15px;
                        float: left;
                        height: auto;
                        line-height: 1.1;
                        &:before {
                          height: 100%;
                        }
                      }
                    }
                  }
                }
              }
              li.moboDevice {
                display: block;
              }
            }
            li.menuStyle {
              padding-bottom: 24px;
              .dropdown-content {
                position: absolute;
                border-top: 5px solid $bg-color-yellow;
                width: 513px;
                left: 0;
                &:before {
                  content: "";
                  position: absolute;
                  top: -15px;
                  left: initial;
                  right: 438px;
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 10px solid $bg-color-yellow;
                  margin-left: 0;
                }
                .scholarship {
                  background: rgba(0, 0, 0, 0.03);
                  box-shadow: none;
                  padding-bottom: 0;
                  height: initial;
                  overflow: initial;
                  position: relative;
                  ul {
                    margin-top: 0;
                    padding-top: 15px;
                    height: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    width: 200px;
                    padding-bottom: 15px;
                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                    margin-bottom: 0;
                    min-height: 288px;
                    li {
                      font-weight: bold;
                      color: #13120c;
                      font-size: 14px;
                      margin-bottom: 7px;
                      margin-right: 0;
                      position: relative;
                      a {
                        color: rgba(0, 0, 0, 0.7);
                        font-weight: 600;
                        font-size: 15px;
                        text-decoration: none !important;
                        background: none;
                        padding: 5px 0 5px 20px;
                        &:before {
                          height: 30px;
                          background: $bg-color-yellow;
                          width: 3px;
                          content: "";
                          position: absolute;
                          left: 0;
                          top: 0;
                          visibility: hidden;
                          opacity: 0;
                        }
                        &:hover:before {
                          visibility: visible;
                          opacity: 1;
                        }
                      }
                      i.fa.fa-chevron-right {
                        position: absolute;
                        top: 10px;
                        font-size: 9px;
                        right: 15px;
                        font-weight: 200;
                        color: rgba(0, 0, 0, 0.7);
                      }
                      &:hover {
                        background-color: rgba(0, 0, 0, 0.1) !important;
                      }
                      ul {
                        visibility: hidden;
                        opacity: 0;
                        border-right: 0;
                        width: 313px;
                        position: absolute;
                        left: 200px;
                        li {
                          cursor: default;
                          a {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.3;
                            padding: 5px 5px 5px 15px;
                            text-decoration: none !important;
                            width: auto;
                            float: left;
                            clear: left;
                            &:hover {
                              text-decoration: underline !important;
                            }
                            ul:hover > li {
                              background: #dcdcdc;
                            }
                            &:before {
                              height: 100%;
                            }
                          }
                          &:hover {
                            background-color: transparent !important;
                          }
                          a.moreBtn {
                            float: right;
                            margin-right: 15px;
                            color: #000;
                            font-weight: 600;
                            margin-bottom: 15px;
                            -webkit-transition: all 1s ease;
                            -moz-transition: all 1s ease;
                            -o-transition: all 1s ease;
                            transition: all 1s ease;
                            &:hover {
                              color: #f0bd00;
                            }
                            &:before {
                              display: none;
                            }
                          }
                          @media screen and (max-width: 881px) {
                            a.moreBtn {
                              margin-bottom: 15px;
                              width: auto;
                              margin-right: 0;
                              color: #fff;
                            }
                          }
                        }
                      }
                      ul[dataRef="AllScholarships"] {
                        top: -8px;
                      }
                      ul[dataRef="Category"] {
                        top: -42px;
                      }
                      ul[dataRef="State"] {
                        top: -72px;
                      }
                      ul[dataRef="CurrentClass"] {
                        top: -100px;
                      }
                      ul[dataRef="Type"] {
                        top: -128px;
                      }
                      ul[dataRef="International"] {
                        top: -162px;
                      }
                      ul[dataRef="Government"] {
                        top: -190px;
                      }
                      ul[dataRef="Popular"] {
                        top: -222px;
                      }
                      ul[dataRef="Popular"] {
                        visibility: visible;
                        opacity: 1;
                        display: block;
                      }
                      &:hover ul {
                        visibility: visible;
                        opacity: 1;
                        display: block;
                      }
                      &:hover ~ li ul[dataRef="Popular"] {
                        visibility: hidden;
                        opacity: 0;
                        display: none;
                      }
                    }
                    li.ScholarshipExamFair {
                      display: none;
                    }
                    @media screen and (max-width: 881px) {
                      li.ScholarshipExamFair {
                        display: block;
                      }
                    }
                    li[itemRef="Popular"] {
                      background-color: rgba(0, 0, 0, 0.1) !important;
                    }
                    li:hover ~ li {
                      background-color: transparent !important;
                    }
                  }
                  .socialLink {
                    position: absolute;
                    bottom: 17px;
                    left: 0;
                    z-index: 1;
                    width: 199px;
                    top: inherit;
                    span {
                      font-size: 13px;
                      color: rgba(0, 0, 0, 0.7);
                      display: block;
                      text-align: center;
                      top: 8px;
                      width: 100%;
                      position: relative;
                      font-weight: 700;
                      text-transform: initial;
                    }
                    .socialIcons {
                      float: left;
                      text-align: center;
                      width: 100%;
                      position: relative;
                      top: 15px;
                      a {
                        display: inline-block;
                        text-decoration: none;
                        &:hover {
                          text-decoration: none;
                          background-color: transparent;
                        }
                        &:after {
                          display: none;
                        }
                        .facebook,
                        .whatsapp {
                          background: url(#{$img-base-url}social-messenger.png)
                            no-repeat 0 0;
                          width: 23px;
                          height: 23px;
                          display: inline-block;
                        }
                        .facebook {
                          background-position: -33px -1px;
                        }
                        .whatsapp {
                          background-position: -2px -1px;
                        }
                      }
                      a:first-child {
                        margin-right: 5px;
                      }
                      a:last-child {
                        margin-left: 5px;
                      }
                    }
                  }
                  @media screen and (max-width: 881px) {
                    .socialLink {
                      display: none;
                    }
                  }
                  .menuContainer {
                    background: rgba(0, 0, 0, 0.1);
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 313px;
                    height: 100%;
                    min-height: 321px;
                  }
                }
              }
              @media screen and (max-width: 1080px) {
                .dropdown-content {
                  top: 47px;
                }
              }
              @media screen and (max-width: 970px) {
                .dropdown-content {
                  top: 44px;
                }
              }
            }
            li:nth-child(3),
            li:nth-child(4) {
              margin-right: 15px;
            }
            li:hover {
              .dropdown-content {
                display: block;
                ul {
                  li:hover:after {
                    display: none;
                  }
                  li:hover {
                    background-color: $bg-color-yellow;
                    color: #fff;
                  }
                }
                .scholarship {
                  ul {
                    li:hover:after {
                      display: none;
                    }
                    li:hover {
                      background-color: transparent;
                    }
                  }
                }
              }
            }
            @media screen and (max-width: 881px) {
              li {
                a {
                  &:after {
                    display: none;
                  }
                }
              }
              .paddingtop30 {
                padding-top: 30px;
              }
              li.menuStyle {
                padding-bottom: 0;
                .dropdown-content {
                  display: none;
                  position: initial;
                  border-top: 0;
                  width: 100%;
                  .scholarship {
                    float: left;
                    width: 100%;
                    ul {
                      background: transparent;
                      float: left;
                      padding-bottom: 0;
                      width: 100%;
                      min-height: inherit;
                      padding-top: 0;
                      li {
                        margin-bottom: 0;
                        a,
                        a:hover {
                          line-height: 1.5;
                          color: $bg-color-yellow;
                          padding: 5px 15px;
                          font-size: 16px;
                        }
                        &:hover {
                          background-color: rgba(0, 0, 0, 0.4) !important;
                        }
                        i.fa.fa-chevron-right {
                          color: #f2f2f2;
                          transform: rotate(90deg);
                        }
                        ul {
                          display: none;
                          width: 100%;
                          position: initial;
                          left: initial;
                          li {
                            margin-bottom: 0;
                            a {
                              padding: 5px 15px;
                              width: 100%;
                              line-height: 1.5;
                              height: auto;
                              color: #f2f2f2;
                              &:before {
                                height: 100%;
                                display: none;
                                visibility: hidden;
                                opacity: 0;
                              }
                              &:hover {
                                text-decoration: none !important;
                                line-height: 1.5;
                                font-size: 14px;
                                &:before {
                                  display: block;
                                  visibility: visible;
                                  opacity: 1;
                                }
                              }
                            }
                          }
                          li:last-child {
                            a {
                              &:hover {
                                &:before {
                                  display: none;
                                  visibility: hidden;
                                  opacity: 0;
                                }
                              }
                            }
                          }
                          li[itemref="Popular"],
                          li[itemref="International"],
                          li[itemref="Government"] {
                            ul {
                              li:last-child {
                                a:hover {
                                  &:before {
                                    display: none;
                                  }
                                }
                              }
                            }
                          }
                        }
                        ul[dataRef="Course"],
                        ul[dataRef="Region"],
                        ul[dataRef="CurrentClass"],
                        ul[dataRef="Type"],
                        ul[dataRef="Popular"],
                        ul[dataRef="International"],
                        ul[dataRef="Government"] {
                          top: initial;
                          position: initial;
                          left: initial;
                          float: left;
                          width: 100%;
                          visibility: initial;
                          opacity: initial;
                          top: initial;
                          position: initial;
                        }
                        &:hover ul {
                          display: block;
                        }
                        ul[dataRef="Popular"] {
                          display: none;
                        }
                        &:hover ul {
                          display: block;
                        }
                      }
                    }
                  }
                  .menuContainer {
                    display: none;
                  }
                }
                @media screen and (max-width: 881px) {
                  .dropdown-content {
                    display: none;
                  }
                }
                &:hover {
                  .dropdown-content {
                    display: block;
                  }
                }
              }
              li.loginbar,
              li.article {
                padding-bottom: 0;
                span {
                  &:after {
                    display: none;
                  }
                }
                .dropdown-content {
                  display: none;
                  position: initial;
                  border-top: 0;
                  width: 100%;
                  ul {
                    background: transparent;
                    float: left;
                    padding-bottom: 0;
                    li {
                      a {
                        line-height: 23px;
                        color: #f2f2f2;
                        &:before {
                          height: 35px;
                          color: #f0bd00;
                        }
                        &:hover {
                          color: #f0bd00;
                        }
                      }
                    }
                  }
                }
                @media screen and (max-width: 881px) {
                  .dropdown-content {
                    display: block;
                  }
                }
                &:hover {
                  .dropdown-content {
                    display: block;
                  }
                }
              }
              @media screen and (max-width: 881px) {
                li.loginbar,
                li.article {
                  .dropdown-content {
                    ul {
                      li {
                        a {
                          &:before {
                            height: 100%;
                          }
                        }
                      }
                    }
                  }
                }
                li.article {
                  .dropdown-content {
                    display: none;
                    ul {
                      padding-top: 0;
                      padding-bottom: 15px;
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 881px) {
            ul {
              background: #12181b;
              margin-top: 0;
            }
          }
        }
      }
      .navigationWrapper.application {
        nav.site-nav {
          margin: 32px 0 0 0;
          .overflowNav {
            ul {
              li.loginbar,
              li.article {
                padding-bottom: 31px;
                cursor: pointer;
                margin-right: 0;
                span {
                  color: #ffffff;
                  position: relative;
                  max-width: 162px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                  text-align: right;
                  width: 100%;
                  img {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    display: block;
                    position: relative;
                    top: 0;
                    float: $text-align-left;
                  }
                  @media screen and (max-width: 881px) {
                    img {
                      top: 7px;
                    }
                  }
                }
                @media screen and (max-width: 881px) {
                  span {
                    max-width: 250px;
                    text-align: left;
                  }
                }
                .dropdown-content {
                  position: absolute;
                  border-top: 5px solid $bg-color-yellow;
                  width: 132px;
                  min-width: 132px;
                  right: 1px;
                  top: 48px;
                  &:before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: initial;
                    right: 55px;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $bg-color-yellow;
                    margin-left: -5px;
                  }
                  @media screen and (max-width: 1080px) {
                    .dropdown-content {
                      top: 47px;
                    }
                  }
                  @media screen and (max-width: 970px) {
                    .dropdown-content {
                      top: 44px;
                    }
                  }
                  @media screen and (max-width: 881px) {
                    &:before {
                      display: none;
                    }
                  }
                  ul {
                    margin-top: 0;
                    padding-top: 0;
                    height: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    padding-bottom: 0;
                    border-right: 0;
                    margin-bottom: 0;
                    background: rgba(0, 0, 0, 0.03);
                    float: left;
                    li {
                      margin-bottom: 0;
                      margin-right: 0;
                      position: relative;
                      border-bottom: 0;
                      padding: 5.5px 0 0;
                      a {
                        color: rgba(0, 0, 0, 0.7);
                        font-weight: 600;
                        font-size: 16px;
                        text-decoration: none !important;
                        background: none;
                        padding: 5px 15px;
                        position: relative;
                        line-height: inherit;
                        &:before {
                          height: 31px;
                          background: $bg-color-yellow;
                          width: 3px;
                          content: "";
                          position: absolute;
                          left: 0;
                          top: 0;
                          visibility: hidden;
                          opacity: 0;
                        }
                        &:hover:before {
                          visibility: visible;
                          opacity: 1;
                        }
                        &:hover {
                          background-color: rgba(0, 0, 0, 0.1) !important;
                        }
                      }
                      @media screen and (max-width: 881px) {
                        a {
                          color: #fff;
                          &:hover {
                            color: #f0bd00;
                          }
                        }
                      }
                      i.fa.fa-chevron-right {
                        position: absolute;
                        top: 10px;
                        font-size: 9px;
                        right: 15px;
                        font-weight: 200;
                        color: rgba(0, 0, 0, 0.7);
                      }
                    }
                  }
                }
                @media screen and (max-width: 881px) {
                  .dropdown-content {
                    position: initial;
                    width: 250px;
                    border-top: 0;
                  }
                }
              }
              @media screen and (max-width: 881px) {
                li.loginbar,
                li.article {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
        @media screen and (max-width: 881px) {
          nav.site-nav.open {
            right: 0;
            top: 0;
            margin-top: 0;
            .overflowNav {
              overflow-y: hidden;
              top: 6px;
            }
          }
        }
        .accordion {
          padding-top: 0;
        }
      }
      @media screen and (max-width: 881px) {
        .navigationWrapper.application {
          nav.site-nav {
            ul {
              margin-top: 0;
            }
          }
        }
      }
      .menu-toggle {
        padding: 1em;
        position: absolute;
        top: 14px;
        right: 30px;
        z-index: 1;
        cursor: pointer;
        display: none;
      }
      .menu-toggle.moboAlign {
        right: 0;
      }
      .menu-toggle.open {
        right: 0;
        z-index: 9999;
        position: fixed;
        top: 19px;
      }
      .hamburger,
      .hamburger::before,
      .hamburger::after {
        content: "";
        display: block;
        background: #ebebd3;
        height: 3px;
        width: 1.65em;
        border-radius: 3px;
        transition: all ease-in-out 0.5s;
      }
      .hamburger::before {
        transform: translateY(-10px);
      }
      .hamburger::after {
        transform: translateY(7px);
      }
      .open {
        .hamburger {
          transform: rotate(45deg);
        }
        .hamburger::before {
          opacity: 0;
        }
        .hamburger::after {
          transform: translateY(-3px) rotate(-90deg);
        }
      }
      /* Search Control Component */
      .searchicon,
      .closeSearch {
        @include font-size(16px);
        color: $t-color-yellow;
        border: 2px solid $t-color-yellow;
        padding: 5px;
        position: $pos-absolute;
        top: 28px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        background: transparent;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
      }
      .searchicon,
      .closeSearch {
        right: 0;
      }
      .closeSearch {
        display: block;
      }
      .searchicon:hover,
      .closeSearch:hover {
        color: $t-color-black;
        border: 2px solid $t-color-yellow;
        background-color: $bg-color-yellow;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
      }
      .search-wraper-common {
        position: $pos-fixed;
        top: 81px;
        width: 398px;
        text-align: $text-align-center;
        margin: 0;
        display: block;
        right: 330px;
        background: $bg-color-white;
        .search-ctrl {
          position: $pos-relative;
          width: 398px;
          display: initial;
          float: left;
          dd.error,
          span.errorTop {
            color: #e5260e;
            font-size: 12px;
            text-align: left;
            background: #fff;
            width: auto;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 4px 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            opacity: 0;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
            border: 1px solid #ccc;
            border-top: 0;
          }
          dd.error,
          span.errorTop.ani {
            bottom: -25px;
            opacity: 1;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
          }
          input {
            width: 346px;
            height: 43px;
            margin: 0;
            padding: 0 15px;
            background: rgba(255, 255, 255, 0.8);
            display: block;
            font-size: 16px;
            outline: 0;
            color: $t-color-black;
            float: left;
            border: 1px solid #ccc;
            border-right: 0;
          }
          @media screen and (max-width: 460px) {
            input {
              width: 248px;
            }
          }
          @media screen and (max-width: 360px) {
            input {
              width: 228px;
            }
          }
          button {
            height: 43px;
            width: 52px;
            top: 0;
            margin: 0;
            padding: 0;
            background-color: $bg-color-yellow;
            color: $t-color-white;
            position: $pos-relative;
            display: inline-block;
            border: 0;
            font-size: 26px;
            outline: 0;
          }
        }
        @media screen and (max-width: 460px) {
          .search-ctrl {
            width: 300px;
          }
        }
        @media screen and (max-width: 360px) {
          .search-ctrl {
            width: 280px;
          }
        }
      }
      @media screen and (max-width: 460px) {
        .search-wraper-common {
          width: 300px;
        }
      }
      @media screen and (max-width: 360px) {
        .search-wraper-common {
          width: 280px;
        }
      }
      .search-wraper-common.slide-in,
      .search-wraper-common.slide-out {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 1;
      }
      .search-wraper-common.slide-out {
        right: -900px;
        opacity: 0;
      }
      .search-wraper-common.slide-in {
        position: $pos-absolute;
        right: 0;
        opacity: 1;
      }
    }
  }
}

.stickyHaderWrapper.topHeaderBanner {
  position: absolute;
}

.col-md-3.paddingLeft {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-md-9.pull-right {
  padding-right: 0;
}

/* Down for mantenance */

.downForMaintenance {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  .overLay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.38);
  }
  .overLayContent {
    font-size: 18px;
    color: #000;
    width: 500px;
    padding: 15px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -100px;
    z-index: 9999999;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    background: rgba(255, 255, 255, 1);
    height: 200px;
    display: block;
    text-align: center;
    font-weight: 700;
    img {
      display: block;
      margin: 0 auto;
      width: 83px;
    }
    i {
      font-style: normal;
      color: #e5260e;
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 533px) {
    .overLayContent {
      font-size: 16px;
      width: 94%;
      left: 50%;
      top: 50%;
      margin-left: -47%;
    }
  }
  @media screen and (max-width: 377px) {
    .overLayContent {
      font-size: 14px;
    }
  }
}

header.sticky {
  background: rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.7s;
  position: $pos-fixed;
  @include width(100%);
  z-index: 99991;
  transform: translateZ(0);
  transition: all 0.5s;
  padding: 0;
  left: 0;
  top: 0;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@media screen and (max-width: 970px) {
  .navigationWrapper {
    nav.site-nav {
      margin: 22px 0px 0 0;
      ul {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 881px) {
  .navigationWrapper {
    nav.site-nav {
      margin: 22px 0px 0 0;
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.red {
  color: #f00;
}

.browsermsg {
  background: #f00;
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  float: left;
  width: 100%;
  i {
    font-size: 24px;
    padding: 0 15px 0 0;
    position: relative;
    top: 5px;
  }
}
