.LoginRegPopup {
  .modal.modelAuthPopup1 {
    .modelBg {
      background: transparent;
      background: #ffffff; // margin-top: -24px;
      border: 2px solid #fff;
      border-radius: 10px;
      .modal-header {
        padding: 10px 15px;
        background-color: #3c3b3b;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom: 3px solid #fdb701;
        height: 50px;
        .modal-title {
          padding: 5px;
          text-align: center;
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          margin-top: 0px;
        }
      }
      .modal-body {
        margin: 15px 25px;
      }
      @media screen and (max-width: 730px) {
        .modal-body {
          margin: 10px 25px 0;
        }
      }
      @media only screen and (max-width: 568px) {
        .modal-body {
          margin: 5px 25px 0;
        }
      }
      @media only screen and (max-width: 480px) {
        .modal-body {
          margin: 5px 25px 0;
        }
      }
    }
    .modelBg.login {
      .modal-body {
        .listtyoP {
          border-right: 1px solid #c9cacc;
          padding: 0 15px 0 10px;
          height: 100%;
          min-height: 380px;
          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
          }
          ul {
            list-style: none;
            width: 100%;
            display: block;
            float: $text-align-left;
            position: relative;
            top: 15px;
            li {
              width: 100%;
              position: $pos-relative;
              padding-left: 35px;
              padding-bottom: 20px;
              display: block;
              float: $text-align-left;
              margin-bottom: 0;
              -webkit-transition: all 200ms ease-in;
              -ms-transition: all 200ms ease-in;
              -moz-transition: all 200ms ease-in;
              transition: all 200ms ease-in;
              @include font-size(13px);
            }
            li:before {
              width: 50px;
              height: 50px;
              background: url(#{$img-base-url}b4s_pop.png) no-repeat;
              content: "";
              top: -6px;
              left: -10px;
              position: absolute;
            }
            li:nth-child(1):before {
              background-position: 0 4px;
            }
            li:nth-child(2):before {
              background-position: 0 -40px;
            }
            li:nth-child(3):before {
              background-position: 0 -87px;
            }
            li:nth-child(4):before {
              background-position: 2px -139px;
            }
            li:nth-child(5):before {
              background-position: 4px -185px;
            }
          }
        }
        @media screen and (max-width: 768px) {
          .listtyoP {
            height: 367px;
            overflow-y: auto;
          }
        }

        .mg-btm {
          text-align: center;
          margin: 0 auto;
          .newads {
            background: #fdb701;
            font-size: 12px;
            width: 100%;
            padding: 5px 10px;
            margin-bottom: 5px;
            text-align: center;
            font-weight: 600;
            float: left;
            a {
              float: left;
              width: 100%;
              position: relative;
              text-decoration: none;
            }
          }
          .socialLoginWrapper {
            float: left;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
            .social {
              position: relative;
              position: relative;
              display: inline-block;
            }
            a {
              text-decoration: none;
              width: 290px;
              margin: 0px auto;
              font-size: 16px;
              font-weight: 400;
            }
            a.facebook,
            a.googleplus {
              color: #fff;
              outline: 0;
              border-radius: 20px;
              margin: 5px 7.5px 15px;
              height: 38px;
              line-height: 38px;
              padding: 0;
              border: 0;
              width: 150px;
            }
            @media screen and (max-width: 400px) {
              a.facebook,
              a.googleplus {
                width: 100px;
              }
            }
            a.facebook {
              background-color: $facebook;
              margin-left: 0;
            }
            a.facebook:hover,
            a.facebook.active {
              background-color: #8b9dc3;
            }
            a.googleplus {
              background-color: $googleplus;
              margin-right: 0;
            }
            a.googleplus:hover,
            a.googleplus.active {
              background-color: #d34836;
            }
          }
          h2.no-span {
            color: #3c3b3b;
            font-size: 16px;
            margin: 0;
            position: relative;
            font-weight: bold;
            float: left;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          .outer-tab-wrapper {
            margin-top: 0;
            ul.tabs {
              margin: 0px;
              padding: 0px;
              list-style: none;
              font-size: 18px;
            }
            ul.tabs li {
              background: none;
              color: #222;
              display: inline-block;
              text-align: center;
              cursor: pointer;
              padding: 8px 50px;
              transition: none;
              border: none;
            }
            @media screen and (max-width: 394px) {
              ul.tabs li {
                padding: 8px 30px;
              }
            }
            ul.tabs li.current {
              color: #222;
              border-bottom: 2px solid #3c3b3b;
            }
            ul.tabs li.vleTheme {
              padding: 8px 0;
              float: left;
            }
            .formelemt {
              padding: 0 15px;
              margin-bottom: 0;
              .greenBtn {
                width: 150px;
                height: 38px;
                line-height: 0;
                border-radius: 0;
                background-color: #3c3b3b;
                margin: 35px auto 15px;
                color: #fff;
                border: 0;
                outline: 0;
              }
              .disbled {
                background-color: #cccccc;
                cursor: default;
              }
              .ctrl-wrapper {
                float: left;
                width: 100%;
                margin-bottom: 0;
                padding-top: 0;
                .form-group {
                  margin-top: 20px;
                  float: left;
                  width: 100%;
                  position: relative;
                  .exten {
                    position: absolute;
                    margin-top: 4px;
                    left: 0;
                  }
                  .padding40 {
                    padding-left: 35px !important;
                  }
                  .form-control {
                    display: block;
                    width: 100%;
                    height: 30px;
                    padding: 6px 0 6px 10px;
                    font-size: 14px;
                    line-height: 1.42857;
                    background-color: transparent;
                    background-image: none;
                    border-radius: 0;
                    border: 0px;
                    box-shadow: none;
                    border-bottom: 1px solid #c9cacc;
                    color: #000; // padding-bottom:20px;
                    // padding-top:20px;
                  }
                }
                @media screen and (max-width: 490px) {
                  .form-group {
                    width: 100%;
                  }
                }
                .error1 {
                  font-size: 10px;
                  text-align: left;
                  position: absolute;
                  padding: 5px 0;
                  letter-spacing: 0;
                  color: #f00;
                }
              }
              @media screen and (max-width: 490px) {
                .ctrl-wrapper {
                  width: 100%;
                }
              }
              .tc {
                font-size: 12px;
                float: left;
                width: 100%;
                text-align: left;
                padding: 0 0;
                a {
                  font-size: 12px;
                }
              }
            }
            @media screen and (max-width: 490px) {
              #tab-1,
              #tab-2 {
                height: 100%;
                overflow: hidden;
              }
              #tab-1,
              #tab-2 {
                margin-top: 15px;
                margin-bottom: 30px;
              }
            }
            @media screen and (max-width: 360px) {
              #tab-1,
              #tab-2 {
                height: 100%;
                overflow: hidden;
                margin-bottom: 30px;
              }
            }
            @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
              #tab-1,
              #tab-2 {
                overflow: hidden;
                height: auto;
              }
            }
          }
          .outer-tab-wrapper.vleMarginTop {
            margin-top: 60px;
          }
        }
        .mg-btm.register {
          text-align: center;
          margin: 30px auto 0;
          .formelemt {
            padding: 15px 60px;
            .ctrl-wrapper {
              float: left;
              width: 100%;
              margin-bottom: 0;
              padding-top: 0;
              .form-group {
                margin-top: 20px;
                float: left;
                width: 100%;
                position: relative;
                .form-control {
                  display: block;
                  width: 100%;
                  height: 30px;
                  padding: 6px 12px 6px 19px;
                  font-size: 14px;
                  line-height: 1.42857;
                  background-color: transparent;
                  background-image: none;
                  border-radius: 0;
                  border: 0px;
                  box-shadow: none;
                  border-bottom: 1px solid #c9cacc;
                  color: #000; // padding-bottom:20px;
                  // padding-top:20px;
                }
              }
              .error1 {
                font-size: 10px;
                text-align: left;
                position: absolute;
                padding: 5px 0;
                letter-spacing: 0;
                color: #f00;
                bottom: 30px;
              }
            }
            .emailbtn {
              position: relative;
              top: 20px;
              span {
                width: 100px;
              }
              span:first-child {
                background-color: transparent;
                border: 1px solid #3c3b3b;
                color: #3c3b3b;
                outline: 0;
                padding: 7px 15px;
                margin: 0 5px;
                text-decoration: none;
                cursor: pointer;
              }
              .greenBtn {
                width: 100px;
                height: 38px;
                line-height: 0;
                border-radius: 0;
                background-color: #3c3b3b;
                margin: 0;
                color: #fff;
                border: 0;
                outline: 0;
                float: right;
              }
            }
          }
          .error {
            color: #f00;
          }
        }
      }
    }
    .modelBg.emailverification {
      left: 50%;
      width: 400px;
      margin-left: -200px;
      position: absolute;
      border-radius: 8px;
      height: 290px;
      top: 50%;
      margin-top: -135px;
      .modal-body.forgot {
        .formelemt {
          padding: 0 15px;
          .greenBtn {
            width: 150px;
            height: 38px;
            line-height: 0;
            border-radius: 0;
            background-color: #3c3b3b;
            margin: 0 auto 15px;
            color: #fff;
            border: 0;
            outline: 0;
          }
          .greenBtn.recover {
            width: 180px;
            margin-top: 15px;
            position: relative;
            top: 14px;
          }
          .greenBtn.reportbtn {
            width: auto;
            margin: 10px auto 30px;
            position: relative;
            top: 0;
            padding: 0 30px;
          }
          .ctrl-wrapper {
            float: left;
            width: 100%;
            margin-bottom: 0;
            padding-top: 0;
            .form-group {
              margin-bottom: 15px;
              float: left;
              width: 100%;
              position: relative;
              .form-control {
                display: block;
                width: 100%;
                height: 30px;
                padding: 6px 12px 6px 19px;
                font-size: 14px;
                line-height: 1.42857;
                background-color: transparent;
                background-image: none;
                border-radius: 0;
                border: 0px;
                box-shadow: none;
                border-bottom: 1px solid #c9cacc;
                color: #000; // padding-bottom:20px;
                // padding-top:20px;
              }
            }
            .error1 {
              font-size: 10px;
              text-align: left;
              position: absolute;
              padding: 5px 0;
              letter-spacing: 0;
              color: #f00;
              margin-bottom: 10px;
            }
          }
          .tc {
            text-align: center;
            a {
              font-size: 18px;
              color: #3c3b3b;
            }
          }
          .emaillink {
            text-align: center;
            a {
              float: left;
              width: 100%;
              text-align: center;
              color: #3c3b3b;
              text-decoration: underline;
              padding-bottom: 5px;
            }
          }
        }
        .box {
          width: 100%;
          position: relative;
          text-align: center;
          margin: 0 0 15px;
          p {
            font-size: 16px;
            text-transform: initial;
            font-weight: initial;
          }
          p:last-child {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
        .emailbtn {
          width: 100%;
          position: relative;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
          a:first-child {
            background-color: transparent;
            border: 1px solid #3c3b3b;
            color: #3c3b3b;
            outline: 0;
            padding: 9px 15px;
            margin: 0 5px;
            text-decoration: none;
          }
          a:last-child {
            background-color: #3c3b3b;
            color: #fff;
            outline: 0;
            padding: 9px 15px;
            margin: 0 5px;
            border: 1px solid #3c3b3b;
            text-decoration: none;
          }
        }
      }
      .modal-body.forgot.report {
        .formelemt {
          .ctrl-wrapper {
            .form-group {
              textarea.form-control {
                resize: none;
                height: 110px;
              }
            }
          }
        }
      }
    }
    .modelBg.emailverification.scholreport {
      height: 360px;
      margin-top: -180px;
    }
    .modelBg.emailverification.internal {
      height: 480px;
      margin-top: -240px;
      .modal-body {
        margin: 15px 0;
      }
      .ctrl-wrapper {
        .form-group {
          ::-webkit-input-placeholder {
            color: #000;
          }
          ::-moz-placeholder {
            color: #000;
          }
          :-ms-input-placeholder {
            color: #000;
          }
          :-moz-placeholder {
            color: #000;
          }
        }
      }
    }
    .modelBg.emailverification.internal.othersBoxHeight {
      height: 520px;
      margin-top: -260px;
    }

    @media screen and (max-width: 400px) {
      .modelBg.emailverification {
        width: 100%;
        margin-left: -50%;
      }
    }
  }
  .footerText {
    font-size: 14px;
    display: block;
  }
  .registertext {
    font-size: 14px;
    margin-top: 20px;
    display: block;
    margin-left: 4px;
  }
  .register {
    border-top: 1px solid #ccc;
    margin: 15px 0 0;
    padding: 15px 0 0;
  }
}
.registerform {
  margin-top: 30px;
  h3 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-weight: 600;
    width: 100%;
  }
  .formelemt {
    padding: 15px 60px;
    .ctrl-wrapper {
      float: left;
      width: 43%;
      margin-bottom: 0;
      padding-top: 0;
      margin-left: 30px;
      .form-group {
        margin-bottom: 15px;
        float: left;
        width: 100%;
        position: relative;
        .form-control {
          display: block;
          width: 100%;
          height: 30px;
          padding: 6px 12px 6px 19px;
          font-size: 14px;
          line-height: 1.42857;
          background-color: transparent;
          background-image: none;
          border-radius: 0;
          border: 0px;
          box-shadow: none;
          border-bottom: 1px solid #c9cacc;
          color: #000; // padding-bottom:20px;
          // padding-top:20px;
        }
      }
      .error1 {
        font-size: 10px;
        text-align: left;
        position: absolute;
        padding: 5px 0;
        letter-spacing: 0;
        color: #f00;
      }
    }
  }
  @media screen and (max-width: 555px) {
    .formelemt {
      padding: 15px 0 15px 0;
      .ctrl-wrapper {
        float: left;
        width: 100%;
        margin-bottom: 0;
        @include padding(0 15px);
        margin: 0 auto;
        .form-group {
          margin-bottom: 15px;
          float: left;
          width: 100%;
          position: relative;
          .form-control {
            display: block;
            width: 100%;
            height: 30px;
            padding: 6px 12px 6px 19px;
            font-size: 14px;
            line-height: 1.42857;
            background-color: transparent;
            background-image: none;
            border-radius: 0;
            border: 0px;
            box-shadow: none;
            border-bottom: 1px solid #c9cacc;
            color: #000; // padding-bottom:20px;
            // padding-top:20px;
          }
        }
      }
    }
  }
  .socialLoginWrapper {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    .social {
      position: relative;
      position: relative;
      display: inline-block;
    }
    a {
      text-decoration: none;
      width: 290px;
      margin: 0px auto;
      font-size: 16px;
      font-weight: 400;
    }
    a.facebook,
    a.googleplus {
      color: #fff;
      outline: 0;
      border-radius: 20px;
      margin: 5px 7.5px 15px;
      height: 38px;
      line-height: 38px;
      padding: 0;
      border: 0;
      width: 150px;
    }
    @media screen and (max-width: 400px) {
      a.facebook,
      a.googleplus {
        width: 100px;
      }
    }
    a.facebook {
      background-color: $facebook;
      margin-left: 0;
    }
    a.facebook:hover,
    a.facebook.active {
      background-color: #8b9dc3;
    }
    a.googleplus {
      background-color: $googleplus;
      margin-right: 0;
    }
    a.googleplus:hover,
    a.googleplus.active {
      background-color: #d34836;
    }
  }
  .greenBtn {
    width: 100px;
    height: 38px;
    line-height: 0;
    border-radius: 0;
    background-color: #3c3b3b;
    margin: 0;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 30px auto 20px;
    display: block;
  }
  .tc {
    margin: 15px 0 10px;
    text-align: center;
    width: 100%;
    @include padding(0 15px);
  }
}

.loginotp {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
  .otpbg {
    .otpWrapper {
      display: flex;
      width: 100%;
      @include padding(0);
      flex-wrap: wrap;
      justify-content: center;
      p {
        font-weight: 400;
        justify-content: center;
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }

      p.success {
        color: green;
        font-weight: 600;
      }

      p.padding30 {
        padding: 30px 0 0 15px;
      }

      h1 {
        @include margin(0);
        @include padding(0);
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        color: #000;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
      }

      .formWrapper {
        margin: 15px 0 0;
        padding: 15px 7.5px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        p {
          font-weight: 400;
          justify-content: center;
          display: flex;
          width: 100%;
          margin-bottom: 15px;
        }

        .cellWrapper {
          display: flex;
          width: 100%;
          justify-content: center;

          .width100 {
            width: 100%;
          }

          .form-group {
            @include margin(34px auto 0);
            @include padding(0);
            width: 100%;
            position: relative;
            justify-content: center;
            text-align: center;
            display: flex;

            .form-control,
            input {
              @include margin(0 5px);
              @include padding(7.5px);
              display: flex;
              width: 45px !important;
              border-radius: 5px;
              background-color: rgba(240, 189, 0, 0.3);
              height: 40px;
              box-shadow: none;
              border: 0;
              color: #000000;
              justify-content: center;
              font-weight: 600;
              outline: none;
            }

            @media screen and (max-width: 480px) {
              .form-control,
              input {
                width: 30px !important;
                height: 30px;
                display: flex;
              }
            }

            span {
              color: #646464;
            }

            .form-control:focus,
            .form-control.active {
              background-color: rgba(240, 189, 0, 0.9);
              color: #fff;
            }

            .form-control::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 14px;
              color: rgba(35, 35, 35, 0.6);
              font-weight: 400;
            }

            .form-control::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:-moz-placeholder {
              /* Firefox 18- */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 14px;
              color: rgba(35, 35, 35, 0.6);
              font-weight: 400;
            }

            .form-control:focus::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus:-moz-placeholder {
              /* Firefox 18- */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control.textarea {
              resize: none;
              height: 93px;
              padding-top: 5px;
            }
          }
        }

        .linkButton {
          @include margin(10px 0 0);
          @include padding(0);
          font-size: 14px;
          font-weight: 600;
          display: flex;
          width: 100%;
          justify-content: center;
          color: #000000;
          text-decoration: none;
          cursor: pointer;
          border: 0;
          background-color: transparent;
          outline: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .btn {
          @include margin(0 auto);
          @include padding(0 30px);
          font-size: 22px;
          font-weight: 400;
          width: 322px;
          height: 46px;
          text-align: center;
          color: #fff;
          line-height: 46px;
          border: 0;
          border-radius: 10px;
          cursor: pointer;
          display: block;
          float: none;
          outline: none;
          position: relative;
          background: #f0bd00;
        }
      }
    }

    .otpmobile {
      .otpnumber {
        font-weight: 400;
        @include padding(25px 0 0);
        width: 360px;
        display: flex;
        flex-wrap: wrap;

        .gpnum {
          @include margin(25px 0 0);

          input {
            margin: 0;
            @include padding(0 20px);
            border-radius: 0;
            height: 43px;
            box-shadow: none;
            border: 0;
            background: #dbe6eb;
            width: 232px;
            position: relative;
          }
          span.error {
            color: $red-color;
            @include font-size(12px);
            float: left;
            width: 100%;
            padding: 5px 0;
          }
          .btn {
            margin: 0;
            @include padding(0 30px);
            font-size: 22px;
            font-weight: 400;
            width: auto;
            height: 43px;
            text-align: center;
            color: #fff;
            background: #fdb701;
            line-height: 43px;
            border: 0;
            border-radius: 0;
            cursor: pointer;
            float: none;
            outline: 0;
            position: absolute;
          }
        }
      }

      @media screen and (max-width: 420px) {
        .otpnumber {
          @include padding(30px 0 0);
          width: 100%;

          .gpnum {
            width: 100%;

            input {
              width: 75%;
              font-size: 13px;
            }

            .btn {
              @include padding(0 15px);
              font-size: 14px;
              width: 23%;
            }
          }
        }
      }
    }
  }
}
