@media screen and (max-width: 1120px) {
  .footer {
    .footer-ul {
      h5 {
        width: 100%;
        float: $float-L;
        margin-right: 0;
        a {
          text-decoration: $text-decoration-underline;
          &:hover {
            text-decoration: $text-decoration-none;
          }
        }
      }
    }
  }
  .cell1 {
    padding: 0;
  }
  .cell2,
  .cell3 {
    width: 25%;
    padding: 0 15px 0 0;
  }
  .cell4 {
    width: 50%;
  }
  .cell1.borderR,
  .cell2.borderR {
    border-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  /* Header : Menu */
  .stickyHaderWrapper {
    header {
      nav {
        ul {
          display: block;
        }
        .menu-toggle {
          display: none;
        }
      }
    }
  }
  /* Footer */
  .circle {
    .bottomarrow {
      right: 20px;
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    .cell1 {
      padding: 0;
    }
    .col-sm-12 {
      width: 100%;
    }
    .cell2,
    .cell3 {
      padding: 0;
    }
  }
}

@media screen and (max-width: 881px) {
  footer {
    .upper-footer {
      .btn {
        height: auto;
        padding: 5px 10px;
        margin: 0;
        display: block;
      }
    }
  }
  /* Header : Menu */
  .stickyHaderWrapper {
    header {
      .searchContent {
        top: 0;
        float: right;
        nav.site-nav {
          height: 100%;
          position: fixed;
          top: -46px;
          right: -300px;
          background: #0b1008;
          width: 250px;
          padding: 75px 0 0;
          margin-top: 46px;
          z-index: 9999;
          transition: all 700ms ease-in;
          .overflowNav {
            overflow-y: auto;
            height: 100%;
            position: relative;
            top: -75px;
            ul {
              li {
                margin: 0;
                padding: 0;
                float: left;
                width: 100%;
                a {
                  margin: 0;
                  padding: 0 15px;
                  height: 40px;
                  line-height: 40px;
                  cursor: pointer;
                }
                a:hover {
                  background-color: rgba(253, 183, 1, 0.2);
                }
                .dropdown-content {
                  top: 35px;
                  right: 0;
                  position: initial;
                  min-width: initial;
                  background: rgb(18, 24, 27);
                  z-index: 99999;
                  float: left;
                  ul {
                    margin-bottom: 0;
                    li {
                      float: left;
                      width: 100%;
                      border-bottom: 1px solid #13120c;
                      padding-bottom: 0;
                      a {
                        margin: 0;
                        padding: 0 15px;
                        height: 35px;
                        line-height: 35px;
                        color: #fff;
                      }
                    }
                    li:after {
                      background-color: rgb(11, 16, 8);
                    }
                    li:last-child {
                      border-bottom: 0;
                    }
                    li:last-child:after {
                      display: none;
                    }
                  }
                }
              }
              li.highlightMobo {
                a {
                  background-color: rgba(253, 183, 1, 0.2);
                }
                .dropdown-content {
                  ul {
                    li {
                      a {
                        background-color: #ebba2b;
                      }
                    }
                  }
                }
              }
              li:after {
                background-color: rgb(18, 24, 27);
                visibility: initial;
                -webkit-transform: initial;
                -webkit-transition: initial;
                transition: initial;
                bottom: -1px;
              }
              li:last-child {
                border-bottom: 0;
              }
              li:last-child:after {
                display: none;
              }
              li.loginbar,
              li.article {
                background: #f9cf00;
                span {
                  margin: 0;
                  padding: 0 15px;
                  height: 40px;
                  line-height: 40px;
                  cursor: pointer;
                  color: #000;
                  display: inline-block;
                  text-align: left;
                  img {
                    top: 8px;
                  }
                }
              }
              @media screen and (max-width: 881px) {
                li.article {
                  background: transparent;
                }
              }
            }
          }
        }
        nav.site-nav.open {
          height: 100%;
          position: fixed;
          top: -46px;
          right: -50px;
          display: block;
          transition: all 700ms ease-in;
          background: #0b1008;
          margin-top: 46px;
          z-index: 3;
        }
        nav.site-nav.close {
          right: -300px;
          display: none;
        }
        .menu-toggle {
          display: block;
          top: 27px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .stickyHaderWrapper {
    header {
      .searchContent {
        top: -77px;
      }
    }
  }
  .footer-min-height {
    @include min-height(345px);
  }
  .footer {
    .first {
      padding-left: 15px !important;
    }
    .last {
      padding-right: 15px !important;
    }
    .container {
      padding: 0;
      .cell2,
      .cell3 {
        width: 100%;
        padding: 0;
        min-height: inherit;
      }
      .cell3 {
        border-right: 0;
      }
      .cell4 {
        border-top: 1px solid #5a5758;
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        margin-top: 30px;
        float: left;
        margin-bottom: 30px;
      }
      .row {
        width: 100%;
        padding: 0;
        margin: 0;
        .footer-ul {
          float: left;
          width: 100%;
          margin-bottom: 0;
          h3 {
            margin: 10px;
          }
          h5 {
            width: auto;
            float: left;
            margin-right: 0px;
            position: relative;
            margin-left: 20px;
            width: 100%;
            &:after {
              // content: "|";
              position: absolute;
              top: 1px;
              right: -16px;
              color: #fff;
              font-size: 14px;
              font-weight: 300;
            }
            a {
              line-height: 28px;
            }
          }
          h5:last-child {
            &:after {
              display: none;
            }
          }
        }
        .contact-form {
          top: inherit;
          h3 {
            margin-bottom: 10px;
          }
          form {
            max-width: 100%;
            margin: 0;
            .ctrl-wrapper {
              .form-group {
                width: 48%;
              }
              .form-group:first-child {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 607px) {
  .footer {
    .container {
      .row {
        .footer-social {
          margin-bottom: 15px;
        }
        .contact-form {
          form {
            .ctrl-wrapper {
              .form-group {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-min-height {
    @include min-height(344px);
  }
  footer {
    .footer {
      .footer-ul {
        h5 {
          font-size: 12px;
        }
      }
    }
    .upper-footer {
      h5 {
        padding-right: 9px;
        a {
          font-size: 12px;
        }
      }
      .btn {
        height: auto;
        padding: 5px 10px;
        margin: 0;
        display: block;
      }
    }
    .inner-footer {
      h5 {
        margin: 0;
      }
    }
  }
}
