.popup.subscribePopupNew {
  background-color: red;
  .popupsms {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
  }
  .popupsms.overLay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 99999;
  }
  .subscribe_inner {
    position: absolute;
    width: 400px;
    height: 560px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    background: transparent;
    border: 0px solid #f2f2f2;
    border-radius: 10px;
    @media screen and (max-width: 480px) {
      width: 96%;
      height: 240px;
      margin-left: -48%;
    }
    .modal.modelAuthPopup1 {
      .modelBg {
        background: transparent;
        background: #ffffff; // margin-top: -24px;
        border: 2px solid #fff;
        border-radius: 10px;

        .modal-header {
          padding: 10px 15px;
          background-color: #3c3b3b;
          border-top-right-radius: 7px;
          border-top-left-radius: 7px;
          border-bottom: 3px solid #fdb701;
          height: 50px;
          .modal-title {
            padding: 5px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin-top: 0px;
          }
        }
        .modal-body {
          margin: 15px 25px;
        }
        .modal-body.subscribe {
          @include margin(15px 0);
          .content_inner {
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            @media screen and (max-width: 480px) {
              height: 300px;
            }
            .SubscribeNow {
              text-align: center;
              h1 {
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                padding: 0 10px;
                i {
                  font-style: normal;
                  font-weight: 600;
                }
              }
              h2 {
                display: flex;
                width: 100%;
                font-size: 18px;
                justify-content: center;
                margin: 15px 0;
                font-weight: 600;
              }
              .btn {
                margin: 0;
              }

              input {
                border: 1px solid #b7b7b7;
                padding: 5px 10px;
                color: #444;
                border-radius: 5px;
                margin-bottom: 20px;
                width: 42%;
              }
              input:nth-child(1) {
                margin-right: 15px;
              }
              .socailgp {
                display: flex;
                width: 100%;
                font-size: 18px;
                justify-content: center;
                margin: 15px 0;
                font-weight: 600;
                flex-wrap: wrap;
                .whatsapp {
                  font-size: 17px;
                  border-color: #34af23;
                  background: #34af23;
                  color: #ffffff;
                  @include margin(0 0 15px 0);
                  &:hover {
                    background: transparent;
                    border-color: #34af23;
                    color: #34af23;
                  }
                }

                .facebook {
                  font-size: 17px;
                  border-color: #3b5998;
                  background: #3b5998;
                  color: #ffffff;
                  @include margin(0 0 15px 0);
                  &:hover {
                    border-color: #3b5998;
                    color: #3b5998;
                    background: transparent;
                  }
                }
              }
              .inputgroup {
                margin: 20px 0;
              }
              ul {
                margin-bottom: 20px;
                li {
                  border: none;
                  display: inline-block;
                  padding: 10px 20px;
                  margin-right: 20px;
                  border-radius: 25px;
                  color: #ffffff;
                  background: #4080ff;
                  .icon {
                    font-size: 22px;
                    margin-right: 10px;
                  }
                  a {
                    color: #fff;
                  }
                  .fb_iframe_widget {
                    display: inline-block;
                    position: relative;
                    margin-left: -52px;
                    padding: 0 20px;
                    width: 143px;
                  }
                  span {
                    border: none;
                  }
                }
                li:nth-child(1) {
                  height: 42px;
                  border: none;
                  display: inline-block;
                  padding: 10px 20px;
                  margin-right: 20px;
                  border-radius: 25px;
                  color: #ffffff;
                  background: #4080ff;
                  margin-bottom: 10px;
                  .fb_iframe_widget {
                    // top: -15px;
                    left: 17px;
                  }
                }
                li:nth-child(2) {
                  background: #c60c15;
                }
                li:nth-child(3) {
                  background: #0990fd;
                }
              }
              p {
                padding: 10px 0 20px 0;
              }
            }
          }
          .content_inner::-webkit-scrollbar {
            width: 5px;
          }
          .content_inner::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          .content_inner::-webkit-scrollbar-thumb {
            background-color: #92a1af;
            outline: 1px solid #5f6189;
          }
        }
      }
    }
  }
}
