.scholars-new {
  background: #fff;
  float: left;
  width: 100%;
  position: $position-relative;
  padding-left: 0;
  padding-right: 0;
  .msgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15x;

    .item {
      max-width: 50%;

      .content {
        width: 100%;
        text-align: center;

        h1 {
          color: #ebb800;
          font-size: 28px;
          font-weight: bold;
          @include padding(30px 0);
        }

        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      .item {
        max-width: 100%;
      }
    }
  }

  .step {
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    position: relative;

    ul {
      margin: 0 auto 45px;
      padding: 0;
      width: 60%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
        position: relative;
        // width: 33.3%;
        width: 100%;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        counter-increment: step-counter;
        font-weight: 600;
        display: flex;
        &:before {
          content: counter(step-counter);
          position: absolute;
          top: -5px;
          left: -7px;
          text-align: center;
          background: #fff;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          z-index: 1;
          border: 2px solid #ebb800;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        &:after {
          content: "";
          position: absolute;
          top: 15px;
          left: 0;
          width: 100%;
          height: 1px;
          z-index: 0;
          background: #ebb800;
        }
        label {
          position: absolute;
          top: -31px;
          left: -40px;
          width: auto;
        }
        &:first-child {
          label {
            left: -13px;
          }
        }
        &:last-child {
          width: 30px;
          &:before {
            left: initial;
            right: -7px;
          }
          &:after {
            display: none;
          }
          label {
            left: -46px;
          }
        }
        &:nth-child(2) {
          label {
            left: -40px;
          }
        }
      }
      li.active {
        &:before {
          background: #ebb800;
          color: #fff;
        }
      }
    }
    @media screen and (max-width: 800px) {
      ul {
        width: 70%;
      }
    }

    @media screen and (max-width: 736px) {
      ul {
        width: 98%;
        li {
          font-size: 12px;
        }
      }
    }
  }

  .bankDeatils {
    padding: 0;
    margin-bottom: 0;
    float: left;
    width: 100%;
    height: auto;

    h3 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #000;
      font-weight: 600;
      background: #ccc;
      padding: 10px;
    }
    .btn {
      margin-top: 0;
    }
    .btn[value="Save"] {
      // margin-top: 15px;
      margin-left: 10px;
    }
    .btn[type="submit"] {
      margin-right: 0;
    }

    .ctrl-wrapper {
      float: initial;
      width: 100%;
      padding: 15px 0;
      display: flex;
      flex-wrap: wrap;

      .form-group {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: left;
        margin: 0 0 15px 0;

        label {
          font-size: 15px;
          font-weight: 400;
        }
      }

      @media screen and (max-width: 767px) {
        .form-group {
          width: 100%;
        }
      }

      .form-group.width100 {
        width: 100%;
      }

      .form-group.interest {
        width: 100%;

        label {
          position: $pos-relative;
          padding-left: 25px;
          width: auto;
          clear: left;

          input {
            position: $pos-absolute;
            left: 1px;
            width: 14px;
            margin: 0;
            height: 15px;
            top: 2px;
            opacity: 0;
          }

          input + dd.chkbox {
            background: #fff;
            width: 16px;
            height: 16px;
            border: 1px solid $bg-color-yellow;
            position: $pos-absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            display: inline-block;
          }

          input:checked + dd.chkbox {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }

          input:checked + dd.chkbox:before {
            position: $pos-absolute;
            left: 2px;
            top: -4px;
            content: "\2713";
            color: $white-color;
          }
        }
      }
    }
    .marginTop {
      margin-top: -10px;
      height: 40px;
      padding: 10px 15px;
    }
    .marginTop2 {
      margin-top: 10px;
      height: 40px;
      padding: 10px 15px;
    }
    .btn-green {
      padding: 5px 10px;
      margin: 10px 0;
      cursor: pointer;
      span,
      i {
        color: #007e33;
        cursor: pointer;
      }
    }
    .red {
      color: #f00;
    }
    .btn-red {
      // padding:5px 10px;
      margin: 10px 0;

      span,
      i {
        color: #cc0000;
        cursor: pointer;
      }
    }
    .passedCtrlWrapper,
    .categoryCtrlWrapper {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      .passedCtrlWrapper,
      .categoryCtrlWrapper {
        width: 100%;
        .form-group {
          width: 50%;
        }
      }
    }
    .tableResponsive {
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px;
      table {
        margin-bottom: 0;
        border: 1px solid #e9ebeb;
        thead {
          tr {
            th {
              text-align: center;
              font-size: 16px;
              padding: 15px;
              font-weight: 700;
              background: #e9ebeb;
              vertical-align: middle;
              &:first-child {
                text-align: left;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              font-size: 16px;
              padding: 5px 15px;
              text-align: center;
              vertical-align: middle;
              &:first-child {
                text-align: left;
              }

              &:last-child {
                span {
                  width: 100%;
                  text-align: center;
                  display: inline-block;
                  word-break: break-all;
                }
                label {
                  display: inline-block;
                  width: 20px;
                  margin: 0 auto;
                  height: 21px;
                  .file-inpt {
                    width: 20px;
                    position: absolute;
                  }
                }
              }
            }

            td.actionBtn {
              a {
                cursor: default;
                padding: 0;
                color: #000;
                i.fa {
                  padding: 5px;
                }
              }
              article {
                display: inline;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .tableResponsive {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }
  .btn {
    margin-top: 0;
  }
  .btn[value="Continue"] {
    margin-top: 15px;
  }
  .btn[type="submit"] {
    margin-right: 0;
  }
  .boxBorder {
    border: 1px solid #e9ebeb;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    h1,
    p {
      width: 100%;
      text-align: center;
    }
    .btn {
      margin-top: 15px;
    }
  }
  .btn-yellow {
    background: #ebb800;
  }
  .btn-yellow:hover {
    background: transparent;
  }
  .btnHeight {
    padding: 5px 20px;
    height: 30px;
  }
  .margintop20 {
    margin-top: 20px;
  }
  .radiobtn {
    margin: 30px 0;
    background: #f7f7f7;
    padding: 15px;
  }
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.file-lbl {
  z-index: 1;
  top: -10px;
  cursor: pointer;
}

.file-inpt {
  z-index: 0;
  visibility: hidden;
}

.curser-dft {
  cursor: default !important;
}

.dis-inline {
  display: inline;
}
.ifsc-link {
  text-decoration: underline;
  font-size: 13px;
  position: absolute;
  right: 15px;
  top: 3px;
}
.ifsc-link-gaze{
  text-decoration: underline;
    font-size: 13px;
    position: relative;
    right: 6px;
    top: -40px;
}
.testimonial-text-area {
  height: 100px !important;
}

.left40 {
  padding-left: 100px !important;
  text-align: left !important;
}
