header {
  background-color: map-get($colors, transparentBg);
}

body {
  /* Set "counter" to 0 */
  counter-reset: counter;
}

.whiteBg {
  background: #fff;
}

.lightGrayBg {
  background: rgba(0, 0, 0, 0.03);
}

.templateBg {
  padding-top: 0;

  .container-fluid.flexible {
    padding-left: 0;
    padding-right: 0;

    .imgBanner {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      height: 378px;
      position: relative;
      display: flex;
      background: black;

      img {
        width: 100%;
        display: block;
      }

      .imgOverLay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

      .scholarshipName {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -45%;
        z-index: 1;
        display: table;
        height: 330px;
        width: 90%;

        .logo {
          width: 175px;
          float: left;
        }

        .cbLogo {
          float: right;
          width: 160px;
          border-radius: 5px;
          margin: 8px 0 0;        
          height: 72px;
          background-color: transparent;
        }

        @media screen and (max-width: 853px) {
          .logo,
          .cbLogo {
            width: 125px;
          }
        }

        @media screen and (max-width: 600px) {
          .cbLogo {
            width: auto;
            height: 45px;
          }
        }

        .centerAlign {
          width: 100%;
          text-align: center;
          position: relative;
          margin: 30px 0 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          h1 {
            font-size: 30px;
            text-transform: uppercase;
            color: #fff;
            width: 100%;
            line-height: 1.2;
            @media screen and (max-width: 853px) {
              padding: 0 15px;
            }

            @media screen and (max-width: 800px) {
              font-size: 24px;
            }

            @media screen and (max-width: 414px) {
              font-size: 20px;
            }

            @media screen and (max-width: 375px) {
              font-size: 18px;
            }
          }
          p {
            width: 100%;
            @include margin(15px auto);
            line-height: 1.5;
            text-align: center;
            font-size: 21px;
            color: #f0bd00;
            @media screen and (max-width: 913px) {
              font-size: 15px;
            }
          }
        }
        .btngrouppage {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          .groupfollowers {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .followBtn {
              padding: 0 25px;
              background: transparent;
              color: #f0bd00;
              border: 2px solid #f0bd00;
              line-height: 36px;
              transition: all 0.5s ease;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              position: relative;
              .icon {
                width: 24px;
                height: 24px;
                background: url(https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/scholarshipspite.png)
                  no-repeat -18px -138px;
                display: inline-block;
                position: relative;
                top: 7px;
                margin-right: 7.5px;
              }
              &:hover {
                color: #fff;
                background: #f0bd00;
                i {
                  background: url(#{$img-base-url}scholarshipspite.png) no-repeat -18px -98px;
                }
              }
            }
            .followBtn.active {
              color: #fff;
              background: #f0bd00;
              i {
                background: url(#{$img-base-url}scholarshipspite.png) no-repeat -18px -98px;
              }
            }
            .followersLabel {
              color: #fff;
              font-size: 16px;
              text-align: center;
              width: auto;
              font-weight: 300;
              margin: 0;
              display: inline-block;
              padding: 0;
              position: relative;
              @media only screen and (max-width: 700px) {
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                margin-top: 0;
              }

              i {
                font-style: normal;
                font-weight: 600;
                width: 100%;
                display: block;
                margin-bottom: 0;
                font-size: 27px;
                line-height: 1.1;
                @media only screen and (max-width: 700px) {
                  font-size: 16px;
                }
                &:last-child {
                  font-weight: 400;
                  font-size: 16px;
                  margin-bottom: 0;
                }
              }
            }
          }

          .whatsapp {
            background: #3cb92a;
            color: #fff;
            font-size: 16px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            width: auto;
            font-weight: 600;
            border-radius: 30px;
            padding: 0 30px;
            margin-left: 15px;
            position: relative;
            @media only screen and (max-width: 700px) {
              height: 40px;
              line-height: 40px;
            }
            .SocialMediaShareButton {
              .icon {
                position: relative;
                top: 3px;
                left: -5px;
                font-size: 24px;
              }
            }
          }

          button {
            background: #f0bd00;
            color: #fff;
            font-size: 16px;
            text-align: center;
            height: 50px;
            width: auto;
            font-weight: 600;
            border: 0;
            border-radius: 30px;
            padding: 0 30px;
            margin-right: 15px;
            @media only screen and (max-width: 700px) {
              margin-bottom: 15px;
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 472px) {
      .imgBanner {
        height: 380px;
      }
    }
    @media screen and (max-width: 433px) {
      .imgBanner {
        height: 404px;
      }
    }
    @media screen and (max-width: 349px) {
      .imgBanner {
        height: 444px;
      }
    }
  }

  .templateabout,
  .templateContact,
  .templateFAQs,
  .templateScholar,
  .templatescholarship,
  .templatetc,
  .templateqna {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    h3 {
      width: 100%;
      color: #000;
      font-size: 26px;
      position: relative;
      margin: 0 0 52px;
      font-weight: 600;
      text-align: center;

      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 50%;
        bottom: -13px;
        margin-left: -18px;
      }
    }
    p {
      margin: 0 0 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .templateabout,
    .templateContact,
    .templateFAQs,
    .templateScholar,
    .templatescholarship,
    .templatetc,
    .templateqna {
      padding: 30px 0;

      h3 {
        font-size: 20px;
      }
    }
  }

  .templateScholar,
  .collegeBoardEvent,
  .templatetc,
  .templateFAQs {
    background: #f9f9f9;
  }

  .templateabout {
    .display-flex-audio {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;

      .audio_img {
        background: url(#{$img-base-url-dev}bg-audio.jpg) no-repeat 0 0;
        width: 100%;
        height: auto;
        @include padding(10px 20px 20px);
        @include margin(0 0 30px 0);
        background-size: cover;

        p {
          font-size: 18px;
          text-align: center;
          color: #fff;
          margin-top: 10px;
        }

        audio {
          height: 40px;
          width: 100%;
        }
      }
    }

    big {
      color: #ff6565;
      font-size: 18px;
      font-weight: 600;
      text-decoration: line-through;
      display: block;
    }

    small {
      color: #007f12;
      font-size: 18px;
      font-weight: 600;
      display: block;
    }

    ul {
      padding-left: 30px;
      margin-bottom: 15px;

      li {
        list-style-type: disc;
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 5px;
      }
    }
    .paddingtop20 {
      padding-top: 20px;
    }
  }

  /*stepsecton*/
  .templateStepsContent {
    .content {
      width: 100%;
      display: block;
      height: auto;
      text-align: center;

      ul {
        text-align: center;
        display: block;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          border-right: 1px solid #f0bd00;
          height: 60px;
          line-height: 60px;
          width: auto;
          text-align: center;
          font-weight: bold;
          color: #272727;
          font-size: 13px;
          cursor: pointer;
          padding: 0 50px;
        }

        li:last-child() {
          border-right: none;
        }
      }

      @media screen and (max-width: 1024px) {
        ul {
          li {
            width: 50%;
            border-right: none;
            border-bottom: 1px solid #f0bd00;
          }
        }
      }

      @media screen and (max-width: 991px) {
        ul {
          text-align: center;

          li {
            width: auto;
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            padding: 0 15px;
            border-bottom: none;
            border-radius: 5px;
            background: #f0bd00;
            margin: 2px;
            cursor: pointer;
          }
        }
      }
      // @media screen and (max-width: 536px) {
      //   ul {
      //     margin-top: 0;
      //     margin-bottom: 0;
      //     display: block;
      //     width: 100%;
      //     li {
      //       width: 50%;
      //       font-size: 14px;
      //       padding: 7.5px 15px;
      //       border-radius: 0;
      //       margin: 0;
      //       flex: inherit;
      //       display: inline-block;
      //       float: left;
      //       height: auto;
      //     }
      //   }
      // }
    }
  }

  @media screen and (max-width: 1024px) {
    .templateStepsContent {
      height: initial;
    }
  }

  .templateStepsContent.stickeyfix {
    background: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.7s;
    position: fixed;
    width: 100%;
    z-index: 99991;
    transform: translateZ(0);
    transition: all 0.5s;
    padding: 0;
    left: 0;
    top: 0;

    .content {
      ul {
        li {
          color: #fff;
        }
      }
    }
  }

  .templatescholarship {
    h4 {
      background: rgba(0, 0, 0, 0.1);
      color: #000;
      width: 100%;
      position: relative;
      padding: 15px;
      float: left;
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      h4 {
        width: 100%;
      }
    }

    .detailsbox {
      background: #ffffff;
      border: 1px solid #eeeeee;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 0 30px 0;
      height: 510px;

      .deadlineBox {
        background: #181818;
        padding: 4px 15px;
        float: left;
        width: 100%;

        dd {
          color: #f0bd00;
          font-size: 14px;
          text-align: left;
          width: 100%;
          font-weight: 600;
        }
      }

      .amount {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 15px;
        height: 360px;

        h5 {
          color: #000;
          font-size: 16px;
          text-decoration: underline;
          font-weight: 600;
          float: left;
          width: 100%;
          position: relative;
          @include margin(10px 0);

          span {
            padding-left: 30px;
          }
        }

        h6 {
          font-size: 12px;
          font-weight: 500;

          span {
            font-weight: 600;
          }
        }

        p {
          color: #000;
        }

        ul {
          float: left;
          width: 100%;
          position: relative;

          li {
            position: relative;
            padding-left: 30px;
            line-height: 1.4;
            margin: 0 0 5px 0;

            &::before {
              content: "";
              position: $position-absolute;
              top: 3px;
              left: -4px;
              width: 25px;
              height: 20px;
              background: url(#{$img-base-url}scholarship-icon.png) no-repeat 0 0;
              display: block;
            }
          }
        }

        ul.award {
          li {
            &::before {
              background: url(#{$img-base-url}awards-icon.png) no-repeat 0 0;
            }
          }
        }

        table {
          width: 100% !important;
          border: 1px solid rgba(228, 228, 228, 0.5);

          tr {
            border-bottom: 1px solid rgba(228, 228, 228, 0.5);

            th,
            td {
              border-right: 1px solid rgba(228, 228, 228, 0.5);
              padding: 15px;
              word-break: break-word;

              &:last-child {
                border-right: 0;
              }
            }

            &:first-child {
              background: rgba(228, 228, 228, 0.3);
              font-weight: 600;
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      .amount-scroll {
        height: 357px;
        overflow-y: scroll;
      }

      .amount-scroll::-webkit-scrollbar {
        width: 5px;
      }

      .amount-scroll::-moz-scrollbar {
        width: 5px;
      }

      .amount-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      .amount-scroll::-moz-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      .amount-scroll::-webkit-scrollbar-thumb {
        background-color: #f0bd00;
        outline: 1px solid #5f6189;
      }

      .amount-scroll::-moz-scrollbar-thumb {
        background-color: #f0bd00;
        outline: 1px solid #5f6189;
      }

      @media screen and (max-width: 768px) {
        .amount {
          height: initial;
        }
      }

      &:hover {
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }

    @media screen and (max-width: 768px) {
      .detailsbox {
        height: initial;
      }
    }

    button {
      background: #f0bd00;
      color: #fff;
      font-size: 14px;
      text-align: center;
      height: 30px;
      width: auto;
      font-weight: 600;
      border: 0;
      border-radius: 30px;
      padding: 3px 15px;
      border: 1px solid #e4a604;
      float: left;
      position: relative;
      margin: 15px auto;
    }

    p {
      float: left;
      width: 100%;
      position: relative;
    }
  }

  .templateScholar {
    .awardeesSlider {
      width: 100%;
      height: 100%;
      float: left;
      margin: 0;
      padding: 30px 15px;

      @media screen and (max-width: 991px) {
        .col-md-3 {
          width: 50%;
          float: left;
        }
      }

      .box {
        float: left;
        width: 100%;
        text-align: center;
        background: #fff;
        height: 220px;
        padding: 15px;
        margin-bottom: 16px;
        margin-top: 52px;
        position: relative;

        .box-in {
          float: left;
          width: 100%;
          padding: 45px 0 0;

          img {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -48px;
            left: 50%;
            margin-left: -50px;
            z-index: 4;
          }

          h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 17px;
            text-align: center;
            color: #e4a604;
            margin: 22px 0 7.5px;
            padding: 0 15px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            margin: 7.5px 0 0;
            float: left;
            width: 100%;
            line-height: 17px;
          }
        }
      }

      @media screen and (max-width: 991px) {
        .box {
          height: 230px;
        }
        .display-flex-audio {
          display: flex;
          flex-flow: row wrap;
          .audio-order1 {
            order: 1;
            width: 100%;
          }
          .audio-order2 {
            order: 2;
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 753px) {
        .box {
          height: 240px;
        }
      }

      @media screen and (max-width: 736px) {
        .box {
          height: auto;
        }

        .col-md-3 {
          width: 100%;
        }
      }

      @media screen and (max-width: 412px) {
        .box {
          height: auto;
        }
      }

      .box.border {
        border: 1px solid #fbc32e;
        border-radius: 8px;
      }
    }

    @media screen and (max-width: 960px) {
      .awardeesSlider {
        height: auto;
        overflow-y: hidden;
      }
    }

    @media screen and (max-width: 736px) {
      .awardeesSlider {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media screen and (max-width: 412px) {
      .awardeesSlider {
        padding: 30px 0;
      }
    }

    .awardeesSlider-scroll {
      height: 357px;
      overflow-y: scroll;
    }

    .awardeesSlider-scroll::-webkit-scrollbar {
      width: 5px;
    }

    .awardeesSlider-scroll::-moz-scrollbar {
      width: 5px;
    }

    .awardeesSlider-scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .awardeesSlider-scroll::-moz-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .awardeesSlider-scroll::-webkit-scrollbar-thumb {
      background-color: #f0bd00;
      outline: 1px solid #5f6189;
    }

    .awardeesSlider-scroll::-moz-scrollbar-thumb {
      background-color: #f0bd00;
      outline: 1px solid #5f6189;
    }
  }

  /* Frequently Asked Question */
  .templateFAQs {
    width: 100%;
    position: relative;
    float: left;
    padding: 60px 0;

    .content {
      width: 100%;
      display: block;
      text-align: center;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 15px;

        a {
          color: #f0bd00;
          text-decoration: underline;
          margin: 0;
          word-break: break-all;

          &:hover {
            color: #000;
            text-decoration: none;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;

        li {
          float: left;
          width: 100%;
          border-radius: 6px;
          padding: 0 0 0 60px;
          margin-bottom: 30px;
          position: relative;
          display: table;
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          @media only screen and (max-width: 568px) {
            margin-bottom: 15px;
          }

          h5 {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin-bottom: 5px;
            margin-top: 0;
            line-height: 1.5;
            cursor: pointer;
            position: relative;
            @media only screen and (max-width: 568px) {
              font-size: 16px;
              font-weight: 600;
            }

            &:before {
              position: absolute;
              top: -6px;
              left: -55px;
              content: "";
              width: 38px;
              height: 38px;
              border-radius: 50%;
              text-align: center;
              line-height: 35px;
              color: #fff;
              font-size: 38px;
              padding-left: 3px;
              cursor: pointer;
              background: #f0bd00 url(#{$img-base-url}spriteImgCB.png) no-repeat 5px -77px;
              @media only screen and (max-width: 568px) {
                background-position: 2px -81px;
                width: 32px;
                height: 32px;
                top: 0;
              }
            }
          }

          p {
            display: none;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 15px;
            float: left;
            width: 100%;

            li {
              margin: 0 0 15px;
              padding: 0 15px;
              float: left;
              width: 100%;
              position: relative;
              text-align: left;

              &:before {
                position: absolute;
                left: 0;
                top: 9px;
                content: "";
                font-weight: 700;
                width: 6px;
                height: 6px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 50%;
              }

              &:last-child {
                margin-bottom: 0;
              }

              a {
                color: #f0bd00;
                text-decoration: underline;
                margin: 0;
                transition: all 0.5s ease-in;
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;

                &:hover {
                  color: #000;
                  text-decoration: none;
                }
              }
            }
          }
        }

        li.active {
          h5 {
            &:before {
              background-position: -33px -77px;
              @media only screen and (max-width: 568px) {
                background-position: -36px -80px;
              }
            }
          }

          p {
            display: block;
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .templateqna {
    @media only screen and (max-width: 568px) {
      h3 {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    .cateWrapper {
      // background: #f7f7f7;
      padding: 15px;
      margin: 0 0 15px 0;
      display: flex;
      width: 100%;
      position: relative;
      flex-wrap: wrap;

      .imgWrapper {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .left {
          position: relative;
          width: 100%;
          border-bottom: 1px solid #ccc;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            float: left;
            margin-right: 15px;
            border: 3px solid #fff;
            margin-bottom: 25px;
          }

          h5 {
            font-size: 16px;
            font-weight: 600;
            @include margin(5px 0);
          }

          h6 {
            font-size: 14px;
            font-weight: normal;
            padding-left: 55px;
            @include margin(0 0 15px 0);
            span {
              color: #000;
              font-weight: 600;
            }
          }
        }
        .left.noborder {
          border: 0;
          h6 {
            @include margin(0 0 5px 0);
            @include padding(5px 0 0 0);
          }
          p {
            font-size: 14px;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
          }
          a {
            color: #f0bd00;
            @include padding(0);
            font-weight: 600;
          }
        }
        .ansWrapper {
          display: flex;
          width: 100%;
          padding: 15px 0 15px 50px;
          height: auto;
          flex-wrap: wrap;
          .comments {
            font-size: 16px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            margin: 0 0 15px 0;
            color: #f0bd00;

            i {
              padding: 0 10px 0 0;
              font-weight: 600;
            }
          }
          ul {
            width: 100%;
            margin: 0 auto;
            list-style-type: none;
            counter-reset: steps;
            margin: 0;
            li {
              padding: 0 0 20px 0;
              position: relative;
              margin: 0;
            }

            li:before {
              position: absolute;
              left: 22px;
              top: 0;
              content: "";
              height: 100%;
              width: 0;
              border-left: 2px dashed #ccc;
            }
            li:last-of-type:before {
              border: none;
            }
          }
        }
      }
    }
    .btn.qnabtn {
      @include margin(0);
    }
    .btn.qnabtnyellow {
      background-color: #f0bd00;
      color: #ffffff;
      @include margin(0);
      border-radius: 0;
      position: fixed;
      top: 50%;
      font-size: 16px;
      right: -73px;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
    }
    .search-wraper {
      margin: 30px auto;
      width: 70%;
      position: $pos-relative;
      .search-ctrl {
        position: relative;
        input {
          padding: 0 15px;
          @include height(48px);
          @include width(100%);
          @include font-size(16px);
          background-color: #fff;
          display: $display-inline-block;
          outline: 0;
          border: 1px solid #f0bd00;
        }
        button,
        button:hover {
          outline: 0;
          border: 0;
          @include height(48px);
          @include width(100px);
          @include font-size(18px);
          background-color: $bg-color-yellow;
          color: $bg-color-white;
          display: $display-inline-block;
          border: 0;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  .collegeBoardEvent {
    width: 100%;
    float: left;
    padding: 60px 0;

    h3 {
      width: 100%;
      color: #000;
      font-size: 18px;
      position: relative;
      margin: 4px 0 33px;
      font-weight: 600;
      text-align: left;

      &:after {
        content: "";
        height: 3px;
        width: 36px;
        background: #f0bd00;
        position: absolute;
        left: 0;
        bottom: -13px;
        margin-left: 0;
      }
    }

    .tabWrapper {
      float: left;
      margin: 40px 0 0;
      padding: 0;
      position: relative;
      width: 100%;

      ul.tablist {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        position: absolute;
        top: -33px;
        left: 0;

        li {
          padding: 8px 50px;
          float: left;
          width: auto;
          position: relative;
          text-align: center;
          background: rgba(0, 0, 0, 0.1);
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: pointer;
          -webkit-transition: initial;
          -moz-transition: initial;
          transition: initial;

          &:before {
            display: none;
          }
        }

        @media screen and (max-width: 767px) {
          li {
            width: 50%;
          }
        }

        li.active {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid #fff;
          background: #fff;
          cursor: default;
          font-weight: bold;
          color: #f0bd00;
        }

        @media screen and (max-width: 361px) {
          li.active {
            font-weight: 400;
          }
        }
      }

      .OfficialSATPractice {
        .scrollbarColor {
          height: 300px;
          overflow-y: scroll;

          p {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            color: #000;

            a {
              color: #000;

              .imgWrapper {
                width: 144px;
                height: 70px;
                padding: 5px;
                border: 1px solid #e5e5e5;
                float: left;
                display: table;

                .imgContent {
                  display: table-cell;
                  vertical-align: middle;
                  width: 100%;
                  height: 100%;

                  img {
                    display: block;
                    margin: 0 auto;
                    width: 115px;
                    height: auto;
                  }
                }
              }

              @media screen and (max-width: 400px) {
                .imgWrapper {
                  width: 100px;
                  height: 60px;
                }
              }

              span {
                width: 75%;
                font-size: 16px;
                margin-left: 15px;
                display: inline-block;
              }

              @media screen and (max-width: 1199px) {
                span {
                  width: 70%;
                }
              }

              @media screen and (max-width: 855px) {
                span {
                  width: 60%;
                }
              }

              @media screen and (max-width: 465px) {
                span {
                  width: 50%;
                }
              }
            }
          }
        }

        /* width */
        .scrollbarColor::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        .scrollbarColor::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        .scrollbarColor::-webkit-scrollbar-thumb {
          background: #f0bd00;
        }

        /* Handle on hover */
        .scrollbarColor::-webkit-scrollbar-thumb:hover {
          background: #f0bd00;
        }

        .linkWrapper {
          float: left;
          width: 100%;
          margin-top: 5px;

          a {
            float: left !important;
            clear: left !important;
          }
        }
      }

      .tabContent {
        margin: 0;
        padding: 15px;
        float: left;
        width: 100%;
        background: #fff;
        min-height: 340px;
        font-size: 16px;
        color: #000;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 9px -4px rgba(0, 0, 0, 0.2);

        .about {
          float: left;
          width: 100%;
          margin-bottom: 15px;
          color: #000;
          padding: 15px;
        }
      }
    }

    .videos {
      background: #f7f7f7;
      color: #000;
      min-height: 100px;
      padding: 15px;
      float: left;
      width: 100%;
      position: relative;

      a {
        float: right;
        color: #000;
        text-decoration: underline;
        position: relative;
        right: 15px;

        &::before {
          content: "";
          position: $position-absolute;
          top: 8px;
          right: -15px;
          width: 11px;
          height: 10px;
          background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
          display: block;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .videos {
        margin-bottom: 15px;
      }
    }

    .videos.right {
      margin-bottom: 15px;

      .date {
        background: #f0bd00;
        float: left;
        width: 95px;
        margin-right: 15px;
        position: relative;
        padding: 15px 0;
        min-height: 100px;

        span {
          display: block;
          text-align: center;
          /* margin: 0 auto; */
          float: left;
          width: 100%;
          font-size: 28px;
          font-weight: bold;
          color: #fff;
          position: relative;
        }

        span.month {
          font-size: 18px;
          font-weight: normal;
        }
      }
    }

    @media screen and (max-width: 768px) {
      img {
        width: 100%;
      }
    }
  }

  /* support */
  .templateContact {
    background: #ebebeb;

    p {
      margin: 0 0 30px;
      text-align: center;
    }

    .supportList {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: table;

      li {
        float: left;
        margin: 0;
        padding: 0;
        color: #000;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        dd {
          display: inline;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: url(#{$img-base-url}spriteImgCB.png) no-repeat;
        }

        @media screen and (max-width: 561px) {
          &::before {
            left: inherit;
          }
        }

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }

      @media screen and (max-width: 561px) {
        li {
          float: none;
          width: 100%;
          text-align: center;
        }
      }

      li:first-child {
        margin-right: 7.5px;
        padding-left: 30px;

        &:before {
          background-position: -1px -57px;
          width: 24px;
          height: 25px;
        }

        span {
          font-size: 14px;
          position: relative;
          top: -2px;
          left: 5px;
        }
      }

      @media screen and (max-width: 561px) {
        li:first-child {
          margin-right: 0;
          padding-left: 0;
          margin-bottom: 0;

          dd {
            padding-left: 29px;
            font-size: 14px !important;
          }

          span {
            font-size: 12px;
          }
        }
      }

      li:last-child {
        margin-left: 7.5px;
        padding-left: 40px;

        &:before {
          background-position: -38px -57px;
          width: 33px;
          height: 23px;
        }
      }

      @media screen and (max-width: 794px) {
        li:last-child {
          margin-top: 10px;
          margin-left: 0;
          clear: left;
        }
      }

      @media screen and (max-width: 561px) {
        li:last-child {
          margin-left: 0;
          padding-left: 0;

          a {
            padding-left: 39px;
            font-size: 14px;
          }
        }
      }
    }

    @media screen and (max-width: 561px) {
      .supportList {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: table;
        width: auto;
        text-align: center;
      }
    }
  }

  .collegeBoardEvent {
    .tabWrapper {
      .tabContent {
        .AboutSATExam {
          .speech {
            .cellWrapper {
              position: relative;
              float: left;

              .contentBody {
                padding: 0;
                height: auto;
                float: left;
                width: 100%;

                span {
                  width: 100%;

                  iframe {
                    width: 100%;
                  }
                }
              }

              .contentFooter {
                background: #f7f7f7;
                color: #000;
                min-height: 100px;
                padding: 15px;
                float: left;
                width: 100%;
                position: relative;

                p {
                  color: #000;
                  font-weight: 400;
                  text-align: left;
                  font-size: 16px;
                }
              }
            }

            .slick-slider {
              padding: 0;

              .slick-slide {
                iframe {
                  float: left;
                  width: 100%;
                  height: 180px;
                }
              }
            }

            .slick-next:before {
              display: none;
            }

            .slick-prev:before {
              display: none;
            }

            /* Dots */

            .slick-dotted.slick-slider {
              margin-bottom: 30px;
            }

            .slick-dots {
              position: absolute;
              bottom: -30px;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              text-align: center;
            }

            .slick-dots li {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 20px;
              margin: 0 5px;
              padding: 0;
              cursor: pointer;
            }

            .slick-dots li button {
              font-size: 0;
              line-height: 0;
              display: block;
              width: 20px;
              height: 20px;
              padding: 5px;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
            }

            .slick-dots li button:hover,
            .slick-dots li button:focus {
              outline: none;
            }

            .slick-dots li button:hover:before,
            .slick-dots li button:focus:before {
              opacity: 1;
            }

            .slick-dots li button:before {
              font-family: "slick";
              font-size: 6px;
              line-height: 20px;
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              content: "•";
              text-align: center;
              font-size: 60px;
              opacity: 0.25;
              color: black;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

            .slick-dots li.slick-active button:before {
              opacity: 0.75;
              color: black;
            }
          }
        }
      }
    }
  }
}
.templateBg.MarginRow {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.display-flex-audio {
  display: flex;
  flex-flow: row wrap;

  .audio_img {
    background: url(#{$img-base-url}bg-audio.jpg) no-repeat 0 0;
    width: 100%;
    height: auto;
    padding: 15px;
    background-size: cover;
    margin-bottom: 15px;
    p {
      font-size: 18px;
      text-align: center;
      color: #fff;
    }
    audio {
      height: 40px;
      width: 100%;
    }
  }
  .audio-order1 {
    order: 2;
  }
  .audio-order2 {
    order: 1;
  }
  .playpauseBtn {
    position: absolute;
    padding: 2% 6px;
    width: 12%;
    height: 19%;
    z-index: 999;
    cursor: pointer;
  }
  .playicon {
    background: #dd0707;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    padding: 5px 0 0 2px;
  }
}
