header {
  background-color: map-get($colors, transparentBg);
}

.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 2px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.premiummembership {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  .row{
    .col-md-12{
      padding-left:0;
      padding-right:0;
    }
  }
  .bgpremiummembership {
    background-image: $default-top-banner;
    @extend .default-banner-property;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
  }
  .bgpremiummembership {
    background-image: $premiummembership-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
  }
  h5 {
    @extend .icon-heading;
  }
  h5:before {
    content: "";
    background: url(#{$img-base-url}sprite.png) 0 -664px no-repeat;
    @extend .icon-headingbefore;
  }
  .bggreay {
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        margin-right: 20px;
        display: inline-block;
        padding-top: 0;
        a {
          color: #2b292b;
          font-weight: 600;
          font-weight: normal;
        }
      }
      li:after {
        content: "";
        position: $position-absolute;
        top: 4px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
        display: block;
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        a {
          color: #919191;
          pointer-events: none;
        }
      }
      li:last-child:after {
        display: none;
      }
    }
  }
  .premium-row-steps {
    background-color: $row-bg;
    margin-top: 1px;
    .col-md-4,
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
      h3 {
        @include font-size(44px);
        font-weight: $font-weight-400;
        color: #154cb5;
        margin-top: 0;
      }
      p {
        @include font-size(22px);
        color: $t-color-black;
        font-weight: $font-weight-400;
        text-align: center;
        span {
          color: $bg-color-yellow;
          font-weight: $font-weight-600;
          display: inline-block;
        }
      }
    }
  }
  .premium-row-details {
    background-color: $white-color;
    color: $t-color-black;
    .col-md-4,
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
      .margin-top {
        margin-top: 50px;
      }
      .btn-ctrl {
        float: left;
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 0;
        #annMem,
        #preAnnMem {
          .im-checkout {
            max-width: initial;
            margin-bottom: 20px;
            .im-checkout-btn {
              outline: none;
              text-decoration: none;
              cursor: pointer;
              text-align: center;
              display: block;
            }
            .im-checkout-btn.btn--flat {
              margin: 0 auto;
              width: 320px;
              background: transparent;
              border: 1px solid #fdb701;
              cursor: pointer;
              color: $t-color-black;
              @include font-size(16px);
              padding-top: 10px;
              padding-bottom: 10px;
              transition: all 0.3s;
              font-weight: $font-weight-400;
              padding-left: 25px;
              padding-right: 25px;
              transition: all 0.5s ease-in;
              -webkit-transition: all 0.5s ease-in;
              -moz-transition: all 0.5s ease-in;
              @include border-radius(50px);
              height: initial;
              line-height: initial;
              float: none;
              letter-spacing: 0.6px;
            }
            .im-checkout-btn.btn--flat:focus,
            .im-checkout-btn.btn--flat:hover {
              background: #fdb701;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }
        }
        button {
          margin: 0;
          width: auto;
          background: transparent;
          border: 1px solid #fdb701;
          cursor: pointer;
          color: $t-color-black;
          @include font-size(16px);
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          font-weight: $font-weight-400;
          padding-left: 25px;
          padding-right: 25px;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          @include border-radius(30px);
          height: initial;
          line-height: initial;
          float: none;
        }
        button:hover {
          background: #fdb701;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
      .cell-bg {
        padding: 0;
        float: left;
      }
      i {
        @include font-size(44px);
        font-weight: 500;
        color: #154cb5;
        position: $pos-relative;
        top: 25px;
        font-style: normal;
      }
      i:before {
        content: "\f156";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        position: relative;
        color: $t-color-black;
        right: 6px;
        top: -16px;
        @include font-size(18px);
      }
      p:last-child {
        font-weight: 500;
        margin-top: 30px;
        font-size: 30px;
        margin-bottom: 50px;
        span {
          color: $bg-color-yellow;
          width: 100%;
          float: left;
        }
      }
      .col-margin-about {
        margin-top: 20px;
        float: left;
        padding: 0;
      }
      .icon {
        float: $float-L;
        width: 50px;
      }
      .details {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        float: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
        height: 196px;
        h5 {
          float: $float-L;
          @include font-size(24px);
          font-weight: $font-weight-400;
          margin: 0 0 0 55px;
          padding-top: 18px;
          text-align: left;
        }
        h5:before {
          content: "";
          background: url(#{$img-base-url}premium1.png) no-repeat;
          width: 65px;
          height: 75px;
          position: absolute;
          left: -15px;
          top: 12px;
        }
        h5.ap:before {
          background-position: 0 -173px;
        }
        h5.ps:before {
          background-position: 0 -254px;
          top: 7px;
        }
        h5.dm:before {
          background-position: 0 -324px;
          top: 7px;
        }
        p {
          padding: 0 0 0 55px;
          line-height: 1.5;
          float: $float-L;
          font-size: 18px;
          font-weight: 400;
          margin: 15px 0 0;
        }
      }
      .details:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    .container {
      .row.margin-top {
        margin-top: 50px;
      }
    }
  }
}
