/* start @media */

@media screen and (max-width: 1080px) {
  .premiummembership {
    .premium-row-details {
      .details {
        height: 230px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .premiummembership {
    .premium-row-details {
      .col-md-6,
      .col-md-6 {
        width: 50%;
        float: left;
        margin-bottom: 30px;
      }
      .col-md-12 {
        .details {
          margin-bottom: 30px;
          height: 225px;
        }
      }
    }
  }
}

@media screen and (max-width: 966px) {
  .premiummembership {
    .premium-row-details {
      background-color: $white-color;
      color: $t-color-black;
      .col-margin-about {
        width: 100%;
        margin-bottom: 0;
        .col-md-12 {
          .details {
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .premiummembership {
    .premium-row-steps {
      .col-md-4 {
        width: 33.3%;
        float: left;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .premiummembership {
    .premium-row-steps {
      .col-md-4 {
        width: 100%;
        float: left;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .premiummembership {
    .premium-row-details {
      .col-sm-12 {
        width: 100%;
        margin-bottom: 0;
      }
      .col-md-12.premium-membership {
        margin-bottom: 30px;
        float: left;
      }
      .col-md-12 {
        .details {
          p {
            padding: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .premiummembership {
    .premium-row-details {
      .col-md-12 {
        .details {
          h5 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
