.otpbg {
  .greenBtn.otpbtn {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
  }
  div:first-child {
    position: relative;
    left: 4px;
  }
  .otpWrapper {
    display: flex;
    width: 100%;
    @include padding(0);
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-weight: 600;
      justify-content: center;
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }

    p.success {
      color: green;
      font-weight: 600;
    }

    p.padding30 {
      padding: 30px 0 0 15px;
    }

    h1 {
      @include margin(0);
      @include padding(0);
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      color: #000;
      font-size: 26px;
      font-weight: 600;
      text-align: center;
    }

    .formWrapper {
      margin: 15px 0 0;
      padding: 15px 7.5px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      p {
        font-weight: 400;
        justify-content: center;
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      .cellWrapper {
        display: flex;
        width: 100%;
        justify-content: center;

        .width100 {
          width: 100%;
        }

        .form-group {
          margin: 15px auto important;
          @include padding(0);
          width: 100%;
          position: relative;
          justify-content: center;
          text-align: center;
          display: flex;

          .form-control,
          input {
            @include margin(0 5px);
            @include padding(7.5px);
            display: flex;
            width: 52px !important;
            border-radius: 5px;
            background-color: rgba(240, 189, 0, 0.3);
            height: 40px;
            box-shadow: none;
            border: 0;
            color: #000000;
            justify-content: center;
            font-weight: 600;
            outline: none;
          }

          @media screen and (max-width: 480px) {
            .form-control,
            input {
              width: 30px !important;
              height: 30px;
              display: flex;
            }
          }

          span {
            color: #646464;
          }

          .form-control:focus,
          .form-control.active {
            background-color: rgba(240, 189, 0, 0.9);
            color: #fff;
          }

          .form-control::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 14px;
            color: rgba(35, 35, 35, 0.6);
            font-weight: 400;
          }

          .form-control::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control:-moz-placeholder {
            /* Firefox 18- */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control:focus::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 14px;
            color: rgba(35, 35, 35, 0.6);
            font-weight: 400;
          }

          .form-control:focus::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control:focus:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control:focus:-moz-placeholder {
            /* Firefox 18- */
            font-size: 14px;
            color: rgba(151, 151, 151, 1);
            font-weight: 400;
          }

          .form-control.textarea {
            resize: none;
            height: 93px;
            padding-top: 5px;
          }
        }
        .form-group.registerOtp {
          margin: 34px auto 15px;
        }
      }

      .linkButton {
        @include margin(10px 0 0);
        @include padding(0);
        font-size: 14px;
        font-weight: 600;
        display: flex;
        width: 100%;
        justify-content: center;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        outline: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .btn {
        @include margin(0 auto);
        @include padding(0 30px);
        font-size: 22px;
        font-weight: 400;
        width: 322px;
        height: 46px;
        text-align: center;
        color: #fff;
        line-height: 46px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        display: block;
        float: none;
        outline: none;
        position: relative;
        background: #f0bd00;
      }
    }
    .formWrapper.forogtotp {
      margin: 0;
      padding: 0;
    }
  }

  .otpmobile {
    .otpnumber {
      font-weight: 400;
      @include padding(25px 0 0);
      width: 360px;
      display: flex;
      flex-wrap: wrap;

      .gpnum {
        @include margin(25px 0 0);

        input {
          margin: 0;
          @include padding(0 20px);
          border-radius: 0;
          height: 43px;
          box-shadow: none;
          border: 0;
          background: #dbe6eb;
          width: 232px;
          position: relative;
        }
        .error {
          width: 100%;
          float: left;
          padding: 10px 0;
          color: red;
        }
        .btn {
          margin: 0;
          @include padding(0 30px);
          font-size: 22px;
          font-weight: 400;
          width: auto;
          height: 43px;
          text-align: center;
          color: #fff;
          background: #fdb701;
          line-height: 43px;
          border: 0;
          border-radius: 0;
          cursor: pointer;
          float: none;
          outline: 0;
          position: absolute;
        }
      }
    }

    @media screen and (max-width: 420px) {
      .otpnumber {
        @include padding(30px 0 0);
        width: 100%;

        .gpnum {
          width: 100%;

          input {
            width: 75%;
            font-size: 13px;
          }

          .btn {
            @include padding(0 15px);
            font-size: 14px;
            width: 23%;
          }
        }
      }
    }
  }
}
