.uniAgent {
  font-size: 14px;
  // global button
  overflow-x: hidden !important;

  .errortext {
    display: block;
    color: #f00;
    font-size: 12px;
    float: left;
    width: 100%;
    position: relative;
    top: -70px;
    left: 12px;
  }

  .marginleft20 {
    margin-left: 20px;
  }

  @media screen and (max-width: 990px) {
    .errortext {
      top: -102px;
    }
  }

  a.buttonregister {
    background: #180726;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 13px 15px;
    border: 2px solid #fff;
    display: block;
    width: 230px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 28px;
    margin: 0 auto;
    margin-top: 20px;

    &:hover {
      background: #fff;
      color: #180726;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
      transform: translateY(-7px);
      border: 2px solid #180726;
    }
  }

  a.buttonregister.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    &:hover {
      text-decoration: dropBlinker;
      -webkit-animation-name: dropBlinker;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-direction: alternate;
    }
  }

  @-webkit-keyframes blinker {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes dropBlinker {
    from {
      opacity: 1;
    }

    to {
      opacity: 1;
    }
  }

  a.buttonregister.margin0 {
    margin: 20px 0 30px 0;
  }

  a.stickyRegisterBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 349px;
    height: 58px;
    color: #fff;
    text-align: center;
    line-height: 58px;
    font-size: 26px;
    font-weight: 400;
    background: #22a535;
    z-index: 1;

    i {
      margin-left: 7.5px;
    }
  }

  @media screen and (max-width: 360px) {
    a.stickyRegisterBtn {
      width: 100%;
    }
  }

  /* Dots */
  .btnuni {
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px auto 0;
    cursor: pointer;
    background: #381846;
    font-weight: 700;
  }

  @media screen and (max-width: 400px) {
    .btnuni {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .top {
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
      width: 215px;
    }

    @media screen and (max-width: 906px) {
      .logo {
        display: block;
        margin: 0 auto;
        width: 180px;
      }
    }

    .contactWrapper {
      float: right;
      text-align: right;
      color: #381846;

      span {
        float: right;
        width: 100%;
        font-size: 16px;

        &:nth-child(2) {
          font-size: 18px;
          line-height: 19px;
          margin-top: 15px;

          a {
            text-decoration: none;
            color: #381846;

            &:nth-child(1) {
              position: relative;
              margin-right: 15px;

              &:after {
                position: absolute;
                content: "|";
                top: 1px;
                right: -12px;
                font-size: 20px;
                font-weight: 400;
              }

              @media screen and (max-width: 480px) {
                &:after {
                  top: -1px;
                  right: -11px;
                  font-size: 16px;
                }
              }

              @media screen and (max-width: 406px) {
                &:after {
                  display: none;
                }
              }
            }

            @media screen and (max-width: 406px) {
              &:nth-child(1) {
                display: inherit;
                margin-right: 0;
                margin-bottom: 5px;
              }
            }
          }
        }

        @media screen and (max-width: 906px) {
          &:nth-child(1) {
            display: none;
          }

          &:nth-child(2) {
            margin-bottom: 7.5px;
          }
        }

        @media screen and (max-width: 480px) {
          &:nth-child(2) {
            font-size: 16px;
          }
        }
      }
    }

    @media screen and (max-width: 906px) {
      .contactWrapper {
        float: inherit;
        text-align: center;
        width: 100%;
      }
    }
  }

  .bannerBg {
    background: url($img-base-url+"band.jpg") no-repeat -210px 0;
    width: 100%;
    height: 610px;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 991px) {
      .smallDevice {
        float: left !important;
        margin-bottom: 30px;
        text-align: center;
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 0;
    }

    .msgbox {
      color: #fff;

      p,
      span {
        text-align: left;
      }

      h1,
      h2 {
        font-size: 40px;
        width: 100%;
        line-height: 1.4;
        font-weight: 600;
      }

      h2 {
        font-size: 26px;
        width: auto;

        i {
          font-style: normal;

          &:first-child {
            padding: 5px 10px;
            color: #fff;
            background-color: #f1c40f;
          }

          &:nth-child(2) {
            display: inline-block;
            padding: 0 10px;
            margin-top: 5px;
            background-color: #f1c40f;
          }
        }

        @media screen and (max-width: 991px) {
          i {
            font-style: normal;
            float: left;
            clear: left;
          }
        }
      }

      @media screen and (max-width: 992px) {
        h2 {
          width: 100%;
          float: left;
        }
      }

      @media screen and (max-width: 571px) {
        h2 {
          font-size: 26px;
        }
      }

      @media screen and (max-width: 444px) {
        h2 {
          font-size: 22px;
        }
      }

      @media screen and (max-width: 370px) {
        h2 {
          font-size: 20px;
        }
      }

      .tnc {
        font-size: 14px;
      }

      p {
        font-size: 20px;
        text-align: left;
        color: #fff;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 10px;

        span {
          font-weight: bold;
        }

        span.textHighlighter {
          color: #f1c40f;
        }

        span.textSubtitle {
          font-weight: 400;
          font-size: 16px;
        }

        ul.listing {
          font-size: 16px;
          padding: 0 0 0 20px;

          li {
            list-style-type: disc;
          }
        }
      }

      p.marginElement {
        margin-top: -15px;
        margin-bottom: 10px;
      }

      .clockSection {
        color: #fff;
        display: table !important;
        margin-top: 15px;
        text-align: left;
        font-size: 30px;
        width: 100%;

        .clockWrapper {
          display: inline-table;
          width: 125px;
          height: 125px;
          border: 4px solid #fff;
          border-radius: 50%;
          margin: 0 5px;

          article {
            display: table-cell !important;
            width: 100%;
            height: auto;
            text-align: center;
            vertical-align: middle;

            i {
              display: block;
              font-style: normal;
              margin-top: 10px;
            }

            @media screen and (max-width: 604px) {
              i {
                font-size: 27px;
                font-weight: 600;
                margin-top: 0;
              }
            }

            @media screen and (max-width: 504px) {
              i {
                font-size: 24px;
              }
            }

            @media screen and (max-width: 464px) {
              i {
                font-size: inherit;
              }
            }

            span {
              font-size: 16px;
              color: #dc9021;
              font-weight: 600;
              position: relative;
              top: -16px;
            }

            @media screen and (max-width: 604px) {
              span {
                font-size: 16px;
                color: #dc9021;
                font-weight: 400;
                display: block;
                top: -8px;
              }
            }

            @media screen and (max-width: 504px) {
              span {
                font-size: 14px;
              }
            }

            @media screen and (max-width: 464px) {
              span {
                font-size: 16px;
              }
            }
          }
        }

        @media screen and (max-width: 604px) {
          .clockWrapper {
            width: 100px;
            height: 100px;
          }
        }

        @media screen and (max-width: 504px) {
          .clockWrapper {
            width: 90px;
            height: 90px;
          }
        }

        @media screen and (max-width: 464px) {
          .clockWrapper {
            width: 125px;
            height: 125px;
            margin-bottom: 10px;
          }
        }

        @media screen and (max-width: 334px) {
          .clockWrapper {
            width: 117px;
            height: 117px;
          }
        }
      }

      @media screen and (max-width: 991px) {
        .clockSection {
          text-align: center;
        }
      }

      .rightside {
        h1 {
          font-size: 28px;
          color: #ffffff;
          padding-left: 15px;
        }

        @media screen and (max-width: 906px) {
          h1 {
            font-size: 18px;
          }
        }

        .topwinner {
          margin-top: 15px;
          width: 100%;
          border-radius: 5px;

          p {
            margin: 0;
            font-weight: bold;
          }

          span {
            font-weight: normal;
            font-size: 13px;
          }

          img {
            width: 80%;
          }

          @media screen and (max-width: 906px) {
            img {
              width: 30%;
            }
          }
        }

        img {
          border: 2px solid #fff;
          display: block;
          margin: 0 auto;
          box-shadow: 0px 0px 6px 2px #000;
          width: 90%;
          border-radius: 50%;
        }

        p {
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-top: 10px;
        }
      }
    }

    .formPanel {
      margin: 22px 0;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 30px;
      -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.28);
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.28);
      float: right;
      width: 100%;
      position: relative;

      .stepNav {
        margin: 10px 28% 30px;
        padding: 0;
        float: left;
        width: 100%;
        list-style: none;

        li {
          margin: 0;
          padding: 0;
          float: left;
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 8.5%;
          counter-increment: step-counter;
          font-weight: 600;

          &:before {
            content: counter(step-counter);
            position: absolute;
            top: 0;
            text-align: center;
            line-height: 26px;
            color: #b3416c;
            background: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            z-index: 1;
            border: 2px solid #b3416c;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
          }

          &:after {
            content: "";
            position: absolute;
            top: 15px;
            right: -60px;
            width: 80px;
            height: 2px;
            background: #b3416c;
            z-index: 0;
          }

          &:last-child {
            margin-right: 0;

            &:after {
              display: none;
            }
          }
        }

        @media screen and (max-width: 1199px) {
          li {
            margin-right: 17.1%;
          }
        }

        li.active,
        li.complete {
          &:before {
            background: #b3416c;
            color: #ffffff;
            border: 2px solid #b3416c;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
          }
        }
      }

      @media screen and (max-width: 1199px) {
        .stepNav {
          width: 100%;
          margin-top: 35px;
          margin-bottom: 15px;
          margin-right: 32%;

          li {
            margin-right: 5.2%;
            margin-bottom: 15px;

            &:after {
              right: -43px;
              width: 70px;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        .stepNav {
          margin: 45px auto 15px;
          margin-bottom: 15px;
          padding: 0;
          width: 60%;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
          list-style: none;
          position: relative;
          left: 15px;

          li {
            width: 100%;
            display: flex;
            margin: 0;
            padding: 0 30px 0 0;

            &:after {
              content: "";
              position: absolute;
              top: 15px;
              left: 0;
              width: 100%;
              width: calc(100% - 30px);
              height: 1px;
              z-index: 0;
            }

            &:before {
              left: -30px;
            }

            &:first-child {
              &:before {
                left: -30px;
              }
            }

            &:last-child {
              margin-right: 0;
              width: auto;
              padding: 0;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        .stepNav {
          width: 75%;
        }
      }

      .formWrapper {
        float: left;
        width: 100%;

        .overFlowData {
          height: 250px;
          float: left;
          width: 100%;
          padding-right: 7.5px;
          padding-top: 22px;
        }

        @media screen and (max-width: 991px) {
          .overFlowData {
            padding-top: 15px;
          }
        }

        .overFlowData.scroll {
          overflow-y: scroll;
        }

        .overFlowData.scroll::-webkit-scrollbar {
          width: 5px;
        }

        .overFlowData.scroll::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px #e8e8e8;
        }

        .overFlowData.scroll::-webkit-scrollbar-thumb {
          background-color: #b3416c;
          outline: 1px solid #e8e8e8;
        }

        h5 {
          margin-top: 0;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 15px;
        }

        @media screen and (max-width: 991px) {
          h5 {
            padding-left: 15px;
            padding-top: 30px;
          }
        }

        .ctrl-wrapper {
          float: left;
          width: 50%;
          padding: 0 7.5px;

          .thanksreen {
            height: auto;
            padding: 0 30px;
            vertical-align: middle;
            position: relative;
            z-index: 1;

            h4 {
              margin-top: 0;
              font-size: 30px;
              font-weight: 700;
              margin-bottom: 15px;
              color: #065d00;
              text-align: center;
              width: 100%;

              i {
                color: #065d00;
                font-size: 55px;
                text-align: center;
                display: block;
                margin-bottom: 10px;
                float: left;
                width: 100%;
                margin-top: 0;
              }
            }

            p {
              font-size: 17px;
              text-align: center;
              color: #2c2c2c;
              letter-spacing: 1px;
              line-height: 1.5;
              margin-bottom: 30px;
            }
          }

          .form-group {
            margin-bottom: 15px;
            float: left;
            width: 100%;
            position: relative;

            .tableList {
              float: left;
              width: 100%;

              .titleText,
              .tableRow {
                list-style: none;
                float: left;
                font-weight: bold;
                width: 100%;
                background: #b3416c;
                font-size: 14px !important;

                .titleText {
                  li {
                    color: #fff;
                  }
                }

                li {
                  font-size: 15px;
                  font-weight: 400;
                  width: 33.3%;
                  float: left;
                  cursor: pointer;
                  text-align: center;

                  i {
                    font-style: normal;
                    display: block;
                    width: 100%;
                  }
                }

                @media screen and (max-width: 1080px) {
                  li {
                    font-size: 13px;
                  }
                }
              }

              .titleText {
                color: #fff;

                ul li {
                  padding: 8px;
                  font-size: 14px;
                }
              }

              .tableRow {
                margin-bottom: 0;

                li {
                  padding: 5px 0;
                  font-weight: 600;
                  font-size: 14px;
                }

                &:last-child {
                  border-bottom: 0 !important;
                }
              }

              .tableRow.colorGreen {
                background: #e3fae7;
                border-bottom: 1px solid #659b5c;
              }

              .tableRow.active {
                background: #b4d2b9;
                border-bottom: 2px solid #659b5c;
              }

              .tableRow:hover {
                background: #b4d2b9;
                border-bottom: 2px solid #659b5c;
              }

              .tableRow.colorYellow {
                background: #fcce77;
                border-bottom: 2px solid #fcb853;
              }
            }

            span.error {
              display: block;
            }

            span.error.bottom90 {
              top: -36px;
              bottom: auto;
            }

            span.error.bottom70 {
              top: -60px;
              bottom: auto;
            }

            @media screen and (max-width: 991px) {
              span.error.bottom70 {
                top: -50px;
                bottom: initial;
              }
            }

            .titleWeight {
              font-weight: 600;
            }

            .radioBoxWrapper {
              float: left;
              margin-bottom: 6px;
              position: relative;

              p {
                position: relative;
                padding-left: 22px;
                width: auto;
                font-weight: 400;
                float: left;
                margin-right: 15px;
                margin-bottom: 10px;
                float: left;

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                  position: absolute;
                  left: -9999px;
                }

                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                  position: relative;
                  padding-left: 0;
                  cursor: pointer;
                  line-height: 20px;
                  display: inline-block;
                  color: #381846;
                  margin-bottom: 0;
                }

                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                  content: "";
                  position: absolute;
                  left: -22px;
                  top: 3px;
                  width: 16px;
                  height: 16px;
                  border: 1px solid #381846;
                  border-radius: 100%;
                  background: #fff;
                }

                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                  content: "";
                  width: 8px;
                  height: 8px;
                  background: #381846;
                  position: absolute;
                  border-radius: 100%;
                  -webkit-transition: all 0.2s ease;
                  transition: all 0.2s ease;
                  left: -18px;
                  top: 7px;
                }

                [type="radio"]:not(:checked) + label:after {
                  opacity: 0;
                  -webkit-transform: scale(0);
                  transform: scale(0);
                }

                [type="radio"]:checked + label:after {
                  opacity: 1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
            }

            .radioBoxWrapper.inline {
              margin-bottom: 0;

              p {
                margin-right: 0;
                width: 100%;
                margin-bottom: 5px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            .radioBoxWrapper.pl {
              padding-left: 43px;
              font-weight: normal;
              width: 100%;
              padding-bottom: 10px;

              p {
                label {
                  font-weight: normal;
                }
              }
            }

            .radioBoxWrapper.budget {
              float: left;
              width: 100%;

              p {
                width: 100%;

                dd {
                  width: 100%;
                  position: relative;
                  float: left;
                  text-align: left;
                }
              }
            }

            .chkBoxWrapper {
              float: left;
              width: 100%;

              label {
                position: relative;
                padding-left: 25px;
                width: auto;
                clear: left;
                font-weight: 400;
                float: left;

                input {
                  position: absolute;
                  left: 0;
                  width: 14px;
                  margin: 0;
                  height: 14px;
                  top: 2px;
                  opacity: 0;
                }

                input + dd.chkbox {
                  background: #fff;
                  width: 14px;
                  height: 14px;
                  border: 1px solid #381846;
                  position: absolute;
                  top: 2px;
                  left: 0;
                  z-index: 1;
                  -webkit-transform: scale(1);
                  -moz-transform: scale(1);
                  -ms-transform: scale(1);
                  transform: scale(1);
                  -webkit-transition: all 0.3s ease-in;
                  -moz-transition: all 0.3s ease-in;
                  transition: all 0.3s ease-in;
                  display: inline-block;
                }

                input:checked + dd.chkbox {
                  border: 1px solid #381846;
                  background: #ffffff;
                  -webkit-transform: scale(1);
                  -moz-transform: scale(1);
                  -ms-transform: scale(1);
                  transform: scale(1);
                  -webkit-transition: all 0.3s ease-in;
                  -moz-transition: all 0.3s ease-in;
                  transition: all 0.3s ease-in;
                }

                input:checked + dd.chkbox:before {
                  position: absolute;
                  left: 0px;
                  top: -3px;
                  content: "\2713";
                  color: #381846;
                  font-size: 12px;
                  width: 13px;
                  height: 12px;
                }
              }
            }

            .chkBoxWrapper.mtpl {
              margin-top: 10px;
              padding-left: 20px;
            }

            .chkBoxWrapper-InnerOpt {
              margin-left: 26px;
            }

            label {
              display: inline-block;
              // max-width: 100%;
              float: left;
              margin-right: 15px;
              margin-bottom: 7.5px;
              font-weight: bold;
              line-height: 18px;
            }

            label.height {
              height: 36px;
            }

            @media screen and (max-width: 991px) {
              label.height {
                height: initial;
              }
            }

            .form-control {
              display: block;
              width: 100%;
              height: 34px;
              padding: 6px 12px 6px 15px;
              font-size: 14px;
              line-height: 1.42857;
              background: transparent;
              border-radius: 5px;
              box-shadow: none;
              border: 1px solid #acacac;
              color: #000;
            }

            .form-control.width200 {
              height: 200px;
            }

            @media screen and (max-width: 991px) {
              .form-control {
                width: 100%;
              }

              .form-control.width200 {
                height: 30px;
              }
            }

            .form-control.selectCtrl {
              -webkit-appearance: none;
              background: url(#{$img-base-url}uniagent-select-arrow.png) no-repeat 97% 12px;
            }

            .form-control.Select--multi {
              float: left;
              height: auto;

              .Select-value-label {
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
                cursor: default;
                padding: 2px 5px;
              }

              .Select-value {
                background-color: #ebf5ff;
                background-color: rgba(0, 126, 255, 0.08);
                border-radius: 2px;
                border: 1px solid #c2e0ff;
                border: 1px solid rgba(0, 126, 255, 0.24);
                color: #007eff;
                display: inline-block;
                font-size: 0.9em;
                line-height: 1.4;
                margin-left: 5px;
                margin-top: 0;
                margin-bottom: 5px;
                vertical-align: top;
              }

              .Select-value-icon {
                cursor: pointer;
                border-bottom-left-radius: 2px;
                border-top-left-radius: 2px;
                border-right: 1px solid #c2e0ff;
                border-right: 1px solid rgba(0, 126, 255, 0.24);
                padding: 1px 5px 3px;
              }

              .Select-value-icon,
              .Select-value-label {
                display: inline-block;
                vertical-align: middle;
              }

              .Select-input {
                vertical-align: middle;
                margin-left: 5px;
                padding: 0;
                height: 23px;
                padding-left: 0;
                padding-right: 0;
                vertical-align: middle;

                input {
                  box-sizing: content-box;
                  width: 5px;
                  background: none transparent;
                  border: 0 none;
                  box-shadow: none;
                  cursor: default;
                  display: inline-block;
                  font-family: inherit;
                  font-size: inherit;
                  margin: 0;
                  outline: none;
                  line-height: 23px !important;
                  padding: 0 !important;
                  -webkit-appearance: none;
                }
              }

              .Select-control {
                position: relative;

                .Select-aria-only {
                  position: absolute;
                  display: inline-block;
                  height: 1px;
                  width: 1px;
                  margin: -1px;
                  clip: rect(0, 0, 0, 0);
                  overflow: hidden;
                  float: left;
                }

                .Select-multi-value-wrapper {
                  position: relative;
                  left: -15px;
                  top: -1px;

                  .Select-placeholder {
                    padding-left: 0;
                    float: left;
                  }

                  .Select-input {
                    input {
                      width: 100%;
                      background: none transparent;
                      border: 0 none;
                      box-shadow: none;
                      cursor: default;
                      display: inline-block;
                      font-family: inherit;
                      font-size: inherit;
                      margin: 0;
                      outline: none;
                      line-height: 17px;
                      padding: 8px 0 12px;
                      -webkit-appearance: none;
                    }
                  }

                  .is-focused {
                    .is-focused .Select-input > input {
                      cursor: text;
                    }
                  }

                  .Select--multi.has-value {
                    .Select-input {
                      margin-left: 5px;
                    }
                  }

                  .Select--multi.has-value {
                    .Select-input {
                      margin-left: 5px;
                    }
                  }
                }

                .Select-clear-zone {
                  width: 17px;
                  -webkit-animation: Select-animation-fadeIn 0.2s;
                  -o-animation: Select-animation-fadeIn 0.2s;
                  animation: Select-animation-fadeIn 0.2s;
                  color: #999;
                  cursor: pointer;
                  display: table-cell;
                  position: relative;
                  text-align: center;
                  vertical-align: middle;
                  position: absolute;
                  right: 15px;
                  top: 2px;

                  .Select-clear {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 600;
                  }
                }

                @media screen and (max-width: 390px) {
                  .Select-clear-zone {
                    right: -5px;
                    top: 15px;
                  }
                }
              }
            }

            .Select-menu-outer {
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              background-color: #fff;
              border: 1px solid #ccc;
              border-top-color: #e6e6e6;
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
              box-sizing: border-box;
              margin-top: -1px;
              max-height: 200px;
              position: absolute;
              top: 100%;
              width: 96.5%;
              z-index: 1;
              -webkit-overflow-scrolling: touch;
              display: block;
              left: 3.5%;
            }

            @media screen and (max-width: 991px) {
              .Select-menu-outer {
                left: 2.5%;
                width: 97.5%;
              }
            }

            @media screen and (max-width: 390px) {
              .Select-menu-outer {
                left: 3%;
                width: 97%;
              }
            }

            .Select-menu {
              max-height: 198px;
              overflow-y: auto;
            }

            .Select-menu::-webkit-scrollbar {
              width: 5px;
            }

            .Select-menu::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px #e8e8e8;
            }

            .Select-menu::-webkit-scrollbar-thumb {
              background-color: #b3416c;
              outline: 1px solid #e8e8e8;
            }

            .Select-option {
              box-sizing: border-box;
              background-color: #fff;
              color: #666;
              cursor: pointer;
              display: block;
              padding: 8px 10px;
            }

            .Select-option:last-child {
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
            }

            .Select-option.is-selected {
              background-color: #f5faff;
              background-color: rgba(0, 126, 255, 0.04);
              color: #333;
            }

            .Select-option.is-focused {
              background-color: #ebf5ff;
              background-color: rgba(0, 126, 255, 0.08);
              color: #333;
            }

            .Select-option.is-disabled {
              color: #ccc;
              cursor: default;
            }

            .Select-noresults {
              box-sizing: border-box;
              color: #999;
              cursor: default;
              display: block;
              padding: 8px 10px;
            }

            .Select--multi .Select-input {
              vertical-align: middle;
              margin-left: 10px;
              padding: 0;
            }

            .Select--multi.Select--rtl .Select-input {
              margin-left: 0;
              margin-right: 10px;
            }

            .Select--multi.has-value .Select-input {
              margin-left: 5px;
            }

            .Select--multi .Select-value {
              background-color: #ebf5ff;
              background-color: rgba(0, 126, 255, 0.08);
              border-radius: 2px;
              border: 1px solid #c2e0ff;
              border: 1px solid rgba(0, 126, 255, 0.24);
              color: #007eff;
              display: inline-block;
              font-size: 0.9em;
              line-height: 1.4;
              margin-left: 5px;
              margin-top: 0;
              margin-bottom: 5px;
              vertical-align: top;
            }

            .Select--multi .Select-value-icon,
            .Select--multi .Select-value-label {
              display: inline-block;
              vertical-align: middle;
            }

            .Select--multi .Select-value-label {
              border-bottom-right-radius: 2px;
              border-top-right-radius: 2px;
              cursor: default;
              padding: 2px 5px;
            }

            .Select--multi a.Select-value-label {
              color: #007eff;
              cursor: pointer;
              text-decoration: none;
            }

            .Select--multi a.Select-value-label:hover {
              text-decoration: underline;
            }

            .Select--multi .Select-value-icon {
              cursor: pointer;
              border-bottom-left-radius: 2px;
              border-top-left-radius: 2px;
              border-right: 1px solid #c2e0ff;
              border-right: 1px solid rgba(0, 126, 255, 0.24);
              padding: 1px 5px 3px;
            }

            .Select--multi .Select-value-icon:focus,
            .Select--multi .Select-value-icon:hover {
              background-color: #d8eafd;
              background-color: rgba(0, 113, 230, 0.08);
              color: #0071e6;
            }

            .Select--multi .Select-value-icon:active {
              background-color: #c2e0ff;
              background-color: rgba(0, 126, 255, 0.24);
            }

            .Select--multi.Select--rtl .Select-value {
              margin-left: 0;
              margin-right: 5px;
            }

            .Select--multi.Select--rtl .Select-value-icon {
              border-right: none;
              border-left: 1px solid #c2e0ff;
              border-left: 1px solid rgba(0, 126, 255, 0.24);
            }

            .Select--multi.is-disabled .Select-value {
              background-color: #fcfcfc;
              border: 1px solid #e3e3e3;
              color: #333;
            }

            .Select--multi.is-disabled .Select-value-icon {
              cursor: not-allowed;
              border-right: 1px solid #e3e3e3;
            }

            .Select--multi.is-disabled .Select-value-icon:active,
            .Select--multi.is-disabled .Select-value-icon:focus,
            .Select--multi.is-disabled .Select-value-icon:hover {
              background-color: #fcfcfc;
            }

            @keyframes Select-animation-spin {
              to {
                transform: rotate(1turn);
              }
            }

            @-webkit-keyframes Select-animation-spin {
              to {
                -webkit-transform: rotate(1turn);
              }
            }
          }

          .form-group.dob {
            position: relative;

            &:after {
              content: "\f073";
              position: absolute;
              top: 34px;
              right: 15px;
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          .form-group.radiobtnwidth {
            margin-bottom: 20px !important;
          }

          .form-group.dob.radiobtnwidth {
            &:after {
              top: 10px !important;
            }
          }

          .mt15 {
            margin-top: 15px;
            width: 100%;
            padding-left: 12px;
          }

          .form-group.genderOpt {
            ul {
              float: left;
              width: 100%;
              list-style: none;
              margin: 0 0 5px;
              padding: 0;

              li {
                height: 25px;
                float: left;
                font-size: 14px;
                margin-right: 16px;

                input[type="radio"] {
                  width: 15px;
                  height: 15px;
                  display: inline-block;
                  position: relative;
                  top: 2px;
                  padding: 0;
                  margin-top: 0;
                  opacity: 1;
                  left: 0;
                  border: 0;
                  box-shadow: none;
                }

                label {
                  width: 100%;
                  height: 14px;
                  float: left;
                  position: relative;
                  text-align: left;
                  margin-bottom: 0;
                  left: 20px;
                  top: -19px;
                  font-size: 14px;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .ctrl-wrapper.width {
          width: 100%;

          .form-group {
            width: 100%;
            margin: 0 auto;
            text-align: center;
          }
        }

        @media screen and (max-width: 991px) {
          .ctrl-wrapper {
            padding: 0 15px;
          }

          .ctrl-wrapper.width {
            .form-group {
              margin-bottom: 15px;
            }
          }
        }

        @media screen and (max-width: 600px) {
          .ctrl-wrapper {
            width: 100%;
          }
        }

        .thanksMsg {
          height: 300px;
          padding: 0 30px;
          vertical-align: middle;
          position: relative;
          z-index: 1;

          .icon {
            color: #065d00;
            font-size: 55px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            float: left;
            width: 100%;
            margin-top: 30px;
          }

          .form-control {
            float: left;
            width: 26px;
            margin-left: 10px;
            padding: 1px;
            text-align: center;
          }

          .resendbut {
            // padding-top: 10px;
            text-align: right;
            padding: 0 4px;
            color: #b3416c;
            font-size: 14px;
            position: relative;
            z-index: 3;
            font-weight: bold;
            border: 0;
            background: none;
            margin: 0;
            float: right;
            width: auto;
            padding: 0;
            margin: 10px 0 30px;
          }

          .text {
            font-size: 14px;
            padding: 0;
          }

          h5 {
            margin-top: 0;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 15px;
            color: #065d00;
            text-align: center;
            width: 100%;
          }

          p {
            font-size: 17px;
            text-align: center;
            color: #2c2c2c;
            letter-spacing: 1px;
            line-height: 1.5;
            margin-bottom: 30px;
          }

          @media screen and (max-width: 1199px) {
            p {
              margin-bottom: 15px;
              width: 100%;
            }
          }

          @media screen and (max-width: 1199px) {
            .col-md-6.moboAlign {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              .formInputCtrl {
                display: flex;
                justify-content: center;
                width: 100%;
              }
            }
          }

          .form-group {
            z-index: 2;
          }

          span {
            padding: 5px;
          }
        }

        @media screen and (max-width: 991px) {
          .thanksMsg {
            padding: 0 10px;

            .text {
              padding-top: 15px;
              position: relative;
              z-index: -1;
              padding-top: 20px;
              margin-top: 20px;
              display: flex;
              width: 100%;
            }

            .icon {
              margin-top: 0;
            }

            p {
              font-size: 14px;
            }

            .resendbut {
              // padding-top: 10px;
              text-align: right;
              padding: 0 4px;
              padding-right: 51px;
              color: #b3416c;
              font-size: 14px;
              position: relative;
              z-index: 3;
              font-weight: bold;
              border: 0;
              background: none;
              margin: 0;
              float: right;
              width: auto;
              padding: 0;
              margin: 5px 0 10px;
            }
          }
        }

        .thanksMsg.overFlowData {
          height: auto;
          float: left;
          width: 100%;
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
    }

    .timing {
      position: absolute;
      right: 10px;
      top: 10px;
      font-weight: bold;

      span {
        font-size: 16px;
        color: #f00;
      }
    }

    @media screen and (max-width: 480px) {
      .timing {
        position: absolute;
        right: initial;
        top: 10px;
        font-weight: bold;
        width: 100%;
        text-align: center;

        span {
          font-size: 16px;
          color: #f00;
        }
      }
    }

    .formPanel.landingpage {
      padding: 0 20px 0 0;
      width: 300px;
      float: left;

      .formWrapper {
        .ctrl-wrapper {
          .form-group {
            width: 100%;

            .radioBoxWrapper {
              padding-left: 15px;
            }
          }
        }
      }

      h1 {
        font-size: 22px;
        color: #000;
        padding-left: 15px;
      }

      p {
        padding-left: 20px !important;
        margin: 0 !important;
        font-size: 14px;
        float: left;
        padding-right: 20px;
      }
    }

    @media screen and (max-width: 1199px) {
      .formPanel {
        padding: 20px;
      }
    }

    @media screen and (max-width: 991px) {
      .formPanel {
        float: initial;
        padding: 0 0 15px;
        display: flex;
        width: 100%;
        text-align: left;
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 568px) {
      .formPanel {
        width: 100%;
      }
    }

    .formPanel.tableWrapper {
      height: 300px;
      display: table;
    }
  }

  @media screen and (max-width: 991px) {
    .bannerBg {
      height: 100%;
      padding-bottom: 30px;
    }
  }

  .whiteBgColor {
    background: #fff;
    padding: 40px 0 80px;
    .container {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    h2 {
      font-size: 26px;
      padding-bottom: 40px;
      letter-spacing: 0.3px;
      position: relative;
    }

    h2:after {
      position: absolute;
      background: #f1c40f;
      content: "";
      width: 71px;
      height: 3px;
      left: 0;
      top: 37px;
    }

    @media screen and (max-width: 991px) {
      h2 {
        font-size: 21px;
        padding-bottom: 30px;
      }

      h2:after {
        top: 35px;
      }
    }

    .k .winner {
      .topwinner {
        width: 100%;
        border-radius: 5px;
        background: #fff;
      }

      img {
        border: 6px solid #ffffff;
        display: block;
        margin: 0 auto;
        box-shadow: 0px 0px 6px 2px #f2f2f2;
        width: 50%;
      }

      p {
        color: #383838;
        font-size: 14px;
        text-align: center;
        padding-top: 10px;
        font-weight: normal;
      }

      span {
        font-size: 14px;
        text-align: center;
        display: block;
        font-weight: bold;
      }
    }
  }

  .grayBgColor {
    background: #f2f2f2;
    padding: 40px 0 60px;

    h2 {
      font-size: 26px;
      padding-bottom: 40px;
      letter-spacing: 0.2px;
      position: relative;
    }

    h2:after {
      position: absolute;
      background: #f1c40f;
      content: "";
      width: 71px;
      height: 3px;
      left: 0;
      top: 37px;
    }

    ul {
      margin: 30px 0 0;
      padding: 0;

      li {
        font-size: 18px;
        position: relative;
        left: 50px;
        padding-bottom: 30px;
      }

      li::before {
        font-size: 40px;
        font-weight: 400;
        left: -48px;
        top: -16px;
        color: #b3416c;
        position: absolute;
        font-family: FontAwesome;
      }

      li:first-child:before {
        content: "\f0f6";
      }

      li:nth-child(2):before {
        content: "\f0f7";
        top: -3px;
      }

      li:nth-child(3):before {
        content: "\f0ac";
      }
    }

    @media screen and (max-width: 991px) {
      h2 {
        font-size: 21px;
        padding-bottom: 30px;
      }

      h2:after {
        top: 35px;
      }

      ul {
        width: 100%;

        li {
          font-size: 13px;
          padding-bottom: 20px;
          left: 0;
          padding-right: 15px;
          padding-left: 30px;
        }

        li:before {
          font-size: 24px;
          top: 0px;
          left: 0;
        }
      }
    }
  }

  .pinkBgColor {
    background: #b3416c;
    color: #fff;
    padding: 40px 0 50px;

    h2 {
      font-size: 26px;
      padding-bottom: 40px;
      letter-spacing: 0.3px;
      position: relative;
    }

    h2:after {
      position: absolute;
      background: #f1c40f;
      content: "";
      width: 71px;
      height: 3px;
      left: 18px;
      top: 37px;
    }

    .date {
      font-size: 18px;
      font-weight: bold;

      i.fa.fa-calendar {
        margin-right: 10px;
        position: relative;
        top: -2px;
      }
    }

    span {
      display: block;
      font-weight: bold;
      font-size: 18px;
    }

    p {
      padding: 10px 0 30px;
      font-weight: normal;
    }

    .time {
      i.fa.fa-clock-o {
        margin-right: 10px;
        position: relative;
        top: 1px;
        font-size: 24px;
      }
    }

    img {
      padding-bottom: 30px;
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: 18px;
      padding-bottom: 20px;
    }

    .textmock {
      text-align: center;
      font-size: 22px;
    }

    @media screen and (max-width: 991px) {
      h2 {
        font-size: 21px;
        padding-bottom: 30px;
      }

      h2:after {
        top: 35px;
      }

      .date {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      .time {
        font-size: 16px;
      }

      .textmock {
        font-size: 18px;
      }
    }
  }

  .blueBgColor {
    background: #381846;
  }

  .equialPadding {
    padding: 30px 0;
  }

  .panel {
    margin: 30px 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 30px;
    -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.28);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.28);
    float: left;

    .panel-body {
      text-align: center;

      img {
        width: 105px;
        margin: 0 auto 20px;
      }

      @media screen and (max-width: 768px) {
        img {
          width: 105px;
          margin: 0 auto;
        }
      }

      p {
        font-size: 16px;
        padding: 0;
        line-height: 25px;
      }

      @media screen and (max-width: 767px) {
        p {
          margin-bottom: 30px;
        }
      }

      h4 {
        font-size: 24px;
        padding: 0 30px 30px;
        float: left;
        width: 100%;
        font-weight: 600;
      }

      h5 {
        font-size: 16px;
        padding: 30px;
        margin: 0;
        float: left;
        line-height: 25px;
        width: 100%;
      }
    }

    .panel-body.enrolForFree {
      h4 {
        display: inline-block;
        text-align: left;
        padding: 0 0 30px;
        margin: 0;
      }

      p {
        text-align: left;
      }

      img {
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        img {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .panel {
      padding: 15px;
    }
  }

  .msgWrapper,
  .msgImgWrapper {
    color: #383838;
    padding: 60px 0;

    h4 {
      font-size: 28px;
    }

    @media screen and (max-width: 903px) {
      h4 {
        font-size: 18px;
      }
    }

    p {
      font-size: 16px;
      margin-top: 15px;
    }
  }

  .msgImgWrapper {
    img {
      width: auto;
      margin: 0 auto;
    }
    p {
    }
  }

  .footerWrapper {
    padding: 30px 0;
    float: left;
    width: 100%;

    p {
      float: right;
      width: 100%;
      font-size: 16px;
      color: #ffffff;
      margin: 0;

      span {
        font-size: 18px;
        line-height: 19px;
        margin-top: 7.5px;
        width: 100%;
        display: block;

        a {
          text-decoration: none;
          color: #ffffff;

          &:nth-child(1) {
            position: relative;
            margin-right: 15px;

            &:after {
              position: absolute;
              content: "|";
              top: 1px;
              right: -12px;
              font-size: 20px;
              font-weight: 400;
            }

            @media screen and (max-width: 480px) {
              &:after {
                top: -1px;
                right: -11px;
                font-size: 16px;
              }
            }

            @media screen and (max-width: 406px) {
              &:after {
                display: none;
              }
            }

            @media screen and (max-width: 406px) {
              &:nth-child(1) {
                display: inherit;
                margin-right: 0;
                margin-bottom: 5px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 906px) {
        span {
          margin-bottom: 7.5px;
        }
      }

      @media screen and (max-width: 480px) {
        span {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 906px) {
    .col-sm-6 {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .savebtn {
    font-size: 14px;
    margin: 0 auto;
    background-color: #0f4700;
    /* padding: 2px; */
    width: 60px !important;
    height: 30px;
    padding: 0;
    line-height: 20px;
    /* margin: 0 auto; */
    /* margin: 7px !important; */
    display: block;
    /* position: relative; */
    margin: 0 auto !important;
    margin-top: 10px;
  }
}

.bannerBg.heightBanner {
  height: 601px;

  .formPanel {
    .formWrapper {
      .ctrl-wrapper {
        .form-group.dob {
          .react-datepicker-wrapper {
            width: 100%;

            .react-datepicker__input-container {
              width: 100%;

              input {
                width: 100%;
                border-radius: 5px;
                padding: 4px;
                padding: 6px 12px 6px 15px;
                border: none;
                border: 1px solid #acacac;
              }
            }
          }

          .react-datepicker-popper {
            top: 0 !important;
            font-family: inherit;
            z-index: 3;
            will-change: inherit !important;
            transform: translate3d(0px, -180px, 0px) !important;

            .react-datepicker {
              .react-datepicker__header {
                font-size: 12px;
                background-color: rgba(56, 24, 70, 0.3);
              }

              .react-datepicker__month-container {
                width: 214px;
                font-size: 12px;
                height: 194px;
              }

              .react-datepicker__current-month,
              .react-datepicker-time__header {
                font-size: 14px;
              }

              .react-datepicker__navigation {
                border: 6px solid transparent;
              }

              .react-datepicker__navigation--previous {
                border-right-color: #381846;

                &:hover {
                  border-right-color: rgba(56, 24, 70, 0.3);
                }
              }

              .react-datepicker__navigation--next {
                border-left-color: #381846;

                &:hover {
                  border-left-color: rgba(56, 24, 70, 0.3);
                }
              }

              .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-year-read-view--down-arrow {
                border-top-color: #381846;
                top: 6px;
              }

              .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
                border-top-color: rgba(56, 24, 70, 0.3);
              }

              .react-datepicker__day-name,
              .react-datepicker__day,
              .react-datepicker__time-name {
                width: 26px;
                line-height: 5px;
                padding-top: 6px;
                padding-bottom: 6px;
              }

              .react-datepicker__day--keyboard-selected {
                background-color: #381846;
              }
            }
          }

          .react-datepicker-popper[data-placement^="top"],
          .react-datepicker-popper[data-placement^="bottom"] {
            margin-bottom: 10px;
            margin-top: initial;
          }

          .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
          .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
            display: block !important;
            margin-top: 0 !important;
            bottom: 0;
            margin-bottom: -8px;
            border-bottom: none;
            border-top-color: #fff;
            box-sizing: content-box;
            position: absolute;
            /* border: 8px solid transparent; */
            height: 0;
            width: 1px;
          }

          @media screen and (max-width: 384px) {
            .react-datepicker-popper {
              transform: translate3d(0px, -180px, 0px) !important;
            }
          }
        }

        .form-group.langDob {
          position: relative;

          &:after {
            content: "\f073";
            position: absolute;
            top: 10px;
            right: 15px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          .react-datepicker-wrapper {
            width: 100%;

            .react-datepicker__input-container {
              width: 100%;

              input {
                width: 100%;
                border-radius: 5px;
                padding: 4px;
                padding: 6px 12px 6px 15px;
                border: none;
                border: 1px solid #acacac;
              }
            }
          }

          .react-datepicker-popper {
            top: 0 !important;
            font-family: inherit;
            z-index: 3;
            will-change: inherit !important;
            transform: translate3d(0px, -205px, 0px) !important;

            .react-datepicker {
              .react-datepicker__header {
                font-size: 12px;
                background-color: rgba(56, 24, 70, 0.3);
              }

              .react-datepicker__month-container {
                width: 214px;
                font-size: 12px;
                height: 194px;
              }

              .react-datepicker__current-month,
              .react-datepicker-time__header {
                font-size: 14px;
              }

              .react-datepicker__navigation--previous {
                border-right-color: #381846;

                &:hover {
                  border-right-color: rgba(56, 24, 70, 0.3);
                }
              }

              .react-datepicker__navigation--next {
                border-left-color: #381846;

                &:hover {
                  border-left-color: rgba(56, 24, 70, 0.3);
                }
              }

              .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-year-read-view--down-arrow {
                border-top-color: #381846;
                top: 6px;
              }

              .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
              .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
              .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
                border-top-color: rgba(56, 24, 70, 0.3);
              }

              .react-datepicker__day-name,
              .react-datepicker__day,
              .react-datepicker__time-name {
                width: 26px;
                line-height: 5px;
                padding-top: 6px;
                padding-bottom: 6px;
              }

              .react-datepicker__day--keyboard-selected {
                background-color: #381846;
              }
            }
          }

          .react-datepicker-popper[data-placement^="top"],
          .react-datepicker-popper[data-placement^="bottom"] {
            margin-bottom: 10px;
            margin-top: initial;
          }

          .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
          .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
            display: block !important;
            margin-top: 0 !important;
            bottom: 0;
            margin-bottom: -8px;
            border-bottom: none;
            border-top-color: #fff;
            box-sizing: content-box;
            position: absolute;
            /* border: 8px solid transparent; */
            height: 0;
            width: 1px;
          }

          @media screen and (max-width: 384px) {
            .react-datepicker-popper {
              transform: translate3d(0px, -180px, 0px) !important;
            }
          }
        }

        @media screen and (max-width: 768) {
          .form-group.dob {
            width: 84%;

            input {
              width: 83%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .bannerBg.heightBanner {
    height: 100%;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots1 {
  position: absolute;
  bottom: -34px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0.25;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  font-size: 60px;
  opacity: 0.25;
  color: #f1c40f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #f1c40f;
}

.speech {
  .slick-slider {
    padding: 0;
  }
  .marginleft20 {
    margin-top: 20px;
    margin-bottom: 10px;
    &:after {
      display: none;
    }
  }

  .slick-next:before {
    display: none;
  }

  .slick-prev:before {
    display: none;
  }

  .col-md-6 {
    padding: 0;
  }

  .key {
    ul {
      margin-left: 15px;

      li {
        padding-bottom: 15px;
        position: relative;
        margin-left: 30px;
      }

      li:before {
        content: "\f19d";
        position: absolute;
        margin-left: -30px;
        font-family: FontAwesome;
        top: 1px;
        font-size: 18px;
        color: #f1c40f;
      }
    }

    p {
      color: #000;
    }
  }

  .box {
    background: #fff;
    border: 3px solid #f2f2f2;
    padding: 20px 15px;
    margin: 0 0 10px;
    min-height: 380px;
    border-radius: 5px;
    text-align: center;
  }

  .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #f2f2f2;
  }

  p {
    text-align: center;
    padding: 15px 0 5px;
    font-size: 14px;
  }

  span {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: block;
  }

  img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 120px;
    border: 3px solid #fff;
    box-shadow: 0 0 3px 3px #ccc;
  }
}

.react-datepicker__month-container {
  width: 200px;
  font-size: 10px;
}

.floatnone {
  clear: left;
  padding-left: 20px;
  margin-bottom: 20px;

  p {
    margin: 10px 0;
  }
}

.clearleft {
  clear: left;
  width: 100%;
}

.mtRegistration {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .mtRegistration {
    margin-top: 10px;
  }
}

.instraution {
  // background: #fff;
  // border: 3px solid #f2f2f2;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;

  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  //   0 6px 20px 0 rgba(180, 113, 113, 0.19);
  ul {
    margin-top: 10px;

    li {
      padding-top: 5px;

      &::before {
        margin-top: 5px;
      }
    }
  }

  .h1 {
    color: #fff;
    font-size: 18px !important;
    background: #f1c40f;
    margin: 0 !important;
    padding: 5px 10px !important;
  }

  .p {
    padding: 0 50px;
    color: #fff;
    font-size: 18px !important;

    .span {
      font-size: 22px !important;
      display: inline !important;
    }
  }
}

.react-datepicker__input-container {
  width: 100%;
}

.widthotp {
  width: 100px !important;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  display: block !important;
  margin-top: 0 !important;
  bottom: 0;
  margin-bottom: -8px;
}

.uniAgent .bannerBg .formPanel .formWrapper .ctrl-wrapper .form-group label.align320 {
  margin-right: 0;
}

.uniAgent .bannerBg .formPanel .formWrapper .ctrl-wrapper .form-group.contentAlign {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  label,
  p {
    display: flex;
    width: 100%;
    text-align: left;
  }

  label {
    margin-top: 15px;
  }

  p {
    margin-bottom: 15px;
  }
}

.bannerBg.heightBanner
  .formPanel
  .formWrapper
  .ctrl-wrapper
  .form-group.dob
  .react-datepicker-wrapper
  .react-datepicker__input-container
  input.icon-date,
.bannerBg.heightBanner
  .formPanel
  .formWrapper
  .ctrl-wrapper
  .form-group.langDob
  .react-datepicker-wrapper
  .react-datepicker__input-container
  input.icon-date {
  background: url($img-base-url+"dob-cal-icon.png") no-repeat 96% 7px;
}

.uniAgent .bannerBg .formPanel .formWrapper .ctrl-wrapper .form-group.dob:after,
.bannerBg.heightBanner .formPanel .formWrapper .ctrl-wrapper .form-group.langDob:after {
  display: none;
}

.bannerBg.heightBanner
  .formPanel
  .formWrapper
  .ctrl-wrapper
  .form-group.langDob
  .react-datepicker-popper
  .react-datepicker
  .react-datepicker__navigation {
  border-width: 6px;
}
