.forgot {
  position: relative;
  text-align: left;
  background: #ffffff;
  .equial-padding {
    padding-bottom: 0;
  }
  .bgteam {
    background-image: $team-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    p {
      margin: 0 15px;
    }
  }
  h5 {
    @extend .icon-heading;
  }
  h5:before {
    content: "";
    background: url(#{$img-base-url}sprite.png) 0 -664px no-repeat;
    @extend .icon-headingbefore;
  } // breadcurm trail
  .bggreay {
    ul {
      margin-bottom: 0;
      li {
        position: relative;
        margin-right: 20px;
        display: inline-block;
        padding-top: 0;
        a {
          color: #2b292b;
          font-weight: 600;
          font-weight: normal;
        }
      }
      li:after {
        content: "";
        position: $position-absolute;
        top: 8px;
        right: -15px;
        width: 11px;
        height: 10px;
        background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
        display: block;
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        a {
          color: #919191;
          pointer-events: none;
        }
      }
      li:last-child:after {
        display: none;
      }
    }
  }
  .social-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .fwd {
      width: 440px;
      position: relative;
      @media screen and (max-width: 480px) {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
      }
      .ctrl-wrapper {
        h2 {
          position: relative;
          font-size: 16px;
          text-align: left;
          float: left;
          width: 100%;
          margin: 0;
          color: #1a1a18;
          text-transform: uppercase;
          background: #ccc;
          padding: 10px 15px;
          margin-bottom: 15px;
        }
        .form-group,
        .form-group.textAreaCrtl {
          /* margin-bottom: 15px; */
          float: left;
          width: 100%;
          position: relative;
          padding: 0 15px;
          dd.error,
          span.error {
            position: $pos-absolute;
            right: 0;
            color: $red-color;
            @include font-size(12px);
            bottom: 51px;
            background-color: $white-color;
            padding: 10px;
            width: auto;
            border-radius: 5px;
            -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            z-index: 1;
          }
          dd.error,
          span.error:after {
            content: "";
            position: $pos-absolute;
            bottom: -6px;
            left: 50%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            margin-left: -5px;
          }
        }
        .form-group.textAreaCrtl {
          dd.error,
          span.error {
            bottom: 126px;
          }
        }
      }
      .ctrl-wrapper.widget-border {
        border: 1px solid #e9ebeb;
        padding: 0 0 15px;
        background: rgba(233, 235, 235, 0.2);
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
      }
      .btn-ctrl {
        button {
          margin: 0;
          width: auto;
          background: transparent;
          border: 1px solid #41ad49;
          cursor: pointer;
          color: $t-color-black;
          @include font-size(16px);
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          font-weight: $font-weight-400;
          padding-left: 25px;
          padding-right: 25px;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          @include border-radius(30px);
          height: initial;
          line-height: initial;
          float: right;
        }
        button:hover {
          background: #41ad49;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
    }
  }
}

.top0 {
  top: 0 !important;
}
