.errorbggreay-new {
  .container {
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .equial-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section {
    padding: 67px 0 !important;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    .errorPageContainer {
      text-align: center;
      .numberText {
        font-family: "Bubblegum Sans", cursive;
        color: #000;
        font-size: 80px;
        font-weight: 700;
        display: inline-block;
        letter-spacing: 0.04em;
        i {
          font-style: normal;
          color: #fdb701;
        }
      }
      h2 {
        color: #000;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        margin: 0 0 0 15px;
        display: inline-block;
        position: relative;
        top: -19px;
      }
      @media screen and (max-width: 935px) {
        h2 {
          margin-left: 0;
          width: 100%;
        }
      }
      ul {
        list-style: none;
        @include margin(20px auto 21px);
        @include padding(0 15px);
        width: auto;
        display: table;
        float: initial;
        li {
          float: left;
          width: auto;
          text-align: center;
          @include margin(5px 7.5px);
          a {
            color: #fdb701;
            text-decoration: underline;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            &:hover {
              text-decoration: none;
              color: #000;
            }
          }
        }
        @media screen and (max-width: 935px) {
          li {
            width: 100%;
          }
        }
      }
      p {
        a {
          text-decoration: underline;
          color: #fdb701;
          margin: 0 2px;
          display: inline-block;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .scholarship-container {
    background: #fff;
    float: left;
    width: 100%;
    .box {
      padding: 60px 0;
      @include width(100%);
      background-size: $bg-size;
      display: $display-block;
    }
    .box.bg1 {
      @include width(100%);
      @include min-height(900px);
      margin: -118px auto 0;
    }
    .Scholarship-block {
      margin: 0 0 80px 0;
      .Scholarship-gd-top {
        text-align: $text-align-center;
        position: $pos-relative;
        h2,
        h4 {
          @include font-size(14px);
          color: $t-color-black;
          padding: 0.6em 1em 0.6em 1em;
          text-transform: uppercase;
          background-color: $bg-rga-alpha-color-yellow;
          font-weight: $font-weight-500;
          position: $pos-absolute;
          bottom: -30px;
          left: 50%;
          display: table;
          width: 180px;
          margin-left: -90px;
          margin-bottom: 0;
          a {
            display: table-cell;
            height: 40px;
            vertical-align: middle;
            text-decoration: none;
            color: #231f20;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .scholarship-container {
      .col-md-3 {
        width: 50%;
        float: left;
        .Scholarship-block {
          margin: 25px 0 0;
          .Scholarship-gd-top {
            h2 {
              bottom: 0;
              width: 100%;
              left: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 607px) {
    .scholarship-container {
      .col-md-3 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
