.dashboard .dashboard-nav-bg .dashboard-nav-in .col-md-9 .tab-border{
  .updateEmailMobile {
    position: relative;
    text-align: left;
    background: #ffffff;
    .innerWrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: start;
      h3 {
        position: relative;
        font-size: 16px;
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        color: #1a1a18;
        text-transform: uppercase;
        background: #ccc;
        padding: 10px 15px;
        font-weight: 600;
      }
      .form-wrapper {
        border: 1px solid #f5f5f5;
        padding: 30px 0 15px;
        background: #fafafa;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-wrap: wrap;     
        p {
          position: relative;
          font-size: 16px;
          float: left;
          width: 100%;
          margin: 0;
          color: #1a1a18;
          font-weight: 500;
          text-align: center;        
          span {
            width: 100%;
            display: block;
            padding: 5px;
            font-weight: 600;
            &:last-child{
              font-weight: 400;
              margin-top: 15px;
              padding: 0;
              margin-bottom: 7.5px;
            }
          }       
        }      
        .errorMsg {
          font-size: 12px;
          position: relative;
          color: #f00;
          margin-bottom: 10px;
        }

        .cellWrapper {
          display: flex;
          width: 100%;
          justify-content: center;

          .width100 {
            width: 100%;
          }

          .form-group {
            margin: 15px auto important;
            @include padding(0);
            width: 100%;
            position: relative;
            justify-content: center;
            text-align: center;
            display: flex;

            .form-control,
            input {
              @include margin(0 5px);
              @include padding(7.5px);
              display: flex;
              width: 52px !important;
              border-radius: 5px;
              background-color: rgba(240, 189, 0, 0.3);
              height: 40px;
              box-shadow: none;
              border: 0;
              color: #000000;
              justify-content: center;
              font-weight: 600;
              outline: none;
            }

            @media screen and (max-width: 480px) {
              .form-control,
              input {
                width: 30px !important;
                height: 30px;
                display: flex;
              }
            }

            span {
              color: #646464;
            }

            .form-control:focus,
            .form-control.active {
              background-color: rgba(240, 189, 0, 0.9);
              color: #fff;
            }

            .form-control::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 14px;
              color: rgba(35, 35, 35, 0.6);
              font-weight: 400;
            }

            .form-control::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:-moz-placeholder {
              /* Firefox 18- */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              font-size: 14px;
              color: rgba(35, 35, 35, 0.6);
              font-weight: 400;
            }

            .form-control:focus::-moz-placeholder {
              /* Firefox 19+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus:-ms-input-placeholder {
              /* IE 10+ */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control:focus:-moz-placeholder {
              /* Firefox 18- */
              font-size: 14px;
              color: rgba(151, 151, 151, 1);
              font-weight: 400;
            }

            .form-control.textarea {
              resize: none;
              height: 93px;
              padding-top: 5px;
            }
          }
          .form-group.registerOtp {
            margin: 15px auto 15px;
          }
        }
        form{
          width:360px
        }
        .form-group {
          width: 100%;
          position: relative;
          padding: 0 15px;
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 15px 0;
          label {
            float: left;
            width: 100%;
            margin: 0 0 5px 0;
            font-weight: 400;
          }
          dd.error,
          span.error {
            position: $pos-absolute;
            right: 0;
            color: $red-color;
            @include font-size(12px);
            bottom: 51px;
            background-color: $white-color;
            padding: 10px;
            width: auto;
            border-radius: 5px;
            -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
            z-index: 1;
          }
          dd.error,
          span.error:after {
            content: "";
            position: $pos-absolute;
            bottom: -6px;
            left: 50%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            margin-left: -5px;
          }
        }
        .form-group.registerOtp {
          margin: 15px auto;
          justify-content: center;
          span {
            color: #646464;
          }
          input {
            margin: 0 5px;
            padding: 7.5px;
            display: flex;
            width: 52px !important;
            border-radius: 5px;
            background-color: rgba(240,189,0,0.3);
            height: 40px;
            box-shadow: none;
            border: 0;
            color: #000000;
            justify-content: center;
            font-weight: 600;
            outline: none;
          }
          @media screen and (max-width:460px){            
            input {
              width: 40px !important;
            }
          }
          @media screen and (max-width:384px){            
            input {
              width: 2em !important;
              height: 2em;
            }
          }
        }
        
        .btn-ctrl {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 5px;
          margin-bottom: 10px;
          button[type="submit"], .Cancel, .Verify-OTP{
            margin: 0;
            width: auto;
            background: transparent;
            border: 1px solid #f0bd00;
            cursor: pointer;
            color: $t-color-black;
            @include font-size(14px);
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            transition: all 0.3s;
            font-weight: $font-weight-400;
            padding-left: 25px;
            padding-right: 25px;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            @include border-radius(30px);
            height: initial;
            line-height: initial;
            font-weight: 600;
            &:hover {
              background: #f0bd00;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }   
          button[type="submit"]{
            margin-right: 7.5px;
          } 
          .cancel{
            margin-left: 7.5px;
          } 
        }
      }
    }
  }
}
