.summary {
  background-color: #f2f2f2;
  min-height: 768px;
  letter-spacing: 0.4px;
  padding: 0 0 50px;
  .equial-padding {
    padding: 30px 0;
  }
  .status {
    width: 100%;
    float: left;
    text-align: right;
    @media screen and (max-width: 440px) {
      text-align: center;
    }
    .btn {
      color: #fff;
      background: #fdb701;
      @media screen and (max-width: 440px) {
        width: 100%;
      }
    }
    .btn.green {
      background-color: #005e20;
      border: 1px solid #005e20;
      position: relative;
      margin-left: 15px;
      @media screen and (max-width: 440px) {
        margin-left: 0;
      }
    }
  }
  .banner {
    background: #000;
    img {
      width: 200px;
      padding: 10px 0 15px;
    }
  }
  .scholarshipScheme {
    background-color: #ffffff;
    padding: 20px;
    /* margin: 30px 0 0; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 900px) {
      padding: 10px;
      .display-content {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
      }
    }
    .summary-logo {
      box-shadow: 0px 0px 2px 2px #f2f2f2;
      padding: 10px;
      height: auto;
      width: 207.5px;
      @media screen and (max-width: 900px) {
        margin: 15px auto;
        width: 140px;
      }
    }
    h1 {
      font-size: 22px;
      margin-left: 20px;
      @media screen and (max-width: 900px) {
        font-size: 18px;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    }
    .date {
      margin-left: 20px;
      @media screen and (max-width: 900px) {
        dd {
          span {
            font-size: 14px;
            margin: 0;

            width: 100%;
          }
        }
      }
    }
  }
  .details {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .textlopp {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 0 15px 15px 15px;
      p {
        font-size: 16px;
        color: #000;
        width: 100%;
        font-weight: 600;
      }
      span {
        color: #000;
        font-weight: 500;
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
        line-height: 1.5;
      }
    }
    h2,
    h3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      font-weight: bold;
      font-size: 18px;
      background: #ccc;
      padding: 10px;
      margin: 0 0 15px 0;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      // background-color: rgb(7, 71, 166);
      color: rgb(7, 71, 166);
      padding: 7px 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(7, 71, 166);
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .form-label {
      margin: 0 0 15px 0;

      p {
        font-size: 14px;
        color: #000;
      }
      span {
        color: #000;
        font-weight: bold;
        display: block;
        margin-top: 5px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 40px;
        flex-wrap: wrap;
        text-overflow: ellipsis;
        word-break: break-word;
        text-overflow: ellipsis;
        white-space: pre-wrap;
      }
    }
    .customize {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .row {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 10px 5px;

        .uploadgp {
          .upload {
            border: 1px solid #005e20;
            /* display: inline-block; */
            height: 28px;
            text-align: center;
            color: #005e20;
            font-weight: 600;
            background: transparent;
            border-radius: 14px;
            padding: 0 20px;
            margin: 0;
            outline: none !important;
            float: right;
            line-height: 28px;
            font-size: 12px;
          }
          .upload.missing {
            border: 1px solid #ff0000;
            color: #ff0000;
          }
        }
      }
    }
    .customize:nth-child(even) {
      background-color: #efefef;
    }
    .customize:nth-child(odd) {
      background-color: #fff;
    }
    .customize:last-child() {
      margin-bottom: 15px;
    }
  }
}
