header {
  background: #000;
  @media screen and (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
}

.onlineApplicationForm-list {
  position: relative;
  top: 0;
  /* top: 72px; */
  @extend .paddingtop;
  @media screen and (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
  .titleNTRow {
    background: #eaeaea;
    padding: 15px 0;
    h1,
    h2 {
      font-size: 22px;
      color: #000;
      font-weight: 400;
      margin: 0;
      i {
        font-style: normal;
      }
    }
    @media screen and (max-width: 767px) {
      h1,
      h2 {
        font-size: 18px;
      }
    }
    h1 {
      margin: 0;
      margin-bottom: 5px;
      display: block;
      width: auto;
      float: left;
      font-weight: 600;
      span {
        display: block;
        font-size: 16px;
        text-shadow: none;
        word-wrap: break-word;
        font-weight: 400;
        margin-top: 7.5px;
        margin-bottom: 15px;
      }
    }
  }
  .breadcrumb {
    padding: 15px 0;
    list-style: none;
    background: 0 0;
    margin: 0;
    border-radius: 0;
    li {
      position: $position-relative;
      margin-left: 22px;
      width: auto;
      display: inline-block;
      a {
        color: $b4s-color-black;
        font-weight: $b4s-font-weight-400;
        @include font-size(14px);
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 5px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:before {
      display: none;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: $b4s-breadcrumb-color;
        pointer-events: none;
      }
      a:after {
        display: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
  .list {
    background: $bg-color-grey;
    .box {
      background: $white;
      border-radius: 10px;
      border: 1px solid #ccc;
      overflow: auto;
      height: auto;
      @include margin(0 0 10px 0);
      transition: all 1s ease-in;
      overflow: hidden;
    }
    .col-md-9 {
      .box {
        @include padding(0);
        a {
          img {
            margin-left: 0;
          }
        }
        .col-md-2 {
          width: 16.66667%;
          padding-top: 8px;
          padding-bottom: 8px;
          .tablecell {
            display: table;
            width: 100%;
            .logotext {
              float: none;
              width: 100%;
              display: table-cell;
              vertical-align: middle;
              padding-top: 0;
              height: 124px;
              a {
                img {
                  width: 95px;
                  height: 50px;
                  display: block;
                  margin: 0 auto;
                  padding: 5px;
                  font-size: 10px;
                  float: none;
                }
              }
              @media screen and (max-width: 767px) {
                a {
                  display: none;
                }
              }
              p {
                font-size: 14px;
                color: #737373;
                padding-left: 0;
                font-weight: 400;
                letter-spacing: 0.6px;
                text-align: center;
                margin-top: 10px;
              }
              @media screen and (max-width: 767px) {
                p {
                  text-align: left;
                  margin-top: 0;
                  margin-bottom: 0;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .logotext {
                padding-top: 0;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              height: auto !important;
            }
          }
          @media screen and (max-width: 412px) {
            .tablecell {
              display: flex;
              width: 100%;
              justify-content: center;
              flex-wrap: wrap;
            }
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-2 {
            width: auto;
            text-align: left;
            padding: 0 0 15px 15px;
            display: none;
          }
        }
        @media screen and (max-width: 390px) {
          .col-md-2 {
            padding: 0 0 0 15px;
          }
        }
        .col-md-7 {
          width: 64.8%;
          padding: 8px 15px;
          height: auto;
          .tablecell {
            display: table;
            width: 100%;
            .calender {
              float: none;
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              color: #303131;
              width: 100%;
              padding-left: 0;
              p {
                font-size: 14px;
                color: #000;
                font-weight: 400;
                line-height: 18px;
                float: left;
                margin: 0;
                padding: 0;
                margin-bottom: 0;
                width: 100%;
              }
              @media screen and (max-width: 767px) {
                p {
                  display: inline-block;
                }
                p:nth-child(1) {
                  margin-right: 2px;
                }
              }
              dd {
                font-size: 20px;
                line-height: 49px;
                color: #303131;
                font-weight: 500;
                position: relative;
                display: block;
                float: left;
                width: 100%;
                margin: 15px 0 5px;
              }
              @media screen and (max-width: 767px) {
                dd {
                  display: none;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .calender {
                width: auto;
                height: auto;
                padding: 5px 10px;
              }
            }
            .contentdisplay {
              float: none;
              width: 100%;
              display: table-cell;
              vertical-align: middle;
              padding-top: 15px;
              padding-bottom: 12px;
              h2 {
                padding: 0;
                text-transform: initial;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
                float: left;
                width: 100%;
                margin-top: 0;
                position: relative;
                a {
                  color: #a914a9;
                  text-decoration: none;
                  border-bottom: 0;
                  padding-bottom: 1px;
                  line-height: 1.4;
                }
                a.ellipsis {
                  width: 492px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  float: left;
                }
                a.ellipsis:hover + .namelistTooltip {
                  opacity: 1;
                  z-index: 91;
                  -webkit-transition: all 1s ease;
                  -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                  transition: all 1s ease;
                }
                @media screen and (max-width: 1080px) {
                  a.ellipsis {
                    width: 420px;
                  }
                }
                @media screen and (max-width: 1024px) {
                  a.ellipsis {
                    width: 378px;
                  }
                }
                @media screen and (max-width: 960px) {
                  a.ellipsis {
                    width: 500px;
                  }
                }
                @media screen and (max-width: 853px) {
                  a.ellipsis {
                    width: 446px;
                  }
                }
                @media screen and (max-width: 771px) {
                  a.ellipsis {
                    width: 415px;
                  }
                }
                @media screen and (max-width: 768px) {
                  a.ellipsis {
                    width: 390px;
                  }
                }
                @media screen and (max-width: 767px) {
                  a.ellipsis {
                    width: auto;
                    white-space: inherit;
                    overflow: inherit;
                    text-overflow: inherit;
                  }
                  a.ellipsis:hover + .namelistTooltip {
                    opacity: 0;
                    z-index: -1;
                  }
                }
                .namelistTooltip {
                  position: absolute;
                  top: 32px;
                  left: 0;
                  width: auto;
                  height: auto;
                  padding: 10px 15px;
                  text-align: left;
                  z-index: 9;
                  background: #fef9b7;
                  color: #1a1a18;
                  font-size: 14px;
                  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
                  border-radius: 5px;
                  opacity: 0;
                  z-index: -1;
                  -webkit-transition: all 1s ease;
                  -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                  transition: all 1s ease;
                  i.arrow {
                    border-bottom: 12px solid #fef9b7;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    float: right;
                    position: absolute;
                    left: 22px;
                    top: -11px;
                  }
                }
              }
              p {
                font-size: 14px;
                font-weight: 400;
                width: 477px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #000;
                margin: 0;
                margin-bottom: 8px;
                padding: 0;
                float: left;
                img {
                  float: left;
                  margin: 0 8px 0 0;
                }
              }
              @media screen and (max-width: 1080px) {
                p {
                  padding-right: 96px;
                }
              }
              @media screen and (max-width: 767px) {
                p {
                  padding-right: 0;
                  width: 100%;
                }
              }
              p:last-child {
                margin-bottom: 0;
              }
            }
            @media screen and (max-width: 767px) {
              .contentdisplay {
                width: 100%;
                display: initial;
                vertical-align: initial;
                padding-top: 15px;
                padding-bottom: 12px;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              display: block;
              width: 100%;
            }
          }
        }
        @media screen and (max-width: 1080px) {
          .col-md-7 {
            width: 61.8%;
          }
        }
        @media screen and (max-width: 992px) {
          .col-md-7 {
            width: 59.8%;
          }
        }
        @media screen and (max-width: 960px) {
          .col-md-7 {
            width: 64.8%;
          }
        }
        @media screen and (max-width: 853px) {
          .col-md-7 {
            width: 63.8%;
          }
        }
        @media screen and (max-width: 811px) {
          .col-md-7 {
            width: 62.8%;
          }
        }
        @media screen and (max-width: 771px) {
          .col-md-7 {
            width: 61.8%;
          }
        }
        @media screen and (max-width: 768px) {
          .col-md-7 {
            width: 60.8%;
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-7 {
            width: 100%;
            min-height: 0;
            padding-bottom: 30px;
            border-right: 0;
          }
        }
        .col-md-3 {
          width: 18.53%;
          padding: 0;
          height: 140px;
          background: #fff;
          box-shadow: 0 0 10px 3px rgba(234, 234, 234, 0.4);
          .tablecell {
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .btnCell {
              display: flex;
              width: 100%;
              height: 40px;
              span {
                float: none;
                margin: 0;
                font-weight: 500;
                font-size: 16px;
                background: #f0bd00;
                color: #000;
                padding: 11px 0;
                border-radius: 0;
                text-align: center;
                transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                cursor: pointer;
                font-weight: 600;
                width: 100%;
                border-bottom: 1px solid#f0bd00;
                &:hover {
                  background: #fff;
                  border-bottom: 1px solid#f0bd00;
                }
              }
              @media screen and (max-width: 767px) {
                span {
                  margin: 0 auto;
                  padding: 8px 15px;
                  border-radius: 30px;
                  border: 1px solid #f0bd00;
                  font-weight: 400;
                  font-size: 14px;
                  &:hover {
                    border: 1px solid #f0bd00;
                    background: transparent;
                  }
                }
              }
              @media screen and (max-width: 412px) {
                span {
                  border-radius: inherit;
                  border-left: 0;
                  border-right: 0;
                  font-size: 16px;
                  &:hover {
                    border: 1px solid #f0bd00;
                    border-left: 0;
                    border-right: 0;
                  }
                }
              }
            }
            @media screen and (max-width: 767px) {
              .btnCell {
                display: flex;
                width: auto;
                height: 38px;
              }
            }
            @media screen and (max-width: 412px) {
              .btnCell {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-bottom: 5px;
              }
            }
            .calender {
              font-size: 14px;
              color: #303131;
              display: flex;
              width: 100%;
              justify-content: center;
              height: 100px;
              align-items: center;
              overflow: hidden;
              flex-wrap: wrap;
              padding-left: 0;
              p {
                @include font-size(14px);
                font-weight: $b4s-font-weight-400;
                line-height: 18px;
                display: flex;
                justify-content: center;
                margin-bottom: 0;
                flex-wrap: wrap;
                margin-bottom: 0;
                span {
                  display: flex;
                  width: 100%;
                  justify-content: center;
                  font-weight: 600;
                }
              }
              @media screen and (max-width: 767px) {
                p {
                  display: inline-block;
                  width: inherit;
                }
                p:nth-child(1) {
                  margin-right: 2px;
                }
              }
              .date {
                padding-top: 15px;
              }
            }
            @media screen and (max-width: 767px) {
              .calender {
                margin-left: 0;
                padding-top: 0;
                text-align: right;
                width: auto;
                float: right;
                height: auto;
                padding: 5px 10px;
                margin-top: 0;
                margin-bottom: 0;
              }
            }
            @media screen and (max-width: 412px) {
              .calender {
                display: flex;
                width: 100%;
                justify-content: center;
              }
            }
            @media screen and (max-width: 390px) {
              .calender {
                margin-left: 0;
                padding-top: 0;
                text-align: left;
                width: 100%;
                float: left;
                height: auto;
                padding: 0;
                margin-top: 0;
                margin-bottom: 7.5px;
                background: #fff;
              }
            }
            .daysgo {
              font-size: 14px;
              color: #303131;
              display: flex;
              width: 100%;
              justify-content: center;
              height: 95px;
              align-items: center;
              padding-left: 0;
              span {
                font-size: 25px;
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
                p {
                  font-weight: $b4s-font-weight-400;
                  margin: 0;
                  display: flex;
                  width: 100%;
                  flex-wrap: wrap;
                  justify-content: center;
                  font-size: 14px;
                  font-weight: 400;
                }
                @media screen and (max-width: 767px) {
                  p {
                    width: auto;
                    margin: 0 7px 0 2px;
                    position: relative;
                    top: 0;
                  }
                }
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: 15px;
                  float: left;
                  margin-right: 5px;
                  line-height: 13px;
                  padding-left: 7px;
                  margin-top: 1px;
                }
              }
            }
            .daysgo.open {
              span {
                font-size: 18px;
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: 16px;
                  padding-top: 0px;
                  padding-bottom: 5px;
                  margin-top: -5px;
                }
              }
            }
            @media screen and (max-width: 767px) {
              .daysgo {
                margin-left: 0;
                padding-top: 2px;
                text-align: right;
                width: auto;
                float: right;
                height: 20px;
                margin-top: 0;
              }
            }
            @media screen and (max-width: 412px) {
              .daysgo {
                margin-left: 0;
                float: left;
                margin-top: 0;
                margin-bottom: 15px;
              }
            }
            .daysgo.pink {
              float: initial;
            }
            .daysgo.yellow {
              float: initial;
            }
            .daysgo.gray {
              float: initial;
              span {
                font-size: 18px;
                display: block;
                font-weight: 400;
              }
              @media screen and (max-width: 767px) {
                span {
                  font-size: initial;
                  padding-top: initial;
                  font-weight: initial;
                  position: relative;
                  top: 0;
                }
              }
            }
            @media screen and (max-width: 390px) {
              .daysgo.pink,
              .daysgo.yellow,
              .daysgo.gray {
                float: left;
              }
            }
            .daysgo.always {
              p {
                font-size: 18px;
                display: block;
                font-weight: 400;
              }
              @media screen and (max-width: 767px) {
                p {
                  font-size: initial;
                  padding-top: initial;
                  font-weight: initial;
                  position: relative;
                  top: 4px;
                }
              }
            }
          }
          @media screen and (max-width: 767px) {
            .tablecell {
              flex-wrap: nowrap;
              position: relative;
              top: 5px;
            }
          }
          @media screen and (max-width: 412px) {
            .tablecell {
              flex-wrap: wrap;
            }
          }
        }
        @media screen and (max-width: 1080px) {
          .col-md-3 {
            width: 21.5%;
          }
        }
        @media screen and (max-width: 992px) {
          .col-md-3 {
            width: 23.5%;
          }
        }
        @media screen and (max-width: 960px) {
          .col-md-3 {
            width: 18.5%;
          }
        }
        @media screen and (max-width: 853px) {
          .col-md-3 {
            width: 19.5%;
          }
        }
        @media screen and (max-width: 811px) {
          .col-md-3 {
            width: 20.5%;
          }
        }
        @media screen and (max-width: 771px) {
          .col-md-3 {
            width: 21.5%;
          }
        }
        @media screen and (max-width: 768px) {
          .col-md-3 {
            width: 22.5%;
          }
        }
        @media screen and (max-width: 767px) {
          .col-md-3 {
            border-left: 0;
            width: auto;
            padding: 0 0 10px 0;
            position: absolute;
            bottom: 0;
            right: 15px;
            height: auto;
            background: transparent;
            box-shadow: none;
          }
        }
        @media screen and (max-width: 390px) {
          .col-md-3 {
            width: 100%;
            position: initial;
          }
        }
        @media screen and (max-width: 767px) {
          .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            position: relative;
            .flex-item:nth-of-type(1) {
              order: 2;
            }
            .flex-item:nth-of-type(2) {
              order: 1;
            }
            .flex-item:nth-of-type(3) {
              order: 3;
              background: transparent;
              width: auto;
            }
          }
        }
        @media screen and (max-width: 412px) {
          .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            position: relative;
            .flex-item:nth-of-type(1) {
              order: 2;
            }
            .flex-item:nth-of-type(2) {
              order: 1;
            }
            .flex-item:nth-of-type(3) {
              order: 3;
              background: transparent;
              width: 100%;
              right: initial;
              position: initial;
              padding-bottom: 0;
            }
          }
        }
        .datalist {
          .heading {
            vertical-align: 18px;
            width: 510px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            padding-top: 6px;
            a {
              font-size: 16px;
              color: #a914a9;
              text-decoration: none;
              border-bottom: 0;
              line-height: 25px;
            }
            a:hover {
              border-bottom: 2px solid #a914a9;
            }
          }
          @media screen and (max-width: 1199px) {
            .heading {
              width: 394px;
            }
          }
          p {
            line-height: 5px;
            color: #000;
            font-size: 14px;
            font-weight: $b4s-font-weight-500;
            width: 490px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 18px;
            min-height: 18px;
            img {
              margin-right: 10px;
            }
          }
          @media screen and (max-width: 1199px) {
            p {
              width: 394px;
            }
          }
        }
        .col-md-2.borderLeft {
          border-left: 2px solid #eaeaea;
          padding-right: 0;
          padding-left: 5px;
        }
      }
    }
    .col-md-3 {
      .box {
        @include padding(10px);
        h4 {
          color: #000;
          font-weight: 500;
          font-size: 18px;
          padding: 0 0 9px;
          border-bottom: 1px solid #d7d7d7;
        }
        p {
          width: 100%;
          border-bottom: 1px solid #d7d7d7;
          padding: 10px 0;
          margin-top: 10px;
          a {
            color: #5d5d5d;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
        }
        p:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
      .box.listFeaturedScholarships {
        float: left;
        padding: 0;
        h4 {
          margin: 0 0 15px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          background: #f0bd00;
          padding: 15px;
          float: left;
          width: 100%;
          letter-spacing: 0.6px;
          min-height: initial;
          border-bottom: 0;
          position: relative;
          display: block;
        }
        p {
          display: flex;
          width: 100%;
          margin-bottom: 28px;
          padding: 0 30px;
          font-size: 10px;
          font-weight: 600;
          color: #000;
          border-bottom: 0;
          margin-top: 0;
          img {
            width: 73px;
            height: 50px;
            padding: 5px;
          }
          span {
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            color: #000;
            padding-left: 15px;
            margin-top: 0;
            a {
              color: #000;
              font-size: 14px;
              font-weight: 400;
            }
            i {
              font-style: normal;
              width: 100%;
              float: left;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
      @media screen and (max-width: 960px) {
        .box.listFeaturedScholarships {
          margin-bottom: 60px;
        }
      }
    }
    .col-md-9.marginRight {
      width: 71.5%;
      padding-right: 7.5px;
    }
    @media screen and (max-width: 960px) {
      .col-md-9.marginRight {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .col-md-3.marginLeft {
      width: 28.5%;
      padding-left: 7.5px;
    }
    @media screen and (max-width: 960px) {
      .col-md-3.marginLeft {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .list.marginBox {
    float: left;
    width: 100%;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 960px) {
    .list {
      .flex-container-wrap {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .flex-container-list:nth-of-type(2) {
          order: 1;
        }
        .flex-container-list:nth-of-type(3) {
          order: 2;
        }
        @media screen and (max-width: 960px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
          }
        }
        @media screen and (max-width: 382px) {
          .col-md-12.noPaddingFromLeft {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .box:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .pagination {
    .rc-pagination {
      font-size: 12px;
      font-family: "Arial";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;
      padding: 0 5px;
    }
    .rc-pagination > li {
      list-style: none;
    }
    .rc-pagination-total-text {
      float: left;
      height: 30px;
      line-height: 30px;
      list-style: none;
      padding: 0;
      margin: 0 8px 0 0;
    }
    .rc-pagination:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    .rc-pagination-item {
      cursor: pointer;
      border-radius: 0px;
      min-width: 28px;
      height: 33px;
      line-height: 28px;
      text-align: center;
      list-style: none;
      float: left;
      border: none;
      border-right: 1px solid #d9d9d9;
      background-color: #fff;
      margin-right: 0px;
      padding: 3px 16px;
    }
    .rc-pagination-item a {
      text-decoration: none;
      color: #666;
    }
    .rc-pagination-item:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-item:hover a {
      color: #f0bd00;
    }
    .rc-pagination-item-active {
      background-color: #f0bd00;
      border-color: #f0bd00;
    }
    .rc-pagination-item-active a {
      color: #fff;
    }
    .rc-pagination-item-active:hover a {
      color: #fff;
    }
    .rc-pagination-jump-prev:after,
    .rc-pagination-jump-next:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: #ccc;
      font-size: 12px;
      margin-top: 1px;
    }
    .rc-pagination-jump-prev:hover:after,
    .rc-pagination-jump-next:hover:after {
      color: #f0bd00;
    }
    .rc-pagination-jump-prev:hover:after {
      content: "\AB";
    }
    .rc-pagination-jump-next:hover:after {
      content: "\BB";
    }
    .rc-pagination-prev,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      margin-right: 1px;
    }
    .rc-pagination-prev,
    .rc-pagination-next,
    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      cursor: pointer;
      color: #666;
      font-size: 10px;
      border-radius: 6px;
      list-style: none;
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      float: left;
      text-align: center;
    }
    .rc-pagination-prev a:after {
      content: "\2039";
      display: block;
    }
    .rc-pagination-next a:after {
      content: "\203A";
      display: block;
    }
    .rc-pagination-prev,
    .rc-pagination-next {
      border: 0px solid #d9d9d9;
      font-size: 30px;
      padding-top: 2px;
      height: 33px;
      background: #fff;
      border-radius: 0;
    }
    .rc-pagination-prev a,
    .rc-pagination-next a {
      color: #666;
    }
    .rc-pagination-prev a:after,
    .rc-pagination-next a:after {
      margin-top: -1px;
    }
    .rc-pagination-disabled {
      cursor: not-allowed;
    }
    .rc-pagination-disabled a {
      color: #ccc;
    }
    .rc-pagination-options {
      float: left;
      margin-left: 15px;
    }
    .rc-pagination-options-size-changer {
      float: left;
      width: 80px;
    }
    .rc-pagination-options-quick-jumper {
      float: left;
      margin-left: 16px;
      height: 28px;
      line-height: 28px;
    }
    .rc-pagination-options-quick-jumper input {
      margin: 0 8px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      outline: none;
      padding: 3px 12px;
      width: 50px;
      height: 28px;
    }
    .rc-pagination-options-quick-jumper input:hover {
      border-color: #f0bd00;
    }
    .rc-pagination-options-quick-jumper button {
      display: inline-block;
      margin: 0 8px;
      font-weight: 500;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 12px;
      border-radius: 6px;
      height: 28px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
    }
    .rc-pagination-options-quick-jumper button:hover,
    .rc-pagination-options-quick-jumper button:active,
    .rc-pagination-options-quick-jumper button:focus {
      color: #f0bd00;
      background-color: #fff;
      border-color: #f0bd00;
    }
  }
}
