@media screen and (max-width: 1190px) {
  .sholarship-list {
    .filter {
      .Select:nth-child(4) {
        width: 17%;
      }
      .sorting {
        display: block;
      }
    }
    .list {
      .box {
        .heading {
          width: 430px;
        }
      }
      .col-md-3 {
        .box {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sholarship-list {
    .list {
      .left {
        display: none;
      }
      .box {
        .heading {
          white-space: unset;
          width: 100%;
        }
        .datalist {
          margin-left: -10px;
        }
        .daysgo,
        .always,
        .calender,
        .closed {
          text-align: center;
          height: auto;
          padding: 5px 10px;
          margin-top: -10px;
          width: 139px;
          margin-bottom: 10px;
          span {
            font-size: 15px;
            display: inline;
            margin-right: 5px;
          }
        }
        .calender {
          width: 100%;
        }
      }
      .col-md-3 {
        .box {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 934px) {
  .sholarship-list {
    .filter {
      .Select {
        width: 16%;
        margin-bottom: 10px;
      }
      .Select:nth-child(4) {
        width: 16.5%;
      }
    }
  }
}
@media screen and (max-width: 913px) {
  .sholarship-list {
    .filter {
      .Select,
      .Select:nth-child(4) {
        width: 49.4%;
        margin-bottom: 35px;
      }
      .Select:nth-child(2),
      .Select:nth-child(4) {
        margin-right: 0;
      }
      .Select:nth-child(5) {
        margin-bottom: 5px;
      }
      .keyword {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 865px) {
  .sholarship-list {
    .filter {
      .Select,
      .Select:nth-child(4) {
        width: 49.3%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sholarship-list {
    .filter {
      .Select {
        width: 100%;
        margin-bottom: 35px;
      }
      .Select:nth-child(4) {
        width: 100%;
        margin-bottom: 35px;
      }
      .Select:nth-child(5) {
        margin-bottom: 5px;
      }
      .keyword {
        width: auto;
        margin: 20px 0 0;
      }
      .apply-but {
        width: 100px;
        padding-left: 0;
        padding-right: 0;
        float: right;
        margin-top: 7px;
      }
    }
    .left {
      display: none;
    }
    .list {
      .box {
        .heading {
          white-space: unset;
          width: 100%;
        }
        .datalist {
          margin-left: -10px;
        }
        .daysgo,
        .always,
        .calender,
        .closed {
          text-align: center;
          height: auto;
          padding: 5px 10px;
          margin-top: -10px;
          width: 100%;
          margin-bottom: 10px;
          span {
            font-size: 15px;
            display: inline;
            margin-right: 5px;
          }
          p {
            display: inline-block;
          }
        }
      }
      .col-md-3 {
        .box {
          width: 100%;
        }
      }
    }
    .filter {
      .leftmobile {
        float: none !important;
        clear: both;
      }
      h1,
      h2 {
        font-size: 18px;
      }
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .sholarship-list {
    .pagination {
      .rc-pagination-item {
        padding: 3px 9px;
      }
    }
    .list {
      .box {
        .format {
          width: 100%;
          white-space: unset;
        }
        p {
          line-height: 20px;
        }
        .daysgo,
        .always,
        .calender,
        .closed {
          text-align: center;
          height: auto;
          padding: 5px 10px;
          margin-top: -10px;
          width: 139px;
          margin-bottom: 10px;
          span {
            font-size: 15px;
            display: inline;
            margin-right: 5px;
          }
          p {
            display: inline-block;
          }
        }
        .calender {
          width: 100%;
          text-align: left;
          p {
            padding-right: 5px;
          }
          dd {
            display: none;
          }
          dd:before {
            display: none;
          }
        }
      }
      .sorting {
        clear: both;
        float: none !important;
        padding: 10px 0 0 10px;
      }
    }
    .breadcrumb {
      padding-left: 1px;
    }
  }
}
@media screen and (max-width: 480px) {
  .sholarship-list {
    .filter {
      h2 {
        margin-bottom: 15px;
      }
    }
  }
}
