.vleSubscriberWrapper {
  position: relative;
  top: 0;
  float: left;
  width: 100%;

  .ctrl-wrapper.widget-border .row .form-group.interest {
    position: relative;

    span.error {
      right: initial;
      left: 0;
      bottom: initial;
      top: -70px;
    }
  }

  .ctrl-wrapper.widget-border .row .form-group.interest.agree {
    position: relative;

    span.error {
      right: initial;
      left: 0;
      bottom: 35px;
      top: initial;
    }
  }

  .dashboard
    .dashboard-nav-bg
    .dashboard-nav-in
    .col-md-12
    ul.optional-links
    li:first-child {
    margin-left: 0;
    line-height: 50px;
    padding: 0 20px;
  }

  .document {
    float: right;
    width: 100%;

    span.error.errordoc {
      position: absolute;
      right: 0;
      color: #e5260e;
      font-size: 12px;
      bottom: 53px;
      background-color: #ffffff;
      padding: 0 10px;
      width: 277px;
      border-radius: 5px;
      -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      z-index: 99;

      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: initial;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        margin-left: -5px;
        right: 51px;
      }
    }

    @media screen and (max-width: 480px) {
      span.error.errordoc {
        padding: 10px;
      }
    }
  }

  .bggreay {
    position: relative;
    top: 0;
  }

  .dashboard {
    position: relative;
    z-index: 1;
    top: 0;
    float: left;
    height: 100%;
    width: 100%;

    .dashboard-nav-bg {
      .dashboard-nav-in {
        background-color: #f6f7f8;
        float: left;
        padding: 0;
        position: relative;
        z-index: 9;
        top: 0;
        width: 100%;
        padding-bottom: 60px;
        padding-top: 60px;

        @media screen and (max-width: 662px) {
          .col-md-9 ul.optional-links li.myprofile-tab {
            margin-bottom: 0;
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      .dashboard-nav-bg {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .vleSubscriberWrapper {
    top: -2px;
  }
}

@media screen and (max-width: 991px) {
  .dashboard
    .dashboard-nav-bg
    .dashboard-nav-in
    .col-md-9
    .tab-border
    .col-md-12 {
    width: 100%;
  }
}

footer.topPos {
  margin-top: -9px;
}

.dashboard .dashboard-nav-bg .dashboard-nav-in .col-md-9.list {
  width: 100% !important;
}

.dashboard .dashboard-nav-bg .dashboard-nav-in .col-md-9.list .tab-border {
  margin-top: 0;
}

.schlarshipmatching {
  .box {
    background: $white;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    height: auto;
    @include margin(0 0 10px 0);
    transition: all 1s ease-in;
    overflow: hidden;
  }
}

.schlarshipmatching {
  .box {
    @include padding(0);

    a {
      img {
        margin-left: 0;
      }
    }

    .col-md-2 {
      width: 16.66667%;
      padding-top: 8px;
      padding-bottom: 8px;

      .tablecell {
        display: table;
        width: 100%;

        .logotext {
          float: none;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          padding-top: 0;
          height: 124px;
          a {
            img {
              width: 95px;
              height: 50px;
              display: block;
              margin: 0 auto;
              padding: 5px;
              font-size: 10px;
              float: none;
            }
          }

          @media screen and (max-width: 767px) {
            a {
              display: none;
            }
          }

          p {
            font-size: 14px;
            color: #737373;
            padding-left: 0;
            font-weight: 400;
            letter-spacing: 0.6px;
            text-align: center;
            margin-top: 10px;
          }

          @media screen and (max-width: 767px) {
            p {
              text-align: left;
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }

        @media screen and (max-width: 767px) {
          .logotext {
            padding-top: 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .tablecell {
          height: auto !important;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .col-md-2 {
        width: auto;
        text-align: left;
        padding: 0 0 15px 15px;
      }
    }

    .col-md-7 {
      width: 64.8%;
      padding: 8px 15px;
      height: auto;

      .tablecell {
        display: table;
        width: 100%;

        .contentdisplay {
          float: none;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          padding-top: 15px;
          padding-bottom: 12px;

          h2 {
            padding: 0;
            text-transform: initial;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
            float: left;
            width: 100%;
            margin-top: 0;
            position: relative;
            background: transparent !important;

            a {
              color: #a914a9;
              text-decoration: none;
              border-bottom: 0;
              padding-bottom: 1px;
              line-height: 1.4;
            }

            a.ellipsis {
              width: 492px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              float: left;
            }

            a.ellipsis:hover + .namelistTooltip {
              opacity: 1;
              z-index: 91;
              top: 42px;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              transition: all 1s ease;
            }

            @media screen and (max-width: 1080px) {
              a.ellipsis {
                width: 420px;
              }
            }

            @media screen and (max-width: 1024px) {
              a.ellipsis {
                width: 378px;
              }
            }

            @media screen and (max-width: 960px) {
              a.ellipsis {
                width: 500px;
              }
            }

            @media screen and (max-width: 853px) {
              a.ellipsis {
                width: 446px;
              }
            }

            @media screen and (max-width: 771px) {
              a.ellipsis {
                width: 415px;
              }
            }

            @media screen and (max-width: 768px) {
              a.ellipsis {
                width: 390px;
              }
            }

            @media screen and (max-width: 767px) {
              a.ellipsis {
                width: auto;
                white-space: inherit;
                overflow: inherit;
                text-overflow: inherit;
              }

              a.ellipsis:hover + .namelistTooltip {
                opacity: 0;
                z-index: -1;
              }
            }

            .namelistTooltip {
              position: absolute;
              top: 32px;
              left: 0;
              width: auto;
              height: auto;
              padding: 10px 15px;
              text-align: left;
              z-index: 9;
              background: #fef9b7;
              color: #1a1a18;
              font-size: 14px;
              -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
              border-radius: 5px;
              opacity: 0;
              z-index: -1;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              transition: all 1s ease;

              i.arrow {
                border-bottom: 12px solid #fef9b7;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                float: right;
                position: absolute;
                left: 22px;
                top: -11px;
              }
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            width: 477px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            margin: 0;
            margin-bottom: 8px;
            padding: 0;
            float: left;

            img {
              float: left;
              margin: 0 8px 0 0;
            }
          }

          @media screen and (max-width: 1080px) {
            p {
              padding-right: 96px;
            }
          }

          @media screen and (max-width: 767px) {
            p {
              padding-right: 0;
              width: 100%;
            }
          }

          p:last-child {
            margin-bottom: 0;
          }
        }

        @media screen and (max-width: 767px) {
          .contentdisplay {
            width: 100%;
            display: initial;
            vertical-align: initial;
            padding-top: 15px;
            padding-bottom: 12px;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .tablecell {
          display: block;
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 1080px) {
      .col-md-7 {
        width: 61.8%;
      }
    }

    @media screen and (max-width: 992px) {
      .col-md-7 {
        width: 59.8%;
      }
    }

    @media screen and (max-width: 960px) {
      .col-md-7 {
        width: 64.8%;
      }
    }

    @media screen and (max-width: 853px) {
      .col-md-7 {
        width: 63.8%;
      }
    }

    @media screen and (max-width: 811px) {
      .col-md-7 {
        width: 62.8%;
      }
    }

    @media screen and (max-width: 771px) {
      .col-md-7 {
        width: 61.8%;
      }
    }

    @media screen and (max-width: 768px) {
      .col-md-7 {
        width: 60.8%;
      }
    }

    @media screen and (max-width: 767px) {
      .col-md-7 {
        width: 100%;
        min-height: 0;
        padding-bottom: 30px;
        border-right: 0;
      }
    }

    .col-md-3 {
      width: 18.5%;
      padding: 15px 0 13px 0;
      border-left: 2px solid #eaeaea;
      height: 140px;

      .tablecell {
        display: table;
        width: 100%;
        position: relative;
        min-height: 125px;

        .calender {
          text-align: center;
          color: #303131;
          overflow: hidden;

          p {
            @include font-size(14px);
            font-weight: $b4s-font-weight-400;
            line-height: 18px;
          }

          @media screen and (max-width: 767px) {
            p {
              display: inline-block;
            }

            p:nth-child(1) {
              margin-right: 2px;
            }
          }

          .date {
            padding-top: 15px;
          }

          @media screen and (max-width: 460px) {
            .date {
              padding-top: 0;
            }
          }

          dd {
            @include font-size(22px);
            line-height: 49px;
            color: $b4s-color-black;
            font-weight: $b4s-font-weight-500;
            position: $pos-relative;
            top: 10px;
          }

          @media screen and (max-width: 767px) {
            dd {
              display: none;
            }
          }

          dd:before {
            content: "";
            background: url(#{$img-base-url}calender.png) no-repeat;
            display: block;
            margin-left: -30px;
            position: absolute;
            top: -12px;
            left: 50%;
            width: 60px;
            height: 62px;
          }
        }

        @media screen and (max-width: 767px) {
          .calender {
            margin-left: 0;
            padding-top: 0;
            text-align: right;
            width: auto;
            float: right;
            height: auto;
            padding: 5px 10px;
            margin-top: 0;
            margin-bottom: -10px;
          }
        }

        @media screen and (max-width: 460px) {
          .calender {
            margin-left: 0;
            padding-top: 0;
            text-align: left;
            width: auto;
            float: left;
            height: auto;
            padding: 0 15px;
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        .daysgo {
          vertical-align: middle;
          border-radius: 100px;
          width: 100px;
          text-align: center;
          height: 100px;
          padding-top: 25px;
          font-size: 14px;
          color: #fff;
          margin: 5px auto 0;

          span {
            font-size: 25px;
            display: block;
          }

          p.always {
            line-height: 20px;
            padding-top: 7px;
            font-weight: bold;
            font-size: 16px;
          }

          @media screen and (max-width: 767px) {
            span {
              font-size: 15px;
              float: left;
              margin-right: 0;
              line-height: 13px;
              padding-left: 7px;
              top: -6px;
              position: relative;
            }
          }

          p {
            font-weight: $b4s-font-weight-400;
            line-height: 7px;
          }

          @media screen and (max-width: 767px) {
            p {
              width: auto;
              margin: 0 7px 0 2px;
              position: relative;
              top: -4px;
              float: left;
            }
          }
        }

        @media screen and (max-width: 767px) {
          .daysgo {
            margin-left: 0;
            padding-top: 10px;
            text-align: right;
            width: auto;
            float: right;
            height: auto;
            margin-top: 0;
          }
        }

        @media screen and (max-width: 460px) {
          .daysgo {
            float: left;
            margin-left: 15px;
          }
        }

        .daysgo.pink {
          background: #ff7f7f;
        }

        .daysgo.yellow {
          background: rgb(245, 209, 76);
        }

        .daysgo.gray {
          color: #ffffff;
          background: #d7d7d7;

          span {
            font-size: 18px;
            display: block;
            padding-top: 13px;
            font-weight: 400;
          }

          @media screen and (max-width: 767px) {
            span {
              font-size: initial;
              padding-top: initial;
              font-weight: initial;
              position: relative;
              top: -6px;
              padding: 0 15px;
              margin-right: 0;
              line-height: inherit;
            }
          }
        }

        .removeBtn {
          position: $position-absolute;
          bottom: 10px;
          left: -99px;
          color: $white-color;
          width: 84px;
          height: 24px;
          line-height: 24px;
          border-radius: 15px;
          background: $b4s-yellow-color;
          border: 1px solid $b4s-yellow-color;
          text-align: $element-left-align;
          @include font-size(12px);
          z-index: 10;
          font-weight: $b4s-font-weight-400;
          text-decoration: none;
          padding: 0;
          text-align: center;
          display: inherit;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
          cursor: pointer;
        }

        @media screen and (max-width: 767px) {
          .removeBtn {
            right: 201px !important;
            bottom: 3px;
            left: initial !important;
          }
        }

        @media screen and (max-width: 767px) {
          .removeBtn.posBtn {
            right: 233px !important;
          }
        }

        @media screen and (max-width: 460px) {
          .removeBtn {
            bottom: 42px;
            right: 15px !important;
          }
        }

        @media screen and (max-width: 460px) {
          .removeBtn.posBtn {
            right: 15px !important;
            bottom: 42px;
            left: initial !important;
          }
        }

        .removeBtn:hover {
          background: $white-color;
          color: $dark-black-color;
          transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          -moz-transition: all 0.5s ease-in;
        }
      }

      @media screen and (max-width: 767px) {
        .tablecell {
          height: auto !important;
          min-height: initial;
        }
      }
    }

    @media screen and (max-width: 1080px) {
      .col-md-3 {
        width: 21.5%;
      }
    }

    @media screen and (max-width: 992px) {
      .col-md-3 {
        width: 23.5%;
      }
    }

    @media screen and (max-width: 960px) {
      .col-md-3 {
        width: 18.5%;
      }
    }

    @media screen and (max-width: 853px) {
      .col-md-3 {
        width: 19.5%;
      }
    }

    @media screen and (max-width: 811px) {
      .col-md-3 {
        width: 20.5%;
      }
    }

    @media screen and (max-width: 771px) {
      .col-md-3 {
        width: 21.5%;
      }
    }

    @media screen and (max-width: 768px) {
      .col-md-3 {
        width: 22.5%;
      }
    }

    @media screen and (max-width: 767px) {
      .col-md-3 {
        border-left: 0;
        width: auto;
        padding: 0 0 10px 0;
        position: absolute;
        bottom: 0;
        right: 15px;
        height: auto;
      }
    }

    @media screen and (max-width: 460px) {
      .col-md-3 {
        width: 100%;
        position: initial;
      }
    }

    @media screen and (max-width: 767px) {
      .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        position: relative;

        .flex-item:nth-of-type(1) {
          order: 2;
        }

        .flex-item:nth-of-type(2) {
          order: 1;
        }

        .flex-item:nth-of-type(3) {
          order: 3;
        }
      }
    }

    .datalist {
      .heading {
        vertical-align: 18px;
        width: 510px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        padding-top: 6px;

        a {
          font-size: 16px;
          color: #a914a9;
          text-decoration: none;
          border-bottom: 0;
          line-height: 25px;
        }

        a:hover {
          border-bottom: 2px solid #a914a9;
        }
      }

      @media screen and (max-width: 1199px) {
        .heading {
          width: 394px;
        }
      }

      p {
        line-height: 5px;
        color: #000;
        font-size: 14px;
        font-weight: $b4s-font-weight-500;
        width: 490px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 18px;
        min-height: 18px;

        img {
          margin-right: 10px;
        }
      }

      @media screen and (max-width: 1199px) {
        p {
          width: 394px;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .schlarshipmatching {
    .flex-container-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      .flex-container-list:nth-of-type(1) {
        order: 2;
      }

      .flex-container-list:nth-of-type(2) {
        order: 1;
      }

      @media screen and (max-width: 767px) {
        .col-md-12.noPaddingFromLeft {
          padding-left: 0;
        }
      }
    }
  }
}

.box:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.schlarshipmatching {
  float: left;
  width: 100%;

  dd.btnCtrl {
    padding: 15px 16px;
    background: #fefefe;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 30px;
  }

  dd.btnCtrl:nth-child(2) {
    margin-right: 0;
  }

  @media screen and (max-width: 545px) {
    dd.btnCtrl {
      margin-right: 0;
      width: 100%;
      text-align: center;
    }

    dd.btnCtrl:nth-child(2) {
      margin-top: 10px;
    }
  }

  dd.btnCtrl:hover,
  dd.btnCtrl.active,
  dd.btnCtrl:active,
  dd.btnCtrl:focus {
    background: #f0bd00;
  }

  .floatBox {
    float: left;
    width: 100%;
  }

  @media screen and (max-width: 545px) {
    h4.titletext {
      margin-bottom: 15px;
      margin-top: 15px !important;
    }
  }

  @media screen and (max-width: 414px) {
    h4.titletext {
      line-height: 1.4;

      &:after {
        display: none;
      }
    }
  }
}

.cropImg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.78);
  z-index: 99991;

  .cropImgbg {
    width: 80%;
    height: 80%;
    left: 10%;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    top: 10%;
    position: absolute;
    border-radius: 6px;

    .popup-header {
      position: relative;

      .close {
        top: 0px;
        font-weight: 300;
        position: absolute;
        background: #fff;
        color: #000;
        right: 7px;
        opacity: 1;
        width: 38px;
        height: 36px;
        text-align: center;
        font-size: 48px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
        border: 0;
        line-height: 24px;
      }

      .popup-title {
        text-align: center;
        line-height: 2;
        color: #000;
        font-weight: 500;
        font-size: 22px;
        margin: 0;
      }
    }

    .popup-body {
      padding: 0;
      float: left;
      height: 500px;
      width: 100%;

      .cropArea {
        background: #e4e4e4;
        overflow: hidden;
        height: auto;
        width: auto;

        .img-crop {
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          overflow: hidden;
        }
      }

      .updatePicBtn {
        width: auto;
        margin: 0 auto;
        display: block;
        background: transparent;
        border: 1px solid $bg-color-yellow;
        cursor: pointer;
        color: $t-color-black;
        @include font-size(16px);
        transition: all 0.3s;
        font-weight: $font-weight-400;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        @include border-radius(30px);
        height: 42px;
        line-height: 34px;
        position: relative;
        top: 6px;

        &:hover {
          background: $bg-color-yellow;
          text-decoration: $text-decoration-none;
          -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          color: $t-color-black;
        }
      }
    }

    .popup-footer {
      display: none;
    }
  }
}
