.application {
  .applicationform,
  .bglogin {
    background-color: #f2f2f2;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    margin: 0;
    padding: 0 15px 30px;
    h2 {
      text-align: center;
      font-size: 22px;
      letter-spacing: 0.6px;
    }
    .register {
      float: left;
      width: 100%;
      p {
        text-align: center;
        font-size: 16px;
        letter-spacing: 0.6px;

        margin-bottom: 0;
      }
    }
    .widthselect {
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .bglogin.topPadding {
    padding-top: 30px;
  }
  img.scholarshipLogo {
    display: block;
    margin: 0px auto;
    width: auto;
    height: 141px;
    margin-top: 95px;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
    padding: 10px;
  }
  .scollarshipDetails {
    display: table;
    a {
      float: none;
      vertical-align: middle;
      height: 106px;
      img {
        display: block;
        margin: 0;
        width: auto;
        height: 141px;
        float: left;
      }
    }
    h1 {
      font-size: 20px;
      color: #1a1a18;
      font-weight: 500;
      text-align: center;
      line-height: 30px;
      margin-bottom: 70px;
    }
    h1 {
      margin: 0;
      text-align: initial;
      display: table-cell;
      float: none;
      vertical-align: middle;
      height: 141px;
      padding: 0 15px;
      a,
      a:hover,
      a:focus {
        color: #1a1a18;
      }
      dd {
        @include font-size(12px);
        font-weight: $font-weight-400;
        text-align: initial;
      }
    }
  }
  ul.optional-links {
    font-weight: $font-weight-400;
    width: 100%;
    margin: 0;
    float: $text-align-left;
    border-bottom: 1px solid #1a1a18;
    padding-bottom: 3px;
    background: #fff;
    li,
    li.active {
      float: $text-align-left;
      color: #262626;
      font-weight: $font-weight-400;
      @include font-size(18px);
      position: $pos-relative;
      height: 50px;
      width: auto;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      padding: 0;
      a,
      span {
        color: $dark-black-color;
        text-decoration: none;
        @include font-size(18px);
        width: 100%;
        text-align: $text-align-center;
        height: 50px;
        line-height: 50px;
        margin: 0;
        float: $text-align-left; // padding: 0 23.5px 0 53.59px;
        padding: 0 15px;
        position: $pos-relative;
        cursor: pointer;
      }
    }
    li {
      background: #e7e7e8;
      margin-left: 10px;
      height: 50px;
      position: $pos-relative;
    }
    li:first-child {
      margin-left: 0;
      a:before,
      span:before {
        background-position: -219px -2023px;
      }
    }
    li.active1 {
      padding: 13px;
    }
    li.active:first-child {
      margin-left: 0;
      a:before,
      span:before {
        background-position: -219px -1977px;
      }
    }
    li.active {
      a,
      span {
        background: #ebb800;
      }
    }
    li.active,
    li:hover {
      a,
      span:before {
        background-color: #d1ad29;
        border: 1px solid #b19535;
      }
    }
    li:before {
      display: none;
    }
    li:after,
    li:hover:after,
    li.active:after {
      content: "";
      position: $pos-absolute;
      bottom: -5px;
      left: 0;
      background: #ebb800;
      height: 3px;
      width: 100%;
      z-index: 1;
    }
    li:after {
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    li.active:after,
    li:hover:after {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .eligibility {
    article {
      float: left;
      padding-top: 15px;
      margin-bottom: 30px;
      width: 100%;
      p {
        float: left;
        width: 100%;
        text-align: left;
      }
      p:first-child {
        font-weight: 600;
      }
      p.fwbold {
        font-weight: 600;
      }
    }
    ul {
      /*margin: 0 0 20px 0;*/
      li {
        line-height: 26px;
        margin-top: 8px;
        list-style-type: square;
        margin-left: 20px;
        text-align: left;
        ul {
          margin-left: 0;
          margin-bottom: 15px;
        }
      } // li:before {
      //     content: "\f061";
      //     font: normal normal normal 13px/1 FontAwesome;
      //     color: #ebb800;
      //     margin-right: 3px;
      //     top: -1px;
      //     position: relative;
      // }
    }
    h2 {
      font-size: 23px;
      color: #000000;
      text-align: center;
      margin-top: 96px;
      margin-bottom: 30px;
    }
    .note {
      font-size: 13px;
    }
  }
  .ImportantInformation {
    float: left;
    width: 100%;
    padding-top: 15px;
    ul {
      margin: -10px 0 20px 0;
      li {
        line-height: 26px;
        margin-top: 15px;
        ul {
          li {
            list-style-type: disc;
            margin-left: 30px;
          }
          li:before {
            content: "";
            font: normal normal normal 13px/1 FontAwesome;
            color: #ebb800;
            margin-right: 3px;
          }
        }
      }
      li:before {
        content: "\f061";
        font: normal normal normal 13px/1 FontAwesome;
        color: #ebb800;
        margin-right: 3px;
      }
      li:first-child {
        margin-top: 10px;
      }
    }
    h2 {
      font-size: 23px;
      color: #000000;
      text-align: center;
      margin-top: 96px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 15px;
      a {
        display: inline-block;
        width: auto;
      }
    }
  }
  .applicationform {
    .btn-wrapper {
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      .social-box {
        width: 300px;
        margin: 0 auto;
        .mg-btm {
          text-align: center;
          margin: 0;
          display: block;
          width: 100%;
          float: left;
          span {
            text-decoration: none;
            width: 100%;
            margin: 0px auto;
            font-size: 16px;
            font-weight: 400;
            cur i {
              font-weight: bold;
              font-size: 16px;
              margin-right: 5px;
            }
          }
          span.facebook,
          span.googleplus,
          span.linkedin,
          span.b4s {
            color: #fff;
            outline: 0;
            display: block;
            border-radius: 0;
            margin-bottom: 14px;
            height: 38px;
            line-height: 38px;
            padding: 0;
            border: 0;
            margin: 0 auto;
          }
          span.facebook {
            background-color: $facebook;
            margin-bottom: 10px;
          }
          span.facebook:hover,
          span.facebook.active {
            background-color: #8b9dc3;
          }
          span.googleplus {
            background-color: $googleplus;
            margin-bottom: 10px;
          }
          span.googleplus:hover,
          span.googleplus.active {
            background-color: #d34836;
          }
          span.b4s {
            background-color: #4aaf51;
          }
          span.b4s:hover,
          span.b4s.active {
            background-color: #4aaf51;
          }
          span.linkedin {
            background-color: $linkedin;
            margin: 0 150px;
          }
          span.linkedin:hover,
          span.linkedin.active {
            background-color: #8b9dc3;
          }
        }
      }
      dd {
        float: left;
        text-align: center;
        margin: 15px 0 0;
      }
      @media screen and (max-width: 370px) {
        .social-box {
          width: auto;
          text-align: center;
        }
      }
      @media screen and (max-width: 991px) {
        dd {
          width: 100%;
        }
      }
      .textPara {
        float: left;
        text-align: center;
        width: 100%;
        margin: 15px 0 0;
        i {
          font-weight: 500;
          font-style: normal;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .epadding {
      padding: 0 15px;
    }
    h3 {
      margin: 10px 0 10px;
      text-align: center;
      float: left;
      width: 100%;
      font-size: 18px;
    }
    .text-center {
      dd {
        font-size: 14px;
      }
    }
    .ctrl-wrapper {
      width: 100%;
      margin: 15px 0 0;
      float: left;
      .form-group,
      .form-group.textAreaCrtl {
        position: relative;
        float: none;
        width: 70%;
        margin: 0 auto;
        label {
          float: none;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 14px;
          color: #555;
          font-weight: 400;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 14px;
          color: #555;
          font-weight: 400;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          font-size: 14px;
          color: #555;
          font-weight: 400;
        }
        :-moz-placeholder {
          /* Firefox 18- */
          font-size: 14px;
          color: #555;
          font-weight: 400;
        }
        input {
          margin: 0;
          color: $dark-black-color;
        }
        dd.error,
        span.error {
          position: $pos-absolute;
          right: 0;
          color: $red-color;
          @include font-size(12px);
          bottom: 31px;
          background-color: $white-color;
          padding: 10px;
          width: auto;
          border-radius: 5px;
          -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        }
        dd.error,
        span.error:after {
          content: "";
          position: $pos-absolute;
          bottom: -6px;
          left: 50%;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #fff;
          margin-left: -5px;
        }
      }
      .form-group.textAreaCrtl {
        dd.error,
        span.error {
          bottom: 126px;
        }
      }
      .form-group.widthAuto {
        width: auto;
      }
    }
    .greenBtn {
      width: 100%;
      height: 38px;
      line-height: 0;
      border-radius: 0;
      background-color: #4aaf51;
      color: #fff;
      border: 0;
      outline: 0;
      margin: 0;
      display: block;
    }
    .social-box {
      .orText {
        display: block;
        font-weight: 500;
        font-size: 22px;
        margin-top: 12px;
      }
      .center {
        color: #444444;
        margin-top: 10px;
        font-weight: 400;
        text-align: center;
        .tc {
          color: #444444;
        }
        .forgotpwd-link {
          color: #444;
          text-decoration: underline;
        }
      }
      .terms {
        color: #444444;
        font-weight: 400;
        input[type="checkbox"] {
          position: relative;
          top: 2px;
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
      .termsc {
        color: #444444;
        text-decoration: underline;
      }
      h3 {
        padding: 0 0 15px;
        margin: 0;
        color: #444444;
        font-weight: 400;
        text-align: center;
        font-size: 22px;
      }
      dd {
        color: #444;
      }
      .mg-btm {
        text-align: center;
        margin: 0;
        display: block;
        width: 100%;
        float: left;
        a {
          text-decoration: none;
          width: 100%;
          margin: 0px auto;
          font-size: 16px;
          font-weight: 400;
          i {
            font-weight: bold;
            font-size: 16px;
            margin-right: 5px;
          }
        }
        a.facebook,
        a.googleplus,
        a.linkedin {
          color: #fff;
          outline: 0;
          display: block;
          border-radius: 0;
          margin-bottom: 14px;
          height: 38px;
          line-height: 38px;
          padding: 0;
          border: 0;
          margin: 0 auto;
        }
        a.facebook {
          background-color: $facebook;
          margin-bottom: 10px;
        }
        a.facebook:hover,
        a.facebook.active {
          background-color: #8b9dc3;
        }
        a.googleplus {
          background-color: $googleplus;
        }
        a.googleplus:hover,
        a.googleplus.active {
          background-color: #d34836;
        }
        a.linkedin {
          background-color: $linkedin;
          margin: 0 150px;
        }
        a.linkedin:hover,
        a.linkedin.active {
          background-color: #8b9dc3;
        }
        h2.no-span {
          display: table;
          margin: 0 0 10px 0;
          text-align: center;
          width: 100%;
          span {
            color: #000;
            white-space: nowrap;
            font-size: 12px;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            display: block;
            position: relative;
            &:before,
            &:after {
              border-top: 2px solid #000;
              content: "";
              display: table-cell;
              position: absolute;
              top: 15px;
              width: 40%;
            }
            &:before {
              left: -7.5%;
            }
            &:after {
              right: -7.5%;
            }
          }
        }
      }
      .outer-tab-wrapper {
        padding: 0;
        margin-top: 0;
        .tab-border {
          float: left;
          padding: 0 45px;
          width: 100%;
          margin-top: 1px;
          border: 0px solid #dadcdc;
          .row {
            padding-left: 15px;
            padding-right: 15px;
            .ctrl-wrapper {
              float: left;
              width: 49%;
              margin-bottom: 0;
              padding-top: 0;
              .form-group,
              .form-group.textAreaCrtl {
                margin-bottom: 15px;
                float: left;
                width: 100%;
                position: relative;
                input {
                  margin: 0;
                }
                ::-webkit-input-placeholder {
                  /* Chrome/Opera/Safari */
                  color: #fff;
                  font-size: 16px;
                  font-weight: 400;
                }
                ::-moz-placeholder {
                  /* Firefox 19+ */
                  color: #fff;
                  font-size: 16px;
                  font-weight: 400;
                }
                :-ms-input-placeholder {
                  /* IE 10+ */
                  color: #fff;
                  font-size: 16px;
                  font-weight: 400;
                }
                :-moz-placeholder {
                  /* Firefox 18- */
                  color: #fff;
                  font-size: 16px;
                  font-weight: 400;
                }
                dd.error,
                span.error {
                  position: absolute;
                  color: $red-color;
                  font-size: 10px;
                  bottom: 51px;
                  background: #fff;
                  padding: 10px;
                  width: auto;
                  border-radius: 5px;
                  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                  z-index: 1;
                  display: block;
                  right: 0;
                  border: 1px solid $red-color;
                }
                dd.error,
                span.error:after {
                  content: "";
                  position: absolute;
                  bottom: -6px;
                  left: 50%;
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-top: 10px solid #fff;
                  margin-left: -5px;
                }
                .iconpos {
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #64cbf4;
                  color: #fff;
                  font-size: 22px;
                  width: 33px;
                  height: 33px;
                  text-align: center;
                  line-height: 33px;
                }
                .iconpos.ft:after {
                  content: "Who are you?";
                  position: absolute;
                  top: 0;
                  left: 25px;
                  background-color: #effafe;
                  color: #64cbf4;
                  padding: 5px 2px;
                  font-size: 11px;
                  width: 57px;
                  line-height: 12px;
                  text-align: center;
                }
                .iconpos.lt:after {
                  content: "Looking For Class";
                  position: absolute;
                  top: 0;
                  left: 25px;
                  background-color: #effafe;
                  color: #64cbf4;
                  padding: 5px 2px;
                  font-size: 11px;
                  width: 57px;
                  line-height: 12px;
                  text-align: center;
                }
                .iconpos-lock {
                  position: $pos-absolute;
                  left: 5px;
                  top: 12px;
                  font-size: 20px;
                }
                .select {
                  width: 74%;
                  position: relative;
                  left: 82px;
                  height: 34px;
                  font-size: 14px;
                }
              }
              .form-group.textAreaCrtl {
                dd.error,
                span.error {
                  bottom: 126px;
                }
              }
            }
            .ctrl-wrapper.cellWidth {
              width: 100%;
            }
            .ctrl-wrapper:nth-child(2),
            .ctrl-wrapper:nth-child(4),
            .ctrl-wrapper:nth-child(6),
            .ctrl-wrapper:nth-child(8) {
              float: right;
            }
            #forgotpassword {
              .ctrl-wrapper {
                width: 100%;
              }
            }
            .sponsor-wrapper {
              .sponsor-box {
                .sponsor-content-wrapper {
                  p {
                    width: 95%;
                  }
                }
              }
            }
            #newuser {
              .ctrl-wrapper:nth-child(3) {
                width: 49%;
                float: left;
              }
              .ctrl-wrapper:nth-child(4) {
                float: right;
              }
              .ctrl-wrapper:nth-child(6) {
                width: 49%;
                float: left;
              }
              .ctrl-wrapper:nth-child(5) {
                float: right;
              }
              .ctrl-wrapper:nth-child(7) {
                top: 0;
                position: relative;
                margin-bottom: 15px;
                float: left;
                width: 49%;
                .form-group,
                .form-group.textAreaCrtl {
                  margin-bottom: 0;
                  label[htmlFor="tc"] {
                    width: auto;
                    top: 12px;
                    position: relative;
                    line-height: 23px;
                    text-align: center;
                    input {
                      float: left;
                      position: relative;
                      top: -2px;
                      margin-right: 5px;
                      width: 19px;
                      height: 19px;
                    }
                  }
                  a {
                    text-decoration: none;
                    color: #007c92;
                    display: inline-block;
                    margin: 0 0 0 5px;
                    padding: 0;
                    font-size: 13px;
                    position: relative;
                    top: 11px;
                  }
                  a:hover {
                    text-decoration: underline;
                  }
                }
                .form-group.textAreaCrtl {
                  dd.error,
                  span.error {
                    bottom: 126px;
                  }
                }
              }
            }
          }
          .row#forgotpassword {
            width: 71%;
            .row {
              dd {
                float: left;
                margin-bottom: 15px;
              }
            }
            .ctrl-wrapper {
              width: 62%;
              float: left;
              .form-group,
              .form-group.textAreaCrtl {
                .form-control {
                  float: left;
                }
              }
              .form-group.textAreaCrtl {
                dd.error,
                span.error {
                  bottom: 126px;
                }
              }
            }
            .greenBtn {
              width: 145px;
              margin: 0 0 0 15px;
              float: left;
              height: 35px;
              line-height: 35px;
            }
          }
        }
        .tab-border.marginTop {
          margin-top: 11px;
        }
      }
    }
    .textPara {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      i {
        font-weight: 500;
        font-style: normal;
      }
      p {
        margin-bottom: 0;
      }
    }
    p.terms {
      float: left;
      margin: 15px 0 -6px;
    }
  }
}

.application.alignTB {
  padding-top: 0;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 0;
  a.logout {
    margin: 20px auto;
  }
  a.bookSlotnew {
    width: 150px;
  }
  @media screen and (max-width: 383px) {
    a {
      width: auto;
      img {
        max-width: 337px;
        width: 100%;
        height: auto;
      }
    }
  }
  h3 {
    margin-bottom: 45px;
    a {
      width: auto;
      display: inline;
    }
  }
}

.tab-border {
  /*border: 1px solid #dadcdc;*/
  float: $text-align-left;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  h2,
  h4 {
    position: $pos-relative;
    @include font-size(16px);
    text-align: $text-align-left;
    float: $text-align-left;
    width: 100%;
    margin: 0;
    color: $black-color;
    text-transform: uppercase;
    background: #ccc;
    padding: 10px;
  }
  h5.titleText {
    color: #1a1a18;
    font-size: 20px;
    font-weight: 500;
    float: left;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 0;
  }
  h5.titleText:after {
    width: 45px;
    height: 2px;
    content: "";
    position: absolute;
    top: 30px;
    left: 2px;
    background: #fdb701;
  }
  @media screen and (max-width: 360px) {
    h5.titleText:after {
      display: none;
    }
  }
  .ctrl-wrapper {
    float: $text-align-left;
    width: 100%;
    padding: 15px 0 0;
    #divDisplayWords {
      float: $text-align-left;
      @include font-size(15px);
      font-weight: 600;
      line-height: 1.2;
      display: none;
    }
    .form-group,
    .form-group.textAreaCrtl {
      margin-bottom: 15px;
      position: $pos-relative;
      float: $text-align-left;
      width: 100%;
      .input-group.inputWrapper {
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        span.number-verified {
          position: $pos-absolute;
          top: 1px;
          right: 1px;
          width: 40px;
          background-color: #eee;
          border-left: 1px solid #ccc;
          color: #5b9a68;
          z-index: 999;
          display: block;
          height: 32px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          line-height: 32px;
          @include font-size(14px);
          i {
            display: none;
          }
        }
        span.number-verified:before {
          position: $pos-absolute;
          content: "\2713";
          top: 4px;
          right: 6px;
          color: $white-color;
          width: 25px;
          height: 25px;
          background-color: #5b9a68;
          text-align: $text-align-center;
          border-radius: 50%;
          line-height: 25px;
          @include font-size(18px);
          font-family: FontAwesome;
        }
        span.number-not-verified {
          position: $pos-absolute;
          content: "✗";
          top: 1px;
          right: 1px;
          width: auto;
          background-color: #eee;
          border-left: 1px solid #ccc;
          color: $red-color;
          z-index: 999;
          display: block;
          height: 32px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          line-height: 32px;
          @include font-size(14px);
          i {
            display: block;
            padding: 0 10px;
            display: block;
            font-style: normal;
            float: $text-align-left;
            width: 100%;
            color: $red-color;
            text-decoration: underline;
            cursor: pointer;
            @include font-size(12px);
          }
          i:hover {
            text-decoration: none;
          }
          i.overwrite {
            padding: 10px;
            width: 250px;
            color: #1a1a18;
            text-decoration: none;
          }
        }
        input {
          border-radius: 4px;
          padding-left: 50px;
        }
      }
      label {
        float: $text-align-left;
        width: 100%;
      }
      label,
      input,
      textarea,
      select {
        @include font-size(14px);
        margin-bottom: 0;
        color: $black-color;
        font-weight: $font-weight-400;
      }
      label {
        margin-bottom: 5px;
      }
      input,
      textarea,
      select {
        margin-bottom: 0;
      }
      select {
        height: 34px;
      }
      input.prepost-input {
        float: $text-align-left;
        width: 99%;
        margin-left: 1px;
        padding-left: 54px;
      }
      input.form-control {
        border: 1px solid #ccc;
      }
      input.prepost-input.prepost-input-padding {
        padding-left: 15px;
      }
      label.blank-ctrl {
        height: 14px;
      }
      textarea {
        resize: none;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
      }
      dd.error,
      span.error {
        position: $pos-absolute;
        right: 0;
        color: $red-color;
        @include font-size(12px);
        bottom: 51px;
        background-color: $white-color;
        padding: 10px;
        width: auto;
        border-radius: 5px;
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      }
      dd.error,
      span.error:after {
        content: "";
        position: $pos-absolute;
        bottom: -6px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        margin-left: -5px;
      }
      .form-control.two-col-ctrl {
        float: $text-align-left;
        width: 47.9%;
      }
      .form-control.two-col-ctrl.first-ele {
        margin-right: 15px;
      }
      .input-group.date {
        width: 100%;
        background: transparent;
        float: left;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        input.form-control {
          width: 100%;
          float: $text-align-left;
          position: relative;
          cursor: pointer;
          margin-bottom: 0;
          background: #fff;
        }
        span.input-group-addon,
        label.input-group-addon {
          position: $pos-absolute;
          top: 1px;
          right: 1px;
          z-index: 1;
          height: 32px;
          margin: 0;
          padding: 0;
          width: 36px;
          text-align: $text-align-center;
          cursor: pointer;
          border-radius: 0;
          background-color: #eee;
          border-left: 1px solid #ccc;
          i.fa.fa-calendar {
            margin-top: 8px;
            margin-left: 2px;
          }
        }
      }
    }
    .form-group.textAreaCrtl {
      dd.error,
      span.error {
        bottom: 126px;
      }
    }
    .row {
      .file-upload-wrapper {
        float: $text-align-left;
        width: 100%;
        position: $pos-relative;
        top: 0;
        .file-wrapper {
          float: $text-align-left;
          width: 100%;
          height: auto;
          .form-group {
            label[htmlFor="docFile"] {
              position: absolute !important;
              dd.error,
              span.error {
                position: absolute;
                right: -46px;
                color: #e5260e;
                font-size: 12px;
                top: -50px;
                background-color: #ffffff;
                padding: 5px 10px;
                width: 200px;
                border-radius: 5px;
                -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
                z-index: 9;
                height: 40px;
                line-height: 15px;
              }
            }
          }
          select {
            width: 70.3%;
            float: left;
            margin-right: 15px;
          }
          .selectWrapper {
            width: 48%;
            float: left;
          }
          .selectWrapper:nth-child(2) {
            margin-right: 0;
          }
          label {
            float: $text-align-left;
            @include font-size(15px);
            color: #88898c;
            top: 0;
            z-index: 2;
            position: $pos-relative;
            float: right;
            width: 100px;
            padding-left: 0;
            height: 32px;
            margin-bottom: 0;
            dd {
              display: inline-block;
              position: $pos-relative;
              top: -11px;
            }
            .filename {
              @include font-size(15px);
              color: #1a1a18;
              display: inline-block;
              height: 34px;
              width: 67%;
              border: 1px solid #cecfd1;
              margin-left: 15px;
              margin-right: 15px;
              cursor: pointer;
            }
            .browse-btn {
              display: inline-block;
              border: 1px solid $bg-color-yellow;
              background-color: transparent;
              color: #060c11;
              @include font-size(15px);
              text-transform: uppercase;
              padding: 0;
              border-radius: 15px;
              text-align: $text-align-center;
              height: 32px;
              width: 100px;
              position: $pos-relative;
              top: 0;
              line-height: 31px;
              cursor: pointer;
              transition: all 0.5s ease-in;
              -webkit-transition: all 0.5s ease-in;
              -moz-transition: all 0.5s ease-in;
            }
            .browse-btn:hover {
              background: $bg-color-yellow;
              text-decoration: $text-decoration-none;
              -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              color: $t-color-black;
            }
          }
          i.yesSign,
          i.noSign {
            font-style: normal;
            width: 29px;
            height: 29px;
            float: $float-R;
            position: $pos-relative;
            top: -48px;
            left: -17px;
          }
          i.yesSign {
            background-position: -342px -1590px;
          }
          i.noSign {
            background-position: -303px -1590px;
            left: -21px;
            top: -48px;
          }
          input[type="file"] {
            width: 76%;
            height: 36px;
            float: $text-align-left;
            opacity: 0;
            position: $pos-relative;
            top: -39px;
            margin: 0;
            padding: 0;
            z-index: 1;
            left: 110px;
            left: 0;
          }
          .fileName-string {
            display: block;
            width: 270px;
            margin: 0;
            padding: 8px 0 0;
            float: left;
            word-wrap: break-word;
            line-height: 16px;
          }
          .upload-btn {
            display: inline-block;
            border: 1px solid #b36e9d;
            background-color: #b36e9d;
            color: $t-color-white;
            @include font-size(15px);
            text-transform: uppercase;
            padding: 0;
            border-radius: 15px;
            text-align: $text-align-center;
            text-decoration: none;
            height: 32px;
            width: 100px;
            position: $pos-absolute;
            top: 0;
            right: 15px;
            line-height: 31px;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
          }
          .upload-btn:hover {
            background: transparent;
            border: 1px solid #b36e9d;
            text-decoration: $text-decoration-none;
            -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            color: $t-color-black;
          }
        }
      }
    }
    .form-group.radioBtn {
      margin-bottom: 0;
      ul {
        float: $text-align-left;
        margin-right: 10px;
        li {
          float: $text-align-left;
          color: $black-color;
          @include font-size(15px);
          font-weight: $font-weight-400;
          label {
            color: $black-color;
            @include font-size(15px);
            font-weight: $font-weight-400;
            float: $text-align-left;
            position: $pos-relative;
            top: inherit;
            left: inherit;
            height: auto;
            line-height: initial;
            width: 100%;
            pointer-events: auto;
            padding-left: 6px;
            dd.chkbox,
            dd.radiobtn {
              width: 14px;
              height: 14px;
              border: 1px solid #606062;
              background-color: #e6e8e8;
              position: $pos-absolute;
              top: 2px;
              left: -1px;
              z-index: 999;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
            }
            dd.radiobtn,
            dd.radiobtn.active {
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
            dd.chkbox.active,
            dd.radiobtn.active {
              border: 1px solid $bg-color-yellow;
              background: $bg-color-yellow;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
            }
            dd.chkbox.active:before,
            dd.radiobtn.active:before {
              position: $pos-absolute;
              left: 0;
              top: 0;
              content: "\2713";
              color: $white-color;
            }
            input {
              width: 16px;
              height: 16px;
              display: inline-block;
              border: 1px solid #999;
              position: $pos-relative;
              top: 2px;
              margin-right: 10px;
              padding: 0;
              margin-top: 0;
              opacity: 0;
              left: -8px;
            }
          }
          label.program-partner,
          label.program-partner-ngo,
          label.program-partner-kv {
            width: auto;
            clear: none;
            position: $pos-relative;
            top: -8px;
            left: 10px;
            padding-left: 0;
            margin-right: 0;
            select {
              float: $text-align-left;
              width: 164px;
              padding: 0 0 0 4px;
            }
          }
          label.program-partner,
          label.program-partner-ngo,
          label.program-partner-kv {
            display: none;
          }
          label.program-partner-ngo,
          label.program-partner-kv {
            select,
            input[name="ngo-other"],
            input[name="kendra-vidyalaya"] {
              float: $text-align-left;
              width: 200px;
            }
            input[name="ngo-other"],
            input[name="kendra-vidyalaya"] {
              background-color: $white-color;
              border: 1px solid #ccc;
              height: 35px;
              padding: 6px 12px;
              opacity: 1;
              top: 0px;
              margin-left: 0;
              left: 0;
            }
          }
          label.program-partner-kv {
            width: 270px;
            input[name="kendra-vidyalaya"] {
              width: 100%;
            }
          }
        }
        li:before {
          display: none;
        }
        li:first-child {
          width: 17px;
          height: auto;
          label {
            width: 100%;
            height: 14px;
            float: $text-align-left;
          }
        }
        li:nth-child(2) {
          height: auto;
          padding-left: 6px;
          display: table;
          span {
            float: $text-align-left;
          }
          .ppopt {
            float: $text-align-left;
            label {
              float: $text-align-left;
              width: auto;
              margin: 0 10px 0 0;
            }
            label.label.program-partner-kv {
              top: inherit;
              left: inherit;
            }
          }
        }
      }
    }
  }
  .ctrl-wrapper.controlWidth {
    padding: 0;
    .form-group {
      width: 100%;
      label {
        float: left;
        width: 100%;
        margin-right: 15px;
      }
      label + label {
        float: left;
        width: auto;
        input[type="radio"] {
          width: 15px;
          height: 15px;
          display: inline-block;
          position: relative;
          top: 2px;
          padding: 0;
          margin-top: 0;
          opacity: 1;
          left: 0;
          border: 0;
          background: transparent;
          box-shadow: none;
          margin-right: 8px;
        }
      }
    }
  }
  .ctrl-wrapper.widget-border {
    border: 1px solid #e9ebeb;
    background: #fafafa;
    margin-bottom: 15px;
    h4,
    h5 {
      position: relative;
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      margin: 0;
      color: #1a1a18;
      text-transform: uppercase;
      background: #ccc;
      padding: 10px;
    }
    h4 {
      margin-bottom: 15px;
    }
    h5:after {
      width: 45px;
      height: 2px;
      content: "";
      position: absolute;
      top: 30px;
      left: 16px;
      background: #fdb701;
    }
    .wrapperPadding {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
      float: left;
      .borderaccord {
        border: 1px solid #ebb800;
        height: auto;
        overflow: auto;
        padding: 30px 0 15px;
        h4 {
          background-color: #ebb800;
          padding: 10px;
          color: #fff;
          font-size: 16px;
          text-align: left;
          font-weight: 700;
          margin-top: 0;
          text-transform: capitalize;
          margin-bottom: 15px;
          position: relative;
          &:after {
            width: 45px;
            height: 2px;
            content: "";
            position: absolute;
            top: 30px;
            left: 16px;
            background: #fdb701;
          }
        }
        .row {
          margin: 0;
        }
      }
    }
    p {
      font-size: 16px;
      text-align: left;
      float: left;
      width: 100%;
      padding: 15px 15px 0;
      margin-bottom: 0;
    }
    .dataTbl {
      .table {
        td {
          p {
            padding: 0 15px;
          }
        }
      }
    }
    .ctrl-wrapper {
      .table > tbody > tr > td,
      .table > tbody > tr > th,
      .table > tfoot > tr > td,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > thead > tr > th {
        vertical-align: middle;
      }
      .table > tbody > tr > td:nth-child(3),
      .table > tbody > tr > td:nth-child(4) {
        p {
          text-align: center;
          padding: 0 15px;
        }
      }
      .form-group.interest {
        label {
          position: $pos-relative;
          padding-left: 25px;
          width: auto;
          clear: left;
          input {
            position: $pos-absolute;
            left: 1px;
            width: 14px;
            margin: 0;
            height: 15px;
            top: 2px;
            opacity: 0;
          }
          input + dd.chkbox {
            background: #fff;
            width: 16px;
            height: 16px;
            border: 1px solid $bg-color-yellow;
            position: $pos-absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            display: inline-block;
          }
          input:checked + dd.chkbox {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          input:checked + dd.chkbox:before {
            position: $pos-absolute;
            left: 2px;
            top: -4px;
            content: "\2713";
            color: $white-color;
          }
        }
      }
      .form-group.optionRadio {
        span {
          float: left;
          width: auto;
          margin-right: 15px;
        }
        span.topM {
          margin-top: 25px;
        }
        .ctrlOpt {
          float: left;
          width: auto;
          label {
            position: $pos-relative;
            padding-left: 9px;
            width: auto;
            margin-right: 15px;
            margin-bottom: 0;
            cursor: pointer;
            input {
              position: $pos-relative;
              left: -13px;
              width: 14px;
              margin: 0;
              height: 15px;
              top: 1px;
              opacity: 0;
              z-index: 9991;
            }
            input + dd.radio {
              background: #fff;
              width: 16px;
              height: 16px;
              border: 1px solid $bg-color-yellow;
              position: $pos-absolute;
              top: 2px;
              left: 0;
              z-index: 999;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              display: inline-block;
              border-radius: 50%;
              margin: 0;
              cursor: pointer;
            }
            input:checked + dd.radio {
              border: 1px solid $bg-color-yellow;
              background: $bg-color-yellow;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              cursor: default;
            }
            input:checked + dd.radio:before {
              position: $pos-absolute;
              left: 2px;
              top: -4px;
              content: "\2713";
              color: $white-color;
              cursor: default;
            }
            input + dd.radio:before {
              cursor: pointer;
            }
          }
        }
      }
    }
    .ctrl-wrapper.widthAuto {
      width: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 0;
      .form-group {
        margin-bottom: 0;
      }
    }
    .ctrl-wrapper.widthAuto.topM {
      margin-top: 20px;
    }
    .btn-ctrl.btnPosition {
      width: auto;
      float: right;
      margin-top: 18px;
    }
    .btn-ctrl.btnPosition.topM {
      margin-top: 0;
    }
    /* Start Education Steps Form */
    label {
      font-size: 15px;
      font-weight: 400;
    }
    .form-group.genderOpt {
      margin-bottom: 0;
      padding-top: 8px;
      margin-bottom: 0px;
      ul {
        float: left;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          height: 25px;
          float: left;
          font-size: 14px;
          margin-right: 16px;
          label {
            width: 100%;
            height: 14px;
            float: left;
            position: relative;
            text-align: left;
            margin-bottom: 0;
            left: 20px;
            top: -23px;
            font-size: 14px;
            font-weight: 400;
          }
          input[type="radio"] {
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            top: -1px;
            padding: 0;
            margin-top: 0;
            opacity: 1;
            left: 0;
            border: 0;
            background: transparent;
            box-shadow: none;
          }
        }
      }
    }
    .form-group.genderradio {
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 8px;
      margin-bottom: 0px;
      ul {
        float: left;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        height: auto;
        li {
          height: auto;
          float: left;
          font-size: 15px;
          margin-right: 0;
          margin-bottom: 6px;
          padding-top: 0;
          label {
            float: left;
            position: relative;
            text-align: left;
            left: 17px;
            top: -16px;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
          input[type="checkbox"] {
            position: relative;
            left: -5px;
            top: 0;
            width: 25px;
            box-shadow: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            float: left;
          }
        }
        li.ngCtrl {
          input {
            float: left;
            width: 198px;
            margin-right: 15px;
            margin-top: -15px;
            height: 36px;
            font-size: 14px;
            font-weight: 400;
            padding-left: 5px;
            padding-right: 5px;
          }
          input:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
    .form-group.optionRadio {
      span {
        float: left;
        width: auto;
        margin-right: 15px;
      }
      .ctrlOpt {
        float: left;
        width: auto;
        label {
          position: $pos-relative;
          padding-left: 5px;
          width: auto;
          margin-right: 15px;
          margin-bottom: 0;
          cursor: pointer;
          input {
            position: $pos-relative;
            left: -13px;
            width: 14px;
            margin: 0;
            height: 15px;
            top: 1px;
            opacity: 0;
            z-index: 9991;
          }
          input + dd.radio {
            background: #fff;
            width: 16px;
            height: 16px;
            border: 1px solid $bg-color-yellow;
            position: $pos-absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            display: inline-block;
            border-radius: 50%;
            margin: 0;
            cursor: pointer;
          }
          input:checked + dd.radio {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            cursor: default;
          }
          input:checked + dd.radio:before {
            position: $pos-absolute;
            left: 2px;
            top: -4px;
            content: "\2713";
            color: $white-color;
            cursor: default;
          }
          input + dd.radio:before {
            cursor: pointer;
          }
        }
      }
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: initial;
      left: 5px;
      top: 8px;
      width: 25px;
      box-shadow: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      float: left;
    }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      display: none;
    }
    input[type="radio"] + dd {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      border: 1px solid #606062;
      background: #fff;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      position: absolute;
      top: 7px;
    }
    input[type="radio"]:checked + dd {
      border: 1px solid #606062;
      background: #000;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }
    .row {
      margin: 15px 0 0;
      float: left;
      width: 100%;
      .pClass {
        margin-top: 15px;
        label {
          margin-right: 15px;
          float: left;
          line-height: 37px;
        }
        .form-group {
          width: auto;
          float: left;
          select {
            width: 200px;
          }
        }
      }
      .form-group {
        margin-bottom: 0;
        input,
        select {
          font-size: 14px;
          font-weight: 400;
        }
        input#percentage,
        input#cgpa {
          float: left;
          width: 100%;
        }
        input#percentage {
          margin-right: 15px;
        }
      }
    }
    .row.notopMargin {
      margin-top: 0;
    }
    .row.row.mTop {
      margin-top: 15px;
    }
    .accordionWrapper {
      float: left;
      padding: 0 15px;
      width: 100%;
      .marginpadding {
        padding: 0;
        margin-top: -40px;
      }
      /* Start accordion Wrapper */
      float: left; //  background-color: rgba(233, 235, 235, .4);
      padding: 0 15px;
      width: 100%;
      .margintop20 {
        margin-top: 20px;
      }
      h4 {
        font-size: 16px;
        text-align: left;
        float: left;
        width: 100%;
        margin: 0;
        background: transparent;
        text-transform: capitalize;
        padding: 10px 15px;
        margin-bottom: 15px;
        position: relative;
        label,
        .form-group {
          float: left;
        }
        .form-group {
          width: auto;
          margin: 0;
          padding: 0;
          select {
            width: 200px;
            margin: 0;
          }
        }
        label {
          line-height: 39px;
          margin-right: 15px;
        }
        &:after {
          width: 45px;
          height: 2px;
          content: "";
          position: absolute;
          top: 30px;
          left: 16px;
          background: #fdb701;
        }
      }
      .accordionTable {
        float: left;
        margin-bottom: 15px;
        width: 100%;
        h5 {
          text-align: left;
          background-color: #ebb800;
          color: #1a1a18;
          height: 40px;
          line-height: 40px;
          padding: 0 15px;
          width: 100%;
          cursor: pointer;
          font-size: 15px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
          margin: 0;
          font-weight: 600;
          i.fa {
            float: right;
            top: 13px;
            position: relative;
            font-weight: 200;
            font-size: 15px;
          }
        }
        .accordionTableCell {
          background: rgba(233, 235, 235, 0.4);
          float: left;
          padding-bottom: 15px;
          display: none;
        }
      }
    }
    /* End */
    .col-md-12 {
      float: left;
      width: 100%;
    }
  }
  .secBg {
    float: left;
    margin-top: 2px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(229, 229, 229, 0.3);
  }
  .secBg:last-child {
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
  }
  .bottomMargin {
    margin-bottom: 10px;
  }
  .widget-margin-bottom {
    margin-bottom: 15px;
  }
  #document-ref {
    .ctrl-wrapper {
      .form-group {
        label {
          position: relative;
          dd.chkbox {
            background: #fff;
            width: 14px;
            height: 14px;
            border: 1px solid $bg-color-yellow;
            position: absolute;
            top: 2px;
            left: 0;
            z-index: 999;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          dd.chkbox.active {
            border: 1px solid $bg-color-yellow;
            background: $bg-color-yellow;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
          dd.chkbox.active:before {
            position: $pos-absolute;
            left: 0;
            top: 0;
            content: "\2713";
            color: $white-color;
          }
          input {
            width: 100px;
            height: 32px;
            display: inline-block;
            border: 1px solid #999;
            position: $pos-absolute;
            top: 0;
            padding: 0;
            margin-top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
          }
        }
      }
    }
  }
  .ctrl-wrapper.marginTopCtrl {
    margin-top: -24px;
    h4 {
      font-weight: $font-weight-400;
      color: $black-color;
    }
  }
  .btn-ctrl {
    float: $text-align-left;
    width: 100%;
    padding: 0;
    dd.error,
    span.error {
      color: $red-color;
      @include font-size(14px);
      font-weight: $font-weight-400;
      text-align: $text-align-center;
      /*height: 34px;*/
      width: auto;
      float: $float-L;
      padding: 11px 0;
      margin-right: 10px;
      display: block !important;
    }
    button {
      margin: 0;
      width: auto;
      background: transparent;
      border: 1px solid $bg-color-yellow;
      cursor: pointer;
      color: $t-color-black;
      @include font-size(16px);
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
      font-weight: $font-weight-400;
      padding-left: 25px;
      padding-right: 25px;
      transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      @include border-radius(30px);
      height: initial;
      line-height: initial;
    }
    button:hover {
      background: $bg-color-yellow;
      text-decoration: $text-decoration-none;
      -webkit-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      -moz-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      -o-box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.4);
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      color: $t-color-black;
    }
    button:first-child {
      float: $text-align-left;
      margin-left: 0;
      margin-right: 0;
    }
    button:last-child {
      float: $float-R;
    }
    button.closeBtn {
      margin-left: 15px;
    }
  }
  .col-md-12 {
    float: left;
  }
}

.my-scholarship-wrapper {
  h1,
  h4 {
    color: $black-color;
    @include font-size(18px);
    font-weight: $font-weight-600;
    height: auto;
    float: $text-align-left;
    width: 100%;
    padding-left: 57px;
    padding-top: 19px;
    position: $pos-relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: -7px;
    background: transparent;
  }
  h1:before,
  h4:before {
    content: "";
    top: 17px;
    width: 25px;
    height: 25px;
    left: 19px;
    position: $pos-absolute;
  }
  h1:after,
  h4:after {
    width: 45px;
    height: 2px;
    content: "";
    position: $pos-absolute;
    top: 46px;
    left: 57px;
    background: $bg-color-yellow;
  }
  .col-md-12.activities {
    .page-nav {
      width: 100%;
      position: $pos-relative;
      float: $text-align-left;
      margin-top: 0;
      ul {
        list-style: none;
        width: 100%;
        display: block;
        float: $text-align-left;
        li {
          width: 100%;
          position: $pos-relative;
          display: block;
          float: $text-align-left;
          padding-left: 73px;
          margin-bottom: 20px;
          p {
            @include font-size(19px);
            color: #6d6e71;
            margin-bottom: 30px;
            a {
              text-decoration: underline;
              @include font-size(18px);
              font-weight: $font-weight-600;
              color: $black-color;
              margin: 0;
              padding: 0;
            }
          }
          p:first-child {
            @include font-size(15px);
            color: #939598;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .activities-wrapper {
            float: $text-align-left;
            width: 100%;
            padding-top: 4px;
            ul {
              list-style: none;
              li {
                height: 1px;
                float: $text-align-left;
                width: 100%;
                position: $pos-relative;
                padding-left: 0;
                span {
                  float: $text-align-left;
                  padding: 2px 15px;
                  height: 37px;
                  text-align: $text-align-center;
                  line-height: 32px;
                  @include font-size(18px);
                  font-weight: 600;
                  color: #ffffff;
                  position: $pos-relative;
                  top: -17px;
                  left: 46px;
                  background: #f6f7f8;
                  i {
                    position: $pos-absolute;
                    background: #f6f7f8;
                    width: 47px;
                    height: 37px;
                    border-radius: inherit;
                    top: -1px;
                    left: -48px;
                    display: inline-block;
                    border: 1px solid #939598;
                    border-right: 0;
                  }
                }
                span.bigtext {
                  float: left;
                  padding: 2px 15px;
                  height: 37px;
                  text-align: center;
                  line-height: 16px;
                  font-size: 13px;
                  font-weight: 600;
                  color: #fff;
                  position: relative;
                  top: -17px;
                  left: 30px;
                }
              }
              li:before {
                display: none;
              }
              li:after {
                display: none;
              }
            }
          }
        }
        li:before {
          width: 23px;
          height: 23px;
          background: $white-color;
          content: "";
          top: 5px;
          left: 21px;
          position: $pos-absolute;
          z-index: 9;
          border-radius: 50%;
        }
        li.color1:before {
          border: 5px solid #00aeef;
          background-color: #00aeef;
        }
        li.color2:before {
          border: 5px solid #00a651;
        }
        li.color3:before {
          border: 5px solid #ed1c24;
        }
        li.color4:before {
          border: 5px solid #806c64;
        }
        li.color5:before {
          border: 5px solid #2e3192;
        }
        li.color6:before {
          border: 5px solid #f58220;
        }
        li:after {
          content: "";
          width: 5px;
          background: #e6e8e8;
          min-height: 135px;
          position: $pos-absolute;
          left: 30px;
          top: 24px;
        }
        li.last-child:after {
          min-height: 90px;
        }
        li.color1 {
          .activities-wrapper {
            ul {
              li {
                background: #00aeef;
                span {
                  border: 1px solid #00aeef;
                  background: #00aeef;
                }
              }
              li:before {
                border: 1px solid #00aeef;
              }
            }
          }
        }
        li.color2 {
          .activities-wrapper {
            ul {
              li {
                background: #00a651;
                span {
                  border: 1px solid #00a651;
                  background: #00a651;
                }
              }
              li:before {
                border: 1px solid #00a651;
              }
            }
          }
        }
        li.color3 {
          .activities-wrapper {
            ul {
              li {
                background: #ed1c24;
                span {
                  border: 1px solid #ed1c24;
                  background: #ed1c24;
                }
              }
              li:before {
                border: 1px solid #ed1c24;
              }
            }
          }
        }
        li.color4 {
          .activities-wrapper {
            ul {
              li {
                background: #806c64;
                span {
                  border: 1px solid #806c64;
                  background: #806c64;
                }
              }
              li:before {
                border: 1px solid #806c64;
              }
            }
          }
        }
        li.color5 {
          .activities-wrapper {
            ul {
              li {
                background: #2e3192;
                span {
                  border: 1px solid #2e3192;
                  background: #2e3192;
                }
              }
              li:before {
                border: 1px solid #2e3192;
              }
            }
          }
        }
        li.color6 {
          .activities-wrapper {
            ul {
              li {
                background: #f58220;
                span {
                  border: 1px solid #f58220;
                  background: #f58220;
                }
              }
              li:before {
                border: 1px solid #f58220;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .application {
    .applicationform {
      .ctrl-wrapper {
        .form-group {
          width: 100%;
        }
      }
    }
  }
  .application .applicationform,
  .application .bglogin {
    padding: 0 2px 30px;
  }
}
