.details-page-wrapper-swiggy {
  background: #eaeaea;
  position: relative;
  @include padding(40px 0);
  .container {
    .row {
      margin-left: -15px;
      margin-right: -15px;
      .titleText {
        font-size: 30px;
        @include margin(0 0 30px 0);
        color: #000;
        font-weight: 700;
        float: left;
        text-align: left;
        @media screen and (max-width: 767px) {
          font-size: 24px;
        }
        @media screen and (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
  }
}
