<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript">
    if (typeof window !== "undefined") {
      var b4sGTM = [];
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js"
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "b4sGTM", "GTM-5HRCGND");
    }
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <meta name="p:domain_verify" content="dc3b4e4eaa47cdeb8848bf097b03c48f" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/favicon.ico" />
  <title>Buddy4Study</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="icon" type="image/png" href="/favicon.ico" />
  <style>
    .loader-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999991;
      background: rgb(255, 255, 255, 0.1);
      left: 0;
      top: 0;
    }

    .loader-overlay #loading-bar-spinner {
      display: block;
      position: fixed;
      z-index: 999992;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      margin-top: -15px;
      pointer-events: none;
      -webkit-pointer-events: none;
      -webkit-transition: 350ms linear all;
      -moz-transition: 350ms linear all;
      -o-transition: 350ms linear all;
      transition: 350ms linear all;
    }

    .loader-overlay #loading-bar-spinner .spinner-icon {
      border: solid 2px transparent;
      width: 30px;
      height: 30px;
      border-top-color: #fdb701;
      border-left-color: #fdb701;
      border-radius: 50%;
      -webkit-animation: loading-bar-spinner 400ms linear infinite;
      -moz-animation: loading-bar-spinner 400ms linear infinite;
      -ms-animation: loading-bar-spinner 400ms linear infinite;
      -o-animation: loading-bar-spinner 400ms linear infinite;
      animation: loading-bar-spinner 400ms linear infinite;
    }

    @-webkit-keyframes loading-bar-spinner {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-moz-keyframes loading-bar-spinner {
      0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-o-keyframes loading-bar-spinner {
      0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-ms-keyframes loading-bar-spinner {
      0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes loading-bar-spinner {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <link href="./../shared/b4s-theme/app.scss" rel="stylesheet" />
</head>

<body>
  <div className="loader-overlay" id="topLoader">
    <section id="loading-bar-spinner">
      <article className="spinner-icon"></article>
    </section>
  </div>
  <div id="root"></div>
  <!-- <script src="https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/files/metatags.js" type="text/javascript" async></script> -->
</body>

</html>