.details-page-wrapper-ikigai {
  background: #eaeaea;
  position: relative;

  .breadcrumb {
    padding: 15px 0;
    list-style: none;
    background: 0 0;
    margin: 0;
    border-radius: 0;

    li {
      position: $position-relative;
      margin-left: 22px;
      width: auto;
      display: inline-block;

      a {
        color: $b4s-color-black;
        font-weight: $b4s-font-weight-400;
        @include font-size(14px);
      }
    }

    li:after {
      content: "";
      position: $position-absolute;
      top: 7px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }

    li:before {
      display: none;
    }

    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      a {
        color: $b4s-breadcrumb-color;
        pointer-events: none;
      }

      a:after {
        display: none;
      }
    }

    li:last-child:after {
      display: none;
    }
  }

  .container {
    .row {
      margin-left: -15px;
      margin-right: -15px;
      .titleText {
        font-size: 30px;
        @include margin(0 0 30px 0);
        color: #000;
        font-weight: 700;
        float: left;
        text-align: left;
        @media screen and (max-width: 767px) {
          font-size: 24px;
        }
        @media screen and (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
  }
}
