header {
  background-color: transparent;
}

.bggreay {
  .container {
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.faqs {
  position: relative;
  z-index: 1;
  top: 0;
  .bgfaq {
    background-image: $faq-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
  }
  .equial-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .faq-winner {
    background: rgba(232, 231, 231, 0.2);
    background-size: contain;
    padding: 0;
    padding-bottom: 50px;
    margin-top: 50px;
    .box {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
      h5 {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 7.5px;
      }
      p {
        font-size: 18px;
        color: #231f20;
        font-weight: 400;
        margin: 0 0 20px;
      }
      &:hover {
        box-shadow: none;
      }
    }
    .bg1 {
      @include width(100%);
      @include min-height(600px);
      -webkit-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -moz-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      -o-box-shadow: 0px 1px 1px 0px rgba(8, 8, 8, 0.4);
      box-shadow: 0 1px 21px 0px rgba(8, 8, 8, 0.06);
      text-align: $text-align-center;
      background-color: $white-color;
      margin: 68px auto;
      padding: 0 80px;
    }
    p {
      font-size: 20px;
    }
    form {
      @include padding(20px 0 0);
      float: left;
      width: 100%;
      .form-group {
        text-align: left;
        .form-control {
          border-radius: 0;
          @include margin(5px 0 20px);
        }
        textarea {
          resize: none;
        }
      }
    }
  }
  .faq-details {
    padding: 50px 0 0;
    .container {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    em,
    i {
      font-style: normal;
    }
    h1 {
      @extend .icon-heading;
      padding-top: 80px;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      padding: 0;
      margin: 70px 0 45px;
    }
    h1:before {
      content: "";
      background: url(#{$img-base-url}sprite.png) 0 -930px no-repeat;
      @extend .icon-headingbefore;
      top: -70px;
    }
    h2 {
      font-size: 16px;
      font-weight: 600;
    }
    h3 {
      font-size: 14px;
      font-weight: 600;
    }
    h2,
    h3 {
      line-height: 30px;
      padding: 0;
      margin: 0;
    }
    p {
      // font-size: 16px;
      line-height: 27px;
    }
    ul,
    ol {
      margin: 0;
      padding: 0;
      float: left;
      width: 100%;
      list-style: none;
      li {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        position: relative;
        padding: 0 0 0 15px;
        &:before {
          content: "";
          position: absolute;
          top: 11px;
          left: 0;
          width: 6px;
          height: 6px;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }
      }
    }
    .btn.noMargin {
      margin-top: 0;
    }
    .questionList {
      width: 100%;
      margin: 60px auto;
      display: block;
      li {
        float: left;
        color: #262626;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
        position: relative;
        padding: 15px 10px;
        text-align: left;
        border-top: 1px solid #bbb8b8;
        &:last-child {
          border-bottom: 1px solid #bbb8b8;
        }
        &:before {
          display: none;
        }
        a {
          text-decoration: none;
          border-bottom: 1px solid transparent;
          padding-bottom: 3px;
          position: relative;
          text-transform: uppercase;
          color: #231f20;
        }
        &:hover {
          background-color: rgba(232, 231, 231, 0.2);
          cursor: default;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -1px;
          left: 0;
          background-color: #337ab7;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          z-index: 1;
        }
        &:hover:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}
