header {
  background-color: transparent;
}
.result-heading {
  h1 {
    margin: 15px 0 30px;
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}
.bgRcolor {
  background-color: #f1f1f1;
  padding: 20px 0 30px;
}
.buddy-heading {
  h5 {
    margin: 15px 0;
    padding-bottom: 15px;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
}
.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.results {
  position: relative;
  z-index: 1;
  top: 0;
  .bggreay {
    top: -6px;
  }
  .bgfaq {
    background-image: $faq-top-banner;
    @extend .default-banner-property;
    text-align: center;
    h1 {
      @extend .static-heading;
    }
    h2 {
      @extend .static-subheading;
    }
  }
  .equial-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .resultWrapper {
    .container {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    h2 {
      color: #000;
      position: relative;
      text-align: center;

      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .msgWrapper {
      background: #f7f6f6;
      padding: 15px;
      border: 2px solid #fefefe;
      margin: 10px 15px 30px;
      h5 {
        font-size: 24px;
      }
      h5.cong {
        color: #28a745;
      }
      h5.not {
        color: #fdb701;
      }
      h5.sorry {
        color: red;
      }
    }
    form {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      .form-group {
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        label {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 7.5px;
          font-weight: bold;
        }
      }

      .form-group.sel {
        .Select {
          position: relative;
          width: 100%;
          float: left;
          margin-right: 10px;
          &:nth-child(4) {
            width: 21%;
          }
          input {
            &::-webkit-contacts-auto-fill-button,
            &::-webkit-credentials-auto-fill-button,
            &::-ms-clear,
            &::-ms-reveal {
              display: none !important;
            }
          }
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          div,
          input,
          span {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
          &.is-disabled {
            .Select-arrow-zone {
              cursor: default;
              pointer-events: none;
              opacity: 0.35;
            }
            > .Select-control {
              background-color: #f9f9f9;
              &:hover {
                box-shadow: none;
              }
            }
          }
          &.is-open > .Select-control {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: #fff;
            border-color: #000 #000 #d9d9d9;
            font-size: 14px;
            .Select-arrow {
              top: -2px;
              border-color: transparent transparent #000;
              border-width: 0 5px 5px;
            }
          }
          &.is-searchable {
            &.is-open > .Select-control {
              cursor: text;
            }
            &.is-focused:not(.is-open) > .Select-control {
              cursor: text;
              font-size: 14px;
            }
          }
          &.is-focused {
            > .Select-control {
              background: #fff;
              font-size: 14px;
            }
            &:not(.is-open) > .Select-control {
              border-color: #007eff;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 0 3px rgba(0, 0, 0, 0.06);
              background: #fff;
              font-size: 14px;
            }
          }
          &.has-value {
            &.is-clearable.Select--single > .Select-control .Select-value {
              padding-right: 42px;
            }
            &.Select--single
              > .Select-control
              .Select-value
              .Select-value-label,
            &.is-pseudo-focused.Select--single
              > .Select-control
              .Select-value
              .Select-value-label {
              color: #333;
            }
            &.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label,
            &.is-pseudo-focused.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label {
              cursor: pointer;
              text-decoration: none;
            }
            &.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label:hover,
            &.is-pseudo-focused.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label:hover,
            &.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label:focus,
            &.is-pseudo-focused.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label:focus {
              color: #007eff;
              outline: none;
              text-decoration: underline;
            }
            &.Select--single
              > .Select-control
              .Select-value
              a.Select-value-label:focus {
              background: #fff;
            }
            &.is-pseudo-focused {
              &.Select--single
                > .Select-control
                .Select-value
                a.Select-value-label:focus {
                background: #fff;
              }
              .Select-input {
                opacity: 0;
              }
            }
          }
          &.is-open .Select-arrow,
          .Select-arrow-zone:hover > .Select-arrow {
            border-top-color: #666;
          }
          &.Select--rtl {
            direction: rtl;
            text-align: right;
          }
        }

        .Select-control {
          background-color: #fff;
          border: 1px solid #ccc;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          -o-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          color: #333;
          cursor: default;
          display: table;
          border-spacing: 0;
          border-collapse: separate;
          height: 36px;
          outline: none;
          overflow: hidden;
          position: relative;
          width: 100%;
        }

        .apply-but {
          background-color: #f0bd00;
          border-radius: 6px;
          color: #333;
          cursor: pointer;
          display: block;
          height: 36px;
          outline: none;
          overflow: hidden;
          font-size: 14px;
          padding: 8px 0;
          font-weight: bold;
          text-align: center;
          max-width: 121px;
          width: 100%;
        }

        .Select-control {
          &:hover {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
          }
          .Select-input:focus {
            outline: none;
            background: #fff;
          }
        }

        .Select-placeholder,
        .Select--single > .Select-control .Select-value {
          bottom: 0;
          color: #000;
          left: 0;
          line-height: 34px;
          padding-left: 10px;
          padding-right: 10px;
          position: absolute;
          right: 0;
          font-size: 13px;
          top: 0;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .Select-input {
          height: 34px;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
          > input {
            width: 100%;
            background: none transparent;
            border: 0 none;
            box-shadow: none;
            cursor: default;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            margin: 0;
            outline: none;
            line-height: 17px;
            /* For IE 8 compatibility */
            padding: 8px 0 12px;
            /* For IE 8 compatibility */
            -webkit-appearance: none;
          }
        }

        .is-focused .Select-input > input {
          cursor: text;
        }

        .has-value.is-pseudo-focused .Select-input {
          opacity: 0;
        }

        .Select-control:not(.is-searchable) > .Select-input {
          outline: none;
        }

        .Select-loading-zone {
          cursor: pointer;
          display: table-cell;
          position: relative;
          text-align: center;
          vertical-align: middle;
          width: 16px;
        }

        .Select-loading {
          -webkit-animation: Select-animation-spin 400ms infinite linear;
          -o-animation: Select-animation-spin 400ms infinite linear;
          animation: Select-animation-spin 400ms infinite linear;
          width: 16px;
          height: 16px;
          box-sizing: border-box;
          border-radius: 50%;
          border: 2px solid #ccc;
          border-right-color: #333;
          display: inline-block;
          position: relative;
          vertical-align: middle;
        }

        .Select-clear-zone {
          -webkit-animation: Select-animation-fadeIn 200ms;
          -o-animation: Select-animation-fadeIn 200ms;
          animation: Select-animation-fadeIn 200ms;
          color: #999;
          cursor: pointer;
          display: table-cell;
          position: relative;
          text-align: center;
          vertical-align: middle;
          width: 17px;
          &:hover {
            color: #d0021b;
          }
        }

        .Select-clear {
          display: inline-block;
          font-size: 18px;
          line-height: 1;
        }

        .Select--single .Select-clear-zone {
          width: 17px;
        }

        .Select-arrow-zone {
          cursor: pointer;
          display: table-cell;
          position: relative;
          text-align: center;
          vertical-align: middle;
          width: 25px;
          padding-right: 5px;
        }

        .Select-arrow {
          border-color: #000 transparent transparent;
          border-style: solid;
          border-width: 5px 5px 2.5px;
          display: inline-block;
          height: 0;
          width: 0;
          position: relative;
        }

        .Select-control > *:last-child {
          padding-right: 5px;
        }

        .Select--single .Select-multi-value-wrapper {
          display: inline-block;
        }

        .Select .Select-aria-only {
          position: absolute;
          display: inline-block;
          height: 1px;
          width: 1px;
          margin: -1px;
          clip: rect(0, 0, 0, 0);
          overflow: hidden;
          float: left;
        }

        .Select-menu-outer {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-top-color: #e6e6e6;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
          box-sizing: border-box;
          margin-top: -1px;
          max-height: 200px;
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          z-index: 1;
          -webkit-overflow-scrolling: touch;
          font-size: 13px;
          font-weight: bold;
        }

        .Select-menu {
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          &::-webkit-scrollbar-thumb {
            background-color: #92a1af;
            outline: 1px solid #5f6189;
          }
          max-height: 198px;
          overflow-y: auto;
        }

        .Select-option {
          box-sizing: border-box;
          background-color: #fff;
          color: #666666;
          cursor: pointer;
          display: block;
          padding: 8px 10px;
          &:last-child {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          &.is-selected,
          &.is-focused {
            background-color: #eaeaea;
            /* Fallback color for IE 8 */
            background-color: rgba(0, 0, 0, 0.06);
            color: #333;
          }
        }

        .Select-noresults {
          box-sizing: border-box;
          color: #999999;
          cursor: default;
          display: block;
          padding: 8px 10px;
        }

        .Select--single {
          .Select-input {
            vertical-align: middle;
            margin-left: 10px;
            padding: 0;
          }
          &.has-value .Select-input {
            margin-left: 5px;
          }
          .Select-value {
            border-radius: 2px;
            border: 1px solid #eaeaea;

            display: inline-block;
            font-size: 0.9em;
            line-height: 1.4;

            vertical-align: top;
          }
        }
      }
      .form-group.date {
        .react-datepicker-wrapper {
          width: 100%;
          .react-datepicker__input-container {
            width: 100%;
            input {
              display: block;
              width: 100%;
              height: 34px;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.42857;
              color: #555555;
              background-color: #fff;
              background-image: none;
              border: 1px solid #ccc;

              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              -webkit-transition: border-color ease-in-out 0.15s,
                box-shadow ease-in-out 0.15s;
              -o-transition: border-color ease-in-out 0.15s,
                box-shadow ease-in-out 0.15s;
              transition: border-color ease-in-out 0.15s,
                box-shadow ease-in-out 0.15s;
            }
          }
        }
        .react-datepicker-popper {
          top: 44px !important;
          left: 0px;
          width: 100%;
          transform: initial !important;
          .react-datepicker {
            .react-datepicker__month-container {
              width: 100%;
              .react-datepicker__header {
                padding-top: 12px;
              }
            }
            .react-datepicker__navigation {
              top: 12px;
              border: 6px solid transparent;
            }
            button.react-datepicker__navigation--previous {
              border-left: 0.45rem solid transparent;
              border-right: 0.45rem solid #ebb800;
              border-top: 0.45rem solid transparent;
            }
            button.react-datepicker__navigation--next {
              border-left: 0.45rem solid #ebb800;
              border-right: 0.45rem solid transparent;
              border-top: 0.45rem solid transparent;
            }
          }
        }
        .react-datepicker__current-month,
        .react-datepicker-time__header {
          font-size: 1.5rem;
          margin-top: -5px;
        }
        .react-datepicker__day-name,
        .react-datepicker__day,
        .react-datepicker__time-name {
          width: 30px;
          line-height: 30px;
        }
        .react-datepicker {
          font-size: 1.2rem;
        }
        .react-datepicker__day-name {
          font-size: 1rem;
          width: 30px;
          line-height: 30px;
        }
        .react-datepicker__day {
          font-size: 1.3rem;
        }
        .react-datepicker__time-name {
          font-size: 1.1rem;
        }
        .react-datepicker__day--selected,
        .react-datepicker__day--in-selecting-range,
        .react-datepicker__day--in-range {
          border-radius: 0.4rem;
          background-color: #ebb800;
        }
        .react-datepicker__navigation {
          top: 5px;
          border: 0.85rem solid transparent;
        }
        .react-datepicker__day {
          border-radius: 0.3rem;
          background-color: #fff;
          border: 1px solid #fff;
        }
        .react-datepicker__day:hover {
          border-radius: 0.3rem;
          background-color: #f0f0f0;
          border: 1px solid #fdcb4c;
        }
        .react-datepicker__day--selected {
          border-radius: 0.3rem;
          background-color: #fdcb4c;
          border: 1px solid #fdcb4c;
          color: #000;
        }
      }
    }
    .list {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      h4 {
        margin-top: 0;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 7.5px;
      }
      .scrollbarColor {
        height: 186px;
        overflow-y: scroll;
        background: #f7f6f6;
        padding: 15px;
        p {
          float: left;
          width: 96%;
          font-size: 16px;
          margin-bottom: 15px;
          color: #000;
          a {
            color: #000;
          }
        }
      }
      /* width */
      .scrollbarColor::-webkit-scrollbar {
        width: 7px;
      }
      /* Track */
      .scrollbarColor::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      /* Handle */
      .scrollbarColor::-webkit-scrollbar-thumb {
        background: #f0bd00;
      }
      /* Handle on hover */
      .scrollbarColor::-webkit-scrollbar-thumb:hover {
        background: #f0bd00;
      }
    }
  }
}
/* footer {
  z-index: 0;
} */
.scholar-resultNew {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 0 15px;
  // background-color: red;
  table {
    background: #ffffff;
    @media only screen and (max-width: 760px),
      (min-device-width: 768px) and (max-device-width: 1024px) {
      background: transparent;
      font-size: 14px;
    }
    tr {
      td,
      th {
        padding: 12px;
        border-bottom: 1px solid #fdcb4c;
        border-top: 1px solid #fdcb4c;
        @media only screen and (max-width: 760px),
          (min-device-width: 768px) and (max-device-width: 1024px) {
          padding: 8px 12px;
          border-top: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin: 0 0 30px 0;
      background: #ffffff;
      border: 1px solid #eeeeee;
      &:hover {
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }

    // tr:nth-child(odd) {
    //   background: #f2f2f2;
    // }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #fdcb4c;
      position: relative;
      padding-left: 50% !important;
      text-align: left;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 5;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }

    /*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
    td:nth-of-type(1):before {
      content: "Application No.";
    }
    td:nth-of-type(2):before {
      content: "Name";
    }
    td:nth-of-type(3):before {
      content: "Date of Birth";
    }
    td:nth-of-type(4):before {
      content: "Gender";
    }
    td:nth-of-type(5):before {
      content: "State";
    }
    td:nth-of-type(6):before {
      content: "Mobile Number";
    }
  }
}

.resultSearch {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
  justify-content: center;
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  .search-ctrl {
    position: $pos-relative;
    width: 100%;
    @include margin(0 0 30px 0);
    @media screen and (max-width: 767px) {
      padding: 0 15px;
    }
    .form-group {
      display: inline-block;
      @media screen and (max-width: 767px) {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
      }

      .errormsg {
        position: absolute;
        color: red;
        font-size: 11px;
        width: 100%;
        left: 0;
        text-align: left;
        padding-top: 5px;
        z-index: 3;
        @media screen and (max-width: 767px) {
          top: 72px;
        }
      }
      label {
        padding: 0 0 10px 0;
        width: 100%;
        position: relative;
        display: flex;
      }
      input {
        width: 308px;
        height: 43px;
        margin: 0 10px 0 0;
        padding: 0 15px;
        background: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        outline: 0;
        color: $t-color-black;
        border: 1px solid #ccc;
        @media screen and (max-width: 991px) {
          width: 280px;
        }
        @media screen and (max-width: 767px) {
          margin: 0 0 15px 0;
          width: 100%;
        }
      }
      input:first-child {
        margin-right: 15px;
      }
    }
    .btnwrapper {
      display: inline-block;
      position: relative;
      @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
      }
      .btnsearch {
        height: 42px;
        width: auto;
        top: -1px;
        //  margin: 0 0 0 15px;
        padding: 0 15px;
        background-color: #f0bd00;
        color: #fff;
        position: relative;
        display: inline-block;
        border: 0;
        font-size: 18px;
        outline: 0;
        @media screen and (max-width: 767px) {
          margin: 0;
          padding: 0 15px;
        }
      }
      .btnReset {
        height: 42px;
        width: auto;
        top: -1px;
        //  margin: 0 0 0 15px;
        padding: 0 15px;
        background: transparent;
        color: #1a1a18;
        position: relative;
        display: inline-block;
        border: 1px solid #fdb701;
        font-size: 18px;
        outline: 0;
        left: 10px;
        @media screen and (max-width: 767px) {
          margin: 0;
          padding: 0 15px;
        }
      }
    }
  }
}

.messagescholarship {
  background: rgb(255, 255, 255);
  margin: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 15px;
  line-height: 1.5;
  h4 {
    margin: 0 0 15px 0;
  }
}
