/* Social Media Color */
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$tumblr: #32506d;
$instagram: #bc2a8d;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5b9a68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #eb4823;
$yahoo: #7b0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

/* button color */
$add-fav-btn-color: #893996;
$apply-now-btn-color: #ee3823;

/* star rating  color */
$star-rating-active-selection-color: #ef4323;
$star-rating-previous-selection-color: #f79b8b;
$star-rating-normal-color: #ccc;

/* background color */
$row-bg: #e7e7e8;
$row-bg1: #f1f1f1;

/* text color */
$t-color-white: #fefefe;
$t-color-yellow: #fdb701;
$t-color-black: #231f20;

/* background color*/
$bg-color-grey: #eaeaea;
$white: #ffffff;
$white-color: #ffffff;
$bg-color-yellow: #f0bd00;
$bg-color-white: #fefefe;
$bg-color-black: #373435;
$gray-bg: #eeefef;
$dark-black-color: #000;
$b4s-color-black: #000;
$b4s-purper-color: #a914a9;
$b4s-yellow-color: #f0bd00;
$b4s-gray-color: #737373;
$b4s-link-gray-color: #5d5d5d;
$b4s-link-white-color: #fff;
$b4s-light-black-color: #484848;
$b4s-breadcrumb-color: #939393;
$b4s-border-color: #e9e9e9;
$t-color-black: #444444;
$t-color-white: #ffffff;
$sidebarBg-color: #f4f3f4;
$home-gray: #f1f1f1;
$home-yellow: #f1c40f;
$home-black: #202020;
$t-color-black: #231f20;
$red-color: #e5260e;
$gray-color: #f6f7f8;

/* RGB Alpha Backgraund */
$bg-rga-alpha-color-yellow: rgba(253, 183, 1, 0.7);

/* Form Elements background*/
$serch-input-bg: rgba(255, 255, 255, 0.8);
$serch-input-button-bg: #e52c0e;

/* footer color*/
$footer-vf-bg: #141414;
