.middleComponent {
  display: table;
  width: 100%;
  p {
    @extend .static-subheading;
  }
}

.default-banner-property {
  height: 358px;
  /*background-size: contain;
   margin-top:-10px; */
  width: 100%;
  background-size: cover; // background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.home-banner-property {
  height: 790px;
  background-size: contain;
  /*  margin-top:-10px; */
  width: 100%;
  /*  background-attachment: fixed; */
  background-repeat: no-repeat;
  text-align: center;
}

.transitionEle {
  @include transition(all, 1s, ease);
}

.transitionEle1 {
  @include transition(all, 1s, ease);
}

.static-heading {
  color: #fefefe;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.8;
  margin: 60px auto 0;
  float: none;
  text-transform: uppercase;
  padding: 0 15px;
}
@media screen and (max-width: 885px) {
  .static-heading {
    font-size: 34px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px) {
  .static-heading {
    font-size: 28px;
  }
}

.static-subheading {
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  text-align: center;
  line-height: 1.8;
  float: none;
  padding: 0;
  margin: 0 100px;
}

.icon-heading {
  color: #000;
  position: relative;
  text-align: center;
  padding-top: 110px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
}

.icon-headingbefore {
  content: "";
  display: block;
  width: 100px;
  height: 75px;
  margin-left: -53px;
  position: absolute;
  left: 50%;
  top: 30px;
}

.addresscontent {
  position: $pos-absolute;
  content: "";
  width: 22px;
  height: 22px;
  margin-left: -50px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* dashboard */
.tab-border {
  .form-group,
  .form-group.textAreaCrtl {
    /* margin-bottom: 15px; */
    position: $pos-relative;
    dd.error,
    span.error {
      position: $pos-absolute;
      right: 0;
      color: $red-color;
      @include font-size(12px);
      bottom: 73px;
      background-color: $white-color;
      padding: 10px;
      width: auto;
      border-radius: 5px;
      -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    }
    dd.error,
    span.error:after {
      content: "";
      position: $pos-absolute;
      bottom: -6px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      margin-left: -5px;
    }
    .form-control.two-col-ctrl {
      float: $text-align-left;
      width: 47.9%;
    }
    .form-control.two-col-ctrl.first-ele {
      margin-right: 15px;
    }
  }

  .form-group.textAreaCrtl {
    dd.error,
    span.error {
      bottom: 126px;
    }
  }
  .btn-ctrl.threeBtn {
    button:nth-child(2) {
      margin-left: 15px;
    }
  }
  @media screen and (max-width: 384px) {
    .btn-ctrl.threeBtn {
      button:nth-child(1),
      button:nth-child(2) {
        width: 47%;
      }
      button:nth-child(2) {
        margin-left: 6%;
      }
      button:nth-child(3) {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}
