/* Scss Document */

/* font  */

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

/* text-align */

$text-align-left: left;
$text-align-right: right;
$text-align-center: center;
$text-align-justify: justify;

/* text-decoration */

$text-decoration-none: none;
$text-decoration-underline: underline;

/* text-transform */

$text-transform-none: none;
$text-transform-capitalize: capitalize;
$text-transform-uppercase: uppercase;
$text-transform-lowercase: lowercase;

/* default font size */
$default-fontsize: 62.5%;
/* anchor size*/

$ancher-link-whiteColor: #ffffff;
$ancher-link-black-color: #000000;
$ancher-link-font-size-22: 22px;
$ancher-link-font-size-16: 16px;
$ancher-link-font-size-14: 14px;
