/* margin declaration*/

/* padding declaration*/

@mixin padding($padding...) {
  padding: $padding;
}

@mixin margin($margin...) {
  margin: $margin;
}

/* Transition Effect */

@mixin transition($propertyName, $intervel, $effect) {
  -webkit-transition: $propertyName $intervel $effect;
  -moz-transition: $propertyName $intervel $effect;
  -o-transition: $propertyName $intervel $effect;
  transition: $propertyName $intervel $effect;
}

/* width declaration*/

@mixin width($width) {
  width: $width;
}

/* height declaration*/

@mixin height($height) {
  height: $height;
}

/* min-height declaration*/

@mixin min-height($min-height) {
  min-height: $min-height !important;
}

/* width declaration*/

@mixin width($width) {
  width: $width;
}

/* font-size declaration*/

@mixin font-size($size) {
  font-size: $size;
}

/* ellipsis text */

@mixin ellipsis-text($ellipsis) {
  -webkit-text-overflow: $ellipsis;
  -moz-text-overflow: $ellipsis;
  -o-text-overflow: $ellipsis;
  text-overflow: $ellipsis;
}

/* Start Icon Size */

@mixin iconsize($width, $height) {
  width: $width;
  height: $height;
  display: inline-block;
}

@mixin linx($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin userSelect($userSelect) {
  -webkit-user-select: $userSelect;
  -moz-user-select: $userSelect;
  -o-user-select: $userSelect;
  -ms-user-select: $userSelect;
  user-select: $userSelect;
}

/* Home page Color theme Mixin */

@mixin bg-color($color-value) {
  background: $color-value;
}

@mixin text-color($color-value) {
  color: $color-value;
}

/* font-color*/

@mixin color($color) {
  color: $color;
}

/* Line Height*/

@mixin line-height($line-height) {
  line-height: $line-height;
}
