/* Scss Document */

/* position Property */
$pos-static: static;
$pos-relative: relative;
$pos-fixed: fixed;
$pos-absolute: absolute;

/* margin Property */
$margin-top: 0;
$margin-right: 0;
$margin-bottom: 0;
$margin-left: 0;
$margin-all: 0;

/* padding Property */
$padding-top: 0;
$padding-right: 0;
$padding-bottom: 0;
$padding-left: 0;
$padding-all: 0;

/*float Property*/
$float-L: left;
$float-R: right;

/*display Property*/
$display-Inline: inline;
$display-block: block;
$display-inline-block: inline-block;
$display-none: none;
