/* Base Url Path for images*/

$img-base-url: "https://s3-ap-southeast-1.amazonaws.com/buddy4study/static/images/" !default;
$img-base-url-dev: "http://img.b4s.in/static/images/" !default;
/* Mobile Icon Variable */

$mobile-nav-icon-rotation-0: 0;
$mobile-nav-icon-rotation-45: 45;
$mobile-nav-icon-rotation--45: -45;
/* font family */

$font-family-Lato: Lato, sans-serif !default;
$font-family-Ubuntu: "Ubuntu" !default;
/* default font size */

$default-fontsize: 62.5%;
/* font weight */

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
/* Ancher Link font size */

$ancher-link-font-size-22: 22px;
$ancher-link-font-size-16: 16px;
$ancher-link-font-size-14: 14px;
/* Element Alignment */

$element-left-align: left;
$element-right-align: right;
$element-center-align: center;
/* Sticky header */

$sticky-header-height: 56px;
$sticky-header-bg: rgba(51, 51, 51, 0.7);
$container-fullwidth: 100%;
/* Elements Position */

$position-fixed: fixed;
$position-relative: relative;
$position-absolute: absolute;
$icon-padding-right: 23px;
$button-font-size: 26px;
$center-search-container: 0 auto;
$bg-size: cover;
$row-height-665: 665px;
$row-height-608: 608px;
$row-height-530: 530px;
$row-height-305: 305px;
$row-height-369: 369px;
$row-height-306: 306px;
$row-height-260: 260px;
$row-height-185: 185px;
/* Navigation Dropdown Width */

$ul-width-290: 290px;
/* Sidebar Section */

$heading-font-size-26: 26px;
/* Start Variables */

$b4s-font-size-24: 24px;
$b4s-font-size-22: 22px;
$b4s-font-size-16: 16px;
$b4s-font-size-14: 14px;
$b4s-font-size-12: 12px;
$b4s-font-size-11: 11px;
$b4s-font-size-10: 10px;
$b4s-font-weight-700: 700;
$b4s-font-weight-600: 600;
$b4s-font-weight-500: 500;
$b4s-font-weight-400: 400;
$black-color: #000;
$green-color: #17a2b8;
$red-info-color: #dc3545;
