header {
  background-color: transparent;
}

.bggreay {
  ul {
    margin-bottom: 0;
    li {
      position: relative;
      margin-right: 20px;
      display: inline-block;
      padding-top: 0;
      a {
        color: #2b292b;
        font-weight: 600;
        font-weight: normal;
      }
    }
    li:after {
      content: "";
      position: $position-absolute;
      top: 4px;
      right: -15px;
      width: 11px;
      height: 10px;
      background: url(#{$img-base-url}sprite-icon-details.png) no-repeat -11px -227px;
      display: block;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      a {
        color: #919191;
        pointer-events: none;
      }
    }
    li:last-child:after {
      display: none;
    }
  }
}

.careers {
  position: relative;
  z-index: 1;
  /* top: -80px; */
  margin-bottom: 72px;
  .bggreay {   
    position: relative;
    top: -5px;
  }
  .careerdetails{
    h1{
      margin-top:30px;
      font-weight: 600;
      margin-bottom:45px;
    }
  }
  .bgcareers {
    background-image: $career-top-banner;
    @extend .default-banner-property;
    background-position: 51% 100%;
    text-align: center;
    top: -5px;
    position: relative;
    h1 {
      @extend .static-heading;
      span {
        color: #fdb701;
      }
    }
    h2 {
      @extend .static-subheading;
    }
    a {
      color: #ffffff;
    }
    @media screen and (max-width: 767px) {
      .careerscontentWrapper {
        span {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 464px) {
    .bgcareers {
      h1,
      .careerscontentWrapper {
        float: left;
        text-align: center;
        width: 100%;
        margin: 0;
      }
    }
  }
  h1,
  h4 {
    text-align: center;
    font-size: 30px;
    @include margin(75px 0 50px);
  }
  h4 {
    @include margin(20px 0);
  }
  .section1 {
    @include margin(0 0 30px);
    p {
      color: rgb(35, 31, 32);
      font-size: 16px;
      margin-top: -10px;
      line-height: 1.9;
      text-align: justify;
    }
    .b4sgroup {
      @include margin(10px 0 0);
    }
    .format {
      margin-right: -47px;
    }
  }
  .section2 {
    @include margin(0);
    hr {
      border-top: 2px dashed #8c8b8b;
      @include margin(70px 0 50px);
    }
    h5 {
      text-align: center;
      font-size: 22px;
      @include margin(0);
    }
    p {
      font-size: 18px;
      line-height: 28px;
      color: #231f20;
      font-weight: 400;
      @include margin(20px 0);
      text-align: center;
    }
    p.topPara{
      margin-bottom: 60px;
    }
    img {
      display: block;
      margin: 0 auto 20px;
    }
    .btn {
      font-size: 16px;
      @include margin(10px 0 0);
    }
  }
  .how-it-work {
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      .col-sm-6 {
        width: 50%;
        float: left;
        margin-bottom: 60px;
      }
    }
    @media screen and (max-width: 400px) {
      .col-sm-6 {
        width: 100%;
        float: left;
        margin-bottom: 60px;
      }
    }
    .single-work {
      margin: 0 0 50px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
      i {
        width: 132px;
        height: 100px;
        display: inline-block;
        margin: 0 auto;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        img {
          margin: 0;
        }
        img:hover {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }
      h4 {
        color: #202020;
        @include font-size(22px);
        font-weight: 500;
        float: $text-align-left;
        width: 100%;
        margin-bottom: 0;
      }
      p {
        color: #666666;
        font-weight: 300;
        line-height: 22px;
        padding: 0 10px;
        float: $text-align-left;
        width: 100%;
        margin: initial;
      }
    }
  }
}

.career {
  @include margin(80px 0 0 0);
  h1 {
    font-size: 18px !important;
  }
  .career-heading {
    h1 {
      font-size: 22px !important;
      color: #1a1a18;
      margin: 30px 0 50px;
      .title {
        text-align: center;
        font-size: 22px !important;
        color: #1a1a18;
        margin-top: 50px;
        margin-bottom: 50px;
        text-transform: uppercase;
      }
    }
    h1:before {
      content: "";
      background: url(#{$img-base-url}career-icon.png) no-repeat 0 0;
      display: block;
      width: 57px;
      height: 47px;
      margin-left: -29px;
      position: absolute;
      top: -35px;
      left: 50%;
    }
    p {
      margin: 30px 0;
    }
  }
  .careerlist {
    ul {
      margin-left: 40%;
    }
    li {
      line-height: 43px;
    }
  }
  .table-responsive {
    width: 100%;
    @include margin(0 auto 40px);
  }
  .careerdetails {
    p{
      margin-bottom: 15px;      
    }
    strong {
      font-weight: bold;      
    }
    span {
      margin: 10px 0 0 0;
    }
    .no-margin {
      margin: 0;
    }
    h2 {
      margin: 35px 0 10px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      clear: both;
    }
    ul li {
      line-height: 30px;
      font-size: 14px;
      list-style-type: disc;
      margin-left: 30px;
    }
    .key {
      margin-bottom: 45px;
      margin-left: -15px; 
      float: left;     
    }
  }
}
