.popup.careerPopupNew {
  background-color: red;
  .popupsms {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
  }
  .popupsms.overLay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 99999;
  }
  .subscribe_inner {
    position: absolute;
    width: 400px;
    height: 598px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -299px;
    background: transparent;
    border: 0px solid #f2f2f2;
    border-radius: 0;
    @media screen and (max-width: 480px) {
      width: 96%;
      height: 240px;
      margin-left: -48%;
    }
    .modal.modelAuthPopup1 {
      .modelBg {
        background: transparent;
        background: #ffffff; // margin-top: -24px;
        border: 2px solid #fff;
        border-radius: 0;

        .modal-header {
          padding: 10px 15px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          background-color: transparent;
          border-bottom: 0;
          height: 0;
          .modal-title {
            padding: 5px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin-top: 0px;
          }
          .close.btnPos{
            border-radius: 50%;
            width: 19px;
            height: 19px;
            border: 1px solid #1f1f1f;
            right: 11px;
            top: 11px;
            i{
              font-size: 25px;
              color: #1f1f1f;
              width: 17px;
              height: 17px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              position: relative;
              top: -2px;
              left: 1px;
            }
          }
        }
        .modal-body {
          margin: 15px 30px 30px;
          h3 {
            font-size: 21px;
            line-height: 1.3;
            color: #fdb701;
            font-weight: 400;
            margin: 0 0 30px 0;
            text-align: center;
          }
          .formelemt {
            margin:0;
            padding:0;
            .ctrl-wrapper {
              float: left;
              width: 100%;
              position: relative;
              margin-bottom: 30px;
              .form-group {
                margin:0;
                padding:0;
                float: left;
                width: 100%;
                /* Error message */
                .error{
                  width: auto;
                  position: absolute;
                  left: initial;
                  top: initial;
                  bottom: 28px;
                  float: right;
                  box-shadow: none;
                  margin: 0;
                  border: 0;
                  padding: 0;
                }
                input,
                textarea {
                  margin-bottom: 20px;
                  float: left;
                  width: 100%;
                  position: relative;
                  border-radius: 8px;
                  border:1px solid #bbbbbb;
                  margin-bottom:29px;                  
                }
                input{
                  height:40px;
                } 
                label[for="docFile"]{
                  margin: 0;
                  padding: 0;
                  position: relative;
                  border: 1px solid #fdb701;
                  border-radius: 30px;
                  height: 35px;
                  line-height: 35px;
                  width: 180px;
                  float: left;
                  span{
                    top: 0;
                    left: 0;
                    width: 100%;
                    position: absolute;
                    background: #fff;
                    z-index: 2;
                    height: 33px;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 400
                  }
                  input{
                    opacity: 0;
                    height: 35px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    user-select: none;
                    z-index: 1;
                  }                  
                } 
                label[for="docFile"] + p{
                  font-size: 14px;
                  color: #166000;
                  float: left;
                  margin: 9px 0 0 7.5px;
                  i{
                    font-weight: 600;
                    font-style: normal;
                  }
                }              
              }
              .error1 {
                font-size: 10px;
                text-align: left;
                position: absolute;
                padding: 5px 0;
                letter-spacing: 0;
                color: #f00;
                left: 0;
                bottom: -53px;
              }
            }
            .btn-wrapper{
              margin: 0 ;
              padding:0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              button[type="submit"]{
                display: flex;
                width:128px;
                height:39px;
                background: #fdb701;
                justify-content: center;
                color:#fff;
                border:0;
                border-radius: 30px;
              }
            }
          }
        }
      }
    }
  }  
}

::-webkit-input-placeholder { /* Edge */
  color: #858585;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #858585;
}

::placeholder {
  color: #858585;
}
