.careers {
  position: relative;
  z-index: 1;

  .banner {
    float: left;
    width: 100%;
    margin-top: 81px;
    img {
      width: 100%;
    }
    .slick-next,
    .slick-prev {
      cursor: default;
      display: none !important;
    }
    .slick-prev:before {
      display: none;
    }
    /* Dots */
    .slick-dotted.slick-slider {
      margin-bottom: 30px;
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 0;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
    }
    .slick-dots li {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 14px;
      height: 14px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {
      outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
      opacity: 1;
    }
    .slick-dots li button:before {
      font-family: "slick";
      font-size: 6px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      content: "•";
      text-align: center;
      font-size: 50px;
      opacity: 1;
      color: rgb(83, 83, 83);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #fdb701;
    }
    .slick-slider {
      padding: 0;
      line-height: 8px;
    }
    .slick-arrow {
      display: none;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .tabCarrer {
    display: flex;
    width: 100%;
    position: $position-relative;
    flex-wrap: wrap;
    background: #fff;
    height: 50px;
    .button-wrapper {
      display: flex;
      height: 50px;
      .button {
        padding: 9px 15px;
        height: 100%;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-weight: 600;
        &:first-child{
          margin-right: 1px;
        }
        /* @media screen and (max-width:411px){
          &:first-child{
            margin-right: 1px;
          }
        } */
        &:hover {
          background: $bg-color-yellow;
          color:#fff;
        }
      } 
      @media screen and (max-width:411px){
        .button{
          flex: 1;
          justify-content: center;          
        }
      }
      @media screen and (max-width:338px){
        .button{
          padding: 9px 7.5px;          
        }
      }
      .button.active{
        background: $bg-color-yellow;
        color:#fff;
      }     
    }
  }
  @media screen and (max-width:411px){
    .tabCarrer {
      padding:0;
      .col-md-12, .col-sm-12{
        padding-left:0;
        padding-right:0;
      }
    }
  }

  .culture {
    display: flex;
    width: 100%;
    position: $position-relative;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 30px 0;    
    .culturecard{
      .activity {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        h5 {
          font-size: 20px;
          line-height: 1.3;
          color: #fdb701;
          font-weight: 400;
          margin: 0 0 15px 0;
          text-transform: uppercase;
          text-align: left;
          letter-spacing: 0;
        }
        .img-wrapper{
          margin:0 0 15px;
          padding:0;
          display: block;
          width:100%;
          img {
            width: 100%;
            display: block;
            max-width: 540px;
          }
        } 
        p{
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
        }       
      }
      .bottom-margin{
        margin-bottom:30px;
      }
      @media screen and (max-width:991px){
        .col-md-6{
          width:50%;
          float:left;
        }
      }
      @media screen and (max-width:598px){
        .col-md-6{
          width:100%;
          float:left;
        }
      }
    }
  }
  .listwork {
    display: flex;
    width: 100%;
    position: $position-relative;
    flex-wrap: wrap;
    background: #f7eecb;
    padding: 60px 0;
    h2 {
      font-size: 24px;
      line-height: 1.3;
      color: $t-color-black;
      font-weight: 600;
      margin: 0 0 45px 0;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      &::before{
        content: "";
          height: 3px;
          width: 70px;
          background: #f0bd00;
          position: absolute;
          left: 50%;
          bottom: -16px;
          margin-left: -35px;
      }     
    }
    .card-box{
      background: #fff;
      padding: 30px 15px;
      margin: 0;
      .listCart{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-bottom: 22.5px;
        h4,
        p {
          width: 100%;
          color: $t-color-black;
          @include line-height(1.3);
        }
        h4 {
          @include font-size(16px);
          font-weight: 600;
          margin: 0 0 7.5px 0;
        }
        p {
          @include font-size(16px);
        }
      }
    }
    @media screen and (max-width:580px){
      .card-box{
        padding: 30px 0;
      }
    }
    
  .box {
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 30px;
    color: #7d7d7d;
    text-align: center;
    margin-bottom: 30px;
    height: 395px;
    border-radius: 14px;
    @media screen and (max-width:1190px){
      height: 480px;
    }
    @media screen and (max-width:991px){
      height: auto;
    }

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border: 2px solid #f0bd00;
      background-color: #000;
      color:#fff;     
      h5{
        color: #fff;
      } 
    }
    i{
      font-size: 40px;
      color: #f0bd00;
    }

    h5 {
      line-height: 20px;
      text-align: center;    
      font-size: 16px;
      color: $t-color-black;
      font-weight: 600;
      float: left;
      width: 100%;
      position: relative;
      padding: 20px 0 0;
      margin-bottom: 20px;
 }

    p {
      font-size: 16px;
      line-height: 26px;
    }
   
  }
  }
  /* template*/
  .listCareers {
    display: flex;
    width: 100%;
    position: $position-relative;
    flex-wrap: wrap;
    background-color: #fff;
    padding-top:60px;

    h2 {
      @include font-size(24px);
      @include line-height(1.3);
      color: $t-color-black;
      font-weight: 600;
      margin: 0 0 30px 0;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      &::before{
        content: "";
          height: 3px;
          width: 70px;
          background: #f0bd00;
          position: absolute;
          left: 50%;
          bottom: -16px;
          margin-left: -35px;
      }
    }
    h4 {
      @include font-size(22px);
      @include line-height(1.3);
      color: $t-color-black;
      font-weight: 600;
      margin: 0 0 15px 0;
      text-transform: capitalize;
      text-align: left;
    }    
    .careerCart {
      display: flex;
      background: #fefbf1;
      border: 1px solid #ecbb00;
      flex-wrap: wrap;
      @include padding(15px);
      @include margin(0 0 15px 0);
      h3 {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        margin: 0 0 15px 0;
      }
      @media screen and (max-width:1190px){
        h3{
          font-size:14px;
          height: 33px;
        }
      }
      @media screen and (max-width:1080px){
        h3{
          font-size:15px;
        }
      }
      @media screen and (max-width:991px){
        h3{
          font-size:14px;
          height: 33px;
        }
      }
      @media screen and (max-width:767px){
        h3{
          font-size:16px;
        }
      }
      @media screen and (max-width:580px){
        h3{
          font-size:18px;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
        li {
          width: 25%;
            font-weight: 400;
            font-size: 14px;
           @include padding(0 30px 0 0);
          span {
            display: flex;
            font-weight: 600;
            width:100%;
            margin-top: 3.5px;            
          }
          span.qualification{
            height: 35px;
          }
        }
      
        li:nth-child(5) {
          width: 100%;
        }
        @media screen and (max-width:991px){
          li{
            width: 50%;         
            font-size: 13px;
            @include margin(0 0 10px 0);
            @include padding(0);
          }
          li:nth-child(3) {
            width: 100%;
          }
          li:nth-child(5) {
            width: 50%;
          }
        }
      }

      a {
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        flex-wrap: wrap;
        color: #fdb701;
        font-size: 16px;
        position: relative;
        padding: 0 15px 0 0;
        font-weight: 300;
        &:before {
          content: "\F101";
          position: absolute;
          top: 1px;
          right: 0;
          display: inline-block;
          font: normal normal normal 12px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-size: 19px;
          font-weight: 400;
        }
      }
    
    }
    .carrerCartDetails {
      display: flex;
      background: #fefbf1;
      border: 1px solid #ecbb00;
      flex-wrap: wrap;
      @include padding(15px);
      @include margin(0 0 30px 0);
      h3 {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        margin: 0 0 15px 0;
        display: flex;
        align-items: center;
        .spacer{
          flex: 1;
        }
        button {
          width: auto;
          order: 2;
          background: #fdb701;
          border: 1px solid #fdb701;
          font-size: 16px;
          height: 35px;
          text-align: center;
          color: #fff;
          font-weight: 400;
          padding: 5px 30px;
          border-radius: 30px;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
        @media screen and (max-width:411px){
          button{
            float:left;
            clear:left;
            margin-top:15px;
          }
        }
      }
      @media screen and (max-width:411px){
        h3{
          display: block;
        }
      }
      .list {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        ul {
          display: flex;
          width: 100%;
          li {
            width: 105px;            
            font-size: 14px;
            @include margin(0 15px 0 0);
            span {
              display: flex;
              font-weight: 600;
              width:100%;
              margin-top: 3.5px;
            }
            &:last-child{
              width: 100%;
              flex: 1;
              margin-right:0;
            }
          }
          @media screen and (max-width:718px){
            li{
              width: 30.3%;
              float: left;
              margin-bottom: 15px;
              &:nth-child(3){                
                margin-right:0;
              }
              &:last-child{
                width: 100%;
                flex: auto;
                margin-right:0;
              }
            }
          }
          @media screen and (max-width:411px){
            li{
              width: 100%;
              float: left;
              margin-bottom: 15px;
              margin-right:0;              
              &:last-child{
                width: 100%;
                flex: auto;
                margin-right:0;
              }
            }
          }
        }
        @media screen and (max-width:718px){
          ul{
            display: block;
            flex-wrap: initial;
          }
        }
      }
      .htmlData{
        margin:0;
        padding:0;
        p{
          margin:0;
          padding:0;
          p{
            line-height: 1.6;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px;
            &:first-child{
              line-height: normal;
              margin-bottom: 7.5px;
            }
          }
        }
        a {
          display: flex;
          flex-flow: row-reverse;
          width: 100%;
          flex-wrap: wrap;
          color: #fdb701;
          font-size: 16px;
          position: relative;
          padding: 0 15px;
          font-weight: 300;
          &:before {
            content: "\F101";
            position: absolute;
            top: 1px;
            right: 0;
            display: inline-block;
            font: normal normal normal 12px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 19px;
            font-weight: 400;
          }
        }
      }
    }
    @media screen and (max-width:853px){
      .col-sm-4{
        width:50%;
      }
    }
    @media screen and (max-width:767px){
      .col-sm-4{
        float:left;
      }
    }
    @media screen and (max-width:580px){
      .col-sm-4{
        width:100%;
      }
    }
    @media screen and (max-width:580px){
      .col-sm-4, .col-md-4, .col-md-12{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .msg-button-wrapper{
    margin:0;
    padding:0 0 45px;
    background-color: #fff;
    .emailgp {
      display: flex;
      width: 100%;
      align-items: center;
      p {
        flex: 1;
        order: 1;
      }
      button {
        width: auto;
        order: 2;
        background: #fdb701;
        border: 1px solid #fdb701;
        display: inline-block;
        height: 46px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        padding: 12px 30px;
        border-radius: 30px;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
      }
      @media screen and (max-width:667px){
        p{
          width: 100%;
          margin-bottom: 15px;
          flex: auto;
          text-align: center;
        }
      }
    }
    @media screen and (max-width:667px){
      .emailgp {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
