@media screen and (max-width: 991px) {
  .careers {
    .career-heading {
      h1:before {
        top: -55px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .careers {
    .section1 {
      .format {
        margin: 0;
      }
    }
    .width100 {
      width: 100%;
    }
    .how-it-work {
      .single-work {
        float: none;
      }
    }
    .bgcareers {
      h1 {
        font-size: 25px;
      }
    }
    .careerdetails {
      span {
        display: block;
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .careers {
    .table-responsive {
      width: 100%;
    }
  }
}
